[2018-02-20 23:26] arrygoo commented on #1466
Hmm I'm having this issue, not finding a solution yet :(

[2018-02-21 00:55] CristiTr commented on #1571
The problem is unresolved on iOS in the Picker
 "native-base": "2.3.9",
 "react": "16.2.0",
 "react-native": "0.53.3",

[2018-02-21 03:52] tonilxm opened #1617 "## react-native, react and native-base version ## Expected behaviour ## Actual behaviour ## Steps to reproduce (code snippet or screenshot) ## Screenshot of emulator/device ## Is the bug present in both ios and android or in any one of them? ## Any other additional info which would help us debug the issue quicker."
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-02-21 05:56] #1617 closed

[2018-02-21 05:59] SupriyaKalghatgi commented on #1615
@Ayyagaries Thats not NativeBase issue
Run this command
`npm start -- --reset-cache`

[2018-02-21 06:01] SupriyaKalghatgi commented on #1616
@GuillotJessica Updated ReadMe

[2018-02-21 06:01] #1616 closed

[2018-02-21 08:44] akhil-geekyants commented on #1466
@arrygoo can you try brownieboy's [solution](https://github.com/GeekyAnts/NativeBase/issues/1466#issuecomment-353701808)

[2018-02-21 08:45] akhil-geekyants commented on #1571
@flindenberg @CristiTr this will be fixed in upcoming release

[2018-02-21 09:07] Tess-welhazi commented on #1052
@akhil-geekyants What i want is to change the tab color into matching the header, not coloring the page itself

![image](https://user-images.githubusercontent.com/20952652/36471476-db055ec2-16ee-11e8-9cca-0957c65e1eef.png)

how to change to tab heading color itself?
![image](https://user-images.githubusercontent.com/20952652/36471537-1066509e-16ef-11e8-94c8-c9eb4103acaa.png)

[2018-02-21 09:31] manish-appface commented on #739
What does it mean " wrap your topmost component inside <Root> from native-base".I am unable to do this . please give me sample code for toast.

[2018-02-21 09:49] akhil-geekyants commented on #739
@manish-appface See example for Actionsheet [here](http://docs.nativebase.io/Components.html#actionsheet-def-headref)

[2018-02-21 09:50] flindenberg commented on #1571
@akhil-geekyants, that's great news. Thank you.

[2018-02-21 10:17] manish-appface commented on #739
@akhil-geekyants  It helped.Thank you.

[2018-02-21 14:31] sulthanmamusa commented on #735
Great things, its working fine.

[2018-02-21 15:00] SrdjanCosicPrica opened #1618 "FAB children buttons don't use style from stylesheet"
## react-native, react and native-base version
[code]
## Expected behaviour
![simulator screen shot - iphone 5s - 2018-02-21 at 15 41 06](https://user-images.githubusercontent.com/15933115/36486717-7793dfe0-171f-11e8-933b-109942a2fbb0.png)

## Actual behaviour
![simulator screen shot - iphone 5s - 2018-02-21 at 15 42 22](https://user-images.githubusercontent.com/15933115/36486730-7d0815ae-171f-11e

[2018-02-21 18:26] rizwan92 opened #1619 "header background colour is not changing in android"
"react": "16.2.0",
    "react-native": "0.53.0",
    "react-navigation": "^1.0.3"

## Expected behaviour
 `  <Header backgroundColor="#2196F3"  androidStatusBarColor="#000000">`
header colour change to this  #2196F3 colour to its by default colour in android

## Actual behaviour
when i press ctrl + s by hot loading header colour changes to this  #2196F3 colour. but when i rebuilt my app by giving

[2018-02-21 22:16] sandeepsparity commented on #408
rm ./node_modules/react-native/local-cli/core/__fixtures__/files/package.json

react-native run-ios

[2018-02-22 01:47] sentry0 opened #1620 "Preload the next tab?"
Is there anyway to hook into the onChangeTab event of a tab to pre-render the *next* tab?

[2018-02-22 06:29] SupriyaKalghatgi commented on #1620
#1462

[2018-02-22 06:29] #1620 closed

[2018-02-22 06:31] SupriyaKalghatgi commented on #1620
You can get help from https://github.com/skv-headless/react-native-scrollable-tab-view

[2018-02-22 06:32] Knight1988 commented on #858
i used this approach and rows will be re-rendered

`let items = [...this.state.items];

        for(let i in items){
            items[i] = Object.assign({}, items[i], {
                _width: width
            });
        }

        this.setState({
            items: items
        });`

[2018-02-22 06:34] #1611 closed

[2018-02-22 06:34] SupriyaKalghatgi commented on #1600
@hjJunior Any more help needed here?

[2018-02-22 06:36] akhil-geekyants commented on #1579
Closing this issue due to no response

[2018-02-22 06:36] #1579 closed

[2018-02-22 06:51] akhil-geekyants commented on #1619
@rizwan92 as a workaround, you can specify the color in style prop of header.
[code]

[2018-02-22 07:26] akhil-geekyants commented on #1619
@rizwan92 `backgroundColor` prop of `<Header/>` will be removed. Use style instead.
This will be documented.

[2018-02-22 07:26] #1619 closed

[2018-02-22 07:26] SupriyaKalghatgi commented on #1619
https://github.com/GeekyAnts/native-base-docs/issues/81

[2018-02-22 13:59] ProteanDev commented on #789
Any progress on this, guys?

[2018-02-22 14:06] akhil-geekyants commented on #789
@ProteanDev can you check this with the latest version 2.3.9

[2018-02-22 15:20] jaimevelasquez commented on #22
base in your code, I think you miss this code to add
import { StyleSheet } from 'react-native';

[2018-02-22 17:14] ProteanDev commented on #789
@akhil-geekyants I tried, yeah this may Not be an issue with native-base but with react native's TextInput props.

[2018-02-22 18:16] mjmaix commented on #1599
I also got this problem using this code

[code]

but works without the `floatingLabel`

[2018-02-22 19:43] inanbayram commented on #1572
@dphaener  have you found a solution for that? The solution from @akhil-geekyants not working :/

[2018-02-22 23:26] dphaener commented on #1572
@inanbayram that solution worked perfectly for me. Sorry!

[2018-02-23 09:42] akhil-geekyants commented on #1599
@mjmaix using custom components will prevent the shoutem-theme from getting applied to the components. Please see https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Item.js

[2018-02-23 11:07] navibrar commented on #1535
<Item floatingLabel style={{ flexDirection: 'row-reverse' }}>
                            <Label>Password</Label>
                            <Input/>
                            <Icon name="close-circle" />
                        </Item>

[2018-02-23 17:21] ekimlinger opened #1624 "Unable to customize spinner color via theme"
## react-native, react and native-base version
[code]
## Expected behaviour
`color` should be a style prop that we should be able to pass in after injecting, from our `native-base-theme/components/Spinner.js` file.
## Actual behaviour
`Warning: Failed prop type: Invalid props.style key 'color' supplied to 'Spinner'.`
## Steps to reproduce (code snippet or screenshot)
Spinner.js:
[code]
## Is the b

[2018-02-23 20:13] hjJunior commented on #1600
I think its okay ;) thanks again

[2018-02-23 20:13] #1600 closed

[2018-02-23 23:07] eedsilva commented on #591
I am on 2.3.8 and **getRef** also works for me.

[2018-02-24 05:01] itcurves opened #1625 "round tabbar button"
Hi I already check an existing case but did not help me. also did not get any reply, that is why creating new case and referencing my comment.

https://github.com/GeekyAnts/NativeBase/issues/1260#issuecomment-366543713

Please provide me any help possible.

Thank you

[2018-02-24 18:53] vasilgramov opened #1626 "Input type email"
Hei guys,
I could not find any specific property for Input to make it behave like email. Is there any?

[2018-02-25 07:55] AgNm opened #1627 "First tab showing extra space if second tab has large list data"
## react-native, react and native-base version

react-native-cli: 2.0.1
react-native: 0.52.2
"native-base": "^2.3.5"

## Expected behaviour

Screen should scroll only till last item in tab

## Actual behaviour

First tab showing extra space at the end if second tab has large list data, It scrolls until second tab data ends

## Steps to reproduce (code snippet or screenshot)

Add less list items in

[2018-02-25 09:49] Arshiamidos opened #1628 "How set Drawer open from right ?"
thnak for your greate jobs
and my question is how change direction of  drawer and where i can find drawer props?

[2018-02-25 09:59] IsracardTeam commented on #836
@azat-co  I have wrapped my Root with NativeBase root, but the issue still exists (sometimes), using the latest version of NativeBase

[2018-02-25 10:03] tkreis opened #1629 "Error in Typescript of SwipeRow definition"
It seems like the  exported Typescript definition of SwipeRow is missing the body in it's definition:
https://github.com/GeekyAnts/NativeBase/blob/master/index.d.ts#L756
https://docs.nativebase.io/Components.html#swipeable-single-def-headref

[2018-02-25 10:05] tkreis commented on #1628
You can find the props here: https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Drawer/index.js and here https://github.com/root-two/react-native-drawer.

[2018-02-25 10:58] Arshiamidos opened #1631 "close Drawer from inside of sidebar menu (closeButton)"
i have X button like in my sidebarmenu and how access to call function closeDrawer of Drawer menu?
thanks

[2018-02-25 12:09] xemasiv opened #1632 "Can't use Feather icons, it got removed? Lol"
Feather is imported @ https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/IconNB.js#L8

But then there isn't

[code]

Which is supposed to be existing, as added in https://github.com/GeekyAnts/NativeBase/pull/1383

[2018-02-25 20:40] cklinx commented on #1206
+1 Same problem

[2018-02-26 06:01] SupriyaKalghatgi commented on #1626
@vasilgramov NativeBase provides UI elements. You can go ahead adding functionality as per your requirement

[2018-02-26 06:01] #1626 closed

[2018-02-26 06:06] SupriyaKalghatgi commented on #1627
@AgNm Share code snippet for this, along with GIF of the behavior

[2018-02-26 06:07] #1628 closed

[2018-02-26 06:08] SupriyaKalghatgi commented on #836
Follow Docs for help, it works

[2018-02-26 06:16] #1632 closed

[2018-02-26 06:16] SupriyaKalghatgi commented on #1632
Fixed on `master`

[2018-02-26 06:26] akhil-geekyants commented on #1624
@ekimlinger you can set the default spinner color using `defaultSpinnerColor` variable in native-base-theme/variables/*.js. See Gif

Gif

![spinner](https://user-images.githubusercontent.com/27768184/36655983-0465b5b8-1aec-11e8-8f07-aa07f254ae33.gif)

[2018-02-26 06:49] Arshiamidos commented on #583
{
    headerMode: 'none' ,
    drawerPosition: 'right',
    contentComponent: props => <Drawer {...props}
    />
}

[2018-02-26 06:56] akhil-geekyants commented on #1631
@Arshiamidos you can close the drawer by passing closeDrawer function as a prop to the drawer component and call the function from inside the Drawer component.

Gif

![closedrawer](https://user-images.githubusercontent.com/27768184/36656846-204dc910-1af0-11e8-943b-b214ec1af170.gif)

[2018-02-26 07:12] #1631 closed

[2018-02-26 07:29] indrawanadjie commented on #349
@maotora still confuse with radio box, can help me using some example? Thanks

[2018-02-26 08:37] akhil-geekyants commented on #1260
@itcurves for android try something similar to this.

Code

[code]

Gif

![footerbutton](https://user-images.githubusercontent.com/27768184/36660431-1fc766fa-1afe-11e8-80bd-02587c513758.gif)

[2018-02-26 08:40] akhil-geekyants commented on #1625
@itcurves see comment https://github.com/GeekyAnts/NativeBase/issues/1260#issuecomment-368426565

Closing this issue.

[2018-02-26 08:40] #1625 closed

[2018-02-26 16:52] ekimlinger commented on #1624
My apologies @akhil-geekyants, I neglected to mention that I have already set the `defaultSpinnerColor` in my app's theme.
This request is for the ability to customize the spinner based on a class name or dynamic styles. If the underlying react-native component uses color as a style property, we should be destructuring that off the `style` that is given to us by `connectStyle` and then forwarding

[2018-02-27 00:02] sOm2y commented on #1010
same problem with version 2.3.9

[2018-02-27 11:58] TeraouiAhmed commented on #1240
Thank you so much

[2018-02-27 14:05] jamesholcomb opened #1636 "Android: Tabs index behavior with flex: 0"
I have a scene that utilizes Tabs to filter FlatList rows based on current tab index.  The FlatList is outside (below) the Tabs.  This avoids unnecessarily re-rendering the FlatList when tapping different headings.

To achieve this, I add `<Tabs style: {{ flex: 0 }}`.  It works fine on iOS, but on Android the tab underline is always one behind the previously tapped index.  Double tapping a tab wor

[2018-02-27 20:08] averypfeiffer commented on #676
+1 would love a solution

[2018-02-27 22:34] hugofelp opened #1637 "fontVariant (array of enum) not supported from theme files"
## react-native, react and native-base version
RN 0.53.3
NB 2.3.9

## Expected behaviour
text is rendered with intended styles

## Actual behaviour
Application throws an exception

## Steps to reproduce (code snippet or screenshot)
Provide an array as value to fontVariant property in any theme file. Example:

[code]

## Screenshot of emulator/device
![screen shot 2018-02-28 at 11 26 12 am](https:/

[2018-02-27 22:52] ferprez commented on #1206
+1

[2018-02-27 23:20] yusmarcastro commented on #1320
@virus2016 I have the same problem you have with android, exactly the same I didn't reject anything.

package.json
"react-native": "0.53.0",
"react": "16.2.0",
"native-base": "2.3.8"

Which was the final solution for this??? @akhil-geekyants Please help me!!

pd: if I remove "last" attribute from the right button visually it goes better but I'm pretty sure this is not the right way to fix it. The

[2018-02-28 01:03] priyarg commented on #357
is it possible to add differnt sounds onswiperight and onswipeleft of card and onload of card

[2018-02-28 07:09] RyanRong opened #1638 "floating label overlapping value in the release mode"
Hi,

I'm using floating label on a simple input. When I pass value to this component, it's overlapping in the release mode, but  in the debug mode Work well.

<Form style={{marginTop:50}}>

                        <Item floatingLabel last>
                            <Label>请输入您的用户名／手机号</Label>
                            <Input keyboardType={"email-address"}
                                   val

[2018-02-28 08:39] xemasiv commented on #1632
@SupriyaKalghatgi thanks for the update.

The following part got missed btw (I forgot to mention it, my bad lol)

[code]

[2018-02-28 08:54] amalantony commented on #1142
@shivrajkumar: The documentation says that `backgroundColor` is a property of header: http://docs.nativebase.io/Components.html#header-def-headref

[2018-02-28 09:18] akhil-geekyants commented on #1320
@yusmarcastro checked this again. Can you post your code.

Code

[code]
Gif

![segment](https://user-images.githubusercontent.com/27768184/36779513-3fd9a162-1c96-11e8-9946-6b4420b523ea.gif)

[2018-02-28 09:28] SupriyaKalghatgi commented on #1142
@amalantony #1619

[2018-02-28 10:01] akhil-geekyants commented on #1638
related to issue #627

[2018-02-28 10:01] #1638 closed

[2018-02-28 10:02] XuanPH opened #1639 "After eject theme to customize my theme App run very slow."
Hi! After eject theme to customize my theme App run very slow(debug - release). And turn on debug mode app working fine.

## "react": "16.0.0", "react-native": "0.51.0", "native-base": "^2.3.5",
## Screenshot of emulator/device
<img width="600" alt="screen shot 2018-02-28 at 5 00 15 pm" src="https://user-images.githubusercontent.com/26076388/36781659-152a41ca-1ca9-11e8-9611-777ee6e44249.png">
App

[2018-02-28 10:08] SupriyaKalghatgi commented on #1639
#1012

[2018-02-28 10:08] #1639 closed

[2018-02-28 12:43] basir commented on #518
+1

[2018-02-28 13:30] ppozniak commented on #1599
Sorry @akhil-geekyants but I don't get why tag "awaiting response" was set.

[2018-02-28 14:50] yusmarcastro commented on #1320
@akhil-geekyants Here my code:

<Header style={{ backgroundColor: '#0277BD' }} androidStatusBarColor='#0277BD'>
                    <Left>
                        <Button transparent={true} onPress={() => {}}>
                            <Icon name='menu' style={{ fontSize: FONT_SIZE, color: '#FFF'}}/>
                        </Button>
                    </Left>
                    <Body>

[2018-02-28 15:41] hoanglong85 commented on #64
My NativeBase
`"native-base": "^2.3.9",`
I see in `node_modules\native-base\src\basic\IconNB.js`
[code]
and i usage `<Icon type="FontAwesome" name="angle-right" />`  and this work for me.

[2018-02-28 16:03] XuanPH commented on #1012
Same issue on ios.
It's very slow When I build release on Iphone and Ipad.

[2018-02-28 16:04] hoanglong85 commented on #64
My NativeBase
`"native-base": "^2.3.9",`
I see in `node_modules/native-base/src/basic/IconNB.js`
[code]
and i usage `<Icon type="FontAwesome" name="calendar-plus-o" />` and this work for me

Thanks NativeBase!

[2018-02-28 16:14] rafaelgrilli92 opened #1640 "Icon type isn't working properly or the Icons are very out-to-date."
RN 0.51
NB 2.3.9

I'm just trying to add a "remove" Icon from FontAwesome and I'm getting this:

![image](https://user-images.githubusercontent.com/21044452/36798322-608ab9e2-1cfe-11e8-85c7-e0072837c6d8.png)

[code]

![image](https://user-images.githubusercontent.com/21044452/36798244-375cb3ae-1cfe-11e8-9dd2-a9154f66b2ac.png)

[2018-02-28 16:43] AshokICreate commented on #945
Make sure you have native-base installed.

npm install  native-base --save

[2018-02-28 17:02] harrie006 commented on #719
@obykoo thanks it worked for me.

[2018-02-28 17:52] waisbek commented on #1226
<Textarea /> works for me!

[2018-03-01 01:32] kale-stew opened #1641 "Broken link after running ejectTheme.js"
## react-native and native-base Versions

`react-native: 0.49.5`
`native-base: 2.3.9`

## Expected Behaviour vs Actual Behaviour

When ejecting the native-base theme, the link inside of the terminal prompt to "check out the docs" opens to a 404.

## Steps to Reproduce

1. run `node node_modules/native-base/ejectTheme.js`
2. click on the link in your terminal
3. this opens a 404 page on docs.native

[2018-03-01 02:28] arrygoo commented on #1466
For me it turned out to be a completely unrelated issue. In fact, a lot of time when my expo app throws an error, it shows the error above. Once I fix the issue, the error about exponent loading the font goes away too.

I wonder if this means that the error is always there but masked by something else? Or if expo is throwing this error incorrectly when it's supposed to show the actual place of err

[2018-03-01 05:44] jarvisluong commented on #1640
I doublt there is a "type" prop for Icon, as in the docs, this <Icon> component only uses Ionicons from react-native-vector-icons

[2018-03-01 05:50] rafaelgrilli92 commented on #1640
@jarvisluong And why does it comes up with that?
![image](https://user-images.githubusercontent.com/21044452/36828889-89583c9c-1d70-11e8-84de-6a9768691578.png)

[2018-03-01 05:58] jarvisluong commented on #1640
Oops I was checking the source code again and there is indeed a type prop, but as I saw in the source code, no matter what type of icon we are using, native-base will auto-prepend the icon name with `md-` if we are in android, and `ios-` on ios. That's why FontAwesome can't find md-remove

Source code of Icon.js:
https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Icon/index.js

[2018-03-01 06:04] rafaelgrilli92 commented on #1640
Yeah, I kinda noticed that on the Icon.js file, but it's weird because it was working like 2 days ago hahaha

Or maybe I was always getting the Ionicons icons and didn't notice it lol

[2018-03-01 06:23] rafaelgrilli92 commented on #1640
Thank you mate! Appreciated :smiley:

[2018-03-01 06:27] SupriyaKalghatgi commented on #1599
@ppozniak true

[2018-03-01 06:28] SupriyaKalghatgi commented on #1320
@yusmarcastro Working example with code is shared by @akhil-geekyants
Please refer it

[2018-03-01 06:50] pisangGoreng commented on #739
Wrap your all tags in render method with <Root>, its work for me

[2018-03-01 06:52] josepht1 commented on #739
@rooque, your solution worked for me.

[2018-03-01 07:16] SupriyaKalghatgi commented on #1641
Check PR #1642

[2018-03-01 07:16] #1641 closed

[2018-03-01 13:19] trajakovic commented on #739
actually, none of solutions work. (testing on Android 7)

If you put down application with back-button, then switch again to application, first you get warning about ToastContainer (yellow screen), described in #819 . And if you try to show toast, you got this error.

In my case, root component is StyleProvider then Root, but it doesnt matter, I've tryed all permutations with same result - this er

[2018-03-01 13:27] panuhorsmalahti commented on #1578
When can we expect the next release?

[2018-03-01 13:28] MarcAlx commented on #1317
Another way to do what `akhil-geekyants` suggests :
[code]

[2018-03-01 14:22] Anandks1993 commented on #245
How to transfer props though footer tab ?

[2018-03-01 15:31] panuhorsmalahti commented on #1578
I'm in a bit of problematic situation, because native-base 2.3.6-2.3.9 has this issue, while 2.3.5 does not. However, 2.3.5 has #1359 for me.

I can't use the package from GitHub for some reason (e.g. I tried using `#master` and a few other commits):
[code]

[2018-03-01 16:31] #1618 closed

[2018-03-02 04:28] hugofelp opened #1644 "Order of components affects styling"
## react-native, react and native-base version
"native-base": "^2.3.9",
"react-native": "0.53.3",

## Steps to reproduce (code snippet or screenshot)

1. run `ejectTheme` script
2. customise `Item` styles:
[code]
3. render component:
[code]
3. Invert the order of the `Item`s:
[code]

On the first instance both `Input`s will have a red background.
On the second instance none of the `Input`s will pi

[2018-03-02 06:52] akhil-geekyants commented on #1644
@hugofelp tried the above example. Couldn't see anything like you mentioned. Can you reset the cache and try again. Attaching a gif

![itemstyling](https://user-images.githubusercontent.com/27768184/36886666-8111cf64-1e13-11e8-9b7a-e17179daead1.gif)

[2018-03-02 08:02] aswinramakrish commented on #1003
@shivrajkumar I don't think that's possible with `react-native-navigation`. This is how the app gets bootstrapped in `index.js` -

[code]
For me, the issue is with `Root`.  Since there is no "Root" component associated with `react-native-navigation` as per [this issue](https://github.com/wix/react-native-navigation/issues/582), there is no way of getting `ActionSheet`, `Toast` etc., working in mor

[2018-03-02 08:40] fapstudio opened #1645 "Can't install native base. Please change react version"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-03-02 17:01] k30r88 commented on #975
I experience similar issue with @eggybot when the content of the Tab is quite large (`Flatlist` of Pictures), tab line indicator below the icons is delay after I tried to swipe. When I tried to click is just fine, the tab line indicator below the icons moved quite fast white along with the content of the tab.

[2018-03-02 17:14] HaswinVidanage commented on #1468
I believe the issue still exists. Gives me the Invalid prop 'name' on icon

`<Icon name='ei-chevron-right' />`

Native Base Version

[2018-03-02 21:03] rohithramachandran commented on #1550
Same happening for me too. @yarian s solution is not working for me . Any other fixes for this @SupriyaKalghatgi ?

[2018-03-02 22:38] armanbabai commented on #1080
i'm having the same error :/

[2018-03-03 04:55] nihp commented on #245
How to set footer images using react native tab navigator?

[2018-03-04 07:38] avdeveloper commented on #611
I think the comments above are bandaids to a problem that could be solved at the cause. Why are the props `underlineColorAndroid` and `placeholderTextColor` placed below `{...this.props}` in here? https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Input.js#L22

[2018-03-04 10:20] Elitebigboss90 commented on #942
@PdxMehmet having the same problem, have you solved it?

[2018-03-04 17:55] kentaccn commented on #1010
same problem with version 2.3.9, problem not solving, the props seem successful passed, seem it reset to 0 after that

[2018-03-04 18:35] acherkashin opened #1647 "Property Thumbnail"
react-native - 0.51.0
native-base - 2.3.9

I use next code:
`<Thumbnail size={3000} square source={{ uri: avatar }} />`

![thumbnail-size](https://user-images.githubusercontent.com/9947582/36948999-a530af78-1ff3-11e8-98c3-dbc4d2aafeac.gif)

[2018-03-04 18:36] acherkashin opened #1648 "Property Thumbnail's size don't change image size"
react-native - 0.51.0
native-base - 2.3.9

I use next code:
`<Thumbnail size={3000} square source={{ uri: avatar }} />`

![thumbnail-size](https://user-images.githubusercontent.com/9947582/36948999-a530af78-1ff3-11e8-98c3-dbc4d2aafeac.gif)

But I can change size by style property:
`<Thumbnail square source={{ uri: avatar }} style={{width: 300, height: 300}}/>`

[2018-03-04 21:27] iamlasse opened #1649 "Error undefined is not an object (Evaluating undefined.brandPrimary)"
React Native 0.52.0
React 16.2.0
Native Base 2.3.9

Error undefined is not an object (Evaluating undefined.brandPrimary)
This worked last night and I was working on the app this morning I'm faced with this stupid red screen again and this weird error... I didn't update Native-base between today and yesterday nor did I touch the code...???

[2018-03-04 22:18] kamenminkovcom opened #1650 "ScrollableTab: Cannot find property 'props' of undefined"
Hello, I am trying to implement Scrolable inner tabs using ScrollableTab.

Here is my component:
[code]
And this throws an error:

[code]
The first error from the stack is on line 25 where the `Tabs`  open tag is.

I am using `"expo": "^23.0.4"`, `"native-base": "^2.3.7"` and `"react-native": "0.50.3"`.

I will highly appreciate any suggestions how to resolve this.

Thanks in advance.

[2018-03-05 00:28] jLynx commented on #882
+1

[2018-03-05 00:29] hugofelp commented on #1644
Hi @akhil-geekyants. Thanks for your response.
After clearing the cache and getting the same results, I started a new project from React Native Seed to try and reproduce the bug.

**It turns out I was importing `View` from `react-native` instead of importing from `native-base`.** That is the only step missing from the description above on how to reproduce.

So I guess my problem is solved, but if

[2018-03-05 05:07] amalantony commented on #1142
@SupriyaKalghatgi thanks, it would be great if the documentation is updated to reflect the same.

[2018-03-05 05:11] rouge3351 commented on #627
i'm same problem! in native-base 2.3.9!

[2018-03-05 06:01] SupriyaKalghatgi commented on #1578
@panuhorsmalahti In a day or two

[2018-03-05 06:08] SupriyaKalghatgi commented on #1644
@hugofelp Importing` View` from NativeBase actually solves the problem

[2018-03-05 06:08] #1644 closed

[2018-03-05 06:11] SupriyaKalghatgi commented on #1645
Closing this due to insufficient information

[2018-03-05 06:11] #1645 closed

[2018-03-05 06:43] SupriyaKalghatgi commented on #1647
#1648

[2018-03-05 06:43] #1647 closed

[2018-03-05 06:47] SupriyaKalghatgi commented on #1648
@acherkashin Check the Docs
![image](https://user-images.githubusercontent.com/13464885/36960637-e3c6be9c-206d-11e8-87c6-59e90aba469b.png)

Also `Thumbnail` example in NativeBase-KitchenSick https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/src/screens/thumbnail/index.js

`Thumbnail` supports two of size props, `small`, `large` and the default one as medium (without any prop). Any ot

[2018-03-05 06:47] #1648 closed

[2018-03-05 06:49] SupriyaKalghatgi commented on #1649
#1578

[2018-03-05 06:49] #1649 closed

[2018-03-05 06:58] SupriyaKalghatgi commented on #1142
@amalantony In my previous comment i have mentioned #1619 which has an issue opened on NB-Docs repo

[2018-03-05 07:39] MbF-Sathya commented on #294
Ntivebase picker is awesome. there is only thing is missing in the component is search if it is there then it will be cool

[2018-03-05 07:51] kamenminkovcom commented on #1650
Ok, it is my mistake, every tab in the list should have heading which is required prop.

[2018-03-05 07:51] #1650 closed

[2018-03-05 12:43] akhil1988 commented on #245
@Anandks1993 can you explain more

[2018-03-05 13:07] Anandks1993 commented on #245
@akhil1988 I just want to do it like passing props from one component to other. For eg if am in one footer tab, I want to take some details from that to another tab.

[2018-03-05 14:08] GiacomoK opened #1651 "Picker in CardItem is shown but it does not change selected item"
## react-native, react and native-base version
"react": "16.0.0-alpha.12",
"react-native": "0.47.2",
"native-base": "^2.3.3",,
## Expected behaviour
When I select "first" or "second", the value in picker should change
## Actual behaviour
The selected value is always "No type"
## Steps to reproduce (code snippet or screenshot)
    <Container>
        <Content>
            <FlatList

[2018-03-05 16:09] idrakimuhamad commented on #1591
2.3.9 and still getting this with `Picker`

[2018-03-05 16:15] dipernaa opened #1653 "Extend selected Picker Item label"
Is there a way to parse a different label for a selected Item for a Picker? For example, my options are red, blue, and green. When I have red selected, I want the picker to display  "red color"

react: 16.2.0
react-native: 0.53.0
native-base: 2.3.8

[2018-03-05 20:52] SKempin commented on #241
I had to set the view width to the device width, along with the mi-height, to render the mapview inside the modal.

[2018-03-06 00:23] josephthweatt opened #1654 "Import Issues. Can't find variable: Title"
## react-native, react and native-base version
react-native@0.51.0
react@16.0.0
native-base@2.3.9
## Expected behaviour
Importing Header and related components from 'native-base' should give me the Header component to use in my code.
## Actual behaviour
Header and related components are not being imported, causing the app to produce the error message `ReferenceError: Can't find variable: Title`

T

[2018-03-06 05:24] SupriyaKalghatgi commented on #1651
@GiacomoK Tried including [Picker from Docs](https://docs.nativebase.io/Components.html#picker-def-headref) within Card, worked as expected

[2018-03-06 06:15] SupriyaKalghatgi commented on #1653
@dipernaa That is not possible to do, NativeBase Picker is replacement of React Native Picker.
React Native Picker has not come across this feature

You can do this at max,
[code]
#338

[2018-03-06 06:15] #1653 closed

[2018-03-06 06:19] SupriyaKalghatgi commented on #1654
@josephthweatt Delete `node_modules`, `yarn.lock` or `package.json`
Install `node_modules`, clean build, run

[2018-03-06 06:23] akhil-geekyants commented on #245
@Anandks1993 if you wan't to share some value, then you can store it in the state. If you want to set some style based on selection you can do that based on that condition of selection. As this is a React Native question you can ask in stackoverflow, you can get more suggestions and answers there.

[2018-03-06 06:25] akhil-geekyants commented on #245
@nihp you can use `<Image/>` inside `<Button/>` and set some width and height.

[2018-03-06 07:21] Anandks1993 commented on #245
@akhil-geekyants Okay sure, Thank you. 😃 🤝

[2018-03-06 07:37] MbF-Sathya commented on #205
@SupriyaKalghatgi in android picker i can't use search. in iOS its perfect
![simulator screen shot - iphone 6 - 2018-03-06 at 13 07 12](https://user-images.githubusercontent.com/22494237/37019693-4bbde79c-213f-11e8-90d7-40032479c39d.png)

[2018-03-06 07:49] akhil-geekyants commented on #942
@PdxMehmet @Elitebigboss90
posting code for the common case without `<TabHeading/>`

Code
[code]
Gif

![tab styling](https://user-images.githubusercontent.com/27768184/37019307-d68a94ee-213d-11e8-8ff1-1e6e12d97060.gif)

handling style programmatically while using `<Tabheading/>`

Code
[code]
Gif

![tab styling2](https://user-images.githubusercontent.com/27768184/37020162-e160f1d0-2140-11e8-97eb-cd

[2018-03-06 08:56] geminiyellow commented on #120
still working?

[2018-03-06 09:31] GiacomoK commented on #1651
Sorry @SupriyaKalghatgi , I did not understand your answer.

[2018-03-06 10:35] akhil-geekyants commented on #1651
@GiacomoK you have to add [extraData](https://facebook.github.io/react-native/docs/flatlist.html#extradata) prop to Flatlist

Tried your code with dummy values

Code
[code]

[2018-03-06 10:47] akhil-geekyants commented on #205
@MbF-Sathya can you post your code

[2018-03-06 12:57] llamorinjason opened #1658 "Header is cut in half in expo"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-03-06 13:40] akhil-geekyants commented on #1658
@llamorinjason Can you give more information about this. Can you post the code for us to reproduce.

[2018-03-06 14:38] GiacomoK commented on #1651
@akhil-geekyants  same behaviour :(

[2018-03-06 15:13] fxhereng commented on #1012
Same issue here, takes 1 minute to change a tab.. Makes library unusable.

[2018-03-06 16:17] fxhereng commented on #1012
Rendering a custom tabbar with prop `renderTabBar` using `ScrollableTab` component makes it much smoother.

Also adding `prerenderingSiblingsNumber={NUMBER_OF_TABS}` reduces flickering when changing tab.

[2018-03-06 17:36] GiacomoK commented on #1651
I think that the problem could be when I pick an item, I set a state that change array, and this probably will render FlatList again, losing values.

[2018-03-06 21:13] shrupa opened #1660 "Right element not working as expected in ListItem"
react-native, react and native-base version: "native-base": "^2.3.8",
Expected behaviour: <Right><Icon name="ios-arrow-forward" /></Right> in ListItem should render the icon on right section
Actual behaviour: Renders icon next to body text
Steps to reproduce (code snippet or screenshot)
Screenshot of emulator/device
Is the bug present in both ios and android or in any one of them?: ios
Any other a

[2018-03-06 22:02] cmmartin commented on #1274
This should not be closed. Margin needs to be replaced with padding. This component is unusable without this change.

[2018-03-07 04:03] #1658 closed

[2018-03-07 06:05] akhil-geekyants commented on #1651
@GiacomoK attaching video file for the above code
[device.mp4.zip](https://github.com/GeekyAnts/NativeBase/files/1787975/device.mp4.zip)

[2018-03-07 06:07] pehagg commented on #1325
Would be great if this prop would be documented in the API reference, instead of needing to search Github for an answer.

[2018-03-07 07:37] SupriyaKalghatgi commented on #1640
#1596

[2018-03-07 07:41] ojathelonius commented on #826
@carocad How did you fix the re-rendering issue then ? Did you have to override the shouldComponentUpdate method ?

[2018-03-07 08:05] Arshiamidos commented on #814
on another tricky way is to implement with absolute and zindex props
[code]
![kapture 2018-03-07 at 11 22 12](https://user-images.githubusercontent.com/6451804/37080419-7256cb00-21fb-11e8-990f-fbc3ff1efa5b.gif)

[2018-03-07 08:07] Arshiamidos commented on #889
on another tricky way is to implement with absolute and zindex props
the popup menu in Android and Ios is different !!
[code]
![kapture 2018-03-07 at 11 22 12](https://user-images.githubusercontent.com/6451804/37080419-7256cb00-21fb-11e8-990f-fbc3ff1efa5b.gif)

[2018-03-07 08:15] samthui commented on #358
Dont know why pp dislike @nobalmohan 's answer, that link helps. It leads to this: https://oblador.github.io/react-native-vector-icons/

[2018-03-07 10:53] carocad commented on #826
@ojathelonius I couldnt find a solution for it. I just stopped using using after I found what the problem was and switched to a more basic approach :/

[2018-03-07 11:03] ojathelonius commented on #826
@carocad I'll give it a try, there may be a way to prevent rendering the component (let alone the thumbnail inside) while swiping.

Out of curiosity, did you try the other swipe cards libraries out there ? I need the same look and feel and would then seek another solution to retain the same behavior.

[2018-03-07 12:52] carocad commented on #826
@ojathelonius no I didnt try the other libraries. I simply created a View which I re-render whenever the user request the next item.

[2018-03-07 13:03] josephbuchma commented on #1510
@sanketsahusoft any updates on this ? The newsletter seems to be quiet.

[2018-03-07 13:48] GiacomoK commented on #1651
@akhil-geekyants
[Device.zip](https://github.com/GeekyAnts/NativeBase/files/1789324/Device.zip)

[2018-03-07 14:22] ojathelonius commented on #826
@carocad
Alright, thanks !

[2018-03-07 15:32] burkaslarry opened #1663 "Native base edit not updated and always rendered to the original pages"
I have used Native Flat theme for my project .

I have edited my component pages bases on NativeBase Flat Theme
But when I run react-native run-ios, it goes to the original page of FlatTheme instead of my current page
Would you please tell me now to do ?

[2018-03-07 15:42] anil1712 commented on #882
+1

[2018-03-07 16:03] remoteportal commented on #159
Unless the badge can be made smaller, it's useless.

[2018-03-07 16:05] inanbayram commented on #627
I have also the same problem. This happens only in the release mode. version 2.3.9

[2018-03-07 19:28] shrupa commented on #1660
That does not work either. For some reason, the text or icon does not render on right side. Here's the actual code-
    <ListItem>
      <Text>Region{'\n'}
        <Text note>Regional</Text>
      </Text>
      <Right><Icon name="ios-arrow-forward" /></Right>
    </ListItem>

[2018-03-07 20:49] eggybot opened #1664 "Tab Border Bottom iOS Issue"
Hi Guys, I'm using the latest version of Nativebase and I have an issue on the Tab on iOS platform. I cannot get rid the border Bottom (or borderTop) on this section
![image](https://user-images.githubusercontent.com/3815967/37117309-d73ed1a8-228b-11e8-9437-ad49a7f4bd73.png)
Can someone point me on how to remove the borderline for iOS.
I tried to follow also this topic #736 but it didn't resolve m

[2018-03-08 03:42] yukwong1121 opened #1665 "Components function warning every time"
Created a new react native project and install NativeBase, and call the components from native-base such Container, Text.

There are many warning message display in yellowbox, all related with "**componentWillMount**","**componentWillUpdate**","**componentWillReceiveProps**" in nativebase components. Warning message will alert in every time when I open those page relate with nativebase. Warning me

[2018-03-08 05:09] SupriyaKalghatgi commented on #1510
@josephbuchma http://nativebase-customizer.geekydev.com/

[2018-03-08 05:24] SupriyaKalghatgi commented on #1663
@burkaslarry Then you can drop mail to ` strapui-support@sahusoft.com` for support
Or raise issue on its git

[2018-03-08 05:24] #1663 closed

[2018-03-08 05:33] akhil-geekyants commented on #1651
@GiacomoK it is similar to what you get when you hardcode the `selectedValue={"choose"}`. Check whether the value provided to the selectedValue prop is the one selected.

[2018-03-08 05:47] akhil-geekyants commented on #1660
@shrupa when using `<Right/>`, put the other component inside `<Left/>` or `<Body/>`. (`<ListItem/>` expects all three components to be present)
Modified your code

Code
[code]
Image

![simulator screen shot - iphone 6 - 2018-03-08 at 11 09 48](https://user-images.githubusercontent.com/27768184/37135048-77aca766-22c1-11e8-9d3a-1a0204dfe530.png)

[2018-03-08 07:56] yoavapi commented on #518
what is not working in RTL?

[2018-03-08 07:59] isaachinman commented on #1033
@stefano-DM Has the `uppercase` prop been removed?

[2018-03-08 08:13] littletower commented on #1033
@isaachinman I haven't used Nativebase in a while, but I believe `uppercase` has not been removed: https://github.com/GeekyAnts/NativeBase/blob/15f7ac040d911181b666607e3d9d68fad4a2ff7f/src/basic/Text.js#L12

[2018-03-08 10:38] akhil-geekyants commented on #1627
Closing this issue due to no response.

[2018-03-08 10:38] #1627 closed

[2018-03-08 11:07] josephbuchma commented on #1510
@SupriyaKalghatgi looks awesome! But it does not export correct styles, downloaded app still contains default styling.

[2018-03-08 11:13] SupriyaKalghatgi commented on #1510
@josephbuchma
![image](https://user-images.githubusercontent.com/13464885/37148211-9a6b498c-22ef-11e8-8b83-0873a179fbb6.png)

[2018-03-08 11:30] #1664 closed

[2018-03-08 15:14] RobertHeim opened #1666 "Support multiple toast-roots"
## react-native, react and native-base version
react-native: 0.48.4
react: 16.0.0
native-base: 2.3.1

## Expected behaviour
rendering multiple `<Root>` components each containing a `<Toast>` should all render a scheduled toast.
E.g. this is relevant when using react-native-navigation's tab-based navigation. Here each app-screen has its on context and needs to render its own `<Root>` component.

##

[2018-03-08 17:02] avin3sh opened #1667 "Pull to Refresh does not work when FlatList nested inside <Content>"
I am on react-native `0.53.3` and native-base `2.3.9`.

I am using `FlatList` from `react-native` because some of the features which are not readily available in native-base's List component. And there is this one issue I am not able to solve.

The` FlatList` api of react-native provides native pull to refresh ability. While it works perfectly when FlatList is embedded inside `<View>`, it doesn't

[2018-03-08 18:51] GiacomoK commented on #1651
Thanks, I solved with this code:

`selectedValue={this.eventGenre(item.item)}`

on picker element.
Now I have a similar problem with CheckBox. They do not remain checked when I push them.

[2018-03-09 01:30] RobertHeim commented on #1665
NativeBase needs to update the used lifecycle methods, see RFC https://github.com/reactjs/rfcs/blob/master/text/0006-static-lifecycle-methods.md

[2018-03-09 01:37] yukwong1121 commented on #1665
Thanks for reply.
I know NativeBase needs to update those method call and I try to renew all for them, however some  component for example: Container, I can't find where is using componentWillMount under Container.
Or just need to wait for NativeBase official update?

[2018-03-09 05:55] akhil-geekyants commented on #1651
@GiacomoK tried checkbox example. It is working fine with native-base:2.3.9

Sample code
[code]

[2018-03-09 07:13] pascalodek opened #1669 "e254"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-03-09 07:14] #1669 closed

[2018-03-09 09:09] akhil-geekyants commented on #1667
@avin3sh NativeBase `<Content/>` component is an implementation of `<ScrollView>`. You can use any method with `<Content/>` that makes pull to refresh work inside a `<ScrollView/>`.

[2018-03-09 10:12] GiacomoK commented on #1651
I have this one and it do not work:

`<CheckBox
     checked={this.eventHasGenre(item.item, t_genre.id) > -1 ? true : false}
     />`

This is the function:
`eventHasGenre(item, genre_id) {
        console.log("eventHasGenre");
        let arEvents = this.state.events.slice();
        for (var i = 0; i < arEvents.length; i++) {
            if (arEvents[i].id == item.id) {
                if (arEve

[2018-03-09 10:52] SupriyaKalghatgi commented on #1468
@HaswinVidanage Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:54] SupriyaKalghatgi commented on #1075
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:54] #1075 closed

[2018-03-09 10:54] SupriyaKalghatgi commented on #1618
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:55] SupriyaKalghatgi commented on #1640
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:55] #1640 closed

[2018-03-09 10:55] SupriyaKalghatgi commented on #611
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:56] SupriyaKalghatgi commented on #1571
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:56] SupriyaKalghatgi commented on #1601
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:56] #1601 closed

[2018-03-09 10:57] SupriyaKalghatgi commented on #1587
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:57] #1587 closed

[2018-03-09 10:57] SupriyaKalghatgi commented on #1637
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:57] #1637 closed

[2018-03-09 10:57] SupriyaKalghatgi commented on #1629
Fixed with NB [2.3.10](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.10)

[2018-03-09 10:57] #1629 closed

[2018-03-09 11:33] Johncy1997 commented on #369
I have the same issue.Why it is not shown in android.I tried to display within a content.

[2018-03-09 12:54] ApoorvTheTecHie commented on #1317
@MarcAlx Thanks a lot mate, saved me a lot of head ache.. Cheers

[2018-03-09 19:07] lmichailian commented on #1168
Same problem, any responses to this issue ?

[2018-03-09 23:14] Arshiamidos commented on #72
just do manual as @RobbyRob81  said
![screen shot - - at](https://user-images.githubusercontent.com/6451804/37234422-dc6e51bc-240c-11e8-8a31-85c18912e9dd.png)

[2018-03-09 23:14] Arshiamidos commented on #72
just adding manual as @RobbyRob81  said
![screen shot - - at](https://user-images.githubusercontent.com/6451804/37234436-fad0575e-240c-11e8-966d-5231709d0c77.png)

[2018-03-10 09:11] mlazuardy opened #1672 "Header didnt set up correctly"
"native-base": "^2.3.10",
    "react": "^16.3.0-alpha.1",
    "react-native": "0.54.0",
    "react-navigation": "^1.5.1"

## Expected behaviour
Im having trouble with my Header(navbar), the expected is the navbar is on the top of the screen
## Actual behaviour
but the actual behavior is like this
![whatsapp image 2018-03-10 at 15 54 48](https://user-images.githubusercontent.com/26824873/37240424-9

[2018-03-10 12:02] GiacomoK opened #1673 "Draw a layer over a Card to simulate a disabled CardItem"
I know this is not an issue, but I need to draw a layer over a Card (to simulate a disabled CardItem).

Any advice?

Thanks

[2018-03-10 13:38] leedongwei opened #1674 "No "refreshControl" Typescript definitions on "Content" component"
## react-native, react and native-base version
"native-base": "2.3.9",
"react": "^16.3.0-alpha.1",
"react-native": "0.54.0",

"types/react": "16.0.40",
"types/react-native": "0.52.16",
"typescript": "2.7.2",

You'll need to add "@" in front of "types/react" and "types/react-native", Github issues is cutting them off because it thinks it's a tag/mention

## Expected behaviour
No error when compilin

[2018-03-10 20:35] hanssonfredrik commented on #1318
This issue is not fixed in native-base version 2.3.10.

[2018-03-11 00:24] josephthweatt commented on #1654
@SupriyaKalghatgi Sorry I didn't get back to your reply. The proposed solution did not work for me, but I was able to get my IDE to recognize the components and build the code by commenting out the import lines in native-base's index.
![image](https://user-images.githubusercontent.com/11358088/37248146-fbede5be-2486-11e8-9d96-738fcc894c0e.png)

However, I do not know how I can create a permanent s

[2018-03-11 08:42] Bundas commented on #1024
@akhil-geekyants What? It maybe solves his problem but it certainly does not solve the bug itself...

[2018-03-11 14:36] ArtyomBaykov opened #1675 "Issue with NativeBase tab bar mixed with react navigation"
![29026121_1805530686148614_5213406963752239104_o](https://user-images.githubusercontent.com/33861066/37254664-3ec26cec-255a-11e8-8fcc-e2599b46acde.png)
![29063440_1805530846148598_6242474745552437248_o](https://user-images.githubusercontent.com/33861066/37254665-483c44e6-255a-11e8-9de4-506313d04648.jpg)

We are getting these 2 issues when mix NativeBase tab bar and react navigation.
Here is the c

[2018-03-11 18:34] waheed25 opened #1676 "Tabs locked={true} not works"
Hi i am using "native-base": "^2.3.5", and "react-native": "^0.49.5", but when i am passing
`<Tabs initialPage={0} locked={true}>`
or
`<Tabs initialPage={0} locked}> it didn't lock tabs tabs still swipe able. `

[2018-03-11 20:12] pdupavillon opened #1677 "Input does not render correctly in StackNavigator"
Hi there,
I've a weird display of input inside navigator.
Could you help me on this please ?
Thanks

## react-native, react and native-base version
    "native-base": "^2.3.10",
    "react-native": "0.54.1",
    "react-navigation": "^1.5.1"

## Expected behaviour
Normal input rendering
## Actual behaviour
Weird border, placeholder misplaced
## Steps to reproduce (code snippet or screenshot)
[code]

[2018-03-11 21:54] ncallaway opened #1678 "ref warnings on stateless styled components"
When using `connectStyles` on a stateless component, I get a ref warning:

[code]

This appears to be a bug that was in shoutem-theme (https://github.com/shoutem/theme/issues/19) and has since been fixed in that library (https://github.com/shoutem/theme/pull/20).

## react-native, react and native-base version
react-native: `0.52.0`
react: `16.2.0`
native-base: `2.3.9`
native-base-shoutem-theme: `

[2018-03-12 02:44] DJONATAS opened #1679 "Don't run scroll in 'Content' component when using the android"
Hi Guys, I’m start with ‘react-native’ and ‘native-base’.

Today, I mounted a screen with this structure:

[https://gist.github.com/DJONATAS/310b97452c6e6532cee3faa6378cfdc8](url)
![screen shot 2018-03-11 at 23 40 06](https://user-images.githubusercontent.com/124771/37263270-1a445746-2586-11e8-9940-7446d2404682.png)

It’s ok on iOS, when I write a text in the last input the screen scroll to up, BU

[2018-03-12 03:29] sitompul commented on #1168
@lmichailian the only fix is using [react-native-tab-view](https://github.com/react-native-community/react-native-tab-view)

[2018-03-12 05:58] akhil-geekyants commented on #1651
@GiacomoK  checkbox was working fine. Checked with a similar case.

Sample Code
[code]
Gif

![checkbox](https://user-images.githubusercontent.com/27768184/37267771-584579b4-25e8-11e8-8e50-38fadab5e8bb.gif)

[2018-03-12 06:06] SupriyaKalghatgi commented on #1654
@josephthweatt which IDE?

[2018-03-12 06:06] SupriyaKalghatgi commented on #1654
@josephthweatt Check NativeBase-KitchenSink

[2018-03-12 06:38] SupriyaKalghatgi commented on #1677
NB: 2.3.10
RN: 0.54.0

![image](https://user-images.githubusercontent.com/13464885/37268860-0fc26c00-25ee-11e8-9bfa-b760a5faa65b.png)

[2018-03-12 06:38] #1677 closed

[2018-03-12 06:48] akhil-geekyants commented on #1673
@GiacomoK you can try changing the  card opacity of the disabled card. Like setting the disabled card opacity to .5

[2018-03-12 06:59] SupriyaKalghatgi commented on #1672
@mlazuardy Are you running on Expo?

[2018-03-12 09:34] akhil-geekyants commented on #1675
@ArtyomBaykov tried a similar code. It was working fine with react-navigation

Code
[code]
Gif

![footertab](https://user-images.githubusercontent.com/27768184/37276001-9af85f6a-2606-11e8-8d9b-a3407e23d150.gif)

[2018-03-12 09:41] #1675 closed

[2018-03-12 09:41] #1679 closed

[2018-03-12 09:53] akhil-geekyants commented on #1676
@waheed25 checked with latest version of native-base(2.3.10). It is working fine. Can you reset the cache and try again

Sample Code
[code]
Gif

![locked](https://user-images.githubusercontent.com/27768184/37276856-034b2ff0-2609-11e8-80ca-1d4215f32ba9.gif)

[2018-03-12 09:54] akhil-geekyants commented on #1676
@waheed25 Closing this issue. If you are still facing the issue let us know.

[2018-03-12 09:54] #1676 closed

[2018-03-12 10:18] #1651 closed

[2018-03-12 10:45] ArtyomBaykov commented on #1675
@akhil-geekyants  the point is that we are trying to use it with stack navigator as you see in our code and get the mentioned issues .

[2018-03-12 11:36] akhil-geekyants commented on #1675
@ArtyomBaykov tried with StackNavigator.It is working fine(except for the [warning](https://github.com/GeekyAnts/NativeBase/issues/1665) in 0.54.0).

Posting the code
[code]
Gif

![tabs](https://user-images.githubusercontent.com/27768184/37281477-2f1b60f6-2617-11e8-92b2-415f30c2ec34.gif)

[2018-03-12 12:25] DJONATAS commented on #1679
Tank's I will rebuild my screen and execute new tests. I don't understand why the action don't execute in my screen. Sorry, I will resend news

[2018-03-12 16:00] CristiTr commented on #1571
Thanks! I can confirm that this issue was resolved.

[2018-03-12 16:13] lmichailian commented on #1168
@sitompul another lib, sad ... :(

[2018-03-12 16:25] isaachinman commented on #1206
@SupriyaKalghatgi Any idea when this will be released?

[2018-03-12 17:36] isaachinman commented on #734
This should be in the docs, 100%. @shivrajkumar Would you accept a PR?

[2018-03-12 18:25] spencercharest commented on #627
I'm also seeing this issue on 2.3.9 and 2.3.10

[2018-03-12 23:48] VBugaev opened #1682 "Strange container displaying"
Hi! Could you help with header layout and explain this behavior?
![image](https://user-images.githubusercontent.com/23584345/37315107-4ddf3dd2-2671-11e8-9694-273820b15726.png)

`import React from 'react';`

`import { Root, Container, Header, Title, Button, Icon, Left, Footer, FooterTab, Right, Body, Content } from 'native-base'; `

`import { Font, AppLoading } from 'expo'; `

`export default class

[2018-03-12 23:55] josephbuchma commented on #1227
There is this thing under development, which looks very promising http://nativebase-customizer.geekydev.com/

[2018-03-13 00:17] Glendonh opened #1683 "Is it possible to switch between multiple themes?"
We're building an app that needs to be able to switch to a "Night Mode" with a darker UI. Is there any way to change themes globally without restarting the app?

I'm currently trying the following:

[code]
This applies the correct style based on application state the first time a component is rendered, but will not change the styling when the component is re-rendered.

Is there a better way to imp

[2018-03-13 01:18] #1682 closed

[2018-03-13 04:08] samjabeen commented on #1601
@SupriyaKalghatgi thanks for the update.

[2018-03-13 05:16] ArtyomBaykov commented on #1675
@akhil-geekyants  thanks a lot for your help. Does it mean that yellow message is the bug of react-navigation? Also can you tell me please how can I change style for active tab in this part?

[code]

[2018-03-13 05:36] SupriyaKalghatgi commented on #1206
@isaachinman #1528 here is the PR
Some contradictory results across different system while verifying this PR, hence delay

[2018-03-13 05:54] SupriyaKalghatgi commented on #1683
#910

[2018-03-13 05:54] #1683 closed

[2018-03-13 05:58] SupriyaKalghatgi commented on #1675
@ArtyomBaykov Check Docs to customize components

[2018-03-13 06:41] tonilxm commented on #812
@wikieswan : thanks bro, works like a charm

[2018-03-13 07:27] glynnallen1704 commented on #1026
I have the same issue. Did you resolve it?

[2018-03-13 07:31] glynnallen1704 commented on #562
2.3.10 and also having an issue with an array of 8 elements

[2018-03-13 08:58] et-techbd-2017 opened #1685 "trying to create native-base starter kit but getting these npm warnings"
npm WARN @shoutem/animation@0.8.10 requires a peer of react@^15.0.0 but none was installed. tried npm install react-globally npm WARN @shoutem/animation@0.8.10 requires a peer of react-native@>=0.28.0 but none was installed. tried npm install -g react-native-cli npm WARN native-base@2.1.4 requires a peer of react-native@>=0.43.0 but none was installed. tried npm install -g react-native-cli npm WAR

[2018-03-13 09:13] SupriyaKalghatgi commented on #1685
@et-techbd-2017 These are warnings, can be ignored

[2018-03-13 09:24] isaachinman commented on #1206
@SupriyaKalghatgi Okay, great. I see you release this lib pretty often. Can we assume this will be rolled out within a few weeks?

[2018-03-13 09:26] SupriyaKalghatgi commented on #1206
@isaachinman yes ofcourse

[2018-03-13 11:25] Arshiamidos commented on #82
i tested this issue with this trick
worked for me in Android emulator and IOS simulator and real devices(&roid,IOS)
![screen shot - - at](https://user-images.githubusercontent.com/6451804/37338986-53137a7c-26ce-11e8-82bf-4616f420ee14.png)
[code]

[2018-03-13 11:39] AgNm commented on #1627
please refer this link : https://streamable.com/pqfm6

[2018-03-13 11:51] Arshiamidos commented on #82
try with this
[code]

[2018-03-13 16:38] anoopmm commented on #663
@zhulinpinyu did you figure it out?

[2018-03-13 17:46] yofriadi opened #1687 "Error styling using StyleSheet for Label component"
package version :
  * react : 16.2.0
  * react-native : 0.52.0
  * native-base : ^2.3.10

when I create style with StyleSheet in Label component it throws :
**TypeError: in this environment the sources for assign MUST be an object. This error is a performance optimization and not spec compliant.**
but if I use inline styling it just fine.

[2018-03-13 18:10] ArtyomBaykov opened #1688 "After making changes in FooterTab.js and platform.js can't get footerTtab active color and android BG changed."
I've made all changes which found in the documentation for customizing component. The only part that I am confused is which imports should I do here:

[code]
All the time it shows different errors when I change importing lines.

[code]
What is wrong and what should I fix here to make my changes worked?

`<StyleProvider style={getTheme(platform)}>`

[2018-03-13 22:14] jstansbe commented on #1672
mlazuardy Are you using react-navigation?

[2018-03-14 03:59] kodayashi opened #1689 "Should the Picker component have an option to use PickerIOS under the hood?"
Hey there,

Was implementing the NativeBase Picker component to run on iOS and it doesn't appear to operate like the native iOS Picker (the wheel). The Picker functionality on Android feels natural (w/ mode=dialog), which is great. I noticed React Native has the PickerIOS component which is exactly what I'm looking for.

What's the best practice here for NativeBase?  I suppose I could wrap the Nat

[2018-03-14 04:07] kodayashi commented on #296
Will do @SupriyaKalghatgi thanks.

[2018-03-14 04:14] SupriyaKalghatgi commented on #1627
@AgNm
![image](https://user-images.githubusercontent.com/13464885/37383062-472db79c-276c-11e8-8dc4-e9c7d235cfd0.png)

[2018-03-14 04:18] SupriyaKalghatgi commented on #1685
@et-techbd-2017 I am not sure which kit (native-starter-kit-master) you are talking about
Can you share link to this repo

[2018-03-14 07:08] akhil-geekyants commented on #1687
@yofriadi unable to reproduce. Attaching a gif.

Gif

![label](https://user-images.githubusercontent.com/27768184/37387946-81222f38-2784-11e8-835d-e4f35b243eb1.gif)

[2018-03-14 08:19] blackdynamo commented on #64
Why isn't this in the docs?

[code]

[2018-03-14 08:52] PetrVasilev commented on #882
+1

[2018-03-14 09:27] et-techbd-2017 commented on #1685
![react](https://user-images.githubusercontent.com/35864091/37393765-3cb408c2-279c-11e8-9797-8c051730c609.png)

[2018-03-14 09:42] SupriyaKalghatgi commented on #1685
@et-techbd-2017 Click on `GitHub` link on its page,
ReadMe of this github repo says its no longer maintained and suggests to use https://reactnativeseed.com/

[2018-03-14 09:42] #1685 closed

[2018-03-14 09:51] #1673 closed

[2018-03-14 10:04] et-techbd-2017 commented on #1685
npm ERR! git clone --template=C:\Users\rf\AppData\Roaming\npm-cache\_git-remotes\_templates --mirror https://github.com/GeekyAnts/react-native-keyboard-aware-scroll-view.git C:\Users\rf\AppData\Roaming\npm-cache\_git-remotes\git-https-github-com-GeekyAnts-react-native-keyboard-aware-scroll-view-git-8603b9f3: undefined
npm ERR! git clone --template=C:\Users\rf\AppData\Roaming\npm-cache\_git-remotes

[2018-03-14 10:07] SupriyaKalghatgi commented on #1685
@et-techbd-2017

Check this

[2018-03-14 10:11] #1654 closed

[2018-03-14 10:48] #1660 closed

[2018-03-14 11:54] yofriadi commented on #1687
@akhil-geekyants here the gif of mine. it will error after I clicked on it.
![deepin-screen-recorder_desktop_20180314185155](https://user-images.githubusercontent.com/24536844/37400968-280ccce8-27b9-11e8-94c3-706ea0876d4e.gif)

[2018-03-14 19:43] et-techbd-2017 commented on #1685
+ react-native@0.51.0
added 590 packages from 361 contributors in 166.556s

E:\soft\react-native-boilerplate-redux-flow-master>npm start

'react-native-scripts' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! ReactNativeSeed@1.1.0 start: `react-native-scripts start`
npm ERR! Exit status 1
npm ERR!
npm ERR! Fai

[2018-03-14 21:05] ahmedmenaem commented on #836
I read the docs, and I found this solution.
For Toast to work, you need to wrap your topmost component inside <Root> from native-base.
[code]

[2018-03-15 01:32] joshbedo commented on #1190
This still seems like it's still an issue. I'm having issues changing the background color following the GIF I don't see the same result for Android.

[2018-03-15 01:54] muttonblue commented on #882
+1

[2018-03-15 04:26] durgesh0001 commented on #1627
@SupriyaKalghatgi I am able to access the link

[2018-03-15 04:32] SupriyaKalghatgi commented on #1685
@et-techbd-2017 Clear `node_modules`, clear cache, run again
These are basic troubleshooting steps, which you can find on SO

[2018-03-15 04:35] SupriyaKalghatgi commented on #1627
I cant access it yet

[2018-03-15 06:01] akhil-geekyants commented on #1190
@joshbedo tried changing the header background color. It is working fine. Attaching a gif.

Gif

![header](https://user-images.githubusercontent.com/27768184/37446679-31e4c956-2844-11e8-8b2d-2d30b4c2fb5f.gif)

[2018-03-15 06:32] akhil-geekyants commented on #663
@anoopmm tried a sample code. It didn't show any lag. Attaching a gif.

Gif

![footertab](https://user-images.githubusercontent.com/27768184/37447525-8170025c-2848-11e8-8403-959ebc0d0cd5.gif)

Code
[code]

[2018-03-15 08:18] greyexpert commented on #910
Hey guys,

Looks like this cache is also an issue for hot reloading of a component styles. Do you plan to add api to somehow invalidate the cache?

[2018-03-15 08:33] Wowgreat opened #1696 "How to hidden Spinner component.The doc do not tell me the property which could control it"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-03-15 08:55] akhil-geekyants commented on #1696
@Wowgreat Show the Spinner only when required (like when you are loading something). Put some condition for showing/hiding the Spinner.

[2018-03-15 09:03] anhtuank7c commented on #1374
Do reject theme and edit `native-base-theme/components/Card.js`
change `marginVertical: 0`, then use ejected theme

[2018-03-15 09:38] #1696 closed

[2018-03-15 09:54] et-techbd-2017 commented on #1685
i am really sorry but i am a noob as you can understand . thanks for your patience. What is SO?

[2018-03-15 09:59] SupriyaKalghatgi commented on #1685
@et-techbd-2017 Stack Overflow

[2018-03-15 14:40] ArtyomBaykov commented on #1688
@akhil-geekyants If I got right you fixed this bug. But can you tell me please what is wrong in this part?

[code]
And this part:

`<StyleProvider style={getTheme(platform)}>`

These parts are the pieces of the above code.

[2018-03-16 06:08] akhil-geekyants commented on #1688
@ArtyomBaykov When you run `node node_modules/native-base/ejectTheme.js` from your terminal, a folder named native-base-theme gets copied to your project root. If you are trying to use `getTheme` and `platform` from inside some folder you have to change the import paths accordingly.

[2018-03-16 07:50] Wowgreat commented on #1696
@akhil-geekyants Do you mean to wrap Spinner by another label, then control the label show/hiding?In fact, I use Spinner in user login page. If both account and password user provide are correct, then into another page.If not, I hope hidden Spinner and let user re-enter his/her account and password.

[2018-03-16 07:54] SupriyaKalghatgi commented on #1696
@Wowgreat You can take reference from here
https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/CRNA/src/boot/setup.js

[2018-03-16 08:02] Wowgreat commented on #1696
@SupriyaKalghatgi @akhil-geekyants
Hey, I am a Chinese. You know lots of people want to learn English in China. But they did not have the opportunity to communicate with English speakers。

   Therefore, I hope to do some to change the status quo on the Internet.If you interest it, email me. My email is suganzhang123@gmail.com

[2018-03-16 08:13] waheed25 commented on #1274
Here was my problem
![screen shot 2018-03-16 at 1 11 30 pm](https://user-images.githubusercontent.com/25927790/37510072-bcdf4306-291b-11e8-8e91-41ecf53ecec1.png)
i resolved it my paddingLeft:0

[2018-03-16 08:37] akhil-geekyants commented on #1688
@ArtyomBaykov Posting a sample code

Code
[code]
Gif

![footertab](https://user-images.githubusercontent.com/27768184/37511006-2cad6b20-2923-11e8-969b-1a945e1ae1a3.gif)

[2018-03-16 09:53] streletss commented on #1460
@akhil-geekyants, thanks! Is there a reason why this isn't mentioned in the docs?

[2018-03-16 10:46] ArtyomBaykov commented on #1688
@akhil-geekyants  it shows this error:

![29214990_1811381232230226_5970512876589285376_o](https://user-images.githubusercontent.com/33861066/37516773-bc355d2a-2928-11e8-8c19-15031b9a42cd.jpg)

[2018-03-16 10:51] SupriyaKalghatgi commented on #1688
@ArtyomBaykov delete `node_modules` and do `yarn`

[2018-03-17 09:25] Alijaaan commented on #1010
same problem with 2.3.10

[2018-03-17 22:21] mrezzaaa commented on #511
@srhise i think there is no `import getTheme from ` inside `native-base-theme/components`
@sankhadeeproy007

[2018-03-17 23:17] jamesnyika commented on #64
exactly. There is a lot of stuff in NB that is not in the docs. You have to read the comments in code to find out

[2018-03-18 06:33] teddyteh commented on #1010
A year later still not fixed hah

[2018-03-18 06:52] et-techbd-2017 commented on #1685
deleted all node modules and reinstalled nodejs too. cleaned all cache , cleaned npm cache but still having the same issue.

[2018-03-18 07:10] yaronlevi commented on #1318
Same here for native-base@2.2.2 and RN@0.49.0

[2018-03-18 10:08] alexanderzubarev opened #1701 "ListItem does not pass delayPressOut & other TouchableHighlight props."
Hello.

I want to implement a list with navigation by clicking on ListItem. Everything is OK, except of pressing animation in the ListItem. It restores color immediately after pressing. But I need the ListItem to be highlighted during the scene transition animation. Adding delayPressOut to the ListItem properties does not work.

Is there any other solution to manually make ListItem highlighted?

[

[2018-03-18 23:46] aswinramakrish commented on #817
`Subtitle` doesn't seem to work. Here is my `package.json`

    "react": "16.2.0",
    "react-native": "0.52.2",
    "native-base": "^2.3.7"

I see a definition for `Title`, but not for `Subtitle` (`t` with a lower case). But I see `SubTitle`, but if I use that I get the following error.

    Invariant Violation: Element type is invalid: expected a string (for built-in components) or a
    class/f

[2018-03-19 05:54] akhil-geekyants commented on #1667
Closing this due to no response.

[2018-03-19 05:54] #1667 closed

[2018-03-19 06:07] SupriyaKalghatgi commented on #1685
@et-techbd-2017 I suggest you to do `react-native init`and run to check if basic RN project runs on your system

[2018-03-19 06:08] SupriyaKalghatgi commented on #1685
@et-techbd-2017 Also `create-react-native-app` fresh project

[2018-03-19 06:27] SupriyaKalghatgi commented on #1672
Closing this due to no activity

[2018-03-19 06:27] #1672 closed

[2018-03-19 08:52] akhil-geekyants commented on #817
@aswinramakrish are you still facing this issue. Checked this. It is working fine (with 2.3.10). Attaching a gif

Gif

![subtitle](https://user-images.githubusercontent.com/27768184/37585901-a99f0562-2b80-11e8-8cf0-78c68af09fcb.gif)

[2018-03-19 10:20] dhawaldev commented on #1135
Sorry for posting on a closed thread. But I am having the same problem. I want to change the drawer width. How can I do that?

[2018-03-19 13:04] aswinramakrish commented on #817
Ok. Found the issue. The default color of `Subtitle` is `#ffffff` and guess what my header background was? 😂

[2018-03-19 13:52] teamhide opened #1703 "footerTab has space bottom of screen"
I'm using footerTab for tab navigation.

After I made with it, I noticed that there is space below the screen.

So when I scrolled down to the bottom, I can't see thing that on the top.

[Before scroll down]

<img width="327" alt="2018-03-19 10 48 22" src="https://user-images.githubusercontent.com/8403122/37599280-b5844b20-2bc7-11e8-85cb-7f4975aff695.png">

[After scroll down]

<img width="323" al

[2018-03-19 13:55] akhil-geekyants commented on #1135
@dhawaldev use openDrawerOffset prop of drawer. Attaching a gif

Gif

![opendraweroffset](https://user-images.githubusercontent.com/27768184/37599590-1c028ed8-2bab-11e8-938b-5e12946f850e.gif)

[2018-03-19 17:36] Arpan2912 opened #1704 "null is not an object evaluting this.rows[this.opencelld]._root"
## react-native:"0.53.0" , react and native-base version:"^2.3.8"

## Expected behaviour
          It should be delete row
## Actual behaviour

whenever try to delete first row it throws 'null is not an object evaluting

this.rows[this.opencelld]._root' error

safeCloseOpenRow

E://abc/proj/node_modules\native-base\dist\src\basic\List.js:57:13

## Steps to reproduce (code snippet or screenshot)

-

[2018-03-20 00:53] e11i0t commented on #826
I got the issue that local images were loading properly, but external images were flickering. Using FastImage from https://github.com/DylanVann/react-native-fast-image fixed the issue for me

[2018-03-20 05:18] dhawaldev commented on #1135
Thanks @akhil-geekyants . It worked!!!

[2018-03-20 06:23] Aishwarya-Surana commented on #1612
I am facing  the same issue with 2.3.10

![screen shot 2018-03-20 at 11 53 02 am](https://user-images.githubusercontent.com/31925389/37638922-4cdfd71a-2c35-11e8-9a48-9558d084956f.png)

[2018-03-20 08:40] teamhide opened #1705 "StackNavigator, <Content> is not visible."
I'm using StackNavigator.

Below is my Component structure and source code.

[Component Structure]

SettingRouter.js(StackNavigator) -> Setting.js/SettingDetail.js

[BoardRouter.js]

[code]

[Setting.js / SettingDetail.js]

[code]

When I execute it, `<Content>` is not visible like this.

<img width="327" alt="2018-03-20 5 38 35" src="https://user-images.githubusercontent.com/8403122/37643965-8a2a

[2018-03-20 09:19] akhil-geekyants commented on #1704
@Arpan2912 you can refer this [example](http://docs.nativebase.io/Components.html#swipeable-multi-def-headref)

[2018-03-20 12:34] danieloprado opened #1706 "Toast without timeout"
There is any way to set a toast without a timeout? Hide just after a user interaction?

[2018-03-20 14:37] mataiaslev commented on #882
+1

[2018-03-20 14:56] bkDJ opened #1707 "FAB container flexDirection code"
https://github.com/GeekyAnts/NativeBase/blob/9b01cb9e2d6a0b164e3bc3a43fba54b70d58f850/src/basic/Fab.js#L157-L159

Checking the value of a string with `||` inside another string seems suspicious. Is this accomplishing what's intended? If not, I'd recommend something like
[code]

[2018-03-20 17:41] NitroGhost opened #1708 "Toast design flaw: no on button press"
Toast button is not optional.

## react-native, react and native-base version
52, 16.3, 2.3.6
## Expected behaviour
Toast button should be optional and should have a on button pressed method. The button should *not* be firing the onClose method which is the only way to do something. Also, there's zero documentation on the onClose method on nativebase.io
## Actual behaviour
if you want to have some

[2018-03-20 18:41] jarrx opened #1709 "Truncate Text in Right not working"
## react-native, react and native-base version
react-native: 0.49.3
react: 16.0.0-beta.5
native-base: ^2.3.5
## Expected behaviour
I'm trying to truncate text in a Right component in a ListItem. The text should get truncated when it reaches the Body component.
## Actual behaviour
The Right component pushes on the Body component and does not get truncated until the text reaches the left most side o

[2018-03-20 20:18] stefmabo commented on #734
I think that would be better:  `... <Picker style={{flex: 1}} ...`

[2018-03-20 20:31] Amonith commented on #591
@akhil-geekyants That's because you didn't add the `floatingLabel` prop on `Item`. With this prop I'm also experiencing this issue. I'm on 2.3.10.

[2018-03-20 22:11] stefmabo commented on #814
Thanks @Symous :)

[2018-03-20 23:16] lancedolan opened #1710 "Only some Icon names will work - partial success."
## react-native, react and native-base version
    "react-native": "0.52.2",
    "native-base": "2.3.9",
    "react-native-vector-icons": "4.5.0",

## Steps to reproduce (code snippet or screenshot)
[code]
## Expected behaviour
See a pin icon, followed by graduation-cap icon

## Actual behaviour
See a pin icon, but no graduatin-cap icon, and also get a warning stating "Invalid prop 'name' of value

[2018-03-21 07:07] akhil-geekyants commented on #1710
@lancedolan `<Icon/>` take Ionicons as the icon family if no type is specified. You can use any one of these icon families
[code]
Attaching a gif

![icons](https://user-images.githubusercontent.com/27768184/37697736-86507b56-2d04-11e8-9f8c-b50bcfc6fae9.gif)

[2018-03-21 07:14] SupriyaKalghatgi commented on #1710
#1346 #1640

[2018-03-21 07:14] #1710 closed

[2018-03-21 07:27] akhil-geekyants commented on #1709
@jarrx  can you try this
[code]
Screenshot

![screen shot 2018-03-21 at 12 56 43 pm](https://user-images.githubusercontent.com/27768184/37698189-688fd082-2d07-11e8-9d57-50b113d2193f.png)

[2018-03-21 07:48] akhil-geekyants commented on #1705
@teamhide tried your code. It is working fine for me.

Code
[code]
Gif

![content](https://user-images.githubusercontent.com/27768184/37698741-35a7b4d4-2d0a-11e8-85ad-88cc2adae119.gif)

[2018-03-21 09:24] ThomasLabstep commented on #690
v2.3.10 here

This is still not working for some reason, and putting primary in Text won't work.

I will try to eject again. Why don't they use the recommended textStyle button prop instead ?

[2018-03-21 09:43] akhil-geekyants commented on #1704
@Arpan2912 tried a similar code. It is working fine.

Code
[code]
Gif

![swipelist](https://user-images.githubusercontent.com/27768184/37703065-6ca38f3e-2d1a-11e8-9bcd-dc9883f11136.gif)

[2018-03-21 09:53] akhil-geekyants commented on #690
@ThomasLabstep you should import Text from native-base. Attaching a gif.

Gif

![buttontextcolor](https://user-images.githubusercontent.com/27768184/37703384-85ecc0c2-2d1b-11e8-9e8d-6b5e108e96c1.gif)

[2018-03-21 09:56] dsandmark commented on #1010
@SupriyaKalghatgi This is still an issue in version 2.3.10.

[2018-03-21 10:47] teamhide commented on #1703
@akhil-geekyants Thanks!

[2018-03-21 10:47] #1703 closed

[2018-03-21 11:41] akhil-geekyants commented on #1708
@NitroGhost In Toast, button is optional. If you don't want button to appear, don't add buttonText.  We will be adding onClose to docs.

[2018-03-21 12:15] NitroGhost commented on #1708
the onClose method is the problem here because it's also called when the
toast dismisses itself when the duration comes to an end. it's not user
driven

On Wed, 21 Mar 2018, 11:41 akhil-geekyants, <notifications@github.com>
wrote:

[2018-03-21 12:50] danieloprado opened #1713 "Toast with long text hidden button"
## react-native, react and native-base version
react: 16.3.0-alpha.1
react-native: 0.54.2
native-base: 2.3.10

## Expected behaviour / Actual behaviour
When call a toast notification with long text the button disappears

## Steps to reproduce (code snippet or screenshot)
[code]

## Screenshot of emulator/device
![image](https://user-images.githubusercontent.com/7683575/37708971-716b15ce-2ce7-11e8-

[2018-03-21 13:57] aebmknrl opened #1714 "Button is ignoring the flex style on Row"
## react-native, react and native-base version:
"react-native": "0.52.0"
"react": "16.2.0"
"native-base": "^2.3.10"

## Actual behaviour and steps to reproduce it
Hi, i put this simple code:

[code]

And the result is: The 'Here is the TurnActive component' is using the style provided by the <Row> using flex (for example: if i put alignItems: 'flex-end' then the text is correctly aligned). But wit

[2018-03-21 14:46] jarrx commented on #1709
@akhil-geekyants
It worked and after some styling I could make the list item look the same way as it did before, (right title further to the left, main title further to right etc).
A problem with this solution though is that it does not truncate subtitles as expected. It behaves the same way as it did before so I solved this by simply using the same ListItem setup as before when I have subtitles,

[2018-03-21 14:46] #1709 closed

[2018-03-21 19:14] lancedolan commented on #1710
This issue was not a question, it is a bug. Even some ionicon icons didn't show up. Because there is no solution, and in fact it looks like you're not taking the time to take this seriously, I'm writing my own wrapper `Icon` component that doesn't exhibit this bug.

I'm fully aware of the various Font Families, and also that you can specify one with either a StyleProvider or a `type` property in t

[2018-03-21 19:31] lancedolan commented on #1710
NOTE: If the answer to this bug of mine is that the `graduation-cap` never should have showed up, and wasn't expected to show up unless I explicitly specified the `FontAwesome` font family, then I'm simply at a complete loss for explanations for why it did show up for several weeks across multiple code branches on multiple developers various platforms. If that is truly the case, then it would appe

[2018-03-22 00:02] danilocecilia commented on #1190
according to the documentation is saying there is a property called backgroundColor for changing its color, however, how am i supposed to know to use it wrapped on style...

I think there should be a better documentation with more examples on 'how to dos"

[2018-03-22 02:05] MohamadKh75 opened #1715 "Extra space at the top of the screen"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-03-22 05:43] akhil-geekyants commented on #1713
@danieloprado tried your code with same versions. It is working fine. Attaching a gif.

Gif

![toast](https://user-images.githubusercontent.com/27768184/37753250-f8da8a82-2dc1-11e8-94f7-a10497690b14.gif)

[2018-03-22 06:14] akhil-geekyants commented on #1715
@MohamadKh75 Checked the example. It is working fine. If you using react-navigation, try setting the header to null.

[2018-03-22 06:25] SupriyaKalghatgi commented on #1190
#1619

[2018-03-22 06:38] SupriyaKalghatgi commented on #1710
@lancedolan

Regarding this, i will verify on this part

This appears to be enhancement request

[2018-03-22 06:44] akhil-geekyants commented on #1714
@aebmknrl it is due to the default style provided to button. Just override the style of button and set `alignSelf` to `null`
[code]

[2018-03-22 13:41] GollyJer opened #1716 "How can I target the Picker text alignment on Android?"
Hi. I'd like to `justifyContent: 'flex-end'` for the text inside a picker but it seems to have no affect on Android.

I'm trying to move `3 hours` and `Yes` right justified next to the dropdown.

Thanks for any help!
![screenshot_20180322-093357](https://user-images.githubusercontent.com/689204/37773812-eedfd350-2db4-11e8-9c6c-6361c003e51e.png)

[2018-03-22 15:16] danieloprado commented on #1713
My native-base-theme's folder is outdated, I'll update it.
Thanks you @akhil-geekyants for your response so quickly!

[2018-03-22 16:21] kevin-williams commented on #1466
After cobbling together bits and pieces on loading the icons for react-native-elements I finally figured this out. Check out my blog for a write-up.
https://javascriptrambling.blogspot.com/2018/03/expo-icon-fonts-with-react-native-and.html

[2018-03-22 16:22] kevin-williams commented on #1041
After cobbling together bits and pieces on loading the icons for react-native-elements I finally figured this out. Check out my blog for a write-up.
https://javascriptrambling.blogspot.com/2018/03/expo-icon-fonts-with-react-native-and.html

[2018-03-22 17:39] MohamadKh75 commented on #1715
@akhil-geekyants Thanks!
[code]

solved the problem!

[2018-03-22 17:39] #1715 closed

[2018-03-22 18:57] lucasfls commented on #1261
Mate38, have you find a solution ?  I'm trying to do just like you, but when i put the floating label, my text input loses the mask. I'm using react-native-masked-text

[2018-03-22 20:08] Mate38 commented on #1261
I built my own floating label and used the masked text behind it worked

[2018-03-23 01:29] haydenflinner commented on #177
Putting a Body inside each list item fixed this for me.

[2018-03-23 03:08] ptaking commented on #358
@samthui There are multiple icons with the same name. How can I select a particular one?

[2018-03-23 04:07] SupriyaKalghatgi commented on #1716
@GollyJer Take a look at NativeBase-KitchenSink for examples
https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/src/screens/list/list-icon.js

[2018-03-23 04:07] #1716 closed

[2018-03-23 04:19] ashokkumar88 opened #1717 "Getting warnings after updated to react-native 0.54"
I updated the react native version to 0.54. After update i m getting multiple warning like below:

![capture](https://user-images.githubusercontent.com/11060139/37811305-5ab73896-2e7f-11e8-8a74-7e1ff6b264f2.PNG)
![capture2](https://user-images.githubusercontent.com/11060139/37811306-5aeeca0e-2e7f-11e8-8b60-ca8e2f0c986b.PNG)
![capture1](https://user-images.githubusercontent.com/11060139/37811308-5b

[2018-03-23 05:01] #1713 closed

[2018-03-23 05:13] SupriyaKalghatgi commented on #358
https://github.com/GeekyAnts/native-base-docs/blob/docs/updateTillTag2.3.10/docs/components/Icon.md

@samthui

[2018-03-23 05:15] SupriyaKalghatgi commented on #1717
#1665

[2018-03-23 05:15] #1717 closed

[2018-03-23 08:36] akhil-geekyants commented on #1706
@danieloprado no. Toast has a default timeout of 1500ms. It has been designed to hide after the timeout or button press whichever is earlier.
However, you can fork the library and change the code to meet your requirement.

[2018-03-23 10:25] ppozniak opened #1720 "Content with refreshControl and padder wrong paddings"
When using `Content` component with `padder` attribute everything is working as excepted. However adding `refreshControl` to this makes the left padding disappear.

Screenshot.
![image](https://user-images.githubusercontent.com/13921243/37824253-4e59aca2-2e8c-11e8-8b1d-06581cf5eeba.png)

## react-native, react and native-base version
0.54.2, 16.3.0-alpha.1, 2.3.7

[2018-03-23 12:16] SupriyaKalghatgi commented on #1079
Floating Label does not reset position when input is cleared, this is desired behavior

[2018-03-23 12:19] gogogous88 commented on #186
in XCode it sometimes put a blank part to:
{""}
search above bracket string and make sure you don't have that in your code~

[2018-03-24 04:37] varkrishna commented on #583
how to close drawer whenever any option is selected from drawer component

[2018-03-24 07:52] ilkerceng opened #1721 "collapsible or accordion component"
Hi dear community, is it possible to create accordion or collapsible component with nativebase? I couldn't see any component in the [docs](https://docs.nativebase.io/Components.html#Components) and in [nativebase-kitchen-sink](https://github.com/GeekyAnts/NativeBase-KitchenSink)

[2018-03-24 08:03] Arshiamidos commented on #583
this.props.navigation.navigate("closeDrawer")
@varkrishna

[2018-03-24 11:52] vasilgramov commented on #882
+1

[2018-03-24 12:08] acherkashin opened #1722 "Picker is hidden inside Header's Body"
"native-base": "^2.3.9"
"react-native": "0.51.0"

[code]
![image](https://user-images.githubusercontent.com/9947582/37863792-28d60482-2f75-11e8-9e98-92d21bb41005.png)

Why is Picker hidden inside Body?

[2018-03-24 16:15] MohamadKh75 commented on #47
+1 need validation

[2018-03-24 16:38] varkrishna commented on #583
this error is coming
`undefined is not an object (evaluating '_this2.props.navigation.navigate')
`

[2018-03-24 18:23] roykoren111 opened #1723 "Problem when using native-base after android-build"
Hello,
I have a problem with my app when using native-base.
My app works well on Expo (mobile), but after making android build (with the command 'react-native run-android') I just get the red screen as described below. It means that the build succees but then I get an error.
**Notice that in app which does NOT consists any native-base component, it works well in both Expo and android build.**

##

[2018-03-24 18:52] rsp8055 commented on #583
Which library are you using for navigation?
react-native-router-flux or react-navigation?

In react-native-router-flux:  you can just make
onPress={ () => Action.drawerClose() }

and in react-navigation :
props.navigation.navigate('DrawerClose') or NavigationActions.navigate('DrawerClose')

if still, you are facing issue then share some code snippet.

[2018-03-25 08:01] teamhide commented on #1705
@akhil-geekyants There is something error between my another code. Anyway, Thanks!

[2018-03-25 08:01] #1705 closed

[2018-03-25 09:51] varkrishna commented on #583
I am using React native router flux for navigation , and drawer component is imported from Native base. In Main view i have used drawer like -
`<Drawer`
                    `ref={(ref) => { this.drawer = ref; }}`
                    `content={<CustomDrawer navigator={this.navigator} />}`
                    `onClose={() => this.closeDrawer()} >`
                              `// View code `

[2018-03-25 10:47] immortalx commented on #1667
I have the same issue.
It doesn't work inside <Content /> or <ScrollView />. Maybe its a react-native issue?

[2018-03-25 18:47] rsp8055 commented on #583
You are using native-base drawer which supports the react-navigation library but you are using react-native-router-flux for navigation. Instead, you may use drawer API itself by react-native-router-flux.

here is the documentation:
_[](https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md#drawer-drawer-or-scene-drawer)_
here is the code(example):
[](https://github.com/aksonov

[2018-03-25 21:52] melvinsg commented on #64
Vector Icons are Native Base dependency, so it's even easier to include the needed collection:

`
import FontAwesome  from 'react-native-vector-icons/FontAwesome'
`

`
<FontAwesome name='calendar-plus-o' />
`

[2018-03-25 22:18] andidev opened #1724 "Header buttons not vertically aligned with header title"
## react-native, react and native-base version
[code]

## Expected behaviour
Buttons in header should be aligned with header title
![skarmavbild 2018-03-26 kl 00 11 46](https://user-images.githubusercontent.com/571389/37880555-ad2bea06-308a-11e8-858c-2bf779b5201b.png)

Setting icon paddingTop and marginTop to 0 seems to fix the issue:
[code]

## Actual behaviour
Buttons in header is not vertically

[2018-03-26 04:24] SupriyaKalghatgi commented on #583
NativeBase-KitchenSink has demo app with RNRF as well  https://github.com/GeekyAnts/NativeBase-KitchenSink/tree/RNRF

[2018-03-26 05:58] SupriyaKalghatgi commented on #64
https://github.com/GeekyAnts/native-base-docs/commits/docs/updateTillTag2.3.10

Soon to be live

[2018-03-26 06:14] akhil-geekyants commented on #1723
@roykoren111 checked this. It is working fine for me. Can you try removing the node modules, lock files  and do `npm install`.

Read more about using `native-base` with CRNA [here](http://docs.nativebase.io/docs/GetStarted.html)

[2018-03-26 06:44] akhil-geekyants commented on #1720
@ppozniak checked this. It is working fine for me . Attaching a gif.

Gif

![refreshcontrol](https://user-images.githubusercontent.com/27768184/37890714-3949929a-30ef-11e8-8148-44514b0397c8.gif)

[2018-03-26 07:02] akhil-geekyants commented on #1722
@acherkashin try setting a minWidth for Picker.
like
[code]

[2018-03-26 08:13] waritthornnudee commented on #1248
set type attribute depend on Bundled Icon Sets(list below)
Example <Icon name="flash-off" type="Entypo" />

Bundled Icon Sets
Entypo
EvilIcons
Feather
FontAwesome
Foundation
Ionicons
MaterialIcons
MaterialCommunityIcons
Octicons
Zocial
SimpleLineIcons

Nativebase use: react-native-vector-icons
See full docs here: https://github.com/oblador/react-native-vector-icons

[2018-03-26 08:16] waritthornnudee commented on #425
This way it work for me !
.
Set type attribute depend on Bundled Icon Sets(list below)
Example <Icon name="flash-off" type="MaterialIcons" />
.
Bundled Icon Sets
Entypo
EvilIcons
Feather
FontAwesome
Foundation
Ionicons
MaterialIcons
MaterialCommunityIcons
Octicons
Zocial
SimpleLineIcons
.
Nativebase use: react-native-vector-icons
See full docs here: https://github.com/oblador/react-native-vector-i

[2018-03-26 08:17] waritthornnudee commented on #389
`<Icon name="flash-off" type="MaterialIcons" />`

type depend on Bundled Icon Sets

Bundled Icon Sets
Entypo
EvilIcons
Feather
FontAwesome
Foundation
Ionicons
MaterialIcons
MaterialCommunityIcons
Octicons
Zocial
SimpleLineIcons

[2018-03-26 08:29] ppozniak commented on #1720
@akhil-geekyants Made a new snack: https://snack.expo.io/Hy91JEL9f
It seems to **work okay on iOS** however not on android:
![image](https://user-images.githubusercontent.com/13921243/37895091-9a884e16-30e0-11e8-9e76-87321743a3d9.png)

[2018-03-26 09:26] akhil-geekyants commented on #1720
@ppozniak same issue happens with react-native ScrollView.
But you can fix this by removing the padder and setting the padding to `contentContainerStyle` of `<Content/>`
[code]
We will be fixing this. Let us know if you are facing any issue.

[2018-03-26 15:54] SupriyaKalghatgi commented on #1079
Closing this issue

[2018-03-26 15:54] #1079 closed

[2018-03-26 20:31] Peeeep commented on #899
I don't know if this is still an issue for anyone, but this did the trick for me:

[code]

[2018-03-26 20:34] webcoweb opened #1730 "currently or active tab style and content loading doesn't work fine and ordered in NativeBase Tabs"
Hello
I have problem with using NativeBase Tabs , you can see my code below:

[code]

I must remember that I have  used **RTL supportation** according to below code

[code]

**I have taken my emulator screenshot  as below:**

![2018-03-27_0-27-09](https://user-images.githubusercontent.com/18191764/37930647-98e4fe42-3158-11e8-9a64-0ad0250691ad.gif)

now I don't know why active  or currently tab sty

[2018-03-26 20:56] andidev opened #1731 "Stacked Label Input value position is not fixed on focus"
When focusing a stacked label input the position of the input text moves up some pixels. See attached screenshots.

## react-native, react and native-base version
[code]

## Expected behaviour
Text should be fixed at same position as before the focus. The original text position should be positioned aligned with the placeholder. Instead the original text position is below the placeholder with some

[2018-03-26 21:38] andidev commented on #1731
A workaround is to set the the style of the input to `{lineHeight: null, top: 7}`, e.g.
[code]

[2018-03-26 22:54] JaEdmuva commented on #1083
Sorry to say this but, not having a device to test on is enough reason to close an unresolved issue? That's is very sad!! The issue is still there, the proposed solutions are just work arounds, but the issue is not really fixed. BTW I'm using v2.3.10. Please have a look at the issue again.

[2018-03-26 23:51] andidev commented on #1731
The problem exists in the search bar as well
![skarmavbild 2018-03-27 kl 01 50 57](https://user-images.githubusercontent.com/571389/37939081-68ccd186-3161-11e8-9c04-784d04b3d007.png)

[2018-03-27 00:06] kayzenkayzen commented on #1206
+1

[2018-03-27 02:18] SupriyaKalghatgi commented on #1716
@stokesbga I shared source code of similar use case
I am sorry if you cant do this either

[2018-03-27 05:47] akhil-geekyants commented on #1730
Related issue https://github.com/skv-headless/react-native-scrollable-tab-view/issues/653

[2018-03-27 05:52] bjartebore opened #1732 "Icomoon custom icons for IconNB"
Hi, and thanks for a great library :)

It would be great if IconNB could use custom icons as well as all the built in icons. react-native-vector-icons has a factory method for creating icon sets from icomoon.

## react-native, react and native-base version
react-native: 0.54.0
native-base: 2.3.9
## Expected behaviour
I would like to use the IconNB as this <IconNB name="my-cool-icon" type="Icomoon"

[2018-03-27 07:07] bhakta0007 opened #1734 "Unable to resolve module `./theme/components`"
## react-native, react and native-base version

"native-base": "^2.4.0",
"react": "16.2.0",
"react-native": "0.53.3",

## Expected behaviour

expected to work

## Actual behaviour

npm install on my project, react-native link and then run the project to see this error..

App throws a red screen with the error
[code]

## Steps to reproduce (code snippet or screenshot)

[code]

I don't see component

[2018-03-27 07:08] SupriyaKalghatgi commented on #1732
@bjartebore Did you check this?

![image](https://user-images.githubusercontent.com/13464885/37951893-a8249666-31bb-11e8-91f2-7719d460f369.png)

[2018-03-27 07:11] phwb opened #1735 "Missing "src/theme/components" folder in yarn repository"
Hi! I don't know is it your error or yarn cache but after today update i have missing `src/theme/components` folder. On [yarnpkg.com](https://yarnpkg.com/en/package/native-base?files) in files section this directory absent too.

[2018-03-27 08:03] SupriyaKalghatgi commented on #1734
@bhakta0007 Yes, we are looking into it

[2018-03-27 08:04] SupriyaKalghatgi commented on #1735
@phwb Yes, we are looking into it
Kindly follow #1734

[2018-03-27 08:04] #1735 closed

[2018-03-27 08:09] SupriyaKalghatgi commented on #1734
`theme/components` is missing
though it is present in repo on branch `master`

[2018-03-27 08:12] bhakta0007 commented on #1734
i worked around for now, by manually copying the components folder for master to my node_modules/native-base/....

[2018-03-27 08:14] SupriyaKalghatgi commented on #1734
https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1-0
Use this till we fix the issue

[2018-03-27 08:31] ReactDeveloperTwoQsoft commented on #1735
Here my solution:
    "native-base": "~2.3.0",
    "prop-types": "^15.6.1",
    "react": "16.3.0-alpha.1",
    "react-native": "0.51.0"
delete nativebase from node_module , yarn install and react-native link native-base
hard code ~ replace for ^ and reduce version => ~2.3.0

[2018-03-27 08:32] phatnguyenbg commented on #1734
"native-base": "~2.3.0",
    "prop-types": "^15.6.1",
    "react": "16.3.0-alpha.1",
    "react-native": "0.51.0",

[2018-03-27 08:42] SupriyaKalghatgi commented on #1734
Fixed with https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1

[2018-03-27 08:42] #1734 closed

[2018-03-27 10:04] SupriyaKalghatgi commented on #1274
Fixed with [2.4.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1)

[2018-03-27 10:05] SupriyaKalghatgi commented on #1206
Fixed with [2.4.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1)

[2018-03-27 10:05] #1206 closed

[2018-03-27 10:06] SupriyaKalghatgi commented on #1707
Fixed with [2.4.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1)

[2018-03-27 10:06] #1707 closed

[2018-03-27 10:06] SupriyaKalghatgi commented on #1687
Fixed with [2.4.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1)

[2018-03-27 10:06] #1687 closed

[2018-03-27 10:06] SupriyaKalghatgi commented on #1701
Fixed with [2.4.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1)

[2018-03-27 10:06] #1701 closed

[2018-03-27 10:07] SupriyaKalghatgi commented on #1688
Fixed with [2.4.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1)

[2018-03-27 10:07] #1688 closed

[2018-03-27 10:07] SupriyaKalghatgi commented on #1674
Fixed with [2.4.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.1)

[2018-03-27 10:07] #1674 closed

[2018-03-27 12:31] AndroConsis opened #1736 "FlatList inside Content item invokes onEndReached infinite times"
Steps to Reproduce:
[code]

while rendering the above JSX, I was facing the issue that `onEndReached `was getting called again and again after an interval when setting onEndReachedThreshold greater than 0.
Ultimately I found out that problem got solved by removing `Content` tag and replacing it with `<View style={{flex: 1}}`

Please look into this.

[2018-03-27 13:16] danieloprado commented on #1708
@NitroGhost Take a look at the pull request. I added a reason that onClosed was called.

[2018-03-27 14:06] bjartebore commented on #1732
@SupriyaKalghatgi sorry, but I fail to se the relevance, what I want is the possibility to use custom fonts generated from https://icomoon.io/

[2018-03-27 15:31] stokesbga commented on #1716
The use case is to put the picker in `<Right></Right>`? That didnt work for me

[2018-03-27 16:33] GollyJer commented on #1716
@stokesbga Yeah, the answer here wasn't helpful but we figured it out on our own.

Here's the component code from the screenshot above.
[code]

To start, the row with the title and the picker needs to be `space-between` justified to push the title to the left and the picker to the right.
[code]

Then, to "align" the text to the right you actually have to resize the picker on Android.
[code]

And f

[2018-03-27 18:34] kyledinh commented on #369
I just experienced this and I solved it with a minHeight for the containing <View>. This is my own work around, but it should hint at the potential cause of the problem. And hopefully, there will be a better fix then my solution.

[code]

[2018-03-27 19:34] spcotter commented on #627
In release, the displayName of the Input is set to "Styled(t)" instead of the expected "Styled(Input)". This prevents the inputProps from being set in [componentWillReceiveProps](https://github.com/GeekyAnts/NativeBase/blob/6551e42f7782a0591dc8afc8f82afb2a46b17852/src/basic/Item.js#L37) so the value isn't recognized as being set.

[code]
Example Snack:
https://snack.expo.io/SJqB3fu5M

A hackish fi

[2018-03-27 20:25] punksta commented on #534
I have similar issue on ios. It is not related to library, but maybe can give some advice.
I have auto-resizing webview inside scrollview
[code]
when I click on input inside html and keyboard opens, webview content scrolls to bottom a lot.

[2018-03-27 20:55] acherkashin commented on #1722
@akhil-geekyants yes, it works, picker is displayed. But what can I  need to display picker on the full width of a header?
![image](https://user-images.githubusercontent.com/9947582/37994487-59d2d7a2-321a-11e8-94fc-a489c22b4975.png)

[2018-03-27 21:33] andidev commented on #1731
@SupriyaKalghatgi
It's because you are not setting a value directly on the Input tag.

Try setting the value with a value from the state like this:
[code]

and then you will get the following result:
![skarmavbild 2018-03-27 kl 23 32 21](https://user-images.githubusercontent.com/571389/37996197-24040360-3217-11e8-9412-a28f21c79840.png)

[2018-03-28 05:03] SupriyaKalghatgi commented on #1732
@bjartebore you can fork NativeBase and try adding `Icomoon`
We dont have plans to do this

[2018-03-28 05:03] #1732 closed

[2018-03-28 05:09] SupriyaKalghatgi commented on #1716
As per my comment here https://github.com/GeekyAnts/NativeBase/issues/1716#issuecomment-375538617
Here is the code snippet
[code]
Here is the screenshot for this

![image](https://user-images.githubusercontent.com/13464885/38009840-fcbafefa-3273-11e8-997a-e532c2eaf2ed.png)

@stokesbga i hope your query is addressed appropriately

[2018-03-28 06:16] akhil-geekyants commented on #1722
@acherkashin you can override the style of `<Body/>` and set flex to 2. Also set style `alignSelf` of picker to `stretch`.

Code
[code]

[2018-03-28 07:26] akhil-geekyants commented on #1736
@AndroConsis See this issue https://github.com/facebook/react-native/issues/15356

[2018-03-28 08:17] NitroGhost commented on #1708
@danieloprado good enough 👍

[2018-03-28 09:43] ptaking commented on #870
@Jasbir23 I think OP means custom icon in a custom `.ttf` file. I'm having the same question.

[2018-03-28 10:07] miukki commented on #626
![image](https://user-images.githubusercontent.com/132497/38022711-d5eea418-32b2-11e8-8731-d8de4b3306b3.png)
8(

[2018-03-28 10:46] baskan commented on #627
nice find @spcotter !

[2018-03-28 20:36] trevor-coleman commented on #812
Apple HIG shows a centered title in the nav bar.

<img width="392" alt="screen shot 2018-03-28 at 4 34 42 pm" src="https://user-images.githubusercontent.com/22041394/38054813-02e1917c-32a6-11e8-9971-6c88ecfd60a0.png">

[2018-03-28 22:40] pirackr commented on #882
+1

[2018-03-29 05:41] ashokkumar88 commented on #1736
Replace the <Content> component with <View> and write the value for `onEndReached` as below
`onEndReached = {() => this.onEndReached()}`.
[code]

[2018-03-29 07:41] akhil-geekyants commented on #1704
Closing this due to no response

[2018-03-29 07:41] #1704 closed

[2018-03-29 12:57] akhil-geekyants commented on #1636
@jamesholcomb you can wrap the Tabs inside a View and set the View height greater than 50 (height of the tab bar).

[code]
Gif

![onlytabs](https://user-images.githubusercontent.com/27768184/38089753-26e79f02-337e-11e8-9f78-178a9bbb5aab.gif)

[2018-03-29 14:10] jamesholcomb commented on #1636
Thanks, I'll try that approach.

[2018-03-29 14:10] #1636 closed

[2018-03-29 14:44] Enverbalalic opened #1739 "SwipeRow swipeToClosePercent"
SwipeRow should have a swipeToClosePercent.
The current swipeToOpenPercent works when opening the list, but closing the swipeout is really difficult if you have ~3 buttons in the swipeout

[2018-03-29 16:42] Rutulpatel7077 commented on #937
Same issue after changing tabs from tab navigator it does not work

[2018-03-29 18:43] joshm101 commented on #627
@spcotter this worked for us! Thank you!

[2018-03-30 01:54] timhuff commented on #627
I've tried @spcotter's fix and it's not working for me. `native-base@2.3.1`

[2018-03-30 12:28] spcotter commented on #627
@timhuff were you able to output `Input.displayName` in release to see if it's correct? I couldn't get snack to install `native-base@2.3.1`.

[2018-03-30 12:29] ezakto commented on #882
+1

[2018-03-30 12:49] roykoren111 commented on #1723
Thank you for your response, but still not working for me.

[2018-03-30 20:01] timhuff commented on #627
@spcotter I'm pretty sure I verified that - I spent a decent amount of time trying to get it to work. I'll double check here when I get second. For now, I decided to just stop using floating labels and go with the default behavior until this feature's a bit less buggy. It's not as nice but it's better than giving my users the impression on the get-go (login) that the app is buggy.

[2018-03-30 20:30] dchersey commented on #1460
Thank you, this is helpful.  How would I know which tab is active if the user click on it (instead of me doing so programmatically?

[2018-03-30 23:00] jstansbe opened #1740 "Change default colors without ejecting"
Edit:
I've followed the customization instructions from the website (https://docs.nativebase.io/Customize.htm) and don't see any changes when editing the below color props in the platform.js file. The UI comps are great but i need to update colors!

I'm edditing the colors here:

  // Color
  brandPrimary: platform === "ios" ? "#ff0000" : "#ff0000",
  brandInfo: "#62B1F6",
  brandSuccess: "#5cb85c

[2018-03-31 10:54] teamhide opened #1741 "Input appears too slow"
When I load page that contains `<InputGroup> and <Input>`, It's visible is too slow.

![moveinput](https://user-images.githubusercontent.com/8403122/38162462-b2786840-351c-11e8-98e4-5d49d46ccc76.gif)

Additionally, size is not fixed and placeholder also appears slow.

How can I solve this issue?

I just used StackNavigator and native-base version is `2.3.10`

[Board.js]
[code]

[BoardDetail.js]
[c

[2018-03-31 11:21] brownieboy commented on #1628
There's a **side** prop that takes "left" or "right" values, e.g:
[code]

[2018-03-31 18:15] timhuff commented on #369
@kyledinh You're a life saver! Luckily I didn't run into the problem 5 days ago.

[2018-03-31 20:48] kodayashi opened #1742 "Disabled transparent buttons should stay transparent and "disable" text inside."
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-03-31 20:55] kodayashi commented on #1742
FWIW, I changed the buttonTheme's "disabled" style to work around this. I change it from

`  const buttonTheme = {
    '.disabled': {
      backgroundColor: variables.btnDisabledBg,
    },`

to

`  const buttonTheme = {
    '.disabled': {
      '.transparent': {
        backgroundColor: 'transparent',
        'NativeBase.Text': {
          color: variables.btnDisabledBg,
        },
      },

[2018-04-01 03:41] garan82 opened #1743 "[bug] small button with icon on iOS"
Env: native base 2.4.1
Expo: 26.0.0
React native: 0.54
Reactjs: 16.3.0-alpha.1

Repo: create a small button with Icon on iOS
Issue: icon is cut off, button works fine on Android

[2018-04-01 08:26] raajnadar commented on #1532
This will be very help for instead of hardcoding in each form.

Put a padding in the theme/components/Label.js file the path may be different for you

[code]

[2018-04-01 21:06] iCueto opened #1744 "Tooltips"
Hey, community... I've looking for a tooltip component, and there are not a component like that!

Would be cool have a component like that. Thanks!!

[https://material.io/guidelines/components/tooltips.html#tooltips-usage](https://material.io/guidelines/components/tooltips.html)

[2018-04-02 00:55] alexiss03 opened #1745 "Picker selected item label is cropped after selecting an item"
Hi, I integrated Picker in my existing application and I found this bug that whenever the user selects an item, the selected item label is always cut at the top. Not sure if I'm missing something or misused the component.

## react-native, react and native-base version
react-native:  0.52.3
native-base: 2.3.9

## Expected behaviour
Label for the selected item is not cropped

## Actual behaviour
La

[2018-04-02 02:12] andaGS commented on #1664
still happen,please help..

[2018-04-02 03:41] #1706 closed

[2018-04-02 03:48] SupriyaKalghatgi commented on #1723
@roykoren111 Delete node modules and lock files and do `yarn`

[2018-04-02 03:48] SupriyaKalghatgi commented on #1723
@roykoren111 you can check NativeBase-KitchenSink which has same versions that you mentioned

[2018-04-02 03:54] SupriyaKalghatgi commented on #1741
`InputGroup` is deprecated
Check docs https://docs.nativebase.io/Components.html#Form

[2018-04-02 03:54] #1741 closed

[2018-04-02 04:00] SupriyaKalghatgi commented on #1744
#38

[2018-04-02 04:00] #1744 closed

[2018-04-02 04:08] #1736 closed

[2018-04-02 04:09] #1722 closed

[2018-04-02 04:13] tonilxm commented on #787
I think this issue should be stay opened. Solution from  @manuelkch  will make KeyboardAvoidingView stop working in Android and What @yeknava offer is just a work around.

[2018-04-02 14:24] warrenbell opened #1746 "What is the latest compatibility of 2.4.1 with react and react native ?"
Just want to know the latest compatibility.

[2018-04-02 15:10] sanyesz123 commented on #1550
@yarian Add **block** attribute too.

[2018-04-02 20:55] bamaboy commented on #1708
@akhil-geekyants  It seems that @danieloprado solved the problem. Any idea when his PR would be merged?

[2018-04-03 01:37] calendarbudget commented on #882
+1

[2018-04-03 03:25] idrakimuhamad commented on #1731
I can second this. It only happened if we assign the `value` props to the input and the text only "jump" down whenever user starts typing which then updating the `value` props. @andidev workaround by setting `lineHeight` to null help to overcome this.

Dependencies:

[code]

[2018-04-03 06:29] akhil-geekyants commented on #1740
@jstansbe Posting a sample code with gif

Code
[code]
Gif

![customizetheme](https://user-images.githubusercontent.com/27768184/38232844-1de21ef8-3736-11e8-9d01-805e017bce02.gif)

Check here for any reference http://docs.nativebase.io/Customize.html#Customize

[2018-04-03 06:46] akhil-geekyants commented on #1742
@kodayashi try placing transparent prop at end
like
[code]

[2018-04-03 07:09] SupriyaKalghatgi commented on #1740
@jstansbe If you want to customize anything with NativeBase theme, then its good practice to eject the theme and then go ahead with your customizations

[2018-04-03 07:13] akhil-geekyants commented on #1745
@alexiss03 can you post more code( the whole card code).

[2018-04-03 07:29] akhil-geekyants commented on #1664
@andaGS can you post your code. Can you try this https://github.com/GeekyAnts/NativeBase/issues/1664#issuecomment-371391968

[2018-04-03 07:32] AdrianMrn commented on #1226
@waisbek I couldn't find anything about Textarea in the NativeBase docs, any idea where I can find more information?

[2018-04-03 08:05] alexiss03 commented on #1745
@akhil-geekyants Here's the code for the card.

[code]

[2018-04-03 08:17] ThomasLabstep commented on #985
Any hotfix for now with v2.3.10 ?

[2018-04-03 08:39] achubai commented on #1145
@elivinsky It works but causes an error in typescript.

`Type '{ color: string; }' is not assignable to type 'StyleProp<ViewStyle>'.
  Property 'color' does not exist on type 'StyleProp<ViewStyle>'.`

[2018-04-03 08:50] akhil-geekyants commented on #1532
@raajnadar checked this with native-base : 2.4.1. Couldn't see this. Posting code.
Code
[code]
Video

[cutoff.mp4.zip](https://github.com/GeekyAnts/NativeBase/files/1870787/cutoff.mp4.zip)

[2018-04-03 11:06] akhil-geekyants commented on #1746
@warrenbell from react-native 0.54.0 onwards you may get the warning for updating the lifecycle methods. native-base works fine with
[code]

[2018-04-03 11:27] kirkjoan commented on #246
Do you have an update on this? I am facing same issue.

[2018-04-03 11:36] AdrianMrn commented on #985
Any chance this will be fixed anytime soon?

[2018-04-03 12:59] Slessi opened #1747 "keyboardShouldPersistTaps missing from typings"
## react-native, react and native-base version
- RN `0.54.0`
- R `16.3.0`
- NB `2.4.1`
## Expected behaviour
Typings present
## Actual behaviour
Typings not present
## Steps to reproduce (code snippet or screenshot)
[code]

## Screenshot of emulator/device
n/a
## Is the bug present in both ios and android or in any one of them?
Yes
## Any other additional info which would help us debug the issue q

[2018-04-03 12:59] akhil-geekyants commented on #1745
@alexiss03 if you are making any change to the fontSize, change the lineHeight accordingly.

[2018-04-03 14:05] waltermvp commented on #737
is the checkbox prop no longer supported?

[2018-04-03 14:43] lmichailian commented on #1226
@AdrianMrn It's same that Input.

[2018-04-03 15:42] toantran-ea commented on #882
+1

[2018-04-03 17:10] raajnadar commented on #1619
What if I want to set the Header color in all my views??

I tried changing the value in the themes/components/Header.js file
`backgroundColor: variables.toolbarDefaultBg`

This var is declared in themes/variables/platform.js file so I changed

`toolbarDefaultBg: platform === 'ios' ? '#F8F8F8' : '#FFFFFF',`
The above code didn't work

But as soon as I replace it with this code it works..
`backgroun

[2018-04-03 17:13] jacargentina opened #1749 "Button not working nice on android with v2.4.1"
## react-native, react and native-base version
react-native: 0.54.4
react: 16.3.0
native-base: 2.4.1

## Expected behaviour
Display as it was on v2.3.10, just fine
## Actual behaviour
Displaying too tall
## Steps to reproduce (code snippet or screenshot)

The component source (base class)

[code]

## Screenshot of emulator/device

![button-2 3 10](https://user-images.githubusercontent.com/517228/3

[2018-04-03 19:29] muratakbal opened #1750 "Input doesn't use the inputColorPlaceholder provided by the custom theme"
## react-native, react and native-base version
react-native: 0.50.3
react: 16.0.0
native-base: 2.4.1

## Expected behaviour
When a custom theme is used, the placeholder color of input should be used from the custom theme's
`inputColorPlaceholder`.

## Actual behaviour
Since the `Input` component doesn't get the variables from the theme in the context, it uses default theme's `inputColorPlaceholder

[2018-04-03 21:56] Rutulpatel7077 opened #1752 "ActionSheet Sucks! null is not an object"

[2018-04-03 22:37] bgbraga commented on #224
How can I put title center after that change?

[2018-04-04 00:12] alexiss03 commented on #1745
@akhil-geekyants Setting the lineHeight fixes this issue. Thanks!

Closing this now.

[2018-04-04 00:12] #1745 closed

[2018-04-04 04:01] SupriyaKalghatgi commented on #1226
@AdrianMrn You can check it in NativeBase KitchenSink [here](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/src/screens/form/textArea.js)

[2018-04-04 04:05] #1746 closed

[2018-04-04 04:09] SupriyaKalghatgi commented on #737
@waltermvp Please check docs
Also stay tuned for new update of docs

[2018-04-04 04:11] waltermvp commented on #737
Do you have a link to the docs? I've seen with both checkbox as a prop and another that says to use theming.

[2018-04-04 04:12] SupriyaKalghatgi commented on #1749
@jacargentina Please share device configuration for this Android emulator

[2018-04-04 04:15] SupriyaKalghatgi commented on #1752
Closing this due to insufficient information

[2018-04-04 04:15] #1752 closed

[2018-04-04 04:16] SupriyaKalghatgi commented on #1752
Can you use some better language?

[2018-04-04 06:07] SupriyaKalghatgi commented on #1723
Here is the working repo https://github.com/GeekyAnts/NativeBase-KitchenSink/tree/CRNA

[2018-04-04 06:07] #1723 closed

[2018-04-04 06:13] #1740 closed

[2018-04-04 07:02] AdrianMrn commented on #1226
@SupriyaKalghatgi cool, thanks

[2018-04-04 07:44] akhil-geekyants commented on #1145
@achubai can you try textStyle prop of Picker
[code]

[2018-04-04 08:04] achubai commented on #1145
@akhil-geekyants Unfortunately, it doesn't work properly on android.

![download](https://user-images.githubusercontent.com/15085422/38295779-dcc1104c-37f7-11e8-8ed2-192234b759eb.png)

[2018-04-04 08:07] SupriyaKalghatgi commented on #1689
@kodayashi To unify the behavior across Android and iOS platforms, we have Modal approach with iOS Picker

[2018-04-04 10:04] havinhthai commented on #1665
+1

[2018-04-04 10:05] akhil-geekyants commented on #1619
@raajnadar checked this. `toolbarDefaultBg` is working fine for me. Attaching a gif.

Gif

![headerbackground](https://user-images.githubusercontent.com/27768184/38301559-89a4bfe6-381d-11e8-809a-dacdd78dd6e8.gif)

[2018-04-04 10:35] akhil-geekyants commented on #1749
@jacargentina as a temporary fix you can set the maxHeight of button to 45(height of the button).
We will be fixing this.

[code]

[2018-04-04 10:46] raajnadar commented on #1619
See I am testing my app with Expo and my Xperia M android 7.1.1, whenever I try to use variables they don't work but as soon as I hard code them inside the component's JS file they work.

Tried clearing the cache did everything that is stated in the docs but nothing worked. Currently I am setting colors for Header.js file hard coded, due to the hard code the status bar color does not change as per

[2018-04-04 10:49] akhil-geekyants commented on #1619
@raajnadar can you create a test repo for us to check.

[2018-04-04 10:59] raajnadar commented on #1619
Forgot to mention I am using the exact copy of this repository https://github.com/GeekyAnts/NativeBase-KitchenSink just to get a kick start.

I am using the CRNA branch the only thing that I did is removed few dependencies. This is how my dependencies look now.

[code]

And I switched to expo sdk 26 just now.

[2018-04-04 12:03] eivindvr commented on #768
Works for me as well. thanks!

[2018-04-04 12:44] jacargentina commented on #1749
@SupriyaKalghatgi is this what you need? Contents of `config.ini`

[code]

[2018-04-04 13:13] Osama92 commented on #1054
use yarn add native-base

[2018-04-04 14:39] DinDents commented on #1730
I have the same problem. Any solution?

[2018-04-04 21:10] bgbraga opened #1755 "Is not possible to change color of selected Picker Item"
I checked Picker.Item documentation and source code and apparentely there is not property to change the color of selected item.

I only found a way to change all Picker Items:

`<Picker itemTextStyle={{color: '#000000'}`

But I think is expected a way to change the selected item color.

[2018-04-04 21:35] blackdynamo commented on #591
This is silly that this has been open for over a year. There are other issues relating to the same problem. @akhil-geekyants your solution in the gif doesn't include `floatingLabel`. You have:

```<Item></Item>```

it fails with:

```<Item floatingLabel></Item>```

I don't know how much more clear we can get with the problem. I can't use the NativeBase Inputs because of this, I have to roll my own

[2018-04-04 21:44] waltermvp commented on #737
@supriyakalghatgi

[2018-04-04 23:51] kodayashi commented on #1689
@SupriyaKalghatgi - I'm a bit confused, I implemented the Picker component, but on iOS a sheet comes up with a list of options, not iOS's native picker (which react native calls PickerIOS). Does NativeBase have an option for the picker to be the native PickerIOS? I couldn't find a way to do it.

[2018-04-05 04:01] SupriyaKalghatgi commented on #1755
#1653

[2018-04-05 04:01] #1755 closed

[2018-04-05 04:05] SupriyaKalghatgi commented on #737
@waltermvp you could Google it !

[2018-04-05 04:05] SupriyaKalghatgi commented on #737
https://docs.nativebase.io/

[2018-04-05 04:10] waltermvp commented on #737
I have seen that documentation and conflicting documentation as well. 'checkboxSize' seems broken to me despite the documentation. However in some docs within the repo it suggests to only use a theme.  @supriyakalghatgi

[2018-04-05 04:12] SupriyaKalghatgi commented on #737
@waltermvp

Please elaborate on this

[2018-04-05 04:15] SupriyaKalghatgi commented on #737
`checkboxSize` works fine from theme
https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/variables/commonColor.js#L94

[2018-04-05 06:58] dmitriyermolin commented on #1724
Try to adjust lineHeight

[2018-04-05 07:29] dmitriyermolin commented on #1730
As a workaround, you can wrap all your tab data into array of objects like this:
[code]

Then you can use separate function to render tabs:
[code]

And in render() just use renderTabs() with tabData or tabData.reverse() as an argument:
[code]

[2018-04-05 10:36] webcoweb commented on #1730
Hi @dmitriyermolin
thanks, I`ll try it and I hope it will work.

[2018-04-05 10:44] bgbraga commented on #1755
I see that is not possible.

What is expected with that issue is implement that, not close.
If is not possible to pass "selected style" to Picker, another implement suggestion:

<Picker.Item label="My Item" value="My Item" textStyle={{color: '#66bdca'}}/>

The is no problem to do that. The work is just get Picker.Item style and pass to <Text>.
In that case we as Picker users will control the Picke

[2018-04-05 11:09] svlada commented on #474
@sankhadeeproy007 Could you please reconsider adding this as input-mask is really common stuff in any of the UI frameworks.

[2018-04-05 17:13] cseelus commented on #122
Adding a border doesn't work on Android, can anybody confirm that?

[2018-04-06 08:13] khalibloo commented on #159
Here's my workaround. Simply scale the whole thing instead of using font size and line height.
`<Badge style={{scaleX: 0.7, scaleY: 0.7}} primary><Text>1</Text></Badge>`
I don't know if it has any drawbacks or how well it works for extreme scales, but it should cover simple minor adjustments at the very least.

[2018-04-06 10:28] roboza opened #1756 "componentWillMount is deprecated"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-04-06 10:30] SupriyaKalghatgi commented on #1756
#1665

[2018-04-06 10:30] #1756 closed

[2018-04-06 13:47] devaloreLtd commented on #518
+1

[2018-04-06 18:10] nhannah commented on #1678
I am seeing the same warning with redux-form

[2018-04-06 23:19] unkownymouse opened #1757 "Button with style prop not showing in Android"
I'm trying to place a button at a certain point in the screen. But the button doesn't get displayed in Android but there is no problem with iOS.

## react-native, react and native-base version
"native-base": "^2.4.1",
"react": "16.3.1",
"react-native": "0.54.4",

## Expected behaviour
The button should be rendered on Android.

## Actual behaviour
The button is not rendering on Android.

## Steps t

[2018-04-07 09:37] eldadcaspi commented on #518
+1

[2018-04-07 11:41] baliganikhil commented on #858
@Knight1988 Yup. That did the trick for me.

[2018-04-07 14:45] wedneyyuri commented on #1550
@yarian I also can't understand why the issue https://github.com/GeekyAnts/NativeBase/issues/795 was closed. The expected behavior is to follow material design specs without any additional customization.

[2018-04-07 16:03] wedneyyuri commented on #1550
@rohithramachandran  Are you sure? It's working for me (using v2.4.1).

[code]
![image](https://user-images.githubusercontent.com/7511692/38457234-00b7f830-3a64-11e8-89ee-6a463b140d92.png)
![image](https://user-images.githubusercontent.com/7511692/38457242-16d72afa-3a64-11e8-9691-94ea8fbf70c5.png)

[2018-04-08 05:54] havinhthai opened #1758 "Warning componentWillReceiveProps/ componentWillUpdate is deprecated"
## Version

react-native: 0.55.0
react: 16.3.0-alpha.0
native-base: 2.4.1

## Issues
Warning componentWillReceiveProps/ componentWillUpdate is deprecated and will be removed in the next major version.

I don't know how to fix the problem, unless use react-native lower version.

[2018-04-08 09:50] mofesolapaul commented on #122
Confirmed

[2018-04-08 10:03] marko-hologram commented on #1758
It's not a big problem, everything will still work, but those methods will probably be removed in React 17. Deprecated doesn't mean it doesn't work, it just means there is a better replacement for it. If you use them while developing your app, you can use the new lifecycle methods described in the blog post below. If they are maybe used in native-base, then it's nothing you can do until they updat

[2018-04-08 18:42] rottenoats commented on #425
@waritthornnudee thank you. Saved me so much time.

[2018-04-09 04:11] SupriyaKalghatgi commented on #1758
#1665

[2018-04-09 04:11] #1758 closed

[2018-04-09 05:51] slicejunk commented on #1536
please review this PR @SupriyaKalghatgi

[2018-04-09 05:57] akhil-geekyants commented on #1757
@unkownymouse not a NativeBase issue.
Same happens with react-native `<ScrollView/>`. NativeBase `<Content/>` is an implementation of React Native `<ScrollView/>`. Pasting the test code.

Code
[code]

[2018-04-09 05:57] #1757 closed

[2018-04-09 07:05] ppozniak commented on #1003
Same here, my toast just won't show, despite fact my Provider has `<Root>`

[2018-04-09 11:38] Slessi opened #1762 "Jest throws an error when rendering a floatingLabel"
## react-native, react and native-base version
[code]
## Expected behaviour
Test runs without throwing an error

## Actual behaviour
Test throws the following error

[code]

## Steps to reproduce (code snippet or screenshot)
Was filed by someone else here facebook/jest#5205 but it was closed as it did not appear to be a jest specific issue

There is a repo to reproduce here: https://github.com/tyl

[2018-04-09 14:00] sinevitch opened #1763 "Cannot find entry file index (native-base-example-rnrf)"
# **Issue Description**
I'm trying to use the library native-base-example-rnrf
According to the documentation https://docs.nativebase.io/docs/examples/navigation/RNRFBasicExample.html

Cannot find entry file index
![image](https://user-images.githubusercontent.com/35930695/38500264-950f7972-3c12-11e8-93f2-e32504879136.png)

![image](https://user-images.githubusercontent.com/35930695/38502303-b2e5a

[2018-04-09 14:15] akhil-geekyants commented on #1763
@sinevitch try creating an `index.js` file manually in the project root and copy the content of `index.ios..js` to it.

[2018-04-09 16:29] SirPhemmiey commented on #1302
This should be a bug

[2018-04-10 04:03] SupriyaKalghatgi commented on #591
@Amonith @blackdynamo The example by @akhil-geekyants includes `<Item floatingLabel>`

[2018-04-10 06:00] sudhirkumarojhaa opened #1764 "<Content> not showing inside modal"
[code]

## Expected behaviour
<Content></Content> should work as it does normally in normal views.

## Actual behaviour
<Content></Content> is not rendering inside the react native modal.

## Is the bug present in both ios and android or in any one of them?
The issue exists in iOS. Didn't check fin Android.

## Screenshot of emulator/device
![screen shot 2018-04-10 at 11 17 51 am](https://user-ima

[2018-04-10 06:11] SupriyaKalghatgi commented on #1763
https://github.com/GeekyAnts/native-base-example-rnrf/issues/2

[2018-04-10 06:11] #1763 closed

[2018-04-10 07:55] mnlbox commented on #1665
+1

[2018-04-10 22:50] stepankoci opened #1765 "Typescript error: Interface 'Card' incorrectly extends interface 'ReactListViewProperties'"
[code]

## Expected behaviour

`./node_modules/.bin/tsc --pretty` command should not return any errors

## Actual behaviour

[code]

Thank you for Native Base and thank you for helping with this issue!

[2018-04-11 00:07] aspidvip opened #1766 "bug Item stackedLabel is Android"
Hello!
"react-native": "0.49.5",
"native-base": "^2.4.1",

`render() {

      return (
        <Container>
        <Content>
          <Form>
          <Item stackedLabel>
            <Label>Username</Label>
            <Input />
          </Item>
          <Item stackedLabel last>
            <Label>Password</Label>
            <Input />
          </Item>
          </Form>
        </Content>

[2018-04-11 00:13] aspidvip commented on #1766
![bug1](https://user-images.githubusercontent.com/22605655/38589850-f7c39530-3d70-11e8-9c53-aa537160b562.gif)

[2018-04-11 04:01] amalpba commented on #627
I've got the same problem

[2018-04-11 05:09] SupriyaKalghatgi commented on #1244
NativeBase supports web version with 2.4.1
Check docs https://docs.nativebase.io/docs/GetStarted.html

[2018-04-11 05:09] #1244 closed

[2018-04-11 07:08] phatnguyenbg opened #1767 "tabStyle changing width and padding"
I have many tabs in page. So, the title each tab's difference long. So, the wide of tab is similar, I'm not ability to change it.
Although, I'm using tabStyle property, changed (width and padding), but it's not effect it.
How to change the width of tab1 is difference other?
![capture](https://user-images.githubusercontent.com/29854376/38601434-c37b6bf6-3d91-11e8-9ea3-99d64b90e78e.PNG)

[2018-04-11 07:34] akhil-geekyants commented on #1766
@aspidvip try setting the lineHeight same as fontSize.

Gif

![lineheight](https://user-images.githubusercontent.com/27768184/38602562-be7e14e0-3d88-11e8-9375-a31d7d895f7f.gif)

[2018-04-11 07:40] gits-ram commented on #1666
@RobertHeim Did you manage to work around this issue? I am facing the same problem, when using Tabs app with React-Native-Navigation.

Native-Base team, this is a valid issue. Could this be looked into please?

[2018-04-11 07:44] sudhirkumarojhaa commented on #1764
Thanks, it worked,closing the issue now

[2018-04-11 07:44] #1764 closed

[2018-04-11 09:14] akhil-geekyants commented on #1767
@phatnguyenbg try changing width of both `tabStyle` and `activeTabStyle` of `<Tab/>`.

[2018-04-11 09:36] sudhirkumarojhaa opened #1768 "Button not working fine in android"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also,**DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-04-11 09:56] aspidvip commented on #1766
Ok thansk!!! is working

[2018-04-11 09:56] SupriyaKalghatgi commented on #1768
#1749

[2018-04-11 09:56] #1768 closed

[2018-04-11 09:58] #1767 closed

[2018-04-11 10:09] sudhirkumarojhaa opened #1769 "Button not working fine in android"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-04-11 10:26] sudhirkumarojhaa commented on #1768
This issue is  not same , as you mentioned in the comment above the problem is with width and not height, I want to align the icon in the left corner and text in center , Please reply here

[2018-04-11 10:36] akhil-geekyants commented on #1768
@sudhirkumarojhaa use `block` props with `<Button/>`

[code]

[2018-04-11 10:39] sudhirkumarojhaa commented on #1768
I did used the block props but the text is not coming in center

[2018-04-11 10:44] akhil-geekyants commented on #1768
@sudhirkumarojhaa posting code

Code
[code]
![screenshot_1523443423](https://user-images.githubusercontent.com/27768184/38612145-69f825bc-3da3-11e8-9522-86de57e57cd4.png)
![simulator screen shot - iphone 6 - 2018-04-11 at 16 13 56](https://user-images.githubusercontent.com/27768184/38612146-6a2a0316-3da3-11e8-888f-f4d76b09805e.png)

[2018-04-11 10:59] sudhirkumarojhaa commented on #1768
Thanks a lot, will check this by adding, one more issue is there the header title in Android is not coming in center. and the character limit is less it shows .... when exceeds the limit. can you help regarding this?

[2018-04-11 13:41] akhil-geekyants commented on #1768
@sudhirkumarojhaa you can do something like this for header.
[code]

[2018-04-11 13:51] sojimon opened #1771 "How to hide drawer from SignIn Scene ?"
Hi,
    In my app, I used drawer.Now the  problem  is the drawer is available in all scenes.I need not want drawer in the SignIn scene.How can I do that?. For routing I used react-native-router-flux.

## react-native, react and native-base version
       "react-native": "0.54.1",
       "native-base": "^2.3.10",
## Expected behaviour
      Need not show drawer in SignIn Screen.
## Actual behaviour

[2018-04-11 15:29] isaaclem opened #1772 "Unable to change borderBottomColor at activeTabStyle"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

## react-native, react and native-base version
"native-base": "^2.3.10",
"react": "16.2.0",
"react-native": "https://github.com/expo/react-native/ar

[2018-04-11 22:04] RobertHeim commented on #1666
@gits-ram no, we ended up using a different lib for toasts.

[2018-04-11 22:44] Almaju commented on #1418
I made it work with https://github.com/APSL/react-native-keyboard-aware-scroll-view on Expo

You need to add this to app.json:
    "androidStatusBar": {
      "backgroundColor": "#000000"
    },

Then:
    import React from 'react';
    import { Platform, View } from 'react-native';
    import { KeyboardAwareScrollView } from 'react-native-keyboard-aware-scroll-view';

    const Content = () => (

[2018-04-12 04:13] SupriyaKalghatgi commented on #1772
@isaaclem I find there is wrong usage of components
Please refer docs

[2018-04-12 04:13] #1772 closed

[2018-04-12 04:15] SupriyaKalghatgi commented on #1768
@sudhirkumarojhaa

This is as per material design guidelines

[2018-04-12 06:31] SupriyaKalghatgi commented on #1665
NativeBase 2.4.1 works fine with React 16.3.1 and React-Native 0.55.0
No fixes needed from NativeBase side. The reason because React 16.3.0-alpha.1 announced just the warning messages for deprecated lifecycle methods and not introduced its replacements.
React 16.3.1 introduced new aliases for these unsafe lifecycles namely, `UNSAFE_componentWillMount`, `UNSAFE_componentWillReceiveProps` and `UNSAF

[2018-04-12 06:31] #1665 closed

[2018-04-12 07:12] karthickeyang commented on #483
hi,
i am new to react native,  when using onChangeText with <Input /> i can able to type, but text not showing in input box.

`<View>
        <Header searchBar rounded>
        <Item>
            <Icon name="ios-search" />
            <Input
            onChangeText= { term => this.setState({ term })}
            value={this.state.term}
            />
            <Icon name="ios-people" />

[2018-04-12 07:12] techyrajeev opened #1773 "Scrollable Tab heading label removed/invisible when clicked"
## Issue with ScrollableTab

Tab heading is generated dynamically for letters A to Z.
#### Versions:
react-native: 0.53.0,
react:16.2.0,
native-base:2.4.1
#### Expected behaviour :

clicking on scrollable tab should go to corresponding tab-view and tab should remain as it is with its label intact
### Actual behaviour :

clicking on scrollable tab hides the tab-label and removes first tab heading l

[2018-04-12 10:11] Zilleabbas10 commented on #508
Still getting height isuue in tabs. i have two tabs and my tabs adopt height of the tab which have heighest height. please help, i have implmented almost all solutions either by placing content of tab with in <Content> tag or by passing whole data to Flatlist. your help is appreciated in advance. Thankyou

[2018-04-12 10:13] Zilleabbas10 commented on #577
Still getting height issue in tabs. i have two tabs and my tabs adopt height of the tab which have heighest height. please help, i have implmented almost all solutions either by placing content of tab with in `<Content>` tag or by passing whole data to Flatlist. your help is appreciated in advance. Thankyou

[2018-04-12 10:13] Zilleabbas10 commented on #577
Still getting height issue in tabs. i have two tabs and my tabs adopt height of the tab which have heighest height. please help, i have implmented almost all solutions either by placing content of tab with in `<Content>` tag or by passing whole data to Flatlist. your help is appreciated in advance. Thankyou

[2018-04-12 10:19] SupriyaKalghatgi commented on #508
@Zilleabbas10 Please check above comments, snippets for help
Also check NativeBase KitchenSink and try replicating your use case there

[2018-04-12 10:39] abhijitwani83 commented on #1773
I am also facing the same issue. Once I click on second tab first and second tab becomes empty.
Please help me to fix this issue.

[2018-04-12 11:04] SupriyaKalghatgi commented on #1731
@andidev I still couldn't reproduce this issue, works fine
![stacked-label](https://user-images.githubusercontent.com/13464885/38673576-58e7c8f0-3e6f-11e8-9bb7-cbd6ea12d7c7.gif)

[2018-04-12 11:58] andidev commented on #1731
Are you using the latest branch? Looks like somebody committed a fix for this.

[2018-04-12 18:10] blackhair commented on #518
+1

[2018-04-12 18:35] mrfarhadir commented on #518
+1

[2018-04-12 18:59] kamal0808 commented on #1665
Is there a way to hide the warnings? They cover the footer area, making it difficult to develop

[2018-04-12 19:05] zachthethird commented on #1765
Seeing the same issue.

[2018-04-12 19:47] jrryhrtn opened #1774 "testID property does not map from NativeBase component to the react-native base component class"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-04-12 20:13] n1arash commented on #518
+1

[2018-04-12 20:13] MohamadKh75 commented on #518
+1

[2018-04-12 22:54] aspidvip commented on #1766
Hiding Fonts
![bug4](https://user-images.githubusercontent.com/22605655/38708139-218898ba-3ef8-11e8-942c-74c82703894c.gif)

[2018-04-12 23:01] aspidvip commented on #1766
`<Container>
          <Content>
            <Form>
            <Item stackedLabel>
              <Label>Username</Label>
              <Input style={{lineHeight: 17}} />
            </Item>
            <Item stackedLabel last>
              <Label>Password</Label>
              <Input />
            </Item>
            </Form>
          </Content>
        </Container>`
![bug5](https://user-images

[2018-04-13 03:51] SupriyaKalghatgi commented on #1665
@kamal0808 As i said earlier, you can upgrade versions of React and React Native to get a fix.

If you want to stick to these versions which gives you warnings, then may be you can do this `console.disableYellowBox = true; ` anywhere in your application

[2018-04-13 05:52] mahshadalishahi commented on #518
+1

[2018-04-13 06:06] akhil-geekyants commented on #1003
@ppozniak can you create a test repo for us to test.

[2018-04-13 06:15] #1766 closed

[2018-04-13 07:42] #1750 closed

[2018-04-13 10:08] habibi-dev commented on #518
low priority :|

[2018-04-13 10:39] akhil-geekyants commented on #1624
@ekimlinger the underlying component does not use color as style property. Color becomes an invalid style key.

[2018-04-13 10:41] #1624 closed

[2018-04-13 12:45] akhil-geekyants commented on #1599
@ppozniak were you able to solve this issue

[2018-04-13 14:35] SupriyaKalghatgi commented on #1743
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:35] #1743 closed

[2018-04-13 14:35] SupriyaKalghatgi commented on #1742
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:35] #1742 closed

[2018-04-13 14:36] SupriyaKalghatgi commented on #1749
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:36] #1749 closed

[2018-04-13 14:36] SupriyaKalghatgi commented on #1724
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:36] #1724 closed

[2018-04-13 14:36] SupriyaKalghatgi commented on #1720
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:36] #1720 closed

[2018-04-13 14:37] SupriyaKalghatgi commented on #1766
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:37] SupriyaKalghatgi commented on #1750
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:37] SupriyaKalghatgi commented on #1731
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:37] #1731 closed

[2018-04-13 14:37] SupriyaKalghatgi commented on #1747
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:37] #1747 closed

[2018-04-13 14:38] SupriyaKalghatgi commented on #1145
Fixed with [2.4.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.2)

[2018-04-13 14:58] ekimlinger commented on #1624
Yes but you can take the color property that was inputted as a style and pass that down as a prop...

[2018-04-13 15:12] #1774 closed

[2018-04-13 17:15] garyarcher36 commented on #1765
I had the same issue and I think the problem is with the latest `@types/react` as opposed to Native Base???

- If I use @types/react 16.3.10 I get the above error but if I revert to 16.3.5 I can build OK

See my [working package.json](https://github.com/garyarcher36/authguidance.mobilesample0/tree/master/mobileapp) - where I have 2 React Native hacks currently:

- Fix TypeScript at 2.7.2 since the

[2018-04-13 19:46] xempie commented on #1010
@SupriyaKalghatgi Still same problem in 2.4.2. is this feature so complicated that could not be fixed after about a year?!
I tried all solutions provided even in other issues, comments and pages but none of them worked.
some solutions may work for some simple texts tabs but when you use real data specially with a FlatList it doesn't work.

[2018-04-13 20:15] itcurves commented on #627
I am having the same issue. how soon we can get an update on it? it only happen when input already filled in.

[2018-04-13 20:30] Heverson commented on #70
I have a similar need because
I want to give a focus in the ``<Input ... getRef={(input) => { this.textInput = input; }}``  after a click on the `<Button>`, but whenever I bind to a function and call a reference, for example:
[code]

**return TypeError: undefined is not an object (evaluating 'this.textInput._root')**

Someone could help with this situation?

[2018-04-13 21:34] rodrigofbm commented on #353
For Linux:
nano ~/.bashrc

export JAVA_HOME="/usr/lib/jvm/java-8-oracle"

if you have Java installed

[2018-04-14 00:59] sijav commented on #518
I'm putting some of the RTL issues with this UI Toolkit, for those who are interested

One of the issues I've been encounter was icons,
arrow-back is pointing forward in case of RTL, it can be easily fixed by setting another pack of NBIcons.json with every forward to back and vice versa, every right to left and vice versa, and then in src/icon/index put something like this:
[code]
and that's it, n

[2018-04-14 02:21] changtimwu opened #1779 "Can NativeBase work without expo?"
Well, this is not a bug reporting.  All issue posting specs are not applicable here.

NativeBase itself doesn't depend on `expo`.  However, to use NativeBase,  all examples are starting with a small clip of loading expo fonts.  I am not sure if it is mandatory.  Could you give an example illustrating how to load font without `Expo.Font.loadAsync`?   Thank you.

[2018-04-14 07:28] abdulmstellent commented on #1631
hi, @akhil-geekyants  It's not working for me....
can u please fix me this issue.
here is my code:
MAIN CONTAINER:
[code]

SIDEBAR COMPONENT:
[code]
Here is my screenshot
![simulator screen shot - iphone 8 - 2018-04-14 at 12 55 17](https://user-images.githubusercontent.com/37574500/38765611-17585f6a-3fe3-11e8-93d7-8f17cff115e0.png)

[2018-04-14 08:34] benjaminbillet opened #1780 "Input#getRef receives a undefined reference if Icon is used in a floatingLabel Item)"
Related issues: #591 #1514
React native 0.55.1, React 16.0.0-alpha.3, NativeBase 2.4.2
----

Hi,

I have an issue with `Input`, `Item#floatingLabel` and `Input#getRef`.

[code]

With this simple code, getRef is triggered but `e` is `undefined`. Interestingly, **if I remove the `Icon` component, it works fine.**

I dug a little bit in the code of `Item.js`, and I think the problem is caused by the

[2018-04-14 09:41] #1773 closed

[2018-04-14 12:09] isaaclem commented on #1010
I've came up with a workaround which needed the help of Redux. Basically manipulate and set the value of `initialPage` into Reducer, that way tabs with render correctly.

`        <Tabs
          initialPage={this.props.initialPage}>
          {this.renderTabHeader()}
        </Tabs>
`

[2018-04-14 14:40] edwinharly commented on #882
+1

[2018-04-14 16:04] garan82 opened #1781 "bug] small button with icon on Android"
This issue https://github.com/GeekyAnts/NativeBase/issues/1743 was fixed but looks like it introduces bug on Android

Env: native base 2.4.2
Expo: 26.0.0
React native: 0.54
Reactjs: 16.3.0-alpha.1

Repo: create a small button with Icon on Android
Issue: icon is bottom aligned with the button text, which is cut off in some cases. Icon should be vertically center aligned within the button. Button lo

[2018-04-14 22:23] gdierksmeier opened #1782 "Switch tintColor"
Hi...i would like to know how to change the color of the Switch when is inactive...

Now we have option to change a color only when active (onTintColor)

I'm using "native-base": "2.4.1" and
"react-native": "0.52.3"
Example:
            <Field
              name="settingModeDebug"
              title={I18n.t('settingModeDebug')}
              component={FormSwitch}
              type="switch"

[2018-04-15 16:33] Risck256 opened #1783 "How to disable ripple effect on android"
Hi!
It is possible to remove the androidRipple effect from all of the native-base's transparent buttons?

Thank you at all

[2018-04-15 20:44] kamal0808 commented on #1665
@SupriyaKalghatgi I am using the latest versions of react and react native. However `console.disableYellowBox = true;` disabled them for now. Thanks!

[2018-04-16 00:59] isaaclem commented on #1010
One thing I've noticed is that this issue occurs only when the app running for the first time. Meaning this issue will gone after subsequent "reload"

[2018-04-16 02:34] victorwads commented on #1073
I'm still having this problem, when the input layout starts with data, the floating label just "get up" after the first focus/blur
Ps.: This not happens on Emulator, just real devices
![2](https://user-images.githubusercontent.com/20746587/38787624-879f2eca-4105-11e8-99b0-5853f6d2ed16.jpg)

[2018-04-16 02:36] victorwads commented on #627
I have the same issue, when the input layout starts with data, the floating label just "get up" after the first focus/blur
Ps.: This not happens on Emulator, just real devices

![2](https://user-images.githubusercontent.com/20746587/38787644-bdf6571e-4105-11e8-82ea-a526b90baa84.jpg)

[2018-04-16 03:48] SupriyaKalghatgi commented on #1010
@xempie We have plan to rewrite Tabs

[2018-04-16 03:49] SupriyaKalghatgi commented on #70
Check Docs

[2018-04-16 03:51] SupriyaKalghatgi commented on #1779
Check Docs

[2018-04-16 03:51] #1779 closed

[2018-04-16 03:53] SupriyaKalghatgi commented on #1631
@abdulmstellent There is a working example with output provided above
Please check it accordingly

[2018-04-16 03:56] SupriyaKalghatgi commented on #1771
This is not related to NativeBase

[2018-04-16 03:56] #1771 closed

[2018-04-16 03:57] SupriyaKalghatgi commented on #1771
You can check into RNRF issues for this

[2018-04-16 04:02] SupriyaKalghatgi commented on #1782
Switch of NativeBase is direct implementation of React-Native Switch
So please check https://facebook.github.io/react-native/docs/switch.html

[2018-04-16 04:02] #1782 closed

[2018-04-16 04:02] SupriyaKalghatgi commented on #1783
https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/variables/commonColor.js#L17

[2018-04-16 04:02] #1783 closed

[2018-04-16 04:04] SupriyaKalghatgi commented on #1665
If you are using latest of React and RN, then no need to have `console.disableYellowBox = true;`

[2018-04-16 05:39] SupriyaKalghatgi commented on #1731
@andidev I hope you got this fix?

[2018-04-16 07:00] SupriyaKalghatgi commented on #1781
Fixed on `development`

[2018-04-16 07:00] #1781 closed

[2018-04-16 08:45] jauggy opened #1787 "How do I change the size of CheckBox?"
How do I change the size of a CheckBox? I've checked the docs here:
http://docs.nativebase.io/Components.html#checkbox-headref

and couldn't find any info.

[2018-04-16 09:34] akhil-geekyants commented on #1420
@karlAlnebratt shouldn't we add `customLabel ` to label theme instead of `textTheme`.

[2018-04-16 11:50] anam-hossain opened #1788 "[Question] How do I reset stack navigation when using with Tab navigator"
I have stack navigator for each TabNavigator. Is it possible with the TabNavigator to press on the active tab and have it reset its stack? The default React navigation's `tabBarComponent: TabBarBottom` will reset the stack but I don't know how I would do with NativeBase component.

[code]

[2018-04-16 12:01] SupriyaKalghatgi commented on #1102
Issue fixed here
https://github.com/GeekyAnts/NativeBase/commit/d51b2f94cadd4f60d2a17445c2b9f52d6a35597a

[2018-04-16 14:29] karlAlnebratt commented on #1420
Yes that might be a better solution

[2018-04-16 22:25] patrickalbani opened #1790 "TypeError: null is not an object (evaluating 'this.toastInstance._root.showToast')"
Using "native-base": "^2.3.3"

My App:
[code]
Using android.
The case happens when a i started my app, click in back button until minimize the app, then open app, after this, happens the error.

[2018-04-17 01:50] hemeda3 commented on #518
+1

[2018-04-17 02:36] dsp1589 commented on #790
am facing the same issue in android but working fine in iOS.

[2018-04-17 03:47] SupriyaKalghatgi commented on #1790
@patrickalbani NativeBase is on 2.4.2
Also share your package.json along with your code snippet

[2018-04-17 04:58] phatnguyenbg commented on #1767
I'm trying but seem it's not changed :(,
I find out this props:
 heading={ <TabHeading><Icon name="camera" /><Text>Camera</Text></TabHeading>}
it solved my above problem, but these props below seem not great :(
![capture](https://user-images.githubusercontent.com/29854376/38849440-2f119d56-4236-11e8-96d6-29583cfa00ef.PNG)
now text title none active @@

[2018-04-17 05:56] azhengyongqin opened #1792 "Can you write down the style document of Tabs in detail?"
### Can you write down the style document of Tabs in detail?
**The background color of Tabs does not know which property.**
**I've tried so many ways that I can't change the `backgroundColor` of Tabs.**

None of the following.
[code]

[code]

[2018-04-17 06:02] SupriyaKalghatgi commented on #1792
@azhengyongqin Did'nt you check docs?

[2018-04-17 06:02] #1792 closed

[2018-04-17 06:06] akhil-geekyants commented on #1767
@phatnguyenbg `tabStyle`, `activeTabStyle`, `textStyle`, `activeTextStyle` are useful in the normal case where heading is just a string. If you are defining heading using `<TabHeading/>`, you have to handle the  styles based on selection.

[2018-04-17 09:18] ZeroCool00 opened #1793 "In Form floating label text is cut when select input"
"dependencies": {
    "native-base": "^2.4.2",
    "react": "16.3.1",
    "react-native": "0.55.2",
  },

except first input other input label is cut at top.
![screenshot_20180417-143939](https://user-images.githubusercontent.com/18139594/38860596-2bc77900-424e-11e8-985f-290593dd23a3.png)

heres my code:

[code]

[2018-04-17 09:52] anam-hossain commented on #1788
@sankhadeeproy007, @shivrajkumar, @SupriyaKalghatgi sorry to disturb you guys. I am new to React and React native. Please help me on this.

[2018-04-17 10:02] sagarrabadiya opened #1794 "How to make ActionSheet to slide instead of fade?"
I have menu using ActionSheet and it is shown by fade only how can i configure it to use slide animation instead of fade, i can see ActionSheetContainer modal with animationType fade, but couldn't find any way to change it to slide any help would be appriciated thank you. :)

[2018-04-17 11:14] SupriyaKalghatgi commented on #1793
![image](https://user-images.githubusercontent.com/13464885/38866299-19540792-425e-11e8-90ba-b1ffaddbfb78.png)

[code]

[code]

[2018-04-17 11:32] patrickalbani commented on #1790
Upgrade version, still the same.

My package.json:

[code]

[2018-04-17 12:08] akhil-geekyants commented on #1793
@ZeroCool00 you can check this in [NativeBase-KitchenSink](https://github.com/GeekyAnts/NativeBase-KitchenSink) app

[2018-04-17 12:08] #1793 closed

[2018-04-18 01:33] isaaclem opened #1798 "Component LifeCycle method only being triggered for first time?"
## Issues
Under `Tabs` component, I've bind only one specific component and distinguish them based on props. While tab active, this component are expect to re-render or sorts to get the relevant values. However, it seems that component lifecycle method only being executed first time for each and every tab. Meaning if we revisit the tab once again, none of component lifecycle method will being invo

[2018-04-18 03:39] Ashutosh21Nigam commented on #415
how i set the font size for <Picker.Item> tag

[2018-04-18 04:26] ZeroCool00 commented on #1793
Sorry, i forget to mention its working in ios, but in android its cut.

[2018-04-18 04:39] ZeroCool00 commented on #1793
and as mention in [this](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/src/screens/form/floatingLabel.js) file

[2018-04-18 05:24] SupriyaKalghatgi commented on #1798
https://stackoverflow.com/questions/49881731/componentwillmount-only-trigger-for-first-time

[2018-04-18 06:34] akhil-geekyants commented on #1793
@ZeroCool00 tried your code. Working fine for me.

Code
[code]
Gif

![floatinglabel](https://user-images.githubusercontent.com/27768184/38915203-83cff12e-4300-11e8-9402-5eab40f1c883.gif)

[2018-04-18 10:11] hansen94 opened #1799 "Add styling to touchablehighlight in ListItem"
Hi,

First of all, thank you for the awesome library.
If possible, I would like to request additional feature for ListItem. Is it possible to add custom styling to touchablehighlight in ListItem? I would like to add margin to the ListItem but the highlight underlay still covers the margin area. It would be nice to also add margin to this underlay.

Thank you.

[2018-04-18 12:28] akhil-geekyants commented on #1799
@hansen94 can you try adding `marginLeft` along with `margin` to ListItem style.

[2018-04-18 13:20] AgNm opened #1800 "Font Scaling in NativeBase"
I am using Nativebase throughout my application.

If user changes the Font Size from device settings, all the fonts gets Huge/small. I don't want the font size impact on My app. How can I stop this font size scaling.

In React Native, we have ` Text.defaultProps.allowFontScaling=false;`
but it is not working for NativeBase.

Please let me know if there is any alternative.

I am using below version

[2018-04-18 13:43] akhil-geekyants commented on #415
@Ashutosh21Nigam NativeBase Picker for android is an implementation of ReactNative Picker. You can check here https://facebook.github.io/react-native/docs/picker.html

[2018-04-18 14:05] akhil-geekyants commented on #1800
@AgNm Text.defaultProps.allowFontScaling=false; is working for NativeBase (2.4.2).

Attaching a gif

![fontscaling](https://user-images.githubusercontent.com/27768184/38936854-65ca6f62-433f-11e8-85db-7a8b1469fd4b.gif)

Let us know if you are still facing any problem

[2018-04-18 14:24] externuz opened #1801 "onRowOpen, onRowClose, etc... props don't exist in types"
Hi!

I'm using `native-base 2.4.1`

When I trying to use `<List />` props `onRowOpen, onRowClose, onRowDidOpen, onRowDidClose`, I get message from linter: `Property 'onRowDidOpen' does not exist on type 'IntrinsicAttributes' & 'IntrinsicClassAttributes<List> & ReadOnly<{ children?: ReactNode; }> & Read...'.`

[2018-04-19 00:35] edgaru commented on #959
I have the same problem, I try with your example but it dont work for me, could you add your style.container or full code example?

[2018-04-19 04:14] ZeroCool00 commented on #1793
@akhil-geekyants  Its strange.. as per your answer i also check in emulator.. in emulator its working fine.. but in my real device..
i have a moto g4 plus.

[2018-04-19 09:02] Slessi opened #1803 "focus, _root, getRef - missing from typings"
## react-native, react and native-base version
- RN `0.55.2`
- R `16.3.2`
- NB `2.4.2`
## Expected behaviour
Typings present
## Actual behaviour
Typings not present
## Steps to reproduce (code snippet or screenshot)
[code]

[code]

As a result of above `focus()` is also missing I think but I'm not sure. I see it defined in `NativeMethodsMixinStatic` but doesn't *seem* as if that's being referenced

[2018-04-19 09:43] ZeroCool00 commented on #1793
in which device you checked?

[2018-04-19 09:45] hansen94 commented on #1799
I did it and the underlay still covers the margin. I am actually trying to add marginBottom.
When i look in ListItem.js, the style props in TouchableHighlight is set to undefined. I think this is why.
Is it ok to make new props for this like highlightStyle?

[2018-04-19 10:43] akhil-geekyants commented on #1793
@ZeroCool00 Nexus 6, redmi 4a

[2018-04-19 11:11] ZeroCool00 opened #1805 "InputGroup not working and lost control over input tag"
"dependencies": {
"native-base": "^2.4.2",
"react": "16.3.1",
"react-native": "0.55.2",
},

i m setting icon in input tag with InputGroup tag but there is no effect and also i lost control over input tag. now my email input tag's returnKeyType='next' is not working, now it takes by default "actionDone"
and in password secureTextEntry also not working. now password is also visible.

![screenshot_20

[2018-04-19 11:18] SupriyaKalghatgi commented on #1805
@ZeroCool00 Why are you using `InputGroup`?
Do you find it in docs?

[2018-04-19 11:38] ZeroCool00 commented on #1805
i search on google about react-native validation. and i found this concept on search result.  [this]
 (https://nativebase.io/docs/v0.5.7/components#inputGroup) and i didnt check about version. sorry i learn my lession today.. 'always check version first'.

[2018-04-19 11:39] SupriyaKalghatgi commented on #1805
@ZeroCool00 I am closing this issue

[2018-04-19 11:45] YogarajRamesh opened #1806 "Picker itemStyle,itemTextStyle,textStyle not working"
<Picker
                                    iosHeader="Sub-Category"
                                    placeholder="Select your SIM"
                                    placeholderStyle={{ color: "#bfc6ea" }}
                                    selectedValue={this.state.selected1}
                                    onValueChange={this.onValueChange.bind(this)}

[2018-04-19 11:46] #1805 closed

[2018-04-19 11:46] ZeroCool00 commented on #1805
ok, but is there anything i can trace like this tag is not available in latest version.

[2018-04-19 11:50] SupriyaKalghatgi commented on #1806
@YogarajRamesh It is because of `Montserrat-Regular`
You dont have this with your project

[2018-04-19 11:51] SupriyaKalghatgi commented on #1806
@YogarajRamesh Also check docs for proper use case
https://docs.nativebase.io/Components.html#picker-text-and-item-text-styles-headref

[code]

This is incorrect usage

[2018-04-19 11:53] SupriyaKalghatgi commented on #1806
![picker](https://user-images.githubusercontent.com/13464885/38990007-54305fb6-43f6-11e8-99fe-fddf26a39466.gif)

[2018-04-19 11:56] SupriyaKalghatgi commented on #1805
Tag is available with NativeBase repo as well as docs

[2018-04-19 11:57] SupriyaKalghatgi commented on #1805
You are using deprecated component
Check latest docs

[2018-04-19 12:08] YogarajRamesh commented on #1806
Hi @SupriyaKalghatgi i am using android and it doesn't color and fontsize

[2018-04-19 12:11] SupriyaKalghatgi commented on #1806
@YogarajRamesh Please check docs

![image](https://user-images.githubusercontent.com/13464885/38990657-c923232e-43f8-11e8-9305-d4065a35535d.png)

Also check https://github.com/GeekyAnts/NativeBase-KitchenSink

[2018-04-19 14:06] isaaclem commented on #1798
[https://media.giphy.com/media/kxtA6b7ttZrJvfP9Mk/giphy.gif](url)

Hi Akhil, I've captured a GIF to show you my situation instead.

[2018-04-19 16:51] itcurves commented on #627
are we going to have an update on this soon?

[2018-04-19 21:20] abdelhakimkotti opened #1807 "SLIDER not exist ???"
Hi!
SLIDER not existe ???

[2018-04-19 21:24] VanessaChu opened #1808 "Where to change the size of Picker Item's checkmark? (With Image)"
This is from Picker's Item list with the code:

[code]

How can I edit the size of the checkmark as shown in image below? It's too small/

![screen shot 2018-04-19 at 2 25 02 pm](https://user-images.githubusercontent.com/11250498/39019186-4c134c6c-43dd-11e8-87d8-fc33fec824f3.png)

[2018-04-19 23:24] DragosRotaru commented on #1464
Im having the same problem... implemented the examples identically, yet when I insert the content like so: <Drawer>// STUFF HERE </Drawer>

Nothing displays.

When I take the contents out and turn drawer into a self-closing component It functions accordingly (but doesnt display the content "within" the drawer)

[2018-04-19 23:36] andidev commented on #1731
@SupriyaKalghatgi
I just tried it out with 2.4.2 and I am still having issues. Now it seems that the text is jumping up instead of down.

[code]

The old issue of text jumping down seems to still be there on other input types e.g.
[code]

So I think it would be a good thing to test all the input types since there seems to been a change in either React Native or in Native base that changed Native B

[2018-04-20 04:04] SupriyaKalghatgi commented on #1807
@abdelhakimkotti No, NativeBase doesn't have this

[2018-04-20 04:04] SupriyaKalghatgi commented on #1807
Also that, raise such queries on NativeBase slack

[2018-04-20 04:04] #1807 closed

[2018-04-20 04:05] #1806 closed

[2018-04-20 04:08] SupriyaKalghatgi commented on #1731
@andidev Do you have NativeBase ejected theme in your project?

[2018-04-20 05:39] andidev commented on #1731
Looks like I have that so that's probably why because I did not eject it after the upgrade. I'm really sorry I thought I removed that dependency.
I'll check this again in the weekend and return if it's still a problem.

[2018-04-20 06:11] akhil-geekyants commented on #1798
@isaaclem couldn't get anything like in gif. Can you try logging in the browser console. Attaching a gif

Gif

![lifecycle](https://user-images.githubusercontent.com/27768184/39033466-c1352102-448f-11e8-8381-517490f70f36.gif)

[2018-04-20 06:33] akhil-geekyants commented on #1808
@VanessaChu Picker's checkmark make use of the default Radio button size. To change this you need to [eject the theme](http://docs.nativebase.io/Customize.html#theaming-nb-headref).
You can then increase the radio button size by changing the `radioBtnSize` variable in `native-base-theme/variables/*.js`

[2018-04-20 06:53] isaaclem commented on #1798
@akhil-geekyants I've set it up in Snack and simulated the problem. You may have a look @ https://snack.expo.io/@cclem65/moneylover

[2018-04-20 07:15] #1800 closed

[2018-04-20 07:44] renztoygwapo opened #1809 "CheckBox onPress not working on ios but working on android"
I tried the checkbox and it will worki the onpress function in android but in ios i tried to check it and it will have an error that says.

![image](https://user-images.githubusercontent.com/4898681/39036882-7c5e6f62-44b1-11e8-9db7-a7946bd5d2e5.png)

Here is my code:
![image](https://user-images.githubusercontent.com/4898681/39036934-9d74a040-44b1-11e8-9965-f1d0b565c08e.png)
![image](https://user-

[2018-04-20 08:38] akhil-geekyants commented on #1809
@renztoygwapo Checkbox is working fine. The error message shows that the error is somewhere in Picker implementation. Attaching a gif

Code
[code]

Gif

![checkbox](https://user-images.githubusercontent.com/27768184/39040005-2862820c-44a4-11e8-9c0c-b21a896ba8df.gif)

[2018-04-20 10:51] renztoygwapo commented on #1809
actually, I am stupid the actual issue is in my picker list item. Thanks

[2018-04-20 10:51] #1809 closed

[2018-04-20 10:58] ZeroCool00 commented on #1780
@akhil-geekyants  is it fixed at ? cause it happen with me today? do i have to update to 0.55.3

[2018-04-20 11:18] ZeroCool00 commented on #1780
@akhil-geekyants  How do i make it work? i also update item.js file.. but no effect?

[2018-04-20 11:38] akhil-geekyants commented on #1780
@ZeroCool00 can you post your code

[2018-04-20 11:40] ZeroCool00 commented on #1780
[code]

[2018-04-20 12:30] bruno-campos commented on #1762
This seems to be a bug with jest and react-native Animated. Related issue: https://github.com/facebook/jest/issues/4359

I was able to get rid of it by using `jest.jest.useFakeTimers();` where testing components that uses the floatingLabel.

[2018-04-20 12:54] akhil-geekyants commented on #1780
@ZeroCool00 checked this. Fix is working. Attaching a gif

If you are making changes directly in the node_modules/native-base (not recommended), change
[code]
to
[code]

in the main `node_modules/native-base/package.json`

Gif

![getref](https://user-images.githubusercontent.com/27768184/39051725-3e149af4-44c7-11e8-911a-71d4e715ba3c.gif)

[2018-04-20 14:15] ZeroCool00 commented on #1793
@akhil-geekyants  finally i checked on Moto Z Play. label not cutting.. but this problem is still remain with some devices like mine. and i found many issue regarding flaoting label cut. and each issue is closed without solved.. plz dont overlooked it.

[2018-04-20 14:53] ZeroCool00 commented on #1780
Its working now.. Thank you for all your support.. I love native-base

[2018-04-20 15:02] jerryheir commented on #1374
what about how to change the card height?

[2018-04-20 15:03] userbq201 opened #1811 "btnUppercaseAndroidText is not a object"
## Expected behaviour
**this code**

[code]
I injected theme config and wrap button componetn. Trouble -  `btnUppercaseAndroidText is not a object`
## Actual behaviour
My button render

[2018-04-20 16:35] Tan-nn opened #1812 "List always remove last item when remove other item"
Can not remove exactly item user want. It's alway remove last item of list.

Dumy code:
[code]

[2018-04-20 17:53] tmaly1980 commented on #1354
Weird, there's no hexString() in the most recent version of 'color', it seems to be called hex() again.

[2018-04-20 17:56] VanessaChu opened #1813 "How can I customize Native Base Picker to select multiple values?"
How can I customize Native Base Picker to select multiple values? I know there are other packages like https://github.com/toystars/react-native-multiple-select but since I have already been using the Native Base Picker, I want to keep the ui styles consistent. Is there a way to override the Native Base Picker code to allow for multiple select values?

[2018-04-20 18:45] VanessaChu commented on #1808
@akhil-geekyants That was it 😀  Thanks

[2018-04-20 18:45] #1808 closed

[2018-04-21 19:43] sfratini opened #1814 "[Deck Swiper] Show next card in the stack when swiping"
Is it possible to show the card below the current one while someone is swiping?

Using renderTop and renderBottom seems to have no effect on this.

[2018-04-22 00:40] ccfiel commented on #1096
@shivrajkumar your reference is a dead link :(

[2018-04-22 01:23] r3wt opened #1815 "react-router-native + nativebase Tabs initialPage sets initial tab, but tab content is not rendered!!!!"
## react-native, react and native-base version
the latest for each
## Expected behaviour
tab is selected and tab content is rendered
## Actual behaviour
tab is selected, but tab content is not rendered!
## Steps to reproduce (code snippet or screenshot)
The tabs:
[code]
The route:
[code]
## Screenshot of emulator/device
unable to provide screenshot
## Is the bug present in both ios and android or

[2018-04-22 11:49] akashanand708 commented on #584
For toast to work, wherever you want, even after ajax response,
The topmost component should be wrapped between <Root>.... </Root>
According to nativeBase docs.
https://docs.nativebase.io/Components.html#Thumbnail
It worked for me

[2018-04-23 02:01] darula-hpp commented on #680
Adding the root tag worked for me also thanks

[2018-04-23 06:10] SupriyaKalghatgi commented on #1762
@Slessi Can you check with this work around?

[2018-04-23 06:15] SupriyaKalghatgi commented on #1374
@jerryheir Why do you want to change height of card?
Depending upon the components you wrap within `Card`, the height is set accordingly

[2018-04-23 06:28] SupriyaKalghatgi commented on #1096
https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/src/screens/listSwipe/basic-list-swipe.js

[2018-04-23 06:36] SupriyaKalghatgi commented on #1815
@r3wt Its difficult to trace your issue
Please provide your example on https://snack.expo.io/

[2018-04-23 06:40] SupriyaKalghatgi commented on #584
https://docs.nativebase.io/Components.html#toast-def-headref

[2018-04-23 07:25] akhil-geekyants commented on #1811
@userbq201 can you try using getTheme

[code]

[2018-04-23 08:24] akhil-geekyants commented on #1813
@VanessaChu currently NativeBase Picker allows you to select only one value. However, you can make a fork and implement it based on your need.

[2018-04-23 08:33] akhil-geekyants commented on #1793
@ZeroCool00 see this issue comment https://github.com/GeekyAnts/NativeBase/issues/1532#issuecomment-359722984

[2018-04-23 08:48] Slessi commented on #1762
@SupriyaKalghatgi I confirm that `jest.useFakeTimers()` works

[2018-04-23 09:16] akhil-geekyants commented on #1812
@Tan-nn Use React Native Flatlist instead of List. NativeBase List is deprecated. See Note section for list [here](http://docs.nativebase.io/Components.html#list-def-headref)

[2018-04-23 09:22] fcpineiro opened #1816 "[Picker for iOS] Multiple nesting ScrollViews"
https://github.com/GeekyAnts/NativeBase/blob/c488d9219c96b57217ce070ef35d13505efd0500/src/basic/Picker.ios.js#L187

This component has a FlatList(ScrollView) inside of a Content(ScrollView) component.

Apart from being a performance improvement, this nesting may prevent this component from working properly in case some feature that uses `.scrollTo()` method is added afterwards.

Some examples may

[2018-04-23 09:44] akhil-geekyants commented on #1814
@sfratini you can see the next card when swiping. See example [here](http://docs.nativebase.io/Components.html#deckswiper-adv-headref)  Attaching a gif

![deckswiper](https://user-images.githubusercontent.com/27768184/39119172-d3092768-4708-11e8-8ed2-6f639c84a477.gif)

[2018-04-23 10:33] akhil-geekyants commented on #1464
@DragosRotaru checked the above code. It works fine for me as in gif. Can you post your code or create a test repo for us to test.

[2018-04-23 11:02] #1788 closed

[2018-04-23 11:08] anam-hossain opened #1818 "Card border not displaying in Android"
Card border not displaying in Android but in IOS its working fine.

My setup:
[code]

[code]

[2018-04-23 11:10] anam-hossain opened #1819 "[Question] Remove box-shadow from card"
Is there any way to remove box-shadow from the card? Does NativeBase support flat version of card?

[2018-04-23 11:26] akhil-geekyants commented on #1819
@anam-hossain use transparent props with `<Card/>`
[code]

[2018-04-23 11:56] akhil-geekyants commented on #1818
@anam-hossain this will be fixed in the upcoming release.

[2018-04-23 14:33] Zeratyll commented on #985
Сталкивался с этой проблемой недавно, решил следующим способом. Просто добавляем в Modal элемент Root, а в него весь контент который вам нужен

P.S. на английский переводить лень, главное ведь код

`import { Root, Container, Content } from 'native-base';

<Modal>
<Root>
// .. modal content with toast
</Root>
</Modal>
`

[2018-04-23 17:09] r3wt commented on #1815
@isaaclem @SupriyaKalghatgi i will create the code sample tonight, when i am working on that side project again. thank you for your patience

[2018-04-23 18:11] DragosRotaru commented on #882
+1

[2018-04-23 19:06] kaym0 opened #1822 "FAB not opening properly upon clicking."
![Figure 1-1](https://gyazo.com/4d3bfe0a2d0a9718b24ada1ea4b7ac5f.gif "Figure 1-1")
![Figure 1-2](https://gyazo.com/3d0ff37bc15494112b5f43a60d73d970.gif "Figure 1-2")

This seems to be an issue with iOS and not Android.
I've used the native-base FAB before and it worked fine. It seems to be bugging out on me now. I've rendered it in its own component which I place in my application as a footer. The

[2018-04-23 19:23] adamawang opened #1823 "Header height too tall in landscape (iPhone X)"
## react-native, react and native-base version
[code]
## Expected behaviour
Header height should change based on portrait/landscape orientation for iPhone X. Landscape header height should be much shorter. Text/button padding should also update.
## Actual behaviour
In portrait, the height is fine. Rotating to landscape keeps same header height, which takes up too much space.
## Screenshot of emula

[2018-04-23 19:34] kaym0 commented on #1822
Actually, after doing some looking, my reducer for fab was bugging out and using the initial state from an entirely different reducer even though it was in a separate file altogether? I had not set the initialstate with a const, I instead just had

[code]

instead of

[code]

Amazing that it did that! I am now going to start giving my initial states unique names and making sure to assign them corr

[2018-04-23 19:34] #1822 closed

[2018-04-23 19:38] christian150590 opened #1824 "span, hasSubtitle - missing from typing (Header)"
## react-native, react and native-base version
- RN 0.55.2
- R 16.3.1
- NB 2.4.2

## Expected behaviour
Typings present
## Actual behaviour
Typings not present
## Steps to reproduce (code snippet or screenshot)

[code]

[code]

## Screenshot of emulator/device
n/a
## Is the bug present in both ios and android or in any one of them?
Yes

[2018-04-23 22:20] VanessaChu opened #1825 "Is it possible to optionally disable Picker button based on a condition?"
How can I modify the Native Base Picker code to disable the button based on conditions?

[2018-04-23 23:18] andidev commented on #1731
@SupriyaKalghatgi
So I was right from the beginning (I was not using an ejected theme). This issue is not solved.

Still having issues with the following code:

[code]

[2018-04-24 01:13] anam-hossain commented on #1819
Thank you.

[2018-04-24 01:13] #1819 closed

[2018-04-24 03:24] c3098051 opened #1826 "floating label style is not working when isFocused=true"
## react-native, react and native-base version

- react-native: 0.54.4
- react: 16.3.0-alpha.1
- native-base: 2.4.1

## Expected behaviour

[code]
should refelct fontsize when `isFocused=true`

## Actual behaviour

FontSize is changed to the default value ("which is 15")

## Any other additional info which would help us debug the issue quicker.

src/basic/Item.js

line: 77
`let labelStyle = StyleS

[2018-04-24 04:30] kudorori opened #1827 "button chinese and number , english vertical align"
## react-native, react and native-base version
[code]
## Expected behaviour
## Actual behaviour
## Steps to reproduce (code snippet or screenshot)
[code]
## Screenshot of emulator/device
[img](https://imgur.com/9U6IYAu)
## Is the bug present in both ios and android or in any one of them?
## Any other additional info which would help us debug the issue quicker.

[2018-04-24 05:30] SupriyaKalghatgi commented on #1825
@VanessaChu You can try that yourself
NativeBase Picker is implementation of React Native Picker

[2018-04-24 05:30] #1825 closed

[2018-04-24 05:34] SupriyaKalghatgi commented on #1827
@kudorori Provide sufficient information for us to help

[2018-04-24 05:39] kudorori commented on #1827
@SupriyaKalghatgi  I filled in my code and hope to solve this problem

[2018-04-24 05:44] SupriyaKalghatgi commented on #1827
@kudorori Can you elaborate on your issue description?

[2018-04-24 05:51] ZeroCool00 commented on #1793
@akhil-geekyants  Thank you so much.. finally fix it..  add `paddingTop: 2` in label.js and it worked

[2018-04-24 05:56] kudorori commented on #1827
@SupriyaKalghatgi  I really don't know how to describe this problem in words...
[https://imgur.com/QnimM9c](https://imgur.com/QnimM9c)

[2018-04-24 06:07] SupriyaKalghatgi commented on #1827
@kudorori https://imgur.com/QnimM9c this gives better explanation

[2018-04-24 06:48] akhil-geekyants commented on #1731
@andidev checked your code with latest native-base version(2.4.2). Couldn't find any issue. Attaching a gif.

Gif

![input position](https://user-images.githubusercontent.com/27768184/39170500-6ab16282-47b9-11e8-9503-e03d5481da9e.gif)

[2018-04-24 07:38] akhil-geekyants commented on #1826
@c3098051 this is as designed. Only fontSize and lineHeight are given a fixed value onFocus. You can still change other style values like color.

[2018-04-24 07:44] andidev commented on #1731
I will try it out later tonight but from the screenshot you sent it looks like the cursor jumps when the input changes from empty to some content.
Try adding a placeholder and it will most probable be more obvious.

If you try the example I have provided you will se the issue right away.

I'm using the latest native base version that you mention.

[2018-04-24 09:57] ZeroCool00 commented on #1780
@akhil-geekyants  Today i check node-module, every changes i made is all gone.. and all issue is still remain. floating label cut and getRef in keyboard..

How to solve this. do i need to wait until you update version? or there is a way?

[2018-04-24 10:05] SupriyaKalghatgi commented on #1780
@ZeroCool00 You will get the update tomorrow

[2018-04-24 10:09] jerryheir commented on #1374
Okay, that what I wanted to know...
On Apr 23, 2018 07:15, "Supriya Kalghatgi" <notifications@github.com> wrote:

[2018-04-24 10:42] horiuchie commented on #1790
I have reproduced as well.

## Steps to reproduce

1. Create project referring to [Setup with React Native](https://docs.nativebase.io/docs/GetStarted.html).
2. Use Toast component as shown in bellow Screenshot.
3. Run `react-native run-android`.
4. Press Toast button then press OKay in the lower right.
5. Press hardware back button to minimize the app and then reopen it.

## Screenshot of emulato

[2018-04-24 10:52] ZeroCool00 commented on #1780
@SupriyaKalghatgi  ok Thanks

[2018-04-24 11:33] akhil-geekyants commented on #1827
@kudorori As a workaround set lineHeight of Text to undefined.
[code]
This will be fixed in the next release.

[2018-04-24 16:34] adamawang commented on #1823
Ended up making a custom header component that returned the NativeBase header with updated styles.

Ideal solution would be hot reloading the theme [#910](https://github.com/GeekyAnts/NativeBase/issues/910)

[2018-04-24 16:34] #1823 closed

[2018-04-24 17:06] EGinney commented on #1046
I'm dealing with a similar issue without Expo or ExpoKit. Header overrides my StatusBar component. Any ideas for an approach to resolve this?

[2018-04-24 20:13] andidev commented on #1731
@akhil-geekyants
@SupriyaKalghatgi
Just checked the code you are trying (using version 2.4.2). Still same issue (Note issue is IOS only). I think you have an issue as well with your screencast but strangely it is a bit different. If you look closely you'll see that your text of the rounded input is not centered. When you remove the text the cursor jumps to the center. Though your input does not se

[2018-04-24 20:36] marianobrc commented on #882
+1

[2018-04-24 22:27] ctaggart opened #1831 "labels for FABs"
It would be awesome if [FABs](https://docs.nativebase.io/Components.html#fabs-def-headref) added labels like other libraries, for example:
https://github.com/mastermoo/react-native-action-button

## react-native, react and native-base version
latest, "native-base": "^2.4.2",

## Expected behaviour
I can add a label to a FAB

## Actual behaviour
## Steps to reproduce (code snippet or screenshot)
##

[2018-04-24 22:57] sfratini commented on #1814
@akhil-geekyants Thank you for answering. This ie very weird. I only have a white background and then the card loads.

I even tried with a simple image and I cannot get that behavior.

Is there any limitation or requirement to show that up?

[2018-04-24 23:11] jchonde commented on #1704
Hello @akhil-geekyants, I'm having the same issue. If you look closer to @Arpan2912 code you can see he uses a Promise in his callback.

[2018-04-25 00:41] jchonde commented on #1704
Isolating every line of code didn't help. But re-installing dependencies did.

[2018-04-25 01:10] kudorori commented on #1827
@akhil-geekyants  thanks!

[2018-04-25 01:59] DragosRotaru commented on #1464
@akhil-geekyants apologies! I had typed an extra character within the Drawer but outside of a <Text /> Component. All Good now.

[2018-04-25 02:13] c3098051 commented on #1826
@akhil-geekyants understood.. but I need to use customised fontSize for the label only when it is
onFocus.. is there recommended way to achieve this?

[2018-04-25 04:49] SirPhemmiey opened #1832 "Picker doesn't get styled"
Hi, no matter how i style the picker, it won't style. I even had to copy and paste the same codes from the docs, still the same. What could be the problem please?
`"native-base": "^2.4.1",
    "react": "16.3.1",
    "react-native": "0.55.2",`

[2018-04-25 07:33] SupriyaKalghatgi commented on #1831
@ctaggart Thank you for suggestion
We will keep it in our list

[2018-04-25 07:33] #1831 closed

[2018-04-25 07:38] MrTinyByte commented on #396
It fixed my problem
The first **test run** will be very slow. Subsequent runs will be much faster because of caching mechanism

[2018-04-25 07:39] SupriyaKalghatgi commented on #1832
@SirPhemmiey Share your code snippet along with output

[2018-04-25 08:21] craftzdog opened #1833 "Multiple StyleProvider in the same view don't work"
## react-native, react and native-base version
ReactNative@0.53.0
NativeBase@2.4.2

## Expected behaviour
Sibling StyleProviders should separately override theme in each view

## Actual behaviour
Second StyleProvider doesn't work

## Steps to reproduce (code snippet or screenshot)

If you have below view:

[code]

It will produce:

<img width="545" alt="screen shot 2018-04-25 at 17 17 40" src="htt

[2018-04-25 08:52] craftzdog commented on #1833
I suspect that `themeCache` causes this problem because the `context.parentPath`in `connectStyle.js` is same between two `Text`.
If I disabled the theme cache, it works as expected.
I guess you should make a unique path for each StyleProvider.

[2018-04-25 09:38] ccoeder commented on #1010
If there is still no solution, can a temporary solution be applied?

[2018-04-25 10:10] akhil-geekyants commented on #1814
@sfratini Pasting sample code
[code]

[2018-04-25 10:19] developerium opened #1834 "testing components with enzyme"
Hi guys, Thanks for great work in NativeBase. My project looks like this:
react-native 0.51.0
native-base 2.3.5
emzyme 3.3.0
jest 20.0.4

I'm having difficulty using enzyme to render my components.
What I'm trying to achieve is to render a component, which has included a number of NativeBase components. I'm encountering several warnings for instance:

`Warning: <Text /> is using incorrect casing.

[2018-04-25 10:45] ObidosDev commented on #1731
This bug makes me crazy
As said @idrakimuhamad,  @andidev workaround by setting lineHeight to null help to overcome this.

[2018-04-25 12:44] mlazuardy opened #1836 "Header is not at the top"
Hallo, sorry if this issues has been post in this Awesome Open Source,
im using
"dependencies": {
    "native-base": "^2.4.2",
    "react": "16.3.1",
    "react-native": "0.55.3",
    "react-navigation": "^1.5.11"

my problem is my header didnt show in the top of the phone like this
![screenshot from 2018-04-25 19-41-39](https://user-images.githubusercontent.com/26824873/39246514-017875fe-48c1-11e

[2018-04-25 12:55] mlazuardy commented on #1836
i guess something wrong with react-navigation

[2018-04-25 12:56] akhil-geekyants commented on #1836
@mlazuardy if you are using react navigation, set the header to null.

[2018-04-25 13:03] mlazuardy commented on #1836
@akhil-geekyants how sir? Sorry im new in react native,

[2018-04-25 13:03] mlazuardy commented on #1836
@akhil-geekyants  you mean `<Header/>` just like this?

[2018-04-25 13:07] mlazuardy commented on #1836
thank you sir, ill try

[2018-04-25 13:08] akhil-geekyants commented on #1836
@mlazuardy
[code]
See this [link](https://reactnavigation.org/docs/headers.html)

[2018-04-25 13:11] mlazuardy commented on #1836
get it, but should i put that in all component ? or do you have eficient way?

[2018-04-25 13:14] akhil-geekyants commented on #1836
@mlazuardy you can do something like this
[code]

[2018-04-25 14:02] #1836 closed

[2018-04-25 14:25] ctaggart commented on #1831
Cool, where is your list?

[2018-04-25 15:39] ButuzGOL opened #1837 "Is it possible to use for iOS only android theme ?"
Is it possible to use for iOS only android theme ?
So same UI for iOS and android

[2018-04-25 21:05] christian150590 opened #1838 "Multiple props missing from typings (Picker, Header, SwipeRow, Toast)"
## react-native, react and native-base version
- RN 0.55.2
- R 16.3.1
- NB 2.4.2

## Expected behaviour
Typings present
## Actual behaviour
Typings not present
## Steps to reproduce (code snippet or screenshot)
[code]

[code]

[code]

[code]

[code]

[code]

## Screenshot of emulator/device
n/a
## Is the bug present in both ios and android or in any one of them?
Yes

[2018-04-26 04:17] SupriyaKalghatgi commented on #1837
http://docs.nativebase.io/Customize.html#theme-and-variables-headref

[2018-04-26 04:17] #1837 closed

[2018-04-26 09:10] anhhai680 commented on #1460
@akhil-geekyants thank you for your help.

[2018-04-26 10:20] ZeroCool00 opened #1840 "Statusbar content become white when open Actionsheet"
I using dark-content statusbar on root in app.js but when actionsheet open `statusbar content` become white on white background.

[code]

code for actionsheet
[code]
status content is not visible when actionsheet open
![screenshot_20180426-154631](https://user-images.githubusercontent.com/18139594/39300571-c7dc5226-4969-11e8-9fc0-633bde38afca.png)

[2018-04-26 12:05] akhil-geekyants commented on #1840
@ZeroCool00 related to react-native issue https://github.com/react-native-community/react-native-modal/issues/50

[2018-04-27 02:42] 337240552 commented on #579
`<Text uppercase={false}>some text</Text`

[2018-04-27 05:35] ZeroCool00 commented on #1840
@akhil-geekyants  Finally fix it.  just need to add this [lib](https://github.com/listenzz/react-native-modal-translucent)

[2018-04-27 06:28] #1840 closed

[2018-04-27 07:47] SupriyaKalghatgi commented on #1832
@SirPhemmiey We confirmed Picker use cases from Docs, with React 16.3.1, React Native 0.55.2 and latest of NativeBase, did not find any issues

Do go through docs

[2018-04-27 07:47] #1832 closed

[2018-04-27 07:49] SupriyaKalghatgi commented on #1814
@sfratini here is the source code
https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/src/screens/deckswiper/simple.js

iOS output: https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/screenshots/ios/deckswiper.gif

Android output: https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/screenshots/android/deckswiper.gif

[2018-04-27 07:49] #1814 closed

[2018-04-27 07:50] SupriyaKalghatgi commented on #1832
You can refer https://github.com/GeekyAnts/NativeBase-KitchenSink

[2018-04-27 07:51] #1826 closed

[2018-04-27 07:51] #1812 closed

[2018-04-27 07:56] #1762 closed

[2018-04-27 07:57] #1599 closed

[2018-04-27 07:58] SupriyaKalghatgi commented on #1815
@r3wt Any update on this?
Will be closing this today, in case of no activity

[2018-04-27 08:03] SupriyaKalghatgi commented on #1721
@ilkerceng We will implement this soon

Subscribe on https://nativebase.io/ for updates

[2018-04-27 08:03] #1721 closed

[2018-04-27 12:15] SupriyaKalghatgi commented on #1827
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:15] #1827 closed

[2018-04-27 12:15] SupriyaKalghatgi commented on #1819
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:16] SupriyaKalghatgi commented on #1818
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:16] SupriyaKalghatgi commented on #1550
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:16] #1550 closed

[2018-04-27 12:17] SupriyaKalghatgi commented on #1781
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:17] SupriyaKalghatgi commented on #1780
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:17] #1780 closed

[2018-04-27 12:17] SupriyaKalghatgi commented on #1731
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:18] SupriyaKalghatgi commented on #1816
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:18] #1816 closed

[2018-04-27 12:18] SupriyaKalghatgi commented on #1765
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:18] #1765 closed

[2018-04-27 12:18] SupriyaKalghatgi commented on #1801
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:18] #1801 closed

[2018-04-27 12:18] SupriyaKalghatgi commented on #1803
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:18] #1803 closed

[2018-04-27 12:18] SupriyaKalghatgi commented on #1824
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:18] #1824 closed

[2018-04-27 12:19] SupriyaKalghatgi commented on #1838
Fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

[2018-04-27 12:19] #1838 closed

[2018-04-27 15:41] r3wt commented on #1815
@SupriyaKalghatgi don't be a douche, you got to give me enough time. understand that i am very busy!!! i have to make time for open source, look at my projects i haven't even committed in months.

[2018-04-27 15:44] Slessi commented on #1803
@SupriyaKalghatgi Are you sure?

df536f7 introduced `getRef?: React.Ref<ReactNative.TextInput>`

But shouldn't it be `getRef?: (ref: React.Ref<ReactNative.TextInput>) => void`

[2018-04-27 16:29] RoninSTi opened #1842 "Attempts to access ref on any Native Base component results in crash."
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-04-27 17:57] VanessaChu opened #1843 "How can I style picker's iosIcon?"
How can I style the Picker's iosIcon? It is too big. By inspecting it, font size is 22.

This is what i tried:
1.
[code]
Added  iosIcon={<Icon style={{fontSize: 12, fontWeight: '300'}} name='chevron-down' />} to picker.

2. Edited native base component Icon:
import variable from './../variables/platform'

[code]

Neither worked for me. The size of Picker's iosIcon is defaulted to 22.

[2018-04-27 18:28] ilkerceng commented on #1721
I will, thank you so much @SupriyaKalghatgi

[2018-04-28 08:49] andidev commented on #1731
@SupriyaKalghatgi
It is almost solved in 2.4.3, Inputs for Item rounded seems to be fixed.
Though Inputs for Item stackedLabel still has lineHeight set to something. Setting lineHeight to null on Input fixes the issue.

This is a working example showing the bug:
[code]

and this is a working example of the fix:
[code]

[2018-04-28 11:36] alihesari opened #1844 "How to remove bottom border of ListItem?"
Hi, I read some Issues to solve this problem. But the problem not solved. I'm using this code:
[code]

[2018-04-28 12:01] userbq201 opened #1845 "How to add a border-radius to card element"
To the shadow, and the container simultaneously add border-radius

[2018-04-28 13:47] zeustrong commented on #1734
I fixed it by navigating to `react-base-theme/`
then `sudo chmod 755 -R *`

[2018-04-28 20:21] ronilitman opened #1846 "Question | Superscript support"
Hi! Thanks for a great library which makes my life a lot easier!

One small question: I could not find any good support for a replacement for HTML's **sub** and **sup** elements in react native, and I have not seen anything like this on NativeBase docs. Do you happen to have such support or plan to implement it on the future? All the solutions I have seen are hacky, which involve playing with line

[2018-04-28 22:57] kaym0 opened #1847 "Bar on side of itemlist component"
All of the item lists have a bar on the side which indents them, but when making items into buttons (like in a drawer) it looks really stupid. Could you possibly add the option of taking this out? I understand that it works fine for the standard white design, but if you use any other design and want to highlight buttons like the current route it just looks super awkward having that bar there.

You

[2018-04-28 23:05] kaym0 commented on #1847
Fix for this is to set items as itemDivider such as below

[code]

You can setup background color for each item and it spans the entire length of the actual list

<img src="https://gyazo.com/a9df3b99e094174e6859bf77607ef8b5.png"/>

[2018-04-29 07:47] MahmoodBakhshayesh opened #1848 "all tabs height increase when one tab is list and scrolls"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-04-29 09:37] nikssardana commented on #494
I am having the same problem. Here is my code:-

[code]

I have tested it on an android device. I even tried `justifyContent: 'center'` on the button, but that does not seem to work.
NativeBase version in my package.json is:
`"native-base": "^2.4.3",`

[2018-04-29 11:12] alihesari commented on #1094
@shivrajkumar
This code doesn't work.
[code]

I'm using `ImageBackground` and works properly:
[code]

[2018-04-29 13:34] Louis-Tian commented on #407
This should be mentioned in the doc.

[2018-04-29 18:58] accateo opened #1849 "update native base latest version"
Hi!
I'm using the  2.3.1 version of native-base, but I want to upgrade it. I did:

npm install native-base@latest -g

and the command worked fine. After that I did:

node node_modules/native-base/ejectTheme.js

and also here ok. But why when I do npm outdated I always see that my current version is 2.3.1 and not 2.4.3?
Thanks

[2018-04-29 23:41] andidev opened #1850 "Font rubicon-icon-font.ttf missing in 2.4.3"
## react-native, react and native-base version
    "native-base": "2.4.3",
    "react-native": "0.55.3",
    "react": "16.3.1",

I get the following error when running `react-native run-ios`
![skarmavbild 2018-04-30 kl 01 39 43](https://user-images.githubusercontent.com/571389/39412118-94c8f79e-4c17-11e8-9ffb-8431115522f9.png)

[2018-04-29 23:49] r3wt commented on #1815
hi @SupriyaKalghatgi is there any update? I have provided a code sample.

[2018-04-30 09:20] AbigailMcP opened #1852 "Block style button in form not rendering in Android"
## react-native, react and native-base version
- react 16.3.2
- react-native 0.55.3
- native-base 2.4.2

## Expected behaviour
A block button should be rendered in the Android version of the app.

## Actual behaviour
The button does not render.

## Steps to reproduce (code snippet or screenshot)

Code snippet for the form:

[code]

Used in a screen:

[code]
## Screenshot of emulator/device
![scree

[2018-04-30 15:50] hanspoo commented on #1240
Agree with paul: You guys should really update the get started instructions for crna

[2018-04-30 18:27] kstolte commented on #1667
I also ran into this. Resolved it on my side by making the

[code]

[2018-05-01 12:59] leofontes commented on #1666
@RobertHeim mind sharing which one?? I'm also having problems with this Toast

[2018-05-01 13:41] alihesari opened #1853 "Picker Item text Font family"
I use `textStyle` and `itemTextStyle` to change font family in Picker text item but doesn't work.
Can anyone help me?

[code]

and

[code]

[2018-05-01 14:54] raajnadar commented on #1532
@SupriyaKalghatgi will the existing changes be overwritten after ejecting??

[2018-05-01 16:41] gibbsfromncis opened #1854 "Floating Label Input text goes on second line"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-05-01 17:50] RobertHeim commented on #1666
@leofontes We ended up rebuilding the whole navigation using https://github.com/wix/react-native-navigation and we build a custom Toast View around their (badly documented) notification system. We create one using the Navigator:

[code]
and within the ToastView we put a btn to dismiss it:
[code]

[2018-05-01 22:14] ViktorAksionov commented on #1532
@raajnadar
Ejecting just doing simple copy, it's not a merging process, so yeah, you will loose your data in case if you ejected before and modified them.

[2018-05-02 06:33] akhil-geekyants commented on #1842
@RoninSTi checked this with native-base version 2.4.3.Checked ref using `<Input/>` component. Can you try upgrading react and react-native packages. If this issue still occurs, can you post a sample code for us to reproduce. Attaching a gif.

Gif

![ref](https://user-images.githubusercontent.com/27768184/39508572-af41fa54-4e00-11e8-8273-c444a164afc9.gif)