[2017-12-08 14:00] slorber opened #1431 "Input has weird behavior when text transform is applied (android)"
## react-native, react and native-base version

Expo SDK 23, native-base 2.3.3

## Expected behaviour

The Input should work correctly in all cases when I do `onChangeText={text => this.setState({text: text.toLowerCase()})}`

## Actual behaviour

On Android, as it tries to capitalize the first letter of the input, you end up typing "Abcdef", expecting the input value to become "abcdef" (lowercased

[2017-12-08 14:34] Jancat commented on #1430
@akhil-geekyants Thanks, I thought about this way using `SwipeRow`.
But the default behavior such closing rows when other rows are opened will be lost.
And the press event seems to be invalid, like this:

[code]

I want to know whether there is a plan to use FlatList in Swipable List for better performance?

[2017-12-08 20:34] DustinEwan commented on #1301
I'm trying to use Native Base and Typescript together for a client but hitting a wall.  Any suggestion on this is greatly appreciated.

[2017-12-09 00:21] ceefour opened #1432 "Fab child buttons are "shown" initially/sometimes when active=false"
## react-native, react and native-base version

Other than my project, this also happens with current KitchenSink in Expo.

[code]

## Expected behaviour

Fab child buttons are hidden when active=false.

## Actual behaviour

Fab child buttons are "shown" initially, although partially covered or in different position. Let me show you what I mean.

KitchenSink, during **first open**: see that red bu

[2017-12-09 10:35] phamdung103 opened #1433 "How to remove ... it ???"
When I press the button. I want to remove it

![img_20171209_171458](https://user-images.githubusercontent.com/8158019/33794807-f4100020-dd05-11e7-8669-44b84a1f4f46.jpg)

## My code:
[code]

## My dependencies:
    "native-base": "^2.3.5",
    "react": "16.0.0",
    "react-native": "0.51.0",
    "react-native-vector-icons": "^4.4.2",
    "react-navigation": "^1.0.0-beta.21"

## My devices:
Genymot

[2017-12-09 10:59] SupriyaKalghatgi commented on #1431
@slorber Sharing expo link help us to know the issue
Appreciated!

We will get back to you in this

[2017-12-09 11:02] SupriyaKalghatgi commented on #1433
#1206

[2017-12-09 11:02] #1433 closed

[2017-12-09 11:09] SupriyaKalghatgi commented on #1348
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:09] #1348 closed

[2017-12-09 11:11] SupriyaKalghatgi commented on #1353
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:11] #1353 closed

[2017-12-09 11:12] SupriyaKalghatgi commented on #1234
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:12] #1234 closed

[2017-12-09 11:13] SupriyaKalghatgi commented on #1331
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:13] #1331 closed

[2017-12-09 11:15] SupriyaKalghatgi commented on #1413
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:15] #1413 closed

[2017-12-09 11:16] SupriyaKalghatgi commented on #1028
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:16] #1028 closed

[2017-12-09 11:17] SupriyaKalghatgi commented on #1330
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:17] #1330 closed

[2017-12-09 11:18] SupriyaKalghatgi commented on #1351
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:18] #1351 closed

[2017-12-09 11:18] SupriyaKalghatgi commented on #1398
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:18] #1398 closed

[2017-12-09 11:19] SupriyaKalghatgi commented on #1235
Fixed with NativeBase [2.3.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.5)

[2017-12-09 11:19] #1235 closed

[2017-12-09 11:42] SupriyaKalghatgi commented on #1163
Closing this
Please reopen this issue if help needed

[2017-12-09 11:42] #1163 closed

[2017-12-09 11:42] SupriyaKalghatgi commented on #1394
Closing this
Please reopen this issue if help needed

[2017-12-09 11:42] #1394 closed

[2017-12-09 11:46] SupriyaKalghatgi commented on #1249
@carsonwah `marginLeft` has been the design for ListItem
I can help you more if you share your snippet and screenshot of simulator

[2017-12-09 11:47] SupriyaKalghatgi commented on #1333
Closing this
Please reopen this issue if help needed

[2017-12-09 11:47] #1333 closed

[2017-12-09 14:35] kk412027247 opened #1434 "The demo doesn't work"
### description

I flow the demo, but the code doesn't work.
The content component is missing,
and the header component is missing in IOS ,
and the footer component is missing in android.

I very puzzle than why this happen.
Can someone help me ?

### code
[code]

### screen

<img width="854" alt="2017-12-09" src="https://user-images.githubusercontent.com/30715186/33796835-8716433a-dd37-11e7-8ab3-

[2017-12-09 18:34] oferRounds commented on #1398
YAY!!! Thanks!

[2017-12-09 18:36] oferRounds commented on #1398
Wait, you just removed it? So it means it can’t be controlled?

[2017-12-09 23:13] dancork opened #1436 "Error mapping Card component"
## react-native, react and native-base version
native-base: 2.3.4
react: 16.0.0
react-native: https://github.com/expo/react-native/archive/sdk-23.0.1.tar.gz (0.50.4)

## Expected behaviour
Should render multiple Card components

## Actual behaviour
Throws the following error
[code]

## Steps to reproduce (code snippet or screenshot)
[code]

## Screenshot of emulator/device
## Is the bug present in

[2017-12-09 23:27] #1436 closed

[2017-12-09 23:27] dancork commented on #1436
Was my fault, should be `projects.length > 0`

[2017-12-10 02:39] remon-georgy commented on #1359
Having issues with undeclared variables here too. I confirm the PRs above tackle those issues.

Any chance those trivial fixes could be merged soon?

[2017-12-10 05:34] pallavbakshi commented on #826
Hey! I haven't checked out the code of GeekyAnts Nativebase package but generally my images flash when I re-render a component from <View> tag to <Animated.View> tag. So basically, you should use <Animated.View> even for the cards that are not at the top of the stack.

[2017-12-10 10:38] carsonwah commented on #1249
Sorry for the late response. I was working on other things. Here is the screenshot.

![simulator screen shot - iphone x - 2017-12-10 at 18 32 25](https://user-images.githubusercontent.com/25053707/33804120-2a12ced6-ddd9-11e7-81cf-639ec5a6807e.png)

My code:

[code]

[code]

Can confirm this happens also on standalone app.

[2017-12-10 12:35] CliveTeow commented on #826
Yes. I followed a deck swiper component creation online tutorial. After use <Animated.View> for the cards that are not at the top of the stack, the image flashing is gone.

[2017-12-11 03:13] kbrandwijk opened #1439 "Latest version? Changelog?"
Homepage says latest version is 2.3.3, docs are on 2.2.0, npm says 2.3.5...

[2017-12-11 03:14] craftzdog commented on #64
Seems like `theme` prop is no longer supported. I made a custom Icon class for using other icon families:

[code]

Example:

[code]

[2017-12-11 05:36] SupriyaKalghatgi commented on #1398
Yes, usage of this was discontinued, though it was not removed from theme

[2017-12-11 05:38] oferRounds commented on #1398
Ok. Then how can I increase the height of the list item?

[2017-12-11 05:40] SupriyaKalghatgi commented on #1436
Thats fine!

[2017-12-11 05:47] SupriyaKalghatgi commented on #1359
@remon-georgy Yes, this week

[2017-12-11 05:52] SupriyaKalghatgi commented on #1434
@kk412027247 I dont find any issue

![simulator screen shot - iphone 7 - 2017-12-11 at 11 21 29](https://user-images.githubusercontent.com/13464885/33817406-766469d4-de65-11e7-8ec2-5315962be416.png)

dependencies
[code]

[2017-12-11 05:53] SupriyaKalghatgi commented on #1434
@kk412027247 You can try re-installing native-base

[2017-12-11 05:58] SupriyaKalghatgi commented on #1249
@carsonwah Can you check for this implementation in NativeBase-KitchenSink?
https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/js/components/button/index.js

Here is the output for shared link
![simulator screen shot - iphone 7 - 2017-12-11 at 11 27 41](https://user-images.githubusercontent.com/13464885/33817627-6dd34a78-de66-11e7-93f7-a2a498c261c2.png)

[2017-12-11 05:59] akhil-geekyants commented on #1397
Closing this issue due to no response

[2017-12-11 05:59] #1397 closed

[2017-12-11 06:00] akhil-geekyants commented on #1393
Closing this issue due to no response

[2017-12-11 06:00] #1393 closed

[2017-12-11 06:05] SupriyaKalghatgi commented on #1439
@kbrandwijk
About homepage, yes we are checking it
Docs, it becomes difficult to update on every patch release. But yes, we are looking into this. Its on our list. Very soon this will be resolved

[2017-12-11 06:05] SupriyaKalghatgi commented on #1439
ChangeLog and Release Notes are up-to-date

[2017-12-11 06:15] akhil-geekyants commented on #1398
@oferRounds you can just override the style of ListItem and set the height to your desired height.
Like  `<ListItem style={{ height: 60 }}>`

[2017-12-11 06:52] oferRounds commented on #1398
Ok, tried it, but now there is an issue with the separator. Any idea how to solve it?

<img width="429" alt="screen shot 2017-12-11 at 8 50 27" src="https://user-images.githubusercontent.com/1477963/33818973-937059e4-de50-11e7-9c19-7023febd0c38.png">

[2017-12-11 06:53] oferRounds commented on #1398
[code]

[2017-12-11 07:05] akhil-geekyants commented on #1398
@oferRounds same way as we did for <ListItem/>. Just override the style of <Separator/> and set the desired height.
Like  `<Separator bordered style={{ height: 50 }}>`

[2017-12-11 07:08] oferRounds commented on #1398
Thanks, but I get a tslint error, saying that `style` does not exist on this item. Also, it doesn’t seem to affect even I insist on adding it

[2017-12-11 07:09] oferRounds commented on #1398
Oh, sorry, I see that it does affect, but it just increases the seperator; my problem is with the right side of the list item

[2017-12-11 07:11] oferRounds commented on #1398
Ok, solved! Adding it to both `Body` and `Right` items solved it. I think it’s much much better to add a support as intended before, have one place where you control the item’s height (as with the native iOS)

[2017-12-11 07:14] oferRounds commented on #1398
Also, as mentioned before, if want to change the `Separator`’s height, I get a tslint error. How can this be solved?

[2017-12-11 08:43] akhil-geekyants commented on #1430
yes, NativeBase will be using FlatList in the upcoming major release.

[2017-12-11 11:24] akhil-geekyants commented on #1431
@slorber tried your code. I was getting the same result with React Native `<TextInput/>`.

Setting `autoCapitalize='none'` can prevent this to some extend.

Gif

![textinput](https://user-images.githubusercontent.com/27768184/33828835-a72f8f66-de93-11e7-951f-424e1ef1ff51.gif)

[2017-12-11 12:54] phantom1299 commented on #1432
@ceefour Hi, I had the same problem. In my case they were like pulled to the side like this when the page was navigated to:
![image](https://user-images.githubusercontent.com/11743227/33831736-5192a8da-de8a-11e7-9437-cbd9ced2bb7d.png)
I overpassed that by checking for active in the child components:

`
          <Fab
            active={this.state.active}
            direction="up"
            con

[2017-12-11 12:59] slorber commented on #1431
hmmm thanks for the workaround.

Maybe I didn't type fast enough when trying with the regular RN TextInput, sorry for bad reporting, it may be a bug related to RN50 instead then

[2017-12-11 16:51] DustinEwan commented on #1301
Bumping for an update.  I'm really wanting to use NativeBase, but my priority on the project is Typescript.

Thanks!

[2017-12-11 17:11] mhyousefi opened #1444 "Thin unwanted lines bellow ListItem content (only in iOS)"
I have a block of code that looks like this:
[code]
Everything looks flawless in my Android build, but in iOS, there are weird thin lines bellow each <ListItem> content as shown in the picture bellow. This happens both in Xcode simulator as well as on a device.

<img width="209" alt="screen shot 2017-12-11 at 8 35 10 pm" src="https://user-images.githubusercontent.com/23746875/33843822-a94d7c2a-deb

[2017-12-12 05:23] akhil-geekyants commented on #1444
@mhyousefi use noBorder prop of `<ListItem/>` .
[code]

[2017-12-12 07:32] WoodsterId opened #1446 "Transparent Header"
Hallo, i have one problem with header in native base, how do i make the header transparent ?
I've been looking for this problem but did not find the solution.

![screenshot from 2017-12-12 14-26-14](https://user-images.githubusercontent.com/32380621/33872351-1a72bad8-df49-11e7-9145-790c2ff77c7e.png)

and why my title can not move to center?

[2017-12-12 07:34] kk412027247 commented on #1434
@SupriyaKalghatgi I didn't use the expo. I use the the native code

[2017-12-12 08:55] pimvernooij commented on #882
+1

[2017-12-12 10:33] akhil-geekyants commented on #1446
@WoodsterId you can make the header transparent by setting the backgroundColor:'transparent' in <Header/> style prop

[code]
or you can [eject the theme](http://docs.nativebase.io/Customize.html#Customize) and set the `toolbarDefaultBg` in `native-base-theme/variables/*.js`

Header title is positioned based on the Material design guidelines. That is why title is aligned on the left of the header.

[2017-12-12 10:58] carsonwah commented on #1249
@SupriyaKalghatgi I have checked both simulator (react-native run-ios) and real device (expo). Both produce normal result.

![img_0338](https://user-images.githubusercontent.com/25053707/33878870-a1e9e540-df67-11e7-9ebb-41b83bb2820b.PNG)

Actually the result is just the same as setting `<ListItem style={{backgroundColor: 'transparent'}}>` under the buggy scenario.

---

I have also modified packag

[2017-12-12 11:36] SupriyaKalghatgi commented on #1249
@carsonwah Try excluding `^` from dependencies
Clear and install `node_modules`

[2017-12-12 11:45] Slessi commented on #977
I also have this problem with below package.json

[code]

[2017-12-12 12:14] WoodsterId commented on #1446
@akhil-geekyants awesome, thanks for your response, problem solved.
![screenshot from 2017-12-12 19-09-14](https://user-images.githubusercontent.com/32380621/33883890-262cbd34-df70-11e7-8999-375ad312d516.png)
I understand better now, thank you @akhil-geekyants

[2017-12-12 12:14] #1446 closed

[2017-12-12 12:14] carsonwah commented on #1249
@SupriyaKalghatgi Can't believe I missed this.

I can identify that it appears starting exactly from 2.3.2. It works fine up to 2.3.1. So should be the same reason as @binhnd-socicom said.

[code]

[2017-12-12 12:32] SupriyaKalghatgi commented on #1249
@carsonwah Glad to know that you found the fix

[2017-12-12 12:36] SupriyaKalghatgi commented on #1249
#1378

[2017-12-12 12:36] #1249 closed

[2017-12-12 16:18] andangrd commented on #1080
I solved this issue by adding prop-types libarary as @torihuang and @jaycee425 said..
https://www.npmjs.com/package/prop-types

[2017-12-12 20:46] mhyousefi commented on #1444
Thank you @akhil-geekyants
Adding the prop `noBorder` resolved the problem for me.

[2017-12-12 23:02] alePistola7CE commented on #910
Same problem for me! header background doesn't update! Any fix about that?

[2017-12-12 23:53] leekuo commented on #1010
Was this fixed?  When will it be merged?  Or else, how can I manually do a temporary fix?

[2017-12-13 03:51] #1444 closed

[2017-12-13 03:55] SupriyaKalghatgi commented on #1010
@leekuo Merging it this week

[2017-12-13 06:27] akhil-geekyants commented on #1434
@kk412027247 tried your code. It is working fine.

Gif

![footer](https://user-images.githubusercontent.com/27768184/33924513-60cd5d68-dffc-11e7-8853-c72a7b4bc3c0.gif)

[2017-12-13 09:26] husnainafzal86 commented on #912
Thanks! worked perfectly with elevation={3} or {4}

[2017-12-13 13:34] idrakimuhamad commented on #985
I just want to add that I’m having this issue too with v 2.3.3

[2017-12-13 15:06] kk412027247 commented on #1434
@akhil-geekyants
Thank you very much.
Finally,It is working fine.
I use this code as a child component to the App, perhaps this reason did cause the bug.

<img width="1440" alt="10 55 14" src="https://user-images.githubusercontent.com/30715186/33945447-0f572ea6-e05a-11e7-9920-5810211075dc.png">

[2017-12-13 18:15] gianpaj commented on #985
FYI: this issue happens both on Android and iOS

[2017-12-13 19:59] christianversloot commented on #1415
Any clues? @akhil-geekyants

[2017-12-13 20:46] leekuo commented on #1010
Thank you very much @SupriyaKalghatgi !  Native base is incredible to use so far and am eagerly anticipating this fix so we can deploy our first react native app!

[2017-12-13 22:04] virus2016 commented on #1275
+1

[2017-12-13 23:18] AleksandarAleksandrov commented on #947
I'm experiencing the same problem:

[code]

[code]

It just shows an empty screen:
![image](https://user-images.githubusercontent.com/9517720/33967522-78cd32a6-e06c-11e7-8001-60b19c63d702.png)

[code]

Any ideas ?

[2017-12-14 00:08] AleksandarAleksandrov opened #1450 "Nothing is shown inside <Content>"
I'm experiencing the following problem:
No mater what I set in `Content` nothing is visualized, not even a simple `<Text>`

[code]

[code]

It just shows an empty screen:
![image](https://user-images.githubusercontent.com/9517720/33967522-78cd32a6-e06c-11e7-8001-60b19c63d702.png)

[code]

Any ideas ?

[2017-12-14 04:17] #1434 closed

[2017-12-14 05:04] SupriyaKalghatgi commented on #1010
@leekuo Happy to hear that

[2017-12-14 06:52] akhil-geekyants commented on #1415
@christianversloot try setting `backgroundColor` in tabsContainerStyle of `<ScrollableTab/>` to the required color for each platform.
Like
[code]

[2017-12-14 07:53] akhil-geekyants commented on #1450
@AleksandarAleksandrov tried a similar code. Were able to see the components. Can you share the code for `renderInput`

Gif

![reduxform2](https://user-images.githubusercontent.com/27768184/33981190-dbcbc268-e0d1-11e7-8cac-4aac4d891bda.gif)

[2017-12-14 08:08] AleksandarAleksandrov commented on #1450
This is the code for renderInput:

[code]

[2017-12-14 08:48] akhil-geekyants commented on #1450
@AleksandarAleksandrov tried your code. Couldn't find any issue. Attaching a gif

Gif

![reduxform](https://user-images.githubusercontent.com/27768184/33983272-8c27792a-e0d9-11e7-8624-812424e059d4.gif)

[2017-12-14 09:06] Jancat commented on #1430
By the way. I can't customize list item style in `SwipeRow`.
Such as I can't modify the default `SwipeRow` `body` style below:
![image](https://user-images.githubusercontent.com/11827786/33983916-c99b58dc-e0f0-11e7-89c8-09c9981b5e67.png)

Why not give a `style` property ?

[2017-12-14 10:03] AleksandarAleksandrov commented on #1450
Deleted node_modules and rebuild the whole application again.

Still nothing is shown.

When I remove the native-base it works!

![image](https://user-images.githubusercontent.com/9517720/33986604-c11f7cee-e0c6-11e7-8373-2f0318c7d8d2.png)

[2017-12-14 10:07] AleksandarAleksandrov commented on #1450
I will later upload the code to a git repo.

[2017-12-14 10:26] AleksandarAleksandrov commented on #1450
The code is at:

https://github.com/AleksandarAleksandrov/native-base-test-issue-1450

[2017-12-14 12:30] christianversloot commented on #1415
This fixes the problem, thanks 👍 😄

[2017-12-14 12:42] davidvuong opened #1453 "Allow the ability to override activeOpacity in CardItem"
Here: https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/CardItem.js#L8-L28

[code]

When `button` is specified, you hardcode the `activeOpacity` to `0.2`. Can this be changed so that `activeOpacity` can be overridden?

[2017-12-14 13:35] Kaisaurus commented on #946
If anyone still stumbles upon this problem
Rather trying to pass a prop to navigation you should pass it to the child component like so:
(I am passing the navigation prop from the StackNavigator)
[code]

[2017-12-16 10:05] oferRounds opened #1455 "Bug: `List`’s `Separator` & `ListItem` style is ignored"
Hey, any idea how to solve this bug?

`List`’s `Separator` & `ListItem` style is ignored. My code:

[code]
<img width="414" alt="screen shot 2017-12-16 at 12 02 59" src="https://user-images.githubusercontent.com/1477963/34069397-1f74fbf0-e259-11e7-9c7b-6baed18c3883.png">

- react-native - 0.48.3, react and native-base version - 2.3.3
- Text style should not be ignored (text color, text font)
- Tex

[2017-12-16 10:08] sosoban opened #1456 "Tabs - ScrollableTabBar - TabHeading Button Style Props"
## react-native, react and native-base version
react-native 0.48.4
react 16.0.0-alpha.12
native-base 2.3.5

## Expected behaviour
ScrollableTabBar TabHeading Button element to align left and having animated underline.
<img width="348" alt="screen shot 2017-12-16 at 11 02 41 pm" src="https://user-images.githubusercontent.com/34588624/34069400-62abbbd2-e2b5-11e7-8fdd-5be0e6e0cb32.png">

## Actual be

[2017-12-16 10:19] oferRounds commented on #1455
My bad, there was some problem with the refresh of the app... Sorry!

[2017-12-16 10:19] #1455 closed

[2017-12-17 08:11] cupliz commented on #1244
@micimize i got this after editing some file you mentions, do you know hot resolve it?

`/node_modules/native-base-shoutem-theme/src/StyleProvider.js
Module parse failed: Unexpected token (10:19)
You may need an appropriate loader to handle this file type.
|  */
| export default class StyleProvider extends React.Component {
|   static propTypes = {
|     children: PropTypes.element.isRequired,
|

[2017-12-17 11:46] harshada-bhanose commented on #1079
@SupriyaKalghatgi still facing this issue using 2.3.3

[2017-12-17 13:28] DustinEwan commented on #1301
So, for anyone else reading this... it's not pretty, but until the pull request gets merged / released you can add the following line above any tabs that are complaining about type mismatches.

`// @ts-ignore  -- A bug with NativeBase's typescript definition.  Should be fixed soon`

Good luck!

[2017-12-17 20:24] vanvietquocanh commented on #1214
hyuy was right with the same problem I had

[2017-12-17 20:24] vanvietquocanh commented on #1214
hyuy was right with the same problem I had

[2017-12-18 01:21] TranAnhDuc opened #1457 "Problem install native-base with npm"
Hi, when trying to install native-base, I've got this problem:

The problem only occured with version 2.3 onward. I can install version 2.2 without problem.

[2017-12-18 03:27] #1456 closed

[2017-12-18 05:31] #1389 closed

[2017-12-18 05:35] SupriyaKalghatgi commented on #1456
@sosoban Do you need help on this?
Seems that you closed this issue

[2017-12-18 05:45] SupriyaKalghatgi commented on #1457
@TranAnhDuc Probably `git` issue on your system

[2017-12-18 05:46] #1415 closed

[2017-12-18 05:47] SupriyaKalghatgi commented on #1419
Closing this due to inactivity
Please reopen this issue, if help needed

[2017-12-18 05:47] #1419 closed

[2017-12-18 07:53] akhil-geekyants commented on #1214
@vanvietquocanh can you try with the latest native-base version(2.3.5).

[2017-12-18 07:54] sanketsahusoft commented on #1457
@TranAnhDuc Can you try cloning with SSH?
![image](https://user-images.githubusercontent.com/1733433/34095239-b15d7580-e3f6-11e7-970f-bc0b2d8c9ec8.png)

Closing because it works for everybody else.

[2017-12-18 07:54] #1457 closed

[2017-12-18 10:34] akhil-geekyants commented on #612
Fixed in the latest version (2.3.5)

Screenshots

iPhone 6 plus

![simulator screen shot - iphone 6 plus - 2017-12-18 at 16 00 10](https://user-images.githubusercontent.com/27768184/34101840-1405d0ea-e40d-11e7-8845-d3ec45a20f67.png)

iPhone 7 plus

![simulator screen shot - iphone 7 plus - 2017-12-18 at 15 58 19](https://user-images.githubusercontent.com/27768184/34101849-1ac8bbea-e40d-11e7-90cf-f

[2017-12-18 10:37] #612 closed

[2017-12-18 13:22] jobala commented on #1315
@akhil-geekyants I can work on this enhancement.

[2017-12-18 14:05] akhil-geekyants commented on #1315
@jobala once completed, you can make a PR. Let us know if you need any help.

[2017-12-18 14:43] jobala commented on #1315
I can make this use, the native bottom sheet, should I do that?

[2017-12-18 17:27] delkant commented on #1428
Hi @akhil-geekyants ,  image is great! but can you also share some code? Couldn't find any example on how to use Badge with an image out of a FooterTab.

Thanks

[2017-12-18 18:01] fabryx92 commented on #977
I have this problem too, with almost the same package.json of Slessi, but with a different "jest" instead:

`"jest": {
    "preset": "react-native",
    "transformIgnorePatterns": [
      "/node_modules/(?!native-base)/"
    ]
 }`

[2017-12-18 21:50] simakwm commented on #422
Was it fixed in current master?

[2017-12-19 05:27] sanketsahusoft commented on #178
We are using Prettier throughout the project, so we won't add Eslint any more.

[2017-12-19 05:27] #178 closed

[2017-12-19 05:33] sanketsahusoft commented on #678
It's been fixed. The conflict can be resolved by overriding _FELA_THEME_. There was a conflict between the two using the same key.

[2017-12-19 05:33] #678 closed

[2017-12-19 07:02] akhil-geekyants commented on #1428
@delkant

Sample code

[code]
Image

![simulator screen shot - iphone 6 - 2017-12-19 at 12 30 42](https://user-images.githubusercontent.com/27768184/34144681-9f53a7ca-e4b8-11e7-8199-c70a8f1e76f4.png)

[2017-12-19 07:24] chinmay-xenious commented on #1102
This issue is not solved by the style={{ flexDirection: 'row-reverse' }},
Because after use this style, item left margin was swap to right.

Any more option?

[2017-12-19 07:46] chinmay-xenious commented on #1102
Also there is an icon position issue for floatingLabel Item with 'last' property.

[2017-12-19 09:35] midastouchprd opened #1458 "ReferenceError: resolvedStyle is not defined"
## react-native, react and native-base version

"native-base": "^2.3.5",
"react": "16.0.0",
"react-native": "0.50.3",
"expo": "^23.0.6",

## Expected behaviour

Not throw Error

## Actual behaviour

ReferenceError: resolvedStyle is not defined

![screen shot 2017-12-19 at 3 33 18 am](https://user-images.githubusercontent.com/18386032/34150241-6c2e1646-e46d-11e7-9d73-92ca39cacc58.png)

## Steps to

[2017-12-19 09:38] SupriyaKalghatgi commented on #1458
#1359

[2017-12-19 09:38] #1458 closed

[2017-12-19 10:58] akhil-geekyants commented on #1429
Closing this issue due to no response

[2017-12-19 10:58] #1429 closed

[2017-12-19 10:59] #1400 closed

[2017-12-19 11:01] akhil-geekyants commented on #1400
Not present in React Native 0.51.0

[2017-12-19 12:46] midastouchprd commented on #1359
Is there a version with this fixed?

[2017-12-19 14:13] Schattenjager opened #1459 "Error installing NativeBase"
Hi, I'm having trouble installing NativeBase using npm when using the `npm install native-base --save` commands.

versions:
node: v6.11.1
npm: v5.6.0
react-native: v2.0.1

Expected behaviour:
Native-Base should install.

Actual behaviour:
Installation gives error saying that there is no git binary in the path.

Steps to reproduce (code snippet or screenshot):
![image](https://user-images.githubuse

[2017-12-19 14:58] theohdv commented on #1362
Same problem for me but I think this is a duplicate of #713

[2017-12-19 15:25] IbraheemAlSaady commented on #1362
@theohdv, you're right, but the suggested solution is for jest, not mocha :/

[2017-12-19 16:16] deepupathak opened #1460 "How to set active tab dynamically"
Hi,
I am unable to set active tab dynamically. Please provide solution for this problem. I am sharing required information below.
## react-native, react and native-base version

1. react-native -v: 0.47.1
2. node -v: 6.2.1
3. npm -v: 4.2.0
4. target platform: Android
5. operating system: windows 10 64 bit

## Expected behaviour
N/A
## Actual behaviour
N/A
## Steps to reproduce (code snippet or scr

[2017-12-19 20:15] rodrigoreis22 commented on #665
Not working on v2.3.3

[2017-12-19 20:16] rodrigoreis22 commented on #1010
Any updates on the new release that will fix this?

[2017-12-19 21:26] ChadTaljaardt commented on #882
+1

[2017-12-19 22:23] sosoban commented on #1456
@SupriyaKalghatgi, thank you for your reply. I extended the renderTab() method from the ScrollableTabBar component, added the props and it works for me, so that's all good.

However, it might be good to add styles/props configurations for <Button> from TabBar?

Thanks,
Shayne

[2017-12-20 05:08] SupriyaKalghatgi commented on #1359
@midastouchprd Merging it today

[2017-12-20 05:10] SupriyaKalghatgi commented on #1459
@Schattenjager Try installing `react-native-vector-icons` in your project to know if it works

To have `git` as a mandatory requirement in docs would sound silly

[2017-12-20 05:15] SupriyaKalghatgi commented on #1010
Merging it today

[2017-12-20 05:20] SupriyaKalghatgi commented on #1460
@deepupathak Check the docs for Tabs
`initialPage` should do the work
Pass the page number to this

[2017-12-20 05:51] deepupathak commented on #1460
Hi @SupriyaKalghatgi thanks for quick response.

I have tried this but doesn't work for me. I am sharing code snippet below -

[code]

and I am calling` activateTab()` method on button click and pass `this.state.activeTabValue` inside `initialPage`.

[2017-12-20 05:56] SupriyaKalghatgi commented on #1460
@deepupathak Did you try passing static values to `initialPage`?
Did that work?

[2017-12-20 06:20] Schattenjager commented on #1459
@SupriyaKalghatgi Hi, thanks for the response. I was able to successfully install react-native-vector-icons. Didn't check to see if I could install native-base after shutting down yesterday but I was now able to also install native-base. Doubt it had anything to do with react-native-vector-icons, think I might have just needed a restart yesterday.... Silly.

Anyway thanks for the help.

[2017-12-20 06:24] SupriyaKalghatgi commented on #1459
@Schattenjager Nothing related to `react-native-vector-icons`
Restart worked for it probably

[2017-12-20 06:24] #1459 closed

[2017-12-20 08:02] deepupathak commented on #1460
@SupriyaKalghatgi Its working but I want to open the tab on button click with dynamic tab number (activeTabValue) which I mentioned above.

[2017-12-20 09:18] Su2294chi commented on #1218
Hi All,
Can anyone of you help me out with this issue:

unable to access 'https://github.com/GeekyAnts/react-native-drawer.git/': Failed to connect to github.com port 443: Connection refused
48 error

[2017-12-20 10:25] theohdv commented on #713
Still have the problem, 2.3.2 with:

[code]

[2017-12-20 11:39] SupriyaKalghatgi commented on #1218
@Su2294chi node and npm version?

[2017-12-20 12:08] Su2294chi commented on #1218
@SupriyaKalghatgi Hi Supriya..
the node version is :- v8.9.1
and the npm version is 5.5.1
please let me know if any other info is required that would lead in resolving the issue..

[2017-12-20 14:47] stevenyoon opened #1462 "Optimistically rendering Tabs when swiping"
Would it be possible to optimistically render the tab as we are horizontally scrolling tabs using the scrollable tab bar? I.e. when a user starts swiping the SceneComponent to either the left or the right, have the adjacent screen start to load before it gets fully swiped. This could improve the user experience by having tabs load faster (especially if you're making an async request to an api). Th

[2017-12-20 17:52] melch-inno commented on #1080
Am having the same problem.
Below is the error log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/9.3.0_1/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'update' ]
2 info using npm@5.6.0
3 info using node@v9.3.0
4 verbose stack Error: Cannot find module 'minimatch'
4 verbose stack     at Function.Module._resolveFilename (module.js:555:15)
4 verbose s

[2017-12-20 18:55] micimize commented on #1244
@cupliz you need to `include` any untranspiled node modules in your babel loader, which there are a lot of with the react-native ecosystem.
[code]
I prefer to do this explicitly per module, but you could use a regex and `include` properly transpiled modules instead

[2017-12-20 19:56] brownieboy commented on #1041
Had the same problem and was able to work around it using the `Expo.Font.loadAsync()`.

I didn't have any such problems in iOS, so I have to question why NativeBase is defaulting to an iOS-friendly font on Android.  Can't it be smart enough to use fonts that are actually available on each system?

[2017-12-20 21:47] bharat-tiwari commented on #1218
I installed native-base to my react-native project with yarn `yarn add native-base` and then did `react-naïve link`. After this when I run the app with no changes, I am getting below error -

[code]

after this if I remove native-base (`yarn remove native-base`), the project starts running fine as before. This means some error getting introduced with addition of native-base to the project. Any clu

[2017-12-21 01:36] Tzinov15 commented on #1423
When will a fix for this go in? It seems like there's a big discrepancy between the docs (which seem to show `v2.2.0`), the actual code that's inside the latest for `v2.5.0`, and the proposed API (via Typescript definitions) that is in the commit above. @akhil-geekyants any updates on this? Would love to know at the very least if SwipeRow is planned on being maintained in the future so I know whet

[2017-12-21 03:55] SupriyaKalghatgi commented on #1218
@Su2294chi try with npm 4, maybe

[2017-12-21 03:56] SupriyaKalghatgi commented on #1218
@bharat-tiwari Did you try with `npm i native-base --save`?

[2017-12-21 04:04] SupriyaKalghatgi commented on #1462
@stevenyoon NativeBase is a UI library
So loading the adjacent screen before it is swiped, is something not related to UI

[2017-12-21 04:04] #1462 closed

[2017-12-21 07:05] cupliz commented on #1244
@micimize could you give me your working webpack config for this case?
thanks

[2017-12-21 10:39] jariwalabhavesh commented on #1227
@SupriyaKalghatgi
Any update on this issue (solution)

[2017-12-21 11:17] anddon commented on #1359
Any news on this?

[2017-12-21 12:14] #1425 closed

[2017-12-21 14:13] bharat-tiwari commented on #1218
@SupriyaKalghatgi tried installing with npm as well, but same error :(

[2017-12-21 18:28] SeunLanLege commented on #70
So, using typescript with this reveals that this is a design flaw. `_root` doesn't exist on type `Input`. so typecsript won't let me access the `focus()` method

[2017-12-22 04:53] bharat-tiwari commented on #1218
alright, I got the error fixed, did several things, not sure what fixed it. Updated npm and node to latest version. Saw some comment on react-native's GitHub to put 'react-native-cli' before 'react-native' in package.json, so did that as well. Also updated yarn. Finally removed my node_modules and ran `yarn install` again and now the app is running good with native-base. Thanks

[2017-12-22 05:28] brownieboy commented on #1041
Actually, I'm unable to shake this error, despite using the `Expo.Font.loadSync()` method.

This is rapidly becoming a huge, and unnecessary pain, and is putting me right off Exp, CRNA and maybe NativeBase itself.

[2017-12-22 07:07] derit commented on #1174
same here, dropdown not displaying in android

[2017-12-22 07:16] saravanannnallasamy opened #1464 "Drawer container not visible"
I have used Native-Base Drawer component for side menu in my native page. But nothing is visible in that page

`  return (

        <Drawer
            ref={(ref) => { this.drawer = ref; }}
            content={<Sidebarksink navigator={this.navigator} />}
            onClose={() => this.closeDrawer()} >

        <Container>
          <Header style={{backgroundColor:'white'}}>
            <Left>

[2017-12-22 09:12] qinyang1980 commented on #1301
I meet the same issue.

[2017-12-22 09:50] hardcodet commented on #591
This is most definitely broken. I also don't get a reference through `getref`. The `pw` field I'm trying to set here stays `undefined`:

                    <Item error={!loginStore.isValidPassword}>
                        <Icon active name="unlock"/>
                        <Input
                            getRef={i => this.pw = i}
                            placeholder="Password"

[2017-12-22 09:55] Su2294chi commented on #1218
@SupriyaKalghatgi have installed it with the above mentioned configurations in two systems and for one its working fine with no additional change and for the other it is not working fine..
anyother alternative @SupriyaKalghatgi  that you can suggest..!!!

[2017-12-22 21:13] brownieboy opened #1466 "fontFamily 'Roboto_medium' is not a system font and has not been loaded through Exponent.Font.loadAsync"
Loading the app in the Expo client in Android triggers red screen with error

If's simple test app, just displaying an Native-base card.  Works fine on iOS.  Even in Android, I can see it display the NativeBase card briefly before it red screens.   I _am_ loading the font as per the instructions in the readme:

[code]

*Update*
After posting this, I noticed that the readme uses `componentWillMount

[2017-12-22 21:41] oferRounds commented on #1427
@SupriyaKalghatgi following this issue, I’d like to present my `FAB` over a `List` – make it always visible on the right-bottom with a fixed position, floating above the list.

The thing is that I was only manage to present it on the end of the list; i.e., if the list is longer then a screen height, then it won’t be visible until the user scrolls to the end.

Any idea how to work around this issue

[2017-12-22 22:32] micimize commented on #1244
I'm currently working off of [my fork](https://github.com/micimize/NativeBase) with [this configuration](https://gist.github.com/micimize/bf64ecbb6a32c236534a3431e76b27bb). It has a few more need changes other than just the [generic components](https://github.com/GeekyAnts/NativeBase/pull/1437). I'll probably PR when I'm satisfied it's usable

[2017-12-22 22:39] remon-georgy commented on #1244
There already *multiple* PRs queued that are supposed to tackle all those issues.

[2017-12-22 23:23] buzzin0609 commented on #977
I almost had it with iamvery 's suggestion, I added the following and got it working on mine:

[code]

[2017-12-23 02:28] brownieboy commented on #1466
Googling for that "used it before it finished loading" error came with this SO post, which gave me the workaround:
https://stackoverflow.com/questions/47308557/loading-font-native-base-error

Basically, I had to delay rendering of my top-level component until the font has been loaded, like so:
[code]

I'm not happy that you have to put in Expo-level hacks like this, but it is, at least, only on on

[2017-12-23 02:28] #1466 closed

[2017-12-23 03:50] xempie commented on #1010
was this merged?

[2017-12-23 05:01] xempie opened #1467 "Horizontal ScrollView inside Tab component doesn't work"
I'm using NativeBase scrollable Tabs and each tab contains a horizontall ScrollView on top and some other contents under the ScrollView. The issue is when I try to scroll the contents inside ScrollView, it does not move and instead, the page (or Tab) scrolls to the other page or tab.

I want to keep locked={false} to slide between tabs.  If I set locked = {true} the scrollview works but not the pa

[2017-12-23 08:58] fullhdpixel opened #1468 "Invalid prop 'name' on icon"
Here is my markup:

[code]

The Icon name="user" does not work, however the icon with name="unlock" is perfect. I want to use the icon from the EvilIcons namespace.

Referencing this error:
https://github.com/react-native-training/react-native-elements/issues/183

[2017-12-23 10:54] harikanammi opened #1469 "this2.props.openDrawer is not a function(Drawer)"
I am running sample drawer example.
But i am getting error like this: this2.props.openDrawer is not a function. Please give me any suggestion. Thank you.
sideBar.js file:
[code]

Main.js file:
[code]

AppHeader.js file:

[code]

Here is my screenshot:
![screen shot 2017-12-23 at 4 22 45 pm](https://user-images.githubusercontent.com/31063894/34319065-907792f0-e7fd-11e7-82be-ad4546e3bbae.png)

[2017-12-23 13:15] harikanammi commented on #1464
Hi @saravanannnallasamy .......Place your code like below example. I think it's working fine.
AppHeader.js file:
[code]

SideBar.js File:
[code]

[2017-12-23 18:51] micimize commented on #1244
@remon-georgy well, I've only seen the one. But if all the kinks get ironed out without me having to PR anything, even better

[2017-12-23 23:41] Angelk90 opened #1470 "Tabs problem in the scroll of the elements."
@GeekyAnts, @akhil-geekyants:
Hi, I'm using the Tabs component on android.
Link: https://docs.nativebase.io/Components.html#tabs-def-headref
I am not able to scroll the listview that are in the tabs.
## react-native, react and native-base version
	"native-base": "^2.3.3",
	"react": "16.0.0",
	"react-native": "0.50.4",
## Expected behaviour
Scroll of the elements that are in the tabs.
## Actual beh

[2017-12-24 11:52] Angelk90 opened #1471 "Possibility to add new types to toast."
It would be possible to add the missing themes in the toasts, the same themes used in the buttons.
See: https://docs.nativebase.io/Components.html#button-theme-headref
Primary (default)
Success
Info
Warning
Danger
Light
Dark

Or even the possibility to insert a color manually by definition:
example:
type={ "# 4988b2"}

[2017-12-25 08:35] navata opened #1472 "Error padding icon in Button (version 2.3.5)"
I see padding icon that it display incorrect in version 2.3.5. But I work well in version 2.3.0.
Please help me fix this issue.

![issuebutton](https://user-images.githubusercontent.com/16706514/34336349-e886021a-e988-11e7-84a3-1cafdf0c0d51.jpg)

[2017-12-25 22:21] Chaimae123 commented on #1260
Did you find a solution ? I am facing the same problem ! it works fine on iOS but doesn't show the whole button on android !! Thanks

[2017-12-25 22:32] Chaimae123 opened #1473 "FooterTab circular button issue on android"
I used the following code to create FooterTab with a centered circular button. It works fine on iOS but doesn't show the full button on android !

`<Footer>
          <FooterTab>
            <Button>
              <Icon name="apps" />
            </Button>
            <Button>
              <Icon name="camera" />
            </Button>
            <Button onPress={this._onHomePress} style={{height:

[2017-12-26 03:56] joshkmartinez commented on #186
I had the same error.
I had nested components inside of the same type of parent component
(like this for example)
`<view>
<view>
</view>
</view>`

I solved the error by simply removing the parent component
like this:
`<view>
</view>`

[2017-12-26 05:59] ShaileshPrajapati-BTC commented on #1199
`<ListItem avatar key={'item'+data.id} noBorder={true}>` not working

[2017-12-26 06:23] Josin22 commented on #1199
it should be <ListItem avatar key={'item'+data.id} noBorder>

[2017-12-26 06:25] ShaileshPrajapati-BTC commented on #1199
@Josin22 still not working

[2017-12-26 07:16] Josin22 commented on #1199
try this : <ListItem avatar key={'item'+data.id} style={{borderWidth:0, borderColor:'transparent'}}>

[2017-12-26 08:11] arctm opened #1474 "Render Tab issue"
Hi,
I have some issues with Tabs, it works fine when i navigate thorugh screen ( clicking on tab or swipe ). But i also have a drawer with links to this tabs, and they did not work correctly. When i click to drawer link it go to tab but seems like content of this tab did not render. Can you please help me?

## react-native, react and native-base version
    "native-base": "2.3.5",
    "react": "16

[2017-12-26 14:21] PaijoRX commented on #977
after apply this config:
[code]

that config was working good on issues of native-base test, but i got many error from another dependencies on node_module :(

[2017-12-27 01:53] OogieBoogieInJSON commented on #508
@milk-shake is right. It makes sense to have the <Content> inside the <Tab> because otherwise the the longest tab will stretch the content, meaning all other tabs will have the same height.

[2017-12-27 05:37] ppatel890 opened #1475 "Issue installing older version of native-base"
## react-native, react and native-base version
react@15.4.2
react-native@0.42.3
native-base@2.0.12
## Expected behaviour
native-base installs properly from npm
## Actual behaviour
yarn throws the error below
[code]
## Any other additional info which would help us debug the issue quicker.
Installing this worked fine about a week ago, and now seems to be broken. Changing the native-base version seem

[2017-12-27 06:15] saravanannnallasamy commented on #1464
Hi @harikanammi , I have placed your AppHeader.js code but the AppHeader page is blank.
Is Drawer  is not supporting because of react-native/native-base versions ??????

[2017-12-27 06:51] ShaileshPrajapati-BTC opened #1476 "IOS Card UI Is not working in android working fine"
`<Card >
            <List style={{flexWrap: 'nowrap'}}>
              <ListItem avatar onPress={()=> this._openMap(data.latitude, data.longitude)}>
                <Left>
                  <Thumbnail small source={{uri: data.client_image}} />
                </Left>
                <Body style={{flex:2,paddingBottom: 22}}>
                  <Text style={{fontSize: 14}}>{data.client_name}</Text>

[2017-12-27 07:06] akhil-geekyants commented on #1431
Closing this issue (Not a Native Base Issue).

[2017-12-27 07:06] #1431 closed

[2017-12-27 07:43] akhil-geekyants commented on #1476
@ShaileshPrajapati-BTC can you try adding style `flexWrap: 'nowrap'` to `<Card/>` component.
[code]

[2017-12-27 07:54] deepupathak commented on #1460
@SupriyaKalghatgi  waiting for your response.

For your convenience, I am providing code sample more specifically.

[code]

[code]

[code]

[2017-12-27 08:59] akhil-geekyants commented on #1472
@navata can you post some code for us to test. Please see the attached Gif (Checked with native-base version 2.3.5)

Gif

![iconpadding](https://user-images.githubusercontent.com/27768184/34376529-2576ce68-eb12-11e7-9bfd-f1588367f2d4.gif)

[2017-12-27 09:32] ShaileshPrajapati-BTC commented on #1476
@akhil-geekyants thanks it's working

[2017-12-27 11:04] akhil-geekyants commented on #1475
@ppatel890 tried installing using yarn (version 1.3.2). Didn't see any issue. Attaching a Gif.

Gif

![oldversion](https://user-images.githubusercontent.com/27768184/34379887-a390fcd6-eb23-11e7-9e28-6197bf07deee.gif)

[2017-12-27 11:57] akhil-geekyants commented on #1469
@harikanammi instead of `this.props.openDrawer()` call `this.openDrawer()` in onPress function

Replace
[code]
in `AppHeader.js` by
[code]

[2017-12-27 12:14] akhil-geekyants commented on #1469
@harikanammi tried your code. It was working fine for me. Attaching a Gif

Gif

![drawer](https://user-images.githubusercontent.com/27768184/34381273-74cde332-eb2d-11e7-8758-5365f08d4956.gif)

[2017-12-27 12:31] jayeshjain24 commented on #989
Same issue. Checkbox not getting ticked.

[2017-12-27 13:29] akhil-geekyants commented on #1464
@saravanannnallasamy tried a similar code with the latest versions

Gif

![drawer](https://user-images.githubusercontent.com/27768184/34382735-f5b1804a-eb36-11e7-883b-49390de6e5ac.gif)

Code

App.js
[code]
sidebar.js
[code]

you can refer the docs for using Drawer [here](https://docs.nativebase.io/Components.html#Drawer)

[2017-12-27 16:42] ppatel890 commented on #1475
Oops, I meant native-base@2.0.11. My fault. I was able to change the commit ref in my yarn.lock file, and it seems to work fine now.

[2017-12-28 05:27] lucianomlima commented on #1387
Have same problem!

[2017-12-28 05:31] #1476 closed

[2017-12-28 08:21] navata commented on #1472
Thanks for @akhil-geekyants, I have fixed the issue.
Because I import Button and Icon component from native-base but Text import form native-base.
Solution: Import Text form Native-base and add prop iconLeft and iconRight
`
//import {  Text } from 'react-native' ;  Incorrect
import React, { Component } from 'react';
import { Container, Header, Content, Button, Text } from 'native-base';
export def

[2017-12-28 09:08] akhil-geekyants commented on #989
@jayeshjain24 tried hszeto's code with ReactNative FlatList.

Gif

![checkbox](https://user-images.githubusercontent.com/27768184/34405970-72acb3bc-ebdc-11e7-8f18-17292023c3aa.gif)

Code
[code]

[2017-12-28 09:19] akhil-geekyants commented on #1472
@navata NativeBase does not contain all the components of React Native. If you need to use ScrollView you need to import from react-native itself. You can read more about NativeBase components [here](http://docs.nativebase.io/Components.html#Components)

[2017-12-28 09:26] rammi44 commented on #1117
I Have the same problem how can we solve.??

[2017-12-28 09:29] akhil-geekyants commented on #1117
@rammi44 try adding `keyboardShouldPersistTaps={'handled'}` prop to `<Content/>` component.

[2017-12-28 09:35] rammi44 commented on #1117
Where do I add, i am using scroll view.. can you explain it

[2017-12-28 09:43] akhil-geekyants commented on #1117
@rammi44
If you are using NativeBase `<Content>` component use it like this
[code]
For ReactNative `<ScrollView/>`
[code]

[2017-12-28 09:59] rammi44 commented on #1117
Not working for me..
Below is my sample code:
   {this.props.IsPickerVisible && <ScrollView keyboardShouldPersistTaps={'handled'} horizontal>
                    {colors}
                    <TouchableOpacity onPress={this.SelectOwnIcon} style={[styles.addButton]}>
                        <Text style={styles.addButtonText}>+</Text>
                    </TouchableOpacity>
                </ScrollVi

[2017-12-28 11:04] akhil-geekyants commented on #1199
@ShaileshPrajapati-BTC In `<ListItem/>` add ` borderBottomWidth:0` to style for both `<Body>` and `<Right>`
[code]

[2017-12-28 13:10] DiegoFelipe commented on #138
just run react-native link and then react-native run-android and it should work

[2017-12-28 22:40] gauravdhiman commented on #882
+1, it's a must for any app UI framework. Date is common data in all applications.
What are the ways to achieve date picking functionality in ReactNative right now ?

[2017-12-29 05:39] ntomallen commented on #977
Also getting this issue when running `npm test` with the following `package.json`

[code]

[2017-12-29 05:52] ntomallen commented on #977
Adding this code does _not_ work. (still throws the same error.) I'm not using expo, so I just stuck with the react-native jest preset:

[code]

[2017-12-29 06:09] akhil-geekyants commented on #977
@ntomallen  can you try [shivraj's suggestion](https://github.com/GeekyAnts/NativeBase/issues/977#issuecomment-311571713)

[2017-12-29 06:18] ntomallen commented on #977
I've been messing around with that here, and I'm now getting the error from my `react-native-firebase` module instead of from `native-base`. So basically, the way this is working is that any of the modules inside the rexep pattern (e.g. "...?!react-native|native-base") would get transpiled so that it understands the 'import' command. Thing is, even when I add `react-native-firebase` to that rexep

[2017-12-29 10:18] roysG commented on #518
any update?

[2017-12-29 10:28] GuillotJessica opened #1478 "new button with floating props material kind"
I just think  it would be relevant

[2017-12-29 15:12] supercamilo commented on #985
Still present on 2.3.5

[2017-12-30 04:03] mindfocus commented on #591
Also can't be accessed through ref
`
loginBtnPress = () => {
		console.log(this);
		console.log(this.emailInput);
		console.log(this.passwordInput);
		console.log(this.refs);
	};
<Item floatingLabel>
								<Icon active name="person"/>
								<Label>邮箱</Label>
								<Input
									ref='emailInput'
									returnKeyType='next'
									onSubmitEditing={() => this._focusInput('passwordInput')}

[2017-12-30 17:03] carsonwah commented on #1416
Experiencing the same issue on ios too. Need to set 'space-between' manually.

[2017-12-30 23:22] Ariflo commented on #32
For anyone who came here like me looking for an example of RNRF using Native-Base with custom tabs feel free to check out the hack I used for my wedding app here: https://github.com/Ariflo/aandr_wedding

The trick is passing a custom component to the `tabBarComponent` attribute:
https://github.com/Ariflo/aandr_wedding/blob/master/app/mobile/views.js

Then using native-base to build that custom com

[2018-01-02 05:43] akhil-geekyants commented on #1428
Closing this issue due to no activity

[2018-01-02 05:43] #1428 closed

[2018-01-02 06:01] SupriyaKalghatgi commented on #1041
@brownieboy Please check NativeBase KitchenSink

[2018-01-02 06:03] SupriyaKalghatgi commented on #1174
@derit Please go through NativeBase KitchenSink for this
I dont think there's an issue with this

[2018-01-02 06:12] SupriyaKalghatgi commented on #1427
@oferRounds Container, FAB, Content, List
Try wrapping in this order

[2018-01-02 06:28] SupriyaKalghatgi commented on #1467
Currently this is a limitation. When using `Horizontal ScrollView` with tabs, you have to lock the tabs for `Horizontal ScrollView` to work correctly. On wrapping the `Horizontal ScrollView` inside the tab, for horizontal scroll - the parent scroll action dominates the child scroll action which causes only Tab to scroll

[2018-01-02 06:28] #1467 closed

[2018-01-02 06:43] brownieboy commented on #1041
Thanks @SupriyaKalghatgi, but I've now abandoned CRNA and Expo.   Not for this one reason, but for a number of other compromises and limitations over just using bare metal React Native.

[2018-01-02 06:44] #1472 closed

[2018-01-02 06:46] SupriyaKalghatgi commented on #1473
#1260

[2018-01-02 06:53] SupriyaKalghatgi commented on #1474
@arctm Can you check this once with NativeBase KitchenSink?

[2018-01-02 06:54] #1475 closed

[2018-01-02 07:03] harikanammi opened #1479 "Change the inActiveColor and ActiveColor in Scrollable Tab"
I am running sample app. Here i am displaying scrollable tabs. My question is how to change the activeColor and inActiveColor in Scrollable Tabs.
Here is my code:
 ` <Tabs renderTabBar={() => <ScrollableTab style={{ backgroundColor: '#095751' }} underlineStyle={{ backgroundColor: 'black' }} />}>{description}</Tabs>`

here is my screenshot:
![screen shot 2018-01-02 at 12 32 35 pm](https://user-imag

[2018-01-02 07:05] SupriyaKalghatgi commented on #1117
@rammi44 This is fixed
Check release notes

[2018-01-02 07:09] SupriyaKalghatgi commented on #1478
@GuillotJessica Can you brief on this

[2018-01-02 07:12] SupriyaKalghatgi commented on #32
NativeBase KitchenSink has implementation of RNRF

[2018-01-02 07:15] SupriyaKalghatgi commented on #1479
@harikanammi NativeBase has set default colors for active and inactive tabs
You can customize them by ejecting theme and modifying as per your need

[2018-01-02 07:15] #1479 closed

[2018-01-02 07:16] rammi44 commented on #1117
its also working after adding below code in app.json:
{
  "expo": {
    "sdkVersion": "23.0.0",
    **"androidStatusBar": {
      "backgroundColor": "#000000"
    }**
  }
}

[2018-01-02 07:39] harikanammi commented on #1479
hi @SupriyaKalghatgi, thanks for your reply. But how i can change colors in Scrollable Tab component for active and inactive tabs.

[2018-01-02 07:56] oferRounds commented on #1427
Thanks @SupriyaKalghatgi!

[2018-01-02 09:19] GuillotJessica commented on #1478
[a floating action button like so](https://material.io/guidelines/components/buttons-floating-action-button.html#) like FAB but with no action predefined

[2018-01-02 09:53] SupriyaKalghatgi commented on #1479
@harikanammi By changing colors [here](https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/variables/commonColor.js#L151)?

[2018-01-02 10:00] SupriyaKalghatgi commented on #1478
@GuillotJessica Can you differentiate between [NativeBase FAB](https://docs.nativebase.io/Components.html#fabs-def-headref) with that of what you are expecting?

[2018-01-02 10:36] GuillotJessica commented on #1478
FAB expand  other button , I think it would be relevant to just have a button on relative position that yet do nothing

[2018-01-02 11:12] SupriyaKalghatgi commented on #1478
@GuillotJessica Have a button which does nothing? what is the use of it then

[2018-01-02 11:13] GuillotJessica commented on #1478
then you can onPress a function

[2018-01-02 11:14] SupriyaKalghatgi commented on #1478
@GuillotJessica Seems like this use case is specific and not generic

[2018-01-02 14:31] Manzn commented on #698
I had the same issue with the native base List over the last 2 days and just found a solution.

Before updating the data source with setState, clear the data source by using setState({yourSource: []}).
After that it worked for me by simply using setState({yourSource: newSource}).

So from my expericnce/tests, the list doesn´t update if the number elements of the data source stays the same.
If the

[2018-01-02 15:26] webdevsyd commented on #212
@arthur-tse7 how did you solve this?

[2018-01-02 15:36] webdevsyd opened #1481 "Change check icon and text color in radio button"
Hi Guys, does anyone tried changing the color of the icon and text when selected for the radio button? May I ask how did you do it?

[2018-01-02 17:09] 123lk commented on #1092
Thank you @hoekma!

[2018-01-02 18:35] lopespm commented on #82
To fix this problem, I applied this style to the `<Left>` component:

    headerLeft: {
        flex: 0,
        paddingLeft: 6,
        width: 62
    }

According to the [material design guidelines](https://material.io/guidelines/layout/structure.html#structure-app-bar), the leftmost icon is spaced 16dp from left, and the title 72dp. Since the `<Header>` already has 10 units of horizontal padding

[2018-01-02 22:21] michelalbers commented on #593
I spent a full day of hair pulling and implementing performance optimizations. I switched to https://github.com/react-native-training/react-native-elements and now the app runs super smooth.

[2018-01-03 00:43] YagoLopez commented on #1041
@SupriyaKalghatgi I'm having this issue and have the same feelings as you. The suggested code to solve the problem seems an unaceptable and horrible hack. Maybe Expo library is the responsible, I dont know.

Also I have seen the code of kitchen sink and in my opinion is ugly and overcomplicated, I regret to say it, but I almost cant follow even the first steps of the code, which leads me to thinki

[2018-01-03 02:21] arthur-tse7 commented on #212
@webdevsyd I believe I had to use themes instead of changing the radioColor and radioBtnSize directly. See here: https://docs.nativebase.io/Customize.html#Customize

[2018-01-03 02:25] webdevsyd commented on #212
@arthur-tse7 did you eject your nativebase theme?

[2018-01-03 05:22] SupriyaKalghatgi commented on #1450
@AleksandarAleksandrov Its very strange that you are not finding the code running, whereas we are unable to replicate your issue on our side.
May be you must check with installation and cache issues
Delete node_modules, delete yarn.lock, install node_modules with nativebase 2.3.5, run `npm start -- --reset-cache`, then run your app

[2018-01-03 07:04] SupriyaKalghatgi commented on #1041
@YagoLopez You said,

In that case please raise issue on NativeBase KitchenSink.
Due to this reason, stopping usage of this UI library seems unrelative

[2018-01-03 10:32] tuanluu-agilityio commented on #72
These command resolved my issue:

[code]

[2018-01-03 11:13] SupriyaKalghatgi commented on #1474
Blank page in case of Android
Indicator issue in case of iOS

[2018-01-03 11:14] SupriyaKalghatgi commented on #1010
PR has some issue
#1376 #1443

[2018-01-03 11:15] SupriyaKalghatgi commented on #1474
#1010

[2018-01-03 11:15] #1474 closed

[2018-01-03 13:42] ettaibi commented on #1102
having same issue, Icons on the right with floating label doesn't work

[2018-01-03 13:48] chinmay-xenious commented on #1098
Same issue in my project.

[2018-01-03 14:07] YagoLopez commented on #1041
Ok, The problem was the following:

In the Native Base docs is omitted an important detail: You must include the `import` sentence for `Expo` module:

https://docs.nativebase.io/docs/GetStarted.html

[code]

After that, my code works flawlesly with Native Base. Before that, i was gettings errors all the time because the fonts can't be loaded, but the compiler wasnt warning about Expo module not lo

[2018-01-03 14:18] svlada commented on #593
@michelalbers What kind of performance issues you've encountered?

[2018-01-04 10:30] akhil-geekyants commented on #1387
Footer is designed to be fixed at bottom and not scrollable. In this case, you can move the Footer's content to `<Content/>` and fix it at the bottom.

[2018-01-04 12:24] akhil-geekyants commented on #1409
@Nizarius Is your issue fixed ? You can read more about customizing NativeBase [here](http://docs.nativebase.io/Customize.html#Customize)

[2018-01-04 14:49] suleymangunduzz opened #1483 "Drawer does not close the sub menu properly"

[2018-01-04 15:14] xstable commented on #943
I use native-base 2.3.5, but Error seems to be still there... or is it my fault?
Tried it with Picker.Item and only with Item.
If I put the Picker into <Item>, it won't be shown.

[code]
[code]

[2018-01-04 15:45] SupriyaKalghatgi commented on #899
Closing this due to inactivity

[2018-01-04 15:45] #899 closed

[2018-01-04 15:46] SupriyaKalghatgi commented on #1155
Closing this due to inactivity

[2018-01-04 15:46] #1155 closed

[2018-01-04 15:50] #1473 closed

[2018-01-04 15:57] #951 closed

[2018-01-04 18:12] lucianomlima commented on #1387
But when keyboard shows, the bottom is under keyboard or above keyboard?
I fix replace Content with ScrollView + KeyboardAvoidView, but is unstable for Android and iOS.

[2018-01-04 23:51] Suraj-Tiwari commented on #1176
Recently I've faced the same issue, I did a small tweak to get my desire result

[code]

[2018-01-04 23:53] Suraj-Tiwari commented on #983
Recently I've faced the same issue, This might be a less ugly solution...

[code]

[2018-01-05 06:01] SupriyaKalghatgi commented on #1359
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:01] #1359 closed

[2018-01-05 06:02] SupriyaKalghatgi commented on #1430
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:02] #1430 closed

[2018-01-05 06:03] SupriyaKalghatgi commented on #1481
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:03] #1481 closed

[2018-01-05 06:03] SupriyaKalghatgi commented on #1423
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:03] #1423 closed

[2018-01-05 06:04] SupriyaKalghatgi commented on #1239
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:04] #1239 closed

[2018-01-05 06:05] SupriyaKalghatgi commented on #1432
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:05] #1432 closed

[2018-01-05 06:05] SupriyaKalghatgi commented on #1453
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:05] #1453 closed

[2018-01-05 06:06] SupriyaKalghatgi commented on #1425
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:06] SupriyaKalghatgi commented on #1468
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:06] #1468 closed

[2018-01-05 06:06] SupriyaKalghatgi commented on #1379
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:06] #1379 closed

[2018-01-05 06:07] SupriyaKalghatgi commented on #1010
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:08] SupriyaKalghatgi commented on #1398
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:10] SupriyaKalghatgi commented on #1301
Fixed with [2.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.6)

[2018-01-05 06:10] #1301 closed

[2018-01-05 06:23] jync opened #1485 "Is it possible to trigger the Picker from another onPress handler?"
We render the Picker as a field in a list. We would like to trigger the picker to open when the Row has been tapped. Is there a way to do this?

I can see that within the `Picker.ios.js` component, there is the following method:

[code]

Would it be possible to expose this method? Or at least a prop that we can pass in to trigger the Picker to open?

We're using native-base 2.3.5

[2018-01-05 07:05] akhil-geekyants commented on #1469
Closing the issue due to no response

[2018-01-05 07:05] #1469 closed

[2018-01-05 07:06] akhil-geekyants commented on #1464
Closing the issue due to no response

[2018-01-05 07:06] #1464 closed

[2018-01-05 08:09] goglikoo opened #1486 "Version problem"
Hello , I am using native base in my project , but last days i have such problem on ios.

These are my module versions :
    "moment": "2.17.1",
    "react": "15.4.2",
    "native-base": "2.0.12",
    "react-native": "0.41.2",
    "react-native-calendar": "0.10.0",
    "react-native-easy-grid": "0.1.7",
    "react-native-modal-dropdown": "0.4.3",
    "react-native-modalbox": "1.3.9",
    "react-na

[2018-01-05 08:13] SupriyaKalghatgi commented on #1486
@goglikoo Try doing these

- deleting `node_nodules`
- deleting `yarn.lock`
- install `node_modules`
- clear npm cache

[2018-01-05 08:21] goglikoo commented on #1486
@SupriyaKalghatgi  I've done it already, but not fixed.

[2018-01-05 08:47] goglikoo commented on #1486
I fixed it , manually installed  @shoutem/theme

[2018-01-05 08:48] #1486 closed

[2018-01-05 09:50] akhil-geekyants commented on #1387
@lucianomlima try something like this
[code]

[2018-01-05 09:55] #1387 closed

[2018-01-05 10:29] SupriyaKalghatgi commented on #1460
#1010

[2018-01-05 10:37] SupriyaKalghatgi commented on #1416
@ceefour For card
![image](https://user-images.githubusercontent.com/13464885/34605672-73b0f1c2-f232-11e7-98c4-a1a4fe4d6628.png)

[2018-01-05 10:42] SupriyaKalghatgi commented on #1416
@ceefour For Form
![image](https://user-images.githubusercontent.com/13464885/34605886-426eeaf0-f233-11e7-88c4-87caa64b99cd.png)

[2018-01-05 10:44] SupriyaKalghatgi commented on #1416
@ceefour @carsonwah If you include component to be aligned towards `Right` then you should align other elements to either `Left` or `Body` as per your requirement

[2018-01-05 10:45] SupriyaKalghatgi commented on #1416
Docs will be updated on this

[2018-01-05 10:57] ceefour commented on #1416
Thanks @SupriyaKalghatgi

[2018-01-05 11:08] akhil-geekyants commented on #1483
Can you give more information on this

[2018-01-05 11:52] akhil-geekyants commented on #1485
@jync you can fork NativeBase and make the required changes to achieve what you want.

[2018-01-05 12:50] akhil-geekyants commented on #1470
@Angelk90 couldn't run your code due to some errors. Can you create a test repo for us to test.

[2018-01-05 12:56] webdevsyd commented on #1481
@SupriyaKalghatgi cant see the fixed for changing the color of text and icon in radio button in 2.3.6

[2018-01-05 14:01] Angelk90 commented on #1470
@akhil-geekyants : Meanwhile, I thank you for answering.
What kind of problems does it give you?

The version I installed is: react-native-bottom-sheet-behavior@1.0.0-beta.7

I believe why I miss this:
https://github.com/cesardeazevedo/react-native-bottom-sheet-behavior/blob/master/example/android/app/build.gradle#L137-L138

And use as a version of sdk these:
https://github.com/cesardeazevedo/reac

[2018-01-05 19:42] awchang56 commented on #1003
@jrryhrtn could you please share how you made your HOC with toast? I am having the same issue

[2018-01-05 21:21] leekuo commented on #1010
Trying out the new 2.3.6 release.  The tab content does render correctly instead of blank when initialPage is set.  But the selected tab underline still incorrectly underlines the first tab.  Anyone else seeing this issue?

[2018-01-05 22:59] lucianomlima commented on #1387
@SupriyaKalghatgi why close this issue? It's not resolved yet.
@akhil-geekyants I will try.

[2018-01-06 06:57] QShengW opened #1487 "Drawer content whether Set on the right side of the sliding out"
Drawer content whether Set on the right side of the sliding out

[2018-01-06 07:12] #1487 closed

[2018-01-06 08:59] ziudeso commented on #1010
@leekuo Can you provide an example please? Thx a ton!

[2018-01-06 12:08] kk412027247 commented on #1075
@darkopetrovic thanks a lot.  I fix it finally, that  confuced  me a lot before.

[2018-01-07 13:03] Angelk90 opened #1488 "Native base link Expo does not work."
@GeekyAnts, @akhil-geekyants :
Link:
exp://exp.host/@
community/nativebase-kitchen-sink

[2018-01-07 13:22] Angelk90 opened #1489 "Footer with badges actually ripple effect round."
@GeekyAnts, @akhil-geekyants :
Hi, using the footer with native base badges as I can recreate the same effect as the image you see in the gif. That ripple round effect. And the text and icon are seen in the foreground when they are selected. In other cases the text can not be seen.
![](https://i.imgur.com/e8g0fV7.gif)

[2018-01-07 15:10] Angelk90 opened #1490 "Change theme Tab and Sliding effect."
@GeekyAnts, @akhil-geekyants :

Is it possible to change the theme of the tab component, as in the image?
For example: rounded corners, and being able to do Sliding effect?
![](https://i.imgur.com/TDVJzqZ.gif)
![](https://i.imgur.com/Xit5AlB.gif)

What I managed to do is this:
link; https://snack.expo.io/Hy0bUp1Ez
But I can not change the height, and then I realized, you have to look at it very cl

[2018-01-08 05:01] harikanammi commented on #1479
hi @SupriyaKalghatgi  how to change the active and inactive colors above you mentioned commonColor.js file.

[2018-01-08 06:32] SupriyaKalghatgi commented on #1387
@lucianomlima As explained above, Footer component is something which remains fixed at bottom of screen.
And your requirement is to have it scrollable, which is something specific to your project requirement. hence closed this after providing proper workaround

[2018-01-08 06:38] SupriyaKalghatgi commented on #1488
@Angelk90 From where did you refer this?

[2018-01-08 06:42] SupriyaKalghatgi commented on #1488
@Angelk90 Refer [nativebase.io/](https://nativebase.io/)

[2018-01-08 07:00] SupriyaKalghatgi commented on #1489
@Angelk90 Not clear about what you are saying
Is it that you want to have this feature implemented for NativeBase?

[2018-01-08 07:31] SupriyaKalghatgi commented on #1490
@Angelk90 Having rounded borders with button in footer is quite simple
Include `rounded` prop with `<Button>` in `<Footer>`

![image](https://user-images.githubusercontent.com/13464885/34661944-00fa117a-f473-11e7-9d23-8bd39ba47b8a.png)

About sliding feature, thats not available with NativeBase

[2018-01-08 07:35] SupriyaKalghatgi commented on #1479
@harikanammi I have mentioned the line number even
Also did you eject before doing this?
Check the docs

[2018-01-08 10:42] Ickerday commented on #1450
Can confirm the issue happening randomly regardless of what's inside <Content>. In some screens it works as expected, in some it doesn't. Maybe it has something to do with react-navigation?

[2018-01-08 10:47] SupriyaKalghatgi commented on #1450
@Ickerday I dont think so

[2018-01-08 11:26] Angelk90 commented on #1488
@SupriyaKalghatgi :
Looking on google, I find the following pages:
https://expo.io/@community/native-base
https://expo.io/@community/native-base-kitchen-sink

So there is no native-base-kitchen-sink version on Expo published by you?
Is the playstore version managed by you?

[2018-01-08 11:29] SupriyaKalghatgi commented on #1488
@Angelk90 https://expo.io/@geekyants/nativebasekitchensink

[2018-01-08 11:29] Angelk90 commented on #1489
@SupriyaKalghatgi : I'm wondering if we can implement it as a future feature.

[2018-01-08 11:30] SupriyaKalghatgi commented on #1489
@Angelk90 Not sure about it

[2018-01-08 11:46] Angelk90 commented on #1489
@SupriyaKalghatgi :

Why are not you sure?
It is used on all the main apps, it would be a very nice thing.

For example I to give the ripple effect use:
[code]

[code]

You can see an example on expo, click on the text or on the image.
https://snack.expo.io/SyPdt0gNM

[2018-01-08 11:48] SupriyaKalghatgi commented on #1489
@Angelk90 I am not sure because, we have other things on our priority list

[2018-01-08 11:50] Angelk90 commented on #1490
@SupriyaKalghatgi :
You could post the complete code, I do not understand.
Then I would like it not to take all the available space, I would like to resize it.

[2018-01-08 11:56] SupriyaKalghatgi commented on #1490
@Angelk90

This is the code, nothing extra.
You can resize the button and footer in `theme`

[2018-01-08 12:05] Angelk90 commented on #1490
@SupriyaKalghatgi :
but I'm not using:
https://docs.nativebase.io/Components.html#footer-tabs-def-headref
but I'm using:
https://docs.nativebase.io/Components.html#tabs-def-headref

There is also written in the code.

[2018-01-08 12:10] SupriyaKalghatgi commented on #1490
@Angelk90  Ah! My mistake, i mixed this up with #1489

[2018-01-08 12:25] Angelk90 commented on #1490
@SupriyaKalghatgi : In the title there is written tab, there is no written footer. ;)

[2018-01-08 12:26] SupriyaKalghatgi commented on #1490
@Angelk90 https://github.com/GeekyAnts/NativeBase/issues/1490#issuecomment-355950393

[2018-01-08 13:10] 1c7 opened #1491 "Where is Progress Bar?"
https://docs.nativebase.io/Components.html#Components
![image](https://user-images.githubusercontent.com/1804755/34672147-433a5f8c-f4b8-11e7-8edb-af559bf34fa7.png)

![image](https://user-images.githubusercontent.com/1804755/34672154-50959d5e-f4b8-11e7-8075-7d9c5890cfda.png)

[2018-01-08 13:17] Angelk90 commented on #1489
@SupriyaKalghatgi :
Actually this post is not connected to the other.
Anyway, I did a bad version, if someone were to serve a trick.

[code]

Link: https://snack.expo.io/H1rj01Z4f

[2018-01-08 13:25] frozenxis commented on #739
thanks @rooque !

[2018-01-08 13:57] SupriyaKalghatgi commented on #1491
@1c7 Yes! we are aware of it, we are updating Docs
Earlier NativeBase had Progress Bar, somehow its content has been left
thank you

[2018-01-08 14:49] hardcodet opened #1492 "ActionSheet.show not working from within ActionSheet callback"
## react-native, react and native-base version

RN 0.50, Nativebase 2.3.6

## Expected behaviour

When calling ActionSheet show() from an ActionSheet callback, a new ActionSheet should be displayed.

## Actual behaviour

Nothing happens. There's also no API to programmatically close the current ActionSheet if that was necessary.

## Is the bug present in both ios and android or in any one of them?

[2018-01-08 18:20] AnubhavUjjawal opened #1493 "List Item is not rendering properly when I am trying to render them dynamically"
#  Dynamic List doesn't look pleasant.
Here is my code:
[code]
Also, item looks something like this:
![image](https://user-images.githubusercontent.com/22658701/34685281-ddf6d32e-f4cd-11e7-92bc-8144bc5dca8c.png)
I am using Nokia 5 with android Nougat.
When rendered, It shows this:
![image](https://user-images.githubusercontent.com/22658701/34685396-30074856-f4ce-11e7-82bf-82986f61ae9c.png)
I think

[2018-01-08 19:43] hindsricardo commented on #1196
What was the fix here? This is an issue I'm having with the content component as well. Every post I see about this issue gets closed due to unable to reproduce or inactivity. Obviously, their is a problem. I'm 10 days delayed on releasing an app because of this issue and there appears to be no fix in sight.

[2018-01-09 01:23] hardcodet commented on #605
@sankhadeeproy007 This feels like a hack to a probably simple issue. Any chance we get proper layout options for headers and titles?

[2018-01-09 03:50] gbrum commented on #138
i did what @veb and @kenmasters do , and succes , thank you

[2018-01-09 04:55] #1491 closed

[2018-01-09 05:05] SupriyaKalghatgi commented on #1196
@hindsricardo did you check above comments about 1010?

[2018-01-09 05:06] SupriyaKalghatgi commented on #1010
@leekuo https://github.com/GeekyAnts/NativeBase/issues/1010#issuecomment-354988401

[2018-01-09 05:34] ShaileshPrajapati-BTC opened #1494 "tabBarInactiveTextColor is not working for Tab"
[code]

[2018-01-09 05:35] SupriyaKalghatgi commented on #1494
@ShaileshPrajapati-BTC Please check 2.3.6

[2018-01-09 05:35] #1494 closed

[2018-01-09 06:42] akhil-geekyants commented on #1493
@AnubhavUjjawal you can also use ReactNative [FlatList](https://facebook.github.io/react-native/docs/flatlist.html) instead of List and use it with other NativeBase components.

[2018-01-09 07:23] akhil-geekyants commented on #1492
@hardcodet  NativeBase ActionSheet is a wrapper around the React Native [ActionSheetIOS](https://facebook.github.io/react-native/docs/actionsheetios.html)  component. Similar implementation has been done for Android, based on Material Design guidelines. The [ActionSheetIOS](https://facebook.github.io/react-native/docs/actionsheetios.html) documentation does not mention anything about closing the A

[2018-01-09 08:57] akhil-geekyants commented on #1121
Not present with the latest version of NativeBase (2.3.5). Closing this issue. Let us know if you are facing any issue.

Gif

![toast](https://user-images.githubusercontent.com/27768184/34712512-0ecbe86a-f549-11e7-8c05-c88925a8f2ac.gif)

[2018-01-09 08:57] #1121 closed

[2018-01-09 09:05] JiboStore commented on #1368
Hi I have another problem regarding prerenderingSiblingsNumber, if I don't use that props, it becomes very laggy when I switch tab, but if I use prerenderingSiblingsNumber={Infinity}, my children tab will not be refreshed even after I switch to and from that tab.. any idea?

[2018-01-09 09:10] akhil-geekyants commented on #1328
@thg303 NativeBase ActionSheet is a wrapper around the React Native ActionSheetIOS component. Similar implementation has been done for Android, based on Material Design guidelines. Please share to us what you want us to add to the existing Android implementation.

[2018-01-09 10:25] Angelk90 opened #1497 "Tab some information"
- In the heading tab can the badge be used together with the text? The documentation says that it takes string or component, but if I try to insert it by mistake.
- Can the size of the tab be adapted to the text? There are tabs that have short headings and instead headings that have long titles. Is it possible to set the whole dimension instead of different and adapt to the length of the title?

[2018-01-09 10:38] SupriyaKalghatgi commented on #640
Merged #1191

[2018-01-09 10:38] #640 closed

[2018-01-09 11:38] akhil-geekyants commented on #1470
@Angelk90 This may be related to React Native Issue https://github.com/facebook/react-native/issues/1966

[2018-01-09 11:43] troylutton commented on #690
Thank @ChrisLusted  that was what fixed it for me!

[2018-01-09 14:18] luizcieslak opened #1499 "Change space between Input text and underline"
Hi! I'm trying to remove the space between the text of Input and its underline. I exported the custom theme in my project, tried to change the inputLineHeight variable but no sucess.

## react-native, react and native-base version
[code]
## Expected behaviour
![Image](https://imgur.com/6AijwkO.png)
## Actual behaviour
![Image](https://imgur.com/LnnnXmX.png)

## Is the bug present in both ios and a

[2018-01-09 15:23] jonmiles commented on #977
@ntomallen Did you get anywhere with this issue; react-native-firebase import?

I've run into the same issue, took the same approach to add `react-native-firebase` to transformIgnorePatterns and I have the same issue which I still can not resolve.

[2018-01-09 19:36] ntomallen commented on #977
I actually did not... I didn't have time to keep troubleshooting since it wasn't a huge priority for our team! I still need to figure it out at some point. I _think_ that `react-native-firebase` needs to be mocked? That's the impression I was getting from the research I did. I suppose that makes sense since it relies on the connection to google and whatnot

[2018-01-10 00:19] samosaara commented on #795
Sorry for necro-posting this issue, but it is the first one on google. You can fix that property applying flex items properties, to the `<Left>` `<Body>`  and `<Right>` like flex, flex-grow, flex-shrink etc.

[2018-01-10 05:17] ShaileshPrajapati-BTC commented on #1494
I have dependency issue i have to do in 2.3.3 please suggest any idea.

[2018-01-10 06:06] SupriyaKalghatgi commented on #1490
@Angelk90 The Tabs designed by NativeBase are as per iOS and Android design guidelines
Though you can customize them as per your need

[2018-01-10 06:06] SupriyaKalghatgi commented on #1490
Go ahead ejecting the theme and customize

[2018-01-10 07:02] SupriyaKalghatgi commented on #1499
@luizcieslak `inputHeightBase` and `inputLineHeight` should help you change the space between Input text and and its border

[2018-01-10 07:02] #1499 closed

[2018-01-10 07:08] SupriyaKalghatgi commented on #1494
@ShaileshPrajapati-BTC You can fork 2.3.3 and make necessary changes (theme folder) from 2.3.6

[2018-01-10 07:56] SupriyaKalghatgi commented on #1497
You can add Badge similar to Icons
![simulator screen shot - iphone 7 - 2018-01-10 at 12 45 52](https://user-images.githubusercontent.com/13464885/34761084-56036a86-f608-11e7-8fe7-2a07a880f6ce.png)

Adjusting Text width with Tab, you can find that with scrollable tabs and not with Fixed tab

[2018-01-10 07:56] #1497 closed

[2018-01-10 10:48] SupriyaKalghatgi commented on #1481
@webdevsyd text color is something which comes by default with iOS and Android

[2018-01-10 11:02] akhil-geekyants commented on #1411
Stack Overflow question https://stackoverflow.com/questions/47575342/react-native-app-nativebase-deckswiper-not-re-rendering-immediately-when-datas

[2018-01-10 13:22] akhil-geekyants commented on #1260
For Android, use absolute positioning and set elevation greater than 2 to set a circular button in the bottom center.

![screenshot_1515590439](https://user-images.githubusercontent.com/27768184/34774897-34dbbb40-f637-11e7-82a2-40f7ddc5d2c7.png)

[2018-01-10 13:22] #1260 closed

[2018-01-10 13:39] akhil-geekyants commented on #1276
@ikhsanalatsary can you check with native-base version 2.3.6

[2018-01-10 14:04] novellizator opened #1500 "ListItem <body>, <right> and <left> children don't support onPress"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-01-10 15:20] Angelk90 opened #1501 "Problem Tabs does not fix and scroll infinite in the tab"
@GeekyAnts, @akhil-geekyants:
Link Video: https://drive.google.com/file/d/1ifx1orms0PHYb3LLhf5lcwrVFyjPVk1j/view

Hi, I'm using tab.
As you can see from the video, native base in this case behaves very strangely, as if it were broken.

First problem:
The tabs are not fixed under the toolbar, as they normally should.

Second problem:
I am in the first "TAB1" (Info), I scroll, no problem except for

[2018-01-10 15:47] Papipo commented on #1174
If it works, then I guess it's badly documented. Otherwise there wouldn't be so many people having problems with it.

[2018-01-10 16:19] Angelk90 commented on #1501
@GeekyAnts, @akhil-geekyants:
After some attempts I realized if I put:
Tabs inside a ScrollView from this problem.
Any suggestions?
Ex:

 <Container>
<ScrollView>
          <Tabs initialPage={0} tabBarUnderlineStyle={{
            height: 2,
            backgroundColor: "#FFC107"
          }}>
.........
.......

[2018-01-10 17:07] delkant commented on #362
How can you override the color of the Icon when you are using a StyleProvider??.

this wont work:
<Icon name="MyIconName" color="#f0ad4e"/>

[2018-01-10 17:14] delkant commented on #362
Never mind I found the answer:

`<Icon name="MyIconName" style={color:'#f0ad4e'}/>`

[2018-01-10 18:18] Angelk90 commented on #1497
@SupriyaKalghatgi :

I did this way:
[code]

I'm doing it wrong?
The result is android is very bad.

Could you post a code example to see where I'm wrong?

[2018-01-10 18:19] Angelk90 commented on #1497
![](https://i.imgur.com/oYNaV8h.jpg)

[2018-01-10 19:55] AnubhavUjjawal commented on #1493
Yeah, but that is a work-around. Why is that thing behaving like that?

[2018-01-11 05:18] SupriyaKalghatgi commented on #362
![image](https://user-images.githubusercontent.com/13464885/34809736-e0d64e12-f6bc-11e7-95f9-3d6c7ee28da1.png)

This is documented here https://docs.nativebase.io/Components.html#icon-def-headref

[2018-01-11 05:25] SupriyaKalghatgi commented on #1501
@Angelk90 Issue 1470 says

And Issue 1501 says

So is 1470 solved for you?

[2018-01-11 06:05] #1488 closed

[2018-01-11 06:05] #1485 closed

[2018-01-11 06:07] #1409 closed

[2018-01-11 06:08] SupriyaKalghatgi commented on #1450
@AleksandarAleksandrov Any updates?

[2018-01-11 06:12] akhil-geekyants commented on #1493
@AnubhavUjjawal we are deprecating List. Use FlatList instead. This will be documented.

[2018-01-11 06:54] akhil-geekyants commented on #1500
@novellizator if you have multiple children for `<Left/>,<Body/> or <Right/>` component, you can handle the onPress by grouping them and wrapping with [TouchableOpacity](https://facebook.github.io/react-native/docs/touchableopacity.html) / [TouchableWithoutFeedback](https://facebook.github.io/react-native/docs/touchablewithoutfeedback.html) / [TouchableHighLight](https://facebook.github.io/react-n

[2018-01-11 07:28] SupriyaKalghatgi commented on #1500
`<Left>`, `<Body>`, `<Right`> are View components

[2018-01-11 07:59] ngoducduy commented on #1325
How can i know which tab is actived ?

[2018-01-11 08:05] SupriyaKalghatgi commented on #1325
@ngoducduy https://github.com/skv-headless/react-native-scrollable-tab-view#props

[2018-01-11 08:44] akhil-geekyants commented on #1501
@Angelk90 getting error. Error importing `CollapsingToolbar`.

[2018-01-11 08:50] Angelk90 commented on #1501
@akhil-geekyants: You have opened the Expo link, it works for me. However the lib to be installed is called, with that name "npm i react-native-collapsingtoolbar". Let me know if it does not work.

[2018-01-11 08:53] Angelk90 commented on #1501
@akhil-geekyants: It was put in local, if you notice, I'm talking about the Expo link. When I wrote here forgot to change with its npm route.

[2018-01-11 09:52] SupriyaKalghatgi commented on #1470
@Angelk90 Did you find this working?

[2018-01-11 10:53] SupriyaKalghatgi commented on #1276
![image](https://user-images.githubusercontent.com/13464885/34822078-b2e6b562-f6eb-11e7-8be1-861ba02d22bd.png)

This is from NativeBase-KitchenSink
Card with Image renders fine on iPhone 6s+

[2018-01-11 10:53] #1276 closed

[2018-01-11 11:37] delkant commented on #362
Thank you. But my issue was that the property color wasn't working when applying a StyleProvider.

To be clear:

This doesn't work
`<StyleProvider style={getTheme({iconFamily : 'MyCustomFont'})}>`
 `<Icon name="MyIconName" color="#fff"/>`
`</StyleProvider>`

This works fine
`<StyleProvider style={getTheme({iconFamily : 'MyCustomFont'})}>`
 `<Icon name="MyIconName" style={{color:'#fff'}}/>`
`</Styl

[2018-01-11 16:54] SeuZeRicardo commented on #1292
I have a problem similar to yours.

`React-Native: 0.41
React: 15.4.2
Native-Base: 2.1.3`
and testing on `Android 7,0`

And l looking for your code and it´s same "estruture" of mine.
My Last Item doesn´t show on my screen, only a little part of the item, so i put a ScrollView on my List and solved this problem.

`  render() {
    return (
      <Container style={{ backgroundColor: '#363a40' }}>

[2018-01-11 20:37] Angelk90 commented on #1470
@SupriyaKalghatgi : No, it does not work.

[2018-01-12 03:50] indarjoko opened #1502 "Can't Install native-base (error code 128, permission denied)"
Can anyone help me?

npm install native-base --save
npm ERR! code 128
npm ERR! Command failed: /usr/bin/git clone -q https://github.com/GeekyAnts/react-native-drawer.git /root/.npm/_cacache/tmp/git-clone-d382b195
npm ERR! fatal: could not create leading directories of '/root/.npm/_cacache/tmp/git-clone-d382b195': Permission denied
npm ERR!

npm ERR! A complete log of this run can be found in:
npm

[2018-01-12 04:06] SupriyaKalghatgi commented on #1502
@indarjoko Probably `git` issue on your system
Try cloning with SSH

[2018-01-12 04:21] indarjoko commented on #1502
still showing permission denied issue.
what can i do now?

[2018-01-12 05:49] SupriyaKalghatgi commented on #1502
@indarjoko NativeBase has thousands of downloads and install every day
No such issues by any one
Check node and npm versions

[2018-01-12 06:31] indarjoko commented on #1502
okay.

node -v
v8.9.4
npm -v
5.6.0

should I downgrade node/npm?

[2018-01-12 06:32] akhil-geekyants commented on #1483
@suleymangunduzz checked Drawer Component. It was not showing any issue. I was able to close the submenu. Attaching a Gif

Gif

![drawer](https://user-images.githubusercontent.com/27768184/34862449-769e949e-f790-11e7-80d8-26c18a894e0b.gif)

[2018-01-12 06:44] SupriyaKalghatgi commented on #1502
@indarjoko Checked some google results
Many libraries facing such issue with npm 5
Try with npm 4

[2018-01-12 06:49] indarjoko commented on #1502
when I downgrade npm version to 4.
it's worked for me.
thanks a lot.

[2018-01-12 06:49] #1502 closed

[2018-01-12 07:01] shivrajkumar commented on #1386
@raphcadiz This is because you are not closing the selected/deleting row before you delete it. Swipeable list works such a way that, the open row closes only then the new row can be opened.
Change your renderRightHiddenRow to,
`
renderRightHiddenRow={(data, sec_id, row_id) =>
    <Button full danger onPress={() => this._deleteItem(secId, rowId, rowMap)}>
      <Icon active name="trash" />
    </Bu

[2018-01-12 07:01] #1386 closed

[2018-01-12 07:10] akhil-geekyants commented on #1470
Mostly a React Native issue. Closing this issue.

[2018-01-12 07:10] #1470 closed

[2018-01-12 08:07] lucianomlima opened #1503 "[Question] Is there a way to hide Header and Footer with slide animation when page scroll?"
My app have a screen that is a long text reader.
I can hide Header and Footer with conditional render, but I don't know how to do with slide animation when user scrolls down.

Is there a way to do this only with NativeBase components or I need something like react-native-animatable?

[2018-01-12 09:22] Nachox07 commented on #1079
@SupriyaKalghatgi still facing this issue using 2.3.3

[2018-01-12 09:55] SupriyaKalghatgi commented on #1503
@lucianomlima NativeBase does not provide any kind of animation support as of now

Check this repo of [Twitter clone](https://github.com/pranit123/Twitter-Clone), this might be helpful to you

[2018-01-12 09:55] #1503 closed

[2018-01-12 10:10] Xvie opened #1504 "Static value of floatUp() in Item component"
## Expected behaviour
Possibility to change `Item` `.floatingLabel` `floatUp` value` dynamically via props with default value of `-16` (as it is now)
## Actual behaviour
Hardcoded, unable to be changed value on `floatUp` animation in `Item.floatingLabel`
## Is the bug present in both ios and android or in any one of them?
yes
## Any other additional info which would help us debug the issue quicker

[2018-01-12 10:43] Xvie opened #1505 "connectStyle with empty defaultStyle parameter"
## react-native, react and native-base version
"native-base": "2.3.3",
"react": "^16.1.1",
"react-native": "^0.50.4",
## Expected behaviour
Specifying {} to connectStyle as 2nd (defaultStyles) parameter should allow to style nested custom component in getTheme function.
## Actual behaviour
If {} is passed to connectStyle component won't be recognized, styleName of component in getTheme will be ign

[2018-01-12 10:47] SupriyaKalghatgi commented on #1504
@Xvie Is that you want to have different values with `floatUp()` by passing props dynamically
OR
You want it to customizable with theme

[2018-01-12 10:51] Xvie commented on #1504
@SupriyaKalghatgi i think passing it through props it's much easier to implement so i think props are okay.

[2018-01-12 10:55] SupriyaKalghatgi commented on #1504
@Xvie What is the difficulty you are finding?

[2018-01-12 10:57] SupriyaKalghatgi commented on #1504
@Xvie If you look into the code of `Item`, the value for `floatUp()` is static

[2018-01-12 10:59] GuillotJessica opened #1506 "[ANDROID] BUTTON bottomColor or bottomwidth vs borderBottomWidth or borderBottomColor"
I can't figure a way to only have one side bordered on an element,
it is all or nothing...

[2018-01-12 11:51] akhil-geekyants commented on #1506
@GuillotJessica you can use `borderBottomWidth` & `borderBottomColor` to specify the width and color of bottom border. Same way you can apply border to the other sides. Attaching a Gif

Gif

![border](https://user-images.githubusercontent.com/27768184/34873784-7f8fc420-f7bc-11e7-9755-971fd305a4df.gif)

[2018-01-12 12:43] Xvie commented on #1504
Yea and i think it would be great if it's dynamic.

[2018-01-12 13:06] wmendes commented on #942
Hi @googl3r, any feedback on this issue? I'm trying to customize the active state of my TabHeading with no success so far.

[2018-01-12 14:54] GuillotJessica commented on #1506
I'll give it an other try, thx

[2018-01-12 15:39] blkmutt commented on #627
Is there a chance the release build is not right here? This appears to work in Debug, but not Release, even in the simulator.

[2018-01-12 15:41] slorber commented on #1073
come back as this issue has actually not been fixed in 2.3.3 in my app, it has been reported to happen again

[2018-01-12 15:43] slorber commented on #627
@akhil-geekyants for what it's worth, in glamorous-native we had a problem affecting only release builds. I have no idea if this is related but as people report it's only affecting release it might be worth checking.

On new RN versions, only in release mode, the exported View is not a function but is a string "RCTView" while it was previously a function. If lib code expects a function it might br

[2018-01-12 16:00] Angelk90 opened #1509 "Know active page of the tab"
hi, I wanted to know if there is any trick to know which page of the tabs is active?

[2018-01-12 16:37] lucianomlima commented on #1503
Thanks @SupriyaKalghatgi I will take a look.

[2018-01-12 23:04] josephbuchma opened #1510 "[FEATURE REQUEST] Live theme editor"
I was looking at available UI toolkits for RN, and I'm surprised that I haven't seen an evidence of live theme editor in any of them (have I missed one ?)

The idea is following: you have an app with all available UI elements from NativeBase ui kit, you open it inside emulator, and you can click on any element and live-edit it's styles (including editing style variables that are used in different

[2018-01-13 00:58] soleilgl commented on #422
use transparent to remove the shadow

[2018-01-13 09:34] iiqmohamad commented on #1450
I'm facing this issue on production mode. But everything ok on development.
Any clue?

[2018-01-13 17:18] Angelk90 commented on #1501
@akhil-geekyants: Are there any news by chance? Were you able to get it done?

[2018-01-14 02:11] eolszewski commented on #1174
@shivrajkumar this does not work and should be reopened.

[2018-01-14 02:11] eolszewski commented on #1174
Everything compiles fine, but in Android the picker does not display.

[2018-01-14 08:39] sankhadeeproy007 commented on #1510
cc @sanketsahusoft

[2018-01-14 12:40] oferRounds opened #1511 "Bug: `onScroll` on `List` not get called"
react-native, react and native-base version: `0.48.3`
native-base version: `2.3.6`

Expected behaviour: `onScroll` event should get fired

Actual behaviour: `onScroll` event does not get fired

Steps to reproduce (the following is inside `Container` and `Content`):

[code]

[2018-01-14 16:40] madcoda commented on #1492
I can confirm that on IOS it works, but not working on Android.

In my use case, I need to prompt 2 ActionSheets consecutively.
In the end, I set a little bit delay with setTimeout() and it's working on both

[2018-01-14 22:42] priyarg commented on #508
i did content inside tab but my whole page is scrolled up  when i go over the list
![image](https://user-images.githubusercontent.com/30672033/34921562-22c5ae7a-f939-11e7-939b-a5c32a6eadc5.png)

[2018-01-14 22:44] priyarg commented on #508
i did content inside tab but my whole page is scrolled up when i go over the list
![image](https://user-images.githubusercontent.com/30672033/34921573-4a258580-f939-11e7-884e-b927a0288d9a.png)
![image](https://user-images.githubusercontent.com/30672033/34921580-5dca5818-f939-11e7-8aea-68e5985e09f5.png)

[2018-01-14 23:16] oferRounds commented on #1511
It seems that happens because the `Content`’s `onScroll` is the one that triggers. If one would set the Content’s `scrollable` to `false` then the `List`’s `onScroll` does get called. The problem is that it causes other issues...

[2018-01-15 02:56] ViktorAksionov commented on #816
It is very simple to add your own implementation for error.
For simple example:
[code]

[2018-01-15 04:09] SupriyaKalghatgi commented on #1504
@Xvie We dont have plans to make it dynamic
This will remain static

[2018-01-15 04:09] #1504 closed

[2018-01-15 04:13] SupriyaKalghatgi commented on #942
@wmendes What is the issue you are facing?
Share your code snippet and output along with RN and NB version

[2018-01-15 04:17] SupriyaKalghatgi commented on #1073
#627

[2018-01-15 04:22] SupriyaKalghatgi commented on #1509
@Angelk90 You can get help from https://github.com/skv-headless/react-native-scrollable-tab-view#props

[2018-01-15 04:22] #1509 closed

[2018-01-15 04:25] SupriyaKalghatgi commented on #422
@simakwm Try with NativeBase 2.3.6

[2018-01-15 05:18] akhil-geekyants commented on #1450
@iiqmohamad can you share your `package.json`.

[2018-01-15 05:34] iiqmohamad commented on #1450
@akhil-geekyants my package.json

`{
  "name": "APP",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "dependencies": {
    "axios": "^0.17.1",
    "native-base": "^2.3.5",
    "react": "16.0.0",
    "react-native": "0.51.0",
    "react-navigation": "^1.0.0-beta.22",
    "react-redux": "^5.0.6",

[2018-01-15 06:55] #1490 closed

[2018-01-15 07:28] iiqmohamad commented on #1450
@akhil-geekyants  yup, it's fine when I use `"native-base": "^2.3.3"` on my previouse project

[2018-01-15 07:34] akhil-geekyants commented on #1450
@iiqmohamad just created a release build apk - A simple counter example with Redux with the above packeges. Couldn't see any issue. Sharing the apk

[app-release.apk.zip](https://github.com/GeekyAnts/NativeBase/files/1630722/app-release.apk.zip)

can you just check downgrading your project to 2.3.3 and check whether the issue is present

[2018-01-15 07:51] #1492 closed

[2018-01-15 07:56] iiqmohamad commented on #1450
Thanks @akhil-geekyants , solved by reinstalling react-native.
After `npm install react-native --save`  , react-native version changed to `"^0.51.0" `

[2018-01-15 07:58] #1450 closed

[2018-01-15 09:28] akhil-geekyants commented on #508
@priyarg tried a code similar to this. Couldn't find any issue. Attaching a gif

Gif

![list](https://user-images.githubusercontent.com/27768184/34935604-73ee2838-fa04-11e7-8038-e372132eb47d.gif)

[2018-01-15 11:36] akhil-geekyants commented on #1174
@eolszewski can you try adding `style={{flex:1}}` for Picker

[2018-01-15 11:48] wmendes commented on #942
Sorry @SupriyaKalghatg, my mistake. I was importing RN Text.

[2018-01-15 12:34] SupriyaKalghatgi commented on #1511
@oferRounds What help do you need here

[2018-01-15 12:35] oferRounds commented on #1511
@SupriyaKalghatgi I’d like to register to the `onScroll` event, and currently it’s not working when `List` is presented inside `Content`

[2018-01-15 12:40] oferRounds commented on #1511
And in general, I believe it’s a bug, so I opened an issue...

[2018-01-15 13:10] akhil-geekyants commented on #1511
@oferRounds NativeBase`<Content>` itself is a ScrollView (you can read about `<Content/>` [here](http://docs.nativebase.io/Components.html#anatomy-headref)). So a Scrollview inside Content component behaves the same way as a ScrollView inside a ScrollView.

[2018-01-15 13:12] oferRounds commented on #1511
@akhil-geekyants thanks!
I’m aware of that, but the question still remains: how do I get the `onScroll` event. Or the right method should be to put the list just in a `Container` (without `Content`)?

[2018-01-15 13:18] Alexiacx commented on #816
Hello, I would like coded reaact-nativ the form http://materializecss.com/forms.html: Input feild but I do not know how to put "valid" and "invalid" condtions on the email? by adding a Sucess Item or error ?

Thankyou

[2018-01-15 14:51] priyarg commented on #508
Thanks. solved my issue.

[2018-01-15 15:10] ikhsanalatsary commented on #1276
Yes, it's works

[2018-01-15 15:36] Mate38 opened #1512 "Content mask on the floating label"
Is there any way to apply content mask to the floating label?

[2018-01-15 16:20] #1512 closed

[2018-01-15 16:22] Mate38 commented on #1261
It does not mask, as much as it applies the same mask that I use in other fields it does not show the mask

[2018-01-15 16:40] carsonwah commented on #1316
@SupriyaKalghatgi I am also having the same issue on `bordered` Button component.

Although I started a brand new project and did not see this happening, my current project is really suffering from this and could not find the solution.

I am suspecting that the [text color variable](https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Button.js#L406) got mutated somewhere insid

[2018-01-15 17:11] carsonwah commented on #1316
The problem is not just about `bordered` Button. After some investigation, I found that my project is now "all NB buttons become white text color". It seems to be following the first button text color that appears.

![2018-01-16 01 03 33](https://user-images.githubusercontent.com/25053707/34954102-252684d8-fa5a-11e7-809c-5bd0e2467c4c.png)

[2018-01-15 17:20] svallen opened #1513 "Picker selected text wrapping"
Currently using:

 "expo": "^22.0.0",
    "native-base": "^2.3.3",
    "react": "16.0.0-beta.5",
    "react-native": "https://github.com/expo/react-native/archive/sdk-22.0.2.tar.gz",

Picker when small is wrapping the text. I tried to override the main nativebase picker component but nothing seemed to work. Any thoughts on how to force the text to be a single line and not wrap?

![screen shot 2018

[2018-01-15 22:15] abhishek0058 commented on #743
+1
I only render my DeckSwiper when my data.length is >1 but still it is not refreshing

[2018-01-16 05:23] akhil-geekyants commented on #1511
@oferRounds you can use Container without Content. But then you won't get the functionalities provided with Content like Keyboard avoiding view. Other than that, it should not create any other issues.

[2018-01-16 05:37] akhil-geekyants commented on #1261
@Mate38 can you paste a code snippet for us to test.

[2018-01-16 06:07] #1478 closed

[2018-01-16 06:24] SupriyaKalghatgi commented on #743
@gustavoadt @123lk @abhishek0058 Check this in NativeBase KitchenSink

[2018-01-16 06:33] SupriyaKalghatgi commented on #1471
@Angelk90 Default Toast comes with `dark`
Other types available are `success`, `warning`, `danger`

[2018-01-16 06:52] SupriyaKalghatgi commented on #1275
Closing this, as NativeBase wont be adding this

[2018-01-16 06:52] #1275 closed

[2018-01-16 06:55] SupriyaKalghatgi commented on #1286
@mjohns39 Any updates on PR?

[2018-01-16 06:59] SupriyaKalghatgi commented on #1230
@cutemachine @cowboy @faogustavo Need help on this?

[2018-01-16 07:01] #536 closed

[2018-01-16 07:50] akhil-geekyants commented on #1316
@carsonwah couldn't reproduce the issue from our end. More likely it should be an issue with the app code. Can you share your code.

[2018-01-16 08:33] #1316 closed

[2018-01-16 08:39] jaysassyinfotech opened #1514 "this.xyz._root.focus(); not working"
[code]
Hear it is code on fill up form in my project. when i fill up availableBalance field after try to next button on keyboard error occurs.
![image](https://user-images.githubusercontent.com/34565091/34979273-da51cdb0-fac6-11e7-9b13-68e6ce662fc6.png)

[2018-01-16 08:48] akhil-geekyants commented on #1513
@svallen can you share your code for us to test.

[2018-01-16 09:56] SupriyaKalghatgi commented on #1189
Closing this, as NativeBase wont be adding this

[2018-01-16 09:56] #1189 closed

[2018-01-16 09:56] SupriyaKalghatgi commented on #981
Closing this, as NativeBase wont be adding this

[2018-01-16 09:56] #981 closed

[2018-01-16 10:18] SupriyaKalghatgi commented on #869
Closing this, as NativeBase wont be adding this

[2018-01-16 10:18] #869 closed

[2018-01-16 10:18] SupriyaKalghatgi commented on #865
Closing this, as NativeBase wont be adding this

[2018-01-16 10:18] #865 closed

[2018-01-16 10:21] SupriyaKalghatgi commented on #872
Closing this, as this is project specific and nothing generic
NativeBase wont be adding this

[2018-01-16 10:21] #872 closed

[2018-01-16 10:25] #1471 closed

[2018-01-16 10:29] SupriyaKalghatgi commented on #1344
@SimonVuong This is not NativeBase issue
While using any kind of `Animated` component, you need to handle the old and new values of properties whenever animation happens

[2018-01-16 10:29] #1344 closed

[2018-01-16 13:33] akhil-geekyants commented on #1514
@jaysassyinfotech use ref instead of getRef

![ref](https://user-images.githubusercontent.com/27768184/34991481-c5fa805e-faef-11e7-8a5f-b8c0d3182aea.gif)

[2018-01-16 14:30] sanketsahusoft commented on #1510
@josephbuchma @sankhadeeproy007 We are building this! It will be live by Feb 15th!

[2018-01-16 14:30] #1510 closed

[2018-01-16 14:57] josephbuchma commented on #1510
Awesome!

[2018-01-16 16:50] oferRounds commented on #1511
@akhil-geekyants got you, thanks!

[2018-01-16 16:50] #1511 closed

[2018-01-16 19:16] ryanlanciaux commented on #627
Not big on the "me too" comments but I'm bumping into this in release builds and not totally sure what to do to mitigate.

[2018-01-16 21:53] cutemachine commented on #1230
I have not tried @faogustavo's solution.

Thanks, @SupriyaKalghatgi for offering your help here. At the moment I do not have time to test it :(

[2018-01-17 05:29] Right2Drive opened #1517 "Typescript declaration file missing ScrollableTab"
## react-native, react and native-base version
`react-native`: 0.49.5
`react`: 16.0.0-beta.5
`native-base`: 2.3.6

## Expected behaviour
`import { ScrollableTab } from 'native-base';` should be valid

## Actual behaviour
`Module '"<my_dir>/node_modules/native-base/index"' has no exported member 'ScrollableTab'.`
I also do not see it in the `index.d.ts` declaration file

## Any other additional inf

[2018-01-17 06:38] jaysassyinfotech opened #1518 "KeyboardAvoidingView not working in FORM component"
[code]
Hear i used Form native base component. i want scroll this form when fill up. For scrolling view i used KeyboardAvoidingView react-native component. Not working scroll view.

[2018-01-17 06:40] SupriyaKalghatgi commented on #1518
@jaysassyinfotech Can you share output for this?

[2018-01-17 06:56] jaysassyinfotech commented on #1518
![image](https://user-images.githubusercontent.com/34565091/35029566-92b89388-fb81-11e7-85c4-b519b1a9724d.png)
@SupriyaKalghatgi

[2018-01-17 08:30] sanketsahusoft commented on #1510
Subscribe to NativeBase newsletter. We will post it there. :-)

[2018-01-17 10:05] githubmss commented on #1041
i am facing the same issue , @shivrajkumar and @motogod  can you please tell me what i need to do , do i have toput roboto-medium font file inside my folder and have to import that by using Expo.Font.loadAsync method ?

[2018-01-17 10:37] akhil-geekyants commented on #1518
@jaysassyinfotech try wrapping the code inside a `<ScrollView/>`

[2018-01-17 10:41] jaysassyinfotech commented on #1518
@akhil-geekyants
[code]
Not work i already used that.

[2018-01-17 10:53] akhil-geekyants commented on #1518
@jaysassyinfotech place  `<ScrollView/>` outside `<KeyboardAvoidingView/>`

[2018-01-17 11:12] fanzkday commented on #1213
@SupriyaKalghatgi But I had the same problem.
[code]
But, when I enter or leave this page, I can see the red "trash button" for 0.x second.

[2018-01-17 11:24] SupriyaKalghatgi commented on #1213
@fanzkday I checked it for you
I couldn't see red trash button for fraction of second

[2018-01-17 11:34] jaysassyinfotech commented on #1518
KeyboardAvoidingView is commented in code @akhil-geekyants
[code]

[2018-01-17 13:32] Angelk90 commented on #1471
@SupriyaKalghatgi : In fact, as you say, by default.
Mine is a request to add them as features, since
NativeBase provides following color themes, as default on buttons and other components.

[2018-01-17 13:43] Angelk90 commented on #1497
@SupriyaKalghatgi : You could kindly publish your code to test it on android.

[2018-01-17 14:29] ArmandoAssuncao opened #1520 "TS: update d.ts for prop style accept array"
Hi,

I'm using this code to set two styles in prop of component:
[code]

But ts show this warning:
`Type 'ViewStyle[]' has no properties in common with type 'ViewStyle'`

What do you think about defining the prop `style` in `.d.ts`, like:
[code]

native-base: 2.3.6

[2018-01-17 14:46] oximer opened #1521 "Npm install"
Hey guys,

I noticed that you added two Github repositories as dependencies of this project and this are causing me problems.

When using GitHub as dependencies you don't specify a released build version. Actually you are cloning the master branch. Thus, you never know what is coming for your project.

**This is an issue for security.**

In my specific scenario this situation is even worse. All th

[2018-01-17 15:57] gutoglup commented on #1521
In the package.json file there are two dependencies that use the github clone. If it is possible to change the repositories to a stable version of npm to correct the problem mentioned.
Also taking advantage of the following repositories have register in the npm.
[code]

[2018-01-17 17:29] Mate38 commented on #1261
I would like to do something like this, use the floatingLabel and at the same time have a content mask on the component

[code]

[2018-01-17 18:27] anil1712 commented on #53
Yes I am also facing the same issue in **"native-base": "2.3.3"**

[2018-01-17 20:40] fabricehong opened #1523 "Press event in a swipeable list is not received the first time when the focus is on an input text outside of the list"
I have a swippeable list containing buttons, and down below, an input box. After I press in the input box to start writing, If I click on one of the buttons in the list, nothing happens. I need to click a second time so the click event is received.

If I replace the swippeable list by a normal native base list as defined in the component doc, the event is received straight away on the first click

[2018-01-18 04:02] SupriyaKalghatgi commented on #1471
@Angelk90 I am not clear with your statement
Please explain

[2018-01-18 04:36] anil1712 commented on #53
@twelvearrays you got any solution for the same?

[2018-01-18 04:46] anil1712 commented on #1518
In my case Input loses focus when updating state and keyboard gets disappeared

[2018-01-18 06:04] SupriyaKalghatgi commented on #53
@k2glyph @anil1712 Facing this issue with 2.3.6?

[2018-01-18 06:26] akhil-geekyants commented on #1518
@jaysassyinfotech tried your code. Attaching a Gif

Gif

![scroll3](https://user-images.githubusercontent.com/27768184/35083467-597a58da-fc45-11e7-8899-5e8d1ea5c198.gif)

It would be easy for you, if you follow NativeBase [screen structure](http://docs.nativebase.io/Components.html#anatomy-headref) . NativeBase `<Content/>` component have KeyboardAwareScrollView implemented in it.

Example :

![sc

[2018-01-18 07:21] akhil-geekyants commented on #1523
@fabricehong checked this with SwipeList and ListItem. Both were behaving the same. Isn't the first click used to dismiss the keyboard when input is on focus.

[2018-01-18 07:34] akhil-geekyants commented on #1518
@anil1712 couldn't find any such issue. Attaching a Gif

Gif

![state](https://user-images.githubusercontent.com/27768184/35085766-1b2ab84e-fc50-11e7-8624-2b7740fbf8f6.gif)

[2018-01-18 08:26] fanzkday commented on #1213
@SupriyaKalghatgi Android?

[2018-01-18 08:46] anil1712 commented on #1518
Since there is no `onSubmit` event is available in `Form` component provided by NativeBase.
So I am using  `[simple-react-form](https://github.com/nicolaslopezj/simple-react-form)` component. Maybe that's why I am getting this behavior.

@akhil-geekyants Can you please tell me how to get all input fields values on `onPress` events?

[2018-01-18 09:07] Jancat opened #1524 "Can't install dependencies from github in the intranet"
**yarn.lock**
[code]
The `react-native-drawer` and `react-native-keyboard-aware-scroll-view` referred to github, and I can't install them in the intranet.

[2018-01-18 09:11] anil1712 commented on #1518
@akhil-geekyants  I want to pass object directly into form then it set the input field values based on the object keys.
Is it possible?

[2018-01-18 09:22] SupriyaKalghatgi commented on #1524
#1521

[2018-01-18 09:22] #1524 closed

[2018-01-18 09:28] fanzkday commented on #1213
@SupriyaKalghatgi
![bugs](https://user-images.githubusercontent.com/29252763/35090571-09fedada-fc75-11e7-9235-0ca1582b2f0f.gif)

[2018-01-18 09:34] SupriyaKalghatgi commented on #1213
@fanzkdayYou can check this in NativeBase KitchenSink from Expo
https://expo.io/@geekyants/nativebasekitchensink

[2018-01-18 09:55] anil1712 commented on #1518
@akhil-geekyants Attaching gifs, please check the behavior

**1. Keyboard gets disappeared**
<img src="http://tinyurl.com/yaqd9ra8"/>

**2. Flickering issue and fields get duplicated**
<img src="http://tinyurl.com/yd4m9mcl" />

[2018-01-18 09:56] anil1712 commented on #53
@SupriyaKalghatgi  Yes, its happening in 2.3.6 also.
Please check the attached gif

**Keyboard gets disappeared**

<img src="http://tinyurl.com/yaqd9ra8"/>

[2018-01-18 09:57] Jancat commented on #1521
@SupriyaKalghatgi  Can you release a patch? I need the fix with a little emergency. Thanks !!

[2018-01-18 10:08] anil1712 commented on #53
@SupriyaKalghatgi
FYI: I am using this for `Form` component
https://github.com/nicolaslopezj/simple-react-form

[2018-01-18 10:18] SupriyaKalghatgi commented on #53
#1518

[2018-01-18 10:29] nagusampath commented on #353
* What went wrong:
Execution failed for task ':app:compileDebugJavaWithJavac'.

[2018-01-18 10:30] nagusampath commented on #353
* What went wrong:
Execution failed for task ':app:compileDebugJavaWithJavac'.

[2018-01-18 10:31] nagusampath commented on #353
* What went wrong:
Execution failed for task ':app:compileDebugJavaWithJavac'.

[2018-01-18 10:43] SupriyaKalghatgi commented on #353
@nagusampath Didn't you check the SO solution commented above?

[2018-01-18 10:49] nagusampath commented on #353
ya mam.but my issuses are not solved

[2018-01-18 11:56] akhil-geekyants commented on #1518
@anil1712 can paste some code

[2018-01-18 12:02] motogod commented on #1041
Hi,

Its been a long time i don't use React Native any more.

Hope this code can help you.

Key point is the constructor and componentWillMount function

import React from 'react';
import Expo from 'expo';
import { StyleSheet, Text, View, StatusBar } from 'react-native';
import {
Container, Drawer, Header, Body, Left, Right,
Button, Icon, Title, Footer, FooterTab, Content, Badge
} from 'native-bas

[2018-01-18 12:19] SupriyaKalghatgi commented on #1521
Release patch 2.3.7 with fix

[2018-01-18 12:19] #1521 closed

[2018-01-18 17:15] anil1712 commented on #1518
Sorry It was my mistake, I was using the `new Date().getUTCTimeMillis()` to generate the `key` props for elements, so that's why it was creating those issues.

[2018-01-18 19:54] svallen commented on #1513
@akhil-geekyants working on getting you some sample code. will post as soon as I have a snippet in place

[2018-01-19 04:13] SupriyaKalghatgi commented on #1518
@anil1712 any issues left unsolved here?

[2018-01-19 15:05] anil1712 commented on #1518
No.
But it would be better if you can provide any solution for this comment.
https://github.com/GeekyAnts/NativeBase/issues/1518#issuecomment-358583624

[2018-01-19 17:13] svallen commented on #1513
Here is the sample code.  I believe it should give you an idea.

**IMAGE**

![screen shot 2018-01-19 at 12 10 53 pm](https://user-images.githubusercontent.com/6169781/35162574-d3bc29a8-fd11-11e7-9812-aef3ed1e873b.png)

**CODE:**

'use strict';

/* --- Imports --- */
import React, { Component } from 'react';

import PropTypes from 'prop-types';

import { StyleSheet, Text, View} from 'react-native';

[2018-01-20 06:19] harikanammi opened #1530 "how to get a selected Label name in Picker Component"
First of all, thank for your all components it's very good. I am using picker component. It's all working fine. My question is how to get a selected Label name. I am getting only selected index value. Please give me any suggestion. Thanks in advance
Here is my code:
[code]

[2018-01-20 07:29] harikanammi commented on #1530
Finally, I got an answer.
[code]

[2018-01-20 09:13] #1530 closed

[2018-01-20 11:46] Yarkhan commented on #1010
This problem persists on 2.3.6 and 2.3.7. Setting `initialPage` to other than zero triggers all problems described here.

I've followed the hacky steps @leekuo proposed, but i've had to put a setTimeout to make it work in my case. Ugly, but it is working. If I could manage to skip the animation triggered by `goToPage()` I could make this issue go unnoticed until we find a fix.

@ziudeso If you sti

[2018-01-20 12:52] mimalef70 commented on #518
+1

[2018-01-20 14:47] TheMonster1995 opened #1531 "Using FAB as a button"
I'm trying to use FAB as a button - to navigate to another page and NOT open any extra FABs, and for some reason, it doesn't work.

## react-native, react and native-base version
react-native: 0.50.3
react: 16.0.0
native-base: 2.3.6

## Expected behavior
Navigate to the new page

## Actual behavior
Nothing happens

## Steps to reproduce (code snippet or screenshot)
      <Container>
        <Statu

[2018-01-21 05:57] Gerharddc opened #1532 "Floating label cut off"
## react-native, react and native-base version

- React-Native 0.52.0

- React: 16.2.0

- Native-Base: 2.3.7

## Expected behaviour
When using an input with a floating label, the entire label should be visible when floating.
## Actual behaviour
Once the label starts floating, the top half of the label is cut off.
## Steps to reproduce (code snippet or screenshot)
Something as simple as the followi

[2018-01-21 07:19] ziudeso commented on #1010
U are the best @Yarkhan! thanks a lot!

[2018-01-21 09:38] sarahmarciano commented on #1532
+1 I have the same issue, and it happened when I've upgraded react-native to 0.52.0

[2018-01-21 10:58] 1c7 commented on #662
getting same problem, `Button`(from NativeBase) in `FlatList`(from ReactNative) sometime could take 1 to 2 second to respond to `onPress`
still trying to solve the problem

using React Native 0.52, and develop for Android.

[2018-01-21 17:38] svlada commented on #627
I have same problem as well. Please find use cases below

**Working fine - not overlapping**
[code]

**Not Working fine - overlapping**
[code]

[2018-01-21 18:50] svlada opened #1533 "Stack label overlaps with Input text field"
## react-native, react and native-base version
react: 16.0.0
react-native: 0.51.0
native-base: 2.3.5

## Expected behaviour
Stacked label should be above Input text field.

## Actual behaviour
Stack label overlapping with Input text field, preventing us to enter text in the input field

## Steps to reproduce (code snippet or screenshot)
[code]
## Screenshot of emulator/device
![photo_2018-01-21_19

[2018-01-22 05:33] jzhw0130 commented on #64
For js version:
`import React, { Component } from 'react';
import { ViewPropTypes } from 'react-native';
import { StyleProvider, getTheme, Icon } from 'native-base';
import PropTypes from 'prop-types';

export default class IHIcon extends Component {
  render () {
    const { family, name, style } = this.props;
    const icon = <Icon name={name} style={style} />
    if (family) {
      const custo

[2018-01-22 05:33] akhil-geekyants commented on #1328
Closing this issue due to no response

[2018-01-22 05:33] #1328 closed

[2018-01-22 05:35] akhil-geekyants commented on #1500
Closing this issue due to no response.

[2018-01-22 05:35] #1500 closed

[2018-01-22 05:37] akhil-geekyants commented on #1483
Closing this issue due to no response.

[2018-01-22 05:37] #1483 closed

[2018-01-22 05:38] #1506 closed

[2018-01-22 05:41] rohithramachandran commented on #943
Same Happening here... Unable to keep Picker in form item.

[2018-01-22 07:50] akhil-geekyants commented on #1518
@anil1712 you can pass the value to an `<Input/>` component using it's `value` prop.
You can store the value of an input in state and pass those values while submitting.
See the gif for an example

![form](https://user-images.githubusercontent.com/27768184/35210079-cd369a66-ff76-11e7-97a2-9980b0c81d5b.gif)

[2018-01-22 08:09] SupriyaKalghatgi commented on #662
@grzjos Go on with FlatList

[2018-01-22 08:18] #1518 closed

[2018-01-22 08:19] #1514 closed

[2018-01-22 08:21] #1230 closed

[2018-01-22 09:52] akhil-geekyants commented on #1523
@fabricehong just add prop `keyboardShouldPersistTaps={'handled'}` to `<List/>`

Gif

![click2](https://user-images.githubusercontent.com/27768184/35214685-fefebf72-ff87-11e7-886b-b37127a82cf4.gif)

[2018-01-22 10:31] akhil-geekyants commented on #1513
@svallen this is as per the design guidelines. Picker is supposed to show both placeholder content and selected item content.
For your use case, either you can specify the width of the Picker or reduce the number of Picker's in a single row.

[2018-01-22 10:59] JayKurniawan commented on #757
@shivrajkumar how do I implemented the `tabBarUnderlineStyle` ?
`<Tabs
    ................

[2018-01-22 12:03] akhil-geekyants commented on #1314
Fixed in the latest version (2.3.7).

Gif

![sectionheaderbackground](https://user-images.githubusercontent.com/27768184/35219874-4bd0eb6a-ff9a-11e7-8663-79e93fe2c49e.gif)

[2018-01-22 12:03] #1314 closed

[2018-01-22 12:25] SupriyaKalghatgi commented on #1378
Fixed with 2.3.7

[2018-01-22 12:25] #1378 closed

[2018-01-22 14:47] tindery commented on #1532
I'm having same issue, also after upgrading to 0.52

[2018-01-22 16:53] fabricehong commented on #1523
It works ! thank you very much :)

[2018-01-22 19:24] camel113 commented on #1168
Same issue. I do not have react-native-push-notification nor react-native-fbsdk packages.
It's impossible to have refreshcontrol with tabs.. Each time you try to to pull to refresh you automatically swipe :-(

[2018-01-22 20:25] hjJunior opened #1534 "Problem when I'm trying to customize"
## react-native, react and native-base version
react-native: 0.44.0
native-base: 2.1.5
## Expected behaviour
Change the variable values to change the colors of header, statusbar, and some components
## Actual behaviour
I'm Getting this error:
`Can't find variable: Symbol`
## Steps to reproduce (code snippet or screenshot)
So, I tried to follow the docs, so... I started add the imports
`import { St

[2018-01-22 23:04] juliancorrea commented on #474
+1

[2018-01-23 03:15] sitompul commented on #1168
@camel113 please use **react-native-tab-view** to handle your refreshissue

[2018-01-23 03:46] abhishek0058 commented on #743
To check What ??

On Tue, Jan 16, 2018 at 11:55 AM, Supriya Kalghatgi <
notifications@github.com> wrote:

[2018-01-23 04:10] kodamirmo commented on #983
Any update?

[2018-01-23 06:25] akhil-geekyants commented on #1534
@hjJunior can you try importing StyleProvider from native-base

change
[code]
to
[code]

[2018-01-23 07:04] #1523 closed

[2018-01-23 07:27] akhil-geekyants commented on #1513
@svallen you can modify code in `renderButton(){}` function inside `native-base/src/basic/Picker.ios.js`. Attaching a Gif

Gif

![picker2](https://user-images.githubusercontent.com/27768184/35262953-d1d64230-003c-11e8-9536-cd0ff412efb4.gif)

[2018-01-23 07:47] akhil-geekyants commented on #1531
@TheMonster1995 tried a sample code with react-navigation. It is working fine. Attaching a Gif.

Gif

![fab](https://user-images.githubusercontent.com/27768184/35263630-97009d4c-003f-11e8-950e-a05535bb322c.gif)

Sample Code

[code]

[2018-01-23 08:46] Laurensdc commented on #929
I made an easy custom component for this to work.

[code]

Use like this:

[code]

[2018-01-23 08:54] sfm2222 commented on #605
@sankhadeeproy007  Im unable to resolve using  <Body style={{flex: 3}}> as it is not on center on every device.

[2018-01-23 08:57] akhil-geekyants commented on #1532
@carathorys you can add some padding to the top for `<Label/>`.

Gif

![floating label](https://user-images.githubusercontent.com/27768184/35266373-277350d2-0049-11e8-938c-2ddb6f6e85b7.gif)

[2018-01-23 09:16] akhil-geekyants commented on #1533
@svlada wrap it inside `<Content/>` component or `<ScrollView/>`

Gif

![stacked label](https://user-images.githubusercontent.com/27768184/35267353-00b538f4-004c-11e8-8c55-67a31c4b680a.gif)

[2018-01-23 10:31] ViktorAksionov commented on #1532
I found out that Label has hard coded value for `top`.
In my case I did something like this to fix it:
[code]
...
[code]

[2018-01-23 11:10] ViktorAksionov opened #1535 "Incorrect position of Icon with Floating label"
## react-native, react and native-base version
"native-base": "^2.3.7",
"react": "16.2.0",
 "react-native": "0.52.0",
## Expected behavior
Icon should be on right side
## Actual behavior
Position of Icon always is on left side
## Steps to reproduce (code snippet or screenshot)
[code]
## Screenshot of emulator/device
![image](https://user-images.githubusercontent.com/2520890/35272621-cc735758-ffea-

[2018-01-23 11:10] svlada commented on #1533
@akhil-geekyants

In the issue description I have already stated that label is displayed correctly if wrapped inside of Content. Input component shouldn't be dependent on wrapper component.

I have a use case with **sticky search text field** positioned on top of the screen and result list that's shown below the text field. Problem is that you cannot have fixed/sticky View inside of Content compon

[2018-01-23 11:20] SupriyaKalghatgi commented on #1535
#1102

[2018-01-23 11:20] #1535 closed

[2018-01-23 11:25] toupilsner commented on #1010
I have much of the same issues. On IOS the first page is rendered ok. On Android (emulator, API 24) the first page is not drawn corretly. The second, third etc. pages are drawn correctly. Example:

Images illustrating the issue
https://drive.google.com/open?id=1qrVzsjj9a-uuqEJkRXAEkQzRtCz9yiDZ

Package
    "expo": "^24.0.0",
    "native-base": "^2.3.7",
    "react": "16.0.0",
    "react-native": "

[2018-01-23 12:04] JiboStore commented on #473
would you mind showing how it's done? I followed @sankhadeeproy007 suggestion of using native-base 2.x, and followed his hierarchy, but I lost everything, just a blank view..

[2018-01-23 12:06] SupriyaKalghatgi commented on #473
@JiboStore Please refer NativeBase KitchenSink, this would be helpful to you
https://github.com/GeekyAnts/NativeBase-KitchenSink

[2018-01-23 12:59] hjJunior commented on #1534
Thanks :) @akhil-geekyants, this works fine!!

[2018-01-23 12:59] #1534 closed

[2018-01-23 13:32] slicejunk opened #1536 "performance issue"
in `customMerge` from `native-base-shoutem-theme`
there are some iteration on the properties of both objects, I guess this can be be optimized by removing the inner iteration
[code]
in the original function, the values from `obj2` where dropped if it does not exist in `obj1`, is that wanted?

moreover it could be helpful to have some explanations about the existence of this library, why not use `s

[2018-01-23 13:36] MatheusLima7 commented on #1010
@SupriyaKalghatgi  How to listen when changing tab?

[2018-01-23 14:16] svallen commented on #1513
Thanks, I will take a look and see if that works for me.  Appreciate the help.

[2018-01-23 15:05] Gloix opened #1537 "Wrong menu icon color in Android."
## react-native, react and native-base version
react-native (0.52.0), react (16.2.0) and native-base (2.3.7)

## Expected behaviour
White menu icon on Android.

## Actual behaviour
The menu icon has the iOS blue color. (`iosToolbarBtnColor` | "#007aff")

## Steps to reproduce (code snippet or screenshot)
[code]

## Screenshot of emulator/device
![image](https://user-images.githubusercontent.com/50

[2018-01-23 17:04] svallen commented on #1513
Sorry to be such a pain.

I'm use Expo and when I update the code and refresh it doesn't seem to update like your's is.

It's as if the node_module code isn't updating itself on refresh.

Thoughts?

[2018-01-23 22:40] teddyteh commented on #989
For those who have an issue with Flatlists, add this as a prop to Flatlist itself:
extraData={this.state}

[2018-01-24 02:31] archywilhes commented on #977
Fixed the error complaining about `import` with `transformIgnorePatterns` but then i ran into error about
[code]
for my expo packages

[code]

[2018-01-24 04:03] harikrishnanp commented on #605
Use `<Body style={{flex: 2}}>` If you don't need longer title.

[2018-01-24 04:17] SupriyaKalghatgi commented on #1536
@slicejunk Would you go ahead initiating PR for this?

[2018-01-24 04:23] SupriyaKalghatgi commented on #1010
@MatheusLima7 NativeBase Tabs is implementation of https://github.com/skv-headless/react-native-scrollable-tab-view
You can refer to APIs and methods here

[2018-01-24 06:29] SupriyaKalghatgi commented on #1513
@svallen Is that happening with any other expo app of yours?

[2018-01-24 06:31] akhil-geekyants commented on #1513
In `node_modules/native-base/package.json`

try changing
[code]
to
[code]

[2018-01-24 06:31] SupriyaKalghatgi commented on #1537
@Gloix Please verify the variables from [here](https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/variables/commonColor.js#L132) against your them

[2018-01-24 07:46] slicejunk commented on #1536
@SupriyaKalghatgi The choice of a custom version of `southem-theme` should be explained before going into this task.
What are the differences ?
and why the original version can not be used instead?

[2018-01-24 10:48] achmadk commented on #516
In the latest version (2.3.7), I get warning message when using H1 component said `Failed prop type: H1 should have only string`

this is the stack trace
[code]

[2018-01-24 11:48] DVishin commented on #937
I solved this problem for myself by adding
`componentDidMount()
    {
        ActionSheet.actionsheetInstance = null;
    }
`
in caller component. After that ActionSheet reinit every time I enter my page.

[2018-01-24 13:08] dwivediamit commented on #1196
How to get selected tab heading value like if first tab is selected then i should get value of tab heading Tab1. Please help....

render() {
    return (
        <View>
            <Container>
                <Tabs initialPage={1}>
                    <Tab heading="Tab1">
                        <MainHeader />
                    </Tab>
                    <Tab heading="Tab2">

[2018-01-24 13:21] akhil-geekyants commented on #516
@achmadk can you check whether you are using any value other than string with H1. Can you paste some code here.

See docs [here](http://docs.nativebase.io/Components.html#Typography)

[2018-01-24 13:53] achmadk commented on #516
Sorry for your inconvenience, Mr. @akhil-geekyants . Accidentally, I am using number value with H1. Maybe you can update Native Base docs then replace option for H1, H2, and H3 component from user-defined to string, or inform that typography components will display `Failed prop type` warning if using any value other than string.

[2018-01-24 14:03] akhil-geekyants commented on #1196
@dwivediamit you can get the value from `onChangeTab` function of `<Tabs/>`.

Code
[code]
Gif

![pageheading](https://user-images.githubusercontent.com/27768184/35336059-35eaa116-013d-11e8-9dbd-c6bc069d6494.gif)

[2018-01-24 14:37] TheMonster1995 commented on #1531
It's okay untill you add a Content tag. Actually, the problem is not with it not functioning. It doesn't get clicked at all once a content component is added.

Should I open another issue and close this one?

[2018-01-24 16:34] camel113 commented on #1168
react-native-tab-view add a lot of new issues in my case

[2018-01-24 17:48] ViktorAksionov commented on #1532
Looks like it's an issue with `Item` component.
If you replace `lineHeight` from 30 by 50 [here](https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Item.js#L84) then it will not cut off Label.

Can somebody check why it has wrong value?

[2018-01-24 22:40] Gloix commented on #1537
Actually, version 2.3.7, which I have installed, has that line right
[code]
I also checked Platform.OS and it is Android.
I noticed I hadn't included the main theme, so I loaded it in, but the problem persists.

[2018-01-25 04:33] akhil-geekyants commented on #1537
@Gloix Check line [here](https://github.com/GeekyAnts/NativeBase/blob/v2.3.7/src/theme/variables/platform.js#L133) in version 2.3.7 .

[2018-01-25 06:09] dwivediamit commented on #1196
Thank you so much it's working fine for me......

[2018-01-25 07:25] akhil-geekyants commented on #1531
@TheMonster1995 `<Content/>` component is an implementation of ScrollView. Can you try setting prop `contentContainerStyle={{ flex: 1 }}` for `<Content/>`.

![fab](https://user-images.githubusercontent.com/27768184/35375866-98dd6fa6-01ce-11e8-9df9-fbb16d875d4f.gif)

[2018-01-25 07:45] princenaman commented on #811
@pukeanddie
I am also having the same issue.
How did you solve?

[2018-01-25 13:59] towfiqi commented on #1078
That didnt work. Have any other solution?

[2018-01-25 14:42] slicejunk opened #1540 "style depends on component order"
RN version 0.52, NB version 2.3.7

the size of the text is wrong
the second button follows the first button style, this is related to a bug in `getOrSetStylesInCache` from `native-base-shoutem-theme`

[code]
![image](https://user-images.githubusercontent.com/5887100/35393787-48cce31c-01e6-11e8-9ccc-5f5fec31194b.png)

[code]
![image](https://user-images.githubusercontent.com/5887100/35393757-3336f7

[2018-01-25 16:52] bielcapanema opened #1541 "older"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-01-25 20:28] Gloix commented on #1537
So, if I understand it right:
- `commonColor.js` declares common colors to all default themes
- `material.js` declares a material design like theme (although some checks are made for minor accomodations to the current platform?).
- `platform.js` declares a platform dependent theme.

I noticed the extracted theme from the theme setup instructions points to `variables/platform`, so it's using platfo

[2018-01-26 00:52] luisgagocasas commented on #638
containerStyle={{bottom: 60}}

[2018-01-26 20:28] ekimlinger opened #1543 "Using theme variables from getTheme and connectStyle"
Question: Is it possble to have a component use the variables that are injected into:
[code]

As far as I can tell, `connectStyle` only allows you to add variables to your theme, it does not allow access to existing ones.

For example if my app looks like so:

[code]
I want to be able to pull out the `brandPrimary` variable from our material injected theme like so:

[code]

Anyone know if this is

[2018-01-27 17:40] EmirGluhbegovic commented on #1394
I am having issue centering button, If I have <Body> and it wraps <Text> and <Button>, all the components just stay the same, aligned to the left. If I remove the <Text> element then it sometimes works. I find I am fighting NativeBase to get basic flex functionality working. The EasyGrid also is not working as expected. I have ejected the theme so not sure if that could be causing any issues, I ha

[2018-01-27 18:43] mickeyren commented on #634
this issue still persist, could not use CardItem at all because of this error. The samples themselves are broken.

From the example:

[code]

results in
[code]

[2018-01-27 22:49] Jeowulf opened #1544 "Add TypeScript support for Picker props placeholderStyle"
## react-native, react and native-base version
react native version 0.52.1, native-base Version 2.3.7
## Expected behaviour
Picker placeholderStyle prop supported by TypeScript
## Actual behaviour
Missing Type definition
## Steps to reproduce (code snippet or screenshot)
In a Project running on TS, give the Picker a prop of placeholderStyle
## Screenshot of emulator/device
![screen shot 2018-01-27

[2018-01-28 19:35] vvavepacket opened #1545 "Sidebar vertical swipe up"
Right now, sidebar can be implemented sideways. We can open a sidebar by swiping from left to right like below:

[Sidebar horizontal](https://docs.nativebase.io/docs/assets/ios/components/drawer.png)

QUESTION: Is it possible to use sidebar vertically? Like facebook extensions where we can pull it upwards? I can not find vertical option to both drawer and sidebar component of Native Base.

[sideba

[2018-01-29 05:14] IlyaGulya commented on #1075
Guys, any progress here?
This is really annoying bug.

[2018-01-29 07:36] SupriyaKalghatgi commented on #1532
sure

[2018-01-29 07:40] akhil-geekyants commented on #1540
@slicejunk can you try this

[code]

Gif

![button](https://user-images.githubusercontent.com/27768184/35498765-a43a3e36-04f5-11e8-89b3-7c9e93c0466f.gif)

[2018-01-29 07:44] SupriyaKalghatgi commented on #1078
@towfiqi share the code with output screenshot if you tried with [above solution](https://github.com/GeekyAnts/NativeBase/issues/1078#issuecomment-319651935)

[2018-01-29 07:49] #1541 closed

[2018-01-29 08:06] SupriyaKalghatgi commented on #1394
@EmirGluhbegovic Share your code for centering the Button with NativeBase along with output screenshot

[2018-01-29 10:22] akhil-geekyants commented on #1545
@vvavepacket just set `<Drawer/>` prop `side` to `bottom`

![sidebar](https://user-images.githubusercontent.com/27768184/35505385-ffa42190-050b-11e8-8068-15bae6898816.gif)

[2018-01-29 10:41] SupriyaKalghatgi commented on #943
[code]

This worked fine

[2018-01-29 11:28] SupriyaKalghatgi commented on #1540
[code]

![simulator screen shot - iphone 7 - 2018-01-29 at 16 57 10](https://user-images.githubusercontent.com/13464885/35508213-85969c16-0515-11e8-866c-596d36384493.png)

Text size is appropriate to button size

[2018-01-29 13:22] leoskyrocker opened #1548 "Android Picker Not Consistently Firing onValueChange"
## Issue Description

Since Picker uses RN's Picker under the hood for Android, all issues from RN's Picker is inherited by NativeBase Picker.
This issue is only created for the record because I could not figure out this bug quickly, but there is indeed an [related issue](https://github.com/facebook/react-native/issues/15556) in RN's repo.

## Steps to Reproduce
The STR requires using redux state

[2018-01-29 13:28] slicejunk commented on #1540
ok, I got it, the Buttons need to be embed in another Native base Component to work

```import {View} from 'react-native';```

[code]

=> wrong style

but

```import {View} from 'native-base';```

[code]

=> correct style

thanks for answering

[2018-01-29 19:01] yarian opened #1550 "Header not up to Material Design spec?"
## react-native, react and native-base version
react-native `0.52.0`
react `16.2.0`
native-base `^2.3.3`

## Reproduction

[code]

I am getting results that don't line up with [Material UI Guidelines on headers](https://material.io/guidelines/layout/structure.html#structure-app-bar).

## Actual Behavior

<img width="700" alt="screen shot 2018-01-29 at 10 55 18 am" src="https://user-images.githubus

[2018-01-29 19:04] yarian commented on #1550
Looked like a relevant issue–not sure why it was closed: https://github.com/GeekyAnts/NativeBase/issues/795

[2018-01-29 19:20] jribeiro commented on #1079
Hi guys, any update on this? Would you be happy to accept a PR to address it?

[2018-01-30 04:19] SupriyaKalghatgi commented on #1079
@jribeiro Sure!

[2018-01-30 04:59] pennyandsean commented on #1532
@akhil-geekyants I appreciate the tip however a fix would be better.  Want a PR?

[2018-01-30 05:01] SupriyaKalghatgi commented on #1532
@pennyandsean There is a PR for this

[2018-01-30 05:47] dwivediamit commented on #1196
Hi can you help me here...

/* @flow */

import React from "react";

import { Platform } from "react-native";
import { Root, StyleProvider } from "native-base";
import { StackNavigator } from "react-navigation";

import Artboard from "./src/artboard/Artboard";
import Login from "./src/artboard/Login";
import Signup from "./src/artboard/Signup";
import LocationMap from "./src/artboard/LocationMap";

[2018-01-30 05:57] SupriyaKalghatgi commented on #1196
@dwivediamit Your query is irrelevant to this library

[2018-01-30 06:09] minaskamel opened #1551 "Using multiline Input inside floating label Item is broken in iOS"
"react": "16.0.0-alpha.12"
"react-native": "0.48.1"
"native-base": "2.3.6"

## Expected behaviour
I'm trying to use an Input inside a floating label Item, and this Input should be for "description" so I need many lines for this input.
Here's the code:
`<Item floatingLabel>
                <Label>Description</Label>
                <Input
                     multiline
                     numberOf

[2018-01-30 07:23] SupriyaKalghatgi commented on #1548
@leoskyrocker You have mixed up your comments for `Expected behaviour` and `Actual behaviour`
Post your comments appropriately (do not edit previous statement)

[2018-01-30 10:40] Culzean opened #1552 "Android ripple is not triggered by child icon of Button"
"native-base": "^2.3.5",
react-native-cli: 2.0.1,
react-native: 0.50.3

[code]

Expected behaviour is for the ripple effect to appear when I click on the icon within the button, but it does not. It does appear if I click on the button but outside of the icon.

So far I have only tested this on Android so I don't know how this will behave on iOS.

[2018-01-30 11:16] Culzean opened #1553 "Button android ripple effect does not respect borderless property"
"native-base": "^2.3.5",
react-native-cli: 2.0.1,
react-native: 0.50.3

[code]

Expected ripple effect to trigger and have a rounded edge. It was square to same size as button.

[2018-01-30 11:18] leoskyrocker commented on #1548
@SupriyaKalghatgi You're right, it should be swapped. What's the reason behind not editing the original post to reflect the issue correctly?

[2018-01-30 11:52] pawgaw opened #1555 "t view flex=1"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-01-30 12:02] SupriyaKalghatgi commented on #1552
@Culzean `onPress` should be for `Button`

[2018-01-30 12:02] #1552 closed

[2018-01-30 12:04] SupriyaKalghatgi commented on #1553
#1206

[2018-01-30 12:04] #1553 closed

[2018-01-30 12:05] SupriyaKalghatgi commented on #1548
@leoskyrocker It has happened at times that, user raise issue and after we provide solution, user edit the issue description which conflicts the solution provided

[2018-01-30 12:06] SupriyaKalghatgi commented on #1548
@leoskyrocker I dont think its issue from NativeBase

[2018-01-30 12:11] SupriyaKalghatgi commented on #1555
Closing this due to insufficient information

[2018-01-30 12:11] #1555 closed

[2018-01-30 12:58] namnguyentat commented on #882
+1

[2018-01-30 13:12] douglasjunior commented on #593
My problem with NativeBase is with Apps startup. When I put NativeBase in my project, the App take 3x more time to start.

[2018-01-30 16:23] toussa commented on #1548
Indeed, nothing to do with native-base:
see [react-native issue here](https://github.com/facebook/react-native/issues/15556), and [its workaround for now](https://github.com/facebook/react-native/issues/15556#issuecomment-360181487)

[2018-01-30 16:29] toussa commented on #1493
@akhil-geekyants I'm having another issue with List while trying to stick to native-base and not use FlatList.
Thanks for your last comment, it should be more visible as soon as possible I think, for everybody.

[2018-01-31 02:51] pennyandsean commented on #591
Why is this closed? Its still a problem.

[2018-01-31 02:53] pennyandsean commented on #591
Why is this closed?  I didn't see a fix in any of the referenced issues.

[2018-01-31 03:35] leoskyrocker commented on #1548
I mentioned that it's not a direct issue here and I've referenced the issue in my original post.
However, I opened an issue here because it is a problem from the perspective of native-base users.

However, you guys can handle this however you want:
- close upon the issue is actually fixed to reflect the actual status;
- or close right now as there's no plan to actively fix this problem in native-b

[2018-01-31 04:04] #1548 closed

[2018-01-31 04:06] SupriyaKalghatgi commented on #1493
@toussa What is the issue?

[2018-01-31 04:09] #1545 closed

[2018-01-31 04:11] SupriyaKalghatgi commented on #1513
@svallen In case of no response, this issue will be closed in a day or so

[2018-01-31 06:33] vijaychouhan-rails commented on #650
Simple application at https://github.com/vijaychouhan-rails/AllInOne

[2018-01-31 07:05] akhil-geekyants commented on #591
@pennyandsean just checked this. It is working fine. Attaching a gif.

Gif

![inputref](https://user-images.githubusercontent.com/27768184/35609379-11f6b4a2-0683-11e8-8ba4-61d4b7b43274.gif)

[2018-01-31 07:51] SupriyaKalghatgi commented on #1174
Note: NativeBase Picker wont support its styling to work out of the box. But one can always style the components as per requirements

This will go to docs

[2018-01-31 09:16] toussa commented on #1493
@SupriyaKalghatgi Nothing related to this issue. I didn't succeed to re render the list based on some props or state, even if the data did not change. But I didn't investigate more when I saw this comment. I'm now using FlatList with ListItem

[2018-01-31 09:29] SupriyaKalghatgi commented on #1287
@LonelyGriffin Having multiple Toast popping up for a single screen, this is something inappropriate as per design guidelines / use-case
Hence rejecting your request and PR same

[2018-01-31 09:29] #1287 closed

[2018-01-31 10:59] SupriyaKalghatgi commented on #1540
I have opened this issue on the docs repo here: [#64](https://github.com/GeekyAnts/native-base-docs/issues/64)
Since we split the docs and the source into separate repos.

[2018-01-31 10:59] #1540 closed

[2018-01-31 11:00] SupriyaKalghatgi commented on #759
I have opened this issue on the docs repo here: [#65](https://github.com/GeekyAnts/native-base-docs/issues/65)
Since we split the docs and the source into separate repos.

[2018-01-31 11:00] #759 closed

[2018-01-31 11:03] SupriyaKalghatgi commented on #1120
I have opened this issue on the docs repo here: [#68](https://github.com/GeekyAnts/native-base-docs/issues/68)
Since we split the docs and the source into separate repos.

[2018-01-31 11:03] #1120 closed

[2018-01-31 11:05] SupriyaKalghatgi commented on #1240
@SacredWizard Regarding the 2nd issue, it has been fixed

[2018-01-31 11:08] SupriyaKalghatgi commented on #1240
@paulhanna1933 We are not the ones for https://github.com/react-community/create-react-native-app, so you can raise issue on their git

[2018-01-31 11:11] SupriyaKalghatgi commented on #1240
@SacredWizard Regarding 1st issue of yours, NativeBase docs has provided relevant details with respect to usage of NativeBase with CRNA. Hence we cannot take your request of updating docs on this part

[2018-01-31 11:11] #1240 closed

[2018-01-31 11:29] SupriyaKalghatgi commented on #534
This is fixed

[2018-01-31 11:31] SupriyaKalghatgi commented on #1427
I have opened this issue on the docs repo here: [#69](https://github.com/GeekyAnts/native-base-docs/issues/69)
Since we split the docs and the source into separate repos.

[2018-01-31 11:31] #1427 closed

[2018-01-31 11:33] SupriyaKalghatgi commented on #1439
I have opened this issue on the docs repo here: [#70](https://github.com/GeekyAnts/native-base-docs/issues/70)
Since we split the docs and the source into separate repos.

[2018-01-31 11:33] #1439 closed

[2018-01-31 11:36] SupriyaKalghatgi commented on #1416
I have opened this issue on the docs repo here: [#71](https://github.com/GeekyAnts/native-base-docs/issues/71)
Since we split the docs and the source into separate repos.

[2018-01-31 11:36] #1416 closed

[2018-01-31 11:37] SupriyaKalghatgi commented on #1491
https://github.com/GeekyAnts/native-base-docs/issues/72

[2018-01-31 11:39] SupriyaKalghatgi commented on #1493
#759 for docs

[2018-01-31 11:39] SupriyaKalghatgi commented on #1493
I have opened this issue on the docs repo here: [#65](https://github.com/GeekyAnts/native-base-docs/issues/65)
Since we split the docs and the source into separate repos.

[2018-01-31 11:39] #1493 closed

[2018-01-31 11:41] SupriyaKalghatgi commented on #1174
https://github.com/GeekyAnts/native-base-docs/issues/73

[2018-01-31 11:51] #895 closed

[2018-01-31 14:19] svallen commented on #1513
Never could get it to work. Decided to refactor how we use the pickers. Thanks for the assistance.

[2018-01-31 14:19] #1513 closed

[2018-01-31 14:58] SacredWizard commented on #1240
👍🏻

[2018-01-31 22:18] carocad commented on #826
Hey guys, I am having this same issue.

The Animated.View approach didnt work for me though :(

However I was able to find something out. The content flickers because it is being re-rendered several times. By putting a simple log statement in the renderItems function you can see everytime that the card is swipe the item is re-rendered between 5 to 8 times.

I would expect a single re-render since

[2018-02-01 01:01] Almaju commented on #899
Using https://www.npmjs.com/package/react-native-status-bar-height to get status bar height and it works like a charm!
`const styles = StyleSheet.create({
  container: {
    flex: 1,
  },
  header: {
    paddingTop: getStatusBarHeight(),
    height: 54 + getStatusBarHeight(),
  },
});`

[2018-02-01 03:54] jingyao97 commented on #16
@bretth18 Can you try CardItem without any content (Text) in it ?

[2018-02-01 04:01] bretth18 commented on #16
@jingyao97 this issue is close to two years old, I abandoned using NativeBase long ago.

[2018-02-01 04:22] jingyao97 commented on #16
@bretth18  What are you using at the moment? I just started React Native not long ago :)

[2018-02-01 05:36] pennyandsean commented on #591
Thanks for replying @akhil-geekyants, that just doesn't work for me, I have to use `getRef`.  I'm on 2.3.7.  All good anyway, it must be me.

[2018-02-01 08:17] Draccan commented on #972
It appear even on:
"native-base": "^2.3.6"
"react":"16.2.0"
"react-native":"0.52.0"

The same even for ActionSheet.

ActionSheets and Toasts work well until user change screen and comes back with StackNavigator. Is there a way to fix the problem?

[2018-02-01 08:25] SupriyaKalghatgi commented on #16
@jingyao97 Share your use-case

[2018-02-01 08:25] Draccan commented on #972
Ok Guys! I've solved the problem!

The best thing you can do is to use only one Root in all the application and put it in the top-level component.

For example I've removed Root in all the components (I was putting them in each screen-component and not child-component) and put it in your App.js file (or your index.js).

In my case I have:

`<Provider {...stores}>
      <Root>
           <Navigator

[2018-02-01 08:28] SupriyaKalghatgi commented on #972
@Draccan Yes, you were wrong in using it

[2018-02-01 11:36] liamse opened #1558 "In Multiple Swipable List renderRight/LeftHiddenRow rowId and secId type is string instead of integer"
This is not exactly an issue, but I figure out in Multiple Swipable Lists, the type of rowId and secId that pass in renderRight or renderLeftHiddenRow as parameters are string instead of Integer. As they are Id I consider they are integer but they return string.

[code]

[2018-02-01 18:23] texas697 opened #1559 "input ref on dynamic list"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-02-02 05:23] SupriyaKalghatgi commented on #1559
#522

[2018-02-02 05:23] #1559 closed

[2018-02-02 06:39] akhil-geekyants commented on #1558
@liamse the value of `secId` is string. This is as designed

[2018-02-02 08:07] #1532 closed

[2018-02-02 10:05] Angelk90 opened #1561 "Menu right header"
Hi, how can I get a menu like that.
![](https://i.imgur.com/4gqIyTk.gif)

[2018-02-02 11:34] SupriyaKalghatgi commented on #1561
@Angelk90 Thats Picker
You can check NativeBase Picker from docs https://docs.nativebase.io/Components.html#picker-def-headref

[2018-02-02 11:34] #1561 closed

[2018-02-02 11:41] Angelk90 commented on #1561
@SupriyaKalghatgi :
It does not seem like a picker.
They seem to me two very different things.
! [] (Https://raw.githubusercontent.com/GeekyAnts/NativeBase-KitchenSink/v2.2.0/screenshots/android/picker.gif)

[2018-02-02 11:52] MatheusLima7 opened #1564 "I inserted a Tabs with three Tab inside a Tabs with three Tab and does not open on Android"
**## react-native**

**## native-base**  => project clone NativeBase-KitchenSink

**## Expected behavior** => no bug = open Tab

**## Actual Behavior** => bug = Tab does not open on Android

**## Steps to Reproduce**

I inserted a Tabs with three Tab inside a Tabs with three Tab

**## Screenshot of the emulator / device**

**## Is the bug ios and Android or any of them?**

ANDROID

## Any addition

[2018-02-02 12:18] SupriyaKalghatgi commented on #1564
@MatheusLima7

I would like to see screenshot for this

[2018-02-02 12:35] MatheusLima7 commented on #1564
It only occurs without a cell phone.

2018-02-02 10:18 GMT-02:00 Supriya Kalghatgi <notifications@github.com>:

[2018-02-02 12:41] SupriyaKalghatgi commented on #1564
@MatheusLima7 I am not clear with your response. Can you please elaborate?

[2018-02-02 13:06] MatheusLima7 commented on #1564
It was code error. Disregard.

[2018-02-02 14:11] Laurensdc commented on #662
@SupriyaKalghatgi Didn't help performance for me. It's like the TouchableOpacity blocks screen rendering.

[2018-02-02 15:19] 1c7 commented on #662
update: I think the problem is `FlatList` from React Native, not the `Button` by `NativeBase`
I replace `FlatList` with LargeList: https://github.com/bolan9999/react-native-largelist
is work for me, performance get a lot better,

no idea why a third party lib have better performance then FlatList, but it work for me.

[2018-02-02 15:24] SupriyaKalghatgi commented on #662
@Laurensdc Are you using FlatList or NativeBase `List`?

[2018-02-02 15:28] SupriyaKalghatgi commented on #1564
@MatheusLima7 Sorry to say, but am not clear with any of your comments

[2018-02-03 03:04] mathiscode commented on #899
@Almaju this works great!

[2018-02-03 07:35] Vamshidharg95 commented on #1010
Hey Guys,  I think the rendering problem still not solved for me.

If I give the 'initialPage: 0' then the tab content renders properly, but when I try to give 'initialPage: 1', then the second tab is highlighted as expected but the content of that tab shows blank page. If I click on the second tab, then the animation is drawn from first tab to second tab and then the page is rendered.
Here is the

[2018-02-03 15:52] ant45de opened #1565 "Typescript Types for List missing."
In index.d.ts List does only have rightOpenValue as Proptype-Interface.
It should also have leftOpenValue.

[2018-02-03 16:47] SupriyaKalghatgi commented on #1137
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 16:47] #1137 closed

[2018-02-03 16:57] SupriyaKalghatgi commented on #1346
Added this to [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 16:57] #1346 closed

[2018-02-03 16:59] SupriyaKalghatgi commented on #1532
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 17:00] SupriyaKalghatgi commented on #516
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 17:00] #516 closed

[2018-02-03 17:01] SupriyaKalghatgi commented on #1160
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 17:01] #1160 closed

[2018-02-03 17:01] SupriyaKalghatgi commented on #1537
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 17:01] #1537 closed

[2018-02-03 17:04] SupriyaKalghatgi commented on #1544
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 17:04] #1544 closed

[2018-02-03 17:05] SupriyaKalghatgi commented on #1520
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 17:05] #1520 closed

[2018-02-03 17:06] SupriyaKalghatgi commented on #1517
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-03 17:06] #1517 closed

[2018-02-03 17:21] SupriyaKalghatgi commented on #1531
This to be documented [#1427](https://github.com/GeekyAnts/NativeBase/issues/1427)

[2018-02-04 16:05] baskan commented on #627
this is a huge problem imho. I didn't realised this until we "shipped" product with release configuration and animations are not working properly in the release mode,
shutters and overlapping due to its not properly rendering last frames.

[2018-02-04 23:18] aspidvip opened #1566 "RCTStatusBarManager module requires that the UIViewControllerBasedStatusBarAppearance key in the Info.plist is set to NO"
hello!
when in info.plist View controller-based status bar appearance - YES, this is error
"native-base": "2.3.5",
"react-native": "0.49.5",

[code]

[2018-02-05 00:58] matthew-reilly commented on #1566
`UIViewControllerBasedStatusBarAppearance` needs to be false.

[2018-02-05 01:10] aspidvip commented on #1566
I need to make info.plist true

[2018-02-05 01:13] matthew-reilly commented on #1566
Not a native-base issue.

https://github.com/facebook/react-native/issues/11710

[2018-02-05 01:15] aspidvip commented on #1566
thank you! close team!

[2018-02-05 06:05] minaskamel opened #1567 "FAB doesn't collapse properly in iOS"
"react": "16.0.0-alpha.12"
"react-native": "0.48.1"
"native-base": "2.3.6"
iOS 11

## Actual behaviour
Using FAB in iOS, when clicking on child button and then change the FAB's "active" to false, all buttons collapses except last one.
(Note that there's no problem when clicking on the actual FAB button to expand/collapse. The problem is just when trying to collapse everything by clicking on a chil

[2018-02-05 06:13] minaskamel commented on #1551
@akhil-geekyants will the fix be included in a soon release? and is there any workaround?
Thanks.

[2018-02-05 06:13] #1566 closed

[2018-02-05 06:15] towfiqi commented on #1071
@shivrajkumar I am trying to have tab headings with transparent color, but its not working, there is always this grey color under the tabs:

[code]

[2018-02-05 06:22] towfiqi commented on #1071
^^ Never Mind, Its working fine.. :)

[2018-02-05 07:00] #1558 closed

[2018-02-05 07:01] #1531 closed

[2018-02-05 07:06] SupriyaKalghatgi commented on #1564
Closing this issue due to imprecise information

[2018-02-05 07:06] #1564 closed

[2018-02-05 07:22] Laurensdc commented on #1012
Same issue, but has nothing to do with the remote JS debugger.
Even when publishing the app, the same performance issues arise.
Unfortunately it makes NativeBase unusable.

Having the issue in combination with Redux and React Navigation (TabNavigator).

[2018-02-05 07:37] Laurensdc commented on #593
When I'm using React Navigation, the Tabnavigator is extremely slow using NativeBase. There is a ~1s lag after pressing before the screen responds.
If I spam touch, the touches also seem to be buffered, so that the screens will just go nuts from left to right for a few seconds.

I have the same issue with TouchableOpacity, when I remove NativeBase, everything is super smooth, but in combination wi

[2018-02-05 07:42] SupriyaKalghatgi commented on #593
#1012

[2018-02-05 08:02] metagrover opened #1568 "Button component's style prop doesn't accept color property"
Thank you for the amazing work at NativeBase!

## react-native, react and native-base version
react-native - 0.49.0
native-base - 2.3.7

## Expected behaviour
`<Button>` component's `style` prop should accept `color` as a valid key. (I have a use-case where I'm trying to emulate minimal and necessary theme support with properties like primaryColor, color, without ejecting the theme from native-bas

[2018-02-05 08:09] SupriyaKalghatgi commented on #1568
@metagrover We are glad to know that you use NativeBase with your project

About Button, Docs says
![image](https://user-images.githubusercontent.com/13464885/35794014-f1d426f0-0a79-11e8-9493-12fee430ee18.png)

[2018-02-05 08:11] metagrover commented on #1568
oh yes, my bad! I should be changing the `Text`'s color prop. Thanks for the quick revert!

[2018-02-05 08:11] #1568 closed

[2018-02-05 14:06] dsandmark commented on #1010
I'm experiencing the same problem as @Vamshidharg95 with version `2.3.8`.

[2018-02-05 22:45] jdnichollsc commented on #396
Hi guys,
One question... Is possible to detect if the drawer is opened?
I'm getting issues with the following tests (Using enzyme):

1. Using **spy** to detect if the function was executed
[code]
**Error:** `TypeError: Cannot read property '_isMockFunction' of undefined`

2. Using the property **open** of the Drawer component
[code]
**Error:** `Expected value to be truthy, instead received undefin

[2018-02-06 03:59] frmrgr commented on #1292
@gazgeek Did you find out why this was happening and how to solve it in the end?

[2018-02-06 04:13] SupriyaKalghatgi commented on #1010
[#1010 comment](https://github.com/GeekyAnts/NativeBase/issues/1010#issuecomment-354988401)

[2018-02-06 06:41] SupriyaKalghatgi commented on #1364
I have opened this issue on the docs repo here: [#76](https://github.com/GeekyAnts/native-base-docs/issues/76)
Since we split the docs and the source into separate repos.

[2018-02-06 06:41] #1364 closed

[2018-02-06 06:57] SupriyaKalghatgi commented on #893
Not doing this soon

[2018-02-06 06:57] #893 closed

[2018-02-06 06:58] SupriyaKalghatgi commented on #894
Not doing this soon

[2018-02-06 06:58] #894 closed

[2018-02-06 07:01] SupriyaKalghatgi commented on #849
#1206

[2018-02-06 07:01] #849 closed

[2018-02-06 08:33] khodarahmi commented on #1080
I had same problem and running `npm update --save react` solved mine

[2018-02-06 10:01] VanessaChu opened #1570 "How to remove shadow of Content going under Container?"
Hi, as shown in screenshot, the shadow of my content is going under container. How can I remove this? It is weird because no where on the Content.js or Container.js do I see a shadow set.

[code]

Content.js

[code]

Container.js

[code]

[2018-02-06 10:03] PdxMehmet commented on #942
@SupriyaKalghatgi hi i have same issue as googl3r. Obviously the tabs cannot be styled when we use TabHeading. The code below is not executed :  tabStyle = {{backgroundColor: 'transparent'}}
                         activeTabStyle = {{backgroundColor: 'transparent'}}
                         activeTextStyle = {{fontWeight:'bold', color: '#651FFF', fontSize:17}}
                         textStyle =

[2018-02-06 10:03] VanessaChu commented on #1570
![screen shot 2018-02-06 at 2 03 11 am](https://user-images.githubusercontent.com/11250498/35853272-edc24688-0ae1-11e8-9c96-35298a82672e.png)

[2018-02-06 10:51] maxto024 commented on #882
+1

[2018-02-06 11:18] anil1712 commented on #882
+1

[2018-02-06 14:45] jacargentina opened #1571 "Warning: Failed child... type number, expected string (ActionSheet)"
## react-native, react and native-base version
react-native 0.53
react 16.2.0
native-base 2.3.8

## Expected behaviour
Work just fine without warnings (on Debug)
## Actual behaviour
When activating the ActionSheet, the warning its displayed.
## Steps to reproduce (code snippet or screenshot)
<img width="379" alt="captura de pantalla 2018-02-06 a la s 11 31 50" src="https://user-images.githubuserco

[2018-02-06 18:29] VanessaChu commented on #1570
found my issue, had shadow applied somewhere else.

[2018-02-06 18:29] #1570 closed

[2018-02-06 18:36] dphaener commented on #816
@ViktorAksionov It's worth noting that this does *NOT* work as expected.  It turns all of the text on the input into a column layout.

[2018-02-07 00:32] dphaener opened #1572 "Icons in textbox do not align properly"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-02-07 04:03] leoskyrocker commented on #676
well. disableKBDismissScroll is not actually doing what it is suggested to do in the docs.
Specifically, it doesn't do this:

If we look [here](https://github.com/GeekyAnts/NativeBase/blob/e3f07aed7944e16d0c9d7a71b0dbf8cd1b4d22b4/src/basic/Content.js#L12), it is simply setting resetScrollToCoords, and according to the docs [here](https://github.com/GeekyAnts/react-native-keyboard-aware-scroll-view

[2018-02-07 04:22] leoskyrocker commented on #676
oh, I see. There's no Android Support with the version NativeBase is using.

[2018-02-07 06:34] akhil-geekyants commented on #1572
Related to issue #1102
@dphaener see this comment https://github.com/GeekyAnts/NativeBase/issues/1102#issuecomment-342271862

[2018-02-07 07:23] Aishwarya-Surana commented on #840
Can I change button position?

[2018-02-07 08:55] akhil-geekyants commented on #1551
@minaskamel can you try this
[code]
Gif

![multiline](https://user-images.githubusercontent.com/27768184/35906991-9203aabc-0c12-11e8-94f8-e7c8c87fd688.gif)

[2018-02-07 09:14] oonxt opened #1574 "Unable to resolve module `@expo/vector-icons/Ionicons` after eject from crna"
## "react-native": "0.50.3",
## "react": "16.0.0",
## "native-base": "^2.3.8"
## steps:
1. create app with crna.
2.install native-base and works awesome with expo client.
3.npm run eject.
4.react-native run-ios. then got error:
Bundling `index.js`  [development, non-minified]  0.0% (0/1212), failed.
error: bundling failed: UnableToResolveError: Unable to resolve module `@expo/vector-icons/Ionicons

[2018-02-07 09:40] oonxt commented on #1574
ok. solved.

use react-native start "--reset-cache".

[2018-02-07 09:40] #1574 closed

[2018-02-07 10:34] akhil-geekyants commented on #1243
Not present in the latest version(native-base:2.3.7 & RN:52.2)

Gif

![drawer](https://user-images.githubusercontent.com/27768184/35911676-7929e2a0-0c20-11e8-8d0d-c7071672e6b4.gif)

[2018-02-07 10:34] #1243 closed

[2018-02-07 10:42] #1572 closed

[2018-02-07 15:02] lil5 commented on #603
I get the error when I create an object in one file(e.g. `../../palette.js`) import it into the `variables/theme.js` file and use vars from the external (`palette.primaryColor`) file

[code]

[2018-02-07 16:56] frapa commented on #698
@Manzn Same here. If I set an empty array and then set the correct one, it works.

[2018-02-07 21:18] abdulsemiu-atanda commented on #1243
@akhil-geekyants Thanks for this update

[2018-02-08 00:24] romildojpaiter commented on #787
Thanks @fbacker, your solution saved my life.

[2018-02-08 05:57] SupriyaKalghatgi commented on #676
@leoskyrocker What is the version of NativeBase you are on?

[2018-02-08 06:00] rohanBagchi commented on #610
<img width="325" alt="screen shot 2018-02-08 at 11 29 52 am" src="https://user-images.githubusercontent.com/5557094/35957786-6bd0b914-0cc3-11e8-8b5d-4172ed9ccd25.png">

[2018-02-08 06:01] SupriyaKalghatgi commented on #840
@Aishwarya-Surana Yes!
Go through Docs

[2018-02-08 06:09] SupriyaKalghatgi commented on #698
Please use FlatList along with ListItem

[2018-02-08 06:11] SupriyaKalghatgi commented on #610
@rohanBagchi Thats something wrong that you are doing

[2018-02-08 10:37] SupriyaKalghatgi commented on #1550
@yarian What is the tool you used to measure this?

[2018-02-08 10:57] dwivediamit commented on #1010
Here is my code if i am using  initialPage not equal to zero then data is not displaying in screen.
Right now i am using initialPage=5 in this case data is not showing but if i am using initialPage=0 then data is showing can anyone help me here how to fix this...

<Tabs renderTabBar={() => <ScrollableTab />} style={styles.Card_background_Margin}
                  initialPage={5} >

[2018-02-08 11:09] #1551 closed

[2018-02-08 11:16] minaskamel commented on #1551
Thanks @akhil-geekyants , that was helpful.
The tricky part it putting the height.

[2018-02-08 11:19] akhil-geekyants commented on #1551
Closed this issue as only floating label with single line input is supported.

[2018-02-08 11:56] Laurensdc commented on #662
@SupriyaKalghatgi I used both and had the same problems. I did keep the <ListItem> component from NativeBase in both scenarios, but I tried wrapping it in FlatList as suggested. This did not help performance unfortunately.

What was interesting is that the actual dispatch of the onPress() comes late. It's like the screen goes into 'pressed' state for a whole second, and only then starts to dispatc

[2018-02-08 12:10] fluvios opened #1575 "Checkbox can't be clicked"
Hello, i had problem with checkbox, my list can't be clicked. what the major problem in my code ?
[code]

Using this package.json
[code]

[2018-02-08 12:21] SupriyaKalghatgi commented on #1575
#193
Also check NativeBase KitchenSink
https://github.com/GeekyAnts/NativeBase-KitchenSink

[2018-02-08 12:21] #1575 closed

[2018-02-08 12:31] akhil-geekyants commented on #1575
@fluvios tried your code. Modified a bit.

Code
[code]
Gif

![checkbox](https://user-images.githubusercontent.com/27768184/35973012-de108384-0cf9-11e8-8753-65d734ec262b.gif)

[2018-02-08 16:57] cdesch commented on #269
I think this needs to be added to the docs on how to "Pull to Refresh"

[2018-02-08 17:24] hanssonfredrik commented on #882
+1

[2018-02-08 20:19] yarian commented on #1550
I copied a screenshot unto Sketch.

I ended up getting the correct guidelines by adding the following styles to different components in the Header:

[code]
To the `Left` component.

[code]
To `Body`

[code]
To `Right`

I add `paddingLeft: 6` because Header by default comes with 10dp of padding on both sides, which seems a bit weird.

[2018-02-09 04:22] zjw199011 commented on #190
Hi there, I just want to ask did native base support the popup menu yet? thanks.

[2018-02-09 04:35] zjw199011 commented on #814
Hi there, I have a question about the UIManager.
I cannot run the code exactly. It calls an error ( showPopupMenu is not a function).
And I cannot find the doc on the webpage about the UIManager.

[2018-02-09 05:26] SupriyaKalghatgi commented on #1567
@minaskamel The child button is not updating `active` state of FAB, hence this
try updating this state using `ref`

[2018-02-09 05:29] minaskamel commented on #1567
In ```onPress={() => this.setState({ active: !this.state.active })}``` I'm changing the state.active.. and the ```active``` of FAB I'm reading it from the state... why this is not working? Can you send me a working code?

[2018-02-09 05:59] akhil-geekyants commented on #1567
@minaskamel just tried a workaround.

Code
[code]
Gif

![fab](https://user-images.githubusercontent.com/27768184/36013812-6a37fac6-0d8c-11e8-985a-84632850ba0e.gif)

[2018-02-09 06:10] minaskamel commented on #1567
That worked. Thanks a lot.

[2018-02-09 08:26] akhil-geekyants commented on #1460
@deepupathak you can use tab prop of `<Tabs/>` component. Pasting a sample code

Code
[code]
Gif

![tab](https://user-images.githubusercontent.com/27768184/36018199-d7fd6992-0da0-11e8-98cb-6f3f3053fa27.gif)

[2018-02-09 09:01] #1460 closed

[2018-02-09 10:29] AgNm commented on #1483
@akhil-geekyants can you please let me know how you created the submenus here. I tried few things but it is not working as expected.

[2018-02-09 11:34] akhil-geekyants commented on #1483
@AgNm that is an hardcoded list. Pasting code since you asked

[code]

[2018-02-09 16:45] prasanthlrb commented on #757
![screenshot 1](https://user-images.githubusercontent.com/23078792/36038824-c12b62dc-0de6-11e8-9f1a-5f15d7cdffd6.png)

[2018-02-09 19:03] Shurelia opened #1576 "Icons in buttons in footer not properly styled"
## react-native, react and native-base version
RN: 0.51.0,
React: 16.2.0
NativeBase: 2.3.7

## Expected behaviour
`variables.topTabBarActiveTextColor` changes the color of icons in my footer, including icons that are in buttons.
## Actual behaviour
`variables.topTabBarActiveTextColor` does not change the color of icons in buttons in the footer, or at least not icons in transparent buttons
## Steps

[2018-02-10 05:01] leoskyrocker commented on #676
@SupriyaKalghatgi I was on 2.3.6, which I just noticed is the last version that uses the old version of react-native-keyboard-aware-scroll-view.
Uses react-native-keyboard-aware-scroll-view v0.4.2 since NativeBase 2.3.7, which now should have android support.

However, my point above still holds since [this line](https://github.com/GeekyAnts/NativeBase/blob/bfa725ecbc95ec2738c24f067d81501715a87f6e

[2018-02-10 12:03] gianpaj commented on #985
I think I'm just going to use the `Toast` from [ant-design-mobile](https://github.com/ant-design/ant-design-mobile):

[code]

They seem to be more consistent with the development and maintenance of the library:
https://github.com/ant-design/ant-design-mobile/graphs/commit-activity
https://github.com/GeekyAnts/NativeBase/graphs/commit-activity

OT: For the contributors, maybe think of using gitcoin

[2018-02-10 12:12] idrakimuhamad commented on #985
@gianpaj I'm also using antd-mobile for the datepicker. Perhaps I should take a look at their toast implementation too.

[2018-02-10 17:36] kikoseijo commented on #70
To avoid flow validating errors just use the following:

[code]

[2018-02-11 04:30] max-konin opened #1578 "TypeError: Cannot read property 'brandPrimary' of undefined"
## react-native, react and native-base version
[code]
## Expected behaviour
The Jest test suite is expected to run & tests pass
## Actual behaviour
[code]
## Steps to reproduce (code snippet or screenshot)
1. Create a simple component like:
[code]
2. Add a simple test:
[code]
3. yarn test / npm test

[2018-02-11 18:35] stokesbga commented on #1578
+1

[2018-02-12 04:58] nitin0331 opened #1579 "TabHeading with Image and text both not changing the style in Tab"
Hi!
I m using Tabs in my app from Native base but its not working if i use **TabHeading** instead of String only.
Tab style not changed.

If I use only **string**  instead of adding <TabHeading><Icon name="list" /><Text>List</Text></TabHeading> in **heading** inside Tab then its work properly.
below is the working code with string
`      <Tabs>

    <Tab tabStyle= { { backgroundColor: ColorConstan

[2018-02-12 05:55] SupriyaKalghatgi commented on #1576
@Shurelia `topTabBarActiveTextColor` this refers to **Tabs**
Your problem description says

You seem to be confused here

[2018-02-12 06:13] SupriyaKalghatgi commented on #1578
@max-konin Share complete snippet for test case

[2018-02-12 06:19] tk26 commented on #989
This is a combination of FlatList with multiple selection.

import React, { Component } from 'react';
import { Container, Content, View, Text, Button, List, ListItem, CheckBox, Body, Item } from 'native-base';
import { FlatList } from 'react-native';

var Contacts = require('react-native-contacts')

const initialState = {
    contacts: [],
    selectedChecklist: []
}

export default class InviteUs

[2018-02-12 06:24] tk26 commented on #989
This is a working example of FlatList with multiple select:

<img width="941" alt="screen shot 2018-02-12 at 12 23 15 am" src="https://user-images.githubusercontent.com/6154318/36085383-08b29620-0f8b-11e8-9962-2c535e34d31d.png">
<img width="877" alt="screen shot 2018-02-12 at 12 23 39 am" src="https://user-images.githubusercontent.com/6154318/36085384-08bd7bb2-0f8b-11e8-8619-008347c88fae.png">

[2018-02-12 09:31] AgNm commented on #1483
@akhil-geekyants I am getting below error when clicking on any item... why is this so?

![screen shot 2018-02-12 at 3 00 30 pm](https://user-images.githubusercontent.com/11326181/36090250-a607682c-1005-11e8-82bb-3be93c46b08e.png)
![Uploading Screen Shot 2018-02-12 at 3.00.15 PM.png…]()

[2018-02-12 09:42] AgNm commented on #1483
Below is my code:

`import React, { Component }  from 'react';
import {View,TouchableOpacity,ScrollView,Alert,ImageBackground} from 'react-native';
import {Container,Thumbnail,Content,Icon,CardItem,Item,Card,Text,Header,Drawer,Button,ListItem,Left,Body,Right} from 'native-base';
import {Menus} from './common';
import {Actions} from 'react-native-router-flux';
import _ from 'lodash';
import { Fonts

[2018-02-12 10:11] ming436534 opened #1580 "[Button] TouchableNativeFeedback should also be used when Platform.Version === 21 && Platform.OS !== 'ios'?"
## react-native, react and native-base version
Version:
react-native: 0.52.0
react: 16.2.0
native-base: 2.3.8
Android Version: API level 21
## Expected behaviour
Button has ripple
## Actual behaviour
Button has no ripple on Press

According to android doc, ripple animation was added in API level 21, is there any reason native base only support use TouchableNativeFeedback when android API level > 2

[2018-02-12 10:23] akhil-geekyants commented on #1483
@AgNm made MenuComponent a React Component. Passed current user as a prop and managed drawer's list state inside MenuComponent itself.

Code
[code]

Gif

![drawer](https://user-images.githubusercontent.com/27768184/36092257-bdf3ec60-100c-11e8-89d0-49bb3ba9cded.gif)

[2018-02-12 10:27] SupriyaKalghatgi commented on #1580
@ming436534 Yes! NativeBase supports TouchableNativeFeedback with Android API > 21

[2018-02-12 10:32] SupriyaKalghatgi commented on #1483
2 working examples with code snippet and output shared above

[2018-02-12 10:55] akhil-geekyants commented on #1579
@nitin0331 As `<TabHeading/>` is another component, active/normal tabStyles are not useful. You can handle the styles in the code by getting the current tab index. An example is given below

Code
[code]

Gif

![tabs](https://user-images.githubusercontent.com/27768184/36093637-3d1c358e-1011-11e8-8df1-3f4c99760a35.gif)

[2018-02-12 13:47] Shurelia commented on #1576
This is the color already styling the rest of footer. I didn't write this,
I'm just sticking with what's already there for consistency.

On Feb 11, 2018 11:57 PM, "Supriya Kalghatgi" <notifications@github.com>
wrote:

[2018-02-12 14:18] Shurelia commented on #1576
@SupriyaKalghatgi To be clear, `topTabBarActiveTextColor` is the color _already used by nativebase_ to style the code. It confused me probably as much as it confused you, but it's the precedent already set by nativebase. If you don't like the implementation of the fix, that's fine, please say as much, but the issue of icons inside buttons inside footers not being styled is very much a bug and this

[2018-02-12 14:19] Shurelia commented on #1576
@SupriyaKalghatgi For reference: https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Footer.js

[2018-02-12 17:09] thomaswinckell commented on #1578
To fix this issue, just replace this :

[code]

by this :

[code]

in files `native-base-theme/variables/platform.js` and `native-base-theme/variables/material.js` at line `196`.

This is due to the fact that you cannot access an object property while declaring it. So, in my solution, i am using a computed property, which will be evaluated at runtime.

I can do a PR if you want.

[2018-02-13 01:53] max-konin commented on #1578
@thomaswinckell thx, it works for me.

@SupriyaKalghatgi Do you need snippet for test case now?

[2018-02-13 02:55] ming436534 commented on #1580
I guess NativeBase should also support TouchableNativeFeedback with Android API = 21?

[2018-02-13 09:46] SrdjanCosicPrica opened #1584 "Adding BorderWidth to Button cuts off icon child"
## react-native, react and native-base version
react: 16.2.0
react-native : 0.52.0
native-base: 2.3.7
## Expected behaviour
![simulator screen shot - iphone 5s - 2018-02-13 at 10 45 12](https://user-images.githubusercontent.com/15933115/36143320-0f70f602-10ab-11e8-989f-4c0aae520d3d.png)

But with an orange border around the white. (See expected behaviour)
## Actual behaviour
![simulator screen sho

[2018-02-13 10:10] SupriyaKalghatgi commented on #1584
@SrdjanCosicPrica That is because, Icon in Button has marginHorizontal
Try reducing that

[2018-02-13 10:20] SrdjanCosicPrica commented on #1584
@SupriyaKalghatgi Thanks for the response. I tested it but to no avail. However, I read the documentation on marginHorizontal for react-native and when I explicitly set
[code]
it worked as expected.
Closing.

[2018-02-13 10:20] #1584 closed

[2018-02-13 11:24] anil1712 commented on #943
@SupriyaKalghatgi Its not working

[2018-02-13 11:34] SupriyaKalghatgi commented on #943
@anil1712 Yes that works partially for iOS and not for Android

`<Item/>` with `stackedlabel` is designed to work mainly with Input components. So this may not work properly.

Having Picker with this, is not an intended use-case

#1369

[2018-02-13 12:28] sfm2222 commented on #605
I'm using a very long title "TEST XXX XXXXX XXXXX" 17 characters long with 3 blank spaces. Any suggestions?

[2018-02-14 01:23] sujayjaju commented on #734
This needs to be in the docs, right?

[2018-02-14 12:52] Pl4gue opened #1587 "Buttons "active" styling doesn't work"
I tried the **Footer with only icons** example from the [docs](https://docs.nativebase.io/Components.html#footer-tabs-icon-headref), which should show the navigation icon as the only active button.
But for me, **all buttons are shown active** - What's the issue?

## react-native, react and native-base version

-  **react-native-cli**: 2.0.1
-  **react-native**: 0.50.4
-  **react**: 16.0.0
-  **nat

[2018-02-14 20:23] hjJunior commented on #82
Thanks @lopespm this is realy helpfull :)

[2018-02-15 05:18] SupriyaKalghatgi commented on #1587
@Pl4gue Can you upload screenshot of emulator / device?

[2018-02-15 05:30] SimonVuong commented on #1344
@SupriyaKalghatgi
thanks for the tip. but could you explain how handling old and new values persists the keyboard and keeps it from disappearing? sorry if the gif was unclear. the issue isn't that the value doesn't show. it doesn't because the sample above doesn't use the value prop. the problem is that the keyboard disappears.

[2018-02-15 05:33] SupriyaKalghatgi commented on #1587
@Pl4gue Tried your code snippet
[code]
And the output is here for [Android](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/screenshots/android/footer-icon.png) and [iOS](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/screenshots/ios/footer-icon.png)

Worked as expected

[2018-02-15 06:06] SupriyaKalghatgi commented on #1344
@SimonVuong You can check source code of NativeBase's floating label for handling old and new values of properties whenever animation happens

[2018-02-15 07:02] dwivediamit commented on #1010
hi can anyone help here rendering issue with initialPage greater than 0

[2018-02-15 12:34] akhil-geekyants commented on #1010
https://github.com/skv-headless/react-native-scrollable-tab-view/issues/841

[2018-02-15 13:43] rohithramachandran opened #1591 "Warning coming when opening the action sheet"
## react-native, react and native-base version
 "native-base": "^2.3.8",
 "react": "16.2.0",
 "react-native": "0.53.0",
"react-native-router-flux": "^4.0.0-beta.28",
## Expected behaviour
Should show the action sheet without any warning
![expected](https://user-images.githubusercontent.com/2727960/36259284-bb89811e-1283-11e8-8e0a-f4b8fa968de7.png)

## Actual behaviour
action sheet showing with a w

[2018-02-15 15:28] ntk860 commented on #983
any updates ?

[2018-02-15 19:59] fmoessle opened #1592 "Segment-Component weird rendering"
## react-native, react and native-base version
react-native: 0.52.2
react: 16.2.0
native-base: 2.3.7
## Expected behaviour
correct rendering of segment component
## Actual behaviour
segment component not rendered correctly when it has **first**-prop
## Steps to reproduce (code snippet or screenshot)

          <Segment>
            <Button
              first
              onPress={() => this.setS

[2018-02-15 20:41] dayron2004 opened #1593 ".."
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-02-15 21:21] Pl4gue commented on #1587
I added the screenshot of my device @SupriyaKalghatgi

[2018-02-16 00:54] a0js opened #1595 "ActionSheet on Android exceeds height of screen on long list of items"
## react-native, react and native-base version

- react-native: 0.52.2
- react: 16.2.0
- native-base:  2.3.7

## Expected behaviour
When using ActionSheet in Android with a long list of items, the list should be scrollable and bounds of the modal should remain confined within the root container.
## Actual behaviour
The modal height exceeds the height of the container enough that the top of the tit

[2018-02-16 05:55] #1593 closed

[2018-02-16 06:09] SupriyaKalghatgi commented on #1587
@Pl4gue The screenshot that you uploaded in issue description for **Screenshot of emulator/device** is broken

Yesterday I asked you to upload same

[2018-02-16 06:37] Pl4gue commented on #1587
Why is it still broken... -_- I will try again later

[2018-02-16 06:44] SupriyaKalghatgi commented on #1592
#1400

[facebook/react-native#11897](https://github.com/facebook/react-native/issues/11897)

[facebook/react-native#17998](https://github.com/facebook/react-native/issues/17998)

[2018-02-16 06:44] #1592 closed

[2018-02-16 06:58] SupriyaKalghatgi commented on #1587
@Pl4gue Later? If that takes time, then you can close the issue
Since we presented you working  snippet with desired output

[2018-02-16 07:46] SupriyaKalghatgi commented on #1580
@ming436534 yes, that does
check the commit file completely

[2018-02-16 07:50] SupriyaKalghatgi commented on #1591
#1571
#1573

[2018-02-16 07:50] #1591 closed

[2018-02-16 11:35] AgNm commented on #593
@Laurensdc did you find any solution, I am using Nativebase throughout my app

[2018-02-16 11:43] #1595 closed

[2018-02-16 11:53] #1578 closed

[2018-02-16 11:54] #1567 closed

[2018-02-16 12:13] max-konin commented on #1578
@SupriyaKalghatgi why is it closed? it still occur with master branch of NativeBase

[2018-02-16 12:17] SupriyaKalghatgi commented on #1580
Fixed with [2.3.9](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.9)

[2018-02-16 12:17] #1580 closed

[2018-02-16 12:23] SupriyaKalghatgi commented on #1565
Fixed with [2.3.9](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.9)

[2018-02-16 12:23] #1565 closed

[2018-02-16 12:23] SupriyaKalghatgi commented on #1571
Fixed with [2.3.9](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.9)

[2018-02-16 12:23] #1571 closed

[2018-02-16 12:23] SupriyaKalghatgi commented on #1595
Fixed with [2.3.9](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.9)

[2018-02-16 12:24] SupriyaKalghatgi commented on #1576
Fixed with [2.3.9](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.9)

[2018-02-16 12:24] #1576 closed

[2018-02-16 12:24] SupriyaKalghatgi commented on #1533
Fixed with [2.3.9](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.9)

[2018-02-16 12:24] #1533 closed

[2018-02-16 15:33] ppozniak opened #1599 "floatingLabel HOC issues"
[code]

Hello there.
I am using redux-form and styled-components, and I have to apply 2 HOCS (one for <Field> from redux-form, and the second one from styled-components). And seems that floating labels don't like that.

## Expected behaviour
Using HOC inside of `<Item floatingLabel>` (such as styled-components, or redux-form text input wrapper) should still work. This is the case only when using `

[2018-02-16 16:20] TomMahle commented on #739
Here's the actionsheet equivalent:
    componentWillUnmount() {
        Toast.toastInstance = null;
        ActionSheet.actionsheetInstance = null;
    }

[2018-02-16 16:43] kesiena115 commented on #739
My previous suggestion above eventually gave me problems. The ActionSheet would suddenly stop working after a few days i.e., it won't show when I click on the button that's meant to display it. I don't know what was causing this and frankly, I got tired of trying to fix this component. I eventually switched to [react-native-modal](https://github.com/react-native-community/react-native-modal) a few

[2018-02-16 19:42] Pl4gue commented on #1587
![screenshot_2018-02-14-13-43-10](https://user-images.githubusercontent.com/16862997/36326007-ed7e4ac0-1359-11e8-9d62-7b08b45ca43b.png)
This is actually what it looks like on my device @SupriyaKalghatgi

[2018-02-16 23:39] liltimtim commented on #1578
Still seeing the issue at line 196 using `"native-base": "^2.3.9",` as package.json config.

[code]

Jest basic test still failing.

[2018-02-17 00:30] hjJunior commented on #245
@iMokhles I have the same issue that you, do you have got it some way to avoid ladding, I've tried `shouldComponentUpdate` but, I don't see any better :(

[2018-02-17 00:53] hjJunior opened #1600 "FooterTabs"
## react-native, react and native-base version
react-native-cli: 2.0.1
react-native: 0.52.1
native-base: 2.3.7
react: 16.2.0
## Expected behaviour
Fast footerTabs render
## Actual behaviour
I'm getting realy slowly changes, and I have tried to use some tips in #245 using `shouldComponentUpdate` to avoid some renders updates be realy slow, but changes are slow
## Steps to reproduce (code snippet or

[2018-02-17 04:25] GodAzaldin commented on #1466
For anyone still having issues, the following worked for me:

[code]

[2018-02-17 06:28] samjabeen opened #1601 "React Native have to double click for onPress to work inside Tab"
Hi!

Thanks in advance!

I'm using React Native with the Native Base library. Problem is double click needed onPress event to fire on Native Base' Button inside Tab  when the keyboard is open.

Sample code
[code]
	"react-native": "0.47.1",
	"native-base": "1.1.0"

Expected behaviour
	Need an onPress event to fire on Native Base' Button inside Tab  when the keyboard is open
Actual behaviour
	double

[2018-02-17 08:30] max-konin commented on #1578
@SupriyaKalghatgi nice. thx

[2018-02-17 11:16] douglasjunior commented on #1012
Same issue here.

[2018-02-17 16:25] SupriyaKalghatgi commented on #739
@kesiena115

We have not faced it so far, how can that work today and not tomorrow?

[2018-02-17 16:29] SupriyaKalghatgi commented on #1599
@ppozniak Yes, it would be good if you can have your code over snack

[2018-02-17 16:44] SupriyaKalghatgi commented on #1578
@liltimtim [#1578 comment](https://github.com/GeekyAnts/NativeBase/issues/1578#issuecomment-366221788)

[2018-02-17 17:06] hjJunior commented on #1600
Added information about the version

[2018-02-17 18:47] liltimtim commented on #1578
@SupriyaKalghatgi I clicked on your link but it doesn't go anywhere? Not sure what's going on there.

[2018-02-17 20:28] ppozniak commented on #1599
@SupriyaKalghatgi I've added the code. Hopefully that makes sense. On Monday I'll do more testing and try to provide some screenshots.

[2018-02-17 22:14] andfs commented on #1571
The same is happening on Picker in ios

[2018-02-18 08:38] rohithramachandran commented on #1591
2.3.9 fixed the issue.Thank you 👍

[2018-02-18 19:32] rizzomichaelg opened #1605 "floatingLabel input doesn't "unfloat" after setting value with input blurred"
## react-native, react and native-base version
react: 16.2.0, react-native: 0.53.0, native-base: 2.3.9

## Expected behaviour
When an Input within a floatingLabel Item has its value cleared programmatically, the label should "unfloat".

## Actual behaviour
The label remains floating above.

## Steps to reproduce (code snippet or screenshot)
[code]

## Screenshot of emulator/device
![image](https:/

[2018-02-18 19:42] rizzomichaelg commented on #1605
PR #1606

[2018-02-18 20:11] itcurves commented on #1260
Hello,

I am still struggling with round center icon.

![image](https://user-images.githubusercontent.com/1397397/36356269-d5ce46c2-14bd-11e8-86c8-9f410ea32939.png)

this is my style:

homeicon: {
       height: 70,
        width: 70,
        bottom: 8,
        borderWidth: 2,
        borderColor: 'lightgrey',
        borderRadius: 35,
        backgroundColor: '#009bc9',
        position: 'absolut

[2018-02-19 04:47] max-konin commented on #1578
@liltimtim try to use native-base from master branch. 2.3.9 still has the error

[2018-02-19 05:46] SupriyaKalghatgi commented on #1578
@liltimtim The link i shared above was about comment pointing in this issue itself, which said,

This issue has been fixed on `master` and not released with patch 2.3.9

[2018-02-19 05:54] SupriyaKalghatgi commented on #1605
#1079

[2018-02-19 05:54] #1605 closed

[2018-02-19 09:12] swaroopa94 commented on #343
@himanshu-satija Hi Did you add support of styled compoennt for nativebase

native-base version  : 2.3.1
When I use

[code]
It is throwing error

[2018-02-19 11:17] gertvdkolk opened #1609 "Picker not working inside CardItem"
## react-native, react and native-base version
"react": "^16.2.0",
"react-native": "https://github.com/expo/react-native/archive/sdk-25.0.0.tar.gz",
"native-base": "^2.3.8",

## Expected behaviour
I want to use a dropdown selection (Picker) inside the card header, the value conditionally renders other carditems.

## Actual behaviour
This does not work. The picker does not show.

## Steps to reprod

[2018-02-19 11:45] akhil-geekyants commented on #1600
@hjJunior tried your code. Couldn't see much lag.

Gif

![footertab](https://user-images.githubusercontent.com/27768184/36376184-2e309a7e-1598-11e8-83ee-901d3bfe7ec7.gif)

Code
[code]

[2018-02-19 11:58] rizzomichaelg commented on #1079
PR #1606

[2018-02-19 11:59] gertvdkolk commented on #1609
Fixed issue,
Had to add
[code]
to Picker.

[2018-02-19 11:59] #1609 closed

[2018-02-19 12:22] vijaya06 commented on #542
i have issue related to Tabs component of native base. Can u help me??

[2018-02-19 12:32] SupriyaKalghatgi commented on #1318
@vijaya06 Check for Tabs issues, if you could any help from it
Else go ahead and raise issue

[2018-02-19 12:39] ppozniak commented on #1599
The only way to make this work for me is by the theming
[code]

[2018-02-19 12:40] rizzomichaelg commented on #1079
PR #1606
Works for ` this.setState({email: ''});` but not for `this.emailInput._root.clear();` because the clear function doesn't bubble up to the NB Input wrapper.

[2018-02-19 18:13] hjJunior commented on #1600
I have tried again, I think the delay is about TouchableNativeFeedback, because after I click, delay 1 second to ripple effect

[2018-02-19 18:41] hjJunior opened #1611 "SwipeRow dynamic toggle method"
Is there any way to call a function to switch (open/close) the SwipeRow by the reference, something like this:
`this.refs.view.toggle()`
and the JSX
`<SwipeRow ref="view" ...`

Or is there another way to toggle?

[2018-02-19 20:51] hjJunior opened #1612 "Floating label get cutted"
## react-native, react and native-base version
react-native-cli: 2.0.1
react-native: 0.52.1
native-base: 2.3.7
react: 16.2.0
Windows: 10
Android: 8.0

I'm getting the same bug of #1006
The floating label get cutted when is floating

## Expected behaviour
![input-floating](https://user-images.githubusercontent.com/10780132/36396267-e5d8b4ec-159b-11e8-9f19-9f7a391ee7b3.gif)

## Actual behaviour
![im

[2018-02-20 06:07] SupriyaKalghatgi commented on #1612
#1532
Fixed with [2.3.8](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.3.8)

[2018-02-20 06:07] #1612 closed

[2018-02-20 08:46] akhil-geekyants commented on #1600
@hjJunior this may be related to React Native issue https://github.com/facebook/react-native/issues/3958

[2018-02-20 09:18] flindenberg commented on #1571
We're experiencing this with the Picker on iOS, too.

[2018-02-20 09:34] akhil-geekyants commented on #1611
@hjJunior if you are using `<SwipeRow/>` with `<List/>` you can use ```rowMap[`${secId}${rowId}`].props.closeRow();``` as seen in the deleteRow function in the example http://docs.nativebase.io/Components.html#swipeable-multi-def-headref

[2018-02-20 10:15] skraloupak commented on #757
@prasanthlrb Hi, you have to paste it to braces `{ }` and use `=` after tabBarUnderlineStyle
example:
` <Tabs tabBarUnderlineStyle={{ backgroundColor: '#f65857' }}>`

[2018-02-20 10:26] hjJunior commented on #1611
I'm using Flatlist, is it possible? and about if I use individually there another way?

[2018-02-20 12:28] akhil-geekyants commented on #1611
@hjJunior by getting the reference of the <SwipeRow/> you want to close, call the closeRow() function like below

Code
[code]

Gif

![closerow](https://user-images.githubusercontent.com/27768184/36423874-85638516-1667-11e8-8050-e495e5500ace.gif)

[2018-02-20 12:44] hjJunior commented on #1611
Thanks guy, and can I use `openRow` ?

[2018-02-20 12:51] akhil-geekyants commented on #1611
@hjJunior openRow is not supported

[2018-02-20 19:34] Ayyagaries opened #1615 "Error when adding Native base component"
## react-native, react and native-base version

"dependencies": {
    "color": "^2.0.0",
    "hoist-non-react-statics": "^2.3.0",
    "moment": "^2.18.1",
    "native-base": "^2.3.9",
    "prop-types": "^15.5.10",
    "react": "^16.1.1",
    "react-native": "^0.50.4",
    "react-native-base": "^1.1.0",
    "react-native-dropdownalert": "^3.1.2",
    "react-native-extended-stylesheet": "^0.8.0",

[2018-02-20 20:15] GuillotJessica opened #1616 "Use v2.2.1 with latest react-native version(0.46). Older versions may break."
Hi! Thanks for coding NativeBase!
First page says:
Use v2.2.1 with latest react-native version(0.46). Older versions may break.
This specific is quiet old perhaps issues regarding this ersion has been fixed since