[2022-07-05 19:41] mauro-codes commented on #4302
Hey @rayan1810, is there any rc available about this issue? Thanks in advance for all the amazing work 🙌

[2022-07-06 05:50] #5114 closed

[2022-07-06 09:16] Hantex9 commented on #5098
Same problem here!

[2022-07-07 05:58] Viraj-10 commented on #5061
This issue has been fixed in `v3.4.8`.

[2022-07-07 05:58] #5061 closed

[2022-07-07 05:58] Viraj-10 commented on #5084
This issue has been fixed in `v3.4.8`.

[2022-07-07 05:58] #5084 closed

[2022-07-07 05:59] Viraj-10 commented on #4975
This issue has been fixed in `v3.4.8`.

[2022-07-07 05:59] #4975 closed

[2022-07-07 05:59] Viraj-10 commented on #5052
This issue has been fixed in `v3.4.8`.

[2022-07-07 05:59] #5052 closed

[2022-07-07 05:59] Viraj-10 commented on #4417
This issue has been fixed in `v3.4.8`.

[2022-07-07 05:59] #4417 closed

[2022-07-07 05:59] Viraj-10 commented on #5097
This issue has been fixed in `v3.4.8`.

[2022-07-07 05:59] #5097 closed

[2022-07-07 09:28] czerewacz opened #5133 "Input outline onFocus has no border radius [IOS]"
### Description

When using Input component from mobile browsers like Safari or Chrome on IOS, you can see that the highlighted outline has no border radius to match Input radius

### CodeSandbox/Snack link

https://docs.nativebase.io/input

### Steps to reproduce

1. Go to https://docs.nativebase.io/input from mobile Safari or Chrome on IOS device.
2. Click on Basic Input example demo
3. You will

[2022-07-07 10:09] saurabhghadi0401 commented on #3984
Yes, the issue is still there with Modal Body.

[2022-07-07 10:21] Looooong commented on #4933
I get this error in a newly created project using `create-react-app`. Here is what `package.json` looks like:

[code]

[2022-07-07 10:36] showtan001 commented on #4842
Modal of react native is the same, can't slide

`
<Modal
      animationType="fade"
      transparent={true}
      visible={visible}
      supportedOrientations={['portrait', 'landscape', 'landscape-left', 'landscape-right']}
      onDismiss={() => setVisible(false)}
      statusBarTranslucent={true}
      onRequestClose={() => setVisible(false)}

<Slider
          onTouchStart={e => {

[2022-07-07 12:57] SohaibKtb commented on #5098
+1

[2022-07-07 13:27] Viraj-10 commented on #4986
Hi @simonflk, you can try [this](https://snack.expo.dev/@viraj_10/modal-accessibility-) workaround to shift the `focus` to modal. We will fix this in the next sprint.

[2022-07-07 14:17] yotamishak commented on #3951
@surajahmed any updates on this?

I can also confirm I am having the same problems as @garrett-gottlieb with react navigation modals.
Perhaps the title of this issue should be changed to iOS as well or should I open another issue?

[2022-07-07 17:44] markwindsorr opened #5136 "Custom Fonts Not Working on Web"
### Description

Custom fonts not working on web even on 3.4.8

### CodeSandbox/Snack link

Custom fonts not working on web even on 3.4.8

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.8.4

### Platform

- [ ] Android
- [x] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_

[2022-07-08 07:15] Viraj-10 commented on #4298
This issue has been fixed in `v3.4.8`.

[2022-07-08 07:15] #4298 closed

[2022-07-08 07:19] satyabrata45 commented on #2912
Both iOS and Android have the issue with version  "native-base": "^3.4.8",

[2022-07-08 09:16] Viraj-10 commented on #5136
Hi @markwindsorr, Can you provide a snack link?

[2022-07-08 12:11] Krithikj20 commented on #5133
Hi @czerewacz, Thank you for reporting this issue. We will try to fix it at the earliest.

[2022-07-08 12:50] markwindsorr commented on #5136
https://snack.expo.dev/@markwindsorr/nativebase-template

[2022-07-08 17:18] rewrite123 commented on #4951
Anyone still getting this in July 2022? This bug has been really annoying for me so far having to individually style every input the same way.

[2022-07-08 21:02] nimajnsr opened #5137 "missed line of code in last version"
### Description

export { StyledProps } from './types';

### CodeSandbox/Snack link

/null

### Steps to reproduce

in react application

node_modules/native-base/lib/module/theme/index.js

should has this line
export { StyledProps } from './types';

### NativeBase Version

3.4.8

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

react js

### Additional In

[2022-07-09 16:30] Swiftwork opened #5138 "`Menu.ItemOption` does not provide access to `Box` wrapping children"
### Description

Without access to Box there is no way to have children take up 100% of the parent space and therefore cannot right align icons.

### CodeSandbox/Snack link

https://snack.expo.dev/@swiftwork/menu-item-option-no-box-access

### Steps to reproduce

Affected line:
https://github.com/GeekyAnts/NativeBase/blob/master/src/components/composites/Menu/MenuItemOption.tsx#L49

### NativeBase

[2022-07-09 20:17] nimajnsr commented on #5014
hi i just figure it out if you install react-native-vector-icons and setup it properly , @native-base/icons going to work ;-) because basically it use same instructors

[2022-07-09 21:10] tonyneel commented on #4722
I ran into this issue as well. Even with changing the first click issue having to specify the step prop to get the slider to approach normal functionality is strange and should probably at least be documented.

[2022-07-10 14:52] likeSo commented on #4706
What is the correct way to setup the default theme for the `Button` component?
<img width="180" alt="image" src="https://user-images.githubusercontent.com/12247340/178149885-59da2d85-7fed-42b6-a7d2-379a26c0eda3.png">
The `variants` props have only `any` type, and there are no examples in the docs...
For now, i don't know how to set the default style for different variants...

[2022-07-10 21:40] nimajnsr commented on #5137
**Failed to compile.**
./node_modules/native-base/lib/module/index.js
Attempted import error: 'StyledProps' is not exported from './theme'.

please fix that just by adding
**export { StyledProps } from './types';**
into lib/module/theme/index.js

[2022-07-10 22:17] nimajnsr commented on #5137
just sent a pull request for fixing the issue
[](https://github.com/GeekyAnts/NativeBase/pull/5139)

[2022-07-11 00:29] exneval commented on #4653
does v3.4.8 solved this issue @Viraj-10 ?

[2022-07-11 00:31] exneval commented on #5075
really hope nativebase can work well with rnw 0.18.x updates

[2022-07-11 01:14] johnf commented on #5075
FYI if you use patch package to delete the relevant .web files, everything seems to work fine.
No idea if this will cause any other issues. The RNW app I'm using this for isn't mission-critical for me, so caveat emptor for others.

[2022-07-11 04:51] Krithikj20 commented on #5138
Hi @Swiftwork, Thank you for reporting the issue. We will look into it.

[2022-07-11 04:57] Krithikj20 commented on #5137
Thank you @nimajnsr for reporting. We will look into it.

[2022-07-11 08:52] exneval commented on #5137
@Krithikj20 please merge pr #5139 to fix the compile failure

[2022-07-11 09:22] Viraj-10 commented on #5137
Hi @exneval, We have fixed this issue and released new rc `v3.4.9-rc.0`

[2022-07-11 09:31] obasille opened #5141 "Can't start KitchenSink using QR code shown in readme"
### Description

I'm getting a "EXNetwork error 403" in ExpoGo when trying to run the KitchenSink on my iPhone

### CodeSandbox/Snack link

https://github.com/GeekyAnts/nativebase#8-kitchensink-app

### Steps to reproduce

1. Go to readme's KitchnSink [section](https://github.com/GeekyAnts/nativebase#8-kitchensink-app)
2. Scan the Expo Go QR code on with the iPhone camera
3. Expo Go opens and disp

[2022-07-11 09:36] Krithikj20 commented on #5141
Thank you @obasille, Thank you for reporting this issue. We will look into it.

[2022-07-11 09:58] obasille commented on #5141
I've also tried the "KitchenSink-app-native-base" [Expo Dev link](https://expo.dev/@geekyants/kitchensink-app-native-base) for Android. It starts an app but I only get a splash screen on my Android phone.

Got the link from the "nativebase-v3-kitchensink" [readme](https://github.com/GeekyAnts/nativebase-v3-kitchensink#running-it-on-android).

Let me know if I should create another issue.

[2022-07-11 12:45] xgenem commented on #3968
```borderStyle='dashed'```

Still doesn't work. native-base@3.4.5

[2022-07-11 13:41] ankit-tailor commented on #5141
Hey @obasille , Due to restrictions imposed by Apple, Expo publish link or QR does not work on IOS unless the user logged into the expo go app with the same credentials used when published.

[2022-07-11 13:50] obasille commented on #5141
Thanks @ankit-tailor, indeed I've just tried on a Android phone and got it to run on ExpoGo with the QR code :)

[2022-07-12 02:48] jpike88 commented on #4755
The PR is using left: '50%' which does not properly center the fab, it offsets it a bit to the right.

@surajahmed any workarounds suggested for perfect centering?

[2022-07-12 06:08] Viraj-10 commented on #5082
This issue has been fixed.

[2022-07-12 06:08] #5082 closed

[2022-07-12 06:16] Viraj-10 commented on #4653
Hi, This issue has been fixed in `v3.4.8`

[2022-07-12 06:16] #4653 closed

[2022-07-12 06:17] #4646 closed

[2022-07-12 07:24] Abhineetk47 commented on #4273
Getting this warning while using Slider and Popover in Nativebase 3.4.6

at node_modules/@react-aria/ssr/dist/main.js:61:90 in $29383e587d62412a$export$619500959fc48b26
at node_modules/@react-aria/utils/dist/main.js:48:14 in $8c61827343eed941$export$f680877a34711e37
at node_modules/@react-aria/label/dist/main.js:31:9 in $ce7359c25a7dec1c$export$8467354a121f1b9f
at node_modules/@react-native-aria/s

[2022-07-12 07:58] Looooong opened #5144 "Button.Group throws error if Button is conditionally rendered inside"
### Description

Button.Group throws error if Button is conditionally rendered inside.

### CodeSandbox/Snack link

https://snack.expo.dev/@looooooooong/button-group-null-bug

### Steps to reproduce

1. Go to Snack link.

### NativeBase Version

3.4.8

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

This happens

[2022-07-13 04:12] Krithikj20 commented on #5144
Thank you @Looooong for reporting this issue. We will look into it.

[2022-07-13 04:38] rctay commented on #4009
Hi, I ran into this as well, but when I was running tests. This issue popped up because of the use of `<Root>` from `native-base`. Here's an alternative fix that doesn't require patching `node_modules`. Place this in the test file where you are seeing the error:

In TypeScript:

[code]

In JavaScript:

[code]

Hope this helps anyone!

[2022-07-13 10:08] #5141 closed, assigned to ankit-tailor

[2022-07-13 13:12] FelipeCruzat commented on #4273
It's like you are using a UI library probably based on Bootstrap and Next. Thank Mahuton

Steps to solve:
1-Install react-bootstrap --> npm install react-bootstrap bootstrap@5.1.3
2-import SSRProvider from 'react-bootstrap/SSRProvider'
3- Wrap your app like below

function MyApp({ Component, pageProps }) {
  return (
    <SSRProvider>
  <Component {...pageProps} />
  </SSRProvider>
  )
}

[2022-07-13 13:17] FelipeCruzat commented on #4273
Para Next Envuelve con SSRProvider en archivo _app.js, elemento Component

[2022-07-13 15:44] lisimba commented on #4273
None of the mentioned fixes have worked for me so what I resorted to is filtering out those particular log messages using something like this in my `index.js` file:

[code]

Obviously, this doesn’t address the actual issue but it should make development more tolerable by not having logs spammed with that warning.

[2022-07-13 20:25] korack93 commented on #5098
+1

[2022-07-14 07:29] ricohumme commented on #4581
Currently on 3.4.9 and issue is sadly not yet resolved

[2022-07-14 13:06] imaspen opened #5158 "Issues with ForwardedRef types used on Native Base components."
### Description

The type definition for the ref prop on at least the Button component are incorrect and don't support a forwarded ref.

### CodeSandbox/Snack link

https://codesandbox.io/s/quiet-thunder-rvtxu6?file=/src/ExampleButton.tsx

### Steps to reproduce

1. Create a component that is wrapped in forwardRef
2. Add the correct type hint to the ref argument of the component in `ForwardedRef<R

[2022-07-14 13:11] ricohumme commented on #4931
Until then I'll stick around on 3.3.12

[2022-07-14 16:18] danielantelo commented on #4176
On latest NativeBase having a select such as:

[code]

causes the whole form to re-render slowly, and for other form fields to lose focus as you type. In safari it causes a page jump to bottom. Removing the select, the form works fine. I am using `useReducer` for component state (an object with all form fields). May be relevant to this issue?

[2022-07-14 18:14] prpgan opened #5159 "Selected Item in picker showing in Uppercase.(Ios only)"
### Description

When I Select the item from the picker the item shwing in uppercase, although my items are in the normal form. For android this is working fine this issue is for IOS only. There is any property that I am missing to add?

### CodeSandbox/Snack link

https://codesandbox.io/s/native-base-v3-template-mq6ox?file=/src/App.tsx

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3.

[2022-07-14 21:12] veho-paul opened #5160 "Key/List issue - Check the render method of `ForwardRef(Container)`."
### Description

Rendering children in a container is throwing a "key" error

### CodeSandbox/Snack link

See below

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

^3.4.0

### Platform

- [x] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

[code]

doesn't throw

[2022-07-14 21:30] quintana0004 commented on #5098
+ 1

[2022-07-15 03:16] punndcoder28 commented on #4931
@ankit-tailor Any updates on the fix for this issue?

[2022-07-15 04:26] Krithikj20 commented on #5158
Hi @imaspen, Thank you for reporting this. We will look into it.

[2022-07-15 04:27] Krithikj20 commented on #5160
Thank you @veho-paul for reporting this issue. We will look into it.

[2022-07-15 05:46] Krithikj20 commented on #5159
Thank you @prpgan for reaching out to us, We will look into it.

[2022-07-15 07:22] ankit-tailor commented on #5160
Hey, Can you share reproducible snack link for the issue ? I wasn't able to reproduce the issue.

[2022-07-15 07:28] ankit-tailor commented on #5159
Hey @prpgan , Can you share snack link for the minimal reproduction of the issue ?

[2022-07-15 07:50] Alt-er commented on #4978
Is this problem hard to fix? 😭

[2022-07-15 08:18] ankit-tailor commented on #5124
Hey @lcsjunior , Status and Variant props are deprecated from [v3.4.0](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.4.0). Here is the [recipe](https://docs.nativebase.io/toast#h3-status--variant-recipes) for that.

[2022-07-15 08:18] #5124 closed

[2022-07-15 09:34] #5112 closed, assigned to ankit-tailor

[2022-07-15 10:50] Looooong opened #5165 "[Web] Heading font size is not specified for md breakpoint"
### Description

At md breakpoint, heading uses default font size.

### CodeSandbox/Snack link

https://snack.expo.dev/@looooooooong/heading-font-size-bug

### Steps to reproduce

1. Go to Snack link
2. Open Snack preview in a separate popup window.
3. Resize popup window's width to md breakpoint.
4. Look at the size of the heading.

### NativeBase Version

3.4.8

### Platform

- [ ] Android
- [ ]

[2022-07-15 11:53] ankit-tailor commented on #5165
Hey @Looooong , Thanks for reporting the issue. We will fix it.

[2022-07-15 15:37] elmcapp opened #5167 "IconButton failed prop type color supplied"
### Description

I am getting an error that say IconButton failed prop type color supplied. The issue is that I am not providing a color at all. Also if I do provide a color I get this issue

### CodeSandbox/Snack link

Not able to provide link

### Steps to reproduce

The follow show the example of what creates the issue

[code]
or

[code]

### NativeBase Version

3.3.1

### Platform

- [ ] Andro

[2022-07-15 16:03] elmcapp opened #5168 "Input component has 2 outline glow"
### Description

Using the input component I am getting an effect of 2 blue outline glow when input is focus

### CodeSandbox/Snack link

No code to show

### Steps to reproduce

I am using this with React Native for macOS Notice the double blue outline when focused.

[code]
<img width="361" alt="Screen Shot 2022-07-15 at 11 57 29 AM" src="https://user-images.githubusercontent.com/64275658/1792620

[2022-07-15 19:37] sairamreddy2211 commented on #2947
any update on this virtualized list  issue ... on how to have more than 1 flat list in wrapped inside a single scroll view of all same orientation

[2022-07-15 20:16] SamMcDuffie opened #5170 "Can't conditionally display children in Popover.Content"
### Description

Render Error occurs if you're trying to conditionally display children inside Popover.Content if the condition is false

### CodeSandbox/Snack link

https://codesandbox.io/s/popover-content-error-6s2o4z?file=/src/App.tsx

### Steps to reproduce

1. Go to [sandbox](https://codesandbox.io/s/popover-content-error-6s2o4z?file=/src/App.tsx)
2. Click the button in the view
3. See error.

[2022-07-15 21:04] ErykDarnowski opened #5171 "[Docs] One example in the docs for the Input component results in weird behavior on iOS"
### Description

The problem is with using `onPress` on the `Icon` component. This causes a dark background to appear behind the icon when it's pressed on an iOS device. In order to fix this issue the `Icon` component needs to be wrapped in a `Pressable` / `IconButton` (with this one also something along the lines of `bg: 'none'` has to be set on `_pressed`) component which than has the `onPress`

[2022-07-16 10:47] theonetheycallneo commented on #5075
@johnf Mind posting your patch/** files from patch-package?   We are running into the same issue.

[code]

[2022-07-17 01:31] miles-118 opened #5173 "<Hidden> broken with SSR - DashboardLayout Screens+"
### Description

On first page load with <Hidden from="md"> and <Hidden till="md"> the till="md" loads first on large web pages with SSR.

### CodeSandbox/Snack link

https://github.com/miles-118/ssr-issue-example

### Steps to reproduce

1. Clone the repo: [https://github.com/miles-118/ssr-issue-example](https://github.com/miles-118/ssr-issue-example)
2. Run yarn on the root directory.
3. Then ru

[2022-07-18 00:28] GollyJer opened #5174 "Icons not properly handling responsive Size prop in React Native"
### Description

Feeding responsive object prop to icon Size does not work.

### Expo Snack

https://snack.expo.dev/@gollyjer/nativebase-responsive-icon-size

### Steps to reproduce

1. Go to the expo snack and run it on your device.
2. See how the third icon isn't sized, but the wrapper is completely blown out
3. Comment out lines 37-43 and uncomment line 36
4. See things work as expected.

After

[2022-07-18 01:01] GollyJer commented on #5174
Taking notes as I debug....

Doing some console.logging of `resolvedProps` in `usePropsResolution.tsx`...

When I pass in
[code]
it logs
[code]

When I pass in
[code]
it logs

[code]

[2022-07-18 03:42] GollyJer commented on #5174
OK, I figured this out working locally and then went into the source code here and github...

Here's the weird thing. Even though I pulled down latest, `3.4.9`, the `usePropsResolution.tsx`  file in `node_modules` is completely different than the one in the source code.

How does this happen? Simply copying the code from source and completely pasting over `usePropsResolution.tsx` in `node_modules`

[2022-07-18 05:18] Krithikj20 commented on #5167
Thank you @elmcapp for reporting this issue. We will look into it.

[2022-07-18 05:22] Krithikj20 commented on #5173
Hi @miles-118, Thank you for reporting this issue. We will try to fix it at the earliest.

[2022-07-18 06:40] prpgan commented on #5159
Hi @ankit-tailor, I have tried to create the issue in snack as well as on android devices, but it seems this issue is only in IOS.

[2022-07-18 08:47] ankit-tailor commented on #5159
Hey @prpgan , This issue has been resolved in `v3.4.9`. Let me know if it doesn't work for you.

[2022-07-18 09:04] ankit-tailor commented on #5170
Hey @SamMcDuffie , Thanks for reporting the issue. We'll fix it soon.

[2022-07-18 09:54] Viraj-10 commented on #5071
Hi @shashank1010, Can you specify the use case for this?

[2022-07-18 09:54] #5071 closed, assigned to nobody

[2022-07-18 10:04] Viraj-10 commented on #5033
Hi @radiorz, This seems like the `Accordion` component and it's on the road map.

[2022-07-18 11:36] Viraj-10 commented on #4781
Hi @astriskit, you can use the `Factory` function. It takes a custom component with a theme object.

[2022-07-18 11:37] #4781 closed

[2022-07-18 11:46] #4763 closed

[2022-07-18 12:05] ankit-tailor commented on #5171
Hey @ErykDarnowski, Thanks for your suggestions. We'll fix it soon.

[2022-07-18 12:07] ankit-tailor commented on #5092
Hey @sanna231, Thanks for reporting the issue. We'll fix it soon.

[2022-07-18 12:13] #4658 closed, assigned to nobody

[2022-07-18 12:20] Viraj-10 commented on #4513
Hi @thispastwinter, We have introduced new internal props. `_fade, _slide, _backdropFade` lets you control animation on these components.

[2022-07-18 12:20] #4513 closed

[2022-07-18 13:23] thispastwinter commented on #4513
@Viraj-10 awesome! This is great. Thanks!

[2022-07-18 13:48] #4927 closed

[2022-07-18 13:49] #4936 closed

[2022-07-18 13:50] #4928 closed

[2022-07-18 17:10] NoZiL opened #5195 "Allow to pass false values in a Button.Group"
### Description

Hi, I would like to do conditional rendering within a `Button.Group`.

### Problem Statement

I was trying to render some button in a group only if a condition is true.

### Proposed Solution or API

[code]

### Alternatives

_No response_

### Additional Information

_No response_

[2022-07-19 03:57] dminkovsky commented on #4864
Encountered the same issue, [made my own Snack](https://snack.expo.dev/@dminkovsky/suspicious-ice-cream), only to realize I forgot to search for this problem and sure enough, this has already been reported. Does anyone know any workarounds?

[2022-07-19 04:29] Krithikj20 commented on #5168
Hello @elmcapp, Thank you for reporting this issue. We will try to fix this at the earliest.

[2022-07-19 04:58] Krithikj20 commented on #5195
Hi @NoZiL, Thank you for reaching out to us. We will look into it.

[2022-07-19 07:30] #5137 closed

[2022-07-19 08:43] MainAdc95 commented on #518
hmmm...

[2022-07-19 13:53] jobrach-rbi commented on #5107
same issue 👀

[2022-07-19 16:27] jaboesch commented on #5098
+1

[2022-07-19 19:50] rileyy29 commented on #4864
Haha, don't use a modal! Had to redo part of my project... supposed to have been fixed already apparently, at least according to the above... although I am not sure what happens if you use a Native Base Actionsheet instead!  > Encountered the same issue, [made my own Snack](https://snack.expo.dev/@dminkovsky/suspicious-ice-cream), only to realize I forgot to search for this problem and sure enough

[2022-07-19 22:21] JambaGoDevCode commented on #4303
**Visite...**

[https://stackoverflow.com/a/73043985/17818034](https://stackoverflow.com/a/73043985/17818034)

[2022-07-20 05:18] Krithikj20 commented on #5174
Thank you for reporting this issue @GollyJer, We will try to fix it at the earliest.

[2022-07-20 06:29] rohit0621 commented on #4425
Hey @rayan1810 , This is the issue of aliasing. Some browsers will antialias it nicely, others will not. You can read more about it from [here](https://twitter.com/romanshamin_en/status/1546920413908942852).

[2022-07-20 06:29] #4425 closed

[2022-07-20 13:14] aaa646123 opened #5202 "<Content> tag in NativeBase 3?"
### Description

I am trying upgrade the module from v2 to v3.
But I found that seems <Content> tag didn't exist in v3.
Does it change the name?

### Problem Statement

I want to upgrade module from v2 into v3.

### Proposed Solution or API

[code]

### Alternatives

_No response_

### Additional Information

_No response_

[2022-07-20 16:16] GollyJer commented on #5174
You're welcome @ankit-tailor.

I'm curious how this happens? Is the file not picked up in the build process somehow? I've never run into a case where the source and the node_modules didn't match.

[2022-07-20 16:18] Looooong opened #5208 "Custom Toast isn't passed with onClose props despite the document saying so"
### Description

The `onClose` method is needed to close the toast prematurely.

### CodeSandbox/Snack link

https://github.com/GeekyAnts/NativeBase/blob/6161d8814cee624f9856906f53f53a9508c55a55/src/components/composites/Toast/Toast.tsx#L222

### Steps to reproduce

_No response_

### NativeBase Version

3.4.8

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platfo

[2022-07-21 08:07] hohoaisan opened #5209 "Slider component supports range select"
### Description

Please add support for ranged-slider for selecting between two values

### Problem Statement

Currently Slider component only support one-sided and only one value per Slider, there're use cases that needs ranged slider like selecting between prices range, amount range,.. but it doesn't support.

### Proposed Solution or API

Add option `isRange: boolean` to Slider component and ac

[2022-07-21 08:21] Abhineetk47 opened #5210 "OfftrackColor not taking whole space when Switch component is given height and width instead of size for IOS"
### Description

giving height and width prop in switch component causing offtrackcolor shrink in IOS device only

### CodeSandbox/Snack link

https://codesandbox.io/s/still-fog-too59h?file=/src/App.tsx&resolutionWidth=320&resolutionHeight=675

### Steps to reproduce

 <Switch
           height="5"
           width="10"
          alignSelf="center"
          _light={{
            onThumbColor: 'wh

[2022-07-21 08:44] Krithikj20 commented on #5208
Hi @Looooong, Thank you for reporting the issue. We will look into it and fix it at the earliest.

[2022-07-21 08:53] Viraj-10 commented on #5209
Hi @hohoaisan, Can you provide a wireframe for this feature?

[2022-07-21 09:11] rayan1810 commented on #4302
Hola folks!! I’ve some good news for you guys 🎉
As you know, we were working on fixing the performance issues with NativeBase. Here is an update.
We have an `alpha` version out that provides you with better runtime caching. You can also generate a pre-resolved theme style at build time using the newly released babel plugin [`@native-base/babel-plugin`](https://www.npmjs.com/package/@native-base/ba

[2022-07-21 09:37] zhouxhang123 opened #5211 "Popover组件 在IOS系统，iPhone XS上弹出框的位置偏离了很远"
### Description

Popover组件 在IOS系统，iPhone XS上弹出框的位置偏离了很远

### CodeSandbox/Snack link

暂无

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.5

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-07-21 12:23] sanna231 opened #5212 "Unable to render MacOS native select using Select."
### Description

While using React Native for macOS. I am using the NativeBase library which works very good. I am using the select component however it is rendering a sliding sheet. I am hoping to use the looks from the web view as if you was on Mac.

Reference GitHub discussion: https://github.com/GeekyAnts/NativeBase/discussions/5108

### CodeSandbox/Snack link

https://codesandbox.io

### Step

[2022-07-21 12:25] Viraj-10 opened #5213 "As a user, in a modal I should be able unset focus from input fields"
### Discussed in https://github.com/GeekyAnts/NativeBase/discussions/5176

<div type='discussions-op-text'>

<sup>Originally posted by **shashank1010** June  8, 2022</sup>
### Description

When you open the modal for this example
https://snack.expo.dev/@shashank1010/modal-checkbox-click-issue

You would notice that the first field has focus.
In this example, I simulated a vertical space with a hei

[2022-07-21 12:40] ankit-tailor commented on #5202
Hey @aaa646123 , `Content` component is deprecated in v3. We'll add it to our roadmap for future releases.

[2022-07-21 13:04] Viraj-10 commented on #5095
Hi, try using the following code.
[code]

[2022-07-21 16:03] Audrey-Ann commented on #4302
@rayan1810 Thank you and your team so much for your efforts !

I unfortunately ran into some issues when upgrading to `3.5.0-alpha.7` and adding the `babel-plugin`:

1. When adding the `babel-plugin` to my `babel.config.js`,

[code]
   both on IOS and Android I got the following error:

/Users/audreyjw/Documents/Clients/Synerion/Synerion.ESS.React-Native/node_modules/@native-base/babel-plugin/inde

[2022-07-21 18:36] rayan1810 commented on #4302
Thanks @Audrey-Ann for reporting this I'll be looking into this and try to release a fix as soon as possible 📦 🏃

[2022-07-21 20:27] Audrey-Ann commented on #4302
@rayan1810 Thank you very much ! Don't hesitate to ask me for more details if that can help too :") !

[2022-07-22 02:05] arryanggaputra commented on #4302
@rayan1810  thank you very much for the update. This is my error

[code]

[2022-07-22 02:53] achalagarwal commented on #5107
same issue in v3.3.7

[2022-07-22 03:31] jontewks commented on #3915
Bump

[2022-07-22 14:43] GollyJer commented on #5174
@ankit-tailor @Krithikj20
Is there an alpha build with this change that we can install?

I just found out that patch-package doesn't work with the newest react native builds so I have no way to update for our production builds. (We use expo eas).

I spent a week converting our entire app over to native-base and can't deploy. 😐

[2022-07-22 16:18] despotes opened #5215 "[Mobile+Expo] Custom Fonts are not working in 3.4.7-3.49 with fontFamily prop"
### Description

when setting up custom fonts with fontFamily prop are not working on Expo, iOS and Android

### CodeSandbox/Snack link

https://snack.expo.dev/@despotes/nativebase-custom-fonts-issue

### Steps to reproduce

1. Create a React Native Project with Expo or React Native Init. I'm using version 0.69.2 and tried on Snack Expo with SDK 44.0.0
2. Install Native Base 3.4.7 or 3.4.9 the ver

[2022-07-23 04:04] johnf commented on #5075
[native-base+3.4.9.patch.txt](https://github.com/GeekyAnts/NativeBase/files/9173060/native-base%2B3.4.9.patch.txt)

@theonetheycallneo Attached - You might need to clear your babel cache before it works. I basically just remove the .web files

[2022-07-24 10:26] ErykDarnowski commented on #5098
Having the same issue on ver: 3.4.8

[2022-07-25 00:58] artomh commented on #5098
Same issue. react-native 0.68.2, native-base 3.4.9

[2022-07-25 02:42] GunturThunder commented on #4153
any update ??

[2022-07-25 03:11] hohoaisan opened #5216 "ActionSheet's onClose handling by swiping down doesn't update with the new state"
### Description

The same issue as https://github.com/GeekyAnts/NativeBase/issues/4692 but it's closed.

### CodeSandbox/Snack link

https://snack.expo.dev/@hohoaisan/9eb3f4

### Steps to reproduce

1. Go to https://snack.expo.dev/@hohoaisan/9eb3f4
2. Click 'Actionsheet' button to open the Actionsheet.
3. Tap "Delete" button and close Actionsheet by tapping on Overlay. Then you should see alert wi

[2022-07-25 04:58] GollyJer opened #5217 "Help in understanding breakpoint measurements with mobile phones."
### Description
_(I don't think this is a bug but it's not a feature request either)_

`windowWidth`, and thus `breakpoints`, for iPhone 7 nearly identical to Pixel 6 Pro

### Steps to reproduce

We're working through a complete rewrite of our app with nativebase to take advantage of many of its benefits, but the main reason is the responsive breakpoints.

I'm testing on an old, small iPhone 7, a

[2022-07-25 06:44] Krithikj20 commented on #5216
Thank you @hohoaisan for reporting this issue. We will look into it.

[2022-07-25 06:46] Krithikj20 commented on #5215
Hi @despotes, Thank you for reaching out to us. We will try to fix this at the earliest.

[2022-07-25 07:23] ankit-tailor commented on #5217
Hey @GollyJer , NativeBase provides these default breakpoints and you can update by using extendTheme.
[code]

[Here](https://docs.nativebase.io/next/breakpoints) you can read more about it

[2022-07-25 07:30] sanna231 opened #5218 "Actionsheet is not able to access it's parent context."
### Description

ActionSheet component with React.Context. The context consumer doesn't appear to have the latest state.

### CodeSandbox/Snack link

https://snack.expo.dev/@joeyjiron06/2a8d0e

### Steps to reproduce

_No response_

### NativeBase Version

3.4.8

### Platform

- [X] Android
- [X] CRA
- [X] Expo
- [X] iOS
- [X] Next

### Other Platform

_No response_

### Additional Information

_N

[2022-07-25 13:08] matheussss1 commented on #4153
Any update? same issue

[2022-07-25 13:57] GollyJer commented on #5217
Hi @ankit-tailor. Thanks for the help.
I've read the documentation and the source code **thoroughly**.

The real point of my question is **how these two phones can measure so closely together**?
NativeBase is using **`windowWidth`** to determine breakpoints.

    iPhone 7
    750 x 1334 pixels (326 PPI density)
    windowWidth  ==> 375 👈

    Pixel 6 Pro
    1440 x 3120 pixels (512 PPI density)

[2022-07-25 15:43] GollyJer commented on #5217
OK, so digging into this more, I understand now that
`const windowWidth = useWindowDimensions()?.width` is returning the DP, aka Density-Independent Pixels.
so really it's more like...
`const dp = useWindowDimensions()?.width`

For those playing along...

- [Good summary of pixel density for ios, android, web](https://material.io/design/layout/pixel-density.html#pixel-density)
- [How do dp, dip, d

[2022-07-25 16:35] Bubex commented on #4429
I don't know if internally it occurs for the same reason, and sorry if not, and if I'm reporting in the wrong place.
But I had this problem when using IconButton nested with ThreeDotsIcon. (in `3.4.9`)

`<IconButton icon={<ThreeDotsIcon />} />`

The results was:

[2022-07-25 18:13] GollyJer commented on #5217
My previous idea of creating and renaming breakpoints is a BAD idea.
In testing... simply just renaming breakpoints caused weird things to happen, like the app rerendering randomly.

In the end we had to settle for just changing the sizes of the default breakpoints.
[code]

[2022-07-25 22:59] #5217 closed

[2022-07-26 07:35] sanna231 opened #5220 "Typing issue with extended theme"
### Description

Extending custom prop with component props in `baseStyle` is not working with typescript. Facing typing issue.

### CodeSandbox/Snack link

https://codesandbox.io

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.9

### Platform

- [X] Android
- [X] CRA
- [X] Expo
- [X] iOS
- [X] Next

### Other Platform

_N

[2022-07-26 08:40] coprocoder opened #5221 "Clipboard has been extracted from react-native core"
### Description

The clipboard separated from the launch vehicle into a separate package. There was a similar problem last year. You fixed it in the patch and closed the issue on the git. But 10 months ago you brought the clipboard import back from RN.
Why?
The logbox warnings say this is deprecated and later they will remove the clipboard from the PH altogether.
The @react-native-clipboard/clipbo

[2022-07-26 11:48] dkulakov commented on #4500
I have the same issue in 3.4.6 & 3.4.8

[2022-07-26 14:57] danielantelo opened #5223 "App with NativeBase breaking after upgrading to expo 46"
### Description

App with NativeBase breaking after upgrading to expo 46

### CodeSandbox/Snack link

https://github.com/danielantelo/expo-template-reactrouter-nativebase/tree/expo-46

### Steps to reproduce

1. Launch app
2. Go to [localhost](http://localhost:19006/) on Web browser (chrome)
3. See error on console

[code]

Working fine on IOS, just web is broken.

### NativeBase Version

3.4.9

#

[2022-07-26 14:58] danielantelo commented on #5223
Sorry if duplicates https://github.com/GeekyAnts/NativeBase/issues/5075

[2022-07-26 15:12] danielantelo commented on #5075
applying this patch gets my app working again on latest expo 46, thanks!

[2022-07-26 19:13] pranay202 commented on #3307
@joix97b I have tried what you have said, but still its not working for me!

[2022-07-26 19:22] olivermillard commented on #4581
Still having this issue as well, hope it will be resolved soon

[2022-07-27 06:55] rohit0621 commented on #5136
Hey @markwindsorr , I've tried reproducing the issue. [Here](https://snack.expo.dev/m6WIH3PWb) is the snack link. I am using latest version `3.4.9`. It's working for me. Let me know if it works for you.

[2022-07-27 10:25] sanna231 opened #5224 "Custom Theme Type Warning"
### Description

So I’m creating a custom theme object for NativeBase and inside of it I am adding some extra properties like “backgroundColor”. Later when accessing these properties through useTheme() the code works, but I get a type warning. Is there a way to silence them? In reality the prop is there and my code works absolutely fine.. its only a type warning.

### CodeSandbox/Snack link

NA

#

[2022-07-27 11:58] ankit-tailor commented on #5174
Hey @GollyJer, This shouldn't be happening. I've tried reproducing the issue but couldn't find anything. Please provide some snack link for that.

Also regarding the icon size issue, I've tried and it looks like size passed as responsive props are not getting resolved. I am looking into the issue. Thanks for reporting the issue.

[2022-07-27 17:18] redbar0n commented on #4302
@eytanProxi could you quantify that?

[2022-07-27 17:54] kaaax0815 commented on #4273
How is this not fixed?

[2022-07-27 18:23] sangayt1997 commented on #4192
@makkarMeenu  Thank you so much

[2022-07-28 07:36] rayan1810 commented on #4302
@Audrey-Ann @arryanggaputra thanks for your patience, we have fixed the babel plugin for ios and android issues in @native-base/babel-plugin version 1.0.9. But it led us to find that, the babel config is treated differently by different bundlers that is why we had to introduce a new caching folder `.native-base` that stores the data that the babel plugin requires to function as intended. This in t

[2022-07-28 08:34] jonasgroendahl commented on #4864
having this problem trying to display a `<Modal />` inside a modal screen ios

[2022-07-28 09:00] fafo opened #5227 "initialFocusRef in Modal should open keyboard"
### Description

When using initialFocusRef property in Modal, the keyboard should open, instead the cursor blinks the selected input, but you have to click on it in order to open the keyboard.

### CodeSandbox/Snack link

https://snack.expo.dev/@faf0/64fa14

### Steps to reproduce

You can see it on the documentation example. Just click on open on a mobile device. The modal opens, the focus is on

[2022-07-28 09:10] fafo commented on #5227
Sorry I put  temporary link to the snack. This one should be ok:
https://snack.expo.dev/@faf0/initial-focus-on-modal

[2022-07-28 12:01] elenitaex5 commented on #5095
Hi @Viraj-10 it works and shows a shadow, but where can I find how to manage it? Can I change color or where it gonna be more than only a number? or it works like `elevation` for Android?

[2022-07-28 13:04] maciejduda1 commented on #4302
I also found performance problems that are somewhat intensified by using nested navigation (https://reactnavigation.org/). I'm also using RN 0.69. I started building large project with it but will have to rewrite it all with my team :( since performance is not good enough for client.

Anyway. I installed the alpha version and (with rm -rf node_modules/) started my app on android. Performance is be

[2022-07-29 06:43] fleuverouge commented on #5107
Hi, I'm facing the same issue if the toasts are displayed sequently within < 1s
native-base: 3.4.9
react-native: 0.68.2

[2022-07-29 06:52] Krithikj20 commented on #5227
Hi @fafo, Thank you for reporting this issue. We will try to fix this at the earliest.

[2022-07-29 07:06] Viraj-10 commented on #5227
Hi @fafo, `initialFocusRef` can't open the keyboard. In your case, it's `inputText` but Sometimes the user wants to focus on `radio` or `button` when Modal is open. So this doesn't align with the component library perspective. I am moving this to the discussion. We can have a conversation about it there.

[2022-07-29 07:27] joseito-terence commented on #4581
[code]
Setting height to 100vh worked for me

[2022-07-29 19:07] coprocoder commented on #5221
It's not a bug in my code.  Your source code is out of date.  The clipboard component you import into useClipboard is deprecated and will be removed.
 Please import it from the new split package.  This is the same RN, but now the clipboard is not included, but is installed separately

[2022-07-29 19:27] mohammedraoof commented on #4302
I have used this plugin and still, and the performance is still not good). It's too slow when switching between screens. I really liked this library and build a 70% app with this. But due to this problem, I have to rewrite the the app.

[2022-07-29 20:57] mohammedraoof commented on #4302
I used this plugin and the performance is not good enough. Hope you could fix it soon

[2022-07-30 01:42] OfficialDarkComet opened #5231 "Documentation - Using Factory on Text Input"
### Description

The documentation (on the website) for "Using ref" where the Factory function is used on a Text Input component needs to be changed.

The example works, BUT if you build upon it, you will run into all sorts of problems involving re-rending, focus issues, loss of state values, etc... I spent the past couple days trying to fix the problem.

**If you are having focus lose problems an

[2022-07-30 06:56] HeyItsJs commented on #4796
I tried using yarn dlx like this:
[code]

However it throws error:
[code]

Feels sad to abandon a good library just because of not being able to get started :(

[2022-07-30 07:26] Aziks0 commented on #4796
@HeyItsJs I tried your exact command and it worked. Weird. I have no idea why.

Although, I said that you need `yarn>=2.0.0` (because `yarn dlx` is a `2.x.y` feature), but `yarn -v` prints out `1.22.15` on my machine.

[2022-07-30 17:37] HagTheDon commented on #3939
Worked for me, thanks @nathanwkwong

Incase you need test data details;
- React Native: v 0.68
- Native Base: 3.4.8
- IOS: Physical Device - Iphone 8

Thanks, let me know if you need any more debug info. When can this be added to the NativeBase update?

[2022-07-31 11:26] Swiftwork opened #5232 "Re-implement the indeterminate progress bar that was removed or never finished in v2"
### Description

An indeterminate version of the progress bar for unknown process lengths and limited screen real estate. Work was started, but then cleaned up in commit: https://github.com/GeekyAnts/NativeBase/commit/a150aff7a9409a152fff327f243aff75bf579857

### Problem Statement

On some occasions, it is not possible to determine how long a process will last or you don't visually have the space

[2022-08-01 06:10] Krithikj20 commented on #5231
Hi @OfficialDarkComet, Thank you for bringing this to our notice. We will look into it.

[2022-08-01 06:12] Krithikj20 commented on #5232
Thank you @Swiftwork for reporting this. We will look into it.

[2022-08-01 06:49] #5095 closed

[2022-08-01 07:20] Viraj-10 commented on #5095
Hi @elenitaex5, you can check shadow prop resolution [here](https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/base/shadows.ts).

[2022-08-01 07:44] elenitaex5 commented on #5095
Thanks for your help @Viraj-10 ! You can remove `awaiting respnse` label too. It works for me perfectly.

[2022-08-02 04:34] Andrew-Pynch commented on #4796
I'm just getting this :-(
![image](https://user-images.githubusercontent.com/43330642/182292351-4ce9ba6d-adb7-42e2-a62c-3ad1f1c63e6b.png)

Sucks that I can't use Native base for now :-(

[2022-08-02 04:36] Andrew-Pynch commented on #4680
Can you share how you resolved, please?

[2022-08-02 04:53] trymbill commented on #4302
This is pretty discouraging. Was about to move a project over to NativeBase, but don't see how I can justify that with these kind of numbers 😬

[2022-08-02 17:48] ErykDarnowski opened #5235 "[Docs] Inconsistencies in the `Input Variants` section of `Input` component docs"
### Description

Described in the `Additional Information` section (as it was easier to format there)

### CodeSandbox/Snack link

https://docs.nativebase.io/input#h3-input-variants

### Steps to reproduce

1. Go to URL
2. See errors

### NativeBase Version

3.4.8

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

No platform to specify

### Additional Info

[2022-08-02 18:17] focux commented on #5215
I'm experiencing the same issue. Also, when trying to change the heading font family to another different than the body font family, it doesn't work either. Not sure if I should open another issue about that.

[2022-08-03 02:39] jasontamez opened #5236 "AlertDialog leastDestructiveRef is useless"
### Description

AlertDialog should put focus on the leastDestructiveRef when the alert is opened.

### CodeSandbox/Snack link

https://snack.expo.dev/@jasontank/leastdestructiveref

### Steps to reproduce

1. Go to https://docs.nativebase.io/alert-dialog
2. The sole example has "Cancel" set as leastDestructiveRef, but even that one defaults to the [X] close button instead of the referenced button

[2022-08-03 05:10] harish-narra opened #5237 "ViewProptypes issue"
### Description

tried to update react-native version 0.69.1  getting this error   ERROR  Invariant Violation: ViewPropTypes has been removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'.

### CodeSandbox/Snack link

NA

### Steps to reproduce

_No response_

### NativeBase Version

3.4.9

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS

[2022-08-03 06:19] #4823 closed

[2022-08-03 06:19] surajahmed commented on #4823
This issue is fixed in 3.4.0 or later

[2022-08-03 06:22] rayan1810 commented on #4302
Hey @maciejduda1, Thanks for reporting the issues we are looking into this. Also, it would be really helpful if you can share the mock screens code in a codesandbox or expo snack.

[2022-08-03 06:25] surajahmed commented on #4796
Can you please try the latest version `3.4.9`?
You can also try install `"react-native-safe-area-context": "3.1.9"` in your project. Please let me know if this issue persists.

[2022-08-03 06:37] surajahmed commented on #3413
Accordion Component is not fully supported yet. We're working on API and accessibility of this component. Moving this issue to the discussion.

[2022-08-03 06:39] surajahmed commented on #4063
@kevinwcyu Thanks for your reply. Closing this issue for now. Please feel free to reopnen.

[2022-08-03 06:39] #4063 closed

[2022-08-03 06:41] surajahmed commented on #4153
We've been working on some workaround. This issue is coming from our internal Overlay component. We've to change our component render pattern to solve this issue.  This may take some time.

Thanks for your patience.

[2022-08-03 06:43] surajahmed commented on #4273
Thanks for your patience. We have to prioritize this issue. We'll fix this soon.

[2022-08-03 06:48] surajahmed commented on #4339
@ganesh-papola We've to prioritize adding these components. We're working on it. Thanks for your patience.

[2022-08-03 06:49] surajahmed commented on #4391
Closing this issue, please feel free to reopen if the issue persists. Thanks.

[2022-08-03 06:49] #4391 closed

[2022-08-03 06:52] surajahmed commented on #4424
Hello, we've added `isDisabled`, `isHovered` to `Button`, `Checkbox` and other components. I hope this will fix the issue. Thanks

[2022-08-03 06:52] #4424 closed

[2022-08-03 06:53] surajahmed commented on #4431
Closing this issue for now. Please feel free to reopen.

[2022-08-03 06:53] #4431 closed

[2022-08-03 06:58] rayan1810 commented on #4302
Hey @mohammedraoof , can you please quantify the results? Also share some code sample of your codebase so that I can understand if the babel plugin is missing something or not.

[2022-08-03 07:26] ankit-tailor commented on #5167
This should work for you. Let me know if it works for you.
[code]

[2022-08-03 12:20] Audrey-Ann commented on #4302
Hi @rayan1810 :) I unfortunately ran into the same issues like mentioned before after upgrading to 1.0.9 :(

[2022-08-03 22:53] tonyneel commented on #5215
Any update on this issue?

[2022-08-04 07:05] ankit-tailor commented on #5170
Hey @SamMcDuffie, This issue is fixed in `v3.4.11`.

[2022-08-04 07:05] #5170 closed

[2022-08-04 07:06] Viraj-10 commented on #4930
This Issue has been resolved in `v3.4.11`

[2022-08-04 07:06] #4930 closed

[2022-08-04 07:06] ankit-tailor commented on #5174
Hey @GollyJer, This issue is fixed in `v3.4.11`

[2022-08-04 07:06] #5174 closed

[2022-08-04 07:07] ankit-tailor commented on #5171
Hey, This issue is fixed in `v3.4.11`.

[2022-08-04 07:07] #5171 closed

[2022-08-04 07:07] ankit-tailor commented on #5165
Hey @Looooong, This issue is fixed in `v3.4.11`.

[2022-08-04 07:07] #5165 closed

[2022-08-04 07:08] Viraj-10 commented on #5106
We have released this in `v3.4.11`

[2022-08-04 07:08] #5106 closed

[2022-08-04 07:08] ankit-tailor commented on #5144
Hey @Looooong, This issue is fixed in `v3.4.11`.

[2022-08-04 07:08] #5144 closed

[2022-08-04 07:08] Viraj-10 commented on #5213
This Issue has been fixed in `v3.4.11`

[2022-08-04 07:08] ankit-tailor commented on #5138
Hey @Swiftwork, This issue is fixed in `v3.4.11`.

[2022-08-04 07:08] #5138 closed

[2022-08-04 08:26] GuosXin opened #5248 "About controll checkbox with code"
### Description

I need to use code to control whether the checkbox is selected or not, I can't do it now.

### Problem Statement

Now I have a select all checkbox. I need to judge whether the user has selected all items, and then I want to control the checkbox to select or not with code. I set the defaultIsChecked prop of the checkbox by use state hook, but it didn't refresh in view. I'm not sure

[2022-08-04 10:15] surajahmed commented on #4937
Closing this issue for now. Please feel free to reopen.

[2022-08-04 10:15] #4937 closed

[2022-08-04 10:16] surajahmed commented on #4575
This has been resolved in version `3.4.9` or later. Thanks.

[2022-08-04 10:16] #4575 closed

[2022-08-04 10:18] surajahmed commented on #4599
Closing this issue as this has been resolved in version `3.4.9` or later. Please feel free to reopen if this issue persists. Thanks.

[2022-08-04 10:18] #4599 closed

[2022-08-04 10:29] Viraj-10 commented on #4581
Hi @joseito-terence, @ricohumme, @biskis, @ricohumme, @IHIutch, Sorry for the delay.  We have exposed `Overlay` to the modal Component.
to fix this issue you can write the following code using `_overlay`.
`
 <Modal isOpen={showModal} onClose={() => setShowModal(false)} _overlay={{style:{position:'fixed'}}}>`

 feel free to open this issue if it still persists.

[2022-08-04 10:29] #4581 closed

[2022-08-04 11:18] roshangm commented on #5209
@Viraj-10 It would probably look like this:
https://mui.com/material-ui/react-slider/#range-slider

[2022-08-04 11:52] joseortiz9 commented on #3856
Still happening on last version `3.4.11`, can not change focus or hover from input theme styles, have to directly added to the component.

[code]

I tried different ways, non of them work.
[code]
[code]
[code]
[code]

[2022-08-04 13:55] oscar-b commented on #4933
@ankit-tailor  I'm seeing this issue as well, with v3.4.11. `autoCompleteType` is present in the file `node_modules/native-base/lib/typescript/components/primitives/TextArea/index.d.ts` (installed from `npm`). I assume this is auto-generated by your build step somehow, as `autoCompleteType` has to be pulled in from somewhere else.

[2022-08-05 08:39] EuanGwd-AndDigital opened #5249 "Support for Nextjs 12.2 and React 18.2"
### Description

Not really a bug, having issues adding Native base to an existing  nextjs 12.2 app, the cli, examples and documentation seem to only refer to next12.1 and react 17

### CodeSandbox/Snack link

NA

### Steps to reproduce

1. install new create-next-app using yarn
2. follow instructions in documentation on adding to existing project
3. run yarn dev
4. See error

### NativeBase Versi

[2022-08-05 20:05] GollyJer commented on #5174
Thanks @ankit-tailor! Verified working.
https://twitter.com/GollyJer/status/1555645880098729984

[2022-08-06 00:12] inform880 commented on #4273
@surajahmed Thank you!

[2022-08-07 12:11] sregg commented on #4302
I'm getting these 2 errors after updating to `3.5.0-alpha.7`:

[code]

and

[code]

[2022-08-07 13:41] Alex1899 commented on #2736
same issue here

[2022-08-08 09:40] ankit-tailor commented on #5218
Hey @sanna231,  Thanks for reporting the issue, We'll look into it.
For now, the workaround is that you have to wrap NativeBaseProvider with your ContextProvider.

[2022-08-08 13:18] ankit-tailor commented on #4302
Hey @sregg, It would be great if you can share the snack link or code snippet to reproduce the issue.

[2022-08-08 13:28] sregg commented on #4302
@ankit-tailor here's where the 2nd `Text` is rendered:

[code]

`Text` is our custom Text component that wraps NB's Text and add i18n capabilities with the `tx` prop:

[code]

Variant "header" is defined in `extendTheme()` like so:

[code]

I hope that helps.

[2022-08-08 13:45] ankit-tailor commented on #4302
Hey @sregg, Thanks for reporting the issue. I was able to reproduce the issue. Seems like typography tokens are not getting resolved. We'll fix it.

[2022-08-08 14:35] vasafix opened #5255 "Box, Skeleton, and other components do not contain type definitions for "variant" prop"
### Description

Box, Skeleton, and other components do not contain type definitions for the "variant" prop, even though if the "variant" prop is defined in "extendTheme" it is still applied.

### CodeSandbox/Snack link

https://snack.expo.dev/@krygelv/native-base-variant

### Steps to reproduce

run `tsc`

### NativeBase Version

3.4.11

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS

[2022-08-08 23:38] robbporto commented on #4303
Any news on this? I simply cannot test anything on my app because of this issue.

[2022-08-09 06:12] ankit-tailor commented on #5235
Hey @ErykDarnowski, Thanks for your suggestions. We'll look into it.

[2022-08-09 06:23] ankit-tailor commented on #5237
Hey @harish-narra, Thanks for reporting the issue. We'll look into it.

[2022-08-09 06:24] ankit-tailor commented on #5255
Hey @vasafix, Thanks for reporting the issue. We'll look into it.

[2022-08-09 06:25] ankit-tailor commented on #5224
Hey @sanna231, Thanks for reporting the issue. We'll look into it.

[2022-08-09 06:28] ankit-tailor commented on #5220
Hey @sanna231, Thanks for reporting the issue. We are working on it.

[2022-08-09 06:32] Viraj-10 commented on #5249
Hi @EuanGwd-AndDigital, We are looking into this issue. We will soon provide support for react 18 and next 12.

[2022-08-09 06:35] ankit-tailor commented on #5236
Hey @jasontamez, Thanks for reporting the issue. We'll fix it.

[2022-08-09 06:36] ankit-tailor commented on #5212
Hey @sanna231, Select renders native select component on web and on other platforms it renders actionsheet. Thanks for reporting the issue. We'll fix it.

[2022-08-09 06:41] Viraj-10 opened #5257 "initialFocusRef in Modal should open keyboard when input is focused."
### Discussed in https://github.com/GeekyAnts/NativeBase/discussions/5228

<div type='discussions-op-text'>

<sup>Originally posted by **fafo** July 28, 2022</sup>
### Description

When using initialFocusRef property in Modal, the keyboard should open, instead the cursor blinks the selected input, but you have to click on it in order to open the keyboard.

### CodeSandbox/Snack link

https://snack

[2022-08-09 06:52] harish-narra commented on #5237
Thanks, @ankit-tailor, if possible please look into ASAP, we are using this library, and we need to release the app with a new update without any patches. hope you understand

[2022-08-09 08:46] coprocoder commented on #5249
@Viraj-10 Is there any rc patch or alpha build now? Is it possible to get support for react 18 before the release of the new official version of your package?

[2022-08-09 10:46] ng520tx opened #5258 "Button.Group display is different from the demo?"
### Description

Button.Group display is different from the demo?

### Problem Statement

![2022-08-09 185226](https://user-images.githubusercontent.com/7404231/183630921-7ac1a4dd-d082-4c10-80b5-b73fd5e16c14.png)

![2022-08-09 185706](https://user-images.githubusercontent.com/7404231/183631671-13e327be-bd76-4b93-9c69-adfea1c71239.png)

### Proposed Solution or API

<Button.Group isAttached>

[2022-08-09 11:59] adnansiddiq opened #5259 "Dependency issue: Setup new React Native App"
### Description

Dependency issue while creating new react native using native base template.

### CodeSandbox/Snack link

https://snack.expo.dev/adnansiddiq

### Steps to reproduce

1. react-native --version   => 8.0.5
2. node -v  => v16.16.0
3. nvm -v => 8.16.0
4. npx react-native init SafeApp --template @native-base/react-native-template

Error:
✔ Downloading template
✔ Copying template
✔ Proce

[2022-08-09 13:42] Rutger opened #5260 "useColorMode doesn't update after ColorMode change"
### Description

useColorMode doesn't update after ColorMode change

### CodeSandbox/Snack link

-

### Steps to reproduce

Since this commit, useColorMode stopped worked as intended:
https://github.com/GeekyAnts/NativeBase/pull/5246/commits/940e19ec7fe4377ebf4c554db79847085185a9d8

This is because useColorScheme hook got replaced by a getter function, which doesn't rerender after a change.

### N

[2022-08-09 13:44] Viraj-10 commented on #5260
Hi @Rutger, Can you please share a snack link?

[2022-08-09 13:51] ankit-tailor commented on #5258
Hey @ng520tx , Thanks for reporting the issue. We'll look into it.

[2022-08-09 16:04] liebharc commented on #5249
Hi @Viraj-10, my team would also be interested in this topic. I did some experiments with the current version on native-base with react 18, and it seems to work mostly. Mainly we found an issue if you put an Input in a Modal and then use the Input from a mobile device.

Switching to Next.js 12.2 fails. Apart from the warnings which are already listed in this issue description I'm getting an error

[2022-08-09 17:46] Luca-Settle commented on #5237
Hi, same error here. Is there a workaround for this?

[2022-08-09 20:12] antoinerousseau commented on #4924
This is still happening and quite annoying, we could at least display the version next to each result

[2022-08-09 20:30] antoinerousseau commented on #1626
Tried to add `_input={{ type: "email" }}` but didn't work, how do I do that?

[2022-08-10 06:21] BenFungInUK commented on #5158
I am facing the same problem with Modal. Hope that it can be solved soon.
So that I can improve the performance on Modal.

Native-base version
"native-base": "3.5.0-alpha.7"

[2022-08-10 07:39] Viraj-10 commented on #5259
Hi @adnansiddiq, Can you try using node version `v16.13.0`? There seems to be an issue with later versions. we will try to fix it soon.

[2022-08-10 13:24] pors commented on #5075
Is there an ETA for this? I'm guessing a large part of your users (the ones that use Expo) have this problem?

[2022-08-10 14:03] antoinerousseau commented on #1626
Ok found the solution, it's `keyboardType="email-address"`

[2022-08-10 14:44] Viraj-10 commented on #5075
We are working on this currently. Patch provided above won't affect most of the parts. although we suggest waiting for us to resolve this with a stable release. we have created an [Issue](https://github.com/necolas/react-native-web/issues/2363.) on react-native-web for additional information. any suggestions and PR are welcome.

[2022-08-10 15:36] adnansiddiq commented on #5259
Hi @Viraj-10
thanks for quick response.

I am getting same error using node v16.16.0 npm v8.1.0 react-native 8.0.5

<img width="975" alt="Screenshot 2022-08-10 at 8 35 01 PM" src="https://user-images.githubusercontent.com/2142464/183945975-918ef4cf-1914-40c4-9c1d-9f0901f5f132.png">

[2022-08-10 18:32] maxcan commented on #4167
Still happening on 3.4.9

[2022-08-10 22:02] darrenkeen opened #5264 "Checkbox text overflows out of container"
### Description

When using the Checkbox component, having some long text results in content going off the screen or out of the containers width.

### CodeSandbox/Snack link

https://snack.expo.dev/K6hps6IFF

### Steps to reproduce

Expo: 44.0.6
Native Base: 3.4.11
React: 17.0.1
React Native: 0.64.3

[code]

I took a basic expo app to show this problem
<img width="383" alt="Screenshot 2022-08-10 a

[2022-08-11 07:31] codefromrvk opened #5265 "isHowered in pressable component doesnot work in android"
### Description

Not able to see style changes when hovering over pressable component

### CodeSandbox/Snack link

https://snack.expo.dev/@0xrvk/f8d22b

### Steps to reproduce

1. Go to the snack link
2. Click on Android
3. Try hovering over the card
4. Hover effect does not work

### NativeBase Version

3.4.0

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platfo

[2022-08-11 09:31] himgodfreyho commented on #5111
Hi there. We have the exact same problem. Do you have any workarounds? Or when will it be updated? We have a big form and lots of Safari users...but changing it to another Select element is painful...

[2022-08-11 19:06] namlq93 commented on #5217
![Capture](https://user-images.githubusercontent.com/41458989/184219383-e3ec9297-6ecc-4039-82ad-49a32d5f0536.PNG)
I want to set styles only on the `base` screen. How can I do that? Your example applies to all 3 screens: `direction={['column', 'column', 'row']}`

[2022-08-11 22:21] namlq93 opened #5268 "The example of responsive does not display well"
### Description

The example of responsive does not display well

### CodeSandbox/Snack link

https://docs.nativebase.io/responsive

### Steps to reproduce

1. Go to https://docs.nativebase.io/responsive
2. Check out this example:
![Capture](https://user-images.githubusercontent.com/41458989/184251864-4df6b912-3262-4ea6-92a1-53118258c34e.PNG)
3. Run on your device or snack expo android, ios tabs
4

[2022-08-12 05:49] Viraj-10 commented on #5265
Hi @codefromrvk, Native Devices doesn't have a hover event. It is web-specific.

[2022-08-12 05:49] #5265 closed

[2022-08-12 06:28] Viraj-10 commented on #5075
Hi Everyone, We have released `v3.4.12-alpha.1` for react-native-web 0.18 and expo SDK 46 support.

[2022-08-12 06:29] Viraj-10 commented on #5249
Hi @EuanGwd-AndDigital, We have released `v3.4.12-alpha.1` for react-native-web 0.18 and expo SDK 46 support.

[2022-08-12 06:30] Viraj-10 commented on #5075
#5249

[2022-08-12 07:09] Oct4Pie commented on #4302
@Audrey-Ann @arryanggaputra

`TypeError: /Users/oct4pie/nativebase/test/App.js: Cannot read properties of undefined (reading 'name')`
I fixed the issue by finding this function in `./node_modules/@native-base/babel-plugin/lib/index.js`
(line 192-196 for me):
[code]
and nested the inner if-statement function in another if-statement:
[code]
<br>
That solved the error, but I still find my app to be s

[2022-08-12 07:13] BenFungInUK opened #5269 "Avatar text default lineHeight is not set correctly on IOS and Android"
### Description

If the size of Avatar is set to larger than/equal to "xl", the text is cut in half

### CodeSandbox/Snack link

https://snack.expo.dev/@benfunginuk/example

### Steps to reproduce

[code]

### NativeBase Version

3.5.0-alpha.7

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-08-12 09:22] likeSo commented on #5075
The newest version shows in the npm is still 3.4.12:
`native-base               | Essential…           | =surajahmedc…   | 2022-08-12 | 3.4.12   | android`

[2022-08-12 09:26] jvzTrifork commented on #5111
We ended up downgrading to version 3.4.6 which does not have this bug.

[2022-08-12 09:49] Viraj-10 commented on #5075
Hi @likeSo, 3.4.12 is released just now with some hotfix. we have previously pushed rnw 0.18 changes with `v3.4.12-alpha.1`. So please specifically install this version for support for rnw 0.18 and SDK version 45 and above.

[2022-08-12 11:08] pors commented on #5075
Works for me! Thanks @Viraj-10

The only thing is that icons and font sizes have changed. Not sure if this is related to NB though.

[2022-08-12 13:58] aendel commented on #4273
+1

[2022-08-12 23:45] ConnorMarble opened #5271 "Tag `borderColor` property does not work on `3.4.9`"
### Description

Tag `color` property does not work

### CodeSandbox/Snack link

https://snack.expo.dev/OPa8Okz-v

### Steps to reproduce

1. View the tag in the snack.expo example
2. See that the tag border color is not red

### NativeBase Version

3.4.9

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

I noticed

[2022-08-13 02:01] lap888 commented on #5075
+1

[2022-08-13 05:47] dohomi commented on #5075
@Viraj-10 I updated the nativebase package inside of the template starter of solito and it breaks visually a few things with icons and images. Especially Expo is not starting any longer without errors.

[2022-08-14 03:28] rohankleem commented on #4575
Hi, installing Native Base via npm to react native 0.69.4 Theme using
"npm install native-base react-native-svg@12.1.1 react-native-safe-area-context@3.3.2"
(docs at https://docs.nativebase.io/install-rn), results in error:
code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: myapp@0.0.1
npm ERR! Found: react@18.0.0
npm ERR! node_modules/react
npm ER

[2022-08-14 03:41] rohankleem commented on #5259
Hi, also having issues installing Native Base via npm to react native 0.69.4 Theme using command
"npm install native-base react-native-svg@12.1.1 react-native-safe-area-context@3.3.2"
(docs at https://docs.nativebase.io/install-rn), results in error:
code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: myapp@0.0.1
npm ERR! Found: react@18.0.0
npm ERR

[2022-08-14 03:48] Viraj-10 commented on #5075
Hi @dohomi, Can you provide some more details? Like Error logs and some snapshots for icons and images.

[2022-08-14 03:50] dohomi commented on #5075
Hi @Viraj-10
I just figured out that there are several open PR to actually get the solito starter up and running. After manually going through the PRs I got the template up and running. I think best would be to merge the open PRs that things like image paths and package.json is working out of the box.

[2022-08-14 03:51] Viraj-10 commented on #5259
Hi @rohankleem, Can you share your environment details? Please run `npx native-base-info` in your project and paste the logs.

[2022-08-14 03:53] Viraj-10 commented on #5075
Hi @dohomi, Thanks for letting us know. We will merge them soon after testing.

[2022-08-14 03:57] Viraj-10 commented on #5271
Hi @ConnorMarble, Tag is an unreleased component please avoid using it in the production app.

[2022-08-14 05:10] rohankleem commented on #5259
@Viraj-10

lSystem:
    OS: macOS 12.5
    CPU: (4) x64 Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz
    Memory: 16.45 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 18.7.0 - /usr/local/bin/node
    Yarn: 1.22.19 - /usr/local/bin/yarn
    npm: 8.17.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: DriverKit 21.4, iOS 15.5, macO

[2022-08-14 05:17] Viraj-10 commented on #5259
@rohankleem, Can you please try installing template with node v16.13.0. Use nvm to switch between node versions. We will soon solve the problem for node  v16.14 and above.

[2022-08-14 05:34] Viraj-10 commented on #5269
Hi @BenFungInUK, Thanks for reporting the issue. We will look into the issue.

[2022-08-14 06:57] dohomi commented on #5249
@Viraj-10 the upgrade of react-native-web and expo hasn't fixed the compatibility issue with Next 12.2.x
As described above there seems to be some changes in _document and other places which breaks the Next compilation.

[2022-08-14 07:41] dohomi commented on #4782
any update on this issue?

[2022-08-14 08:02] dohomi commented on #4665
I would love to get Storybook + native-base work side by side. currently I hit a brick seems that internal structure on how to do styles is not supported with Storybook

[2022-08-14 09:15] dohomi commented on #5075
@Viraj-10 currently the version breaks the Storybook example with expo 46. It seems to be fixed for expo but not in combination with Storybook

[2022-08-14 12:09] JambaGoDevCode commented on #4303
I've solve this... click on link

https://stackoverflow.com/a/73043985/17818034

[2022-08-14 14:02] uit2712 commented on #4999
I have same this problem when I run on my localhost:3000 for React app, but it works when I deploy code to Netlify:
- Project environment: React
- Platform: Web
- NativeBase version: 3.4.12
- Node Version: v16.16.0
- OS: Mac OS Monterey version 12.5
- Package Manager: yarn

Please check this problem.
Thank you in advanced

[2022-08-14 19:12] liebharc commented on #5249
@Viraj-10 , apologies if this doesn't belong in this discussion, but since you've mentioned 3.4.12 and react-native-web: The latest native-base with react-native-web gives an error:

`Module not found: Can't resolve 'react-native-web/dist/exports/StyleSheet/createCompileableStyle'`

Steps to reproduce:

1. git checkout https://github.com/liebharc/nativebase-nextjs-input
2. cd nativebase-nextjs-inp

[2022-08-14 23:50] johnf commented on #5075
@Viraj-10 Which of the changes in 3.4.12 was supposed to fix the issue?

I'm still seeing the same problem

[code]

[2022-08-15 00:00] johnf commented on #5075
nm. Just realised the changes are in the alpha and not the release version.
I've tested the alpha and all compiles nicely now.
Will post again if I notice any other issues

[2022-08-15 01:15] dohomi commented on #5249
@liebharc 3.4.12 includes not changes made in v3.4.12-alpha.1 - thats quite confusing but the PR is not merged into master yet. @Viraj-10 it might be better to use a different name for PR pre-releases which are not connecting to SEMVER versioning because me and a few other users bumped into the same issue that we though 3.4.12 will include the alpha.1 changes.

[2022-08-15 04:33] GollyJer commented on #5217
I think you may have posted in the wrong thread.

[2022-08-15 07:18] liebharc commented on #5249
@dohomi , ah thanks for the clarification. I was able to get this combination running:

- native-base 3.4.12-alpha.1
- react-native-web: 0.18.7
- next: 12.2.1

For this I removed the native base adapter for the moment and changed my _document.js to:

[code]

There are two issues I found with this:

1. "Select" components running in android native throw an error: `TypeError: undefined is not an obj

[2022-08-15 10:21] kirgy commented on #4931
Also suffering this issue; all theme variants are non-functional above version `3.3.12`, downgrading to `"native-base": "3.3.12"` works around the problem.

[2022-08-15 10:59] rohankleem commented on #5259
@Viraj-10, changed my running node version to 16.3.0 and tried to install NativeBase again, got similar error. When you say "installing template", do you mean re-install the react-native app init using the with Native Base template? The current application I have installed React Native on it's own and the I want to add this to an existing project.

Downloading and installing node v16.3.0...
Downlo

[2022-08-16 02:46] huynhtastic commented on #5271
@Viraj-10 this may be related, but I am trying to change a `Button`'s `borderColor`. It works if I change the component's `borderColor` like so:

<img width="408" alt="Screen Shot 2022-08-15 at 9 41 12 PM" src="https://user-images.githubusercontent.com/9666260/184786871-5abd509a-98f2-4eb2-9105-34399cbdf68b.png">

<img width="682" alt="Screen Shot 2022-08-15 at 9 40 56 PM" src="https://user-images.

[2022-08-16 08:21] RicardoBrito1938 commented on #5075
Just commenting here, indeed the best option for now is to keep with react-native-web 17, i will be checking in how i can help with some pr

[2022-08-16 08:31] Viraj-10 commented on #5075
Hi All,  current PR in v3.4.12-alpha is temporary fix. We are working on stable fix which doesn't require rnw private files. we have released a alpha for those who wants to checkout expo 46 and rnw 0.18.

[2022-08-16 11:42] ankit-tailor commented on #4978
Hey, This requires some architectural changes in the toast. We are working on it. Will keep you updated.

[2022-08-17 01:52] ziad-floosi opened #5272 "Modal does not work in React Strict Mode"
### Description

When using React StrictMode, Modals never appear

### CodeSandbox/Snack link

N/A

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.0

### Platform

- [ ] Android
- [X] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-08-17 13:36] ankit-tailor commented on #5216
Hey, Thanks for reporting the issue. This issue is fixed in `v3.4.13`.

[2022-08-17 13:36] #5216 closed

[2022-08-17 13:38] ankit-tailor commented on #4978
Hey, This issue is fixed in `v3.4.13`.

[2022-08-17 13:38] #4978 closed

[2022-08-17 13:41] ankit-tailor commented on #4931
Hey everyone, Select variant is fixed in `v3.4.13`. Let me know if it works for you.

[2022-08-17 13:43] ricohumme commented on #4931
When you say Select variant, is it just the select variant, or all variants which are fixed, like the Text variant case I mentioned?

[2022-08-17 13:52] ankit-tailor commented on #4931
Other variants are working fine, Can you share snack link or code snippet for Text variant?

[2022-08-17 13:56] thacherhussain commented on #5098
+1

[2022-08-18 06:07] ankit-tailor commented on #5258
Hey @ng520tx @Rutger, This issue is fixed in `3.4.12`.

[2022-08-18 06:07] #5258 closed

[2022-08-18 07:35] PragyaSingla commented on #5271
@huynhtastic Even I am facing same issue after updating native-base to 3.4.13.

Customizing components are not working. In below code, only 'solid' variant is working. It is changing font color but 'outline' and 'ghost' are not changing font color to 'black'.

Same code was working in  "native-base": "^3.3.7".

[code]

Thanks

[2022-08-18 08:07] Linkmetal commented on #5208
Same problem here! Any solution or workaround on this?

[2022-08-18 08:07] Linkmetal commented on #5107
Same issue here!! Any workaround on this??

[2022-08-18 09:28] ahl-trifork opened #5279 "Incorrect type in ImageStatics interface"
### Description

The type to be correct, so that typescript can correctly can identify the type

### CodeSandbox/Snack link

https://snack.expo.dev/ORETTzlFd

### Steps to reproduce

1. Go to line 6 and hover over getSize method.
2. See incorrect documentation for method

### NativeBase Version

3.4.6

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No r

[2022-08-18 09:41] santomegonzalo opened #5280 "Align Checkbox and Radio button icons to the top"
### Description

This library is fantastic! But our designs are a little different... we have some exceptional cases where the text for a radio button and checkbox is long, and the default of the library is to centre the "icons" in the middle, but we want to show it at the top of the container... is there any way of doing this?

### Problem Statement

I can not make this work even using `_stack`

[2022-08-18 10:14] ankit-tailor commented on #5271
Hi Everyone, This is the original issue #4951, You can follow this approach.

[2022-08-18 13:27] olivan94 commented on #3811
fontWeight prop still not working with custom fonts on Android

[2022-08-18 17:33] codaDevDan commented on #5136
Also having this issue for web using 3.4.7.

[2022-08-18 23:30] namlq93 opened #5281 "`colorScheme` is not working inside `_light` or `_dark`"
### Description

`colorScheme` is not working inside `_light` or `_dark`

### CodeSandbox/Snack link

https://snack.expo.dev/@lion5893/button-color-dark-mode

### Steps to reproduce

See the `Test` button of my example, I've set `colorScheme` as `red`, but it's not working.

![image](https://user-images.githubusercontent.com/41458989/185512427-4057f948-9411-4846-9926-e4de76ce1b14.png)

![image](ht

[2022-08-18 23:45] huynhtastic commented on #4951
@Viraj-10 what is mandatory for us to pass in `_light` and `_dark`? Do we need to do this for all custom theming or just placeholderTextColor?

[2022-08-19 04:28] AlexCernik commented on #5279
I add this problem to your report :).

[code]

Image component of RN this work and native base this does not work.

[2022-08-19 06:03] himgodfreyho opened #5283 "Model collapses and not able to scroll if the screen height is low"
### Description

Model collapses and not able to scroll if the screen height is low

### CodeSandbox/Snack link

https://docs.nativebase.io/modal

### Steps to reproduce

1. Go to the doc link using web (https://docs.nativebase.io/modal)
2. Resize the browser height to a low value
3. Open the modal
![Screenshot 2022-08-19 at 13 57 42](https://user-images.githubusercontent.com/10152000/185553329-4c

[2022-08-19 06:11] rvkayy commented on #4273
Any update on this?

[2022-08-19 07:03] Abhineetk47 commented on #5210
We can customize the size of the switch component by using the transform property in the style object
<Switch  style={{ transform: [{ scaleX: 1.8 }, { scaleY: 1.8 }] }}  />

[2022-08-19 07:03] #5210 closed

[2022-08-19 09:35] PragyaSingla opened #5284 "Arrow Forward Icon issue"
### Description

After updating native-base to 3.4.13, arrow forward icon is getting cropped.

### CodeSandbox/Snack link

https://snack.expo.dev/Rz0f7tZ9g

### Steps to reproduce

In below image, icon is getting cropped from right.

![image](https://user-images.githubusercontent.com/16425199/185564784-d8c7963b-2fbd-4950-a408-b16168255218.png)

Code Snippet:

`
<Button
   size={'lg'}
   variant={'

[2022-08-19 10:26] lillosway commented on #4153
Thanks @surajahmed.

Same here. any suggestion or workaround for the time being?

[2022-08-19 12:18] AlixH commented on #3947
I am still seeing the warning for the checbox at every render, with version 3.4.13

[2022-08-19 13:17] DanishPatel3014 commented on #5215
Same Issue! I used the ```react-native's``` ```<Text>``` component and it worked fine and the fontFamily was also changed.
But when I used any ```native-base``` component, It didn't changed the fontFamily.
Please fix this issue.

[2022-08-19 14:18] jontewks commented on #4999
Just ran into this as well, thanks for that last comment about deployed code working. I'm using nextjs and when I do `yarn dev` I also cannot get a modal to show, but when I run the build and serve the built files, it works normally.

[2022-08-19 19:16] zTaaso commented on #4728
@surajahmed I'm having the same issue. I tried updating to `3.4.6` and it broke my entire application. Isn't there a workaround for it?

[2022-08-19 19:42] Luca-Settle commented on #5237
@harish-narra you found any patch or something? this is a huge incompatibility for expo sdk 46

[2022-08-19 22:13] olamigokayphils commented on #4153
FIX: upgrade to version 3.4.6 (or higher)

Replace `import { Modal } from "react-native";`
with `import { Modal } from 'native-base';`

**Select** should now render above modal on iOS. https://docs.nativebase.io/select

[2022-08-19 23:29] CodySwannGT opened #5285 "Modals appear hidden with certain React Navigation screens"
### Description

The current implementation places the portal outside of the current screen. If, for example, you try to open an AlertDialog on a "formSheet" screen, you can't see the AlertDialog

### CodeSandbox/Snack link

n/a

### Steps to reproduce

Try to open an AlertDialog or Modal on a React Navigation screen that was opened as a formSheet (or modal).

To be clear, this is only on Android

[2022-08-20 13:47] focux opened #5286 "System color mode doesn't react to changes"
### Description

When you set `useSystemColorMode` to true, if you start the app, it does use the system color mode as the initial theme but once you toggle the system color mode, it doesn't react to those changes. You gotta quit and re-open the app in order for it to work.

### CodeSandbox/Snack link

N/A

### Steps to reproduce

1. Enable `useSystemColorMode` on your config
2. Start your app
3.

[2022-08-21 11:46] icgarlin commented on #3856
I have the same problem as @joseortiz9

[2022-08-21 14:06] pors commented on #4931
The `Heading` also doesn't work anymore.

[2022-08-21 16:13] dcassese commented on #4543
Any update.  I have this warning using <ThreeDotIcon /> on 3.4.13

[2022-08-22 07:06] Viraj-10 commented on #3856
Hi, try Following code
[code]
for now, we understand it's a difficult API we will try to fix it.

[2022-08-22 07:34] ricohumme commented on #4931
@pors Does is still work for you on 3.3.12 ?

[2022-08-22 08:22] d3v2a commented on #2947
The problem is in Picker.ios.js L 214 FlatList is in a Content which is a scrollable component, remove the content component in dist et it's ok

[2022-08-22 09:21] Viraj-10 commented on #5286
Hi @focux, can you provide a snack link?

[2022-08-22 09:22] Viraj-10 commented on #5285
Hi @CodySwannGT, Can you provide a snack link?

[2022-08-22 09:22] Viraj-10 commented on #5284
Hi @PragyaSingla, Thanks for reporting this issue. We will fix it soon.

[2022-08-22 10:20] CodySwannGT commented on #5285
@Viraj-10 sorry. I don't have one, but it's very easy to reproduce. Pseudo code below:

[code]

Then, in ``InvitationsNew``, try to open an alertdialog or a modal from native base. It opens BEHIND ``InvitationsNew``. You can see it briefly when you close the formsheet modal.

[2022-08-22 11:08] ricohumme commented on #4581
Hi, thanks for the update. Could this also be released in the 3.3 branch?
3.4.x has (I believe to be) some unresolved issues making it hard for me to upgrade to that.

[2022-08-22 11:13] Viraj-10 commented on #4581
Hi @ricohumme, Can you elaborate on the issues you are facing? we are happy to help you migrate from `v3.3` to `v3.4`.

[2022-08-22 11:17] ricohumme commented on #4581
Hi @Viraj-10 My issue lies with https://github.com/GeekyAnts/NativeBase/issues/4931
As I am not the only one mentioning this, I think something is off.
This is currently preventing me from upgrading

[2022-08-22 11:24] Viraj-10 commented on #4581
@ricohumme, We are currently working on this issue and it will be resolved and released by end of this week.

[2022-08-22 11:38] Viraj-10 commented on #4931
Hi @pors,
[code]
try using above code.

[2022-08-22 12:23] theraku commented on #4302
Any new news ?

[2022-08-22 12:41] rveruna commented on #3307
I had the same error. I used
`cd ios && rm -rf Podfile.lock ./Pods && cd ..`
and
`cd ios && pod install && cd ..`
to clean up ios and
`cd android && ./gradlew clean && cd ..`
to clean up android.

this way android worked fine and ios only gave me the wheel with items, but when you clicked on any item, nothing happened. I am not sure why there is functionality missing on ios or is im missing someth

[2022-08-22 14:10] Viraj-10 commented on #5286
Hi @Rutger, Can you provide a snack link?

[2022-08-22 14:27] Rutger commented on #5286
Sure! I've added a Snack link to my original issue: https://github.com/GeekyAnts/NativeBase/issues/5260#issuecomment-1222439062

[2022-08-22 14:42] pors commented on #4931
That works, thanks!

[2022-08-22 14:43] pors commented on #4931
I'm pretty sure it did!

[2022-08-23 04:25] dylan-westbury opened #5293 "Is it possible"
### Description

Is it possible to get the styles of a component from the theme's design token?

For example, below the user is setting styles for the input below.

[code]

Where it would make more sense to get the styles from the theme's design token for a TextInput (e.g. outlined text input variant).

[code]

I have tried tried useToken, but I can't actually access the styles I believe

`const [

[2022-08-23 06:21] Viraj-10 commented on #4951
Hi @huynhtastic, for now, it's for all the colour-specific props. We are working on this issue. It will be fixed in an upcoming release.

[2022-08-23 09:42] anazaim77 opened #5295 "Nested text issue on iOS platform"
### Description

appearance on iOS is different from android and web

### CodeSandbox/Snack link

https://codesandbox.io/s/practical-night-4uq15g?file=/src/components/Example.tsx

### Steps to reproduce

Execute this following code
[code]

### NativeBase Version

3.4.4

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Informat

[2022-08-23 09:53] DavidTaylor96 commented on #5006
Is there any more information on this? I have recently updated my expo SDK to 45 and now my app is crashing. I don't have any console errors or warnings and when I run expo doctor everything comes back as ok. The only difference I can see when trying to open the app is that all the styles from native-base aren't working. So, I think the issue is coming from there. Does anyone know if native-base i

[2022-08-23 10:10] NilsBaumgartner1994 commented on #4964
Hi, this error still persists.

[2022-08-23 10:11] NilsBaumgartner1994 commented on #4964
{
	"private": true,
	"name": "rocketmeals",
	"version": "1.0.0",
	"homepage": "./",
	"config": {
		"codepush_ios": "FireboltCasters/RocketMealsDemo-iOS",
		"codepush_android": "FireboltCasters/RocketMealsDemo-Android"
	},
	"scripts": {
		"start": "react-native start",
		"preandroid": "npm run prebuild",
		"android": "npm run prebuild && cd ./android && ./gradlew clean && cd .. && react-native run-

[2022-08-23 11:45] AshwiniKumar007 commented on #5283
Thanks for reporting @himgodfreyho . We will look into this.

[2022-08-23 11:47] ankit-tailor commented on #5268
Hey @namlq93, Thanks for reporting the issue. We'll fix it.

[2022-08-23 11:47] AshwiniKumar007 commented on #5281
Thanks for reporting @namlq93. We are working on this and will update you at the earliest

[2022-08-23 11:49] AshwiniKumar007 commented on #5272
Thanks for reporting @ziad-floosi. We will check this from our end and will update you.

[2022-08-23 12:11] Viraj-10 commented on #5280
Hi @santomegonzalo, Property should `alignItems: 'flex-start'`
[code]

[2022-08-23 12:37] Viraj-10 commented on #5264
Hi @darrenkeen, Thanks for reporting the issue. we will look into it.

[2022-08-23 18:37] usmaniqbal998 commented on #5217
native base measure responsiveness with respect to width . what if we want to measure it with respect to height of device ? how would that work ? what if I want to add breakpoints according to device height ?

[2022-08-23 19:46] admehta01 opened #5296 "Link not aligning with Text"
### Description

Link not aligning with Text

### CodeSandbox/Snack link

https://snack.expo.dev/@admehta01/690937?platform=android

### Steps to reproduce

Use <Link> with <Text> or <Heading>.

### NativeBase Version

3.4.0-rc.1

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

Note how "Read More" is not aligned

[2022-08-23 23:01] johnf commented on #3908
@surajahmed Can this be reopened?
I'm using path-package to basically bring https://github.com/GeekyAnts/NativeBase/pull/3592/files back in.
I'm simplifying it as I want it all the time, not animated in on focus.

Let me know if you want me to create a PR for it

[2022-08-24 06:21] mohammadbrzbrz72 opened #5298 "React native CLI and native base Unable to resolve dependency tree"
### Description

I can't install native base in my react-native project

### CodeSandbox/Snack link

https://codesandbox.io

### Steps to reproduce

_No response_

### NativeBase Version

3.4.x

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

[code]

## package.json
[code]

[2022-08-24 06:27] mohammadbrzbrz72 commented on #5298
The issue fix by this command:  :D

npm in --save native-base --force

[2022-08-24 06:40] Viraj-10 commented on #5293
Hi @dylan-westbury, although it's a good idea. not sure if we should do that. cause it contains styling specific to Input which is designed for NB Input. What I would suggest is to pass a second argument component theme to the factory function which you can copy from NativeBase `input.ts` file. then override inline where ever you want to.

[2022-08-24 06:40] Viraj-10 commented on #5293
converting this to feature request discussion.

[2022-08-24 06:55] OPITOs commented on #4770
I confirm, I have a similar problem of native-base components freezing on screen rotation, mainly on iOS.

[2022-08-24 10:10] maaliHasan commented on #4982
I still have this issue! rest the npm cache and clean the gradlew didn't help me! Any idea please?

[2022-08-24 10:28] Viraj-10 commented on #5298
Hi @mohammadbrzbrz72, This Issue is caused after Node v16.14 and later. for now please try with node v16.13 using nvm.

[2022-08-24 12:41] brunolcarlos commented on #3939
Create a function with

[code]

After call this inside of the function where is your Actionsheet

` const bottomInset = useKeyboardBottomInset();`

And then put the

[code]

[2022-08-24 12:55] ankit-tailor commented on #5295
Hey @anazaim77, I wasn't able to reproduce the issue. Can please try using the latest version?

[2022-08-24 13:00] ankit-tailor commented on #5296
Hey @admehta01, Thanks for reporting the issue. We'll fix it.

[2022-08-25 02:18] TVGSoft opened #5301 "Stack doesn't skip space with custom component return a fragment"
### Description

Stack doesn't skip space with custom component return a fragment

### CodeSandbox/Snack link

https://snack.expo.dev/@giaptran/biased-cookie

### Steps to reproduce

const CustomBox = (props: CustomBoxPops) => {
  const { visible, title, ...rest } = props;

  if (!visible) {
    return <React.Fragment />;
  }

  return <Center {...rest}>{title}</Center>;
};

In case a custom compo

[2022-08-25 06:02] ankit-tailor commented on #5301
Hey @TVGSoft, Thanks for reporting the issue. We'll fix it.

[2022-08-25 15:24] dlombardi opened #5302 "Component variants not applying text color from baseStyle or defaultProps"
### Description

Component variants are not applying `color` prop. If you look at the [NativeBase documentation for variants](https://docs.nativebase.io/customizing-components#h2-customizing-base-style) you can even experiment with applying a variant to the Text example with a color and it won't be applied.

### CodeSandbox/Snack link

https://docs.nativebase.io/customizing-components#h2-customizi

[2022-08-25 15:51] dlombardi commented on #5302
I've also discovered the same thing applies to `padding` or `p` for input variants.  The `p` value is not being applied

[2022-08-25 17:04] Klytoc commented on #5098
+1 --react 0.68 native base 3.4.12

[2022-08-25 18:22] dlombardi commented on #5302
Also seeing that `_filledTrack` is no longer working with the `Progress` component

[2022-08-26 02:51] zoie0312 commented on #4429
I'm also having this error with ThreeDotsIcon
`<Center size="8" bg="trueGray.200" borderRadius="20">
                <ThreeDotsIcon
                    size="sm"
                    onPress={() => navigation.navigate("WalletDetail")}
                />
            </Center>`
The error msg,

Check the render method of `ForwardRef(createdIcon)`

[2022-08-26 06:44] Elvin1993 commented on #4931
change /node_modules/native-base/src/components/primitives/Select/Select.tsx
and add this code can fixed Select variant bug
 variant={props.variant}
[code]

[2022-08-26 09:58] anthodemorais opened #5303 "It is not possible to override the box-shadow color of a button's focus state"
### Description

I want to be able to use a different color than the primary color for the box-shadow around a button when it's focused.

### CodeSandbox/Snack link

I have no link

### Steps to reproduce

1. Create a basic button
2. Focus it by pressing "Tab" until the button displays a box-shadow around it
3. Extending the theme to change the color of that box-shadow doesn't seem to work:
[code]

[2022-08-26 12:09] ankit-tailor commented on #5301
Hey, Instead of the fragment you can return `null` if you are not returning anything. This is recommended by [react](https://reactjs.org/docs/conditional-rendering.html#preventing-component-from-rendering).

[2022-08-26 18:21] dlombardi commented on #5302
This is happening with Expo SDK 46 BTW!

[2022-08-26 18:45] dlombardi commented on #4167
This is still happening

[2022-08-27 07:21] MuflahNasir commented on #4273
When are we expecting a permanent fix on this issue?

[2022-08-27 11:47] dylan-westbury commented on #4467
I think `setColorMode` must be used as child of `NativeBaseProvider`

[2022-08-27 14:14] rafamanzo opened #5306 "Skeleton component animation keeps running in backgroud after finished loading"
### Description

After adding the Skeleton component, my detox tests started to hang because there are animations running.

### CodeSandbox/Snack link

It is a issue that only happen with detox running.

### Steps to reproduce

1. Add a Skeleton to the code
2. Run detox tests

### NativeBase Version

3.4.13

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

[2022-08-28 02:15] bjtu1133 commented on #5298
That does not work form me, I tried 16.13 and 15.14, same error.

[2022-08-28 20:33] Swiftwork opened #5307 "Cannot customize component theme for `Fab`"
### Description

Assumption is that it should be possible to override styles only on Fab and not for all Buttons.

### CodeSandbox/Snack link

https://snack.expo.dev/@swiftwork/theme-override-issue

### Steps to reproduce

_No response_

### NativeBase Version

3.4.13

### Platform

- [X] Android
- [X] CRA
- [X] Expo
- [X] iOS
- [X] Next

### Other Platform

_No response_

### Additional Informati

[2022-08-29 05:54] Viraj-10 commented on #5307
Hi @Swiftwork, Thanks for reporting the issue. We will look into it.

[2022-08-29 06:41] Viraj-10 commented on #5306
Hi @rafamanzo, Can you provide the test case which you have written?

[2022-08-29 07:23] biapar opened #5308 "Cannot install into existing React Native project start from React Native seed"
### Description

I try to install into existing RN project start from React Native seed

### CodeSandbox/Snack link

N/A

### Steps to reproduce

Hi, I try to install into existing RN project start from React Native seed.
[code]
I've this compatibility error:

<img width="709" alt="image" src="https://user-images.githubusercontent.com/661517/187146027-b47f6507-18ec-4baa-b256-accd55550e5e.png">

##

[2022-08-29 11:41] hirvesh commented on #4706
+1 for this issue. Observing same.

[2022-08-29 13:39] ankit-tailor commented on #5301
Hey @TVGSoft,  We'll fix this issue.

[2022-08-29 14:16] javier-zabala-lenio commented on #4764
This is still an issue

[2022-08-29 15:38] hirvesh commented on #5255
Hey guys! Any progress on this? 😄

[2022-08-29 18:57] Swiftwork commented on #5307
Based on the answer from discord

Part of the issue was the usage of `Fab` rather than `FAB` for override. However, there is still the issue that states such as `_hover` and `_pressed` don't override for the `Fab` component. I have updated the snack to include this.

[2022-08-29 19:11] Viraj-10 commented on #5307
Hi @Swiftwork, `_pressed` is working and you have written `_hovered` that's why hover is not working. use `_hover` it will work.

[2022-08-29 19:21] Swiftwork commented on #5307
@Viraj-10 My apologies, I corrected the `_hovered` -> `_hover` typo but I must be seeing something different than you. When hovering or pressing the `FAB` button in the bottom right corner it turns blue (primary) rather than the overridden pink (secondary) rules.

[2022-08-29 19:26] Viraj-10 commented on #5307
Hi @Swiftwork, Thanks for that this should be happing. got it we will do the `hotfix`.

[2022-08-29 20:25] alexjs87 commented on #4796
@surajahmed , thanks!

[2022-08-29 22:06] leighton-tidwell commented on #5308
I am also getting this exact same issue. The same steps to recreate it as well.

[2022-08-29 22:20] leighton-tidwell commented on #5298
This worked for allowing me to get past the `npm i` problems.

[2022-08-30 05:57] mamadfar commented on #4982
@maaliHasan every time you add a new package or you make a critical change, you must rebuild your app and then clean the gradlew and I assure you that it will work.

[2022-08-30 10:57] joviksdev commented on #4273
have Similar issues, which only occurs when running ios but for android, I didn't get this error. Any update on this?

[2022-08-30 12:17] ankit-tailor commented on #5255
Yes, We are working on it. It will be fixed in the next release.

[2022-08-30 16:26] bidah opened #5314 "Solito native base ts template with Link functionality broken"
### Description

can't navigate to user screen with default setup

### CodeSandbox/Snack link

https://snack.expo.dev/@mdrehman/nativebase-template

### Steps to reproduce

1. clone https://github.com/GeekyAnts/nativebase-templates.git
2. cd solito-universal-app-template-nativebase-typescript
3. yarn install
4. yarn native
5. open IOS simulator
6. click on `Open User Details`

### NativeBase Versi

[2022-08-30 19:36] biapar commented on #5308
Have you any news?

[2022-08-30 19:45] leighton-tidwell commented on #5308
No news, also figured out that if you `npm -i --force` it will break everything.

[2022-08-31 00:26] minnam commented on #4444
I'm still having the same issue on 3.4.13

`
    variants: {
        secondary: (colorScheme) => {
          return {
            bg: 'grey.100', // works
            rounded: 'md', // works
            borderWidth: 1, // works
            borderColor: 'red.300', // not working
            _focus: {
              borderWidth: 1, // works
            },
          }
        },
      },
`

[2022-08-31 06:38] ankit-tailor commented on #5314
Hey @bidah, This [PR](https://github.com/GeekyAnts/nativebase-templates/pull/64) will fix this issue.

[2022-08-31 06:53] #5314 closed

[2022-08-31 07:27] biapar commented on #5308
No. Don't use the force option.

[2022-08-31 10:55] ankit-tailor commented on #5307
Hi @Swiftwork, Thanks for reporting the issue. This is an architectural problem. It needs some architectural level changes. We are working on it.

FAB uses `Button` internally. so if you want to add a variant for FAB you can use the below workaround for now.

[code]

[2022-08-31 13:32] ankit-tailor commented on #5303
Hey @anthodemorais, This is a known issue. This requires some architectural changes. We are working on it. But for now, we have a workaround. `Button` internally uses `Pressable`. So you need to define this theme for `Pressable` instead of `Button`.

[2022-08-31 13:59] Swiftwork commented on #5307
@ankit-tailor Thank you for looking into it. I suspected that might be the case. I am creating a custom `ToggleButton` component based on `Button` and attempting to keep it in line with how other `native-base` components are written so it can be themed. I looked at `Fab` for inspiration as I know it is a composite of `Button`. I suspect that it has to do with the fact that hooks such as `useIsPres

[2022-08-31 14:59] uen commented on #4302
If you want a performance boost for your most expensive screens/components without completely stripping native-base from your project then the answer from @foyarash is the way to go. I don't have quantifiable results but I can say it made our app a shit load faster

[2022-09-01 05:15] PragyaSingla commented on #5284
Thanks @Viraj-10  for consideration. Let me know once PR would be merged.

[2022-09-01 11:11] ankit-tailor commented on #5308
Hey, Thanks for reporting the issue. We'll look into it.

[2022-09-01 11:19] rohankleem commented on #5259
I have resorted to setting up an app using your template version, but seems to have setup the app with react native -v 0.64.0, 5 behind the latest version 0.69

I notice now this has been raised elsewhere now too.

A reply on whether recent versions of react native and node can be used or not would be appreciated , and if not when. Thanks.

[2022-09-01 11:20] rohankleem commented on #5308
I reported this 18 days ago, and has since been unresolved https://github.com/GeekyAnts/NativeBase/issues/5259#issuecomment-1214278468

[2022-09-01 12:06] emi-sabathier commented on #1117
you saved me, thank you !

[2022-09-01 12:07] emi-sabathier commented on #1117
@rajan-keypress thank you !! perfect answer for my issue

[2022-09-02 03:42] AlanSzuszkiewicz-xpo commented on #5098
+1 -- react native 0.69.5 native base 3.4.13

[2022-09-02 11:28] HyperNovax commented on #5264
I have a different problem with a long text. The checkbox icon take all height of the screen.

![image](https://user-images.githubusercontent.com/32688405/188129314-570488fb-7a47-4bbc-9764-3975fa4241b9.png)

To resolve it, I add the style below :
[code]

[2022-09-02 12:53] anthodemorais commented on #5303
@ankit-tailor Thank you for your answer. It doesn't seem to work for me, I get the same issue. Here is what I tried to do:
[code]

I also tried defining the `style` directly inside `_focusVisible` but it doesn't work and I also tried removing `_focusVisible` and putting `_web` directly in the `Pressable` object.

Any idea why it's not working?

[2022-09-02 23:47] kleydon commented on #3860
KeyboardAvoidingView is still not working, despite the issue being automatically marked stale and closed.

[2022-09-03 10:26] nikgraf opened #5316 "unique "key" prop warning in the Avatar.Group"
### Description

When using the Avatar.Group you get this warning: Warning: Each child in a list should have a unique "key" prop.

### CodeSandbox/Snack link

https://codesandbox.io/s/headless-night-jgqqlc?file=/src/App.tsx

### Steps to reproduce

1. Open the page
2. Open the console and see the warning.

### NativeBase Version

3.4.13

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
-

[2022-09-03 18:48] jimpala commented on #3811
Still not working for me either, having to directly reference the name of the fontFamily at desired weight

[2022-09-05 04:52] copleykj commented on #5215
I'm definitely seeing this issue as well.

Adding to the triage, if I use anything specified in the fonts property of the theme as the value of the fontFamily prop of a Heading, or Text component the font isn't displayed properly on either iOS or Android. If i used the system name of the font, then the font will display properly only on iOS. If I change out NativeBase components for RN Text compon

[2022-09-05 06:29] ankit-tailor commented on #5316
Hey @nikgraf, Thanks for reporting the issue. We'll fix it.

[2022-09-05 17:58] Luca-Settle commented on #5075
"native-base": "~3.4.12-alpha",
this version should work with expo 46? my project is still crashing
`
Invariant Violation: ViewPropTypes has been removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'.`

[2022-09-05 18:37] zanyar3 commented on #5298
Not fixed for me

[2022-09-05 22:39] Shahzad6077 commented on #5308
Hey @biapar, any updates? or any workaround for this issue

[2022-09-06 06:34] ankit-tailor commented on #5174
Hi @GollyJer, With current changes, we are facing `SSR` issue so we are reverting this Pr. but instead of using declaratively, you can use it imperatively.

[code]

[2022-09-06 08:21] ankit-tailor commented on #5303
You need to pass it in `baseStyle`.

[code]

[2022-09-06 11:38] Viraj-10 commented on #5259
Hi @rohankleem, use `--legacy-peer-deps`.

[2022-09-06 12:22] michalpanek commented on #5075
Do you have plans to update version 2.x of native-base to fix this issue as well? Or the only option (besides some possible maybe existed hacks) to use expo sdk 46 is to upgrade from version 2.x to 3.x?

[2022-09-06 13:30] anthodemorais commented on #5303
@ankit-tailor it worked, thanks!

[2022-09-06 14:28] Viraj-10 commented on #5298
Hi All, Please refer https://github.com/GeekyAnts/NativeBase/issues/5308#issuecomment-1238033635 for this issue.

[2022-09-06 14:28] #5298 closed

[2022-09-06 14:45] biapar commented on #5308
Is't a workaround or fix?

[2022-09-06 15:00] MrVico commented on #5308
I wouldn't close this issue, using that command does not solve the problem!

[2022-09-06 20:02] GollyJer commented on #5174
@ankit-tailor The title of this issue is a bit misleading... it's not just about the Icons.
If you revert this change, responsiveness across the nativebase components will stop working.

I assume you're talking about the update to the `usePropsResolution` function. Is that correct?

[2022-09-06 20:42] ankit-tailor commented on #5174
@GollyJer  No, Responsiveness across components won't break. Just `variant`, `size`, and `colorScheme` will not be resolved responsively.  For that, you can use the above workaround.

[2022-09-07 03:43] Shahzad6077 commented on #5098
I'm getting the same warning

+1 -- react native 0.69.5 native base 3.4.13

[2022-09-07 10:59] elenitaex5 opened #5324 "Cannot remove outline line on focus in Input component"
### Description

I've done everything possible to change Input default props with theme. Mostly of elements have changed but input in fact have been created with a <View> around it with its same size. It <View> has an outline when input is focused (viewed in the inspector as a <div>) and nothing remove it.

### CodeSandbox/Snack link

https://codesandbox.io/s/javascript-forked-96v69s?file=/index.j

[2022-09-07 11:38] fleecmf commented on #4273
same with Popover

[2022-09-07 14:15] elenitaex5 opened #5326 "InputRightElement doesn't work on first click when is pressable."
### Description

It happens in your documentation too. For example in https://docs.nativebase.io/input#h3-password-input . If focus is outside the input it works well, doing action at first click, but the problem is when cursor is inside the input and you need to click on InputRightElement. First click doesn't works, Only "remove input focus". It happens with Button, ButtonIcon, Pressable and many

[2022-09-07 20:04] pkreipke commented on #3939
I get that this workaround works but has this been fixed in any version of NB?

[2022-09-07 20:33] pkreipke commented on #3939
And a note: this workaround mostly succeeds for NB modals covered up by the keyboard as well:

[code]

Except that the offset needs to be calculated using the current Y position of the modal, not just the height of the keyboard. The offset is usually much less than the keyboard height.

I didn't do that in the example above, I just hard coded a value after trial and error. The non-zero value from

[2022-09-08 07:09] surajahmed commented on #4273
This issue is fixed in this [PR](https://github.com/GeekyAnts/NativeBase/pull/5327). Going to merge and release it in the coming release. Thanks for your patience.

[2022-09-08 07:24] surajahmed commented on #3951
Hi @yotamishak.
We're changing the architecture of the overlay component. This is due to the conflict between the native overlay and our Portal component. We'll fix this in the coming release. Thanks for your patience.

[2022-09-08 07:36] surajahmed commented on #4303
@dimtim Thanks for the solution.
1. NativeBaseProvider should be at the root level of the react tree.
2. We cannot use `useTheme` hook (other NativeBase hooks as well) outside NativeBaseProvider.
Our App.js should look like this

[code]

Going to close this issue. Please feel free to reopen if you face any problems. Thanks ❤️

[2022-09-08 07:36] #4303 closed

[2022-09-08 12:11] roadnear commented on #4864
My workaround while waiting for the fix:
 - "native-base": "^3.4.13"
 - https://snack.expo.dev/ZeJ7_hzMU
[code]

[2022-09-09 06:32] MrVico commented on #5308
Hi @ankit-tailor ,
Do you have any news for us about this issue?
I don't think that using the `--legacy-peer-deps` should be the solution for this as it also makes a bunch of warnings emerge in the console when doing a simple `npm i`!

[2022-09-09 06:47] turnerguo commented on #5308
https://nativebase.io/roadmap
<img width="306" alt="image" src="https://user-images.githubusercontent.com/633880/189288078-3d936c7f-fefb-44ad-9786-bb5cb6c03dd1.png">

Looks like the latest expo SDK are not officially support yet.

[2022-09-09 07:35] goxr3plus opened #5334 "Unable to resolve "use-subscription" from "node_modules\native-base\src\core\color-mode\hooks.tsx""
### Description

Unable to resolve "use-subscription" from "node_modules\native-base\src\core\color-mode\hooks.tsx"

### CodeSandbox/Snack link

Just go from version 3.4.13 to 3.4.14

### Steps to reproduce

Just go from version 3.4.13 to 3.4.14

### NativeBase Version

3.4.14

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional

[2022-09-09 07:56] Viraj-10 commented on #5334
Hi @goxr3plus, Please delete and re-install node_modules. We have added some new dependencies.

[2022-09-09 07:58] Viraj-10 commented on #5302
This issue is fixed in `v3.4.14`.

[2022-09-09 07:58] #5302 closed

[2022-09-09 08:01] ankit-tailor commented on #5271
Hi Everyone, This issue is fixed in `3.4.14`.

[2022-09-09 08:01] #5271 closed

[2022-09-09 08:02] ankit-tailor commented on #5212
Hey, This issue is fixed in `3.4.14` version.

[2022-09-09 08:02] #5212 closed

[2022-09-09 08:03] ankit-tailor commented on #5316
Hey @nikgraf, This issue is fixed in `3.4.14`.

[2022-09-09 08:03] #5316 closed

[2022-09-09 08:03] #5286 closed

[2022-09-09 08:04] ankit-tailor commented on #5255
Hi Everyone, This issue is fixed in `3.4.14`.

[2022-09-09 08:04] #5255 closed

[2022-09-09 08:05] ankit-tailor commented on #5284
Hey @PragyaSingla, This issue is fixed in `3.4.14`.

[2022-09-09 08:05] #5284 closed

[2022-09-09 08:07] #5133 closed

[2022-09-09 08:10] ankit-tailor commented on #4273
Hi Everyone, Thanks for your patience. This issue is fixed in `3.4.14`.

[2022-09-09 08:10] #4273 closed

[2022-09-09 08:30] surajahmed commented on #4640
This issue is resolved in version `3.4.14`. Thank you.

[2022-09-09 08:30] #4640 closed

[2022-09-09 08:54] biapar commented on #5308
Also the last RN version.

[2022-09-09 10:43] atanaskanchev commented on #5334
Getting the same error even after a clean install

[2022-09-09 10:44] SrBrahma commented on #5255
Thanks!

[2022-09-09 11:04] ankit-tailor commented on #4706
Hi Everyone, This issue is fixed in `3.4.14`. Closing the issue for now, feel free to open it if you have any doubts.

[2022-09-09 11:04] #4706 closed

[2022-09-09 11:08] ankit-tailor commented on #4693
Hi @nadun-ibits ,
- React-Native [TextInput](https://reactnative.dev/docs/textinput#value) only accepts string values, but you can manipulate it using regex or some other methods.
- Radio takes a string as a value, a boolean can not be assigned to the radio. As per MDN doc it takes value as string on web as well. [Here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio#value) y

[2022-09-09 11:08] #4693 closed

[2022-09-09 11:28] ankit-tailor commented on #4672
Hi @TVGSoft @youniaogu, Closing this issue for now as `flexDirection` can be used instead of `direction`.

[2022-09-09 11:28] #4672 closed

[2022-09-09 11:44] ankit-tailor commented on #4678
Hi Everyone, Thanks for your patience. This issue is fixed in latest version `3.4.11`. Closing the issue for now, feel free to re-open it if you have any doubt.

[2022-09-09 11:49] ankit-tailor commented on #5326
Hey @elenitaex5, Thanks for reporting the issue. This [PR](https://github.com/GeekyAnts/NativeBase/pull/5338) will fix this issue.

[2022-09-09 12:09] ankit-tailor commented on #5324
Hey @elenitaex5, You need to pass that inside the `_stack` pseudo prop as this outline is being applied on `Stack` internally. Let me know if this works for you.

[code]

[2022-09-09 12:17] NensiKasundra commented on #5334
Yes getting the same issue with the react-native 0.70 project and react-native-reanimated 3.0.0-rc.2

[2022-09-09 13:51] ankit-tailor commented on #5326
Hey, This issue is fixed in `3.4.15`.

[2022-09-09 13:53] ankit-tailor commented on #4720
Hey @zhumingcheng697, Thanks for your investigation. This issue is fixed in `3.4.15`.

[2022-09-09 13:53] #4720 closed

[2022-09-09 13:55] #5334 closed

[2022-09-09 13:56] ankit-tailor commented on #4839
Hey @aplokultran, `colorScheme` whole color palette object ranges from 50 to 900. You can not use singleton color as `colorScheme` as internally we are using color palette shades.

Closing this issue for now, feel free to re-open it if you have any doubts.

[2022-09-09 13:56] #4839 closed

[2022-09-09 13:57] NensiKasundra commented on #5334
@Viraj-10  in which version can you please mention here? as I'm using this with react-native 0.70 and native-base 3.4.14

[2022-09-09 13:58] ankit-tailor commented on #5324
Closing this issue for now, let me know if this works for you. Feel free to re-open it if you have any doubts.

[2022-09-09 13:58] #5324 closed

[2022-09-09 13:59] ankit-tailor commented on #4951
Hi everyone, Thanks for your patience. This issue is fixed in `3.4.15`.

[2022-09-09 13:59] #4951 closed

[2022-09-09 18:01] Alpacora commented on #5272
I had the same problem, waiting for awsers. Thanks!

[2022-09-09 18:03] Alpacora commented on #4999
Fellas try to remove React.StrictMode from your index file, probably will resolve but this is a bug....

[2022-09-09 20:30] hirehouse opened #5342 "iOS Textarea: cursor is in the middle"
### Description

iOS Textarea: cursor is in the middle

### CodeSandbox/Snack link

https://snack.expo.dev/@hirehouse/465fa1?platform=ios

### Steps to reproduce

TextArea component in iOS has the cursor and placeholder in the middle of the input.

### NativeBase Version

3.4.0

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional

[2022-09-09 20:34] hirehouse commented on #5342
Upgraded to version 3.4.15 and it looks like it is fixed! Thank you!

[2022-09-09 20:34] #5342 closed

[2022-09-09 20:48] kpbochenek commented on #4720
@ankit-tailor is `3.4.15` already in docs?
https://docs.nativebase.io/input#h3-password-input
checked `3.4.x` or `next` and they both still have this issue but it might be that docs were not rerendered yet for new version?

[2022-09-09 21:20] smeads-sweater opened #5343 "Custom variants not working on Heading component"
### Description

Custom variants extending the theme for the Heading component aren't working

### CodeSandbox/Snack link

https://snack.expo.dev/@smeads/nativebase-template

### Steps to reproduce

1. Try using the `variant` prop on the `Heading` component.
2. Using the `size` prop works as expected.

### NativeBase Version

3.4.15

### Platform

- [X] Android
- [X] CRA
- [ ] Expo
- [X] iOS
- [ ]

[2022-09-09 22:29] smeads-sweater commented on #5343
I've been working with this a bit more and the variant does appear to work, but it doesn't respect the `fontSize`. If I add a `color` property to one of the `Heading` variants the color will reflect as expected, but the size will not.

[code]

[2022-09-10 05:45] mikeRChambers610 commented on #3114
WHAT IS THE UPDATE?? so many issues with expo and react native that they just leave us hanging with breaking changes. So tired of it.

[2022-09-11 03:02] evulse commented on #5308
Might help someone but I just installed react-dom to the expected version prior to install to avoid it trying to install 18.2.0

```npm i react-dom@18.0.0 ```

[2022-09-11 06:55] MrVico commented on #5308
@evulse That allowed you to run `npm i native-base` without getting errors?

I still get the same error which seems normal as it's trying to install the highest version of react dom due to the `^`

npm ERR! peer react@"^18.2.0" from react-dom@18.2.0
npm ERR! node_modules/react-dom
npm ERR!   react-dom@"^18.0.0" from the root project
npm ERR!   peer react-dom@"*" from native-base@3.4.15
npm ERR!

[2022-09-11 08:26] evulse commented on #5308
@MrVico It looks like it's still trying to install `18.2.0` maybe because it's already installed or maybe because it's just because your package file has `^18.0.0`

Just go in to your package.json and change it from `^18.0.0` to `18.0.0` to force the version

[2022-09-11 15:22] ankit-tailor commented on #5334
@NensiKasundra , It's fixed in `3.4.15`.

[2022-09-12 09:05] MrVico commented on #5308
@evulse You are right, don't know what I did but after using your command I could run `npm i native-base` without errors (although a lot of warnings now surface when running `npm i` but at least I can use native base now, thanks!)

[2022-09-12 09:33] ankit-tailor commented on #4931
Hi everyone, Thanks for your patience. This issue is fixed in `3.4.15`.

[2022-09-12 09:33] #4931 closed

[2022-09-12 09:36] surajahmed commented on #4796
This issue has been fixed in version `3.4.9` or later. Please feel free to reopen if this problem persists. Thanks ❤️

[2022-09-12 09:36] #4796 closed

[2022-09-12 09:37] ankit-tailor commented on #5343
Hey @smeads-sweater, [Here](https://stackoverflow.com/questions/73044944/how-to-use-the-nativebase-theming-functionality-to-make-different-header-variant/73047972#73047972) I've explained how size is getting resolved in heading component. You can refer to it. closing this issue for now, feel free to re-open it if you have any doubts.

[2022-09-12 09:50] surajahmed commented on #4783
@calboru Can you please share a code snippet to reproduce this issue? This will help us a lot. Thanks for your patience.

[2022-09-12 10:00] surajahmed commented on #4775
This issue is fixed in version `3.4.0` or later.

[2022-09-12 10:00] #4775 closed

[2022-09-12 10:02] pors commented on #4931
@ankit-tailor upgrading to 3.4.15 crashes my app for web:

[code]

[2022-09-12 10:06] ankit-tailor commented on #4931
Hey @pors, Do the below steps. We've added a new dependency in `3.4.15`.
1. Delete node_modules
2. yarn install

[2022-09-12 10:07] surajahmed commented on #5224
This issue is fixed in version `3.4.6` or later.
@sanna231  Can you please have look at this documentation for typing custom theme https://docs.nativebase.io/typescript?
Please feel free to reopen.

[2022-09-12 10:07] #5224 closed

[2022-09-12 10:08] ankit-tailor commented on #5235
Hey @ErykDarnowski, Thanks for your suggestions, needs more discussion on this. Moving this issue to discussions.

[2022-09-12 10:11] ankit-tailor commented on #3856
Thanks for your patience. This issue is fixed in `3.4.15`.

[2022-09-12 10:11] #3856 closed

[2022-09-12 10:13] pors commented on #4931
Doesn't help :(

[2022-09-12 10:13] Viraj-10 commented on #5006
Hi @DavidTaylor96, Support for Expo 45 is in progress.

[2022-09-12 10:15] ankit-tailor commented on #1012
This issue is a duplicate of #4302. We are actively working on this issue.

[2022-09-12 10:15] #1012 closed

[2022-09-12 11:17] MrVico commented on #3296
None of you address the original issue which is that having the button disabled overrides the custom background color if we pass one to the button.

i.e. We set the button's background color to red, if the button is disabled we still expect the background color to be red but it's not the case anymore.

[2022-09-12 15:19] smeads-sweater commented on #5343
@ankit-tailor thank youi for the link and appreciate the explanation. Will NativeBase still not pick up the type inference for Heading variants?

[2022-09-12 17:04] MrVico commented on #4303
I'm still facing the issue regarding the tests...

The app runs fine and everything since I wrapped the App.js content inside the `NativeBaseProvider` tag but when running unit tests against React components I get the `useTheme must be used within NativeBaseConfigProvider` error. I then wrapped the render of the tested component inside the `NativeBaseProvider` in the test file but that just change

[2022-09-12 21:58] akinzalowevidation opened #5348 "`React.createElement: type is invalid` when running tests"
### Description

Jest tests with @testing-library/react-native are failing with an error

### CodeSandbox/Snack link

N/A

### Steps to reproduce

I am getting the following error when attempting to render a component in a jest test:
[code]

Here is how I have setup the test:

`Component.test.tsx`
[code]

`package.json`
[code]

`jest.config.js`
[code]

### NativeBase Version

3.4.4

### Platform

[2022-09-13 06:04] ankit-tailor commented on #5343
Hey, typing is fixed in `3.4.15`. Which version are you using?

[2022-09-13 06:04] uit2712 commented on #5272
I had this problem too, when I use strict mode it doesn't working on local but it works when I publish my website to server

[2022-09-13 06:16] ankit-tailor commented on #5348
Hey @akinzalowevidation, Thanks for reporting the issue. We'll fix it.

[2022-09-13 07:29] elenitaex5 commented on #5324
Ok thanks! it finally works for me thanks!

[2022-09-13 10:06] inform880 commented on #5075
@Luca-Settle I just installed from the source branch, worked for me for a temp fix:

`npm i git+https://github.com/GeekyAnts/NativeBase.git\#fix/react-native-web0.18`

[2022-09-13 19:31] jfspencerAngel commented on #4302
regarding performance issues with nested navigation, adding component freezing makes a significant improvement in performance. : https://github.com/software-mansion/react-freeze

[2022-09-13 22:49] daniel-moya commented on #5348
Same over here!

[2022-09-14 03:19] smeads-sweater commented on #5343
@ankit-tailor using `3.4.15`. I've created a `theme.d.ts` file per the NativeBase docs.

[code]

[2022-09-14 10:47] Relax594 opened #5358 "Native-Base 2.15.2 incompatible with React-Native 0.69"
### Description

Error: Requiring module "node_modules\\native-base\\dist\\src\\index.js", which threw an exception: Invariant Violation: ViewPropTypes has been removed from React Native. Migrate to ViewPropTypes exported from \'deprecated-react-native-prop-types\'

### CodeSandbox/Snack link

not needed

### Steps to reproduce

After updating React-Native from 0.68 to 0.69 app is not building any

[2022-09-14 10:51] Viraj-10 commented on #985
Hi All, Let me explain what's going on internally.
On Android, we use `RN Modal` and on IOS we use Overlay Component which is View with `absoluteFill` Styling.
Since IOS doesn't support multiple Modal we have to render an Overlay.
Now, whenever you render `RN modal` on android it mounts on top of the application but toast is again an overlay. So it renders below `RN Modal`.
Solution
Complete remov

[2022-09-14 13:06] CasuallyCaffeinated commented on #5111
Any update on this issue?

[2022-09-14 13:58] akinzalowevidation opened #5360 "Export more utility hooks, component hooks, contexts, types, etc.. where possible"
### Description

We wrap most of the NativeBase components to add our own functionality and in some cases create our own NativeBase components from scratch. We've had success with this so far, despite some having to have some ugly imports such as:

[code]
This works fine for types, but not anything else.

Today we began making our first component from scratch that relied on interaction states. Upo

[2022-09-15 01:19] dnairns-arch commented on #5098
+1 -- react native 0.68.2 NativeBase 3.4.11

[2022-09-15 10:25] ankit-tailor commented on #5360
Hey @akinzalowevidation, Thanks for your suggestions.  We'll need some discussion on this.

[2022-09-15 10:26] ankit-tailor commented on #5358
Hey @Relax594, Thanks for reporting the issue. We'll look into it.

[2022-09-16 10:13] dheerajneelam-sigfyn opened #5367 "Breakpoints doesn't work like they are supposed to"
### Description

When the breakpoints are customised and with the use of useBreakpointValue hook, I returned some values. When they are working as expected for some of the breakpoints, some fail. Breakpoint md is customised to be 789 and lg is 1680. Ideally, whenever we stay on a screen of width ranging from 789 to 1679, the breakpoint value should be categorised as 'md', but it is coming out as '

[2022-09-16 10:35] Nasseratic commented on #5167
@ankit-tailor
Yeah, that works because the color is then passed to the NativeBase component which is able to resolve the color from the theme.

@Viraj-10 Any chance this gets fixed soon?
I would also like to help with this :)

[2022-09-16 11:46] wennaspeedy commented on #5358
Same here, last EXPO sdk.

[2022-09-16 11:48] AshwiniKumar007 commented on #5367
Hey @dheerajneelam-sigfyn, Thanks for reporting this. We will check this and let you know.

[2022-09-16 12:06] elenitaex5 opened #5369 "Cannot remove button padding in variants."
### Description

Working with button variants, props like `p`, `px` and `py` doesn't work

### CodeSandbox/Snack link

https://codesandbox.io/s/ecstatic-frog-uld3wb

### Steps to reproduce

1. Create theme variant for button.
2. Create a button in your app.
3. You can padding even there's padding props as 0

### NativeBase Version

3.4.15

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS

[2022-09-16 14:40] minzojian opened #5370 "useToken is not process alpha"
### Description

useToken is not process the alpha value

### CodeSandbox/Snack link

https://codesandbox.io/s/lucid-violet-5z73uf?file=/src/components/Example.tsx

### Steps to reproduce

code is simple like this
[code]

### NativeBase Version

3.4.0

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-09-16 15:54] tmhao2005 opened #5371 "A warning thrown with jest"
### Description

There was a warning thrown as we ran test as following: `TypeError: _reactNative.AppState.removeEventListener is not a function`

### CodeSandbox/Snack link

https://codesandbox.io/s/codesandbox-sse-example-forked-izm8zv?file=/sample.test.jsx

### Steps to reproduce

1. Visit the above codesanbox
2. Run `yarn test` command then you will the see the warning

### NativeBase Version

[2022-09-17 06:43] wennaspeedy commented on #5358
@inspmoore Fix works!

[2022-09-17 12:58] xgenem commented on #5082
Issue is still persistent

[2022-09-17 13:55] enchorb opened #5372 "react-native-svg 13.2.0 Breaks Icon Color"
### Description

See Below

### CodeSandbox/Snack link

N/A

### Steps to reproduce

The color that is passed into the Native Base <Icon /> component works fine with `react-native-svg` versions `13.1.0` and below but the latest `13.2.0` update causes all colors to be incorrect (ie. muted.400 went from being a light grey to light red)

### NativeBase Version

3.4.15

### Platform

- [X] Android
- [

[2022-09-18 02:16] tantommy opened #5373 "Toasts are hidden behind a fullScreenModal screen from react-navigation"
### Description

when creating toasts within a screen with presentation style fullScreenModal from react-navigation in iOS, the toast appear behind the full screen modal.  I expect the toasts to be visible and not appear behind the fullScreenModal.

### CodeSandbox/Snack link

https://snack.expo.dev/@tantommy/nativebase-starter-snack

### Steps to reproduce

1. Go to snack link.
2. Click on the "O

[2022-09-18 03:06] ahilles107 commented on #5371
my stack trace for this issue
[code]

[2022-09-18 06:49] nabinem commented on #5308
getting same error when i do npm i native-base on new react native 0.70
but i can install with flag --legacy-peer-deps
but I wonder if native base is fully compatible with react 18 and react native 0.70 and I don't get any issues in future so I dont have to revert back to older version of react native and react

[2022-09-18 16:18] tonyneel commented on #5215
When can we expect a resolution to this?

[2022-09-19 06:34] Viraj-10 commented on #5372
Hi @enchorb, seems like an issue is from `react-native-svg` https://github.com/react-native-svg/react-native-svg/issues/1875.
Please downgrade to `13.1.0`

[2022-09-19 06:34] #5372 closed

[2022-09-19 07:23] Viraj-10 commented on #5213
This issue is fixed in `v3.4.15`.

[2022-09-19 07:23] #5213 closed

[2022-09-19 07:36] Jirijancik opened #5377 "Pressable component is missing variant property"
### Description

When I tried to style Pressable component for my footer, typescript gave me warning that: Property 'variant' does not exist on type 'IntrinsicAttributes & InterfacePressableProps ...

### CodeSandbox/Snack link

https://codesandbox.io/s/exciting-colden-x5prjf

### Steps to reproduce

1. Use Pressable component
2. Try to add:  variant="footer" to it
3. See error

### NativeBase Ver

[2022-09-19 07:43] #5202 closed, assigned to ankit-tailor

[2022-09-19 07:47] Viraj-10 commented on #5168
Hi @elmcapp, Try with `v3.4.15`.

[2022-09-19 08:05] Viraj-10 commented on #5167
Hi @Nasseratic, @ankit-tailor has provided the right way to write.
When you write `<Ionicons name="refresh" size={15} color="undefined" />` NativeBase doesn't have control over it. [here](https://docs.nativebase.io/icon-button#page-title) we have mentioned the API how you can use `Icons` with `IconButton`.
If you feel that your API should be supported as well. Please feel free to create PR. we wil

[2022-09-19 08:11] Viraj-10 commented on #5167
Closing this issue. Feel free to re-open it.

[2022-09-19 08:11] #5167 closed

[2022-09-19 08:28] Viraj-10 commented on #5136
Hi @codaDevDan, Please check @rohit0621 snack link and please upgrade your version. feel free to reopen this issue.

[2022-09-19 08:28] #5136 closed

[2022-09-19 09:21] Nasseratic commented on #5167
Hi, @Viraj-10 thanks for the quick response :)
I don't think the way mentioned is a solution.

Let me describe the issue a bit more:

[code]
In the above example, the app might crash ( at least in dev ) because we are passing `red.500` to a Spinner in case of loading.
Here native-base clone the element and pass the `_icon` props without being actually resolved by the theme
Also in case of pressing

[2022-09-19 11:48] #4997 closed

[2022-09-19 11:55] Viraj-10 commented on #4950
Hi @pierroo, It's working fine with the native-base latest versions. feel free to re-open the issue.

[2022-09-19 11:55] #4950 closed

[2022-09-19 13:09] Viraj-10 commented on #4935
Closing this issue since a solution is provided. feel free to re-open the issue.

[2022-09-19 13:09] #4935 closed

[2022-09-19 13:12] Viraj-10 commented on #4934
Hi @karthik-durai, it's working with latest `native-base` version.

[2022-09-19 13:12] #4934 closed

[2022-09-19 15:44] Viraj-10 commented on #4917
Hi @SupriyaPKalghatgi, closing this issue since a solution is provided. please feel free to re-open it.

[2022-09-19 15:44] #4917 closed

[2022-09-19 15:55] Viraj-10 commented on #4905
Hi @pk936, This Issue is fixed in the latest version on `native-base`

[2022-09-19 15:55] #4905 closed

[2022-09-19 16:04] #4886 closed

[2022-09-19 16:24] Viraj-10 commented on #4782
Hi @dohomi, `Code` is an unreleased component.

[2022-09-19 17:25] Viraj-10 commented on #4722
Hi @Gismo1337, When you pass the value `maxValue={1000}` and `steps={100}`. it forces the slider to increase its length by 10% each time you slide. If you want a smooth transition don't pass the steps prop it will adjust to your cursor.
Also, I was unable to reproduce the first-click issue. please try it with the latest version.

[2022-09-19 17:35] #4678 closed

[2022-09-19 17:44] Viraj-10 commented on #4665
Hi @dohomi, by storybook you mean react storybook or storybook inside nativebase repo.

[2022-09-19 17:47] Viraj-10 commented on #4643
Hi @exneval, This issue is fixed in the latest version of `native-base`.

[2022-09-19 17:47] #4643 closed

[2022-09-19 20:52] iBims1JFK commented on #5215
+1

[2022-09-20 01:09] dohomi commented on #4665
@Viraj-10 Storybook for the use with nativebase.

[2022-09-20 05:48] bahri-dev opened #5383 "Select component doesn't work in windows app"
### Description

Select component doesn't work in windows app.

### CodeSandbox/Snack link

https://codesandbox.io/s/frosty-hugle-ex5hgj?file=/src/App.tsx

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.15

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

window

### Additional Inf

[2022-09-20 05:56] Viraj-10 commented on #5383
Hi @bahri-dev, we currently don't support the windows app. We will consider it in future.

[2022-09-20 12:31] Viraj-10 commented on #5377
Hi @Jirijancik, This issue is fixed in version `3.4.16`. Thanks for reporting this.

[2022-09-20 12:31] #5377 closed

[2022-09-20 20:52] R4Y-repo opened #5391 "Cannot install NativeBase due to dependencies"
### Description

i cannot install native-base in my expo app and it gives out the error mentioned below

### CodeSandbox/Snack link

****

### Steps to reproduce

1. type in terminal `expo install native-base` or `npm install native-base`
2. It gives out the error
[code]

### NativeBase Version

3.4.16

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No

[2022-09-21 00:25] devpgcs commented on #5371
Same issue when updating from version`^3.4.12` to `^3.4.16`.

[2022-09-21 06:27] Viraj-10 commented on #5391
Hi @R4Y-repo, we currently don't support  react@18 and expo 46.

[2022-09-21 16:08] daniel-moya commented on #5348
any news on this ?

[2022-09-21 20:24] OneHatRepo commented on #5391
Happening to me too. Please put a lot of effort into releasing a version that works with Expo 46.

[2022-09-21 21:33] mkurczewski opened #5394 "Customizing components in theme with `0` margin doesn't work (uses defaults instead)"
### Description

Passing a `0` value to for instance `marginTop` property should produce no top margin for the component, but default one is applied instead. It can be "fixed" by passing "0" (as string).

### CodeSandbox/Snack link

https://snack.expo.dev/-01m8XvAb

### Steps to reproduce

1. Open reproduction link.
2. Observe the space between both labels.
3. Comment lines 10 and 11.
4. See that

[2022-09-22 05:45] YukiOmori commented on #5075
@inform880
It worked! Thanks!

[2022-09-22 07:44] R4Y-repo commented on #5391
I appreciate that, looking forward to use it in these versions.

[2022-09-22 07:45] ankit-tailor commented on #5370
Hey @minzojian, Thanks for reporting the issue. We'll look into it.

[2022-09-22 07:49] ankit-tailor commented on #5369
Hey @elenitaex5, It may be possible that you have not passed that into variants inside button theme.

Can you try out this below snippet? Let me know if it works for you.

[code]

[2022-09-22 07:50] ankit-tailor commented on #5373
Hey @tantommy, Thanks for reporting the issue. We'll fix it.

[2022-09-22 07:51] ankit-tailor commented on #5371
Hey everyone, Thanks for reporting the issue. We'll fix it.

[2022-09-22 07:53] elenitaex5 commented on #5369
Hi @ankit-tailor it isn't the problem. Button variants are working, and they are inside `extendTheme` problem only happens trying to modify padding in variants. Everything else is working right.

[2022-09-22 09:48] knottronix commented on #5358
ah, this has been driving me crazy. Glad you have identified it, it's been a blocker for my team for more than a week now and we really need to release it with the latest EXPO sdk.

Very grateful for a speed resolution. Thanks

[2022-09-22 10:47] luluhoc opened #5397 "How to change text style in FormControl.ErrorMessage"
### Description

How to change text style in FormControl.ErrorMessage cause fontsize prop isn't working for me.

### Problem Statement

How to change text style in FormControl.ErrorMessage cause fontsize prop isn't working for me.

### Proposed Solution or API

.

### Alternatives

_No response_

### Additional Information

_No response_

[2022-09-22 15:09] michaelangrivera commented on #3274
@prometheas for web, I wrote a simple script like this to clear out the unnecessary bloat. Saved a few MB.

[code]

[2022-09-22 16:52] mikehuebner commented on #5369
@elenitaex5 I had this issue as well trying to mess with font sizes. There is a default prop of `size: 'md'` on the button which has default sizes and paddings. Variants don't seem to overwrite these styles, try this and let me know if that helps.

[code]

[2022-09-23 07:24] Viraj-10 commented on #5394
Hi @mkurczewski, Thanks for reporting the issue. we will look into this. for now, you can do `my : 0` or pass value in string.

[2022-09-23 07:37] Viraj-10 commented on #5397
Hi @luluhoc, Please pass `fontSize` in `_text` like shown below.
`<FormControl.ErrorMessage leftIcon={<WarningOutlineIcon size="xs" />} _text={{fontSize:'sm'}}>`
Closing this issue please feel free to reopen it.

[2022-09-23 07:37] #5397 closed

[2022-09-23 18:28] wennaspeedy commented on #5358
I already updated my app to native-base v3. Much faster than waiting for new version v2.

[2022-09-23 20:20] steve-rodri commented on #4418
@Abhineetk47 Any solution to this?

[2022-09-24 23:40] mhinc14 commented on #5296
Is there any news on this fix? Thanks

[2022-09-25 13:49] MateuszRostkowski commented on #5371
Hey guys, I've created temporary patch for this issue:

File: `/patches/native-base+3.4.16.patch`

[code]

After next release, just delete this patch.

[2022-09-26 00:02] Andrew-Pynch opened #5415 "onPress is not a property of Pressable?"
### Description

When invoking the pressable component (or IconButton / Button) I am told that onPress is not a valid property

### CodeSandbox/Snack link

https://codesandbox.io/embed/blue-water-2gvzpy?fontsize=14&hidenavigation=1&theme=dark

### Steps to reproduce

# Screenshot
![image](https://user-images.githubusercontent.com/43330642/192171696-dc78f36b-1c03-458b-8bab-e47b8639191f.png)

# Code

[2022-09-26 00:03] flangfeldt commented on #5295
It's also not working for me on iOS. The nested Text elements don't show any difference in styling.

native-base: 3.4.16
expo: 46.0.10
react-native: 0.69.5

[2022-09-26 09:13] aleksamrakovic commented on #5098
+ 1 rn 0.70

[2022-09-26 12:28] athomasec opened #5420 "Input - Black selection color by default - and selectionColor not working"
### Description

The selection/highlight color in android is blackish making selected text not readable. Also, selectionColor prop on Input component has no effect. Instead it is always a blackish color in Android. (not tested for iOS). All the examples in the documentation has this blackish selection color. (Tested through Expo Go)

### CodeSandbox/Snack link

https://snack.expo.dev/CMJ1SyKTd

##

[2022-09-26 16:06] yfeleke commented on #5279
+1

[2022-09-26 16:25] Lagbana opened #5424 "Can't close AlertDialog by overlay click when `accessibilityLabel` or `testID` is set"
### Description

When the AlertDialog is provided with the prop `closeOnOverlayClick === true`, it is expected that clicking the AlertDialog overlay would close the dialog. This seems to happen when `accessibilityLabel` or `testID` is set. When neither is set `closeOnOverlayClick` works as expected.

### CodeSandbox/Snack link

https://snack.expo.dev/@larrya/alertdialog-bug

### Steps to reproduce

[2022-09-26 18:34] v-x2 commented on #5160
Updated @ 3.4.17 but the issue still exists. Switching to react-native's flat-list or removing the `ListHeaderComponent` "hide" the warning.

[2022-09-26 18:43] sregg commented on #4302
We followed @foyarash's [comment](https://github.com/GeekyAnts/NativeBase/issues/4302#issuecomment-1121020670) and replaced our `Button` and `Pressable` with custom ones and our app's performance improved a lot.

In a [Reassure](https://github.com/callstack/reassure) test, we saw a render time decrease of 47% and in a low end Android device (e.g. Pixel 3), the improvement is quite visible:

### Be

[2022-09-27 06:12] ankit-tailor commented on #5415
Hey @Andrew-Pynch, Thanks for reporting the issue. We'll fix it.

[2022-09-27 07:54] elenitaex5 commented on #5369
Hi @mikehuebner thanks for your help!!! It works for me. Hope this bug be solved in a future.

[2022-09-27 20:17] vajiralasantha commented on #4951
I was gonna use this for one of my project and turned out non of  these methods worked for me. After spending hours, for some reasons only the following method worked for me.

[code]

Im using

[code]

[2022-09-28 07:35] Snotax commented on #4538
We have the same problem. We'd like to test our app with Selenium / Appium and we can't access the checkbox because the testid is on the wrong component in the DOM. (Not on the input) So it's not possible to get the "checked" property.

Is this still WIP ?

[2022-09-28 07:48] Nasseratic commented on #5075
@Viraj-10  Any plans to release the fix?

[2022-09-28 08:59] hkvongit commented on #4968
I am also not able to find the community integration docs. with `React Hook Forms`

[2022-09-28 09:59] punndcoder28 commented on #4982
Facing the same issue on version `3.4.17` on iOS. Tried the above mentioned steps but nothing seems to work. What I have tried till now
1. resetting metro cache
2. delete and reinstall pods
3. delete the previous version of the app install and retry
Any steps that I might have missed?

[2022-09-28 10:23] antoinerousseau commented on #4302
Hi @rayan1810, any update on this?

[2022-09-28 11:40] Kivylius opened #5429 "Factory - Typescript - Expression produces a union type that is too complex to represent. ts(2590)"
### Description

There seems to be an issues with typescript using a factory for a native base components in VSCode. The error is union type that is too complex. Snack link seesm to be ok, but as you can see, it not checking types correctly (see prop `unknownprop` not displaying as error)

### CodeSandbox/Snack link

https://snack.expo.dev/ANiYSN7p8?platform=web

### Steps to reproduce

1. Go to s

[2022-09-28 13:23] biapar commented on #5308
So, It's ok for RN0.70+ / React 18+?

[2022-09-28 22:00] JBertling commented on #5308
Can confirm that I ran into this problem and @evulse's suggestion got things running for me too. Appreciate the tip! As mentioned before I received numerous warnings regarding peer dependencies, but it allowed me to run it via npm without erroring out and I've verified that I'm seeing components working.

[2022-09-29 04:33] punndcoder28 commented on #4931
Using version `3.4.17` and the variant is still broken. @ankit-tailor please reopen this issue or should a new issue be created.
<img width="306" alt="Screenshot 2022-09-29 at 9 58 20 AM" src="https://user-images.githubusercontent.com/32433964/192939114-75e2226b-9ba6-4062-9b36-251b2cda7fdc.png">

Also another bug is with the drop down icon color which does not work as well. Code for the component

[2022-09-29 05:48] Viraj-10 commented on #5429
Hi @Kivylius, Thank you for reporting this and creating a PR. we will look into it.

[2022-09-29 05:56] Viraj-10 commented on #5420
Hi @athomasec, Thanks for reporting the issue. We will look into it.

[2022-09-29 06:59] Aichnerc commented on #5098
+1 -- react native 0.69.6 native base 3.4.16

[2022-09-29 08:42] GeorgesTanios opened #5434 "shadow prop for Box doesn't work on IOS"
### Description

the shadow doens't work for Box component on IOS

### CodeSandbox/Snack link

https://codesandbox.io/embed/bitter-wildflower-bld8w6?fontsize=14&hidenavigation=1&theme=dark

### Steps to reproduce

style of the box on ios

### NativeBase Version

3.4.6

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Informati

[2022-09-29 09:03] Snotax opened #5435 "Flex "Gap""
### Description

The "Flex" Component doesn't have a "gap" property exposed. But if I set it nontheless, it would work.
Is this not exposed by accident or is it somehow not intended to work ?

### Problem Statement

<Flex> doesnt expose "gap"

<Flex maxW={"100%"} flexWrap={"wrap"} direction="row" justify={"center"} gap={5}>

### Proposed Solution or API

Expose gap property on <Flex>

### Alternat

[2022-09-29 10:42] dheerajneelam-sigfyn commented on #5367
I found a workaround until it gets fixed. You basically have to define all of the breakpoints, so that they start working accordingly. So, in the customisation of breakpoints, when I add '2xl' : 2440 in the above snack example, they seem to work correctly, otherwise it will show 'xl' from 1536 to 1679.

[2022-09-29 12:56] #5434 closed

[2022-09-30 06:06] ankit-tailor commented on #5369
Hi Everyone, So here, Variant will be resolved first and then sizes will be resolved. So fontSize from size will override fontSize from variant. [This](https://stackoverflow.com/questions/73044944/how-to-use-the-nativebase-theming-functionality-to-make-different-header-variant/73047972#73047972) might help you.

[2022-09-30 13:21] Swiftwork opened #5436 "Cannot override `Button` component theme `_text` color in `_dark` property"
### Description

Extending theme should override defaults.

### CodeSandbox/Snack link

https://snack.expo.dev/@swiftwork/button-theme-override

### Steps to reproduce

Extend the `Button` theme with an identical definition to the [default component theme](https://github.com/GeekyAnts/NativeBase/blob/v3.4.15/src/theme/components/button.ts#L112-L114)
[code]
wont work, but switching order will
[code

[2022-09-30 13:23] Swiftwork commented on #5436
Hmm, realized a mistake in the snack, it now seems to be working. I'll do some more digging and if it is not reproducible outside of my code I'll close this issue.

[2022-09-30 13:28] xgenem commented on #2736
I can access `.focus()` via
[code]

However I cannot get the input's value via
[code]

[2022-09-30 14:20] Swiftwork commented on #5436
Rewrote the issue to address the actual change between v3.3 and v3.4. There seems to be a regression regarding how nested properties written on components interact with the theme properties. It used to merge, but now seems to reset and override. Check out the snack to get a better understanding.

[2022-09-30 16:22] Swiftwork opened #5437 "Popover is misaligned on Android putting it above the trigger"
### Description

Popover is misaligned and placed above trigger on Android.

### CodeSandbox/Snack link

https://snack.expo.dev/@swiftwork/popover-misaligned-android

### Steps to reproduce

[code]

### NativeBase Version

3.4

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

 This might have to do with status bar

[2022-10-01 06:46] nikhilgoswami commented on #3649
How to resolve this?

[2022-10-01 15:41] vincent-cy commented on #5098
+1

[2022-10-01 23:14] NathanC commented on #5370
I'm also having this issue

[2022-10-02 16:22] zivc commented on #5075
This fixed it for me thank you @inform880

[2022-10-03 06:09] AshwiniKumar007 commented on #5424
Hey @Lagbana  Thanks for reporting this. We will look into it

[2022-10-03 08:22] elenitaex5 opened #5438 "TextArea component is missing autoCompleteType"
### Description

When I include TextArea component without any props as `<TextArea />` it includes a Typescript error, missing `autoCompleteType`

### CodeSandbox/Snack link

https://codesandbox.io/s/heuristic-david-cdf8zi

### Steps to reproduce

Include <TextArea /> component in a project having native-base, typescript and eslint.

### NativeBase Version

^3.4.15

### Platform

- [ ] Android
- [

[2022-10-03 15:07] alissonalvarenga commented on #5435
Would be great to also add the rowGap and columnGap

[2022-10-04 05:45] ankit-tailor commented on #5438
Hey @elenitaex5, Thanks for reporting the issue. We'll look into it.

[2022-10-04 05:46] ankit-tailor commented on #5437
Hey @Swiftwork, Thanks for reporting the issue. We'll fix it.

[2022-10-04 06:39] ankit-tailor commented on #5436
Hi @Swiftwork, Thanks for reporting the issue. We'll look into it.

[2022-10-04 14:04] m-nikolov95 opened #5442 "Allow ActionSheet usage for class components"
### Description

During the migration of a react native project from NativeBase v2 to v3 I noticed that ActionSheets can now only be used with the useDisclose hook.

To my knowledge, hooks cannot be used in class-based components, as trying to use a hook from a class component throws an Invalid hook call error. Therefore, the migration from NativeBase v2 to v3 would require rewriting the class-bas

[2022-10-04 20:49] ajhurliman opened #5443 "Custom thumb for Switch component"
### Description

I'd like the ability to specify a custom thumb for the Switch component. Specifically, when the switch's value is isChecked={true} I'd like a checkmark icon to appear over the thumb. Would this be very difficult?

<img width="140" alt="Screen Shot 2022-10-04 at 1 48 01 PM" src="https://user-images.githubusercontent.com/8345338/193924761-9dc6c3c0-afb1-48c9-885a-35643b7f2b61.png">

[2022-10-04 23:41] ttessman commented on #5073
Still see the warning in 3.4.13

<img width="405" alt="image" src="https://user-images.githubusercontent.com/8061029/193949969-6b8d0250-a8d2-4d31-93b2-9adc9957a51b.png">

[2022-10-05 12:59] nikgraf commented on #5316
great thanks 👏👏👏

now just need to wait until native-base works with the latest react-native-web version :)

[2022-10-05 15:14] codeCleanDev commented on #4302
Any updates?

[2022-10-05 18:07] spsaucier commented on #4951
I'm still unable to change `outline` variant styles in version `3.4.17`.

[code]
<img width="278" alt="Screen Shot 2022-10-05 at 14 05 26" src="https://user-images.githubusercontent.com/596143/194130611-10010744-d979-4f76-aee1-f5c6034d1968.png">

[2022-10-05 22:36] bradencanderson opened #5444 "Checkbox text label does not update"
### Description

`Checkbox` does not re-render when its string children update.

### CodeSandbox/Snack link

https://snack.expo.dev/pjAFSZn2x

### Steps to reproduce

1. Click "HI".
2. The label on the checkbox should increment to "Count: 1".
3. See error; the label stays as "Count: 0".

https://user-images.githubusercontent.com/5060341/194176414-ac5e4c26-2824-48a2-bb48-982988350f74.mov

### Nativ

[2022-10-06 05:16] ankit-tailor commented on #5442
Hey @m-nikolov95, You can use `isOpen` and `onClose` props of ActionSheet to control the open and close states of the actionsheet. You can check out the below example,

[code]

[2022-10-06 05:17] ankit-tailor commented on #5443
Hey @ajhurliman, Thanks for your suggestions. We'll consider adding it in future releases.

[2022-10-06 09:20] m-nikolov95 commented on #5442
Hey @ankit-tailor
I tried your example in a class component and it worked!
Thank you.

Here's the example using a class component.

[code]

[2022-10-06 09:20] #5442 closed

[2022-10-06 10:02] ouabbas commented on #5420
Hello @Viraj-10 when do you think it will be fixed please ? 🙏🙏 (Thank u for your work !)

[2022-10-06 20:32] mizutani256 commented on #5306
Here it seems to happen when we use the `isLoaded` prop, for instance:

[code]

The detox test hangs as soon as it reaches a screen with a component like this.

[2022-10-06 22:38] NqCompiler opened #5446 "Library is using deprecated removeListener"
### Description

EventEmitter.removeListener('appStateDidChange', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener`.

### CodeSandbox/Snack link

none

### Steps to reproduce

Since our app updated to version 0.69.6 it returns the warning:
`EventEmitter.removeListener('appStateDidChange', ...): Method has been deprecated. Ple

[2022-10-07 01:33] arkD commented on #4583
For anyone who comes across this in the future, most likely you have your native-base package in more than one location. (even if it has the same version)

[2022-10-07 05:03] TVGSoft opened #5447 "Nested Modal can not enter text in Input because it can not focus"
### Description

When using nested Modal and in the second Modal contains Input then that Input can not key in

### CodeSandbox/Snack link

https://snack.expo.dev/-epRgAGlT

### Steps to reproduce

We have 2 modals:
1. Modal 1 will show Modal 2:
[code]
2. Modal 2 contains an Input:

[code]
Then can not key in the Input

I think the reason because Modal is using FocusScope as below:
[code]
If I rem

[2022-10-07 05:18] vilenleung commented on #4176
This is my solution:
[code]

[2022-10-07 05:55] ankit-tailor commented on #5446
Hey @NqCompiler, Thanks for reporting the issue. We'll look into it.

[2022-10-07 23:50] GollyJer opened #5449 "Responsive Icon size prop broken in 3.4.17."
### Description

bug

### CodeSandbox/Snack link

bug

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.17

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

Something has changed between 3.4.11 to 3.4.17 that broke responsive icon sizing.
I

[2022-10-09 02:14] roquib commented on #5098
+1 react-native 0.69.6, native base ^3.4.9

[2022-10-10 05:05] ankit-tailor commented on #5449
Hey @GollyJer,

As of now, I've reverted that changes because it was causing some issues in SSR. We need to rethink some other approach. As of now, the size prop will not get resolved responsively. I'll keep you updated on the same.

But as a workaround, I suggest you use the `useBreakpointValue` hook.

[2022-10-10 06:24] ankit-tailor commented on #5447
Hey @TVGSoft, Thanks for reporting the issue. We'll look into it.

[2022-10-10 11:53] elenitaex5 opened #5450 "Theme components variants not override custom default props in same component"
### Description

If same component has custom default props and custom variants, its variants doesn't override defualt props, and they must be more "important"

### CodeSandbox/Snack link

https://codesandbox.io/s/gifted-roentgen-7p0ttv

### Steps to reproduce

1. Create <TextArea /> having in custom theme , new variants and custom defaultProps.

### NativeBase Version

^3.4.15

### Platform

- [X

[2022-10-10 15:22] elenitaex5 opened #5451 "TextArea fontSize doesn't change in variants"
### Description

If you try to change <TextArea /> fontSize trough variants, it doesn't work. You can change it only with `fontSize` prop or `defaultProps` in theme, but if you're trying to modify it through variants it never works.

### CodeSandbox/Snack link

.

### Steps to reproduce

Only try to change <TextArea /> fontSize through variants.

### NativeBase Version

3.4.15

### Platform

- [X]

[2022-10-10 18:42] GollyJer commented on #5449
Thanks for the response @ankit-tailor
Will use `useBreakpointValue` for the time being. 👍

Does this issue only affect the Icon component?
We don't have complete UI testing in place, so sometimes, it's hard to catch when things break. Thanks!

[2022-10-11 03:19] rosnaib11 opened #5452 "FAB is outside even the box is relative position"
### Description

Its on the website itself https://docs.nativebase.io/3.1.x/fab the fab is outside the box

### CodeSandbox/Snack link

https://docs.nativebase.io/3.1.x/fab

### Steps to reproduce

1. Go to your own website check the FAB, it's outside the relative box.
2. It should be inside within the relative container

### NativeBase Version

3.4.6

### Platform

- [X] Android
- [ ] CRA
- [ ] E

[2022-10-11 09:39] #5452 closed

[2022-10-11 11:21] szymn commented on #4492
This is a problem with PanResponder. Related bug: https://github.com/facebook/react-native/issues/14295

Something like this worked for me:
[code]

[2022-10-11 15:52] justinmwarner opened #5460 "When using redux within a Modal, we lose access to the Context that redux uses, causing failures."
### Description

In my example Snack, you can see I'm using a useSelector within a native-base Modal component. This causes a failure.

### CodeSandbox/Snack link

https://snack.expo.dev/@justinwarner/nativebase-template

### Steps to reproduce

In the Snack, click the button and notice the errors.

### NativeBase Version

^3.2.1

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Ne

[2022-10-12 03:40] showtan001 commented on #5107
+1

[2022-10-12 08:34] mgretz commented on #5420
Having the same issue with latest native-base version.

[2022-10-13 11:09] nagydan1 commented on #3811
Still a problem, please reopen

[2022-10-13 12:32] Viraj-10 commented on #5450
Hi @elenitaex5, Thanks for reporting an Issue. We will look into it.

[2022-10-13 12:33] Viraj-10 commented on #5451
Hi @elenitaex5, Thanks for reporting an Issue. We will look into it.

[2022-10-13 12:35] Viraj-10 commented on #5460
Hi @justinmwarner, Thanks for reporting an Issue. We will look into it.

[2022-10-13 15:36] JaccoGoris commented on #5249
Is there any news on this? I'm trying to setup a project with the latest next (example template app is outdated) and native base 3.14.8 it's breaking a lot still :/

[2022-10-13 19:17] MicahDavid opened #5469 "Upgrade from 2.x to 3.4, issue with not finding fonts errors, referenced in project.pbxproj file"
### Description

missing referenced fonts in project.pbxproj file

### CodeSandbox/Snack link

none

### Steps to reproduce

_No response_

### NativeBase Version

3.4.18

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

I'm upgrading my react native project using native base v2.x to the latest 3.4.x.  I"m running

[2022-10-14 03:04] radiorz opened #5471 "[feature] need center toast"
### Description

the toast has 6 positions but without center position
if possible please add the center postition to toast.

### Problem Statement

the toast has 6 positions but without center position
if possible please add the center postition to toast.

### Proposed Solution or API

 the toast has 6 positions but without center position
if possible please add the center postition to toast.

##

[2022-10-14 09:18] KokoTa commented on #5098
+1 react-native 0.70.1, native-base ^3.4.17

[2022-10-14 11:02] joe-yeomans commented on #5471
@radiorz Could you not used an AlertDialog for this?
https://docs.nativebase.io/alert-dialog

[2022-10-14 13:09] teofilomonteiro commented on #5107
+1

[2022-10-14 13:20] mohamedosama2 commented on #5446
....

[2022-10-14 13:20] mohamedosama2 commented on #5446
any solution !!?

[2022-10-14 14:07] Kivylius opened #5475 "[IOS/ANDROID] - Font are not working correctly."
### Description

The fonts dont seem to work on android or ios, copied the example from the docs

### CodeSandbox/Snack link

https://snack.expo.dev/@nh104263/font-broken?platform=web

### Steps to reproduce

1. Go to '[ling](https://snack.expo.dev/@nh104263/font-broken?platform=web)'
2. Click on 'ios/android'
3. Scroll down to 'see fonts not working as execpted'

### NativeBase Version

3.4.17

#

[2022-10-15 16:32] Basir-PD commented on #2536
none works

[2022-10-15 18:22] ZohaibAhmad786 commented on #4302
Native base is too much slow,
during network call native base use all all the resource of JS thread. and you could not do anything once the network call end then your actions works

[2022-10-17 06:54] AshwiniKumar007 commented on #5435
Hey, @alissonalvarenga  Thanks for the feedback.
`gap` prop works only on the web and that is why we haven't exposed it as we are trying to make this universal.
You can always use `VStack`, `HStack`, and Stack which have `space` prop to provide a gap.

We will plan to add `gap`, `rowGap`, and `columnGap` in the future.

[2022-10-17 07:07] AshwiniKumar007 commented on #5469
Hey @MicahDavid, We will check this.
Thanks for reporting.

[2022-10-17 09:51] Viraj-10 commented on #5444
Hi @bradencanderson, This issue is fixed in version `v3.4.18`.

[2022-10-17 09:51] #5444 closed

[2022-10-17 09:53] Viraj-10 commented on #5451
Hi @elenitaex5, Can you provide a snack link?

[2022-10-17 10:00] Viraj-10 commented on #5415
Hey @Andrew-Pynch, I am unable to reproduce it. Please try it with the latest version of the `native-base`.

[2022-10-18 02:14] zhumingcheng697 commented on #4720
It appears that the issue still persists in the latest build.

The issue seems to be related to how focus was being managed by `<Input>`. Specifically, if the [`onBlur` listener](https://github.com/GeekyAnts/NativeBase/blob/691806cc57c64e90cd3323eaeae39ec605b6b592/src/components/primitives/Input/Input.tsx#L171) was removed from the internal implementation of the `<Input>` component, the click woul

[2022-10-18 08:37] Viraj-10 commented on #5475
Hi @Kivylius, I made a few corrections to yours.  you can see them [here](https://snack.expo.dev/@viraj_10/loading-font-example?platform=web). closing this issue. feel free re-open it.

[2022-10-18 08:37] #5475 closed

[2022-10-18 09:04] Kivylius commented on #5475
Thank you.  We need the `NativeBaseProvider` not be conditionals rendered.

[2022-10-18 09:12] Viraj-10 commented on #5475
Hi @Kivylius, even if you remove that it will work.

[2022-10-18 09:45] Kivylius commented on #5475
It seems on first load, the font are still not displaying correctly, after a refresh it works ok.

<img width="327" alt="Screen Shot 2022-10-18 at 10 42 06" src="https://user-images.githubusercontent.com/1041335/196396516-32e96338-6c8f-4a1e-9f56-4312443422ae.png">

[2022-10-19 06:42] 0xUniko commented on #4796
This problem persists when using: npx react-native init MyApp --template @native-base/react-native-template-typescript

[2022-10-19 09:44] Viraj-10 commented on #5391
#5266

[2022-10-19 11:41] Viraj-10 commented on #5075
Hi All, This issue will be fixed in the next release of `native-base`. sorry for the delay.

[2022-10-19 11:47] Viraj-10 commented on #5469
Hi @MicahDavid, We have changed how you can use fonts in `native-base`.  you can find the guide [here](https://docs.nativebase.io/customizing-fonts#page-title).

[2022-10-19 11:53] chadmroberts88 commented on #4886
This is still an issue on version 3.4.18. On Android devices, the backdrop translates from the bottom of the page to the top instead of fading in. It works fine on iOS. Is there a way to temporarily disable the backdrop, or make it transparent?

[2022-10-19 12:25] Nasseratic commented on #5075
@Viraj-10 Thanks a lot for the reply :)

Do we have an estimate of when the next release will be released?

[2022-10-19 14:05] NabilBenOun1 commented on #74
this solution it work for me
 <Button
        _pressed={{backgroundColor: "#fff"}}
        w={width ? width : '100%'}
        size="lg"
        _text={{
          color: theme.colors.white,
          fontSize: 'lg',
          fontFamily: 'bold',
        }}
        ref={myRef}
        onPress={onPress}>
        {title}
      </Button>

[2022-10-19 14:26] stackchain commented on #4302
Any updates on that, forwarding refs are killing native base performance?

[2022-10-20 06:29] Viraj-10 commented on #5460
Hi @justinmwarner, put your provide outside `NativebaseProvider`.
Modal works like React Portal. for more understanding you can read this [blog](https://nativebase.hashnode.dev/how-the-overlay-component-works-in-nativebase)
[code]

[2022-10-20 06:29] #5460 closed

[2022-10-20 11:24] obasille opened #5497 "Custom theme text color ignored by Text component"
### Description

Using a theme with a custom text color doesn't change the color the Text component

### CodeSandbox/Snack link

https://snack.expo.dev/@zilhk/native-base-theme-custom-text-color

### Steps to reproduce

See snack example.

If I understand correctly this is a limitation of how the theme system works (as the default color of the Text component is statically in its default theme) but

[2022-10-20 12:11] Viraj-10 commented on #5497
Hi @obasille, please refer following code for Changing the Text component default color with a theme.
[code]

for better understanding please refer [this](https://docs.nativebase.io/next/customizing-components) doc.

[2022-10-20 12:11] #5497 closed

[2022-10-20 12:15] Viraj-10 commented on #5497
Also, use the latest version of `native-base`. In the snack, you provided you have added color palette named text. refer to [ this](https://docs.nativebase.io/next/customizing-theme) doc to know more.

[2022-10-20 15:51] long7102 commented on #2536
How to uninstall it

[2022-10-20 19:16] sluucke commented on #5098
+1 react native 0.69.6, native-base ^3.4.17

[2022-10-21 05:09] PerryRylance commented on #5098
Example from docs is broken because of this, manifesting as unexpected changes to the group state

[2022-10-21 05:29] PerryRylance commented on #5098
Having to source a third party checkbox because of a bug with a simple component, which has been around since June. How ridiculous is that?

[2022-10-21 05:42] conoremclaughlin commented on #4302
Still the biggest blocker to using native-base throughout an entire application. On lists of any sufficient length, it is a night and day difference.

[2022-10-21 06:10] PerryRylance commented on #5098
Having to source a third party checkbox because of a bug with a simple component, which has been around since June, or possibly longer. How utterly ridiculous is that?

3.4.17

[2022-10-21 06:51] Viraj-10 commented on #5249
Hi All, for `next 12.2` and `react 18.2` support please update your native-base package to `v3.4.19`.
Replace your `_document.js` with the following code.
[code]

[2022-10-21 07:45] vid553 commented on #4255
@MuflahNasir did you solve this issue?
I'm having the same problem...
[code]

[2022-10-21 09:55] hayate commented on #5391
@Viraj-10
when running: `npx react-native init TSProject --template react-native-template-typescript`
react@18.1.0 is installed
[code]
So then when running: `npm install native-base react-native-svg@12.1.1 react-native-safe-area-context@3.3.2`
We get a similar error as described above.
[code]

[2022-10-21 14:33] proohit opened #5503 "Make `react-dom` optional peerDependency"
### Description

I would suggest to make `react-dom` an optional `peerDependency`, since pure `react-native` projects don't use `react-dom` at all.

### Problem Statement

The current forced `peerDependency` causes projects with no `react-dom` in their `dependencies` to cause an error with recent `npm` versions.

### Proposed Solution or API

Add a [peerDependencyMeta](https://docs.npmjs.com/cli/v

[2022-10-21 23:13] mikehuebner commented on #5070
I'm also having this issue, seems like I have to really try to drag the slider it doesn't stick to my finger. Can support with video if needed.

[2022-10-22 16:41] wardjk87 commented on #5358
https://github.com/facebook/react-native/issues/33734#issuecomment-1211119020. this solution worked for me.

[2022-10-23 07:50] badaljain opened #5506 "Navigation is broken (in prod website demo)"
### Description

The drawer navigation demo itself is not working

### CodeSandbox/Snack link

https://docs.nativebase.io/building-drawer-navigation

### Steps to reproduce

1. Go to https://docs.nativebase.io/building-drawer-navigation
2. click on ios and you will see broken screen
<img width="899" alt="image" src="https://user-images.githubusercontent.com/8784571/197380739-e0408318-1fe9-49a2-9c4

[2022-10-23 11:27] KogayIrina commented on #4176
Hello there!
I face the same issue in the native-base: 3.4.0
iPhone 7, IOS 15.7
The selector works veeeery slowly (I would say it doesn't work at all), I have only 195 Select.Items
When I want to open the Selector, I need to wait for 20-30 seconds, then I can see a Select.Item. And when I am trying to scroll it is impossible.

[2022-10-23 13:15] sanketsahu commented on #4176
@KogayIrina Have you tried running on a newer device? Do you see the same issue?

Can you share the code in an expo snack?

[2022-10-24 08:55] nicolinho22 commented on #5391
@Viraj-10 Your MR has not solved the issue. When installing NativeBase 3.4.19, still the same errors:

[code]

[2022-10-24 09:15] Viraj-10 commented on #5391
Hi, @nicolinho22 @hayate
I tried installing `native-base` in the expo project and I was able to do it.

Please follow the steps:-

1. `nvm use v16.13.0`.
2. `expo init my-project` choose the template JS/TS
3. `cd my-project`
4. `npm install native-base`
5. `npx expo install react-native-svg@12.1.1`
6. `npx expo install react-native-safe-area-context@3.3.2`
7. `expo install @expo/webpack-config@^0.

[2022-10-24 09:58] SaeedPoureshghi commented on #4302
I have no hope to solve this GENERAL issue. I prefer to remove NB.

[2022-10-24 10:03] pierroo commented on #4302
I have lost hope too.
Almost a year later; still no progress made on this critical issue that essentially makes it unusable in production.

I only wish we had some visibility on the progress here, so it doesn't feel like it was abandoned.

[2022-10-24 10:15] ViktorVojtek commented on #4302
I've already removed NB from the whole codebase and rewritten the whole project...
A month of work wasted and I'm glad it doesn't took longer than a month...

[2022-10-24 10:59] antoinerousseau commented on #4302
Same here, we're going to move to [chackra](https://chakra-ui.com/)

[2022-10-24 11:02] pierroo commented on #4302
Chackra is AWESOME, but they don't support react native yet, do they?

[2022-10-24 11:25] ViktorVojtek commented on #4302
If your project is going to support react 18+ and you also need web components go for [tamagui](https://tamagui.dev). Super quick and easy to understand.
The documentation was a bit outdated a month ago but you can integrate it easily to your project from boilerplate you can create with cmd.

Unfortunatelly I can't use it because my project is based on few libraries that not support react 18 yet..

[2022-10-24 12:01] blwinters commented on #4302
Whatever library you move to, make sure you don't use components with forwardRef many times on the same screen. Otherwise you will face the same performance problem as with NativeBase. I moved to dripsy, but only use their theme provider, I make all my own components.

[2022-10-24 12:18] Foohx commented on #5391
It's working but still have a lot of warns due to native-base dependencies :
[code]

[2022-10-24 13:16] nicolinho22 commented on #5391
Is there a reason we have to use this specific version? It wont work with a newer one?

[2022-10-24 16:26] jingcheng16 commented on #3296
Have same issue here. `_disabled` props doesn't work

[2022-10-25 06:54] Viraj-10 commented on #5506
Hi @badaljain, Thanks for reporting this issue. we will look into it.

[2022-10-25 06:57] Viraj-10 commented on #5503
Hi @proohit, Thanks for reporting. We will do that, If you want to be a contributor, please do these changes and I will approve your PR. 😄

[2022-10-25 07:07] proohit commented on #5503
Sure thing!

[2022-10-25 10:30] kietnguyen0814 opened #5508 "Keyboard focus (from a physical keyboard) support Radio button on Tab/Shift+Tab in iOS"
### Description

When I working with the radio button, on android app, i can connect to physical keyboard and change the focus on the form with tab/Shift+tab. But when i use iOS app, i cannot focus to radio group or single radio option in the group.

### CodeSandbox/Snack link

https://snack.expo.dev/@hanhoan15/custom-color

### Steps to reproduce

1. Create a app with radio button
2. Run it on iO

[2022-10-25 10:31] Viraj-10 commented on #5391
Hi @nicolinho22, It's not a `native-base` Issue. Node version v16.13.0 have npm `v8.1.0`. Node 17 and above have npm `v8.11` and above. for some reason it is mandatory to use `--legacy-peer-deps` or `--force` to install `peerDependancies` which are not an exact match from npm `v8.5` and above. For more details, you can check the issue on npm CLI [here](https://github.com/npm/cli/issues/4998).
As y

[2022-10-25 10:44] Viraj-10 commented on #5391
Hi @rosc0, we are making `react-dom` optional peerDep. @proohit just added [this](https://github.com/GeekyAnts/NativeBase/pull/5507) PR. which will fix this issue.

[2022-10-25 10:45] Viraj-10 commented on #5391
Hi @Foohx, Thanks for sharing the logs seems like the issue is coming from `react-native-aria`. we will fix this warning soon.

[2022-10-25 15:48] lobor commented on #5249
same here, see this repo for reproductible step
https://github.com/lobor/nativebase-nextjs

[2022-10-25 16:21] haveamission opened #5509 "accessibilityLevel is throwing TypeScript warning - please support React Native Web TextTypes"
### Description

accessibilityLevel prop is throwing TypeScript warning

### Problem Statement

When trying to use accessibilityLevel on `<Heading>`, you get an error about how the type doesn't exist.

<img width="845" alt="Screen Shot 2022-10-25 at 12 01 13 PM" src="https://user-images.githubusercontent.com/10475533/197828692-a9af6aa0-a174-4e9f-9038-86daca0b8f4f.png">
<img width="347" alt="Screen

[2022-10-26 06:18] lobor commented on #5249
I found a workaround.
The problem is server side renderer (SSR), so load `NativeBaseProvider` in browser and not in server

[code]

[2022-10-26 07:25] Viraj-10 commented on #5249
Hi @lobor, you need to pass `isSSR` prop to `NativeBaseProvider`.

[2022-10-26 11:00] lobor commented on #5249
I have same error with isSSR

[2022-10-26 11:35] Nasseratic commented on #5420
Temporary Solution:

[code]

[2022-10-26 11:38] Nasseratic commented on #5420
@Viraj-10  I think we should remove the default selection color for input default theme :)

[2022-10-26 12:44] hanamurayuki commented on #4982
I also faced same issue.

`yarn add react-native-safe-area-context@4.2.4`
`npx expo run:ios` or `npx expo run:ios --no-build-cache`

solved my issue.

[2022-10-26 16:55] klekowskim opened #5510 "Improve testing by disabling animations"
### Description

Possibility to disable animations/transitions globally. It can be done for:
* test only (e.g. by mocking components)
* for tests and production app (e.g. by properties in `NativeBaseProvider`)

### Problem Statement

Currently when testing some components (e.g. Modals), we can get the following error:
[code]

It happens because after final check in tests (e.g. assert that text is

[2022-10-26 16:59] AshwiniKumar007 commented on #5508
Thanks @kietnguyen0814 for reporting this. We will look into it.

[2022-10-26 18:47] austinrbrown01 commented on #5371
Getting the same error here when running tests with Jest

`console.error
    Warning: Internal React error: Attempted to capture a commit phase error inside a detached tree. This indicates a bug in React. Likely causes include deleting the same fiber more than once, committing an already-finished tree, or an inconsistent return pointer.

    Error message:

    TypeError: _reactNative.AppState.rem

[2022-10-26 21:49] saharsh-bhatia commented on #5295
I do have this issue as well on iOS. Nested text styling such as Italics, and bold doesn't work but changing colors does.

native-base: 3.4.19
expo: 45.0.0
react-native: 0.68.2

[2022-10-26 23:51] nvacheishvili opened #5511 "Fab Always visible, even when modal open"
### Description

I wanted to enable fab component to be displayed and accessible even when modal was open

### CodeSandbox/Snack link

https://codesandbox.io/s/distracted-lovelace-6nylmu

### Steps to reproduce

1. Create a Modal
2. Create a fab
3. place them on the same screen and open modal

1) On ios you'd see that fab is available regardless modal being open or closed
2) On android fab buttons

[2022-10-27 05:47] 1974892005 commented on #5446
I also encountered this problem

[2022-10-27 10:25] dln88 commented on #2536
I got this issue by a silly mistake. I install a library and removed it right after but didn't remove the import line. Hope this help

[2022-10-27 12:10] Nasseratic commented on #5075
Hey everyone 👋🏼
The fix is available in `3.4.19`

[2022-10-27 12:16] Viraj-10 commented on #5075
Closing this issue. react-native-web 0.18 is supported in `native-base v3.4.19`.

[2022-10-27 12:16] #5075 closed

[2022-10-27 20:35] akinzalowevidation commented on #5348
@ankit-tailor Any news on this fix?

[2022-10-28 06:38] Viraj-10 commented on #5509
Hi @haveamission, Thanks for reporting the issue. We will look into it.

[2022-10-28 06:39] Viraj-10 commented on #5510
Hi @klekowskim, Thanks for your feature request. We will do internal POC and let you know.

[2022-10-28 06:40] Viraj-10 commented on #5511
Hi @nvacheishvili, Thanks for reporting the issue. we will look into it.

[2022-10-28 16:12] claudiozam commented on #4009
I migrated my app to https://github.com/react-native-elements/react-native-elements

Also it has a similar component model, similar to native-base@2.x

No more problems.

[2022-10-29 01:39] jjjjonathan commented on #5098
+1 react-native 0.69.6, native-base ^3.4.19

[2022-10-31 04:16] ttdatt commented on #4937
Hi @Viraj-10 it works in light mode, but not dark mode
`components: { Button: { variants: { outline: { _dark: { borderColor: 'blue.500' } }, }, }, },` doesn't work

[2022-10-31 09:03] maaliHasan commented on #5415
@Viraj-10
I have installed the latest version 3.4.19 and I still have the issue: Property 'onPress' does not exist on type 'IntrinsicAttributes & InterfacePressableProps<IPressableProps> :

![onPressIssue](https://user-images.githubusercontent.com/25580330/198970946-ae3ae2aa-4857-4ce8-9982-93af4026ceae.PNG)

And I got the same error when I tried to use onPress for the Button component. Any thought

[2022-10-31 09:58] Viraj-10 commented on #5415
hey @maaliHasan, can you share your `package.json`?

[2022-10-31 10:19] maaliHasan commented on #5415
Hi @Viraj-10 , plz find my package.json file attached in below link :

[packge.json](https://drive.google.com/file/d/1YZMjtoE2vruaM2wcgBNzTPLZcPlL9XC8/view?usp=sharing)

[2022-10-31 16:46] guidoabelleira commented on #4660
I have the same problem in "native-base": "^3.4.6".

Tengo el mismo problema en "native-base": "^3.4.6".

[2022-10-31 16:50] guidoabelleira commented on #5073
I have the same problem in "native-base": "^3.4.6".

did you find a solution?

Logro resolver?

[2022-10-31 16:53] guidoabelleira commented on #5098
+1
"react-native": "0.68.2"
"native-base": "^3.4.6"

[2022-10-31 21:46] JeremyBradshaw7 commented on #5358
I put the polyfill in, and it's compiling and running, but:
- many <Icon>s are not showing properly (or at all)
- CheckBox shows something like a dash in the box rather than a tick

[2022-11-01 07:54] mehranjavid commented on #4982
I was getting the same issue when creating a new project and just following the installation steps of native base.

solved it by [cleaning build folder in xcode ](https://medium.com/@abhisheknalwaya/how-to-clear-react-native-cache-c435c258834e#:~:text=To%20clean%20the%20iOS%20build,cache%20for%20your%20current%20target.) and following your steps

[2022-11-01 07:57] maaliHasan commented on #5415
Hi @Viraj-10 , any updates on this, please?

[2022-11-01 08:13] Viraj-10 commented on #5415
Hi @maaliHasan, you have install incorrect type for react and react-native. Please install react 17 and react native 65 above types.

[2022-11-01 10:06] maaliHasan commented on #5415
@Viraj-10 Thanks for the suggestion. But I still have the same issue after I upgrade the version of the react and react-native type!

[2022-11-01 11:08] chipcop106 commented on #5451
Same, defaultProps not working with Text components

[2022-11-02 08:32] StarHosea opened #5520 "tooltip support mobile web and app"
### Description

tooltip now cannot work on mobile, because it depends on mouse hover or keyboard event.
can we add a feature show tooltip when the trigger item was clicked ?

### Problem Statement

cannot use tooltip on mobile

### Proposed Solution or API

trigger: 'click' | 'hover'

### Alternatives

_No response_

### Additional Information

_No response_

[2022-11-02 16:59] cameronprestera opened #5522 "Actionsheet overlay closes slowly on Android and pops back up on iOS when swiping closed"
### Description

The actionsheet component pops back up when swiping closed on iOS and the overlay on android closes slowly when you swipe down. I would expect the actionsheet to not pop back up on iOS and the overlay to close on android much quicker.

### CodeSandbox/Snack link

https://snack.expo.dev/jwoctBv6n

### Steps to reproduce

1. Setup actionsheet component.
2. Swipe to close a handful o

[2022-11-02 20:40] itzmatheus commented on #5308
[Stackoverflow](https://es.stackoverflow.com/questions/565638/error-al-instalar-native-base/565770?noredirect=1#comment1000424_565770)
1. Add overrides react v18.
[code]

2. Then run

**Works for me.**
PS: When i use --force flag to install native-base the emulator crashes after app refresh many times without edit the code.

![image](https://user-images.githubusercontent.com/31101192/199597290-fe6

[2022-11-02 22:16] erclem1998 commented on #3984
Does anyone know if the problem will be fixed?

[2022-11-03 05:54] Siliconvelly commented on #5077
Well i am still facing this issue i am using native-base@3.4.20. so please fix this issue as soon as possible.

[2022-11-03 06:27] ankit-tailor commented on #5522
Hey @cameronprestera, Thanks for reporting the issue. We'll look into it.

[2022-11-03 12:06] pors commented on #4404
@mayank-96 Did you enable proguard while trying to reproduce this issue? Because that triggers it. I think it justifies a mention in the documentation.

[2022-11-03 20:59] epshtielsl commented on #3811
@intergalacticspacehighway I am also seeing this issue in v3.4.20.  Font weights working in iOS but not in Android.

[2022-11-04 05:52] hanykumar commented on #2844
Hi Team, I am ex-employee of GeekyAnts.

Native base version: 3.4.19
I am also facing same issue.
Toast is hidden under keyboard.
Thanks

[2022-11-04 06:39] ankit-tailor commented on #5520
Hey @StarHosea, Thanks for the suggestions, we'll look into it.

[2022-11-04 07:07] ankit-tailor commented on #5449
Hey @GollyJer, This will affect `colorScheme`, `size`, and `variant` when responsive props are passed as the value, otherwise it won't break anything else.

[2022-11-04 19:48] EddyDunda commented on #5070
Any updates? This is not working on the last version, too.

[2022-11-05 06:44] GollyJer commented on #5449
Thanks @ankit-tailor.

That's helpful info.
Will save some hair pulling going forward. 👍

[2022-11-06 04:24] sarnakov commented on #4303
@surajahmed Please, reopen the issue, @MrVico is right there are still errors when you try to write tests.

[2022-11-06 15:06] madmeatballs commented on #5446
Same, encountered this with "native-base": "^3.4.5" on "react-native": "0.68.2",

[2022-11-06 15:15] madmeatballs opened #5535 "Require cycle warning on 3.4.5"
### Description

Require cycle warning

### CodeSandbox/Snack link

private project

### Steps to reproduce

1. Install native-base 3.4.5
2. yarn android/ios
3.  Error will appear

[code]

### NativeBase Version

3.4.5

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-11-07 02:52] SirFitz opened #5536 "After Upgrading NativeBase Unit Tests Fail to Render"
### Description

After upgrading Native Base, Unit Tests fail

### CodeSandbox/Snack link

private project

### Steps to reproduce

I've added a basic setup below, by following the react-native testing library i've created a custom render function. However with the NativeBaseProvider component added I receive this error:

<img width="660" alt="Screenshot 2022-11-06 at 9 48 04 PM" src="https://user

[2022-11-07 06:08] ankit-tailor commented on #5535
Hey @madmeatballs, Thanks for reporting the issue. We'll look into it.

[2022-11-07 06:52] byberkan commented on #4153
this is still happening and I am on 3.4.20
Is any one else still having this? or can you guys confirm at least if this is working for you now? I have spent days on this and planning to completely take off the nativebase unfortunately.

[2022-11-07 08:07] rileyy29 commented on #4153
@byberkan I managed to get it working when using the "presentation" prop for Stack Navigator Screen Options but couldn't get it working for general purposes (it seemed very on-off and sometimes it would work).
In the end, we changed the design to get around this.

[2022-11-07 09:48] mlab817 commented on #5073
well, i still have the problem.

[2022-11-07 13:51] proohit opened #5538 "angle support on react-native-linear-gradient integration"
### Description

`react-native-linear-gradient` [supports passing an angle instead of start and end positions](https://github.com/react-native-linear-gradient/react-native-linear-gradient#useangle--angle--anglecenter) to calculate gradients. The current integration of `LinearGradient` inside NativeBase does not support that.

### Problem Statement

The current implementation strictly uses [`start`

[2022-11-07 16:25] pmtu95 commented on #4886
I have the same issue with Actionsheet on version 3.4.19, the backdrop transition should be fading instead of sliding

[2022-11-07 17:06] madmeatballs opened #5539 "EventEmitter.removeListener('appStateDidChange', ...): Method has been deprecated"
### Description

EventEmitter.removeListener('appStateDidChange', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener`.

### CodeSandbox/Snack link

private project

### Steps to reproduce

1. Launch the app
2. Warning will appear

[code]

### NativeBase Version

3.4.5

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS

[2022-11-08 18:21] madmeatballs opened #5542 "HybridProvider useEffect memory leak"
### Description

useEffect in HybridProvider causing a memory leak when closing app.

### CodeSandbox/Snack link

private project

### Steps to reproduce

1. Open app
2. Close it
3. Error appears in Metro

[code]

### NativeBase Version

3.4.5

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

Our project is using

[2022-11-09 07:57] AshwiniKumar007 commented on #5536
Hey @SirFitz , Thanks for reporting. We will look into it

[2022-11-09 08:25] AshwiniKumar007 commented on #5542
Hey @madmeatballs , We will look into this. Thanks for reporting

[2022-11-09 12:30] mcanikhilprajapati commented on #4153
this is working perfectly

Thanks @olamigokayphils

[2022-11-09 23:39] fruity4pie opened #5543 "Can't install native-base"
### Description

ERESOLVE unable to resolve dependency tree

### CodeSandbox/Snack link

no

### Steps to reproduce

Latest expo sdk 47

<img width="664" alt="image" src="https://user-images.githubusercontent.com/15814446/200965235-9e96ca1d-dd51-4801-ace0-065beaa113a9.png">

### NativeBase Version

3.4.21

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_

[2022-11-10 11:45] kebele commented on #5098
+1
nativebase 3.4.18
react-native 0.69.6

[2022-11-10 13:27] cleytonchagasbr commented on #5543
Hi,

I have the same problem, on the iphone emulator it works but using the android emulator it doesn't

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: myproject@1.0.0
npm ERR! Found: react@18.0.0
npm ERR! node_modules/react
npm ERR!   react@"18.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer re

[2022-11-10 14:56] cleytonchagasbr commented on #5543
The ideal would be to remove **react** and **react native** from package.json ? I just followed expo.docs and created a project with expo and then installed native-base

[2022-11-10 16:49] LinasKo commented on #5543
I don't see how that would work - the versions conflict within `native-base` itself. Minimal reproduction steps (valid until the next `react-native` update probably, but would break again in the future):

[code]

It breaks with the following err:

[code]

[2022-11-10 19:26] bahri-dev opened #5546 "Accessbility error of Link"
### Description

I got an error when checking accessbility of Link.

### CodeSandbox/Snack link

https://codesandbox.io/s/reverent-glade-9k8bnk

### Steps to reproduce

_No response_

### NativeBase Version

3.4.11

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

window

### Additional Information

`<Link accessibilityLabel='test-accessibility' >Test Link

[2022-11-10 20:01] ansuro commented on #5543
Hi, i'm facing the same issue
![image](https://user-images.githubusercontent.com/8570389/201194130-6a7171e9-b47b-48e3-899d-e0ee93fadff1.png)

![image](https://user-images.githubusercontent.com/8570389/201194324-e9c7cc30-eee4-43a2-a013-12ec1cd96a5b.png)

[2022-11-10 23:56] LinasKo commented on #5543
The issue of the standalone install still persist, but I am now able to install `native-base` in expo without errors (albeit with many warnings). And hey, I've learnt a bit about peer dependencies along the way.

What I did was:
1. Explicitly `expo install` the dependencies mentioned when attempting to install `native-base`, going back to this step if `native-base` throws more errors of the same k

[2022-11-11 00:58] zxm9988 commented on #4429
Hey , I fix it like this.
[code]

[2022-11-11 03:21] madmeatballs commented on #5539
any updates on this?

[2022-11-11 03:22] madmeatballs commented on #5542
any updates on this?

[2022-11-11 03:22] madmeatballs commented on #5535
any updates on this?

[2022-11-11 08:15] MarkLester10 opened #5547 "Memory Leak : HybridProvider"
### Description

When you close the app there is a memory leak in useEffect HybridProvider:

### CodeSandbox/Snack link

/

### Steps to reproduce

1. Open the app
2. Close
3. Error in Metro appears
[code]

### NativeBase Version

3.4.5

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

Project is using RN 0.68.2

[2022-11-11 11:41] kennyose opened #5548 "App crashes on expo react native release build"
### Description

native base crashes on production minified build sent to both google app store and ios app store. also crashes when tested with release options (expo start --no-dev --minify -c).

### CodeSandbox/Snack link

https://github.com/kennyose/native-base-test

### Steps to reproduce

1. Clone the repo (https://github.com/kennyose/native-base-test)
2. Install dependencies
3. run "expo sta

[2022-11-11 17:27] Lurtroxx commented on #1227
Any update to this???

[2022-11-12 11:31] ksi9302 commented on #5543
It happens to me as well.
While @LinasKo suggestion might work, I don't feel safe about upgrading my app to sdk 47 at this stage.

[2022-11-12 19:40] thomaspaulin commented on #5543
To those creating a NEW project, I was able to bypass this by downgrading the native-base Typescript template to v6.12.7 using the following command:
`npx react-native init MyApp --template react-native-template-typescript@6.12.7`

[2022-11-13 13:48] #5548 closed

[2022-11-13 18:52] ansuro commented on #5543
Created the app with
`npx create-expo-app my-app --template blank@45`
and will upgrade as soon as native-base is compatible

[2022-11-14 03:25] jasontamez commented on #4492
The TouchableWithoutFeedback hack [doesn't fix](https://snack.expo.dev/@jasontank/native-base---slider-in-actionsheet-and-modal) the actionsheet/modal problem for me, fwiw.

[2022-11-14 08:12] garrettg123 opened #5550 "[Expo v47] [RN 0.70.5] [NativeBase ^3.4.21] Unable to resolve "native-base" from "App.tsx""
### Description

App never loads, iOS Bundling failed

### CodeSandbox/Snack link

https://snack.expo.dev/@garrettg/nativebase-template

### Steps to reproduce

Run app from XCode using version provided in Snack.

### NativeBase Version

^3.4.21

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

Same with NativeBas

[2022-11-14 12:37] ElectricCoffee opened #5552 "Can't install Native Base due to mismatching versions of React"
### Description

I am trying to install Native Base in my project, but am getting an isntallation error because the peer dependency for React is 18.2. The latest version of React supported by React Native is 18.1, and Native Base requires 18.2

### CodeSandbox/Snack link

N/A

### Steps to reproduce

I got this error in two ways:

`npm install native-base` in my existing project, and
`npx react-na

[2022-11-14 14:12] heemoe opened #5553 "Checkbox multiple selection not correctly."
### Description

Multiple check item randomly.

### CodeSandbox/Snack link

none

### Steps to reproduce

Multiple selection

### NativeBase Version

3.4.21

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-11-14 14:19] heemoe commented on #5553
It seems React.useMemo didn't collect some deps, if I add `groupItemInputProps` to memo deps it will work magically.

Code from src/components/primitives/Checkbox/Checkbox.tsx
[code]

[2022-11-14 15:41] JosefBud commented on #4999
This fixed it. Thank you!

[2022-11-14 16:58] soemarko commented on #5391
Will anything bad happen if just install NativeBase with `--legacy-peer-deps`? Like encountering some weird edge cases that shouldn't have happened, etc.

[2022-11-15 06:28] AshwiniKumar007 commented on #5546
Hey @bahri-dev Thanks for reporting. We will look into this

[2022-11-15 06:43] proohit commented on #5391
It could and that's what installing without the flag is warning about: If the version of a (peer)dependency mismatches, the underlying library (native base in this case) might use functionality that's been patched/removed/altered. Either you carefully inspect changes via changelogs or live unknowingly.

[2022-11-15 07:17] zuby64 commented on #2947
Any update on this issue.I am using multiple  flatlists inside of <Content> .Also I have other contents on the screen thats is why I am using <Content>

[2022-11-15 08:02] surajahmed commented on #5553
@heemoe Thanks for reporting this.
`Checkbox.Group` is breaking with `@react-stately/checkbox` version above `3.0.3`. We are working on the fix.
Adding `groupItemInputProps` as a dependency will re-rerender all the checkboxes on one selection which causes performance issues.

[2022-11-15 08:05] surajahmed commented on #5550
@garrettg123 Thanks for reporting this. We'll have a look at this.

[2022-11-15 08:06] surajahmed commented on #5547
@MarkLester10 Thanks for reporting.
We'll look into this. Hope to fix this in the coming release.

[2022-11-15 08:07] surajahmed commented on #5538
Thanks for the suggestion @proohit. We'll plan to add this feature in the next version.

[2022-11-15 08:44] heemoe commented on #5553
Thanks for your reply, it's helped me a lot. I found some dependence using a newer version of `@react-stately/checkbox` in my `yarn.lock`. My temporary workaround is manually setting the package to `3.0.3`, which works fine for me.

[2022-11-15 11:39] michelazzam commented on #4302
I'd like to note that native-base import cost is very expensive !  619k in my case (in each file I used native base)

So I believe if this was optimized, the application should get smoother, because native base is imported in every react native screen or component!

Any suggestion on how to optimize it?

![image](https://user-images.githubusercontent.com/31466523/201910336-ef663183-bccd-4d17-a4aa-

[2022-11-15 15:02] Simba-Mupfunya commented on #5539
Same problem here version 3.4.21 and React 0.68.4

[2022-11-15 15:31] thomaspaulin commented on #5552
See also https://github.com/GeekyAnts/NativeBase/issues/5543.

[2022-11-15 16:56] cameronprestera commented on #5522
@ankit-tailor Any update on this?

[2022-11-15 19:45] imckain opened #5556 "Type definitions have inconsistencies"
### Description

Certain type definitions for extendedTheme are inconsistent typings.

### CodeSandbox/Snack link

https://codesandbox.io/s/native-base-v3-template-mq6ox?file=/src/App.tsx:396-622

### Steps to reproduce

1. Go to 'native-base/lib/typescript/core/extendedTheme.d.ts'
3. Scroll down to 'letterSpacings:{}'
4. See object:
5. `letterSpacings: {
        xs: string;
        sm: string;

[2022-11-15 20:36] AlinaHassan commented on #2649
This helped me

[2022-11-16 00:18] bnussman opened #5557 "Input Cursor is not visible on iOS in Dark Mode"
### Description

When you click into a text input on iOS, the blinking cursor is not visible, because it is too dark?

### CodeSandbox/Snack link

https://snack.expo.dev/@bnussman/broken-ios-inputs

### Steps to reproduce

1. Create an `<Input />`
2. Go into dark mode
3. On iOS focus the input
4. Observe that you cannot see the blinking cursor well

### NativeBase Version

3.4.21

### Platform

-

[2022-11-16 01:20] bnussman commented on #5557
might be related to #5420

[2022-11-16 08:23] cuongnguyen3108 commented on #5451
Same, defaultProps not working with Button component, i need set variants props

[2022-11-16 09:20] bryantobing12 commented on #3883
any update on accordion since it's still not in the docs

[2022-11-16 09:25] cuongnguyen3108 opened #5558 "Customizing Components, old variant values ​​cannot be overwritten"
### Description

I want to edit the available variants (ghost, outline, solid, ...) but it doesn't seem to work

### CodeSandbox/Snack link

https://docs.nativebase.io/next/customizing-components

### Steps to reproduce

import {extendTheme} from 'native-base';
import Button from './button';

export const theme = extendTheme({
  components: {
    Button: {
        defaultProps: {
            color

[2022-11-16 09:29] bryantobing12 commented on #4756
any update on this, the API is already on v3 `3.4.21`,

I tried this and it's rendered successfully
[code]
but I'm not sure how to use it the proper way since we don't have guide on the docs

[2022-11-16 09:55] AshwiniKumar007 commented on #5556
Hey @imckain, Thanks for reporting. We will look into this.

[2022-11-16 11:55] hirvesh commented on #5437
Hello, has it been fixed yet?

[2022-11-16 13:03] Alpacora commented on #4999
I updated native-base but the problem remains, do I need to do something different?

[2022-11-16 15:36] #5535 closed

[2022-11-16 15:38] madmeatballs commented on #5539
Still happens with 3.4.22

[2022-11-16 15:38] madmeatballs commented on #5542
still happens with 3.4.22

[2022-11-16 16:25] Simba-Mupfunya commented on #5539
Yep I can confirm with @madmeatballs it still happen though i know you have picked up on this issue yet

[2022-11-16 16:41] XavierVilaRubio commented on #5098
+1
"native-base": "^3.3.7",
"react-native": "0.69.6"

[2022-11-16 20:40] balramsinghsapient opened #5561 "Nativebase not supported with Next JS and React Native CLI built with Nx Monorepo"
### Description

Nativebase with React Native CLI and Next JS built with Nx monorepo breaks in installation

### CodeSandbox/Snack link

https://notavailable.com

### Steps to reproduce

My project is built with Nx monorepo where we want to use Nativebase for Next JS project and React Native CLI project.

Not enough Nativebase documentation for NextJS with Nx. Nx and Nativebase work by decorating

[2022-11-17 14:14] Simba-Mupfunya commented on #5539
Hi all, this might help explain this issue. I was nesting components that where containing NativeBaseProvider at their root thus  throwing this mentioned warning including the leak on HybridProvider. Now we have removed NativeBaseProvider from all these reusuable components and only allow the application to define it at root level. By doing this as described in the docs I dont have an single warni

[2022-11-17 15:00] Aleksandriukas opened #5564 "Placeholder styling"
### Description

There is no way to style the placeholder. For example, I need to set the size of the placeholder text to be smaller than the input text.

### Problem Statement

New props for placeholder styling will give the opportunity for deeper customization.

### Proposed Solution or API

`<Input  placeholderStyle={{fontSize = 'sm', fontWeight = 'bold'}} />`

[code]

### Alternatives

_No res