[2021-03-01 03:30] yu-ichiro commented on #3358
@sammiepls
Hi, please don't use me/github as stackoverflow. I could give you hints like

1. The component you're using in the `renderTabBar` (remember, its render-"TabBar" function and not render-"Tab" function) is not a derived class of TabBar (DefaultTabBar) so that might be the problem

2. Did you try the other answers in the question you linked? fixing it through tabContainerStyle seems more l

[2021-03-01 05:53] HeyShinner commented on #3206
For me the problem is fixed in v2.13.14

[2021-03-01 06:18] sammiepls commented on #3358
I'm sorry @yu-ichiro, apologies. I have tried the answers in the link, it solve one of the issues but not the prop type warning. I will take your advice and post to SO.

[2021-03-01 10:54] Rajan-Savaliya-spt commented on #323
import {StatusBar} from 'react-native';
import {Container, Content, Header, Body, Title} from 'native-base';
.
.
.
export default class App extends React.Component {
  render() {
    return (
      <Container>
        <Header style={{backgroundColor:'#000'}}>
          <StatusBar barStyle="light-content"/>
          <Body>
            <Title style={{color:'#FFF'}}>My App</Title>
          </Body>

[2021-03-01 12:39] ramkgunturu opened #3504 "Native Base Tabs RTL support issue in android"
When I placed nested tabs(Parent and Child Tabs)  in one screen,when i swipe the screen child tabs will swipe until it completes the loops,And then it will move to the parent Tab .

It works very well in IOS but on android.

In Android,  first tab data is not loading in RTL, it is showing empty screen.

Could anyone please help me on the above two issue will be a great help!.
<img width="332" alt=

[2021-03-01 12:43] safi-alt commented on #2536
[
![Screenshot_2021-03-01-15-25-37-54](https://user-images.githubusercontent.com/58626565/109498607-81c87780-7ab5-11eb-8476-fffd6848c3ab.jpg)
](url)

[2021-03-01 12:45] safi-alt commented on #2536
Im facing the above-mentoioned screenshot issue. Neither the project is working on macbook nor on my windows laptop. But it is working on my friend's laptop. We are using expo and react native. We have made a general button as mainButton and using it. The error says mainButton does not exist. The path is imported correctly and none of the above mentioned fixes work. Please help. Thanks in advance

[2021-03-01 12:47] safi-alt commented on #2536
![Screenshot_2021-03-01-15-25-37-54](https://user-images.githubusercontent.com/58626565/109499069-3367a880-7ab6-11eb-9a2b-cffc1ebed258.jpg)
Im facing the above-mentoioned screenshot issue. Neither the project is working on macbook nor on my windows laptop. But it is working on my friend's laptop. We are using expo and react native. We have made a general button as mainButton and using it. The erro

[2021-03-01 14:42] harsh-kukreja opened #3505 "Multi Level Accordion"
Hello,
Can we create a dynamic multi-level accordion with native base and also instead of down arrow can I customize it with a checkbox?
Can anybody help me with that?

[2021-03-02 07:44] 409Error commented on #3381
When will you fix it?

[2021-03-03 05:53] cloudstr21 commented on #2947
It's 2021 now, is anyone able to solved the issue, but not the hacky-way? i am using Flatlist inside Content also then annoying warning still appear. even latest version of nativeBase and react-native couldn't help.

[2021-03-03 08:05] ansarikhurshid786 commented on #3504
Use page property to fixed issue in android:
[code]

This works for me

[2021-03-03 09:06] ansarikhurshid786 commented on #3504
Following stackoverflow fixed for me:
https://stackoverflow.com/questions/58736619/nativebase-tabs-issue-for-force-rtl-fix/58736621#58736621

[2021-03-03 10:01] nayookyaw commented on #3114
I changed react-native-community/datetimepicker version from

2.4.0 to 3.0.9

"@react-native-community/datetimepicker": "^3.0.9"

We can assume the old version will get error

[2021-03-03 10:44] 409Error commented on #3381
Does anyone know how to get around this error? Thx

[2021-03-03 15:02] heruujoko commented on #3435
I got a similar issue, but only downgrading to native-base <= 2.13.14 seems to resolve it.

[2021-03-03 22:54] ngocdaothanh opened #3511 "[Android] CardItem text fontWeight is not bold when "header" or "footer" prop is set"
"native-base": "2.15.2"

On iOS, `<Text>` inside `<CardItem header>` or `<CardItem footer>` is bold, but on Android it is not.

Having to manually set it is not convenient:

[code]

[2021-03-04 11:26] timotismjntk commented on #3358
yes, it worked thanks @yu-ichiro

[2021-03-05 04:04] ramkgunturu commented on #3504
If we place reverse then swipe functionality is not changing.

Client needs swipe functionality to change tabs.

[2021-03-05 09:41] timothydillan commented on #3381
Hey guys! A beginner to React Native stuff here! I found a fix and have uploaded a package on the npm platform if you need to fix this issue on your apps quickly.

All you need to do is:
1. `npm install my-react-native-base --save`
2. Replace `native-base` with `my-react-native-base` on your imports
3. `cd ios && npx pod install` (only if your app for iOS too).
4. Done!

The problem is most likely

[2021-03-05 09:49] timothydillan commented on #3438
Hi! Not sure if double posts are allowed, but you can refer [here](https://github.com/GeekyAnts/NativeBase/issues/3381#issuecomment-791300821) for the fix.

[2021-03-05 14:29] mechanizzed commented on #3358
Thanks @yu-ichiro

[2021-03-06 09:09] ThangLeQuoc commented on #3435
Installing the `@react-native-picker/picker` does not resolve in my case.

[2021-03-07 08:18] sgc0014 opened #3518 "background color in header component with border radius shows background color in square shape"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-03-09 14:17] netevolution commented on #3381
Hi,
the error no longer appears but I don't know how to open the datepicker. The original showDatePicker method is missing.

How do I display the datepicker?

I'm currently interested in Android.

[2021-03-10 10:12] lorenzosfarra commented on #3435
Not sure if this is somehow an accepted way to proceed (old style, maybe...so I think it's not a resolution to the bug but a possible workaround), but I have manually edited `settings.gradle` and `app/build.gradle` together with a line added to `MainApplication.java` in order to make it work.

The first step was to install the package:
`npm install @react-native-picker/picker --save`

**`settings.

[2021-03-10 16:29] gabrielhpugliese commented on #3435
The solution from @lorenzosfarra does not work for me:

[code]

[2021-03-11 08:47] lorenzosfarra commented on #3435
@gabrielhpugliese sorry, there was a mistake in my comment.
`npm install @react-native-community/picker --save`
instead of
`npm install @react-native-picker/picker --save`

already correct my comment. Hopefully this will fix your error, too.

[2021-03-11 11:23] timothydillan commented on #3381
Hm.. not sure about that. I'm implementing the date picker as per the [documentation](https://docs.nativebase.io/Components.html#date-picker-def-headref), and the datepicker shows just fine. However, I only tested the datepicker on iOS. Could you perhaps give a picture/video of your issue?

[2021-03-11 13:43] GSolari79 commented on #3307
Still facing this issue. Does anyone come up with a solution?

[2021-03-11 17:20] osioalberto opened #3536 "Multiple FAB animation not working"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-03-12 08:24] SahilPrabhakar7 commented on #946
I passed props like this
 <Tab heading="Pending" >
<Tab1 props={this.props} />
 </Tab>
and  if you want to access props inside Tab1 call props like this

    this.props.props

[2021-03-12 08:27] SahilPrabhakar7 commented on #2735
I passed props like this

**` <Tab
heading="Pending" >
<Tab1
 props={this.props} />
 </Tab>`**

and  if you want to access props inside Tab1 call props like this

**`this.props.props`**

[2021-03-12 10:31] bitlab-code opened #3539 "v3 roadmap"
Hi,
can you share a roadmap for v3? (possibly with ETA)
Just to help community to decide if wait v3 for the next project
Thank you very much!

[2021-03-13 07:03] richagain commented on #3539
+1

[2021-03-14 01:08] richagain commented on #3539
+2

[2021-03-14 08:18] SainathPatil001 opened #3541 "while installing package"
npm WARN ERESOLVE overriding peer dependency
npm WARN Found: react@17.0.1
npm WARN node_modules/react
npm WARN   peer react@"17.0.1" from react-native@0.64.0
npm WARN   node_modules/react-native
npm WARN     peer react-native@">=0.64.0-rc.0 || 0.0.0-*" from @react-native-community/cli@5.0.1-alpha.1
npm WARN     node_modules/@react-native-community/cli
npm WARN     4 more (the root project, native-

[2021-03-14 21:55] hsjoberg commented on #3372
@henrineken My bad, the example code had an error. The issue is still real though.

[2021-03-15 04:02] fmukendi commented on #2431
adding {flexShrink:1} to the bubble works perfect with me !!

[2021-03-15 11:48] ansarikhurshid786 commented on #3435
@lorenzosfarra after installing @react-native-community/picker, i am getting following error:

`Invariant Violation: Tried to register two views with the same name RNCAndroidDropdownPicker`

[2021-03-15 11:54] lorenzosfarra commented on #3435
It _can be_ because you now have both @react-native-community/picker and @react-native-picker/picker, you should remove `@react-native-picker/picker`.
If it's already removed, can you please show how do you import the picker in your JS code?

[2021-03-15 11:57] ansarikhurshid786 commented on #3435
i also tried to remove @react-native-picker/picker package still get same error

[2021-03-15 12:04] gabrielhpugliese commented on #3435
I could only solve it by downgrading native-base@2.13.14

[2021-03-15 12:12] ansarikhurshid786 commented on #3435
I have install @react-native-picker/picker and now it is working fine.

[2021-03-15 12:14] ansarikhurshid786 commented on #3435
@gabrielhpugliese you are right. previously i was using native-base@2.13.14. now i install @react-native-picker/picker which resolved issue.

[2021-03-15 12:45] gabrielhpugliese commented on #3435
I am not sure if this should be closed. Isn't it still an issue because something about the dependencies is off?

[2021-03-18 10:38] patricktan98 commented on #3541
@shivrajkumar Can you help check what's going on?
I cant even install old version NativeBase

[2021-03-18 11:45] mahevstark commented on #2701
can you try [this library](https://www.npmjs.com/package/fiction-expo-floating-label)?

[2021-03-18 12:12] richagain commented on #3539
+3

[2021-03-18 12:27] bitlab-code commented on #3539
ETA and roadmap are useful for the reasons mentioned above, anyway... @richagain  I think it's useless respond with +1, in this way you will just send a lot of emails to me 😀

[2021-03-18 14:27] gauravguha commented on #3539
We are still deciding on the core architecture. It is going to be a mobile-first accessible component for react native and web which will help you to build your design system for all the platforms. Expect a beta preview in 2-3 weeks from now.

[2021-03-18 15:20] fredlemieux commented on #3105
This solution unfortunately didn't work, are there any other solutions?  It's not great if we can't use Jest for testing NativeBase?

[2021-03-19 12:14] cyrus25 commented on #3541
@SainathPatil001 @patricktan98 I am able to install the native-base package with the latest react-native version.
<img width="687" alt="Screenshot 1942-12-28 at 5 41 53 PM" src="https://user-images.githubusercontent.com/38385549/111778376-92ad2180-88da-11eb-9341-6dc34d28661f.png">

[2021-03-20 03:57] MaganAnkur opened #3559 "Buttons are not showing correctly on Android"
I am using block buttons one with colour and one with transparent background.

**on Android transparent button is showing some grey background.

Also the text is showing in caps on Android only.**

![Screen Shot 2021-03-19 at 11 55 01 PM](https://user-images.githubusercontent.com/42070594/111858380-d883dd00-890e-11eb-85ea-932f940f3f6b.png)

      <NativeButton
                testID={testID}

[2021-03-21 17:36] ooooseaoooo commented on #2286
This issue should be reopened

[2021-03-22 04:38] pilleanand commented on #2834
I am also getting same error

[2021-03-22 14:33] MaganAnkur commented on #3559
Any help would be really appreciated..

[2021-03-22 19:02] busykid commented on #3197
Install react-native-vector-icons properly
https://aboutreact.com/react-native-vector-icons/#Importing-Icon-Files-in-iOS

[2021-03-23 14:43] flemux opened #3574 "Cannot resize ICON component"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-03-25 12:07] shivrajkumar commented on #3559
@MaganAnkur Can you let us know the version of NativeBase you are using?

[2021-03-25 14:06] cichun opened #3587 "Picker and Picker.Item does not have testID property"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-03-26 12:31] KiranC10 commented on #2158
It's already March 2021 and Picker still not supporting placeholder in Android

[2021-03-26 12:44] MaganAnkur commented on #3559
2.13.14

[2021-03-30 15:17] hlaporthein commented on #3539
Hi @gauravguha , when would v3 be stable? I am thinking to start using v3 in my next mobile project coming days.

[2021-03-30 22:26] titanve opened #3597 "Picker not showing inside a Card component"
## I have gone through these following points

- [] Check latest documentation: https://docs.nativebase.io/
- [] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [] Check examples from NativeBase KitchenSink https://git

[2021-03-30 22:45] dvelaren commented on #3428
Same error +  ` VirtualizedLists should never be nested inside plain ScrollViews with the same orientation because it can break windowing and other functionality - use another VirtualizedList-backed container instead.`

Even with @rdgoutiyama fix my accordion does not show titles as seen in the following image:
![image](https://user-images.githubusercontent.com/2531157/113066144-a3ce1c00-917f-11eb

[2021-03-31 00:57] Andy7911 commented on #1943
The style bugs the function onPress

[2021-03-31 02:03] flora8984461 commented on #2947
Have the same issue.
I need my whole page to be scrollable.

[2021-03-31 12:10] truongthuc commented on #3381
Hey guys, finaly i resolved this by check document in @react-native-community/datetimepicker repo.

1.  Replace onDateChange prop to onChange
2. onChange will recive two args (event, newDate)

this is my edit and allready check in IOS, not yet in Android

[code]
I hope it will help you guys

[2021-04-01 09:23] cyrus25 commented on #3597
Hi @titanve , couldn't reproduce the above issues. Can you provide a snack link for minimal reproduction for the same?

[2021-04-01 09:50] maldives0 commented on #3428
import * as React from 'react';
import { Container, Content, Accordion } from 'native-base';
import {  FlatList } from 'react-native';
const dataArray = [
  { title: 'First Element', content: 'Lorem ipsum dolor sit amet' },
  { title: 'Second Element', content: 'Lorem ipsum dolor sit amet' },
  { title: 'Third Element', content: 'Lorem ipsum dolor sit amet' },
];
function VirtualizedView(props: an

[2021-04-01 19:31] vapstor commented on #2947
facing same issue, i have:

<ScrollView> //vertical
<view scrollable>
<component with flatlist horizontable scrollable>
<view scrollable>
<ScrollView>

how am i supposed to do?

it's like a instagram friend's stories component

[2021-04-01 19:33] vapstor commented on #2947
facing same issue, i have:
[code]

how am i supposed to do?

it's like a instagram friend's stories component

[2021-04-02 09:31] abhishekbitlingu opened #3608 "Nativebase documentation show Actionsheet has "hide" function exported, but it isn't!"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-04-04 06:19] Tjajeer opened #3609 "alpha version 36"
## I have gone through these following points
- [] After adding nativebase v3 into my project, its giving this error

## Issue Description

`Tried to register two views with the same name RNCSafeAreaProvider`, i m checking on IOS simulator and Iphone, but works fine on web`

This are the package versions , i have used

#### node, npm, react-native, react and native-base version, expo version if us

[2021-04-05 19:42] ricardopacheco commented on #3497
Weird, i tested it according to comment and, everything worked.

[2021-04-05 20:14] beepsoft commented on #3497
I reported it more than a month ago, now they do seem to work on iOS. 🎉

[2021-04-05 23:23] ricardopacheco opened #3619 "RN 0.63 with v3.0.0-next36 and @expo/vector-icons"
@expo/vector-icons is really need for RN apps? I can understading expo apps ... but react native, not.

How to use native base 3 without @expo/vector-icons dependency?

[2021-04-08 06:46] aarthigovardhanan88 commented on #3381
I tried it and still doesnt works!! any help??!

[2021-04-08 16:23] moaazmf90 opened #3638 "Output multi <Tab> using loop issue"
i have an array and trying to output the tabs according to the array's data (each user will have different data)

i simplified the code

`        <Tabs>
          {
            array1.map((one) => {
              <Tab
                heading={one.name}

                <Text>{one.name}</Text>
              </Tab>
            })
          }
      </Tabs>
`

Bellow is the error message am getting

!

[2021-04-09 04:57] glinda93 commented on #3381
I gave up and chose to use `@react-native-community/datetimepicker` directly.

[2021-04-09 04:59] glinda93 commented on #3381
Try `npm i @react-native-community/datetimepicker` and pod install again.

[2021-04-09 11:53] darlanhms commented on #3381
you'll probrably have build problems in android with this approach because the same component will be builded twice

[2021-04-10 11:37] anmolagarwal17 commented on #72
Thanks a lot man 🔥

Also, everyone else, you need to add fonts manually in the `./ios/{yourAppName}/Info.plist` file.
To add it manually paste below code in that file (to add all fonts):
`
<key>UIAppFonts</key>
<array>
  <string>AntDesign.ttf</string>
  <string>Entypo.ttf</string>
  <string>EvilIcons.ttf</string>
  <string>Feather.ttf</string>
  <string>FontAwesome.ttf</string>
  <string>FontAweso

[2021-04-10 14:08] rajnish-actolap commented on #3619
+1

[2021-04-10 14:09] rajnish76 commented on #3619
+1

[2021-04-10 21:04] glinda93 commented on #2947
## TL;DR

**Remove `Content` component from your code**

### Reason

`Content` component has `KeyboardAwareScrollView` [inside it](https://github.com/GeekyAnts/NativeBase/blob/02f5b23e19b3db594e5b5828f336fdac32cfb1fc/src/basic/Content.js#L37).

So, if your screen has a `FlatList`, don't use `Content` component. Instead, use plain old React Native `SafeAreaView` and `View`.

### Example with Workin

[2021-04-11 15:01] hemalrathod commented on #245
This has been a very useful code for me. Thanks.

[2021-04-11 16:45] muhammadhassan149 commented on #518
Hello, can you please share the complete code of this example

[2021-04-12 10:28] Saad9624 commented on #518
any update on RTL?

[2021-04-12 12:05] ariannargesi opened #3642 "Can you please add android placeholder for picker component? it's 2021 now!!!"

[2021-04-12 14:34] cloudstr21 commented on #2947
hi @glinda93 thanks for the solution. In my case, your solution didn't worked but makes my view not scrollable. Here is my code structure:
`<Container>
      <Header onScroll={onScroll} />
      <ScrollView scrollEventThrottle={16} onScroll={handleScroll}>
        <ProductList />
      </ScrollView>
      <BottomBar />
    </Container>`

[2021-04-12 17:31] glinda93 commented on #2947
You are right. My solution won't make view scrollable :(

I think passing `nestedScrollEnabled={true}` to `FlatList` will fix `FlatList` scroll problem in Android

[2021-04-13 04:39] wendysychan commented on #3435
Agreed, hope will fix in next version.

[2021-04-13 21:11] dllz opened #3649 "Invariant Violation: Tried to register two views with the same name RNDateTimePicker"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: thttps://github.com/GeekyAnts/NativeBase/releases
- [] Check examples from NativeBase KitchenSink https:/

[2021-04-15 15:45] ELiHimself commented on #3358
Had same problem, thank you @yu-ichiro

[2021-04-16 06:32] saravanatm commented on #3252
Getting this error in web

[2021-04-16 13:41] chaaya commented on #1231
They have fixed it, but forgot to update typings for Typescript and does not mention it in their docs.
https://github.com/GeekyAnts/NativeBase/commit/75a604f78e95d50c076f02a62ea58023ca088391

You can pass a style object into the configuration.

`
ActionSheet.show({
        style: {
          backgroundColor: 'red',
        },
        options: []
  };
`

[2021-04-17 04:53] ConnorDY opened #3652 "FAB press effect on a dark background causes a lightened square around button"
Before pressing:
![Screenshot_20210417-005053.jpg](https://user-images.githubusercontent.com/945062/115102133-14fb2680-9f17-11eb-8dbf-c7651a0311a4.jpg)

While pressing:
![Screenshot_20210417-005118.jpg](https://user-images.githubusercontent.com/945062/115102140-1c223480-9f17-11eb-945f-06f1d445106b.jpg)

[2021-04-17 05:18] ConnorDY commented on #3652
I'm pretty sure I know how to fix this. Should have a PR up shortly.

[2021-04-17 09:29] zoobibackups commented on #323
thank. it worked for me. I was searching for the solution in react native for the last 2 weeks.

[2021-04-17 11:18] darshantogadiya commented on #3428
@rdgoutiyama thank you, my problem is solved.

[2021-04-18 11:59] gev commented on #3619
+2
I Suggest react-native-vector-icons instead

[2021-04-19 02:57] jahead commented on #3619
@gauravguha or someone could update us on this? - if it's possible to just use RNVI

It seems that @expo/vector-icons is just a shim for react-native-vector-icons.
We try to not include anything from expo, as their packages usually need to pull in a number of dependencies that only really make sense if you are using expo.

This doesn't seem to be the case with this library, it's a shim AFAICT is j

[2021-04-19 03:07] jahead opened #3657 "v3 update react 17 and react-native v0.64"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-04-19 06:01] jahead commented on #3619
I take that back.
it still pulls in unimodules which wants to own the module loading process and pulls in a bunch of expo packages

I now get a warning for lot setting up unimodules in my project.

[2021-04-21 09:25] iamir4g opened #3661 "dynamic Tabs Data not working"
hi i get this array from my API :
[code]
and this is my code to renderTabs :
[code]
but when select tab `{title: "ایرانی"}` content is show "آسیایی" when select tab  `{title: "محلی"}` content is show "پتزا" and ...
i dont khnow why content show is worng fully worng!!
thank for helping me.

native base version : "^2.15.0"
react native versio : "~0.63.4"

[2021-04-21 12:58] iamir4g commented on #3086
I have the same issue can you solve this problem?

[2021-04-21 13:36] mernxl commented on #3435
Hello, just installing `@react-native-picker/picker@^1.9.7` fixes the issue for me. That version matches that used by native-base. Its also imperative to keep importing from native-base as it applies the predefined styles to the picker component.

I think this issue has to do with auto-linking of the `@react-native-picker/picker` package. When its a dependency of native-base alone, somehow its not

[2021-04-21 21:58] rezatoosi commented on #518
Tabs +1

[2021-04-22 07:32] AoNoOokami commented on #3381
Hello, I'm having the same issue on Android with the message `Possible Unhandled Promise Rejection (id:0): TypeError: null is not anobject (evaluating '_reactNative.NativeModules.RNTimePickerAndroid.open)`

[2021-04-23 11:47] Rananjaya commented on #3231
I've this error
error node_modules/react-native-keyboard-aware-scroll-view/lib/KeyboardAwareHOC.js: #<WeakSet> could not be cloned.

[2021-04-23 13:24] aroucha-miguel commented on #3649
Had a similar problem causing this error today. I was using `"@react-native-community/datetimepicker": "3.4.6",` on my app package.json. @react-native-community/datetimepicker released a new version `3.4.7` and since native-base is using `^`, it was causing a conflict of versions (as it was using 3.4.7 for native-base and 3.4.6 for my project.

Check wich version you're setting in your package.jso

[2021-04-24 15:32] ELiHimself commented on #3433
Same issue for me, still waiting for solutions?

[2021-04-25 11:19] Valdomar commented on #3619
+1

Actually i'm not using Icon from native-base and i'm using RNVI, but it's so bad that expo/vector-icons is mandatory...

[2021-04-25 23:07] davwheat commented on #3372
What happens if it's wrapped in a `<Animated.View>` instead?

[2021-04-25 23:23] jahead commented on #3619
You'll probably find if you're using the select/radio you're using the icon.

It's unfortunate they didn't stay with RNVIs and have the ability to optionally  load expo icons.

Expo icons is compact for RNVIs anyway.

The good news is it's open source and it's only two line change to change it back ^^

[2021-04-26 06:47] monikamateeva commented on #3358
I had the same issue.
I am using native-base version 2.15.2.
The solution by @yu-ichiro worked for me. Thank you!

[2021-04-26 06:54] monikamateeva commented on #2795
The same issue in @2.15.2, but the solution by @nameer94 worked for me.
Thank you!

[2021-04-26 09:57] deepakmehra96 commented on #2158
It's already April 2021 and Picker still not supporting placeholder in Android

[2021-04-26 14:26] LadislavBohm commented on #3619
I created gist for patch-package in the meantime if anyone is interested.

https://gist.github.com/LadislavBohm/d2154dd48d06f4a1ccee01932326914e

[2021-04-26 23:16] jahead commented on #3619
Oh that's really neat +1. I forked. But this is so much better!

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Ladislav Böhm ***@***.***>
Sent: Tuesday, April 27, 2021 12:26:51 AM
To: GeekyAnts/NativeBase ***@***.***>
Cc: Joshua Head ***@***.***>; Comment ***@***.***>
Subject: Re: [GeekyAnts/NativeBase] RN 0.63 with v3.0.0-next36 and @expo/vector-icons (#3

[2021-04-28 01:22] soly2014 commented on #518
any update on RTL?

[2021-04-28 07:15] danilrafiqi commented on #3275
any update ?

[2021-04-28 12:03] plvenkatesh92 commented on #2947
I have added ScrollView with many textinputs and also i created a custom dropdown component with flatlist.
And i get the below warning

**VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead**

[2021-04-29 03:06] pmella16 commented on #3238
@gomezmark hi, you managed to solve this ?? @MedElba

[2021-04-29 16:02] BeyoncesHomeboy commented on #3197
this fixed it for me

[2021-04-29 16:42] gregormelhorn commented on #3433
Please fix this and accept the pull from dlferro!

[2021-04-30 07:13] qasimgit commented on #3381
Solved :rocket:

[2021-04-30 16:16] jsonxr commented on #3539
Do you have an update on a beta preview ETA?

[2021-05-01 07:52] gomezmark commented on #3238
@pmella16  sadly no, I locked the tab on every touch on the slider.

[2021-05-01 08:47] sridix commented on #1653
you can use like this for selected value from PICKER:
<Picker.Item color={(this.state.selectedId =='id') ? 'red' : 'grey' } label={'Value'} value={'id'} />

[2021-05-01 08:48] sridix commented on #1755
you can use like this for selected value from PICKER:
<Picker.Item color={(this.state.selectedId =='id') ? 'red' : 'grey' } label={'Value'} value={'id'} />

[2021-05-01 08:48] sridix commented on #338
you can use like this for selected value from PICKER:
<Picker.Item color={(this.state.selectedId =='id') ? 'red' : 'grey' } label={'Value'} value={'id'} />

[2021-05-02 17:00] rabidkitten commented on #3302
Same problem here.

[2021-05-02 20:58] rabidkitten commented on #2718
The original poster was correct, the margin style does not get applied. You must specify the marginLeft, marginRight, etc. in order for it to work.

[2021-05-03 11:47] babitakapoor112 opened #3666 "Picker onValueChange function is calling twice"
Hey there,

I am getting an issue regarding the picker. Following is the example code I have used for the Picker:
import {
    Picker
} from 'native-base';
import React, {Component} from 'react';
export default class Pickers extends Component {
    constructor(props) {
        super(props);
        this.state = {selected: "key1"};
        _this = this;
    }

    onValueChange(value: string) {

[2021-05-03 12:14] kmnsdotin commented on #3428
You saved my life :D

[2021-05-03 21:19] kaanyenigul commented on #3381
It works on android, thank you so much!

[2021-05-04 04:20] hotaryuzaki opened #3671 "Button light theme wrong color"
## Issue Description

node: 14.15.1
npm: using yarn
yarn: 1.22.4
react-native: 0.63.4
native-base: 2.15.2
expo: 39.0.5

#### Expected behaviour
light color like Docs
![image](https://user-images.githubusercontent.com/17826213/116960317-3c4d4400-acca-11eb-9715-6fad076a0c96.png)

#### Actual behaviour
![image](https://user-images.githubusercontent.com/17826213/116960341-4ec77d80-acca-11eb-8e70-39171

[2021-05-04 10:35] harisahmedDCS commented on #2057
can we do vertical  scrollable tab

[2021-05-04 11:11] bettimms opened #3674 "Error with styled-components native-base v3"
Hi,
Im trying to use latest version of native base with latest version of react-native but im getting the error showing the the screenshots. Apparently somewhere in native-base components something missing. I tried to install components on my side but i get other styled-components dependency errors. Any suggestion?! I didn't see anywhere that i've to install styled-components as dependency of nati

[2021-05-04 13:15] OMuhammad opened #3675 "ScrollableTab page content are not centered in Landscape view"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [] Check examples from NativeBase KitchenSink https://g

[2021-05-04 13:26] Satyam-code143 commented on #2736
@mzu  Did you get any solution for the same?

[2021-05-04 16:34] LadislavBohm opened #3678 "v3 Toast and Snackbar prevent touch when present"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https://

[2021-05-04 17:49] shivamjjha commented on #3435
It is a problem with `linking/installing right package by default`. In `package-lock.json`, I can see that `@react-native-picker/picker` version `"^1.9.7"` is required:

[code]

But only version `"1.15.0"` is installed:

[code]

After manually installing using `npm i --save @react-native-picker/picker`, the problem got fixed.

[2021-05-05 02:03] CarlosMayoralMX commented on #2192
Hi, this works for me. Thanks!

[2021-05-05 06:29] bettimms commented on #3674
Solved! I had to install all `peerDependencies`

[code]
 from https://github.com/GeekyAnts/NativeBase/blob/v3.0.0-next.36/package.json

[2021-05-05 06:29] #3674 closed

[2021-05-05 13:04] melissatully commented on #3381
Does anyone know how to have it show date and time rather than just date?

[2021-05-06 08:12] hotaryuzaki commented on #3435
i think this is true.
that is why we have to install again react-native-picker into our dependencies.

but if we want to make both of them use the latest version, reinstall native-base so it would install latest version of react-native-picker. Then install react-native-picker.
for me, now both of them using react-native-picker 1.15.0
and the error solved too.

thanks to @mernxl

[2021-05-06 10:47] Manikanta-GEP commented on #3675
+ same issue

[2021-05-07 02:26] prawee commented on #3358
version 2.15.2 still has this warning

[2021-05-08 17:13] MedElba commented on #3238
Hi guys! Sorry for delay, I solved switching to this tab component that automatically handles this "touch priority"! https://github.com/satya164/react-native-tab-view

[2021-05-08 19:12] rabidkitten commented on #2158
I can see a trend developing here. I think perhaps @SupriyaKalghatgi you should open the issue again. It's May 2021 and it's not supporting the placeholder in Android...

[2021-05-08 21:14] phwed opened #3681 "V3 ScrollView Support"
I have been going through the v3 alpha. looks great.

My only question is are there any supports for ScrollView

[2021-05-09 09:25] phwed commented on #3681
I used Factory on react native ScrollView. Found that in the docs later.

[2021-05-09 09:25] #3681 closed

[2021-05-10 08:20] angelxmoreno commented on #3121
Do we have a solution for this?

[2021-05-10 15:46] #3297 closed

[2021-05-11 10:25] devanada commented on #3119
no update on this issue?

[2021-05-12 10:03] DavideCrapa commented on #3678
same problem

[2021-05-12 11:52] davwheat opened #3686 "Typings are missing from published package"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [ ] Check examples from NativeBase KitchenSink https:/

[2021-05-12 12:55] Chill-Studio commented on #1567
Still happening on 2.15.2

[2021-05-15 08:06] monikamateeva commented on #3105
I am thinking of not not using Native Base... since it does not support testing with Jest . Or at least if we had a workaround? Could not configure my project to successfully use NativeBase and Jest.

[2021-05-16 10:51] rahul-mahato opened #3692 "Bug: Button Component with rounded prop throws an Error"
<img src="https://user-images.githubusercontent.com/52028898/118394246-255f0800-b661-11eb-9396-b1a8355d7b0d.png" width="350px"/>

## Issue Description
Using the prop rounded,roundedTopLeft, roundedTopRight , roundedBottomLeft, roundedBottomRight, etc , throws and error

[code]

#### Versions :
npm : 7.13.0
node: v15.3.0
react-native-cli: 2.0.1
react-native: 0.64.1
xed: 12.5

#### Expected behaviou

[2021-05-18 11:11] AlphaJuliettOmega commented on #2947
^ changing the inner content of Picker component is not a solution to me, it should be usable inside a scrollview.

changing from a Scrollview to a non-scrolling view isn't an option if there are other components on the screen or you want to support small screens.

This is quite a messy thread.

<Content> might be a problem,
in my case, we're using <ScrollView> / <KeyboardAwareScrollView> wrapping

[2021-05-19 13:51] Kultimov opened #3702 "IOS Keyboard blinking problem on v-model"
Hello, I have the problems with IOS input, when I entering the text which have the v-model it is blinking and slows down the input. There is the screen video. I just used original package and added v-model.

https://user-images.githubusercontent.com/22502842/118824167-6eba8c00-b8db-11eb-8e9d-71b7710243cd.MP4

Anyone do you have a solution or any ideas? I have used this project as the core, and it

[2021-05-20 10:44] inimist commented on #3095
Worked!!!

[2021-05-21 10:26] dodiwknd opened #3705 "Error in Accordion"
I get an error like this in the component accordion .. has someone found this?

![image](https://user-images.githubusercontent.com/82150448/119122368-a3a01d80-ba58-11eb-8ac9-425957d752ea.png)

[2021-05-21 18:33] AndersonHqds commented on #3705
You can pass the prop expanded.

[code]

and

[code]

[2021-05-22 02:06] HectorRizzo commented on #2173
I find this solution in Stackoverflow:
import Root from "native-base";
import Root from native base and wrap the whole container/view inside render's return function

render() {
    return (<Root>your app-return function code</Root>);}

[2021-05-23 02:38] RitikDua commented on #3661
Please let me know the console output for the following snippet:
[code]

[2021-05-23 10:27] TeyimPila opened #3706 "Extracting Tab into a reusable component loses style"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-05-23 21:59] jserman commented on #2925
This is the way I did it, it's a bit tacky but it looks ok.

### JSX

`<Fab
  active={isActive}
  direction="down"
  position="topLeft"
  onPress={() => setIsActive(!isActive)}

    <Icon type="FontAwesome" name="car" />
    <Button style={{backgroundColor: '#DD5144'}}>
        <Icon type="FontAwesome" name="car" />
        <Text style={styles.buttonText}>Mazda</Text>
    </Button>
    <Button sty

[2021-05-23 22:07] Fanrong-qu commented on #3706
i have the same problem, probably it is the problem of pagerView

[2021-05-24 13:30] aligenc commented on #3381
I have solved this bug by adding value field to DatePicker component.

[code]

[2021-05-25 14:36] jacargentina commented on #3597
@titanve i've had a similar issue; discovered that giving `height` style with some value, it is fixed on my case.

<img width="632" alt="Captura de Pantalla 2021-05-25 a la(s) 11 36 13" src="https://user-images.githubusercontent.com/517228/119516797-6df77f00-bd4d-11eb-83c3-ff9ab8f938a0.png">

[2021-05-26 01:52] CosmostakeR commented on #2469
use this - tabContainerStyle={{ borderBottomWidth: 0 }}

[2021-05-26 01:53] Abhijeet-Ashapure commented on #2469
use this - tabContainerStyle={{ borderBottomWidth: 0 }}

[2021-05-27 08:32] vickneswarixbi4 commented on #2947
<ScrollView>
                <View style={styles.mainContainer}>
                    <CategoryComponent />
                    <Slider />
                </View>
                <Text style={styles.categoryTitle}>Categories</Text>
                <FlatList
                    vertical
                    showsVerticalScrollIndicator={false}
                    numColumns={2}
                    da

[2021-05-27 17:42] janet-rivas commented on #2947
It's really odd bug, I'd implemented  ListItem using native base in different pages and it mess up my other ListItem styles if I use react FlatList, and  I got the warning -> "VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead"

so I end up implementing this way.

[code]

[2021-05-28 04:15] NexCodeJimM opened #3714 "Can't install nativebase on my react native app"
Hello, I'm trying to install native base on my react app by it's showing me this error every time I tried running 'npm install native-base --save'

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! Found: react@16.13.1
npm ERR! node_modules/react
npm ERR!   peer react@"^16.0" from @gregfrench/react-native-wheel-picker@1.2.14
npm ERR!   node_modules/@greg

[2021-05-29 06:35] junaidq322 commented on #156
This is my code it does not seem to be working, help needed.
<Item stackedLabel>
        <Picker
          mode="dropdown"
          iosIcon={<Icon color={"#007aff"} name="arrow-down" />}
          style={{ width: undefined }}
          placeholder="Select your Category"
          selectedValue={pickerValue}
          placeholderStyle={{ color: "#007aff" }}
          placeholderIconColor="#007aff"

[2021-05-30 22:09] jonhickman5 commented on #3714
Native Base appears to be having significant issues across the board with new react native apps.

[2021-05-31 03:16] RupamShaw opened #3719 "picker long list return by back sometimes show only 10 items if long list"
## Issue Description
Long list picker on back button return sometimes only shows 10 items of list

#### node, npm, react-native, react and native-base version, expo version if used, xcode version

"expo": "~41.0.1",
     "native-base": "^2.15.2",
  "react": "16.13.1",
      "react-native": "~0.63.4",
    "react-native-picker": "^4.3.7",
 "react-navigation": "^4.4.0",

#### Expected behaviour
Picke

[2021-06-02 15:37] jiasweelaw commented on #3479
I also having same issue. Button always overlay on top of any other element

[2021-06-03 14:27] gtaylor44 commented on #3483
I'm seeing something similar with Drawer component.

![image](https://user-images.githubusercontent.com/11572604/120661491-7d9e6280-c4c7-11eb-9c57-8a7f74acb71a.png)

[2021-06-04 04:05] FrederickEngelhardt opened #3725 "[Request] Typescript - Add ability to extend exported primitive with custom properties"
## I have gone through these following points

- [x] Check latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-06-08 13:22] aikewoody commented on #3587
Also having the same problem, would be very appreciated if the maintainers look into this!

[2021-06-08 21:08] i6mi6 commented on #3264
I solved it by going into

`node_modules/native-base/dist/src/utils/index.js`

then replacing `exports.ViewPropTypes=_reactNative.ViewPropTypes;`

with

`var PropTypes=require('prop-types');exports.ViewPropTypes=PropTypes.shape({ style: PropTypes.any });`

Then patching it by calling `npx patch-package native-base`

[2021-06-09 11:00] Rajan-Savaliya-spt commented on #1117
<FlatList
        keyboardShouldPersistTaps={'handled'}
        data={filteredDataSource}
        renderItem={renderItem}
        keyExtractor={item => item.id}
      />

[2021-06-09 11:00] Rajan-Savaliya-spt commented on #1117
keyboardShouldPersistTaps={'handled'}
this props add in scrollview or flatlist  and work just fine.

[2021-06-09 11:28] embray commented on #3264
This looks like a duplicate of #3130.  It was fixed in native-base as of 2.15.2 (I had the same problem and confirmed that updating fixed it).  So this issue can be closed.

[2021-06-09 14:06] Manikanta-GEP commented on #3675
Any solution?

[2021-06-09 16:44] phwed opened #3728 "nativebase@next v40"
i was using nativebase@next.3.8 and i upgraded to v40. i can run my app anymore. Here is a screenshot of the error
![simulator_screenshot_25EFABBF-E59E-4FE5-A747-A14ECF19D4B0](https://user-images.githubusercontent.com/14329840/121395261-c16aef00-c941-11eb-94d5-5a628e94a4c3.png)

The same code works if I revert to the previous version.
Can i get any assistance on updating the versions?

[2021-06-09 18:02] phwed commented on #3728
I have fixed it. The issue was with importing View from native-base instead of react-native

[2021-06-09 18:02] #3728 closed

[2021-06-11 06:56] alicja99 commented on #2915
@Angelk90 any update?

[2021-06-11 06:59] Angelk90 commented on #2915
@alicja99 : No solution yet.

[2021-06-11 10:40] Angelk90 commented on #1501
@GeekyAnts, @akhil-geekyants, @SupriyaKalghatgi, @normdoow, @cbaker, @LasithaPrabodha, @andrew-luchkevych, @flashimxd, @shekharskamble, @lucie-macikova, @amaljosea, @tarun29061990,  @harishlalwani, @Johncy1997, @Donhv, @AbanoubNassem, @maartenvandillen, @girginsoft , @victorsousadev , @gauravroy1995, @fxbayuanggara , @Cookizza, @tunshiyu, @ofgowtham , @ishdemon, @bharatpatil , @hanykumar, @Salman9

[2021-06-11 10:43] Angelk90 commented on #2915
@599markus, @andreeaohno, @lakshaya22, @hanykumar, @waheedakhtar694, @pragupnewzera, @prafgup, @waheed25, @juliscotto, @alicja99:

I hope I haven't forgotten anyone.
Even after years this problem seems to still persist, I think it is time to understand what the problem is and find a solution.

For those wishing to find the solution here is an example of the problem: https://snack.expo.io/-3wZ2AsKU

[2021-06-11 14:33] prafgup commented on #2915
Hey @Angelk90 , thanks for the snack, I have added a hotfix here which almost mimics the required functionality you want - https://snack.expo.io/ir57Y3gfb

The changes were in these lines -
[code]

I know this is not the exact required functionality as you would want as u want to collapse the toolbar as soon as scroll starts, the only way I can think of doing that is to add a callback function fro

[2021-06-11 14:42] Angelk90 commented on #2915
@prafgup : We can say that a starting point, actually the part of the two tabs info and movies should not flow, which happens.

[2021-06-11 14:48] tlenclos opened #3730 "[V3] TypeScript custom variants"
## Issue Description

When adding new variants for the components, I get a typing error saying that the variant doesn't exist.

[code]

#### node, npm, react-native, react and native-base version, expo version if used, xcode version

[code]

#### Expected behaviour

Types should be inferred from theme customisation

#### Actual behaviour

![image](https://user-images.githubusercontent.com/686101/1

[2021-06-11 14:55] prafgup commented on #2915
I didn't get you what you meant by "should not flow" ?
If you want the tabs to stick to the top use FlatList with stickyHeaderIndices={[1,2]} like used here https://github.com/GeekyAnts/NativeBase/issues/2915#issuecomment-642811362

[2021-06-11 15:50] prafgup commented on #2915
You would have to create custom logic for that like mentioned in end of https://github.com/GeekyAnts/NativeBase/issues/2915#issuecomment-859625201

[2021-06-16 08:00] chaudev commented on #3435
Use `npm install @react-native-community/picker --save` instead of all other options!! It worked for me

[2021-06-17 10:34] aaratishah commented on #3358
you saved me @yu-ichiro Thanks a lot.

[2021-06-17 12:16] mrezzaaa opened #3738 "Toast not working in Native Base alpha 3.0.0-next40"
## I have gone through these following points

- [X] Check latest documentation: https://docs.nativebase.io/
- [X] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [X] Check examples from NativeBase KitchenSink https://

[2021-06-18 18:43] Mukthayar1 commented on #1260
Thans for help

[2021-06-20 19:53] megacherry commented on #3433
yes, please accept the pull to resolve this issue.

[2021-06-20 19:53] megacherry commented on #3334
yes, look at #3433

[2021-06-21 07:11] intergalacticspacehighway commented on #3738
@mrezzaaa The error states that you're using `useToast` hook outside of a React component. useToast can only be called in a functional component as it's a hook. Check out this example https://snack.expo.io/@nishanbende/toast-example.
Let me know if you're still facing the issue.

[2021-06-21 10:03] awgrass commented on #518
Please add RTL support!

[2021-06-21 10:11] ramyareye commented on #518
I switched to React Native Paper

[2021-06-21 12:07] intergalacticspacehighway commented on #3678
@DavideCrapa @LadislavBohm Thanks for reporting. This has been resolved in new version. Let me know If you're still facing any issue.

[2021-06-21 12:07] #3678 closed

[2021-06-21 12:34] Mazhar-khan commented on #2832
I have same issue icon not working.
Back button is not working.

[2021-06-22 21:06] jacraven opened #3751 "Readme changelog link broken"
The changelog in the README doc links to https://docs.nativebase.io/changelog, which gives a 404 error.

[2021-06-23 04:48] intergalacticspacehighway commented on #3686
@davwheat Thanks for reporting, this has been fixed in 3.0.0

[2021-06-23 04:48] #3686 closed

[2021-06-23 07:09] intergalacticspacehighway commented on #3619
We have removed expo vector icons dependency in the new release. :D
You can use them using `as` prop in the Icon component. [Check out this example](http://docs.nativebase.io/icon#basic)

[2021-06-23 07:09] #3619 closed

[2021-06-23 07:11] intergalacticspacehighway commented on #3751
@jacraven thanks for reporting, docs are up now. [Check it out](https://docs.nativebase.io/changelog/)

[2021-06-23 07:11] #3751 closed

[2021-06-23 07:14] intergalacticspacehighway commented on #3497
@beepsoft since you reported it's working, I am closing this issue. Feel free to open another if the issue persists!

[2021-06-23 07:14] #3497 closed

[2021-06-23 07:19] intergalacticspacehighway commented on #3500
@beepsoft Thanks for reporting. This seems to be fixed in latest v3.0.0. Closing this issue, feel free to open another if the issue persists. [Updated your example with new version](https://snack.expo.io/@nishanbende/2eb075)

[2021-06-23 07:19] #3500 closed

[2021-06-23 07:52] intergalacticspacehighway commented on #3657
@jahead Thanks for reporting, this has been fixed in v3.0.0 so closing it.
Also we have done the beta release. :D [Check it out](https://docs.nativebase.io/)

[2021-06-23 07:52] #3657 closed

[2021-06-24 03:20] Aryk commented on #3393
Im experiencing the same thing...except it intermittently works on Expo and standalone iOS.

[2021-06-25 10:04] sumitsk1 opened #3760 "Property stackedLabel and error or Icon, can not be used in Item together."
import React, { Component } from 'react';

import { Container, Header, Content, Item, Input, Icon, Label } from 'native-base';

export default class IconTextboxExample extends Component {

    render() {

        return (

            <Container>

                <Header />

                <Content>

                    <Item stackedLabel error>

                        <Label>Username</Label>

[2021-06-25 10:54] sumitsk1 commented on #1205
`import React, {useState} from 'react';
import {Platform, StyleSheet, View} from 'react-native';
import {Item, Input, Icon, Label, Text} from 'native-base';
import {ColorScheme} from '../../utilities/colors';
import {valueORChecker, heightToDP, widthToDP} from '../../utilities/helpers';

import {strings} from '../../utilities/strings';

export const TextInput = ({
	label,
	required,
	infoText,
	ma

[2021-06-25 20:56] danielmoreno510 commented on #3348
<Tabs tabContainerStyle={{ backgroundColor: 'transparent' }}>
  <Tab  heading={<TabHeading style={{ backgroundColor: 'transparent' }}><Text>Sector</Text></TabHeading>}>
  </Tab>
</Tabs>

[2021-06-26 07:50] Mistes974 opened #3761 "Box linear gradient and Pressable (ripple)"
**Describe the bug**
Ripple effect didn't work with Box and LinearGradient

**To Reproduce**
[code]

**Expected behaviour**
Ripple effect like on material ui buttons : https://material-ui.com/components/buttons/

**Platform**
 - Device: [Galaxy s10 / expo]
 - OS: [Android 11]

[2021-06-26 08:36] sangolariel commented on #2947
Thank you so much! It works for me. but I want to handle load more in the inner Flatlist and Pull to refresh. How can I do it? Thanks.

[2021-06-26 16:39] intergalacticspacehighway commented on #3761
@Mistes974 Currently Pressable doesn't support foreground ripple. I had created a [PR](https://github.com/facebook/react-native/pull/31632) for the same. Until it's released, you can use [TouchableNativeFeedback](https://reactnative.dev/docs/touchablenativefeedback) with `useForeground` prop. Below code should work
[code]

[2021-06-27 10:23] beepsoft opened #3762 "Are Platform Props available to all components?"
I'm using NativeBase 3.0.2 with Typescript.

I just learned about the platform specific properties `_ios, _android, _web`, which are super useful. I tried to use them on some NB components and it seems that they actually work on eg. both `View` and `Button` (the settings on these properties get applied), however TS typing is missing for `View` and my IDE is showing red wiggly lines:

![image](http

[2021-06-27 10:51] govind1530 opened #3763 "Actionsheet is not working in nativebase:3.0.2"
**Describe the bug**
                             using action sheet example provided in doc when i click on onOpen  its through error.

**Expected behaviour**
                           action sheet should open.

**Screenshots**
                            https://ibb.co/sJ8VWC3

**Platform**
                                   System:
                                      OS: Windows 10 10.0.1024

[2021-06-27 11:35] #3761 closed

[2021-06-27 11:37] intergalacticspacehighway commented on #3763
@govind1530 can you post your code here? Seems it's like an import issue. Also, can you check out this [example](https://snack.expo.io/@nishanbende/actionsheetexample) and confirm with your code?

[2021-06-28 08:25] Ruzen1 opened #3764 "Swipe stops when I get just try to divide the tab bar"
Hey Native Base team,
 Thank you for the library.

We are trying to make a tab bar with scrolling and swiping feature. The provided Scrollable Tab is awesome and works fine.
However, we wanted to keep another option which is also a tab button but not used from the native base  just beside the tab bar. When we keep it, the swipe feature doesnt function anymore.
Can somebody please give an idea?  Th

[2021-06-28 11:44] MD-REHMAN commented on #3762
Thanks @beepsoft for reporting the issue, we'll fix it in the upcoming patch. And you're right **Platforms Props** are supported in all NativeBase components.

[2021-06-28 13:41] alessandrocapra commented on #3110
Also looking for a solution to this, not working on v. 2.13.14

[2021-06-28 20:07] md56n opened #3768 "Using <Root> from 2.13.8 to 3.0.2"
**Describe the bug**
I am updating as project from 2.13.8 to 3.0.2 and <Root> isn't working properly. I keep getting the error "JSX element type 'Root' does not have any construct or call signatures." Did NativeBase move away from Root?

**To Reproduce**
render() {
    return this.state.appReady ? (
      Root
        StatusBarListenerProvider
          Provider store={this.props.store}

[2021-06-29 03:12] govind1530 commented on #3763
yes, i am using example code.

[2021-06-29 05:06] intergalacticspacehighway commented on #3768
@md56n NativeBase v3 doesn't have a `Root` component. You just need to wrap the app with [NativeBaseProvider](https://docs.nativebase.io/setup-provider). Since you're migrating, you can join our [discord server](https://discord.com/invite/TSgCw2UPmb) to for quick communication. :)

[2021-06-29 05:10] intergalacticspacehighway commented on #3763
@govind1530 since it's working on snack player, I think there must be some installation or an import issue. I'll need more information to debug it. Are other components working apart from ActionSheet?

[2021-06-29 08:15] sumittulsyan opened #3769 "SubURL Missing"
**KitchenSink Web**
**Expected**- It must show sub URL too, once one enters into any component.
**Actual**- It is not displayed.

<img width="1440" alt="Screenshot 2021-06-23 at 11 46 28 AM" src="https://user-images.githubusercontent.com/48272902/123761984-f5ea1f00-d8df-11eb-9644-0ddde08f9b22.png">

**Platform**

- Chrome
- Firefox
- Safari
-  Brave

 **Priority**
- Medium

[2021-06-29 08:53] #3769 closed

[2021-06-29 08:54] Ajamuar commented on #3769
Please report KitchenSink issues in the [kitchensink repo](https://github.com/nativebase/kitchen-sink/).

[2021-06-29 08:57] sumittulsyan commented on #3769
Sure

[2021-06-29 09:21] Ajamuar commented on #3762
This has been fixed in [v3.0.3](https://www.npmjs.com/package/native-base/v/3.0.3). You can try it out and if it still causes the problem, you can re-open this issue.

[2021-06-29 09:21] #3762 closed

[2021-06-29 09:22] Ajamuar commented on #3738
Since there has been no further activity, we are closing this issue. Please re-open it if it still doesn't work.

[2021-06-29 09:22] #3738 closed

[2021-06-29 09:23] Ajamuar commented on #3730
We have taken note of this issue and we'll try to fix this ASAP.

[2021-06-29 09:24] Ajamuar commented on #3725
We have taken note of this issue and we'll be working to fix this ASAP.

[2021-06-29 09:27] Ajamuar commented on #3609
@Tjajeer Can you please try the latest version of native-base? You can report if you face similar issues there.

[2021-06-29 09:27] #3609 closed

[2021-06-29 09:29] Ajamuar commented on #3539
We are working on a roadmap and we will inform you as soon as that is done.

[2021-06-29 09:30] Ajamuar commented on #3408
@hariharank6 we believe this is fixed in the latest version. Please try it there and re-open the issue if the problem still persists.

[2021-06-29 09:30] #3408 closed

[2021-06-29 16:38] tewarig commented on #3764
hi, maybe can you share a mock-up of what you are trying to create. or just share the code in the expo snack where the swipe didn't work. maybe I could help you with that

[2021-06-29 23:07] btrewern opened #3774 "Box With Linear gradient example produces warning."
If you recreate the
**Box** -> **With Linear gradient** - https://docs.nativebase.io/box/#with-linear-gradient
with the current version of NativeBase (3.0.3) you get the following warning:

"Node of type rule not supported as an inline style"

This is on the
Android Emulator running Android 11
or Note 9 running Expo Go 2.19.6

[2021-06-30 07:27] khizarali621 commented on #1819
<Card transparent {...props}>
// code
</Card>

[2021-06-30 07:28] intergalacticspacehighway opened #3775 "Add color prop typescript definition in `Select`"
**Describe the bug**
Using color prop we can change the color of the currently selected. See the below screenshot. Color props works but ts shows it as an error.

<img width="1212" alt="Screenshot 2021-06-30 at 12 56 17 PM" src="https://user-images.githubusercontent.com/23293248/123919453-9143c880-d9a2-11eb-8e49-9094ee3f3065.png">

**Expected behaviour**
TS should suggest color prop.

[2021-06-30 08:26] vitaly87 commented on #518
Please add RTL support!

[2021-06-30 10:20] to-dy opened #3776 "ActionSheet - Make drag indicator optional"
In release 3.0.3, a drag indicator  was added to the ActionSheet component.
This is a request to make it optional.

[2021-06-30 10:44] naka98 opened #3778 "3.0.3 / styled-components/native could not be found within the project or in these directories"
** Before reporting this bug, please...**
1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/G

[2021-06-30 10:56] Ajamuar commented on #3778
@naka98 it would be easier for us to debug if you can add a screenshot and steps for reproduction.

[2021-06-30 11:08] Ajamuar commented on #3764
@Ruzen1 Is this for version 3?

[2021-06-30 11:12] sanjeevA301 opened #3780 "disabling a separate item"
@SupriyaKalghatgi can you please  help me with this..?   I want to  disable a particular item of native base picker  instead of whole list..

[2021-06-30 13:09] intergalacticspacehighway opened #3781 "Add fontFamily in baseStyle of heading component theme"
**Describe the bug**
- BaseStyle of heading should include fontFamily:"heading". Currently, `<Heading />` component picks `fontFamily` of `body`  which is not expected.

[2021-06-30 13:19] intergalacticspacehighway opened #3782 "Add tokenized fontFamily support in Input component"
Currently, tokenized fontFamily i.e. (body, heading or specified in theme) is only supported in `Text` and `Heading` component.
We need to add support for tokenized fontFamily in Input. i.e. <Input fontFamily="body" /> should be resolved to the respective font defined in [fontConfig](https://docs.nativebase.io/customizingFonts#extend-nativebase-theme-object) of theme

**Additional information**
-

[2021-06-30 13:24] realpasro09 commented on #2523
You can change the statusBar when you open the Picker using renderHeader property.

`renderHeader={(backAction) => {
                return <Header>
                          <StatusBar barStyle="light-content"/>
                          <Left>
                            <Button transparent onPress={backAction}>
                              <Icon name='close' />
                            </Bu

[2021-06-30 13:39] rayan1810 commented on #3774
This issue should be resolved with next release, fix merged in PR - https://github.com/GeekyAnts/NativeBase/pull/3777

[2021-06-30 13:45] rayan1810 commented on #3775
This issue has be resolved and will be fixed with the next Release.

[2021-06-30 21:15] vbriand opened #3783 "paddingTop/Bottom isn't applied on Input on Android"
**Describe the bug**
Props `paddingTop` and `paddingBottom` aren't taken into account by the `<Input />` component on Android.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an `<Input />` component
2. Give it a small height, let's say 9
3. Add `paddingTop` and `paddingBottom` props
4. The padding doesn't change from the default one

**Expected behaviour**
The padding works like on

[2021-07-01 00:10] naka98 commented on #3778
node_modules
  ../node_modules

If you are sure the module exists, try these steps:
 1. Clear watchman watches: watchman watch-del-all
 2. Delete node_modules and run yarn install
 3. Reset Metro's cache: yarn start --reset-cache
 4. Remove the cache: rm -rf /tmp/metro-*
  1 | import React from 'react';

    |                     ^
  3 | import Box from '../../primitives/Box';
  4 | import { useTh

[2021-07-01 03:02] Ruzen1 commented on #3764
@tewarig @Aj

 Thank you very much for your comments.
 I actually solved it by some other alternative way. The desired target was to keep the ellipsis fixed as you see in the below picture at the rightmost of the tab and make other tabs scrollable excluding the ellipisis.

 However I made it possible by keeping the ellipsis just above the tab bar and not as a part of tab bar and made the gave some

[2021-07-01 03:02] #3764 closed

[2021-07-01 05:38] intergalacticspacehighway commented on #3768
Closing this issue. Feel free to open a new one in case the above solution doesn't work! :)

[2021-07-01 05:38] #3768 closed

[2021-07-01 07:10] intergalacticspacehighway opened #3784 "Export IToastProps (Toast config) type definition"
We should export all the type definitions. This can be useful if someone wants to extend it and create a custom Toast.

<img width="1212" alt="Screenshot 2021-07-01 at 12 37 08 PM" src="https://user-images.githubusercontent.com/23293248/124081354-0e397580-da69-11eb-822b-45973321c220.png">

**Additional information**

Check Toast/types.ts file. We just need to export IToastProps interface. As an ex

[2021-07-01 11:01] Ajamuar opened #3785 "Add an option to suppress warning of colors not being accessible"
** Before reporting this bug, please...**
1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/G

[2021-07-01 22:45] SkyLundy commented on #3574
Experiencing a similar problem with icon container vs icon sizing that may be related to this issue. My use case is using it in a Button but it also occurs when using an Icon without any other components. I'm attempting to style the Button globally in an extendedTheme configuration object but the Icon container is sized, not the icon itself.

[https://snack.expo.io/@renovasky/nativebase-icon-sizin

[2021-07-02 01:56] jacargentina commented on #3692
In v3, it is variant=“pill”

[2021-07-02 01:58] denven commented on #985
I find this exists in 2021, I just get it shown up via adding a delay to show it:
[code]

[2021-07-02 13:41] kytosai opened #3787 "How do I delete color schemes I don't want to use?"
From document: https://docs.nativebase.io/customizingTheme

I only see extensions or replacements for colorSchemas but can't remove colorSchemas I don't want my team members to use

Is there a way to remove the colorShema I don't want to use?

[2021-07-02 15:12] intergalacticspacehighway commented on #3778
@naka98 can you verify you followed the install peer dependency step from the installation guide?

https://docs.nativebase.io/install-rn#install-dependencies

[2021-07-02 15:18] kytosai opened #3789 "Missing define `xxs` size in Text's fontSize prop !"
**Describe the bug**
<Text> component support fontSize xxs but the fontSize definition in Text's prop is missing size xxs

**To Reproduce**
**Expected behaviour**
Typescript don't warning when use `xxs` size in fontSize prop of <Text> component

**Screenshots**
Typescript show error when use `xxs` size. But component can style for `xxs` size
https://prnt.sc/181u38b -> error in vscode
https://prnt.

[2021-07-03 03:49] linuxexp opened #3790 "[Request]: Design components for Figma or XD"
Hi, thank you for native base 3.0, Someone who has used native base since its inception, I am very excited to see how far 3.0 has come. Are there any component design files available for Figma or Adobe XD?

[2021-07-03 08:52] minh-dai commented on #3674
it's not work :(((

[2021-07-03 09:01] minh-dai commented on #3778
Error: Cannot create styled-component for component: undefined.

[2021-07-03 18:14] kytosai opened #3791 "[Question] How to customize default <FormControl.Label> component fontSize ?"
Version: v3.0.3

Currently I want the default FormControl.Label component to have a fontSize value of `sm` but I have tried the customize styles below and it still doesn't work.

[code]

[2021-07-03 18:20] kytosai commented on #3791
After reading the source code I used `FormControlLabel`, it worked

[code]

[2021-07-03 18:20] #3791 closed

[2021-07-03 19:26] ju5td0m7m1nd commented on #3778
Get into the same issue @minh-dai mentioned.

With the dependencies

[code]

[2021-07-04 02:56] intergalacticspacehighway commented on #3778
@ju5td0m7m1nd @minh-dai Can someone share a minimum reproducible demo with a repo? Would help us debug further!
I tried but unable to reproduce in my system.

[2021-07-04 11:42] Warps73 opened #3792 "Image is not displayed inside Card"
Step to reproduce

https://docs.nativebase.io/buildingCard

Select IOS or Android (emulate or not)

[2021-07-04 13:56] ju5td0m7m1nd commented on #3778
@intergalacticspacehighway

I think I found the issue, `Pressable` is introduced in `react-native > 0.63` (Ref: https://github.com/facebook/react-native/releases/tag/v0.63.0)
And it will be imported as `undefined` for `react-native < 0.63`, which will cause `styled-components` throw undefined error

[2021-07-04 14:19] intergalacticspacehighway commented on #3778
Oh right, yes. NativeBase v3 is compatible with 0.63 and above.
https://github.com/GeekyAnts/NativeBase/#10-compatible-versions

[2021-07-04 15:47] redbar0n commented on #2709
Isn't it supposed to work with NextJS?

Re, the docs: https://docs.nativebase.io/install-next

[2021-07-04 17:18] sanketsahu commented on #2709
NativeBase 3.x works very well with Next. Please check the docs: https://docs.nativebase.io/installation

Closing this issues as the support has been added.

[2021-07-04 17:18] #2709 closed

[2021-07-05 05:48] Ajamuar commented on #3763
Due to inactivity, I am closing this issue. If you still have any problem, feel free to reopen this issue.

[2021-07-05 05:48] #3763 closed

[2021-07-05 05:50] #3778 closed

[2021-07-05 06:05] Ajamuar commented on #3790
Hey @linuxexp, we are currently working on a design file and it should be available soon. We'll keep you posted.

[2021-07-05 07:00] Shik1997 opened #3793 "use Toast in redux-saga"
My team use  redux-saga,and I have some  request in saga function,and when i get response ,i need  a toast  to give  user a fadeback.In native base 2.0, this is feasible，but 3.0 has changed to hooks , hooks can't work in redux-saga .

[2021-07-05 07:14] shootermv opened #3794 "error at 'Fab' demo at demo site"
![image](https://user-images.githubusercontent.com/1336862/124431864-9ecdc980-dd79-11eb-96c7-42078e747a2e.png)

**Describe the bug**
Error at demo site .

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://docs.nativebase.io/FAB#basic'
2. you will see error instead of demo component

[2021-07-05 14:57] sanketsahu commented on #3793
Hey @Shik1997, we are having an internal discussion. We will expose a standalone toast in the next release. Possibly in the next 2 days. Thanks for reporting this.

[2021-07-05 15:18] petrbela opened #3801 "Responsive SSR support"
First of all, great improvements in the v3 of the library!

One thing that I think is still missing from "full" web support is handling responsiveness for server-side rendering. The server obviously doesn't know what size the device is going to have, which means it has to render a size-neutral output, otherwise reconciliation on the client wouldn't match. There are generally two ways to approach t

[2021-07-05 15:34] sanketsahu commented on #3801
Thank you for sharing your ideas around the "full" web support. We have noted both the points and we will give some thoughts and update this thread. We are actively working on making the web more stable.

[2021-07-05 17:21] noctifer20 opened #3802 "Button with custom background"
Hey folks

Thanks for such a great work.

I'm trying to combine `LinearGradient` and `Button` from native-base, and this is what I achieved so far
[code]
Is there any better approach for the same result ?

[2021-07-05 19:44] danijel2017 opened #3803 "Touch doesn't work correctly"
Native base version is 3.0.3

When touch button or something in modal it doesn't work first, but after touch once all is working normally

[2021-07-06 15:36] beatrizavanzi commented on #3429
I'm also needing this doc.

[2021-07-06 20:02] Warps73 commented on #3792
It's working again...

[2021-07-06 20:02] #3792 closed

[2021-07-07 01:44] minh-dai commented on #3674
@sanketsahu
NativeBase v3 is compatible with 0.63 and above. :))))

[2021-07-07 02:14] gretchelin commented on #3783
I have the same problem. Setting any specific padding props (ie. py, px, pt, etc) on the component does not work, only general `padding` would.

My workaround is to use `extendTheme` and override `Input.baseStyle._android.p` to object value (empty object will do) and then specific padding props would finally work on the component.  (Sample code given below)

[code]

This is how react-native-base s

[2021-07-07 03:15] intergalacticspacehighway commented on #3802
@noctifer20 There is an alternative. NativeBase's Box supports LinearGradient as background. Take a look at this.
https://snack.expo.io/@nishanbende/lineargradient-alternative-example
and docs https://docs.nativebase.io/box#with-linear-gradient

Also, in future versions, we're planning to add linear gradient background support in Button/Pressable which would make things much more easier.

[2021-07-07 03:18] intergalacticspacehighway commented on #3803
@danijel2017 Can you add a snack example and steps to reproduce the issue? You can use this template.
https://snack.expo.io/@nishanbende/example

[2021-07-07 07:28] Lesley-Sin opened #3808 "Missing 'mode' property in Select component"
Hi. In **NativeBase** v. 2 Picker component had ```mode="mode type" ``` property . It property missing Select component (renamed Picker) in NativeBase v. 3.0

[2021-07-07 10:16] samuelzega opened #3809 "how to horizontally scrollable header tab and switch tab by swipe tab content in v3"
**Still not found a way to make tab header scrollable**
can somebody please help me how to
- make the header tab scrollable
- switch tab by swipe tab content

**Here is the code i try**

`
import React from 'react';
import {Tabs} from 'native-base';
import {Text, View, ScrollView} from 'react-native';
export default function TabComponent() {
  return (
    <Tabs isManual={false} colorScheme="haha"

[2021-07-08 07:57] jalexandremoreira opened #3810 "Link component doesn't take "fontSize" prop."
I am currently using Native Base version 3.0.3, on a React-Native(-Web) app, with TypeScript.

As per the [documentation](https://docs.nativebase.io/link#link-with-underline), the [Link](https://docs.nativebase.io/link) component is shown to support the fontSize prop. However, when scrolling down to the [props section](https://docs.nativebase.io/link#props), you can see that it, instead, takes a "

[2021-07-08 08:34] #3810 closed

[2021-07-08 12:59] chaaya opened #3811 "Android: Custom fonts not rendered with correct font when using fontWeight/fontStyle"
**Describe the bug**
Bold/SemiBold/Italic fonts not working on Android when you are using custom fonts.

**To Reproduce**
Steps to reproduce the behaviour:
1. Add a custom font set to NativeBase
2. Render ```<Text fontWeight="bold">Hello world</Text>```
3. The Text gets rendered as the default device system font.
4. See screenshots

**Expected behaviour**
The <Text/> component should render the co

[2021-07-08 14:47] cmaycumber opened #3813 "[Request]: Possible Support For the Sx Prop"
It seems like a lot of the inspiration from v3 came from chakra-ui and styled-system. It really does look great.

Our team really enjoys using the `sx` prop because it groups styles in a relatively readable manner vs. the prop based style approach.

Chakra and Theme UI currently support this approach. Do you think there'd be any consideration in supporting the `sx` prop in NativeBase?

[2021-07-08 20:56] cmaycumber opened #3814 "Hovered state does not work properly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://docs.nativebase.io/pressable#accessing-events-hover-focus-and-pressed
2. Hover over web preview
4. Notice the pressable does not register the hover

**Expected behaviour**
Hover is applied to pressable components e.i Button, Pressable, etc.

**CodeSandBox/Sn

[2021-07-08 21:01] intergalacticspacehighway commented on #3814
@cmaycumber Can you confirm if your react-native-web's version is 15+? Hover support on Pressable  was added in react-native-web 0.15.
On expo snack it won't work as it's using react-native-web 0.13 and there's no way to customise it.

[2021-07-08 21:04] cmaycumber commented on #3814
Gotcha, currently I'm using v14 where hovered support does seem to be added: https://github.com/necolas/react-native-web/releases/tag/0.14.0.

I was able to reproduce it on a test page on my app where the normal react-native pressable does work with hovered and the isHovered from `native-base` doesn't seem to work.

Would a code sandbox help?

[2021-07-08 21:07] intergalacticspacehighway commented on #3814
Oh I see. Actually we're depending upon onHoverIn/onHoverOut for hover states which were added in 0.15.6 version.
https://github.com/necolas/react-native-web/releases?after=0.15.6

Is it possible for you to upgrade react native web? Doesn't seem to be much breaking changes

[2021-07-08 21:09] cmaycumber commented on #3814
Yeah, I think upgrading should be fine. Let me see if I can do that real quick.

Thanks for the quick response!

[2021-07-08 21:14] cmaycumber commented on #3814
That works! Thanks for the help much appreciated.

[2021-07-08 21:14] #3814 closed

[2021-07-09 12:56] cmaycumber opened #3816 "Best practices for animated transitions across Pressable states?"
Are there any best practices for animating transitions from base  -> hover -> press for button state?

I assume atm this requires a custom button component but was wondering if there might be another way to animate the transitions between different states.

[2021-07-10 14:31] entervalhalla opened #3817 "Disable FAB on a specific screens or show one screen only"
Added a FAB on a screen in my React Native project, the FAB appears on every screen. How can I show the FAB on only one screen and not the others. The documentation is unclear on how to achieve this.

[2021-07-10 17:26] smeads-sweater commented on #3730
This appears to be an issue with `fontSize` as well.

I added custom `fontSizes` to my theme as seen below and I get a similar type error as described by @tlenclos.

**My custom fontSizes**
[code]

**Type Error**
[code]
**Component**
![image](https://user-images.githubusercontent.com/82860876/125171434-7aa32b80-e171-11eb-9e06-c5413f09ddf3.png)

[2021-07-12 05:29] intergalacticspacehighway commented on #3802
Closing this as I hope this question is answered. Feel free to open a feature suggestion or a bug report If you face any.

[2021-07-12 05:29] #3802 closed

[2021-07-12 05:30] noctifer20 commented on #3802
@intergalacticspacehighway Thanks, that was super helpful

[2021-07-12 05:30] intergalacticspacehighway commented on #3817
@entervalhalla can you mount and unmount FAB when the screen is focused and unfocused respectively?
If you're using React Navigation there's a way to know whether a screen is focused. Let me know If this works for you.
https://reactnavigation.org/docs/use-is-focused/

[2021-07-12 05:32] intergalacticspacehighway commented on #3817
Something like this
[code]

[2021-07-12 05:36] intergalacticspacehighway commented on #3809
@samuelzega Thanks for reporting the issue.
Tab is currently under development. It's still exported, but not recommended to use. You can use React Native tab view in the meantime. Check out this recipe.
https://docs.nativebase.io/buildingTabView

We'll cover most of the cases you mentioned when it's officially released. Closing this issue for now.

[2021-07-12 05:36] #3809 closed

[2021-07-13 01:51] yaderlacayo opened #3822 "Tabs Native base 3"
How do I place the tabs at the bottom with native base 3.0.3 and put icon with tab

[2021-07-13 09:31] deaa1111 opened #3824 "[New Feature Request] Skeleton loading"
**Describe the solution you'd like**
adding skeleton component will be nice thank you for great gob.

[2021-07-13 10:21] sanketsahu commented on #3824
@vidhi499 Is this merged and released?

[2021-07-13 11:54] vidhi499 commented on #3824
A PR has been created by the team for the skeleton component and it should be part of the next minor release.

[2021-07-13 12:02] intergalacticspacehighway commented on #3783
Thanks for reporting and debugging @gretchelin. We've found an issue in the order of prop resolution.
The fix has been targeted for 3.1 version. We'll share detailed changelog for the same.
As of now, we'll add a patch to fix the above issue for Input in 3.0.4.

[2021-07-13 13:35] bartdelange opened #3826 "FAB Button is hidden below the react-native-navigation nav bar on Android"
**Describe the bug**
The FAB button is hidden under the navigation element (which is a HStack in this case). Normal buttons are visible when given a absolute position and placed above the navigation component

**To Reproduce**
See https://github.com/bartdelange/FabBug for a minimal reproduction environment

**Expected behaviour**
The FAB button should be completely visible on both Android and iOS

[2021-07-13 14:48] musetraine opened #3827 "Button linearGradient"
How do I add a gradient to a button? There is implements from the box but there is no possibility to add a gradient button?

[2021-07-13 15:28] portiz-daitan commented on #1317
It worked for me by passing the same background-color as the tabContainer
`<Tabs
tabContainerStyle={{
 backgroundColor: '#FFFFFF'
}}>
`

[2021-07-13 19:15] mbernardes19 opened #3828 "Docs about how to upgrade from 2.x.x to 3.x.x"
Sorry if there's already any doc about it, but as far as I could search, I couldn't find any.

I'm considering upgrading from 2.15.2 to the latest 3.0.3 in a project, but I'm not sure what were the breaking changes between these major versions, so I'd like to know it to be sure of how much effort I'd need to invest in that upgrade.

[2021-07-14 02:34] intergalacticspacehighway commented on #3828
@mbernardes19 We have a [migration guide here](https://docs.nativebase.io/migration/Guide).
v3 is a complete rewrite of v2 and it also changes the philosophy from being platform specific to platform agnostic.
You'll have to rewrite significant amount of code If you're considering migration.

[2021-07-14 02:37] intergalacticspacehighway commented on #3822
@yaderlacayo tabs are still under development and not recommended in production application.
Currently, recommended approach is to use a different package or create your own using Layout components (HStack, Box).
I am closing this issue, will notify here once we release Tabs officially :)

[2021-07-14 02:37] #3822 closed

[2021-07-14 04:13] intergalacticspacehighway commented on #3826
@bartdelange Issue on android is due to the elevation property. Elevation is behaving like zIndex. The BottomBar has shadow which is adding elevation of 9 on it. However, adding elevation to FAB should ideally solve it but it won't because the [absolutely positioned wrapper](https://github.com/GeekyAnts/NativeBase/blob/master/src/components/composites/Fab/Fab.tsx#L12) itself doesn't have an elevat

[2021-07-14 04:26] intergalacticspacehighway commented on #3827
@musetraine The library that we're supporting expo-linear-gradient or react-native-linear-gradient both allow passing gradient to View which is used by Box in our case. We'll see how we can make it work for Buttons. Until then, you can do something like below. We'll update in the docs. Button uses HStack internally to support Icons and HStack is built using Box. So, the below code should do the tr

[2021-07-14 04:28] intergalacticspacehighway commented on #3802
Added an additional approach to achieve this
https://github.com/GeekyAnts/NativeBase/issues/3827

[2021-07-14 17:13] palindrom228 commented on #777
if you'll met it in next time, make sure that you not using useCallBack, if you are using it, so add toast to your dependency

[2021-07-15 11:14] t1gor opened #3836 "Avatar with conditional badge does not work"
**Describe the bug**
Rendering <Avatar> component with conditional children results in errors.

**To Reproduce**
[code]

**Expected behaviour**
Badge should be rendered only when condition is evaluated as `true`.

**CodeSandBox/Snack link**
[![Edit priceless-banzai-viwtb](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/priceless-banzai-viwtb?fontsize=14&hidenaviga

[2021-07-15 11:17] t1gor commented on #3836
For someone facing the same issue, a quick-fix would be to use an array of children:

[code]

[2021-07-15 11:50] SevenSinS02 opened #3837 "Slide placement props allows only top and bottom in typescript"
** Before reporting this bug, please...**

**Describe the bug**
The type definition for Slide allows values top and bottom only for the placement prop. Passing left or right results in a type error.

**To Reproduce**
 ` <Slide placement="right">
      ...
      </Slide>`

**Expected behavior**
slide transition from the right

**CodeSandBox/Snack link**

**Screenshots**

**Platform**
 - NativeBase

[2021-07-15 14:02] sohcah opened #3840 "Bold/Italics don't work in V3.0.4"
**Describe the bug**
Bold and Italics properties don't work on <Text> and <Heading> elements following upgrade from `3.0.3` to `3.0.4`

**To Reproduce**
View the text in the Snack link below.

**Expected behaviour**
Text "Bold" should be in bold, and text "Italics" should be in italics. Works correctly using 3.0.3, but fails on 3.0.4.

**CodeSandBox/Snack link**
https://snack.expo.io/GJLNRZm6L

**

[2021-07-15 14:24] #3840 closed

[2021-07-15 14:32] intergalacticspacehighway commented on #3840
@sohcah We just pushed 3.0.5 with the fix. Thanks for reporting!

[2021-07-15 17:32] shane-mcg commented on #3790
Is there any sort of ETA on that? We're looking for something to use for an upcoming project and are considering NativeBase. Having figma components would be a huge help

[2021-07-16 00:01] #3776 closed

[2021-07-16 08:30] musetraine commented on #3827
And one more question, how to style the _pressed and _disabled for this?

[2021-07-16 17:34] intergalacticspacehighway commented on #3827
Currently, _stack props can't be passed in _pressed and _disabled. We might add it in future versions. For now, you can use a workaround like below. (Similarly for disabled state)

[code]

[2021-07-17 22:13] tell-y opened #3847 "[Input + Modal, mobile] Unexpected behavior when typing characters in some languages"
## About the bug
When I type Japanese characters at the Input component is in the Modal component, the keyboard behavior is unexpected. It does not work the feature to convert Hiragana into Kanji characters.
You can see what happens here. It seems like the enter key is pressed after you type one word.
https://user-images.githubusercontent.com/6883692/126018766-2d8da995-f863-46a1-8e45-713627644eb2.

[2021-07-19 06:11] melvinchng commented on #3828
@intergalacticspacehighway Do you have any information on upgrading v2.x to v3.x for Vue Native? Is Native Base v3.x still supporting Vue Native?

[2021-07-19 07:47] intergalacticspacehighway commented on #3811
@chaaya thanks for reporting, this has been fixed in the latest version.

[2021-07-19 07:47] #3811 closed

[2021-07-19 07:49] intergalacticspacehighway commented on #3783
This has been fixed in the latest version with a workaround. We're changing the prop resolution for the next minor release. That would fix the issue at the core level.

[2021-07-19 07:49] #3783 closed

[2021-07-19 07:55] intergalacticspacehighway commented on #3784
Fixed in the new version :)

[2021-07-19 07:55] #3784 closed

[2021-07-19 07:55] intergalacticspacehighway commented on #3782
Fixed in the latest version :)

[2021-07-19 07:55] #3782 closed

[2021-07-19 07:55] intergalacticspacehighway commented on #3781
Fixed in the latest version :)

[2021-07-19 07:55] #3781 closed

[2021-07-19 10:19] #3774 closed

[2021-07-19 10:20] #3775 closed

[2021-07-19 10:22] intergalacticspacehighway commented on #3817
We've added a prop `renderInPortal` which can be set to `false` to handle the position manually.
This provides a workaround to control the position and mounting/unmounting FAB on a screen.
https://docs.nativebase.io/FAB#props

[2021-07-19 10:22] #3817 closed

[2021-07-19 10:24] intergalacticspacehighway commented on #3794
Thanks for reporting. It has been fixed in the new version :)
https://docs.nativebase.io/FAB#basic

[2021-07-19 10:24] #3794 closed

[2021-07-19 10:26] intergalacticspacehighway commented on #3826
We've added a prop `renderInPortal` which can be set to false to handle the position manually.
This provides a workaround to control the position/elevation of FAB on a screen.
https://docs.nativebase.io/FAB#props

[2021-07-19 10:26] #3826 closed

[2021-07-19 10:40] musetraine opened #3848 "Checkbox styles"
Hi, could someone tell me how to change the color of the checkmark in Checkbox?

[2021-07-19 10:59] #3827 closed

[2021-07-19 14:14] intergalacticspacehighway commented on #3848
You can do it like this
[code]
For more configurations, checkout the default theme of checkbox https://github.com/GeekyAnts/NativeBase/blob/development/src/theme/components/checkbox.ts

[2021-07-19 14:21] musetraine commented on #3848
You solution don't change color of checkmark =(
I need to make the color of the checkmark black, I could not even imagine that it was so difficult

[2021-07-19 14:30] intergalacticspacehighway commented on #3848
@musetraine Please check this out and let me know If it works
https://snack.expo.io/msALTSZcx

[2021-07-19 14:36] intergalacticspacehighway commented on #3848
To change the checkmark
[code]

[2021-07-19 14:43] #3848 closed

[2021-07-19 18:20] kylegwalsh commented on #3730
I'm getting a similar error, but slightly different.

It seems the Text field does not recognize the `variant` property at all for me.

Error Message:
[code]

Code
![image](https://user-images.githubusercontent.com/15202930/126208020-75b4482d-1a9e-4a12-99a9-f1a28f30e5dc.png)

[2021-07-19 19:57] cmaycumber opened #3851 "Extending Link component in the theme doesn't apply _text styles properly"
The `Link` component doesn't seem to apply `_text` styles as expected when extended in the theme.

Tried configs:
[code]

Both the baseStyle and the variant method seem to have no effect. When applying `_text` directly the link does seem to work.

In the meantime we are currently leveraging the variant in the `Button` component.

[2021-07-20 04:57] ritzblogs commented on #989
This solution worked for me
https://abodeofmystories.blogspot.com/2021/07/ReactNative-Checkbox-cant-be-pressed-more-than-1-time-Android.html

[2021-07-20 05:52] hankduan opened #3853 "How do you combine styles in v3"
traditionally, you can combine style objects as array:
[code]
How do you do this in v3?

[2021-07-20 06:04] hankduan opened #3855 "Partial migration"
Given that the change is so large between v2 and v3, it's not feasible to migrate in one go for larger projects.

What do you think about providing the possibility to have coexisting v2 and v3 libraries, to allow users to migrate from v2->v3 in a piecemeal manner?

[2021-07-20 07:29] intergalacticspacehighway commented on #3853
@hankduan You can combine and pass styles like above in NativeBase components. <Box style={[style1, style2]} />.
The only downside is that it won't pick theme token values.

Is there any use-case where you need an array and can't use something like below?
`<Box color="white" fontSize={10} ml={2} />`

You can also just spread them as objects. e.g.

const style1 = { color: 'white', fontSize: 10}
con

[2021-07-20 12:10] musetraine opened #3856 "theme don't apply styles to Input"
theme  don't apply styles _focus: {} to Input, but if I put it in JSX it is work
`Input: {
			baseStyle: (props: Record<string, any>) => {
				return {
					placeholderTextColor: 'light.300',
					borderColor: 'gray.50',
					backgroundColor: 'rgba(255, 255, 255, 0.6)',
					_focus: {
						// style: {
						// 	borderColor: '#FF503E',
						// },
						borderColor: 'success.50',
					},
					_inv

[2021-07-21 04:58] tell-y opened #3860 "KeyboardAvoidingView is not working"
It seems the KeyboardAvoidingView is not working in the doc example.

https://docs.nativebase.io/keyboardAvoidingView

**Platform**
 - NativeBase version: 3.0.6
 - Device/OS: iPhone 8/14.6, iPhone 11 Pro/14.4.2

**Additional information**
- [Next version's example](https://docs.nativebase.io/next/keyboardAvoidingView) is working

[2021-07-21 15:05] OPITOs opened #3862 "Problem with scrolling the list for a flex container"
[https://snack.expo.dev/I9rb3P83X](https://snack.expo.dev/I9rb3P83X)

[code]

Problem for ios and android.
Accident list for a container with flex. Converting flex to flexGrow works fine.

[2021-07-21 15:46] cristianoccazinsp opened #3863 "[Question] Are custom style classes supported in v3?"
Currently using v2 with an ejected theme and many customizations (custom class/attributes).  Is this something still supported in v3? How does one do it?

[2021-07-21 19:04] Birhanu2050 commented on #3307
Linking react-native picker like this solve my issues.
sudo react-native link  @react-native-picker/picker

[2021-07-21 19:21] hankduan commented on #3853
I see, thank you for that!

[2021-07-21 19:21] #3853 closed

[2021-07-21 20:06] ZijianZhang991203 commented on #3860
Same issue.

[2021-07-22 08:30] Jaybee4real opened #3865 "Add a style prop to Toast in version 3 as available in version 2"
Text overflows if content is more than 5 words

It would be really nice to have a style prop to the custom provided/default native base toast instead of having to create a custom toast everytime i want something to be displayed nicely if the text overflows as in picture (see picture)

<img width="435" alt="Screenshot 2021-07-22 at 09 20 28" src="https://user-images.githubusercontent.com/51276685/1

[2021-07-22 08:34] intergalacticspacehighway commented on #3865
Thanks for reporting!
@amars29 I think you made a PR. Is this the same issue?

[2021-07-22 08:52] amars29 commented on #3865
@intergalacticspacehighway yes, it will get resolved in our next release.

[2021-07-22 17:45] treyshedrick opened #3868 "Pointer cursor outside of modal and menu"
![Screen Shot 2021-07-22 at 12 30 55 PM](https://user-images.githubusercontent.com/35882658/126684680-2ebec79c-5fa2-4733-b443-003e4e2a6931.png)

**Describe the bug**
Pointer cursor shows when hovering outside of modal (Seem to be for any overlay component)

**To Reproduce**
Steps to reproduce the behaviour:
1. Create react app with NativeBase template
2. Add a basic dropdown menu
3. See if pointer

[2021-07-22 19:49] ugar0ff opened #3869 "Checkbox: Don't work borderRadius and borderColor"
Good Day!
How I can change borderRadius and borderColor in my Checkbox? It is me code, but it don't work (show default border radius and color):
[code]
I use
[code]

[2021-07-24 10:39] rickyalmeidadev commented on #3105
I will share my `jest.config.js`, this was enough to make it work for me:

[code]

My `jest.setup.js` does nothing but import `@testing-library/jest-native/extend-expect`.

[2021-07-24 22:04] mlecoq opened #3874 "[Input] Input(Left | Right)Element displayed on focus or invalid state"
**Describe the bug**
According to the doc, `_invalid`, `_focus` ... props takes IInputProps as params.

My use case is to have a right icon (a cross mark) when Input is invalid, I wanted to use `_invalid` props

**To Reproduce**
Steps to reproduce the behaviour:

Use the following component:

[code]

**Expected behaviour**
The input left element is displayed when input is invalid

**Screenshots**

[2021-07-24 22:19] mlecoq commented on #3869
Hi @ugar0ff

I managed to customized `border` in my custom theme via the `_checkbox` property (and via a custom icon when checked)

[code]

[2021-07-25 01:41] rhyek commented on #3714
Any workarounds? Completely new project and I can't even get past the getting started part for native-base.

[2021-07-26 08:27] ybf970928 opened #3877 "Select build is error, Cause the page to crash"
- NativeBase version 3.0.6
 - Device: android 10
 - OS:  android 10
 - react: "17.0.1"
 - React Native version 0.64.1
 - node [e.g. 14.16.1]

There is no problem with the preview in the Android emulator, But when it is packaged into an apk, the page currently using the Select component will flash back, commenting out the Select component will return to normal

[2021-07-26 14:33] btrewern opened #3881 "SimpleGrid documentation"
As of the current version NativeBase 3.0.6.

1. There does not seem to be a link to the SimpleGrid in the documentation menu.
2. In the docs https://docs.nativebase.io/simpleGrid it states that **spacing** is a property of SimpleGrid but it seems it should be **space**.

[2021-07-26 17:52] cmaycumber opened #3882 "Stack `space` prop doesn't accept custom space theme key's"
Usage:

`theme.ts`
[code]

`Component.ts`
[code]

Using the stack component with `2xl` results in `32px` applied not `96px`

[2021-07-27 01:23] jerryheir opened #3883 "The doc is not updated for Accordion v3.0.6"
This is what is shown on the docs
[code]

But Button and Panel no longer exist and Summary and Details is used instead.
I spent hours before figuring this out

[2021-07-27 01:23] #3877 closed

[2021-07-27 02:04] rayan1810 commented on #3883
Hi @jerryheir, Sorry for the trouble but Accordion is not released and supported right now. It's on the roadmap and will be supported in future release. The components present in the sidebar in the [docs](https://NativeBase.io) are the only ones that are released till now.

[2021-07-27 04:15] MattYoon opened #3884 "ActionSheet Overlay Background Color Styling"
I would like to style the backgroundColor of ActionSheet overlay. Specifically, I am trying to remove the black tint of the overlay.

 - Giving `disableOverlay` prop disables the ActionSheet from closing when touched outside of the ActionSheet.

- I tried adjusting `ModalOverlay.baseStyle.opacity` through `extendTheme`, since the `Modal` component was used in `ActionSheet`. However, it doesn't see

[2021-07-27 06:16] intergalacticspacehighway commented on #3869
@mlecoq's answer should solve this issue. Closing this for now. @ugar0ff Let us know if you face any more issues.

[2021-07-27 06:16] #3869 closed

[2021-07-27 06:21] intergalacticspacehighway commented on #3863
@cristianoccazinsp You can use extendTheme to change a component's or default theme's styles
https://docs.nativebase.io/customizingTheme
https://docs.nativebase.io/customizingComponents

[2021-07-27 06:22] Ruzen1 commented on #3358
@sammiepls

Hey Sammie,

Sorry for sudden mention. I am facing the same problem.
Have you solved it and would you mind sharing if solved please?

[2021-07-27 07:10] msamirma commented on #3793
@sanketsahu any news about this ?

[2021-07-27 07:16] intergalacticspacehighway commented on #3793
@msamirma we'll be adding this in the 3.0.8 release.

[2021-07-27 10:10] madhav23bansal commented on #3847
Hi @tell-y, we are working on the fix. For now, the workaround for this problem can be moving the input component outside your main component.
[code]

[2021-07-27 10:34] rayan1810 commented on #3856
@musetraine can you please share a [Expo Snack](snack.expo.dev) to reproduce this issue. I'm unable to reproduce this or maybe doing something different.

[2021-07-27 10:40] nathanwkwong opened #3887 "Error when deleting a digit from PinInput"
I have a simple PinInput component from native-base which I can input digit with it. An error occur when I try to delete a digit from it. And the error is shown in below.

my simple PinInput component:

    const TestScreenTwo = () => {
        return (
            <PinInput inputSize="md">
                <PinInput.Field />
                <PinInput.Field />
                <PinInput.Field />

[2021-07-27 11:33] gust42 opened #3888 "Issue with i18n text in buttons"
When wrapping text in a fragment in a button you get error:
Error: Text strings must be rendered within a <Text> component.

[code]
The real world issue with this is when when using declarative i18n components like react-intl they wrap the text in an fragment and the issue above triggers

[code]

To solve this you have to do like v2 and wrap in in a Text and then you have to style the text element

[2021-07-27 16:46] emclab opened #3892 "v3.0.6: Unable to resolve styled-components/native on IOS/Android emulator after upgrading from 2.15"
**Describe the bug**
After upgrading to 3.0.6 from 2.15, launching the React Native 0.64 app on IOS emulator/Android emulator causes an error of unresolved module.

"Unable to resolve module styled-components/native from .../node_modules/native-base/src/components/composites/Tag/index.tsx: styled-components/native could not be found within the project or in these directories: node-modules/native-b

[2021-07-27 17:19] kytosai opened #3893 "Export **IPressableProps** interface"
Please export **IPressableProps** interface for build custom component with pressable

[2021-07-27 17:35] emclab commented on #3892
Tried to install styled-components under /node_modules/native-base/ and failed. here is the error:

[code]

[2021-07-27 21:08] arndeash opened #3894 "Keyboard doesn't work on NumberInput"
NativeBases Number inputs default behavior on web is to allow the keyboard up arrow and down arrow to adjust the value. It is not possible in NativeBase. Examples from other UI libs where this is working as intended:

https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_number
https://chakra-ui.com/docs/form/number-input

NativeBase example where this is not working:
https://docs.

[2021-07-28 04:27] Ruzen1 commented on #3376
I am having the same problem. Native base team help us

[2021-07-28 04:48] Ruzen1 opened #3895 "Upgrading to latest version gives syntax error"
** Before reporting this bug, please...**
1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/G

[2021-07-28 04:55] Ruzen1 commented on #1182
@akhil-geekyants Could you please mention the version , it was fixed?

[2021-07-28 08:03] rayan1810 commented on #3895
@Ruzen1 you need to update to version - 2.15.2 instead of 3.0.6 . Please downgrade to version 2.15.2 . v3 doesn't support Tabs right now.

[2021-07-28 08:05] #3895 closed

[2021-07-28 11:22] rayan1810 commented on #3882
Hey @cmaycumber , once the fix is released you can extend Stack component theme and update your custom token. You can find the theme file here https://github.com/GeekyAnts/NativeBase/blob/fix/stack-space-not-extending/src/theme/components/stack.ts

[2021-07-28 11:34] #3851 closed

[2021-07-28 13:08] amars29 commented on #3865
we don't need style prop to use styles here. You can directly apply them as key/value pair, along with title and description.

Example:
[code]

[2021-07-28 13:11] derrysukrie commented on #3887
i had the same issue, is there any update?

[2021-07-28 15:08] axe-me opened #3899 "[Need help!] Is there any way to set mode color in theme config?"
I tried this, but not really working:
[code]

Please help.

[2021-07-29 05:43] kuls14 commented on #3793
Any expected timeline for the 3.0.8 release date @intergalacticspacehighway,  I'm having this same issue.

[2021-07-29 07:21] Ruzen1 commented on #3895
@rayan1810 Thank you very much. Now I see.

[2021-07-29 08:11] Ruzen1 opened #3900 "Dynamical direction to the tab is weird."
**Describe the bug**
When I try to change the tab of the tabBar dynamically through a function, the  tab goes weird as in the screenshot below.

**Expected behaviour**
When I call the function it should take me to that particular tab passed to the 'pages' option of the TabBar.

**Screenshots**
![Screenshot_20210729-170538](https://user-images.githubusercontent.com/25242058/127455879-98bda9d6-f343-

[2021-07-29 19:46] arndeash commented on #3894
Dig a bit into this and would be solved by adding type="numeric" to the input type. Don't have time to do a PR today, but maybe I'll do it some time in the future.

[2021-07-30 02:24] beebapcay opened #3901 ""Factory" method has a problem"
**Describe the bug**
I create my own component. Then wrap it in a Factory method to be able to use style props. But it seems incompatible with some Components that need to pass more data props to FlatList

**To Reproduce**
1. Create a Component containing a FlatList, pass it: dataList
2. Then wrap it in Factory(`Your Component`)
3. When using this Component and passing it to a dataList, rendering

[2021-07-30 04:23] Shik1997 opened #3902 "Preventing Duplicate Toast"
When i set placement  'top' ,Preventing Duplicate Toast  not work .but when i set placement 'bottom' is worked.
and why  can't set placement 'center',is there some problem ?

[2021-07-30 05:32] intergalacticspacehighway commented on #3899
Hi @axe-me the above method is only meant to be used with baseStyle. themeTools.mode('color1', 'color2')({colorMode}). https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/button.ts#L74

If you want to change colors based on color mode, a good option would be to change the theme itself on switching color mode. Let me know If you still face any issues.
e.g.
[code]

[2021-07-30 12:04] darrylyoung commented on #3892
I know this doesn't help but I'd like to add that I've also had this problem and, as a result, I'm stuck on `2.15.2`. I'm not sure what else to try — I've cleared watchman caches and node_modules as well as run [`react-native-clean-project`](https://github.com/pmadruga/react-native-clean-project), which basically cleans **everything**. If it helps, I'm using Hermes and have been trying on an iOS 1

[2021-07-31 06:37] adoniscoder opened #3907 "Testing with RNNative Testing Library"
Hi, I'm trying to test my components that is wrapped insider `NativeBaseProvider` but the problem is that the result of the Provider's render is just an empty `RNCSafeAreaProvider`

I have a custom render wrapper to wrap all my components inside the Provider:

<img width="788" alt="Screen Shot 2021-07-31 at 11 05 19 AM" src="https://user-images.githubusercontent.com/13381026/127731150-2f6560a7-2da

[2021-07-31 11:12] adoniscoder commented on #3907
Seems like I had to pass the `initialWindowMetrics` prop to the `NativeBaseProvider` in order it to render its children properly.

[2021-07-31 11:12] #3907 closed

[2021-08-01 05:17] abhiburk opened #3908 "Floating Label Input"
Well I am looking for Floating Label Input field.
I could not found it in the 3.x native base docs but was available in the previous version i.e 2.x.
If it is available in the current version please let me know where I can find

Thanks

[2021-08-01 10:53] soullivaneuh commented on #3881
Also, the expo sample are currently not working on the documentation page.

[2021-08-01 11:39] kytosai opened #3909 "Export IScrollViewProps interface !"
Please export **IScrollViewProps** interface for build custom component with scrollview

[2021-08-01 17:01] manufunk opened #3910 "How to use icons dynamically"
How can I use dynamic icons in v3?
In my database I have 2 values `iconType` which holds something like 'Ionicons' or 'MaterialIcons' and `iconName` which holds the name if the icon.

This is how I did it in v2.
[code]

Is there any way to also define the `as` property inside v3 icon with dynamic string values containing the icon type?

[2021-08-02 06:31] intergalacticspacehighway commented on #3910
Hi @manufunk In v3, you can do something like this. It's a bit verbose but we decided to decouple vector or expo icons in v3. We might add a more simple way so that above syntax is possible. In the meantime, you can do below.

[code]

[2021-08-02 06:54] intergalacticspacehighway commented on #3902
@Shik1997 Can you check out this example I created using top placement. It prevents duplicate.
Also, can you share a reproducible demo of the issue on snack player?
https://snack.expo.dev/@nishanbende/toast-top-prevent-duplicate

AFAIK, placement center is not very common for toasts, so there's no center option available. Let me know the usecase. Also, you can pass top and make it center aligned i

[2021-08-02 07:12] intergalacticspacehighway opened #3914 "TextArea shifts cursor to center of Input on focus"
Reproducible demo - https://snack.expo.dev/@arturs_osp/example?

Steps:
- Open above example in android
- Focus on the TextArea input.
- Cursor jumps to center

https://user-images.githubusercontent.com/23293248/127818995-7d1c9bdf-342f-46d0-b6cf-86383cb699d5.mp4

[2021-08-02 07:18] intergalacticspacehighway opened #3915 "Discuss treeshaking approach here."
### Is your feature request related to a problem? Please describe.

Currently, treeshaking doesn't work on components since we import from "native-base" and things are imported and exported via index, bundlers ship the entire nativebase build.

### Describe the solution you'd like

Create a babel plugin which can change the imports from
import {Box} from "native-base"
to
import Box from "native-ba

[2021-08-02 08:04] MD-REHMAN commented on #3901
Thanks @beebapcay for reporting. We'll push the fix in the upcoming patch.

[2021-08-02 18:21] manufunk commented on #3910
Thank you for the hint. I thought maybe there is a nicer solution for this because it could be any type of icon which is a very long list. But I guess for now I will follow your suggestion until there is a more dynamic way. Should I create a feature request for it to have it in the backlog?

[2021-08-03 04:00] jahead opened #3920 "Radio should use box instead of center"
I realized today that Radio is using center forcing you to be unable to have radio's left aligned.
[code]
extra points,
1.  justifyContent="center " has a space in it,
2.  <radio> uses
  justifyContent="center "
  alignItems="center"

seems redundant because `<Center /> ` is implemented with
[code]

so the above code does nothing.
3. The Component tree for this seems weird?
there is two centers, c

[2021-08-03 04:23] Shik1997 commented on #3902
I found this problem in our bare React Native app,not on snack expo.I compared your demo code with mine,There is only one difference，i have  {duration: 2000 }  in options.

[2021-08-03 07:36] rayan1810 commented on #3914
You can refer this => https://snack.expo.dev/@rayan117/textarea-text-vertical-top, passing `textAlignVertical` as a prop works as expected. Passing it in style reproduces the above issue though.

[2021-08-03 11:33] rayan1810 commented on #3908
Hey, @abhiburk it's on our roadmap, as of now we don't have a Floating Lable Input.

[2021-08-03 11:54] rayan1810 commented on #3785
Fix for this released in v3.0.7, closing this issue.

[2021-08-03 11:54] #3785 closed

[2021-08-03 13:15] intergalacticspacehighway commented on #3888
@gust42 can you verify if this is fixed in 3.0.7? We've added support for Fragment children for text.
https://github.com/GeekyAnts/NativeBase/releases/tag/v3.0.7

[2021-08-03 16:04] gakinson opened #3924 "FlatList Showing Error Bugs"
** Before reporting this bug, please...**
1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/G

[2021-08-03 17:51] ajhoel43 commented on #3435
thanks @mernxl & @hotaryuzaki , installing react-native-picker@1.15.0 solved my problem

I'm using:

- native-base: 2.15.2
- react-native: 0.60.4

[2021-08-03 17:59] Psycarlo opened #3925 "Expo Tabs (Typescript) + Native Base Template"
**Motivation**
Expo Tabs Template (Typescript) is a very used template to get started with react native. Native Base is on of the most used UI frameworks for react native. Why don't combine these two together? This template could make it easier for people to get started with expo and native base.

**Feature Description**
Create a Native Base template based on expo tabs template (typescript):
- Eas

[2021-08-03 18:54] Adygha opened #3926 "An added 'r' typo in 'use(r)NativeDriver' causes a warning in latest v2"
This typo causes a warning for us who are still using v2

https://github.com/GeekyAnts/NativeBase/blob/182076cfd5fee9984f066fbf2f6b18e04771e49e/src/basic/DeckSwiper.js#L201

[2021-08-04 02:32] #3902 closed

[2021-08-04 04:04] #3884 closed

[2021-08-04 08:31] intergalacticspacehighway opened #3927 "useSystemColorMode doesn't work"
Docs mention a prop called [useSystemColorMode](https://docs.nativebase.io/color-mode#default-color-mode).

When this prop is `true`, NativeBase colorMode should be set based on the user's system color mode preference.

To achieve this, we can use [useColorScheme](https://reactnative.dev/docs/usecolorscheme) hook from react native. If the `useSystemColorMode` is `true`, we need to initialize the d

[2021-08-04 15:28] Psycarlo commented on #3927
**Very important feature!**

[2021-08-04 17:24] alissoncunha commented on #3730
I made a workaround for now...

Component
`
import React from 'react';
import {Button as NButton, IButtonProps} from 'native-base';
import {ResponsiveValue} from 'styled-system';

type Props =
  | IButtonProps
  | {variant?: IButtonProps['variant'] | ResponsiveValue<'secundary'>};

const Button: React.FC<Props> = ({children, variant, ...rest}) => {
  const variantsOf: any = variant;

  return (

[2021-08-05 19:37] ugar0ff opened #3934 "AlertDialog properties not found and crash"
Not all of AlertDialog properties are found:
![Снимок экрана от 2021-08-05 22-26-10](https://user-images.githubusercontent.com/14922730/128409516-08396691-063b-4547-89ea-95421ba3959d.png)
![Снимок экрана от 2021-08-05 22-26-22](https://user-images.githubusercontent.com/14922730/128409524-4ba58315-19da-4b62-91db-2b45367bc698.png)

_Type '{ children: Element; leastDestructiveRef: MutableRefObject<un

[2021-08-06 15:18] ismarosmanovic opened #3937 "Tabs Issue"
Hello,
I just found out that Tabs.Bar throw an error when Tabs are placed conditionally.
For example

[code]

The error is thrown as: TypeError: null is not an object (evaluating 'bar.props')

So I look at the problem and found out that if I play with Tabs.tsx file and change

[code]

 with

[code]

Tabs  would show as expected.

Thenk You,
Ismar

[2021-08-06 19:57] kytosai commented on #3924
Mee too, i cannot use prop **stickyHeaderIndices** with FlatList in native-base, I must use FlatList of react-native alter

[2021-08-07 17:10] kytosai commented on #3893
Version v3.0.7 doesn't import **IPressableProps**

[code]

I must import with path to custom

[code]

[2021-08-07 20:20] gyandeeps opened #3938 "NPM 7 install and build issues"
**Describe the bug**

`"native-base": "^3.0.7"`

When i install react-native using `npm 7.20.3` via nodejs 16 (latest) than the install is successful but when i try to run the code I get the following error:

[code]

The error happens because menu component [here](https://github.com/GeekyAnts/NativeBase/blob/8db2ead80127450a60de81c6863f0703bda3168a/src/components/composites/Menu/useMenu.tsx#L1) us

[2021-08-09 03:41] execptionerror commented on #3275
[[Already Solved] SyntaxError: Support for the experimental syntax ‘jsx’ isn’t currently enabled](https://exerror.com/syntaxerror-support-for-the-experimental-syntax-jsx-isnt-currently-enabled/)

[2021-08-09 06:32] ugar0ff commented on #3934
Steps to reproduce crash:
1. Go to N screen in stack (react-navigation)
2. Open AlertDialog
3. Go back
4. Return to N screen

[2021-08-09 08:08] nirbhaisingh1313 commented on #2604
@ajitdas123 had you found from where can I disable the ripple effect on the Tabs only?

[2021-08-09 16:39] IMG-Enrique commented on #3488
Any update on this?

[2021-08-10 03:37] nathanwkwong opened #3939 "ActionSheet with input being Covered by keyboard"
On IOS, I have an opened ActionSheet and a text input inside. When I try to click the input, a keyboard is shown, then the ActionSheet is covered behind the keyboard.

Is it a bug? Or do I need to manually program to push the ActionSheet up according to the height of the keyboard?

I tried to wrap the ActionSheet by KeyboardAvoidingView with different props but the problem is still there. Thanks f

[2021-08-10 06:40] intergalacticspacehighway commented on #3939
@nathanwkwong We'll implement a fix in later versions. In the meantime, can you use this workaround?
I've updated your snack code with a solution. I have tested it on iOS and Android. Let me know if it works or you face any issues 🙂
https://snack.expo.dev/@nishanbende/keyboard-avoid-hook

[2021-08-10 07:59] nathanwkwong commented on #3939
@intergalacticspacehighway This workaround is great and solved my problem. Thank you.

[2021-08-10 08:49] himanshu-satija commented on #3725
@FrederickEngelhardt I'm assuming this issue is for NativeBase v2.x. If that's the case, we're sorry but we won't be able to work on this as we are actively focusing on v3 now.

If someone is willing to work on this, we are open to PRs.

[2021-08-10 11:30] GregoryWullimann opened #3941 "Wrong Hello World code in documentation in v3.0.7"
I'm trying Native Base for the first time, and by following the set up with Expo in v3.0.7 the Hello World code snippet produce an error.

Link: https://docs.nativebase.io/install-expo#run-the-hello-world-example

Error:

`Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. You likely forgot to export your comp

[2021-08-10 12:10] Nirmal-cod opened #3942 "Tab bar name hasn't change.."
i was trying to change the name of tab bar which is default given first, second and so on ..providing id and name but it is giving me same default first and second ??
<Tabs.Bar>
          {/*active tab index -> food category id */}
          {data.map(item => (
            <Tabs.Tab key={item.id}>{item.name}</Tabs.Tab>
          ))}
i am using V3 native-base

[2021-08-10 13:28] rayan1810 commented on #3941
Ok we haven't exported the App in the first example that must be causing this issue, thanks for reporting this @GregoryWullimann , we will try to update the Docs as soon as possible.

[2021-08-10 22:11] Csierram96 opened #3943 "V3 & Above Installation Error"
After creating a new project with react-native-cli.

npm install native-base
npm ERR! Found: react@17.0.1
npm ERR! node_modules/react
npm ERR!   react@"17.0.1" from the root project
npm ERR!   peer react@"*" from native-base@3.0.0
npm ERR!   node_modules/native-base
npm ERR!     native-base@"3.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"17.0.2" f

[2021-08-11 02:48] nathanwkwong commented on #3939
There is still a problem when using the hook solution above.

Suppose there are two inputs (one or none input is fine) and a button(to open the Actionsheet) on a screen, I press the two inputs one by one and trigger the keyboard open, then I click the button to open the Actionsheet, the hook failed to measure the keyboard event and the Actionsheet is covered by the keyboard.

An example to show th

[2021-08-11 03:47] eburns1148 commented on #3939
This also seems to be a problem when using the Modal on iOS with the avoidKeyboard prop. I have 2 or more inputs and when the focus changes to another input, the modal drops down as if the keyboard was "hidden".

Packages:
[code]

[2021-08-11 08:03] #3942 closed

[2021-08-11 16:00] cmaycumber opened #3945 "Does the popover/menu component support interaction with elements on outside clicks on web?"
It seems like the popover/menu component currently acts like a modal. Is it possible to add functionality for users to interact with content outside the menu when the menu is open?

This is the current behavior of `react-native-popper` by @intergalacticspacehighway. I'm currently implementing the functionality in a custom  `Menu` component but it would be nice if that were supported out of the box

[2021-08-12 01:50] cruzlutor commented on #3856
I'm having a similar issue, spacing props are not working for extendTheme on the input component, here is my code

[code]

This is the result
![Screen Shot 2021-08-11 at 8 44 48 PM](https://user-images.githubusercontent.com/1368971/129125515-432c2953-6c5c-4a2a-a31c-0aeb5b7bb17e.png)

As you can see, vertical padding is not changing at all but the backgroundColor does

[2021-08-12 02:02] cruzlutor commented on #3856
Ok, finally I make it work, but I have to do it in this way

[code]

It looks a little ugly, I suppose generic props on `extendTheme` are not overwriting OS-specific props maybe?https://github.com/GeekyAnts/NativeBase/blob/development/src/theme/components/input.ts#L44

[2021-08-12 12:26] btrewern opened #3947 "Using Radio buttons causes aria warning"
Any use of Radio buttons causes the following warning:

**If you do not provide children, you must specify an aria-label for accessibility.**
**at node_modules/@react-native-aria/radio/src/useRadio.ts:43:4 in useRadio**
**at node_modules/native-base/src/components/primitives/Radio/Radio.tsx:35:25 in Radio**

I'm using the following:
Expo 4.10.0
native-base 3.0.7

Happens on either ios or android c

[2021-08-12 20:21] stacey-gammon opened #3948 "Box height jumping around"
I am able to reproduce this right in the examples shown on https://docs.nativebase.io/box.

Height set to 20:
<img width="790" alt="Screen Shot 2021-08-12 at 4 18 12 PM" src="https://user-images.githubusercontent.com/16563603/129264064-0fbce4cc-c76b-4023-b6c7-8e23cf9fde06.png">

Height set to 19, much smaller!
<img width="818" alt="Screen Shot 2021-08-12 at 4 18 18 PM" src="https://user-images.git

[2021-08-12 20:43] nmehlei opened #3949 "Allow toast usage for Typescript class components"
**Is your feature request related to a problem? Please describe.**
I'm not sure if this counts as a feature request or a regression bug, but during migration of a react native project from NativeBase v2 to v3 I noticed that Toasts can now only be shown with the useToast hook.

When implementing components as Typescript-based class components, hooks can - to my knowledge - not be used, as trying to

[2021-08-12 23:44] samijnih commented on #3943
same issue

[2021-08-13 05:17] rayan1810 commented on #3948
@stacey-gammon Hey, please have a look at https://docs.nativebase.io/design-tokens this is not a bug it's an intended behaviour. I'm closing this issue feel free to reopen if required.

[2021-08-13 05:18] #3948 closed

[2021-08-13 05:22] intergalacticspacehighway commented on #3945
@cmaycumber Currently, the outside interactions are prevented as a transparent backdrop component is added. We'll add the mentioned feature in Menu/Popover components in the future.

[2021-08-13 05:33] intergalacticspacehighway commented on #3939
@nathanwkwong  I noticed in the above solution the callback is behaving in a weird way. I'll take a deeper look. In the meantime, can you try this out?

https://snack.expo.dev/@nishanbende/keyboard-avoid-hook---fixed

@eburns1148 can you not use avoidKeyboard prop and use the above hook solution to set the bottom or padding of <Modal.Content/> component?

[2021-08-13 05:55] intergalacticspacehighway commented on #3943
@Csierram96 @samijnih can you install using --force flag `npm install --force`. This seems to be happening in recent npm version as there's React 16.8 peer dependency in one of the dependencies. I'll take a look. Thanks for reporting the issue!

[2021-08-13 05:57] intergalacticspacehighway commented on #3938
@gyandeeps Thanks for reporting and debuggin this issue :). We'll fix it in the next patch release

[2021-08-13 05:58] intergalacticspacehighway commented on #3949
@nmehlei Thanks for the feature request. You should be able to call toast without using useToast hook, once this gets merged. We'll be releasing it in next releases

[2021-08-13 06:00] intergalacticspacehighway commented on #3947
@btrewern can you please share the code snippet that's causing this warning?

[2021-08-13 08:49] intergalacticspacehighway opened #3951 "[Android] - Toast appears below Modal"
The below screen recording demonstrates the bug reproduction.

https://user-images.githubusercontent.com/23293248/129330590-4eff19d3-2f8a-4e72-8526-08044876c158.mov

## Reason
On Android, we're using RN's Modal to show the Overlay instead of using OverlayContainer. This has been done for accessibility reasons (to auto-shift focus when opened). This is leading to the below issue. RN's Modal has the

[2021-08-13 10:37] btrewern commented on #3947
Hi, I've just created a new blank app with expo and just copied and pasted the first example from here: https://docs.nativebase.io/radio

I am using the following:

node.js - v14.17.2
expo-cli - 4.10.0
expo - 42.0.1
native-base - 3.0.7

I get the following warning:

If you do not provide children, you must specify an aria-label for accessibility
at node_modules/@react-native-aria/radio/src/useRadi

[2021-08-13 11:39] tobe-honest commented on #3780
@sanjeevA301 Are you still struggle with this problem?

[2021-08-13 12:18] samijnih commented on #3943
Hey, I did try. But I've got 502 and an exception. That was not successful at all! :/

[2021-08-13 15:31] gyandeeps commented on #3938
I have not collected all the data but it seems there are couple of other modules as well which are not listed in deps but are consumed directly. Best way to test is ti use the latest nodejs version of 16.x series.

[2021-08-13 20:56] Csierram96 commented on #3943
I managed to solve it using Yarn, with yarn you dont have any problems because of the peer dependencies. Hope that helps you.

[2021-08-13 20:56] #3943 closed

[2021-08-14 13:23] btrewern commented on #3947
Also it seems using just a few radio button on a screen slows it down quite noticeably, to the point that it becomes unusable.

[2021-08-15 05:23] exneval opened #3952 "[Android] React Navigation Native Stack + Nativebase Flatlist"
**Describe the bug**
Weird behavior with android FlatList when RefreshControl is enabled, as you go back from FlatList stack to the previous stack, a refresh icon showed up above. Tested without nativebase, there's no such a behavior.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use React Navigation Native Stack
2. Use Nativebase
3. Implement a FlatList with refresh control enabled
4. Th

[2021-08-16 09:52] nathanwkwong commented on #3939
@intergalacticspacehighway Thanks for the update. I integrated and tested your fixed hook into my current project. It works fine on my Android, iOS stimulator (14.2) and iOS iPhone 7 (13.2).

[2021-08-16 11:44] soast commented on #3790
Yes. A lot of great work is being done here so I'm rooting for NativeBase use for our next project. It would help immensely to convince the team if UX can work out the screens in Figma (or Sketch/Adobe XD) directly based on NativeBase components.

[2021-08-16 14:35] rayan1810 commented on #3882
@kylegwalsh @cmaycumber since Stack's space prop extends space tokens and adds additional values on component theme level therefore component theme overrides the base theme since it's higher on the precedence scale. If you want to override Stack's space with space token just do this
[code]

We might take a look into other possibilities in future releases but currently, this is the way you can achi

[2021-08-16 16:12] kylegwalsh commented on #3882
@rayan1810 Got it, that makes sense.

It was a bit unintuitive when we were setting it up, but it makes sense that it would get overridden by additional sizes declared at the component level.

Thanks for the tip!

[2021-08-16 19:21] rfink commented on #16
I'm encountering this issue as well.

[2021-08-16 20:04] haveamission opened #3960 "Hoverables"
**Is your feature request related to a problem? Please describe.**
I want to use React Native Web a lot more, and a huge issue is hoverables

**Describe the solution you'd like**
I'd like either some wrapper component, or some sort of prop that lets me set hoverable styles easily, without having to do a bunch of work in a `<Pressable />`

**Describe alternatives you've considered**
Uh, doing a bun

[2021-08-16 20:05] #3960 closed

[2021-08-16 23:25] stacey-gammon opened #3961 "ZStack margins don't work in ios with justifyContent and alignItems"
**Describe the bug**

Items within a ZStack on ios don't abide by margin properties.

**To Reproduce**
Steps to reproduce the behaviour:

[code]

The result, on ios, will be:

<img width="326" alt="Screen Shot 2021-08-16 at 7 24 22 PM" src="https://user-images.githubusercontent.com/16563603/129641260-0d4e485d-2d25-4ce9-a43e-c6e4907b0097.png">

While the web rendering will be:

<img width="324" alt

[2021-08-17 03:10] rayan1810 commented on #3882
Glad you agree. Closing this issue since I feel it is resolved. Feel free to reopen.

[2021-08-17 03:10] #3882 closed

[2021-08-17 06:44] eburns1148 commented on #3939
@intergalacticspacehighway  I was able to test out your fix. It seems to be working great with marginBottom. With bottom or padding, it didn't look well.

Thanks!

[2021-08-17 08:14] gust42 commented on #3888
Sorry for slow response, was on vaccation, will check this later!

[2021-08-17 09:18] darrylyoung commented on #3892
Did you find a solution here, @emclab? I'm still getting the same issue if I try.

[2021-08-17 13:25] ShiarOs commented on #2649
Just remove the height of the elements inside  a FlatList or @react-native-picker/picker if you using it

[2021-08-18 04:36] exneval commented on #3952
After some investigation, this behavior happened only if there's a component above the FlatList that has RefreshControl enabled, if I move that component into ListHeaderComponent prop, everything looks normal

But still I want my component above the FlatList to have fixed position, because If move it to ListHeaderComponent prop, the component will also be moved with scrolling

[2021-08-18 04:58] exneval opened #3963 "FlatList `stickyHeaderIndices` type error"
**Describe the bug**
Type error when pass a `stickyHeaderIndices` to NativeBase FlatList, not an issue with RN FlatList

**To Reproduce**
Steps to reproduce the behaviour:
1. Use NativeBase FlatList
2. Pass a value to prop `stickyHeaderIndices`
4. See error

**Expected behaviour**
No error happened

**CodeSandBox/Snack link**
-

**Screenshots**
![Test from NativeBase docs](https://user-images.gith

[2021-08-18 05:32] exneval commented on #3963
After some investiagtion, passing value `stickyHeaderIndices={[[0]]}` wont throw the error

[2021-08-18 06:18] georgii-ivanov commented on #3908
Please do :-)

[2021-08-18 07:20] gretchelin opened #3966 "Actionsheet too tall when app is multi-windowed"
**Describe the bug**
Actionsheet height does not resized when app is being multi-windowed, making content inside it out of view at the top and the actionsheet itself cannot be closed as drag icon is out of view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Add actionsheet component anywhere.
2. Open the actionsheet in normal window (correct)
3. Set app to multi-window view
4. The actions

[2021-08-18 13:24] Abhineetk47 opened #3968 "Border style 'dashed' prop is not working in android"
** Before reporting this bug, please...**
1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/G

[2021-08-18 13:32] Abhineetk47 opened #3970 "Unable to provide custom color to "colorScheme" prop in Progress component"
Only a set of predefined colors can be given to the colorScheme of the Progress component, which is not helpful all the time

[2021-08-18 15:04] JClackett opened #3971 "Export IStackProps"
Please can you export IStackProps!

Thanks

[2021-08-18 15:54] cmaycumber opened #3972 "Stack doesn't inject spacing in items inside of a fragment"
I'm not sure if this is intended behavior but when leveraging something similar to the following code, the stack doesn't inject spacing between the items inside a fragment:

[code]

Expected behavior:

Stack injects spacing between the elements inside of a fragment

[2021-08-18 16:25] tylern206 opened #3973 "Toast message cuts offs description or title on iOS"
Steps to reproduce the behaviour:
1. Press button to display toast
2. View toast

**Expected behaviour**
Text message should wrapped text and not truncate it.
**CodeSandBox/Snack link**
[Snack Link](https://snack.expo.dev/@tylern06/nativebase-toast)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
 - NativeBase version [3.0.7]
 - Device: [iPhoneX]
 - OS:

[2021-08-18 19:00] kisg commented on #3801
I was thinking about this issue for some time and I think that the best approach would be to support both options. As usual, there is no silver bullet and each approach has its own advantages and valid use cases:
- The media query based approach is great for "normal" websites where NativeBase is used with e.g. Gatsby or NextJS.
- For more complex, app-like experience simply resorting to client sid

[2021-08-18 22:35] bjornbreck opened #3974 "Chevron Icons breaking with size property"
**Describe the bug**
All chevron icons do not seem to size correctly when a size property is added to the icon, rather padding is added around the icon.

**To Reproduce**
Steps to reproduce the behaviour:
1. Add a chevron icon to any screen or component with the size property.
2. `<CheckCircleIcon  size="xl" />` `<CheckCircleIcon  size="xs" />`
2. You'll see that if it's sized up that there's padd

[2021-08-19 03:05] TheInternet opened #3975 "Select items appear behind keyboard (iOS)"
**Describe the bug**
When keyboard is open on iOS, Select dropdown appears behind the keyboard making it impossible to tap on its items.

**To Reproduce**
Steps to reproduce the behaviour:
1. Press on an text Input to open the keyboard
2. Press on a Select form

**Expected behaviour**
When keyboard is open on iOS, tapping on a Select form should dismiss the keyboard while opening the Select view.

[2021-08-19 03:32] gyandeeps commented on #3938
I tried the latest version but now i guess https://github.com/GeekyAnts/react-native-aria its packages have issues in them.

Example error:
[code]

I guess once we fix this issue than we will see the next one.

[2021-08-19 11:35] intergalacticspacehighway commented on #3972
Hi @cmaycumber Currently stack behaves this way.
[code]
will be converted to
[code]

i.e. It adds Spacer element in between. So, in your code it'll be converted to
[code]

i.e. no spacing will be added. How common is this use case and is it possible for you to not use fragments inside Stack?
Let us know. Thanks!

[2021-08-19 11:38] intergalacticspacehighway commented on #3947
@btrewern this has been resolved in 3.1. Let me know if it doesn't work, I'll reopen the issue.

[2021-08-19 11:38] #3947 closed

[2021-08-19 11:40] intergalacticspacehighway commented on #3927
@Psycarlo This has been released in 3.1.0

[2021-08-19 11:40] #3927 closed

[2021-08-19 11:46] intergalacticspacehighway commented on #3949
@nmehlei  This has been released in 3.1.0. You can checkout the standalone toast example here. https://docs.nativebase.io/toast#standalone-toast

[2021-08-19 11:46] #3949 closed

[2021-08-19 11:47] intergalacticspacehighway commented on #3793
@Shik1997 @kuls14 @msamirma This has been released in 3.1.0. You can check out the standalone toast example here. https://docs.nativebase.io/toast#standalone-toast

[2021-08-19 11:47] #3793 closed

[2021-08-19 11:48] intergalacticspacehighway commented on #3893
@kytosai this has been exported in 3.1.0.

[2021-08-19 11:48] #3893 closed

[2021-08-19 11:49] intergalacticspacehighway commented on #3909
@kytosai this has been exported in 3.1.0.

[2021-08-19 11:49] #3909 closed

[2021-08-19 11:50] intergalacticspacehighway commented on #3865
@Jaybee4real Closing this issue for now. If the above solution doesn't work, let us know.

[2021-08-19 11:50] #3865 closed

[2021-08-19 11:53] #3837 closed

[2021-08-19 12:02] cmaycumber commented on #3972
So far this is the first time I’ve ran into it, to get around it I’m just
applying margin to one of the items in the fragment.

Right now the items are being rendered conditionally, I could break them
out and render them separately but this would duplicate a lot of logic.

This definitely seems like a very one off scenario, bc I’m also using flex
to make the items equally 1/3 in size, so wrapping

[2021-08-19 12:35] intergalacticspacehighway commented on #3968
@Abhineetk47 Thanks for reporting the issue. This seems to be an issue in React Native. https://github.com/facebook/react-native/issues/17251.
Also, this PR aims to fix it. https://github.com/facebook/react-native/commit/cb0e1d603aa4439a4d4804ad2987e4cb1f9bbf90

Until it's released you can add borderRadius={1} with `dashed` style as a workaround.

<img width="695" alt="Screenshot 2021-08-19 at 6 0

[2021-08-19 12:35] ansarikhurshid786 commented on #1198
I have similar issue. But my case is multiple tabs enabled conditionally which data coming from service(if data available). I am still facing same issue.

[2021-08-19 12:35] ansarikhurshid786 commented on #1198
@ernerock please reopen this issue

[2021-08-19 13:31] Abhineetk47 commented on #3968
@intergalacticspacehighway This hack works well in the IOS but in Android, this hack also doesn't help.

[2021-08-19 13:50] intergalacticspacehighway commented on #3968
Oh okay, I just tried it in the Android emulator and it worked. Might be failing for a specific version. Can you check in an emulator or share the device spec you using for testing?

[2021-08-19 17:20] cmaycumber opened #3980 "Pass variant prop through Checkbox.Group and Radio.Group"
**Is your feature request related to a problem? Please describe.**
I don't like to have to define the variant across all the sub-components in a group

**Describe the solution you'd like**
Pass the variant prop down through the Group components

**Describe alternatives you've considered**
Define the variant for each item in the group.

[2021-08-20 04:09] nathanwkwong opened #3981 "Toast with pointerEvents as none does not work on iOS"
I tried to render a custom toast by passing a custom component to the prop render to toast.show(). At the same time, I want to ignore the touch event on the toast, so I passed a prop, pointerEvents, as 'none' to the wrapper of the toast component.
On Andriod, it works well, with pointerEvents as 'none', I can trigger the touch event of the View behind the toast. However, on iOS devices, it does no

[2021-08-20 07:45] muhammadrofiq commented on #2966
any update for this issue ?  or just  use  other lib ?

[2021-08-20 11:22] claudiozam opened #3982 "TypeError: responder.scrollResponderScrollTo is not a function RN 0.6.51"
### **Describe the bug**

Focus on a field on iOS throw this error:

TypeError: responder.scrollResponderScrollTo is not a function

### **Steps to reproduce the behaviour:**

Press on a text Input to open the keyboard

### **Expected behaviour**

Focus on a field and scroll to that position

### **Platform**

React: 17.0.2
React Native: 0.65.1
NativeBase: 2.15.2
React-native-keyboard-aware-scroll

[2021-08-20 17:56] pablohpsilva opened #3983 "TypeError: Cannot read property 'onPress' of undefined"
**Describe the bug**
I'm running the project using NextJS (created following the tutorial you guys have on your site).
Whenever I try to use the `toggleColorMode` function from `useColorMode` hook, I get an `onPress` error.

**To Reproduce**

[code]

Then I see the error:
[code]

**Expected behaviour**
To work... It shouldn’t care about the method, since it is a function.

**Platform**

node: v16.

[2021-08-21 03:45] nguyenkimkien commented on #3982
I also got the same error

[2021-08-21 09:54] atroudi commented on #3281
+1

[2021-08-21 14:51] iamanthos commented on #338
I can't find a solution where we can style individual item. I want to give it a feel of a button to individual item for web.

[2021-08-21 20:27] ivanfuzuli commented on #3982
Me too.

[2021-08-22 21:15] dillondrobena opened #3984 "Disable scrolling in Modal body"
Haven't found an answer for this anywhere so I thought I'd ask the question here. The default modal body component seems to be a `ScrollView` or something similar, but doesn't seem to provide a `scrollEnabled` property. Is there a way to disable the scrollable behavior?

Simple code example
[code]

This is using NativeBase 3.1.0 with ReactNative 0.63.3 on iOS

[2021-08-22 23:24] LefanTan opened #3985 "Support for Rem?"
Thanks for filing an issue 😄!

Please search open/closed issues before submitting. Someone
might have asked the same thing before 😉!

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
In React, we're able to use rem which is great when it comes to scal

[2021-08-23 00:37] claudiozam commented on #3982
Same issue https://github.com/APSL/react-native-keyboard-aware-scroll-view/issues/494

[2021-08-23 08:13] miguelitolaparra opened #3986 "<Content> hides interface elements and Scroll does not work"
**Platform**
devices: Android and iOS. (Emulators and mobile devices)
react-native-cli: 2.0.1
react-native: 0.65.0
native-base: "^ 2.13.8"
node v16.6.0
npm 7.19.1

** Before reporting this bug, please...**

**Describe the bug**

Hello, I am a student who is learning React Native and I am creating a project in which I added Native Base since they advised me that it is very fluent, and in this way I

[2021-08-24 00:17] #3982 closed

[2021-08-24 00:18] claudiozam commented on #3982
Fix on @codler/react-native-keyboard-aware-scroll-view 2.0

[2021-08-24 08:02] rayan1810 commented on #3984
Thanks for Reporting this @dillondrobena, it will be fixed in the next Patch release.

[2021-08-24 10:23] rayan1810 commented on #3983
Ok I found the bug it's an issue with the Tooltip component, this will be fixed in the next patch release. Thanks for reporting the bug @pablohpsilva.

[2021-08-24 11:42] rayan1810 commented on #3970
Can you please elaborate on the use case @Abhineetk47? I might be able to help you out with the right way to do this or a workaround.

[2021-08-24 13:33] miguelitolaparra commented on #3986
I keep reading information and I see that the <Content> component is no longer in Native base
.
Is this why I have these errors in my project '
What is the easiest way to substitute <Content>?

[2021-08-26 16:59] pablohpsilva opened #3997 "Responsiveness"
**Describe the bug**
I'm using native-base + nextjs.
[code]

The bug is the following:
* If you start your build or refresh your browser, I always get the height 250 and width 250;
* If I remove the `xlg` and refresh the page, the default height is 220 and width 155 (base value), no matter what screen I check (iphone size, for example), the `lg, md, and sm` sizes are being ignored;
* If I put back

[2021-08-27 08:25] hemalrathod opened #3999 "@react-stately missing at first use"
I installed new nativebase version 3 with instructions as stated there in get started. When using first time on expo, I am getting following errors while building.

Android Bundling failed 6910ms
Unable to resolve module **@react-stately/checkbox** from C:\HEMAL\TinyTrader\DEVELOPMENT\TradeCentralMini\TradeCentralMiniAppUpdated\node_modules\native-base\src\components\primitives\Checkbox\CheckboxGr

[2021-08-28 04:48] josephsintum opened #4002 "How to open or focus the NativeBase Select component"
## NativeBase Version
"native-base": "^3.1.0",
Bare "react-native": "0.64.2",

## Issue Description

How can I trigger an onPress or open a [Select Component](https://docs.nativebase.io/select)
I want open or focus the select component from a function.
It doesn't have an isOpen state I can access.
I tried using the getting the ref and calling the onPress function

[code]
but I get this object whic

[2021-08-29 11:31] hemalrathod commented on #3999
Thank you @vjpr for the reply. How should I solve it for the time being?

[2021-08-30 19:56] kylegwalsh opened #4003 "Additional style property for Box inside of SimpleGrid component"
**Is your feature request related to a problem? Please describe.**
I am unable to use the SimpleGrid in several scenarios because I cannot completely control it's style.

There is an inner Box being used to wrap the "col" component inside of the SimpleGrid, but it does not accept any props as styles. For my use case, I'm trying to "flex: 1" this box so that the children in each row expand to fill

[2021-08-31 01:47] NicholasBoccuzzi commented on #3730
Came here to post this exact issue. Hoping to see it resolved soon.

[2021-08-31 10:25] Developeranees commented on #3970
here is my theme object
![Screenshot at 2021-08-31 15-18-58](https://user-images.githubusercontent.com/43973272/131486000-251718ac-a5c8-43bb-a17f-76508c9c7f0b.png).

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

but i can't do this
![Screenshot at 2021-08-31 15-24-40](https://user-images.githubuserconte

[2021-08-31 21:20] claudiozam opened #4006 "TypeError: undefined is not a function RN 0.65.1"
### **Describe the bug**

Press back button on android to close the app throw this error:

TypeError: undefined is not a function

### **Steps to reproduce the behaviour:**

Press back button  to close the app.

### **Expected behaviour**

Press back button to close the app with not errors.

Platform
React: 17.0.2
React Native: 0.65.1
NativeBase: 2.15.2

Device: Samsung S10 / Samsung S20 / Android

[2021-09-01 10:17] MohammedBENHADINE commented on #3999
same issue , any workaround for this ?
I tried to downgrade native base version to match compatibility versions table but no success.

[2021-09-01 11:13] vjpr commented on #3999
If you use pnpm modify your `pnpmfile.js`:

[code]

Yarn has same thing.

[2021-09-01 11:43] MohammedBENHADINE commented on #3999
Adding that + '@react-aria/ssr' solved the issue

[2021-09-01 13:15] majugurci opened #4009 "v2 not compatible with react-native 0.65"
When using native-base@2.15.2 and react-native@0.65.1 app is failing to start because of this error: "_reactNative.Keyboard.removeListener is not a function\n    at ToastContainer.componentWillUnmount".

Could you please ship v2 fix since it is not trivial to upgrade to version 3?

[2021-09-02 03:27] hemalrathod commented on #3999
I am using `npm `for the installation. How should I do it with this? @MohammedBENHADINE

[2021-09-02 06:07] hemalrathod commented on #3999
Where should I edit/add this while using `npm` with `expo`?

[2021-09-02 07:48] MohammedBENHADINE commented on #3999
@hemalrathod it seems that we should add those dependencies manually , so i did it the hard way (even it seems not accurate but it did the trick) . I ve just added the pkgs with npm like th following :
`npm install @react-stately/collections @react-stately/tabs @react-stately/checkbox @react-stately/toggle @react-stately/slider @react-aria/ssr`
**Disclaimer** : i'm just starting with RN so maybe t

[2021-09-02 13:39] moyolvera commented on #4006
#4009 related issue. I'm also having this issues

[2021-09-02 13:45] claudiozam commented on #4009
@moyolvera you can create a patch for the Keyboard issue.

https://github.com/ds300/patch-package

[code]

[2021-09-02 14:37] crevulus opened #4011 "Unable to find modules after install and start on expo"
Summary:

I'm adding native base to my existing expo react project. I've added the necessary packages as described in the expo  installation guide, but each time I get this error, I've tried multiple iterations of installing and uninstalling, deleting node modules and running it again, adding react-aria directly (including just @react-aria/interactions), but then I always get a new error with each

[2021-09-03 03:36] hemalrathod commented on #3999
One solution I found, is not to use `npm`

I used `yarn` and all problems with `stately` solved. I think problem is with `npm` package manager dependencies configuration.

[2021-09-03 03:36] #3999 closed

[2021-09-03 07:47] crevulus commented on #4011
@intergalacticspacehighway Works using `yarn`. Managed to render buttons from native base lib. You can close the issue.

[2021-09-03 21:21] mrcarjul commented on #3892
You need to install peerDependencies https://docs.nativebase.io/install-rn#install-dependencies

[2021-09-04 13:44] adhip94 commented on #4006
Even after applying the keyboard listener patch from #4009 I am getting the above error!

[2021-09-04 13:59] adhip94 commented on #4009
@claudiozam  Even after applying the patch I still get the following error
[code]

Any idea what this means?

[2021-09-04 14:28] claudiozam commented on #4009
@adhip94  yes, is not working. I think the problem is related to the *dist* folder.
Check this file at /node_modules/native-base/dist/src/basic/ToastContainer.js (I used flipper debugger).
Maybe we must regenerate the .js files of native base?

[2021-09-04 14:56] adhip94 commented on #4009
You could be right. Looks like the files in the dist folder are all minified, will try to change them.

[2021-09-04 15:38] adhip94 commented on #4006
Ok, so I got it to work using patch-package, for anyone who needs, these are the contents of the patch-package `native-base+2.15.2.patch`

[code]
Thanks @moyolvera for the suggestion.

[2021-09-04 15:44] adhip94 commented on #4009
Ok, so I got it to work using patch-package, for anyone who needs, these are the contents of the patch-package `native-base+2.15.2.patch`

[code]
Thanks @claudiozam for the suggestion.

[2021-09-04 15:55] claudiozam commented on #4009
@adhip94  thanks for your quick reply.
Maybe a more elegant solution is inside the native-base build script.

**package.json**

[code]

[2021-09-04 18:16] adhip94 commented on #4009
I did not understand, what do we change in the package.json. From what I have seen when doing an `npm i`, the native-base dist folder is already present.

[2021-09-06 16:32] Shannor commented on #3730
Came here to plus 1 this. The Text field doesn't seem to respect the`variant` field at all.

[2021-09-07 00:44] Psycarlo opened #4016 "Input Variants do not work with Pseudo props"
**Describe the bug**
Input variants do not work with pseudo props

**To Reproduce**
`<Input variant="filled" _focus={{ variant: 'outline' }} />`

**Expected behaviour**
When focused, the input should change from filled to outline

**Platform**

- NativeBase version: ^3.1.0
- Device: iPhone12

[2021-09-07 00:56] Psycarlo commented on #4016
A work around is to use bgColor='transparent'

`_focus={{ bgColor: 'transparent' }}`

[2021-09-07 01:43] Psycarlo opened #4017 "Can't click on InputRightElement when focus"
**Describe the bug**
When I try to click the InputRightElement inside the Input, the Input dismisses.

**To Reproduce**
`<Input
                variant="filled"
                _focus={{ bgColor: 'transparent' }}
                type={showPassword ? 'text' : 'password'}
                InputRightElement={
                  showPassword ? (
                    <Icon
                      as={<Ionic

[2021-09-07 01:54] Psycarlo commented on #4016
Others also seem not work with pseudo props

[2021-09-07 03:15] ZHANGYU-AAXIS opened #4018 "Can Modal support onTransitionComplete？"
I want to call some function after Modal exits the animation, but Modal does not support onTransitionComplete. I see that the PresenceTransition component is supporting it, but the Fade component is not passed in.
Can Modal also support onTransitionComplete?

[2021-09-07 09:51] UsamaAltaf commented on #2252
How to use this properly if anyone can help please

[2021-09-07 16:43] trajano opened #4020 "Setting fonts.body prevents making ad-hoc font family changes on Text"
**Describe the bug**

Following [Customizing fonts](https://docs.nativebase.io/customizing-fonts#loading-fonts-in-expo-or-react-native-init-project).  When setting `fonts.body` the `fonts.heading` value is ignored and the `fonts.body` value is used in the Heading.

**To Reproduce**
Steps to reproduce the behaviour:

1.
I have the following `fontConfig`.

[code]

[code]

**Expected behaviour**

I e

[2021-09-07 16:45] trajano commented on #4020
I am presuming the fontConfig has the following type (even though it's not in the code)

[code]

Here's how I build fontConfig

[code]

[2021-09-07 17:05] #4017 closed

[2021-09-07 17:06] Psycarlo commented on #4017
Was a scrollView messing things up.

[2021-09-07 22:18] trajano opened #4021 "expose useResolvedFontFamily"
**Is your feature request related to a problem? Please describe.**

I want to use a consistent style across my components even if it is not native-base.  e.g. react-native-stack-navigator

For now I have to

[code]

**Describe the solution you'd like**

        <Stack.Navigator screenOptions={{
            headerLargeTitle: true,
            headerLargeTitleStyle: {
                fontFamily: use

[2021-09-07 22:20] trajano commented on #4021
This is how I implemented it (note I just copied the `useResolvedFontFamily` with a few fixes on the types.
[code]

[2021-09-08 02:54] intergalacticspacehighway commented on #4021
@trajano Thanks! This is a great POC. We'll consider adding something like this. We are also thinking of introducing a hook like `useSX` or something similar which will intake style props and return a theme resolved Stylesheet object.

[2021-09-08 04:20] trajano commented on #4021
@intergalacticspacehighway feel free to take parts of my code, specifically the part where you had `// @ts-ignore` since eslint didn't like that too much.

[2021-09-08 08:52] gust42 commented on #3888
Still not working with react intl, they must be wrapping the text somehow when used in react native compared to web,

This here is the source file if someone wanna look
https://github.com/formatjs/formatjs/blob/main/packages/react-intl/src/components/message.tsx

[2021-09-08 12:27] claudiozam commented on #4009
@adhip94  the idea is to compile and generate a new /dist from the source.  i don't feel comfortable touching the minified file.  Maybe it's time to remove native base from my project.

[2021-09-08 21:11] stefanosandes commented on #3856
Same problem here =/

[2021-09-09 02:06] trajano opened #4024 "Responsive support not in typings"
**Describe the bug**

I was looking at the example of CardComponent and noticed some odd syntax.  It was also failing on my Typescript environment.  It appears that [responsive array definition](https://docs.nativebase.io/responsive-style) is not supported.

**To Reproduce**
Steps to reproduce the behaviour:

1. https://docs.nativebase.io/building-card#most-commonly-used-design
2. save it as a `ts

[2021-09-09 02:21] trajano commented on #4024
You'd need something like this

[code]

The suage would be something like

[code]

[2021-09-10 10:52] MuhammadAhmed1994 opened #4028 "Eject Theme Command not working"
I am unable to eject the theme

Native base version: 3.1.0

Command: node node_modules/native-base/ejectTheme.js

Error: Cannot find module '/Users/ahmed/Desktop/f3-git-repos/bmc/node_modules/native-base/ejectTheme.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:902:15)
    at Function.Module._load (internal/modules/cjs/loader.js:746:27)
    at Function.executeUserEntry

[2021-09-10 23:00] georgii-ivanov commented on #3997
Any progress there?
It would be nice to generate a separate style with a real media queries for web specifically.

[2021-09-10 23:26] georgii-ivanov commented on #3997
https://www.npmjs.com/package/react-native-media-query

That might be an option

[2021-09-11 00:04] trajano commented on #4020
I discovered that the problem is more fundamental,  if the `body` is set.  all text will have that font regardless of the `fontFamily` property being passed in.

[2021-09-11 02:00] trajano commented on #4020
user error

[2021-09-11 02:00] #4020 closed

[2021-09-11 06:40] pablohpsilva commented on #3997
I've decided to stick with `native-base@3.0.0` for now. The responsiveness is much better and the latest version has nothing extra that's impacting me right now.

@georgii-ivanov I was also using this: [use-breakpoint](https://github.com/wintercounter/use-breakpoint). It was flawless. But then I decided to move to native-base@3.0.0 and I use whatever they provide.

[2021-09-12 08:23] y471n opened #4029 "Dynamic Variant Typings not supported for Elements"
I'm using NativeBase: `"^3.1.0"`

**Describe the bug**
I added a custom theme like below:

[code]

Then tried to use the button as following:
[code]
The Button is updating fine on Simulator but the typing for this dynamic shows the following error in VSCode:
[code]

**To Reproduce**
Follow the above procedure.

**Expected behaviour**
Variant shouldn't have thrown the typing error.

**Screenshots**

[2021-09-12 10:42] batosain commented on #3435
After install @react-native-picker/picker, we must build application again. '@' packages must require building after install. This worked for me.

[2021-09-14 01:43] abramovks opened #4030 "Android. Left and right border color does not apply and stay black."
Hello.
Android
Left and right border color does not apply and stay black.
If use borderColor, then no one border change color.
<Box
    borderTopColor={'#e9e9e9'}
    borderLeftColor={'#e9e9e9'}
    borderRightColor={'#e9e9e9'}
    borderBottomColor={'#e9e9e9'}
    border={3}
    p={1}
    rounded={round}

In the IOS  the problem does not exist.

<img width="360" alt="problem" src="https://user-im

[2021-09-14 03:17] #3364 closed

[2021-09-14 10:50] leoparis89 commented on #3907
Adding `initialWindowMetrics` as follows fixed the problem

[code]

[2021-09-14 14:13] arunim2405 opened #4035 "Slow Performance of Checkbox group when Number of checkboxes is big"
**Describe the bug**
Very Slow Performance of Checkbox group when Number of checkboxes is big (>~50)
**To Reproduce**
Steps to reproduce the behaviour:

Create a checkbox group with >~50 different checkbox values

**Expected behaviour**
A clear and concise description of what you expected to happen.

**CodeSandBox/Snack link**
https://codesandbox.io/s/laughing-keldysh-ur72n?file=/src/components/Ex

[2021-09-15 00:28] bjornbreck commented on #3974
@makkarMeenu any updates on this?

[2021-09-15 07:51] arunim2405 commented on #3947
@intergalacticspacehighway still getting this warning when using Checkbox Group, using version 3.1.0

[2021-09-15 09:43] shootermv opened #4041 "getting "Node of type rule not supported as an inline style" warning when use "color" property at icon inside button"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-09-15 16:34] wilson208 commented on #4009
@adhip94 that patch worked perfectly, thanks for that!

I'm going to attempt to open a PR with a more permanent fix for this if I have time this weekend, patch-package is a great workaround, but the fact its on a minified file makes me think this will change quite often and will bite me in future.

For me the upgrade to V3 is non-trivial in a fairly complex app so its no on the roadmap right now

[2021-09-15 20:40] shashank1010 opened #4042 "To open Typeahead menu on "focus" instead of "input""
https://github.com/GeekyAnts/NativeBase/blob/23149fc64c4bb736ec44ae52363ff6011280ab92/src/components/composites/Typeahead/Typeahead.tsx#L97

Issue Description - menuTrigger is hardcoded to open on "input". Should be accepted as Input from the developer as a prop.
Motivation for or Use Case - I would like to open the Typeahead menu on focus.
NativeBase Version(s) - 3.1.0
Browsers and Operating Syst

[2021-09-16 01:19] lsmtom commented on #4024
@trajano
I have the same problem. I don't know how to overwrite the native base interface. So I made an adapter function with the type you wrote.

[code]

[2021-09-16 05:45] GeorgeBellTMH commented on #4011
would be great if this could be added to the alpha builds

[2021-09-16 08:30] darrylyoung commented on #3915
The suggested solution sounds great, @intergalacticspacehighway.

Have there been any further internal discussions around this? I'm using Native Base solely for the `Toast` component as other packages doing similar are very outdated and I need something quickly for a project.

Since updating from `2.15.2` to `3.1.0` yesterday, though, I noticed my _Compressed File Size_ of my iOS app in TestFlight

[2021-09-16 08:42] darrylyoung commented on #3915
For context, I just [analysed](https://github.com/IjzerenHein/react-native-bundle-visualizer) the bundle and this is what I saw for Native Base. I know you're aware of this but I wanted to add to my previous message. 6.5% of my bundle, when React Native is only ~12%, is quite a lot.

<img width="442" alt="Screenshot 2021-09-16 at 10 40 00" src="https://user-images.githubusercontent.com/1460800/133

[2021-09-17 05:48] ooooseaoooo commented on #2044
Any update ?

[2021-09-17 11:17] hugobarragon commented on #610
Does not work as expexted:
native base
![image](https://user-images.githubusercontent.com/35630927/133773909-bfc6bebd-bf8e-4473-a20f-2eb0c22b8783.png)
should work as this:
![image](https://user-images.githubusercontent.com/35630927/133774014-3859d12d-e1ff-4bc0-834f-561dd6179962.png)

[2021-09-17 12:24] arnabadhikari2009 commented on #1469
@peternoordijk  is right but how to open a drawer from stack screen.

[2021-09-18 04:14] trajano commented on #4024
they already have `useBreakpointValue` which sort of does the same thing.  Except it's poorly typed.  It should be typed as

[code]

[2021-09-18 11:26] kevinwcyu opened #4063 "Components try to update state after unmounting"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-09-19 03:38] adhip94 commented on #4009
@wilson208 Are they even maintaining v2? I wanted to submit a PR but I doubt they are maintaining v2. Anyways as @claudiozam mentioned previously, I have started replacing all my native-base components with react native components, so I will be removing native-base soon...

[2021-09-19 04:39] likeSo opened #4065 "[v3] [Feature Request] Request More Components"
Thanks to all of the contributors!

#### My Components wish list
- Portal
- Snackbar
- PIN code input
- Accordion, Grid  -- these two seems on the way
- Bottom Sheet, which extends the `ActionSheet`
  - Should work with custom content
  - Should work with react-navigation, which can nest independent navigation inside the bottom sheet
  - Avoiding the Keyboard

[2021-09-19 20:01] albehrens opened #4066 "Center Modals vertically on web"
This is neither a bug report nor a feature request. I took me a whole day to figure out how to center Modals vertically on web and I just want to leave my solution here for other frustrated users.

`NativeBaseProvider` wraps my app in a `View` and a view has `position: relative`. Just removing that fixes my problem, but since I do not know about the consequences I did not want to remove it. Instea

[2021-09-21 08:22] majugurci commented on #4009
20 days have passed and no one from the core team could give at least some answer. Version 3 looks nice but it's time to say goodbye to NativeBase since support has always been pretty slow.

[2021-09-21 08:26] adhip94 commented on #4009
@majugurci I have already said bye :) I removed all the native-base components from my app last week and uninstalled native-base as well. I think you might as well close this issue...

[2021-09-21 12:46] muazazhar opened #4094 "Toast broken in version 3.2.0"
If used 'status' property in toast, it gives error
` Error: `NativeBaseConfigProvider` must be used within `NativeBaseConfigProvider` `

Steps to reproduce:
use latest version(3.2.0)
it can be checked [here](https://docs.nativebase.io/toast#status) .

[2021-09-21 12:51] intergalacticspacehighway commented on #4094
@muazazhar Thanks for reporting. Toast is broken in docs but works locally. We're looking into the docs issue.

[2021-09-21 15:07] RWOverdijk opened #4097 "Split up components and system or use direct imports"
**Is your feature request related to a problem? Please describe.**

I've tested the bundle that gets created when using nativebase with expo, and everything ends up in there. Tree shaking seems to not be possible due to (I expect) the index file exporting everything.

On top of that I don't want to use most of the components that come with nativebase. I have to build my own. But I love the foundat

[2021-09-21 17:15] Nitish9711 commented on #2942
same error is occuring can anyone help me out

[2021-09-22 00:58] adrianlzx1996 opened #4098 "Documentation Site Checkbox is broken"
As the title mentioned. Only in web, not sure about Android & iOS.

[2021-09-22 09:12] Ajulibe opened #4102 "Documentation site drawer navigation is broken on Expo Snack"
Display Preview for the drawer tab navigation is throwing a _"Minified React error "_.

**To Reproduce**
1. Go to https://docs.nativebase.io/building-drawer-navigation.
2. Wait for the simulator to load.
4. See error

**Expected behaviour**
The simulator should display an interactive preview of what the drawer tab looks like.

**Screenshots**
<img width="845" alt="Screenshot 2021-09-22 at 10 01 22

[2021-09-22 10:11] shashank1010 opened #4103 "Wrapping any Component with Factory and passing shadow throws an error."
**Describe the bug**
Wrapping any Component with Factory and passing `shadow` crashes.

**To Reproduce**
Steps to reproduce the behaviour:

1. Create a new component by wrapping it in Factory
`
const WrappingBox = Factory(Box, {
    defaultProps: {
        flexWrap: "wrap"
    }
})
`

2. Use this component in App.ts with `shadow={ 1 }`
3. See error

**Expected behaviour**
Shadow around the wrapped

[2021-09-22 17:04] jonra1993 opened #4104 "Click on backdrop of Actionsheet is not working Native Base 3.2"
** Before reporting this bug, please...**

**Describe the bug**
After press backdrop, Actionsheet does not disappear. I tested documentation examples and on iOS and Android devices. The only way to close Actionsheet is by dragging it down.

**To Reproduce**
Steps to reproduce the behaviour:

1. Press Actionsheet button
2. Click backdrop

**Expected behavior**
I was expecting to close the Actionshe

[2021-09-23 15:07] Amitkahlon opened #4109 "2 errors about fowardRef render"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-09-23 15:46] zoolyka commented on #2357
Just faced a similar issue on a Galaxy Note10 with latest RN, after hours of debugging was able to figure out what caused it. If UI animations are turned off in Android accessibility settings then it wont display the spinner component at all.

![SmartSelect_20210923-174154_Accessibility](https://user-images.githubusercontent.com/4547445/134540061-dd875392-8fcb-428b-b2b6-ce17d28a7e34.jpg)

[2021-09-23 16:13] leoparis89 commented on #4109
I get these errors too:
[code]

and
[code]

Is there a workaround at the moment ?

[2021-09-23 18:45] Amitkahlon opened #4110 "Color mode(light, dark) doesn't change immediately, using StorageManager"
**Describe the bug**
Color mode doesn't update immediately when changing, using AsyncStorage and StorageManager(same as the example)

**To Reproduce**
I used the example in the docs: [persisting-the-color-mode](https://docs.nativebase.io/color-mode#persisting-the-color-mode)
this is my code:

[code]
[code]

[code]

**Expected behaviour**
I expected that when I use the StorageManager to handle the

[2021-09-23 21:10] raybotha opened #4111 "Strict mode warns over custom font tokens"
**Describe the bug**
Using a custom font with strict mode causes the following error:

<img width="372" alt="Screen Shot 2021-09-23 at 23 01 10" src="https://user-images.githubusercontent.com/9902896/134583422-8dabd331-7aa8-44de-a97b-00e82e10987c.png">

**To Reproduce**
Steps to reproduce the behaviour:

Text example:

[code]

Theme config:

[code]

Changing `Lato-Heavy` to `XYZ` in the theme caus

[2021-09-24 06:10] intergalacticspacehighway commented on #4110
@Amitkahlon Modify change code with the below snippet. The Color mode manager is to get the initial color mode and storing the changed color mode (It's handled internally, you can just interact with the useColorMode hook). Check this out for more detail: https://docs.nativebase.io/next/use-color-mode
[code]
Let us know if you have any doubts.

[2021-09-24 06:40] intergalacticspacehighway commented on #4104
@jonra1993 Thanks for reporting :) This will be fixed in the next release.

[2021-09-24 06:41] intergalacticspacehighway commented on #4098
@adrianlzx1996 thanks for reporting :) This has been resolved in the docs https://docs.nativebase.io/checkbox

[2021-09-24 06:41] #4098 closed

[2021-09-24 06:44] intergalacticspacehighway commented on #4094
@muazazhar This has been resolved in new deployment https://docs.nativebase.io/toast. Thanks for reporting :)

[2021-09-24 06:44] #4094 closed

[2021-09-24 06:47] rajeevverma076 commented on #3435
This solution working but we need to get a solution for @react-native-picker/picker because @react-native-community-picker This package has been deprecated. Can you please provide me a solution for this issue?

[2021-09-24 06:50] intergalacticspacehighway commented on #4066
@albehrens Thanks for reporting this. We need to improve the NativeBase docs for web and add this section. We'll add it in the next deployment
https://necolas.github.io/react-native-web/docs/setup/

[2021-09-24 08:21] #4018 closed

[2021-09-24 09:38] Amitkahlon commented on #4110
Thank you very much, I saw this hook doc but I probably thought you need to use the asyncStorage.

[2021-09-24 09:39] #4110 closed

[2021-09-24 12:31] daomtthuan commented on #4109
i think this warning appears because `forwardRef render function` needs `props` and `ref` as 2 parameters, but in 2 components:
- `Hidden` at `native-base\src\components\primitives\Hidden\index.tsx`
- `SkeletonCircle` at `native-base\src\components\composites\Skeleton\SkeletonCircle.tsx`
`forwardRef render function` missing `ref` param

I think just add `ref`
`const SkeletonCircle = ({ children, .

[2021-09-24 12:54] seyaobey-dev opened #4116 "TypeError: theme[_base.themePropertyMap[property]] is not a function"
**Describe the bug**
I am suddenly getting the following error after having upgraded to `v3.2.0`:
[code]
Now even after having downgradedback to `v3.1.0` I'm still having the same error, not sure why...

**To Reproduce**
This code was working before upgrading. I'm not sure exactly what steps to follow to reproduce it.
Here is the breaking codes:
*1. breaking component: IconButton*
[code]
And here

[2021-09-24 13:07] albehrens commented on #4066
Thank you for that link. I did not know that there was any documentation

[2021-09-24 13:51] vidhi499 commented on #4116
@seyaobey-dev  Thanks for reporting this issue, it will be fixed in next patch release.

[2021-09-24 15:07] trajano opened #4119 "themeTools getColor should accept OpaqueColorValue"
**Describe the bug**

expo-vectorIcons uses `string | OpaqueColorValue` or simply `ColorValue` which uses `OpaqueColorValue` but getColor requires a string.

[2021-09-24 15:15] trajano opened #4120 "Provide FactoryProps<T> that allows wrapping of an existing component props with the native base props"
**Is your feature request related to a problem? Please describe.**

I want to wrap my existing components using Factory so I can utilize Native Base design system, but the types are not directly exposed.

**Describe the solution you'd like**

type XXXProps<T> which takes in the props of an existing component and adds native base props and overrides if needed.  For example `color` may be limited to

[2021-09-25 03:01] trajano opened #4121 "Hidden and SkeletonCircle uses forwardRef with only one parameter"
When importing native-base in jest the following warnings appear.

    console.error
      Warning: forwardRef render functions accept exactly two parameters: props and ref. Did you forget to use the ref parameter?

      at printWarning (node_modules/react/cjs/react.development.js:315:30)
      at error (node_modules/react/cjs/react.development.js:287:5)
      at forwardRef (node_modules/react/cj

[2021-09-25 08:18] obayit-ghaya opened #4122 "Issue with the `Select` component."
The `Select` item seems to have an issue with a prop called `accessibilityDescribedBy`.

**To Reproduce**
Create an expo project, and install the dependencies, with:
[code]

Then add a select component, my exact `App.js` is:
[code]
Run the app with `yarn web`, and the error should be in console.

**CodeSandBox/Snack link**
I couldn't replicate this in `snack.expo.dev`,  [here](https://snack.expo.d

[2021-09-25 15:24] codakkk opened #4124 "Wrong types in theme colors"
When using theme (useTheme, for example), colors like primary, etc have type "{}", which is not valid, should probably be IColorHues.

**Steps to reproduce**
[code]

Now, somewhere in the code:

[code]
**Expected behaviour**
I expect primary of type `IColorHues` and existing "borders" key.

**Platform**
- NativeBase v3.2.0
- React Native 0.64

**Additional information**
Probably I did misunderstan

[2021-09-25 22:52] santigp258 commented on #4109
Yeah, solve the issue. I hope this be fixed in the next version

[2021-09-26 10:42] AndroidGuyDD commented on #3982
@eggybot and all others still facing this issue on NativeBase v2: define a resolution strategy in your `package.json` to force usage of https://github.com/codler/react-native-keyboard-aware-scroll-view/releases/tag/v2.0.0

`
"resolutions": {
    "native-base/@codler/react-native-keyboard-aware-scroll-view": "2.0.0"
  }
`

[2021-09-27 03:08] xionxiao opened #4126 "Can't set height of Select component"
**Describe the bug**
I have a form with Input and Select. I want to make them same height. But when I set ```h='50px'```, Input component height changes but Select component remain unchanged.

<img width="301" alt="Screen Shot 2021-09-27 at 10 36 41 AM" src="https://user-images.githubusercontent.com/28080841/134838655-f89b3836-8bed-4f68-8977-98c9b9a5b533.png">

**Expected behaviour**

<img width="

[2021-09-27 03:12] lsmtom commented on #4024
The issue is resolved at v3.2.

[2021-09-27 05:06] trajano commented on #4121
dup #4109

[2021-09-27 05:06] #4121 closed

[2021-09-27 05:07] trajano commented on #4109
https://github.com/GeekyAnts/NativeBase/pull/4096 tries to resolve this.

[2021-09-27 06:06] sXakil commented on #4109
Faced this issue too, had to roll back to v3.1. I was using a custom drawer component in react-navigation, no idea if or why this caused the issue.

[2021-09-27 06:54] ZHANGYU-AAXIS opened #4127 "Missing loading style on Button component"
**Describe the bug**
Missing loading style on Button component

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to [Docs](https://docs.nativebase.io/button#loading)
2. See error

**Expected behaviour**
Button has loading style.

**Screenshots**
![image](https://user-images.githubusercontent.com/87114784/134858012-154eede6-aaf1-4758-a6c7-69c7029f3b2e.png)

**Platform**

- NativeBase versi

[2021-09-27 08:05] MD-REHMAN commented on #4127
Thanks @ZHANGYU-AAXIS  for reporting it. We'll fix it int he upcoming patch.

[2021-09-27 11:03] vidhi499 commented on #4016
@Psycarlo This issue has been fixed in the latest release.

[2021-09-27 11:03] #4016 closed

[2021-09-27 12:12] tylim88 opened #4130 "Heading component fontFamily prop is not working"
**Describe the bug**
Heading component fontFamily prop is not working(only work in snack)
Text fontFamily props works as expected in all snack, emulator and phone

**To Reproduce**
Steps to reproduce the behaviour:

1. expo init my-app --template expo-template-native-base-typescript
2. expo install @expo-google-fonts/cherry-swash expo-font expo-app-loading
3. paste this code in App.tsx (only minor

[2021-09-27 12:48] vidhi499 commented on #4119
@trajano  We will fix this in further release, for now theme tools provide tranparentize util which can be used to provide opacity. Let us know if you have any more doubts.

[2021-09-27 13:40] tylim88 opened #4131 "Spinner size property crash the app"
**Describe the bug**
Spinner size property accepts only "sm","lg","small" and "large", the app will close if you use any other value stated in doc

this is the case for android emulator and android device, it just quit the app without any error log

the size in snack is also incorrect

![image](https://user-images.githubusercontent.com/5227509/134918058-e178b1e3-8510-49dc-8b31-7db7bbb34927.png)

*

[2021-09-27 15:13] xionxiao commented on #4126
Great!
Very quick fix!

[2021-09-27 15:13] #4126 closed

[2021-09-27 18:47] trajano commented on #4119
It's more for improving type safety by making things consistent with React Native types and removing the use of `any` (which I don't think you used in this context).

[2021-09-27 21:03] trajano opened #4136 "Add some description what a ButtonGroup is"
**Is your feature request related to a problem? Please describe.**

Looking at https://docs.nativebase.io/button#import and the example at https://docs.nativebase.io/button#buttongroup it does not really explain what it is used for.

**Describe the solution you'd like**

It looks the buttons act like a radio button, but the example does not look like a radio button.  It also makes it a bit confusi

[2021-09-27 22:48] trajano opened #4137 "useBreakpointValue is not working as expected"
Originally this bug was about how useBreakpointValue was not typed well.

I think it would be assuming there's at least one base

[code]

Then
[code]

However, there's a more fundamental problem in that the example which uses an object does not work correctly as

[code]

outputs

[code]

It appears to be this line

export const breakpoints = Object.freeze(['base', 'sm', 'md', 'lg', 'xl']);

which

[2021-09-28 01:18] trajano commented on #4137
Maybe someone can make a PR for this, not sure when I can get this done to make it consistent with the rest of the code base

[code]

[code]

[code]

[2021-09-28 07:57] likeSo commented on #4065
I am using another Portal, but i got some problem when i change the `Host` 's hierarchy
Maybe Native Base's Modal component has a Portal too? Maybe we can just expose the internal Portal😊

[2021-09-28 08:00] RWOverdijk commented on #4065
I think you can just use [Overlay](https://github.com/GeekyAnts/NativeBase/blob/76c34cab06be4b34ac02cebcf74448c9ea6b6322/src/components/primitives/Overlay/Overlay.tsx) for that. It's what modal uses, too.

[2021-09-28 10:10] maqeelqureshi commented on #518
+1

[2021-09-28 10:33] shashank1010 commented on #4116
Relates to #4103

[2021-09-28 12:27] therunbuddy opened #4140 "Add `ref` to `<Input />` so that you can call `focus()`, 'blur()`, 'clear()` methods"
**Is your feature request related to a problem? Please describe.**
At the moment there is no way to programmatically call the `focus()`, 'blur()`, 'clear()` methods on `<Input />`

**Describe the solution you'd like**
Expose the ref on `<Input />` so that the above methods can be called

[2021-09-28 13:22] MD-REHMAN commented on #4130
Thanks, @tylim88 for sharing the issue. The core reason for this issue is happening at react-native level and you can check [this](https://github.com/facebook/react-native/issues/30515) for more details.

When you're using a custom font, I would recommend doing it the NativeBase way, check out [this](https://docs.nativebase.io/customizing-fonts), to know more about it.

But just in case if you sti

[2021-09-28 15:36] tylim88 opened #4142 "BUtton Loading Color is not working"
**Describe the bug**
Spinner Loading Color is not working, even the one in the doc is not working
![image](https://user-images.githubusercontent.com/5227509/135119045-ad7d847e-6097-405a-ad39-f6f910a064a6.png)

**To Reproduce**
Steps to reproduce the behaviour:
just go to the doc
https://docs.nativebase.io/next/button#loading

**Expected behaviour**
loading color should change

**Platform**

Platfo

[2021-09-28 18:35] gold-olar commented on #4109
This temporary solution works, Thanks 👍🏾.
I hope the next version fixes this ...

[2021-09-28 18:36] trajano commented on #4109
The 3.2.1.rc-1 actually fixes it.

[2021-09-28 19:20] shashank1010 opened #4143 "NativeBaseProvider should accept optional SafeAreaProviderProps"
**Is your feature request related to a problem? Please describe.**
I'm making a web app that will also run on mobile, it would be nice to add props such as style for the SafeAreaProviderProps.

**Describe the solution you'd like**
maybe a prop like ```_safeAreaProviderProps?:  SafeAreaProviderProps```

**Describe alternatives you've considered**
For additional styles, I have way where I can give a

[2021-09-29 00:21] trajano opened #4144 "Component theme should have proper typings"
Looking at the code for Button it just uses `any` for the prop.  Ideally there should be a type.  Something like this but I don't know if it can be applied to all the scenarios that you may have.
[code]

[2021-09-29 00:33] trajano commented on #4144
With that you can ensure type safety with this example

[code]

[2021-09-29 00:38] trajano opened #4145 "rounded is not documented in Box"
https://docs.nativebase.io/box uses `rounded` in the example but it does not appear to be documented anywhere as to what the values allowed are.

It appears to be pulling it from `radii` based on the source code.

[2021-09-29 04:47] muazazhar commented on #4094
Nope, Still giving error.
![image](https://user-images.githubusercontent.com/49091541/135204976-fae97dcd-fc30-4868-b590-45e7ac1124c2.png)

[2021-09-29 05:55] Ajamuar commented on #4130
Closing this issue for now. Feel free to re-open it if anything more is needed.

[2021-09-29 05:55] #4130 closed

[2021-09-29 07:16] Ajamuar commented on #4035
Hi @arunim2405, sorry for the late response.

We are working on fixing the overall performance of the system. It might take a bit of time but we are hoping that it won't affect the application this is being used in too much. We have made some improvements here and there, and we also have a few more experiments planned regarding this. We will keep you posted.

[2021-09-29 11:09] MD-REHMAN commented on #4030
I am unable to reproduce the above case. But certainly, the border has an existing issue on android which you can see over [here](https://github.com/facebook/react-native/issues/12403).

If you're still having any concerns, please share a minimal snack describing the issue. And I'll try to provide you a better solution.

[2021-09-29 11:09] #4030 closed

[2021-09-29 16:14] kdgyimah commented on #4140
@therunbuddy
Currently `ref` is being passed as a second parameter.
See: https://github.com/GeekyAnts/NativeBase/blob/master/src/components/primitives/Input/Input.tsx

So you can pass your ref as a second parameter, as it is not currently deconstructed via props and it should work

[2021-09-29 16:32] jacargentina opened #4146 "TypeError: Cannot convert undefined or null to object"
**Describe the bug**
Installed latest 3.2.1-rc.1, and tried on my app. The sources are:

[code]

**To Reproduce**
It seems the `breaks` parameter comes null for the `value` prop, so it gives the error.

**Expected behaviour**
To just work.

**CodeSandBox/Snack link**
https://codesandbox.io/s/friendly-jackson-qymoz

**Screenshots**
<img width="521" alt="Captura de Pantalla 2021-09-29 a la(s) 13 22

[2021-09-30 07:38] arunim2405 opened #4149 "React Native Clipboard is Deprecated."
Clipboard has been extracted from react-native core and will be removed in a future release. It can now be installed and imported from '@react-native-community/clipboard' instead of 'react-native'. See https://github.com/react-native-clipboard/clipboard

[2021-09-30 07:39] arunim2405 commented on #4149
https://github.com/GeekyAnts/NativeBase/pull/4148

[2021-09-30 08:19] RWOverdijk commented on #4097
Duplicate of #3915

[2021-09-30 08:19] #4097 closed

[2021-09-30 08:26] RWOverdijk commented on #3915
I just realised my issue (#4097) is a duplicate of this one, kinda.

Anyway, I woud split the components into their own directories like material-ui does:

[code]

This could be kept backwards compatible by keeping the index file as well.

**Do note** that this is not enough. Internally nativebase also uses imports from index files. Those will need to be either rewritten or otherwise resolved. If

[2021-10-01 08:37] DaniSido commented on #3215
Hi @hanykumar,
neither of them works for me, in fact I get the following error:

`Failed prop type: Invalid prop `placeholderTextColor` supplied to `ForwardRef(TextInput)``

Can someone help me?
Thank you very much

[2021-10-01 15:24] Flam3rboy opened #4150 "Blur pseudo property"
**Problem**
I'm currently developing a project where users can submit their own themes, however currently it is not possible to create a glassmorphism theme, because there is no pseudo ``_blur`` property.

**Solution**
Just like the ``_hover`` and ``_text`` pseudo property, there should be an option to specify a background blur effect:

https://github.com/Kureev/react-native-blur
![blur gif](https

[2021-10-01 16:59] CarlosHdez opened #4151 "FormControl not passing 'isDisabled' to Radio.Group or Switch"
**Describe the bug**
A `Radio.Group` inside a `FormControl` wrapper that has the prop `isDisabled` does not get that value and the radio buttons are still pressable. This is not the case for text inputs or checkboxes

**To Reproduce**

1. Create a Radio.Group inside a `FormControl`
3. Make the `FormControl` disabled

**Expected behaviour**
The radio buttons should be disabled.

**CodeSandBox/Snack

[2021-10-01 23:32] trajano opened #4152 "NativeBase's Text component does't support nested styling"
The original one https://github.com/GeekyAnts/NativeBase/issues/610 was closed.  However, the most recent post to it https://github.com/GeekyAnts/NativeBase/issues/610#issuecomment-921715804 confirms I am not alone facing the issue.

In my case I tested the following with a custom font family...

        <Text bold italic underline>
          bold Italic underline
        </Text>{" "}
        <Tex

[2021-10-02 00:29] trajano commented on #4152
I was able to create [a snack](https://snack.expo.dev/@trajano/not-nesting-correctly) that demonstrates this

[code]

![image](https://user-images.githubusercontent.com/110627/135697188-f9f2c51e-2813-4cce-817c-c9f3a4e9888f.png)

Considering all this and I want to work with Markdown like content which will have a lot of nested stylings, I think the NativeBase `Text` needs work.

[2021-10-02 01:16] trajano commented on #4152
I'm suspecting it is because of https://github.com/GeekyAnts/NativeBase/blob/master/src/components/primitives/Text/index.tsx#L11 and it may be forcing the styles but not doing the inhertance.

[2021-10-02 06:48] trajano commented on #4152
I tried to implement using `Context` and `Text` from React-Native https://github.com/trajano/text-custom

[2021-10-02 17:10] FezVrasta opened #4153 "<Select /> renders below modals on iOS"
**Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/G

[2021-10-02 21:19] trajano opened #4154 "There's no `xxs`"
The `xxs` size was removed in 3.2.x and replaced with `2xs` but the documentation still refers to `xxs` in the samples https://docs.nativebase.io/default-theme#typography

[2021-10-03 07:25] georgii-ivanov opened #4155 "Please expose Overlay component"
Just export Overlay component from primitives.
I can prepare a PR for you or you can do it for yourself.

I wanted to implement my own Drawer but I need overlay for that.
Hook isn't really what I want to use for that.

On top of that also please make Menu placement static (so I can use it without trigger element)

[2021-10-03 15:36] jurajkrivda opened #4156 "Heading component variant does not accept size attribute"
Hello. I'm trying to make a variation for the Heading component. The problem is that it accepts color, but not the size anymore, it doesn't change.

[code]

Thank you

[2021-10-04 02:54] trajano opened #4157 "useBreakpointResolvedProps should take in any props not just IProp"
useBreakpointResolvedProps should be able to take in any prop object because the code for resolveValueWithBreakpoint will fallback to the original value if needed.

[2021-10-04 04:17] georgii-ivanov opened #4158 "Expose PresenseTransition animation options for Popover and other animated components"
Popover is currently animated but no animation props to turn off the animation.

One of the problems with that it's animated improperly (scale animation scales always from the bottom to the top but in my case I need from top to the bottom).

Also, maybe it makes sense to provide option for optimization and customization.

[2021-10-04 08:10] eldrigo opened #4160 "Header/AppBar in version 3.2.0"
Is there Header or AppBar component in version 3.2.0? I couldn't find.

[2021-10-04 09:49] SimonErm commented on #3381
I could make it work by explicit installing `@react-native-community/datetimepicker` since the autolinking of native-base doesn't seem to work correctly and with following patch(also includes keyboard listener fix ):

[code]

[2021-10-04 10:15] megacherry commented on #3975
@makkarMeenu: Do you know when the merge will go live? :)

[2021-10-04 22:12] CarlosHdez opened #4164 "Factory ignores defaults for explicit properties"
**Describe the bug**
A component with `Factory` and a custom theme will ignore defaultProps or baseStyle from the theme if the user passes a custom prop.

**To Reproduce**
Steps to reproduce the behaviour:

1. Create a base Factory as the one in the docs.
2. Add a theme with default props and/or baseStyle that sets a prop like background color.
3. Also make the factory wrapped theme take the backg

[2021-10-04 22:24] tylim88 opened #4165 "[typescript] tintColor type does not exist on Image but working"
![image](https://user-images.githubusercontent.com/5227509/135932149-398933b2-1388-41b7-9ad4-1e5a1c288a26.png)

![image](https://user-images.githubusercontent.com/5227509/135932858-d1619192-2cd6-4a33-be54-48f46f9cb204.png)

https://snack.expo.dev/@acidcoder/tintcolor-type

[2021-10-05 07:51] jaferi512 commented on #4002
Me Also Facing Same Issues Like that Please try to resolve this query

[2021-10-05 09:53] jaferi512 opened #4166 "How to Call Function onOpen of Select Component??"
**Environment Setup:**
RN: 0.65
Native Base: 3.1.0

**Feature Required:**
I want to Call a Function When we Click the Select Component to Open it because I want to fill the select.items by getting values from my restful api. I've not found something like that to detect the onOpen or something like that. Is there anything like that available then let me know otherwise try to implement this feature

[2021-10-05 16:12] dlombardi opened #4167 "extendTheme Button _text does not accept fontSize prop"
**Describe the bug**
I'm unable to get fontSize to apply to the Text within a button from baseStyle in the extendTheme functionality.  fontSize does work when passing it through the _text prop on the Button itself in JSX. I tried applying fontWeight and that seems to work.

**To Reproduce**
Steps to reproduce the behaviour:

Use extendTheme in your project and try to modify the baseStyle of the na

[2021-10-05 16:49] Brysonmk1984 commented on #4167
Having a similar issue both with access text and and with extending the theme on different components.  I also can't seem to extend Toast at all.

`  components: {
    Button: {
      // baseStyle on buttons doesn't seem to work!
      baseStyle: {
        rounded: "md",
        bg: "base.water",
        // Doesn't work!
        // _text: {
        //   color: 'base.primary',
        // },

[2021-10-05 20:37] vxm5091 commented on #3901
I'm still having a similar issue. I'm able to render the components themselves but passing down style props like `my='6'` doesn't work. Am I doing something wrong?

[code]

[2021-10-05 21:52] mbernardes19 commented on #3393
Had the same problem and unfortunately had to do the same thing as @Aryk . I'm using version 2.15.2 and tried to fork it to see what could be happening but no luck. Once I have more time maybe I'll analyze it more deeply.

[2021-10-06 11:38] jacargentina commented on #4146
It was fixed https://github.com/GeekyAnts/NativeBase/pull/4159

[2021-10-07 04:02] trajano opened #4168 "FlatList does not support _contentContainerStyle"
I tried to add

[code]
Works well on ScrollView but does not appear to be recognized (nor is it in the types) for `FlatList`

For now I worked around this gap (and the fact that IFlatListProps is not exported and that FlatList does not do the generics as in RN) using this

[code]

[2021-10-07 16:53] jonra1993 opened #4170 "/node_modules/native-base/Fonts/rubicon-icon-font.ttf: No such file or directory"
**Describe the bug**
When I try to compile my react native project on iOS devices I have a problem related to Fonts.

**To Reproduce**
Steps to reproduce the behaviour:

1. Run project on Xcode

**Expected behaviour**
No error appears

**Platform**

- NativeBase version 3.2.0
- Device: Iphone 13
- OS: iOS11
- React Native version 0.66
- Xcode: 13.0

**Screenshots**
This is the error message on Xco

[2021-10-07 17:27] trajano opened #4171 "@react-native-aria/overlays is missing from npm"
It fails on npm js and yarnpkg registries
Not Found - GET https://registry.yarnpkg.com/@react-native-aria%2foverlays - Not found

[2021-10-07 17:38] Vercjames opened #4172 "react-native-aria dependency issues"
running the following commands as listed in the docs results in:

yarn add native-base react-native-svg styled-components styled-system react-native-safe-area-context

Error: Couldn't find package "@react-native-aria/overlays@^0.2.9" required by "native-base" on the "npm" registry.
    at MessageError.ExtendableBuiltin (/usr/local/lib/node_modules/yarn/lib/cli.js:721:66)
    at new MessageError (/

[2021-10-08 19:28] #4171 closed, assigned to nobody

[2021-10-08 19:29] trajano commented on #4172
Lesson learned is to set up a sonatype nexus proxy so you always have a copy on a server you control.

[2021-10-09 10:22] codler opened #4174 "Property 'onPress' does not exist on Button"
**Describe the bug**
Im using react-native-web, typescript in CRA and im getting error on onPress in Button

[code]
[code]
**Platform**

- NativeBase [3.2.0]
- Device: [web]
- OS: [mac]
- typescript [4.4.3]
- react-native-web [0.17.5]

[2021-10-09 16:46] evilripper opened #4175 "property _hover not working"
I try in my project, but it doesn't working in the documentation too!
In the version 3.1.0 is ok in 3.2 no!

https://docs.nativebase.io/pseudo-props-101

The button never become red!

[code]

[2021-10-10 03:10] tungduonghgg123 commented on #3095
For those of you who want to get rid of extra padding top and bottom of `NativeBaseProvider`, you guys can wrap `SafeAreaView` component (I tried SafeAreaView of react-native) outside of `NativeBaseProvider`.

My application has `SafeAreaView` on the root to avoid using this on every component so I find this solution works.

[2021-10-11 04:37] aimensasi opened #4176 "Poor performance for the `Select` component"
**Describe the bug**
Poor performance for the `Select` component. When clicking on the select component, there is a very noticeable delay. The issue occurs again when selecting an item from the action sheet displayed. Note that, The issue appears on Android devices more clearly than on IOS.

**Sample Code**

[code]

**Screenshots**
https://user-images.githubusercontent.com/13252355/136733406-c38e3

[2021-10-11 06:24] intergalacticspacehighway commented on #4175
@evilripper Can you check your react-native-web version and make sure it's above 0.15?
It doesn't work in documentation as Snack player uses 0.13 version which doesn't support hover callbacks on Pressable.

[2021-10-11 09:24] codler commented on #4174
@intergalacticspacehighway thanks! adding @types/react-native worked. I updated my PR for cra-template-nativebase-typescript https://github.com/GeekyAnts/nativebase-templates/pull/16

[2021-10-11 14:29] #4175 closed, assigned to nobody

[2021-10-11 18:07] sergioisidoro opened #4185 "[Docs/integrations] Status of integration with React hook forms"
From old documentations there seems to be some support for React Hook Forms.
For the new version, this section of the documentation makes very little sense:
https://docs.nativebase.io/form#community-integration

There is very little information what "For more details checkout Community Integration section of the docs." means, since I was unable to find any additional section.

I did a little diggi

[2021-10-11 18:31] sergioisidoro commented on #4185
I think I got a working example:

Replacing:
[code]
With
[code]

worked. For some reason the object destructuring does not work. Either to some react hook optimization or some other reason, but `onChange` resolves to being undefined. Using `field` as suggested in their docs works, with the downside of getting

[2021-10-11 19:22] trajano opened #4186 "Using @react-native-clipboard will prevent native base from working in Expo"
See https://github.com/react-native-clipboard/clipboard/issues/110

The dependency was added after 3.2.1-rc.2

[2021-10-11 19:44] trajano commented on #4186
I think what should happen is https://github.com/GeekyAnts/NativeBase/blob/master/src/hooks/useClipboard.ts should use a config variable to get the ClipBoard object  much like what you had for linear-gradient so expo users can specify the proper object if needed.