[2022-02-07 10:34] surajahmed commented on #4606
@codakkk Thanks for reporting! We're looking into this.

[2022-02-07 10:55] JohannesKlauss opened #4609 "Setting up new react native project via template throws error"
### Description

When creating a project with the native base template, run-ios and run-android throws error

### CodeSandbox/Snack link

There is no link needed

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

1. run `npx react-native init MyApp --template react-native-template-native-base-typescript`
2. run `cd MyApp`
3. run `npx react-native run-io

[2022-02-07 15:48] korbonya commented on #593
Still having the same problem with action sheet too slow.

[2022-02-07 16:56] dlombardi commented on #4429
Still seeing this error as well.  Although it looks like the team is aware

[2022-02-08 05:56] gakinson commented on #4582
I can also confirm on version 3.2.2

[2022-02-08 05:57] MD-REHMAN commented on #3970
We have a pseudo prop called `_filledTrack`, using which you can customize the filled track. You can read more about it [here](https://docs.nativebase.io/progress#props).

We'll update the docs example to showcase it as well. For now, I have created a [Snack](https://snack.expo.dev/@md-rehman/progress-customisation) for reference.

[2022-02-08 07:14] ankit-tailor commented on #4582
Thanks for reporting the issue. We're looking into it.

[2022-02-08 07:50] ankit-tailor commented on #4609
Hi @JohannesKlauss, Please refer to this [docs](https://reactnative.dev/docs/0.65/environment-setup).

[2022-02-08 07:53] JohannesKlauss commented on #4609
??
As I wrote, creating a new blank react native so without native base works fine.
Not sure what I should refer to there.

[2022-02-08 09:12] johnf commented on #4273
I'm seeing this and wondering if it has something to do with the Modal creating a context.
I'm doing something like

[code]

Strange thing is it's fine on android but I have issues on ios and web

[2022-02-08 09:37] #4557 closed

[2022-02-08 19:13] Barrylimarti opened #4615 "ForwardRef(HStack)(...): Nothing was returned from render. Issue while rendering a component to test using jest/react-native-testing library."
### Description

  I want to test a basic component name TitleHeader which uses HStack and VStack from native base. But the component is not rendering properly even after trying to mock native-base.

### CodeSandbox/Snack link

https://snack.expo.dev/yMur6PJVo

### Steps to reproduce

Although I have provided the link to the expo snack reproduction....it is actually not possible to reproduce this

[2022-02-08 21:39] #4269 closed

[2022-02-08 21:46] JavanPoirier opened #4616 "AspectRatio does not respond to responsive object"
### Description

The dimension of the container should change.

### CodeSandbox/Snack link

https://codesandbox.io/s/lingering-bird-bkju1?file=/src/components/Example.tsx:0-404

### Steps to reproduce

1. Go to https://codesandbox.io/s/lingering-bird-bkju1?file=/src/components/Example.tsx:0-404
2. Slide the viewport, it should change from 200 to 600px width.
3. Reload to see intended behaviour.

#

[2022-02-09 05:42] #4439 closed

[2022-02-09 05:42] s0rta opened #4617 "set useRNModalOnAndroid from ActionSheet _backdrop props"
### Description

Action sheets on android right now do not allow for interaction for elements behind the action sheet even when the overlay is disabled, I tracked this issue to the prop useRNModalOnAndroid, which when going from a modal to an overlay, is impossible to set by hand. We are building an app that requires an action sheet and not allowing the user to interact with the elements above the

[2022-02-09 05:42] silgal commented on #4439
This is now at https://docs.nativebase.io/aspect-ratio

[2022-02-09 10:10] rodrigodiasf1984 opened #4618 "Require cycle native-base 3.3.5"
### Description

I've this require cycle warning

### CodeSandbox/Snack link

its a privated project can link on web sorry

### Steps to reproduce

1. Just installed the lib and yarn pod install
2. yarn ios
3. yarn android
4. get this warning on metro bundler
5. Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.
 WARN  Require c

[2022-02-09 13:38] JaapWeijland opened #4622 "Button: don't show text when isLoading is true"
### Description

So with many component libraries, or at least many design systems, buttons with `isLoading` is true don't show text. With current implementation of the NativeBase button, there is no neat way of not showing text when `isLoading` is true. One has to resort to set `isLoadingText` to a space in order to get it removed. Also one needs to update this text manually with each button inst

[2022-02-09 17:39] pROFESOR11 opened #4625 "IconButton disabled state styling"
### Description

Can't apply styling to icons in IconButton when the state is `isDisabled`

### CodeSandbox/Snack link

https://snack.expo.dev/@profesor/nativebase-iconbutton-disabled-styling

### Steps to reproduce

Hi,
I'd like to decrease the opacity of IconButton when it is disabled. I was expecting styling in `_disabled` prop would be passed to the component specified in `icon` prop. Here is

[2022-02-09 17:49] JaapWeijland commented on #4622
Ive created an example PR to demonstrate this feature

https://github.com/GeekyAnts/NativeBase/pull/4626

[2022-02-10 07:10] s0rta commented on #4617
Another possible solution would be to pass overlayVisible down to the overlay as opposed to just the backdrop and use that to decide if a RN modal should be used or not.

[2022-02-10 11:48] MD-REHMAN commented on #4119
@trajano we have introduced a way to use the alpha value on any theme color by simply appending `:alpha.10` or some number from the [theme](https://docs.nativebase.io/default-theme#opacity) within NativeBase.
_NOTE: These colors are not part of the theme instead we're adding alpha values on existing theme tokens._

So if it's a valid NativeBase color, getColor will give you its respective **rgba**

[2022-02-10 12:07] waheedakhtar694 commented on #4618
Same here.

[2022-02-10 12:12] Viraj-10 commented on #4295
Thanks for reporting. All the mentioned combinations work with NativeBase now. If you are still facing some issues please feel free to reopen the issue.

[2022-02-10 12:12] #4295 closed

[2022-02-10 16:00] serhanozcan opened #4636 "Double click feature for 'Pressable' component"
### Description

As I mentioned in the title, it would be nice to add a double-tap/double-click feature for the pressable component. In this way, extra features can be added for many components.

### Problem Statement

For example, when we create a card component, we can use it for different operations with the double-click feature for this card. Like open the menu, add to favorites or text copy t

[2022-02-11 07:17] nathanwkwong commented on #4417
my codeSandbox example used native-base 3.3.5 with react-native-web 0.17.5 on web. The scrolling does disabled after the activesheet pop out. However, the its position is at the absolute bottom of the page, instead of poping out at the current position of the page. I need to scroll down to the lowset to see the activesheet. Is there any way to fix it?

https://codesandbox.io/s/busy-flower-5rpuj?fi

[2022-02-11 07:30] surajahmed commented on #4625
@pROFESOR11 Thanks for reporting! This issue has been fixed in version [3.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.3.6).

[2022-02-11 07:30] #4625 closed

[2022-02-11 07:31] surajahmed commented on #4618
Thanks for reporting! This issue has been fixed in version [3.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.3.6).

[2022-02-11 07:31] #4618 closed

[2022-02-11 07:31] surajahmed commented on #4606
This issue has been fixed in version [3.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.3.6).

[2022-02-11 07:31] #4606 closed

[2022-02-11 07:32] mayank-96 commented on #4636
@serhanozcan  Thanks for reporting this. We'll surely look into this feature.

[2022-02-11 07:34] mayank-96 commented on #4622
Hello @JaapWeijland, Thanks for reporting. We'll surely look into this request.

[2022-02-11 07:37] surajahmed commented on #4582
This issue has been fixed in version [3.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.3.6).

[2022-02-11 07:37] #4582 closed

[2022-02-11 07:37] dhamarohan commented on #2928
It's possible. I'm doing this on native-base version 2.13
Create a ref to the picker dropdown.
In constructor => this.pickerRef = createRef();
Suppose ref to the dropdown => <Picker ref={this.pickerRef}  .... />
Open Picker dropdown => this.pickerRef.current._root.focus()

[2022-02-11 07:37] surajahmed commented on #4604
This issue has been fixed in version [3.3.6](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.3.6).

[2022-02-11 07:37] #4604 closed

[2022-02-11 07:40] nathanwkwong commented on #4417
Instead of cloud sandbox, I tried to compile the same code and dependencies as https://codesandbox.io/s/busy-flower-5rpuj?file=/src/components/Example.tsx at my local develop environment. The whole page is still able to scroll after the activesheet pop out. Here is the problematic behaviour:

https://user-images.githubusercontent.com/55337066/153552493-cfca9725-a1e8-42da-b44c-2c7e5bc1986d.mov

I d

[2022-02-11 07:45] surajahmed commented on #4500
This issue has been fixed in version 3.3.6.

[2022-02-11 07:45] #4500 closed

[2022-02-11 07:46] surajahmed commented on #4590
This issue has been fixed in version `3.3.6`. Thanks.

[2022-02-11 07:46] #4590 closed

[2022-02-11 07:51] surajahmed commented on #4445
Thank you so much for your patience. This issue has been fixed in version `3.3.5` or later.

[2022-02-11 07:51] #4445 closed

[2022-02-11 07:52] nathanwkwong commented on #4417
my codeSandbox example, https://codesandbox.io/s/busy-flower-5rpuj?file=/src/components/Example.tsx,  used native-base 3.3.5 with react-native-web 0.17.5 on web. The scrolling does disabled after the activesheet pop out. However, its position is at the absolute bottom of the page, instead of the current position of the page. I need to scroll down to the very bottom to see the activesheet. Is there

[2022-02-11 08:42] surajahmed commented on #3980
Hi @cmaycumber, you can use `_radio` or `_checkbox` prop to group component to modify props of sub-components now.
This feature is included in version `3.3.6`.
Hope this will fix your issue.
Closing this issue. If you face any problem regarding this, feel free to reopen. Thanks.

[2022-02-11 08:42] #3980 closed

[2022-02-11 08:43] arunim2405 commented on #4480
@surajahmed any updates on this? It is a common use case.

[2022-02-11 08:44] surajahmed commented on #4111
We're looking into this. Hope to fix this in the coming release. Thanks for reporting!

[2022-02-11 08:48] surajahmed commented on #4293
This issue is fixed in version `3.3.6`. Thanks for reporting!

[2022-02-11 08:48] #4293 closed

[2022-02-11 09:45] ankit-tailor commented on #4429
Hi Everyone, Thanks for reporting the issue, we are working on it.

[2022-02-11 12:12] surajahmed commented on #3972
@cmaycumber This issue has been fixed in version `3.3.6`. Thanks for reporting!

[2022-02-11 12:12] #3972 closed

[2022-02-11 12:13] parthaglo commented on #4609
Adding arm64 to the excluded architecture fixed for me for Mac m1 system

[2022-02-11 12:22] surajahmed commented on #4354
@ataravati This issue has been resolved in version `3.3.6`. If this issue still persists, please feel free to reopen it.

[2022-02-11 12:22] #4354 closed

[2022-02-11 12:39] surajahmed commented on #4312
@loveholly Can you please try the latest release version `3.3.6`? Let us know if the issue persists.

[2022-02-11 14:41] dkulakov commented on #4111
Looks like this bug was fixed into `"native-base": "3.3.5"`

[2022-02-11 16:38] cyrusduong opened #4640 "FormControl Input Duplicate NativeID / id attribute - Lighthouse Accessibility"
### Description

There are duplicate ids causing accessibility issues with FormControl and the nativeID prop.

### CodeSandbox/Snack link

https://snack.expo.dev/FouiHNwz7

### Steps to reproduce

1. Open snack link
2. View snack in a separate window
3. Using inspect, see there are duplicated ids
<img width="840" alt="image" src="https://user-images.githubusercontent.com/9095217/153630044-6b7ad647

[2022-02-11 16:46] cyrusduong commented on #4640
Our workaround for this in case anyone needs it is to manually manage the ids on the children components

[code]

[2022-02-12 04:51] nathanwkwong commented on #4417
Just found that it seems the above issue is the same as in here, https://github.com/GeekyAnts/NativeBase/issues/4581, affected on both native-base's modal and activesheet module.

[2022-02-14 05:33] exneval opened #4643 "Web - Input in overlay components (alertdialog, modal)"
### Description

Can't lose focus by clicking outside input field

### CodeSandbox/Snack link

https://snack.expo.dev/@exneval/nativebase-x-input-x-overlay

### Steps to reproduce

1. Try to lose focus of input inside an overlay component

### NativeBase Version

3.3.6

### Platform

- [ ] Android
- [X] CRA
- [ ] Expo
- [ ] iOS
- [X] Next

### Other Platform

Web

### Additional Information

_No r

[2022-02-14 05:54] mayank-96 commented on #4643
Hello @exneval, Thanks for reporting the issue, we'll look into this.

[2022-02-14 08:15] grean opened #4645 "How to avoid selecting the 'icon text' when you fast click on a button in web?"
### Description

When you fast click on a button ton increment a value, you can miss one click because it selects the text (or icon) like a triple click.

### Problem Statement

It's better UX to not see the text highlighted. We just want the button to be clicked.

### Proposed Solution or API

In CSS user-select: none;

### Alternatives

_No response_

### Additional Information

_No response_

[2022-02-14 09:36] ankit-tailor commented on #4645
Hi @grean , Thanks for reporting. We'll look into this.

[2022-02-14 12:01] cloudratha commented on #4431
@mayank-96 any news? we are experiencing this as well.

[2022-02-14 12:58] cloudratha commented on #4431
I've been able to remove the warning by using `ts-jest` and by removing the `svg-mock` in `moduleNameMapper` in the `jest.config.js`. I realised the issues were stemming from native-base icons which are probably svg based.

What confuses me the most is the stack trace referencing a file that doesn't exists:

`node_modules/native-base/lib/commonjs/components/primitives/Icon/Icons/Sun.tsx`

`lib` on

[2022-02-14 14:52] Viraj-10 commented on #4615
Hi @Barrylimarti, Thanks for reporting the issue. We will look into it.

[2022-02-15 04:54] likeSo commented on #4065
Don't close this issue, I am still waiting

[2022-02-15 06:57] berkozagir commented on #2947
If use react-native-dropdown-picker component, maybe that link help you for solution. Solved in my case.
[solution](https://github.com/hossein-zare/react-native-dropdown-picker/issues/56)

[2022-02-15 09:43] geoapostolidis opened #4646 "Popover causes not trigger click on buttons"
### Description

when you have a popover and buttons in same page the buttons not clicked

### CodeSandbox/Snack link

cannot create sandbox for 3.3.6, needs react-native-svg

### Steps to reproduce

1. Add a popver
2. Add a button under the popover
3. click the button (nothing is clicked)

### NativeBase Version

3.3.6

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Ot

[2022-02-15 10:36] ghoudi01 commented on #4410
@MD-REHMAN can i work on it

[2022-02-15 11:07] Viraj-10 commented on #4615
Hi @Barrylimarti, Try using the following code.

- `renderer.create()` doesn't have wrapper option. render has the option to pass wrapper. you can find documentation [here](https://testing-library.com/docs/react-testing-library/setup#custom-render).
- Also remove `jest.mock('native-base');`

### App.test.js

[code]

[2022-02-15 12:25] surajahmed commented on #4617
@s0rta Thanks for pointing this out. We'll look into this.

[2022-02-15 12:31] surajahmed commented on #4640
@cyrusduong Thanks for reporting this! We're looking into this. Hope to fix this in the next release.

[2022-02-15 22:01] rahul-keyworks commented on #4615
Hey @Viraj-10 . I did as you said and got this new error. Can you look into this please?
![Hstackerror2](https://user-images.githubusercontent.com/98030637/154156703-2bff9b6e-c4e5-4492-85a0-b98c0065b239.png)
![Hstackerror3](https://user-images.githubusercontent.com/98030637/154156726-aa01fd07-90a8-4c64-920b-e00938046570.png)

[2022-02-15 22:05] Barrylimarti commented on #4615
Hey @Viraj-10 . I did everything as you said and got this new error. Can you please look into this?
![Hstackerror2](https://user-images.githubusercontent.com/65606499/154157233-d4ac1acb-7b8b-457a-a369-d771fbf3390b.png)
![Hstackerror3](https://user-images.githubusercontent.com/65606499/154157242-14e43e6d-0999-4d37-b515-463de17de545.png)

[2022-02-16 04:49] #4570 closed

[2022-02-16 05:33] MehmetKaplan opened #4647 "ERESOLVE errors within EAS build for native-base and Expo"
### Description

Expo 44 and native-base (version `^3.0.0`, or more precisely `native-base@3.3.6` can not be built with EAS which uses `npm` to install the dependencies.

### CodeSandbox/Snack link

This is a problem for building packages so please check **"Steps to produce"** section.

### Steps to reproduce

1. Generate a blank expo project:
`expo init test-native-base-peer-dependency`
2. Go int

[2022-02-16 05:56] #4487 closed

[2022-02-16 08:39] ankit-tailor commented on #4616
Hi @JavanPoirier , I've attached detailed working example [here](https://codesandbox.io/s/beautiful-scott-qktvej?file=/src/components/Example.tsx). Also you can refer to [docs](https://docs.nativebase.io/next/aspect-ratio#page-title).

[2022-02-16 18:44] shobhitsinghal624 opened #4653 "Stack flattening is leading to these errors: Encountered two children with the same key, `.$.$.1`."
### Description

Somehow stack flattening leads to same key in multiple children.

### CodeSandbox/Snack link

https://snack.expo.dev/Vs1NtJ-u6

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.3.6 onwards

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional

[2022-02-16 20:46] maocop commented on #4303
you have to put <NativeBaseProvider> first at all, example

nothing here
<NativeBaseProvider>
      All here.....
</NativeBaseProvider>
nothing here

[2022-02-16 20:50] KazakovVS commented on #593
Super slow on some android devices. By looking at the history of this thread doesn't look to be promising. Seems like the only way is to switch to another lightweight solution or just create all desired components from scratch...

[2022-02-17 06:19] Viraj-10 commented on #4550
Hi @trajano, Issues with `PeerDependancies` are resolved in our latest release. Expo `SDK 44` works with `NativeBase` with `typeScript` and `npm`. If it is still not working for you please reopen the issue.

[2022-02-17 06:19] #4550 closed

[2022-02-17 09:45] Viraj-10 commented on #4615
Hi @Barrylimarti, I am unable to replicate this bug. Can you share your code?

[2022-02-18 04:21] s0rta commented on #4646
You can hotfix this by setting useRNModalOnAndroid to false inside popover.tsx, I've submitted a PR that should fix this but it hasn't been merged. #4656

[2022-02-18 06:39] haibert opened #4657 "isLoading prop for Button"
### Description

It would be awesome if the Button component had the isLoading prop like the Button comp from the Chakra library which shows a spinner when the state is changed to true

[code]

### Problem Statement

Its a very reasonable thing for the Button component to have because this form of feedback to the user is widely used.

### Proposed Solution or API

This is obviously a very basic im

[2022-02-18 06:50] haibert opened #4658 "withDefaultColorScheme so you can declare the color once and not pass it as a prop everywhere in the app"
### Description

So we can apply a default color scheme to all components, instead of setting them each time we use a component

### Problem Statement

It will save a lot of time knowing that once you choose lets say "orange" as the color scheme, anywhere in the app you drop a button it will be orange, unless you change props..

### Proposed Solution or API
[code]
### Alternatives

_No response_

[2022-02-18 07:30] danbim commented on #4466
I have exactly the same issue, my setup is (almost) identical to @Viraj-10

[2022-02-18 12:04] AshwiniKumar007 commented on #3539
Thanks for your patience. We have finally planned our roadmap for NativeBase v3. You can check out the roadmap [here](https://nativebase.io/roadmap)

[2022-02-18 12:04] #3539 closed

[2022-02-18 12:45] Viraj-10 commented on #4647
HI @MehmetKaplan, peer dependency issues are resolved in the latest version of native-base.
Please try using the following pakage.json with correct version.
PS :- `react-native-modal-datetime-picker` giving peer dependency error.
### Pakage.json
[code]

[2022-02-19 08:41] MehmetKaplan commented on #4647
Hi Viraj,

Thanks for the answer. Using it as a clue, my conclusion is; native-base searches `"react-dom": "17.0.2"` and it in turn looks for `"react": "17.0.2"` which conflicts with expo's `"react": "17.0.1"`.

So adding `"react-dom": "17.0.1"` as dependency solved the problem. (Please let me know if this conclusion is wrong.)

I think this can be closed. Thank you for the help.

[2022-02-19 08:41] #4647 closed

[2022-02-19 18:50] hlmnd commented on #4424
Hi @trajano,
create a custom button component worked for me

[code]

[code]

[2022-02-20 04:54] trajano commented on #4424
Thanks fine @hlmnd  but you're masking the problem at hand.  NativeBase should be exposing it on their level rather than having another development hack.

[2022-02-20 16:24] lisimba opened #4660 "Checkbox.Group broken in version 3.3.7, unable to select multiple checkboxes."
### Description

I expected to be able to predictably select/deselect multiple checkboxes within a group

### CodeSandbox/Snack link

https://snack.expo.dev/q7cvmJupH

### Steps to reproduce

1. Go to the Snack link [https://snack.expo.dev/q7cvmJupH](https://snack.expo.dev/q7cvmJupH)
2. Try to select multiple checkbox items

### NativeBase Version

3.3.7

### Platform

- [ ] Android
- [ ] CRA
- [

[2022-02-20 17:35] sergeu90 commented on #4356
I have same issue and error

No native splash screen registered for given view controller. Call 'SplashScreen.show' for given view controller first.]

on expo go works as excepted

[2022-02-21 02:28] likeSo commented on #4657
Maybe you need this? https://docs.nativebase.io/button#h3-loading

[2022-02-21 02:56] exneval commented on #4660
confirm this issue as well

[2022-02-21 04:57] silgal commented on #4369
Still doesn't work inside docker, doesn't work outside of docker either.

[2022-02-21 09:44] surajahmed commented on #4646
@geoapostolidis Thanks for reporting! We'll look into this.
@s0rta Thanks for working on this.

[2022-02-21 09:51] surajahmed commented on #4660
@lisimba We'll consider this API for `Button` in the next release. Thanks for pointing this out.

[2022-02-21 16:31] #4657 closed

[2022-02-21 17:19] BrandanKing commented on #4575
@trajano This still doesn't look like it has been updated in the latest version on Native Base. This is starting to cause issues with Expo as Expo expects version 12.1.1 of react-native-svg.

[2022-02-21 19:58] lisimba commented on #4660
Hi @surajahmed thanks for the acknowledgment however I’m not sure what you mean by the above; specially the mention of “button”. Are you able to clarify please?

[2022-02-21 21:10] codakkk opened #4663 "Linear Gradient as Button background color"
### Description

There's no way to pass Linear Gradient props.

### Problem Statement

It's possible to pass Linear Gradient to every component except for Button.

### Proposed Solution or API

<Button bg={{linearGradient={....}}} />

### Alternatives

Trryied with parent Box:
`
<Box
                bgColor={{
                  linearGradient: {
                    colors: ['#E31E24', '#B62322', '

[2022-02-21 21:17] codakkk commented on #4663
Lurking codebase, Pressable should be allowed to get Linear Gradient, not Button.

[2022-02-22 04:43] amars29 commented on #4369
Hi @silgal, Please run `npm config set legacy-peer-deps true` in the root directory before running the nextjs script.

[2022-02-22 08:58] silgal opened #4665 "`npm run storybook` should work in NativeBase/example"
### Description

`npm run storybook` should work in NativeBase/example

### CodeSandbox/Snack link

http://example.com/

### Steps to reproduce

[code]

### NativeBase Version

not sure

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

[code]

[2022-02-22 10:11] creativitycomkw opened #4666 "wrong position of menu component in RTL layout of react-native inside of HStack"
### Description

wrong position of menu component in RTL layout of react-native inside of HStack

### CodeSandbox/Snack link

https://snack.expo.dev/W4HiE_uld

### Steps to reproduce

1. use RTL Layout in react-native
2. put 3 elements in the HStack component
3. use menu component at 3rd component
4. then see menu position, it will show on the wrong position

<img src="https://user-images.githubus

[2022-02-22 10:15] mcatal commented on #4153
I have the same issue, using 3.3.7

[2022-02-22 10:35] surajahmed commented on #4660
@lisimba My bad! I've sent you the wrong message. We're looking into this issue. It is working with version `3.3.6`. However, in version `3.3.7` it is not working properly.
Hope to fix this in the coming release.

[2022-02-22 13:45] rahul-keyworks commented on #4615
Hi @Viraj-10. Thanks for your help...the problem is solved I think. I had some other mocks that was causing this issue.

[2022-02-22 13:48] Barrylimarti commented on #4615
Hi @Viraj-10 the problem is solved I think. There were some other mocks in the code that was causing this issue. Thanks for your help.

[2022-02-22 13:53] Viraj-10 commented on #4615
Thanks for replying back closing this issue. feel free to reopen if any problem occurs.

[2022-02-22 13:53] #4615 closed

[2022-02-23 03:24] silgal commented on #4369
https://github.com/GeekyAnts/nativebase-docs/pull/261

[2022-02-23 07:27] amars29 commented on #4369
Hi @silgal, we are resolving the issue with npx. Meanwhile you can use yarn command i.e. `yarn create next-app -e https://github.com/GeekyAnts/nativebase-templates/tree/master/nextjs-with-native-base-typescript`

[2022-02-23 16:12] Southclaws opened #4670 "Checkbox hover animation scales disproportionately in the Y axis if children span multiple lines"
### Description

If the children nodes inside a checkbox result in multiple lines being spanned, the animation

### CodeSandbox/Snack link

https://codesandbox.io/s/icy-sun-llo4x0?file=/src/App.tsx

### Steps to reproduce

[code]

Hover mouse over checkbox:

One line of text, normal:
![image](https://user-images.githubusercontent.com/1636971/155358376-ce04ee10-55ee-425b-97aa-03557a3d8587.png)

Thr

[2022-02-23 16:17] Southclaws commented on #4670
Temporary fix:

[code]

[2022-02-23 17:07] sergioisidoro opened #4671 "Stable hash broken in 3.3.x"
### Description

While installing native base on a clean expo project, got an error :

[code]

### CodeSandbox/Snack link

Fresh install

### Steps to reproduce

1. Create a new expo project
2. Install native base following instructions (built on a mac M1)
3. Run on iOS

**Note:, web builds ok**

### NativeBase Version

3.3.x (3.3.7)

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [

[2022-02-23 18:18] #4671 closed

[2022-02-24 05:18] mayank-96 commented on #4663
Hello @codakkk, we'll surely consider this API for `Pressable` in the next release. Thanks for pointing this out.

[2022-02-24 06:00] mayank-96 commented on #4670
Hello @Southclaws, Thanks for reporting this issue, we'll look into this.

[2022-02-24 08:49] TVGSoft opened #4672 "Flex "direction" props crash on bare react native"
### Description

Flex "direction" props crash on bare react native

### CodeSandbox/Snack link

https://snack.expo.dev/@giaptran/nativebase-template

### Steps to reproduce

 <Flex direction="row" />

### NativeBase Version

3.3.7

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-02-24 09:13] ksi9302 commented on #4265
Hi I'm using NativeBase 3.3.4, The issue still persists.

[2022-02-24 13:03] ankit-tailor commented on #4672
Hi @TVGSoft, Thanks for reporting the issue. We'll fix it soon.

[2022-02-24 15:03] LadislavBohm commented on #4575
This is also preventing from upgrading one of the related dependencies (react-native-safe-area-context or react-native-svg) and more importantly this is will fail for anyone getting started with bare react-native workflow.

This I believe is not fixable by patch-package.

[2022-02-24 15:05] trajano commented on #4575
@LadislavBohm correct, patch-package cannot be fix problems with package.json.  Thanks for testing ahead for me.

[2022-02-24 16:27] srinivasarajui commented on #4429
Any Update or work around.

[2022-02-24 16:28] OneHatRepo commented on #4429
Work around is [listed above](https://github.com/GeekyAnts/NativeBase/issues/4429#issuecomment-1002855021).

[2022-02-24 17:46] trymbill commented on #4625
Looks like `isDisabled` only places the icon in a disabled looking state, it doesn't prevent the icon button being clicked. The `onPress` callback still goes through. If you also provide it with a truthy `disabled` prop, the icon button isn't clickable. It's a bit awkward to need to provide the `<IconButton />` component with both `isDisabled` and `disabled` at the same time.

[2022-02-25 00:15] Vercjames opened #4673 "Avatar Source uri: must be a string."
### Description

Avatar component breaks stack

### CodeSandbox/Snack link

n/a

### Steps to reproduce

1: make an Avatar component
2: pass in a dynamic variable to the source uri
3: make that variable undefined

### NativeBase Version

3.3.1

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

When using a dynamic

[2022-02-25 01:41] chuanhaisoft commented on #4516
same issue

rn:0.68.0-rc.1
native base version : from 3.0.0  to  3.3.7  ;   2.x is ok

[2022-02-25 07:33] mayank-96 commented on #4666
Hello @creativitycomkw, Thanks for reporting this issue, we will look into this.

[2022-02-25 13:05] geoffreyLB commented on #4273
Same problem when using Modal.

[2022-02-25 14:49] param-finder commented on #3939
I'm facing the same issue even now. The actionsheets with inputs hide behind the keyboards when opened.

[2022-02-25 17:06] srinivasarajui commented on #4429
I feel that the problem is with ChevronDownIcon. If I add this icon I am getting the error. The problem is not with select but with this icon.

[2022-02-26 15:30] TVGSoft opened #4676 "FormControl.ErrorMessage long error message was overlap"
### Description

FormControl.ErrorMessage long error message was overlap

### CodeSandbox/Snack link

https://snack.expo.dev/@giaptran/07fc53

### Steps to reproduce

 Should allow to custom Box props of "children": <Box _text={_text}>{children}</Box>

 <Box nativeID={resolvedProps?.helpTextId} {...resolvedProps} ref={ref}>
      <HStack {..._stack}>
        {startIcon}
        <Box _text={_text}>

[2022-02-26 16:15] TVGSoft opened #4677 "Menu Overlay "left" position not working correctly"
### Description

Menu Overlay "left" position not working correctly

### CodeSandbox/Snack link

https://snack.expo.dev/@giaptran/nativebase-menu-overlay-bug

### Steps to reproduce

This bug doesn't happen on version 3.3.4 and below, but happens on version 3.3.5 and above.
![Screen Shot 2022-02-26 at 23 11 47](https://user-images.githubusercontent.com/20625911/155850414-a826ea60-6778-47a7-919a-48

[2022-02-27 04:20] grumpyshiba commented on #4677
Same for me

[2022-02-27 12:09] yogesh-jgu opened #4678 "stable hash package issue"
### Description

Error: While trying to resolve module `stable-hash` from file `./node_modules/native-base/lib/module/hooks/useStyledSystemPropsResolver.js`, the package `./node_modules/stable-hash/package.json` was successfully found. However, this package itself specifies a `main` module field that could not be resolved (`./node_modules/stable-hash/dist/index.mjs`. Indeed, none of these files ex

[2022-02-28 05:56] rahul-mahato opened #4680 "template failing to install"
### Description

Trying to install nativebase using the template with `react-native init` is failing.

### CodeSandbox/Snack link

no code sandbox link required

### Steps to reproduce

running
```npx react-native init bylo --template @native-base/react-native-template```

is throwing an error
[code]

![image](https://user-images.githubusercontent.com/52028898/155931479-91704486-a9aa-4122-b0a7-d83

[2022-02-28 06:03] surajahmed commented on #4658
@haibert Thanks for the suggestion. We've added it to our list.

[2022-02-28 06:06] surajahmed commented on #4665
@silgal Thanks for reporting! We're looking into this.

[2022-02-28 22:44] Wei102193 opened #4681 "Native base components make app slower by using FowardRef"
### Description

My app is mostly written with native base, it is quick and convenient. But somehow it is really slow on android. I used React Native Debugger Profiler and found out that those native base components are all using FowardRef, which seems to make app render slower. I actually rewrote one of the screen with purely react native and the render duration decreased from 180ms to 80ms. Anyo

[2022-03-01 01:42] trip16661 commented on #4429
I'm also getting the same error while creating custom icons with createdIcon.

[2022-03-01 06:36] amars29 commented on #4680
Hi @rahul-mahato, the above command is working fine. Can you provide more context (maybe npm/node version) about the environment.

[2022-03-01 11:01] mayank-96 commented on #4673
Hello @Vercjames, I'm not able to reproduce your bug, can you please provide a snack/codeSandBox link.

[2022-03-01 12:53] rahul-mahato commented on #4680
It had something to do with my node setup.
It works now.
Thanks @amars29

[2022-03-01 12:53] #4680 closed

[2022-03-01 14:10] Viraj-10 commented on #4678
Hi @yogesh-jgu, Can you provide some more environment details.

1. Node Version.
2. codeSandBox link. (the provided codeSandBox link is broken).
3. workspace in which you are adding NativeBase (Expo,react-cli,etc).
4. `package.json`

[2022-03-01 15:45] yogesh-jgu commented on #4678
[package-json.txt](https://github.com/GeekyAnts/NativeBase/files/8162723/package-json.txt)

Node : v17.5.0
Workspace: ignite-cli

[2022-03-01 17:46] Vercjames commented on #4673
@mayank-96 of course friend!

https://snack.expo.dev/@vercjames/avatar-catch

Additionally, any incoming variable with null or undefined tripes typescript (which is ugly) and adding an "image catch" string is both ugly and causes the actual device to throw a warning in both the console and on the device.

![Screen Shot 2022-03-01 at 11 43 22 AM](https://user-images.githubusercontent.com/9423143/15

[2022-03-02 09:22] Snotax commented on #4677
I think I have the same problem. Placement only displayes correctly when I HotRefresh anything in the debugger but not initially.

[2022-03-03 14:43] newme616 commented on #4273
same problem

[2022-03-03 16:17] tankers746 commented on #4431
Can you try adding a `\\` in front of the `.svg` like so:
[code]
[code]

[2022-03-03 16:33] mwarger opened #4691 "Semantic HTML output for web"
### Description

Based on this discord issue and subsequent discussion:
https://discord.com/channels/785491682719301643/851763434436558858/948684137135476767

I would like for native-base elements on the web to output semantically correct HTML elements.

Example: <Button/> should output a <button> element on web.  Right now it outputs a div with a role of "button".

### Problem Statement

For web

[2022-03-03 18:39] zolon4 commented on #4677
Same here

[2022-03-03 20:02] goxr3plus commented on #4543
@jharteaga

This is the solution but i literally don't know why .... what this has to do with unique key ?

![image](https://user-images.githubusercontent.com/20374208/156643645-cf4c4aad-4e47-4a50-8dc1-feb385c1bdc0.png)

 So if i remove the custom dropdownIcon from the below code i will have that warning  . What kind of bug is this inside the library ?

![image](https://user-images.githubuserconte

[2022-03-03 20:08] taneba opened #4692 "ActionSheet doesn't handle onClose correctly when it's closed by swiping down"
### Description

Let's say you have a function handleClose which will be updated after initial rendering (e.g. it refers some state inside). And you pass it to onClose prop on Actionsheet and update some state. You close Actionsheet and expectation is it fires handleClose with the latest state. It works as expected when you close by tapping overlay, but if you close it by swiping DragIndicator, ha

[2022-03-04 11:58] nadun-ibits opened #4693 "If boolean is passed for the Radio button value, typescript is giving error."
### Description

I need to use Boolean values with a Radio button. But it gives type error.

### CodeSandbox/Snack link

https://codesandbox.io/s/serene-fermat-7smg5e?file=/src/components/Example.tsx

### Steps to reproduce

_No response_

### NativeBase Version

3.3.7

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Informat

[2022-03-04 15:22] zolon4 commented on #4666
Any updates here?

[2022-03-04 17:37] Great-hijack opened #4695 "Image overflowed with local file resource"
### Description

Image with remote URL works well with AspectRatio, but local file doesn't work as expected.

### CodeSandbox/Snack link

https://snack.expo.dev/@zhen-zhu/c06b86

### Steps to reproduce

1. Go to the snack link.
2. See the second image does not fit to 16/10 ratio.

### NativeBase Version

3.3.7

### Platform

- [x] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platfo

[2022-03-04 18:16] Great-hijack commented on #4695
I managed to make it works.
Just set size props to full.(really weird)

[2022-03-08 06:03] mayank-96 commented on #4693
Hello @nadun-ibits, `value` prop specifies the value associated with the input, as default behaviour its set type and return type needs to be `string`.

[2022-03-08 07:20] TVGSoft opened #4699 "AspectRatio on web doesn't responsive when resize browser"
### Description

AspectRatio on web doesn't responsive when resize browser

### CodeSandbox/Snack link

https://snack.expo.dev/@giaptran/274416

### Steps to reproduce

The width and height calculations were wrong.

[code]
Expected calculation should like below:

[code]

### NativeBase Version

3.3.7

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No re

[2022-03-08 11:14] surajahmed commented on #4681
@Wei102193 Thanks for reporting! We'll look into this.

[2022-03-08 15:56] jrdn91 opened #4706 "Typescript autocomplete not showing custom variants"
### Description

Declaring a custom type for typescript support is not showing autocomplete suggestions

### CodeSandbox/Snack link

https://snack.expo.dev/TxzqfrhF4

### Steps to reproduce

1. Setup the theme typings as described [here](https://docs.nativebase.io/typescript)
2. Attempt to use the new Button variant
3. Don't get an autocomplete suggestion for the new variants that have been added

[2022-03-08 19:30] ajaygupta1988 commented on #4681
I am having the same issue. I rewrote my entire react-native app with native-base because of its simplicity but when we did our final preproduction testing, the app is running very slow on android. For ios, it seems to be working fine maybe it is slower than pure react-native but the difference is not noticeable on ios.

[2022-03-09 06:06] amars29 commented on #4691
Hi @mwarger, we are currently providing the semantic tags for Input components as well as the Image component. We have created a [PR](https://github.com/GeekyAnts/NativeBase/pull/4684) for rendering Heading component  as heading (h1, h2, etc) tags. Talking about the button, the package that you have provided also doesn't support button and is pointing towards the React Native package for same. The

[2022-03-09 09:45] fatshotty commented on #4302
Hi @vasafix
did you try with a new render time table?
I upgraded nativebase to latest version ( 3.3.7 ) but _low-performance_ problem is still there

thanks in advance

[2022-03-09 13:05] qlereboursBS commented on #4302
My company and I also have performance issues
A simple test can be done like this:

[code]

It simply rerenders every 100ms. When importing Button and Text from NativeBase, there's a latence on the button (like a few seconds), but when importing from ReactNative, or other libs like MagnusUI, there's no (or a few ms) latence.
This is a stress test, but you will have the same issue with 1s rerender

[2022-03-09 15:17] rkritskiy commented on #3951
+1

[2022-03-09 15:19] kpbochenek opened #4720 "rightElement in Input requires 2 clicks to trigger onClick action"
### Description

When IconButton with onClick action is in Input rightElement section, it requires 2 clicks to trigger onClick action for this component

### CodeSandbox/Snack link

https://docs.nativebase.io/input#h3-password-input

### Steps to reproduce

1. go to 'https://docs.nativebase.io/input#h3-password-input'
2. Click on InputText area
3. Click on 'Show' button (nothing happens)
4. Click

[2022-03-10 04:52] vegerot12 commented on #1117
in case of nested scrollView should i enter this in inner or outer scroll view. The tap response should go to children of inner scrollView

[2022-03-10 06:29] surajahmed commented on #4692
Hi @taneba, you need to call `onClose` inside `handleClose` to close the Actionsheet.
[code]
This will fix the issue. If you still face any problems, let us know.

[2022-03-10 06:33] mayank-96 commented on #4720
Hello @kpbochenek, Thanks for reporting this issue, we'll fix it soon.

[2022-03-10 07:16] mayank-96 commented on #4677
Hello @TVGSoft, Thanks for reporting this issue, We'll fix it soon.

[2022-03-10 08:20] Gismo1337 opened #4722 "Slider component reacts strangely to input"
### Description

If you are try to slide the input mark from right to left or left to rigt, the mark react weird. The Userexperience is not acceptable.

### CodeSandbox/Snack link

https://codesandbox.io/s/wonderful-shockley-p8025b

### Steps to reproduce

 `import { Slider } from "native-base";`

[code]
3. Try component
4. See error

Bottom Slider is [MultiSlider @ptomasroos ](https://github.com/

[2022-03-10 10:44] mayank-96 commented on #4670
Hello @Southclaws, This issue has been fixed, and will be released in next version.

[2022-03-10 14:13] RobertDS07 commented on #4722
Using step={1} the experience is acceptable, considering that the step for input that user go to use is usually 1

![ezgif com-gif-maker](https://user-images.githubusercontent.com/63268954/157679265-b62f2403-7d6a-48a7-9661-4f7f15321af7.gif)

[2022-03-10 14:16] RobertDS07 commented on #4722
Using step={1} the experience is acceptable, considering that the step for input that user go to use is usually 1

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/63268954/157680210-34686bf8-d25c-4cea-a246-e7230f649b10.gif)

[2022-03-10 15:39] RobertDS07 commented on #4720
I tried to solve it, but I can't, in next some things that I can see with my try:

1. The problem is only in web
2. The problem occurs when the 'isFocused' state of 'Input' changes
3. The 'InputRightElement' is returned of a function 'usePropsResolution' and this component is returning a while times, I guess that problem can stay here, the component return when onBlur is called clicking in 'InputR

[2022-03-11 07:01] Gismo1337 commented on #4722
Thanks. the experience is much better. But first 'touch' after rerender goes nowhere. I stay at multislider until fix.

[2022-03-11 10:32] ankit-tailor commented on #4672
Hi @TVGSoft, You can use `flexDirection="row"` as well. Let us know if it works.

[2022-03-11 12:10] RobertDS07 commented on #4722
I was guessing it was a problem with my emulator, cool

[2022-03-11 15:12] Gismo1337 commented on #4722
I tested it live on my device. First click goes nowhere.

[2022-03-11 17:18] Drakeoon commented on #985
@MD-REHMAN I would also love this feature to be back, ideally a separate API to configure Toast root element.

Have you guys started working on it already? I would love to help or take care of that issue, so that we can have it back on our project 💪🏻

[2022-03-11 21:13] opiation opened #4728 "Children of `RadioGroup` not rerendered when changed"
### Description

Children provided to `RadioGroup` don't get rerendered even when they're different

### CodeSandbox/Snack link

https://snack.expo.dev/@nick.alleycorpnord/c10b41

### Steps to reproduce

1. Render some `children` under `<Radio.Group>`
2. Update the children from the `Radio.Group`'s parent component
3. The children are not rerendered even though they've changed

### NativeBase Vers

[2022-03-12 01:33] taneba commented on #4692
Hi, thank you for taking a look! @surajahmed
Yeah I need to call onClose, but it's not the problem I meant here (just forgot writing down onClose, sorry).
The problem is that state won't be changed if user close it by swiping down. Let's say if you update state after first rendering  and close the Actionsheet afterward, it should be logged with the updated state. It works as expected when it's clo

[2022-03-12 19:52] jvliwanag opened #4729 "Add support for aspectRatio as a utility prop"
### Description

Would be nice to set [aspectRatio](https://reactnative.dev/docs/layout-props#aspectratio) directly as a utility prop.

### Problem Statement

Currently, only way of setting aspectRatio is by adding it through the style prop.

### Proposed Solution or API

Add `aspectRatio` and possibly an `ar` shorthand prop.

### Alternatives

_No response_

### Additional Information

_No respon

[2022-03-14 05:11] yogesh-jgu commented on #4678
Any Update team on #4678?

[2022-03-14 06:44] midoalone commented on #4678
This issue because of react metro can't recognize the .mjs file, so a proper fix for this issue is to add .mjs files support to the metro.config.js

[code]

For me, this is the complete metro.config.js content

[code]

[2022-03-14 06:45] midoalone commented on #4671
check this [comment](https://github.com/GeekyAnts/NativeBase/issues/4678#issuecomment-1066434275)

[2022-03-14 07:59] Ahmed-Ibrahim-Anter opened #4730 "menu does not work"
### Description

menu component doesn't work

### CodeSandbox/Snack link

htt

### Steps to reproduce

started expo template
put formal code for menu
no error but didn't work

### NativeBase Version

3.3.1

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

the menu does not work for me I tried every way but the pre

[2022-03-15 02:31] enchorb commented on #4728
+1 Just spend 2 hours debugging why the `Radio` elements inside `Radio.Group` where not updating their `isInvalid` property. Hope to see a patch fix for this soon as it is critical for showing users updating form error states.

[2022-03-15 14:39] dashty94 opened #4743 "Dynamically disabling Radio does not work."
### Description

I am trying to dynamically disable a radio when I change the state but the attribute of the Radio does not update the component.

### CodeSandbox/Snack link

https://snack.expo.dev/@dashty/honest-toffee

[code]

### Steps to reproduce

_No response_

### NativeBase Version

3.3.7

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

[2022-03-16 03:46] vytch opened #4745 "Issue with using the dropdown with voiceOver on an IOS physical device."
### Description

When we enable voiceOver and we open the dropdown, we cannot swipe beyond a subset of the content in the background.

### CodeSandbox/Snack link

http://snack.expo.dev/

### Steps to reproduce

1. Clone the nativebase repo
2. yarn
3. Cd example
4. yarn
5. yarn ios
6. Download the expo client en the iphone and go to exp://192.168.1.5:19000
7. Enable voiceOver
8. Focus on the dropdo

[2022-03-16 11:46] nadun-ibits commented on #4693
Thank you @mayank-96  for the reply. Is there any way that we could  define the type of the value or declare the type boolean as well? Because we have to cast string to boolean each time when we use boolean.

[2022-03-16 14:43] pierroo commented on #593
Unfortunately after 2 monts live, I have to say that I will have to switch back to native component as well.
Which leads me to rewrite an entire app nearly from scratch in terms of frontend, potentially a month wasted of development.
Tried the latest 3.3.4 native-base version with hope, but unfortunately performance on android just are terrible.

[2022-03-16 14:46] pierroo commented on #4302
Unfortunately I also have to step in and confirm that as of today nativebase just isn't viable in production for android devices.
I am currently undergoing the process of rewriting my whole app (which is live and distributed to millions of users...) using simple react native component; what a bummer.

If there is any plan on improving performance for android I would love to hear about it.

[2022-03-16 15:24] pierroo commented on #4681
Is there any way to track the progress about performance?
Right now it is indeed crazy slow on android in production; I would love to see some follow up on this issue.

[2022-03-16 16:06] Wei102193 commented on #4681
Yes, you can use Profiler from React Native Debugger to check the render duration. As I said I rewrote one of my screen with only React Native, the render duration decreased from 180ms to 80ms. It was not even a complex screen. I think the more Native Base components you use, the slower you app will be, especially on Android.
https://docs.expo.dev/workflow/debugging/
https://www.youtube.com/watch?

[2022-03-16 16:25] pierroo commented on #4681
I'm sorry I should have clarified, by tracking I meant traking the progress of the native-base team on this issue.
@surajahmed

Your post was already very clear @Wei102193 and I confirmed I faced the same issue.

[2022-03-16 21:59] floustao opened #4755 "Allow centering the FAB component"
### Description

The [fab](https://docs.nativebase.io/fab) component only accepts the following values for its `placement` prop:
"top-right" | "top-left" | "bottom-right" | "bottom-left"

I  tried extending the `placementProps` doing something like:
```'top-center': { top: '50%', left: '50%', position: 'absolute', transform: 'translate(-50%, -50%)' },```
But it is not perfectly centered.

It would

[2022-03-16 22:20] janet-rivas opened #4756 "Trying o migrate accordion from V2.x and the documentation is not available"
### Description

Trying o migrate accordion from V2.x and the documentation is not available

### CodeSandbox/Snack link

Trying o migrate accordion from V2.x and the documentation is not available

### Steps to reproduce

1. Go to https://docs.nativebase.io/3.0.x/migration/accordion
2. See error 404

### NativeBase Version

3.3.1

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] N

[2022-03-16 23:27] tlenclos opened #4757 "Childrens in Stacks should be filtered to remove components returning null value."
### Description

Childrens in Stacks should be filtered to remove components returning null value.

### CodeSandbox/Snack link

https://snack.expo.dev/@thibz/stack-null-components

### Steps to reproduce

1. Use any stack
2. Render a null component
3. See spacing applied

### NativeBase Version

3.3.4

### Platform

- [X] Android
- [X] CRA
- [X] Expo
- [X] iOS
- [X] Next

### Other Platform

_No r

[2022-03-17 03:11] enchorb commented on #4660
Any ETA on when this is expected to be fixed?

[2022-03-17 10:42] aliexalter commented on #4429
Getting same error, is there any way to provide custom icon ?

[2022-03-17 12:16] mazino-dev commented on #4730
This wasted my whole in figuring out what was causing the freeze. It turned out to be Menu component, it was working fine earlier.

[2022-03-17 18:23] backtrackbaba opened #4763 "Showcase sites and apps made with NativeBase"
### Description

Currently, on the main site - nativebase.io, we have a link to ["MadeWithNativeBase"](https://madewithnativebase.com/) where 3 demo projects are listed.

Could we add more live projects which are in production made with NativeBase?

This would help in folks getting an idea of real-world implementation done with NativeBase

### Problem Statement

The problem statement here is to gi

[2022-03-17 21:28] CarlosHdez commented on #4266
I thinks some time at version 3.3.6 this got broken again, if you check the original snack, it works by changing the `native-base` version to `3.3.x` until 3.3.5, on patch 6 it add a scroll bar

[2022-03-18 06:46] mrkpatchaa commented on #4575
@surajahmed any update on this one?
Latest release still breaks when react-native-svg or react-native-safe-area-context is installed

[2022-03-18 08:03] mononoke-choi commented on #4298
![image](https://user-images.githubusercontent.com/44839313/158960411-84e73968-19bc-44a5-b014-2056cde1673f.png)

i've been using v3.2.1 since this issue happened
could you let me know how can i fix this?

[2022-03-18 21:52] CarlosHdez opened #4764 "Overriding breakpoints or adding new ones breaks useBreakpointsValue"
### Description

Adding custom breakpoints causes wrong results from the useBreakpointValue hook

### CodeSandbox/Snack link

https://snack.expo.dev/pir0Noo21

### Steps to reproduce

1. Open the provided snack
2. Make sure to open the web version on a separate window
3. Resize the window, specially to smaller sizes, around 400 px
4. There's a point where the column flex dir changes to row

### Na

[2022-03-19 03:57] exneval commented on #3952
Still no news from @Viraj-10

[2022-03-19 11:48] Thejeshwar-Reddy commented on #4660
Facing the same issue in 3.0.7 any ETA on this

[2022-03-20 03:53] masrurimz commented on #985
Could you provide example to customize native base modal, action sheet and other overlay component so, toast will be appeared on the top of it

[2022-03-20 16:12] OneHatRepo commented on #4538
Has this been fixed?

[2022-03-21 07:55] mcatal opened #4765 "Stagger using position absolute"
### Description

zIndex or another problem

### CodeSandbox/Snack link

...

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.3.7

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

Hi there,

When i want to use Strager in my screen with another

[2022-03-21 08:08] mcatal commented on #4765
I'm sorry, I'am find my own solution.

[2022-03-21 08:08] #4765 closed

[2022-03-21 08:58] ganesh-papola commented on #4339
is it fixed yet?? @surajahmed

[2022-03-21 16:16] ajaygupta1988 commented on #4681
Hi @surajahmed

Can you please update us on this issue? or at least have a little more clarity regarding its validity.

The application I am working on is near complete and we have to push it to production but if this issue is valid and we have to stop and recode everything again.

I hope you understand my problem. Thanks

[2022-03-21 16:37] mr-martins commented on #4730
Affected: 3.3.6, 3.3.7
I downgraded native base to 3.3.5

[2022-03-21 19:01] pierroo commented on #4681
Okay here is my update after rewriting most components in pure react native:
performance is day and night. It feels SO MUCH SMOOTHER without native-base, it's unbelievable.

HOWEVER, I am still using nativebase for a few specific components, for dark mode and a few extra stuff.
But, as soon as I have a list of many items/components, then right away I switch said components to react-native, and tha

[2022-03-21 19:43] clluiz commented on #3226
I'm still having this problem. Any new solution?

[2022-03-22 00:43] jrluizcarlos commented on #4273
As long as there is no solution.

I used SSRProvider and also:

import { LogBox } from 'react-native';
...
LogBox.ignoreLogs([
    'When rendering the server, you must wrap your app in a <SSRPrvider>',
]);
...

[2022-03-22 06:19] surajahmed commented on #4699
@TVGSoft Thanks for reporting! We'll look into this.

[2022-03-22 06:21] surajahmed commented on #4706
@jrdn91 Thanks for reporting! We will look into this.

[2022-03-22 06:23] surajahmed commented on #4729
@jvliwanag Thanks for the suggestion. We have added it to our list.

[2022-03-22 08:39] jimbo23 commented on #3296
facing the same issue

[2022-03-22 11:17] SikoraKam commented on #4660
Im experiencing this bug also in 3.3.6 which you mentioned as working

[2022-03-22 12:54] likeSo commented on #4421
Don't close plz. I am still waiting for macOS support for this library

[2022-03-22 13:37] n-harada opened #4770 "Components re-render when device rotates even if breakpoint does not change"
### Description

NativeBase components rerender unnecessarily

### CodeSandbox/Snack link

https://snack.expo.dev/@n_harada/nativebasebreakpointsexample

### Steps to reproduce

Open the snack on a device.
1. See a number having been incremented at regular intervals at the center of screen.
2. Rotate device.
3. You can see the count stops for several seconds.
(4. If you can put logger into your Na

[2022-03-22 13:42] ajaygupta1988 commented on #4681
@pierroo Thank you for sharing your solution. Seeing all the comments above, I assume this problem is actually valid.

I think fixing this issue should be on the top priority list of the native-base team @surajahmed. I personally loved the library and the approach but it's sad that we can't use it in production as-is for now.

I hope this issue will be resolved soon.

[2022-03-22 15:55] Wei102193 commented on #4302
I posted a similar issue on [This](https://github.com/GeekyAnts/NativeBase/issues/4681).
I believe the more React Native components you use the slower your app will be.
Native Base is great. But this is a big issue. Most people will get rid of Native Base from their code because of it. And it is too sad that they have to rewrite their project in pure react-native if their code heavily depends on i

[2022-03-22 18:14] zhumingcheng697 commented on #4720
I’m running into the same issue on web. I have tried a few different kinds of “buttons” and none of them is working 100% as expected. Some of them is even never responding to clicks at all. However, focusing the button using the tab key and pressing the enter key always fire `onPress`. Also, for all NativeBase components that support `isPressed` and `isFocused` props for render props or `_pressed`

[2022-03-22 18:38] jologz commented on #4273
For now, I have replaced `FormControl` with `Box` until there is a fix.

[2022-03-23 04:09] youniaogu commented on #4672
same issues，it worked for me

[2022-03-23 06:45] Viraj-10 commented on #4756
Hi @janet-rivas, use [This](https://docs.nativebase.io/migration/v3) link for V3 upgradation.

[2022-03-23 07:34] Viraj-10 commented on #4770
Hi @n-harada, Thanks for reporting this issue. We will look into it.

[2022-03-23 08:49] Lauwed commented on #4730
Had the same issue with 3.3.1... I updated to 3.3.7 and the issue is still there.

I downgrade to 3.3.5 and it works. Thanks @mr-martins

[2022-03-23 09:30] bobbyrinaldy commented on #4660
any update for this to be added on next release ?

[2022-03-23 10:51] chrisbianca commented on #4575
I have just submitted a PR (#4773) that addresses this issue

[2022-03-23 11:22] ENT108 opened #4775 "Box component doesn't read custom theme colors for borderColor"
### Description

Box component doesn't read custom theme colors for borderColor

### CodeSandbox/Snack link

none

### Steps to reproduce

Just implement box with borderColor attribute using custom theme color value.

![Screenshot 2022-03-23 at 12 19 20](https://user-images.githubusercontent.com/25681316/159688523-f00b176c-db3c-43f1-ab25-ba060c507905.png)

### NativeBase Version

3.3.7

### Platfo

[2022-03-23 14:07] mayank-96 commented on #4755
Hello @floustao, Thanks for reporting, we'll surely look into this feature.

[2022-03-23 23:31] Zackyist commented on #4429
I just got the same error with version 3.3.7:

[code]

I was able to use the workaround suggested by @OneHatRepo to fix it by adding the *dropdownIcon* prop and using a custom icon for all my *Select* elements:

[code]

(Probably should use a better key value though but this was a quick and dirty fix :smile:)

[2022-03-24 07:12] yuanyujiegit commented on #4730
@mr-martins  @Lauwed Thanks
My app got stuck. I checked it for a day and finally found that it was the munu problem

[2022-03-24 12:12] felix-lambert opened #4777 "Dashlane password manager showing in Input field for web"
### Description

The dashlane password manager autocomplete cannot be hidden.

### CodeSandbox/Snack link

https://snack.expo.dev/@flavien2/nativebase-template

### Steps to reproduce

1. Install dashlane extension
2. Log in to dashlane
3. Click on the Input field
4. You should see the password manager autocomplete

No way to hide it

### NativeBase Version

3.3.7

### Platform

- [ ] Android
- [

[2022-03-24 14:51] shobhitsinghal624 commented on #4653
Hi @ankit-tailor, I created a PR ( #4776 ) that fixes this issue. Let me know if it needs any changes.

[2022-03-24 15:12] arunim2405 commented on #4302
https://snack.expo.dev/H3aB8nOYG
The lag is still there and it is still significant.
I have discovered this issue right before pre-production testing and I have no idea how I am going to replace these many components.

[2022-03-24 17:21] Noga-arzuan commented on #3047
worked for me to

[2022-03-25 06:14] johnf commented on #4273
I think I've tracked down the issue here.
See NativeBaseProvider https://github.com/GeekyAnts/NativeBase/blob/master/src/core/NativeBaseProvider.tsx#L76-L105

[code]

the SSRProvider is mounted inside the ToasProvider.

However the OverlayViews for Modals, ActionSheets etc are mounted as siblings to the ToastProvider

![image](https://user-images.githubusercontent.com/42590/160064867-b1641de8-bcb0

[2022-03-25 06:33] danielvindax opened #4779 "Warning: Failed prop type: Invalid props.style key from _text props ("fontWeight") supplied to `Image`"
### Description

I'm facing this warning when using component Button with _text prop and leftIcon.

### CodeSandbox/Snack link

https://codesandbox.io/s/elated-platform-i4yf5s

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.3.4

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No re

[2022-03-25 10:07] sjonchhe commented on #4153
i am having the same issue with 3.2.2

[2022-03-25 10:52] ankit-tailor commented on #4653
Hey @shobhitsinghal624, Thanks for working on the issue, I'll look into your PR.

[2022-03-25 15:19] chintanbawa commented on #4730
thanks @mr-martins and @Lauwed. downgrade to 3.3.5 works for me as well.

[2022-03-25 23:35] barry-velasquez commented on #4665
Any more info on this one?

[2022-03-26 08:29] David-C-G-G commented on #4680
Hola buen dia, tarde o noche, la verdad e buscado bastante informacion sobre un problema al instalar
**npx react-native init bylo --template @native-base/react-native-template**
ya que me aparece lo siguiente (adjunto imagen):
![error](https://user-images.githubusercontent.com/70966114/160231443-963a7337-059f-4897-b06c-eeac47eed693.PNG)

[2022-03-26 16:09] astriskit opened #4781 "Custom components' variants"
### Description

First off, this library is nice; Thanks.

I'm unsure, if this is already built-in; Also couldn't find anything close-enough to it in the documentations so far.

It would be nice to be able to create variants of a custom-component that's based on NativeBase.io components. This might also require to support theming in custom-components as a side-effect.

### Problem Statement

A cus

[2022-03-26 19:42] calboru opened #4782 "fontFamily "Courier" is not a system font and has not been loaded through Font.loadAsync."
### Description

happens in IOS simulator

### CodeSandbox/Snack link

react-native expo template

### Steps to reproduce

1. expo init my-app --template @native-base/expo-template
2. yarn ios

### NativeBase Version

3.3.7 and also latest alpha

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

fontFamily "Courier

[2022-03-27 04:23] calboru opened #4783 "NativeBase: The contrast ratio of 1.9608066408453415:1 for primary.300 on rgba(0, 136, 204, 0.5) falls below the WCAG recommended absolute minimum contrast ratio of 3:1."
### Description

When using button with primary color && variant 'outline' onPress warning message at the terminal

### CodeSandbox/Snack link

react-native expo template

### Steps to reproduce

1. Use a button with primary color and variant 'outline'
2. Press it.
3. Observe warning message in the terminal.

### NativeBase Version

3.3.7

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS

[2022-03-27 14:30] CryptoDev4 commented on #4303
If you are working with a main component like App.js and you are using native-base components on all of your app elements, it is a good idea to put the NativeBaseProvider wrapper component at the App.js, if not you can put it on the specific component e.g HomeScreen.js.

[2022-03-28 14:22] jukialen commented on #4647
I have the same problem, but other communication:
`Found: react-native-safe-area-context@3.3.2
npm ERR! node_modules/react-native-safe-area-context
npm ERR!   react-native-safe-area-context@"3.3.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react-native-safe-area-context@"3.1.9" from native-base@3.3.7
npm ERR! node_modules/native-base
npm ERR!   native-base

[2022-03-28 14:47] jukialen opened #4796 "ERESOLVE unable to resolve dependency tree"
### Description

I'm getting communication

### CodeSandbox/Snack link

None. Problem with instalation

### Steps to reproduce

I created Expo project with template tabs. When I want to install I have :
`npm ERR!  code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: nameAndVersiionProject
npm ERR! Found: react-native-safe-area-context@3.3.2
npm ERR!

[2022-03-28 14:55] ENT108 commented on #4231
Button `baseStyle` is not taking `_disabled` props like `bg`. I am unable to style disabled button bg via `themeExtend`.

[2022-03-28 21:22] garrett-gottlieb opened #4797 "TS types are wrong for <FlatList _contentContainerStyle>"
### Description

_contentContainerStyle requires data and renderItem properties, when it should only require style props

### CodeSandbox/Snack link

none

### Steps to reproduce

[code]

[2022-03-28 21:23] garrett-gottlieb commented on #4797
Looks like there's a PR to fix it that hasn't been merged: https://github.com/GeekyAnts/NativeBase/pull/4642

[2022-03-29 08:16] Youngtao1999 commented on #4643
Any updates here? @mayank-96

[2022-03-29 14:39] mayank-96 commented on #4622
Hello @JaapWeijland, this issue has been fixed in the latest version release.

[2022-03-29 16:36] lc-superagent commented on #4390
Hi, I have the same problem on 3.3.7 version, any updates on the issue?

[2022-03-30 02:31] vytch commented on #4745
Hi

We have made an investigation.
It seems that the issue comes from the modal that actionSheet is using.
By using the modal from react native, it seems that it works a lot better on IOS with voiceover.

Here is the fork we have been working on:
https://github.com/GeekyAnts/NativeBase/compare/master...Unibrighter:tech-spike-nab-iOS-actionsheet

I hope it helps

[2022-03-30 04:49] JAy-Kundariya commented on #4730
Add just :- defaultIsOpen={false} in your native-base version:-3.3.7

[2022-03-30 06:56] mcatal commented on #4273
Hi, i'm upgrade to 3.3.8 and i get this error(warn) now. I'm using react-navigation, expo and native-base 3.3.8

[2022-03-30 07:19] mcatal opened #4823 "Slider in a Modal <SSRProvider>"
Hi, i'm upgrade to 3.3.8 and i get this error(warn) now. I'm using react-navigation, expo and native-base 3.3.8

"I am getting a bunch of errors when using a Slider in a Modal."

_Originally posted by @mcatal in https://github.com/GeekyAnts/NativeBase/issues/4273#issuecomment-1082698143_

[2022-03-30 07:37] surajahmed commented on #4823
@mcatal I'm going to roll back the changes. Thanks for reporting!

[2022-03-30 07:40] surajahmed commented on #4273
@johnf Thanks for working on this. We're going to make those changes in the coming release.

[2022-03-30 07:58] NqCompiler commented on #1783
I wanted to disable the ripple effect as well.
The provided link is no more available. You can use:
https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/radio.ts

What you have to do is set the defaultProps bg property for _interactionBox to "transparent". In my case I only had overwrite the Radio Component for the pseudo prop _pressed

[2022-03-30 08:22] ckswopnera commented on #3381
**_### For class component datetimepicker_**

class Productdetails extends Component {
                  constructor(props) {
                    super();
                this.state = {
            rentStartDate: new Date(),
                      startDate: "",
                      endDate: "",
                      mode: false,}
        this.onChangeStart = this.onChangeStart.bind(this);

[2022-03-30 08:42] Minisaints commented on #4543
Hey guys,

Any update on this? Also experiencing the key prop warning.

Thanks!

[2022-03-30 08:52] surajahmed commented on #4797
@garrett-gottlieb Thanks for working on this. We've fixed this issue in version `3.3.9`.

[2022-03-30 08:52] #4797 closed

[2022-03-30 08:53] surajahmed commented on #4673
@Vercjames This issue has been resolved in version `3.3.9`.

[2022-03-30 08:53] #4673 closed

[2022-03-30 16:24] aplokultran opened #4839 "Unable to set a Specific color on the colorscheme"
### Description

While I was trying to use the colorScheme, I found that it take a random color value and append after the specified color.

### CodeSandbox/Snack link

https://snack.expo.dev/4dtqE2l11

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.3.7

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

[2022-03-30 18:48] garrett-gottlieb opened #4842 "Dragging horizontal Slider doesn't prevent pan from going through to React Navigation modal (and swiping page vertically)"
### Description

Dragging the `<Slider.Thumb>` doesn't capture the touch move and it bubbles up to the parent screen. When this is a modal, it starts moving because modals can be dragged down to close, and then it also cancels the slider thumb panning.

### CodeSandbox/Snack link

none

### Steps to reproduce

React Navigation setup:
[code]
NowPlayingScreen:
[code]
All the commented parts were tes

[2022-03-30 21:03] mschez opened #4843 "TextArea _focus props are not working"
### Description

TextArea _focus props are not working

### CodeSandbox/Snack link

https://snack.expo.dev/5a0244otc

### Steps to reproduce

1. Click on the Input, the borderColor will be overwritten as expected
2. Click on TextArea, the borderColor on _focus is ignored

### NativeBase Version

3.3.10

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No

[2022-03-31 07:55] chrisbianca commented on #4783
The same is true when pressing the default themes' secondary outline buttons too:
[code]

I don't know whether it would be possible to ignore this warning for `onPress` transitions where I don't believe the recommended contrast ratio applies?

[2022-03-31 11:59] grean opened #4856 "Popover lets interact"
### Description

Popover lets interact with UI outside/behind of it without closing

### Problem Statement

I need to scroll when the popover is open, because i use it with an input inside with focus on it. But when the popover shows the keyboard shows up too and if the popover is on the bottom, i can't the input.
It will be good to interact with other element when opened too. For now it's a modal

[2022-03-31 12:24] mayank-96 commented on #4843
Hello @mschez, Thanks for reporting this issue, we have fixed it and will be released in the upcoming version release.

[2022-03-31 13:54] ENT108 commented on #3811
It works only for iOS, Android doesn't respect `fontWeight` prop. Please re-open.

[2022-03-31 14:28] mschez commented on #4843
That's amazing, thanks to you!

[2022-03-31 18:59] ThelmaAndrews opened #4857 ""Popover.CloseButton doesn't close when pressed on android""
### Description

When you try to close the close button inside the popover it does not close.

### CodeSandbox/Snack link

https://snack.expo.dev/?files=%7B%22App.tsx%22%3A%7B%22type%22%3A%22CODE%22%2C%22contents%22%3A%22import%20React%20from%20%27react%27%3B%5Cnimport%20%7B%20Popover%2C%20Button%2C%20Box%2C%20Center%2C%20NativeBaseProvider%20%7D%20from%20%27native-base%27%3B%5Cn%5Cnfunction%20Exa

[2022-04-01 05:25] surajahmed commented on #4743
@dashty94 Thanks for reporting! We've fixed the issue in pre-release `3.4.0-rc.1`. Hope to release `3.4.0` soon.

[2022-04-01 05:48] ksi9302 commented on #4176
Hi, I'm using NativeBase 3.3.4 I'm still facing big performance issue with select component.
When I select the item on the action sheet, it seems like it waits till all the triggered actions are complete and the relevant components are ready to be rendered.
In other words, it feels asynchronous.

[2022-04-01 15:54] newme616 commented on #4265
yes I have the same issue

[2022-04-01 18:07] dylan-westbury commented on #4399
Hi @MD-REHMAN ,

I have a snack of the issue.

When using onChangeText and / or value, this is when the input automatically unfocuses after each keypress.

https://snack.expo.dev/@apptractive/factory-rn-textinput-broken

[2022-04-02 10:27] dev-abir opened #4862 "Bug in TODO app example"
### Description

The example app https://docs.nativebase.io/todo-list has a bug.

### CodeSandbox/Snack link

https://docs.nativebase.io/todo-list

### Steps to reproduce

1. Go to https://docs.nativebase.io/todo-list
2. Add some TODOs (about 3-4).
3. Click on the checkbox beside a newly created TODO (don't select the last TODO).
4. All TODOs below the checked TODO disappears.

### NativeBase Vers

[2022-04-02 14:27] IHIutch commented on #4581
Bumping this as I don't think it should auto close

[2022-04-03 01:13] johnf opened #4863 "Cannot use required images with Avatar"
### Description

Avatar no longer supports required images

### CodeSandbox/Snack link

https://snack.expo.dev/yZSTh2TeX

### Steps to reproduce

1. See snack above the first Avatar doesn't have an image

### NativeBase Version

3.3.10

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

This was broken by #4723 as i

[2022-04-03 15:54] #3661 closed

[2022-04-03 15:54] #2925 closed

[2022-04-03 15:54] #3706 closed

[2022-04-03 15:54] #3597 closed

[2022-04-03 15:54] #3719 closed

[2022-04-03 15:54] #3479 closed

[2022-04-03 15:54] #3483 closed

[2022-04-03 15:54] #3675 closed

[2022-04-03 15:54] #3587 closed

[2022-04-03 15:54] #3264 closed

[2022-04-03 15:54] #3334 closed

[2022-04-03 15:54] #3348 closed

[2022-04-03 15:54] #3760 closed

[2022-04-03 15:54] #3105 closed

[2022-04-03 15:54] #3574 closed

[2022-04-03 15:54] #3429 closed

[2022-04-03 15:54] #3714 closed

[2022-04-03 15:54] #3847 closed

[2022-04-03 15:54] #3376 closed

[2022-04-03 15:54] #3900 closed

[2022-04-03 15:54] #3275 closed

[2022-04-03 15:54] #3725 closed

[2022-04-03 15:54] #3926 closed

[2022-04-03 15:54] #2966 closed

[2022-04-03 15:54] #3281 closed

[2022-04-03 15:54] #3986 closed

[2022-04-03 16:43] darrylyoung commented on #3915
Has there been any progress or further discussion? If not, maybe we should leave this open.

[2022-04-03 18:07] ezze commented on #4444
Is it really fixed?

[2022-04-03 21:37] burlesquel commented on #1117
thank you so much, you've saved my life

[2022-04-04 01:13] joseoct commented on #4480
Any updates ?

[2022-04-04 05:48] mayank-96 commented on #4863
Hello @johnf, Thanks for reporting this issue, we'll fix it soon.

[2022-04-04 06:44] Rajshreesingh commented on #4796
I am getting this error at the time of native base installation
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: userApi@0.0.1
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"17.0.2" from the root project
npm ERR!   peer react@"*" from native-base@3.3.7
npm ERR!   node_modules/native-base
npm ERR!     native-ba

[2022-04-04 07:06] hawekotte opened #4864 "Select ActionSheet within React-Navigation v6 modal is behind modal"
### Description

When using a modal screen in react-navigation v6, the select actionsheet on iOS is behind the modal page.

### CodeSandbox/Snack link

https://snack.expo.dev/@keenan_nsg/native-base-select-actionsheet-behind-ios-modal

### Steps to reproduce

See the attached snack

### NativeBase Version

3.3.10

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Pla

[2022-04-04 14:46] SikoraKam commented on #4862
https://github.com/GeekyAnts/NativeBase/issues/4660

[2022-04-05 06:13] surajahmed commented on #4757
@tlenclos This issue has been fixed. We're preparing a new release `3.4.0`. Thanks for reporting!

[2022-04-05 06:14] surajahmed commented on #4764
@CarlosHdez Thanks for reporting! We'll look into this.

[2022-04-05 06:22] AshwiniKumar007 commented on #4763
Yes, you can add your nativebase projects there. Just click on Submit project and you will be able to add your project

[2022-04-05 06:49] Viraj-10 commented on #4176
Hi @ksi9302, Can you share small code and environment details.

[2022-04-06 14:27] muhammadfaizan commented on #3258
I am still facing this issue: when trying to run test.

[2022-04-06 16:29] Southclaws opened #4885 "initialColorMode does nothing"
### Description

initialColorMode does nothing

### CodeSandbox/Snack link

https://snack.expo.dev/8XbcA6ARQ

### Steps to reproduce

https://snack.expo.dev/8XbcA6ARQ

The snack template doesn't compile for some reason, but the repro is super simple, just copy from the docs https://docs.nativebase.io/next/color-mode#h2-default-color-mode3

[code]

### NativeBase Version

3.3.7

### Platform

- [ ]

[2022-04-06 17:58] #4170 closed

[2022-04-06 17:58] #3290 closed

[2022-04-06 17:58] #3288 closed

[2022-04-06 17:58] #3084 closed

[2022-04-06 17:58] #3282 closed

[2022-04-06 17:58] #3292 closed

[2022-04-06 17:58] #3306 closed

[2022-04-06 17:58] #3125 closed

[2022-04-06 17:58] #3262 closed

[2022-04-06 17:58] #2882 closed

[2022-04-06 17:58] #3320 closed

[2022-04-06 17:58] #3043 closed

[2022-04-06 17:58] #2714 closed

[2022-04-06 17:58] #910 closed

[2022-04-06 17:58] #3323 closed

[2022-04-06 17:58] #2301 closed

[2022-04-06 17:58] #3266 closed

[2022-04-06 17:58] #3202 closed

[2022-04-06 17:58] #3272 closed

[2022-04-06 17:58] #3083 closed

[2022-04-06 17:58] #3148 closed

[2022-04-06 17:58] #3140 closed

[2022-04-06 17:58] #3102 closed

[2022-04-06 19:32] Angelk90 commented on #1501
Are there any news?

[2022-04-06 21:12] johnf commented on #4273
@surajahmed #4824  hasn't fixed this issue. (Not sure if it was intended to).

I think to fix it properly the SSRProvider needs to be moved further up the JSX Element hierarchy. or the Modals need to be attached lower down.

Also for testing purposes, this mainly seems to affect iOS for me, I suspect that is due to the different implementations in Overlay https://github.com/GeekyAnts/NativeBase/bl

[2022-04-07 03:43] vishnuc opened #4886 "FadeIn background for Select not working in android"
### Description

FadeIn background for Select not working in android

### CodeSandbox/Snack link

https://snack.expo.dev/GL2OpdsK9

### Steps to reproduce

1.Run the example in android device using expo

### NativeBase Version

3.3.x

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

HI , select box backdrop is fad

[2022-04-07 05:29] surajahmed commented on #4775
@ENT108 Thanks for reporting! We'll add the typing in the coming release.

[2022-04-07 05:39] surajahmed commented on #4775
@ENT108 Can you please have look at this documentation for typing custom theme https://docs.nativebase.io/typescript?

[2022-04-07 09:20] #4670 closed

[2022-04-07 10:38] mayank-96 commented on #4863
Hello @johnf, you can try the following syntax to get it working.
[code]

[2022-04-07 10:44] jigneshkapdiya commented on #4660
![image](https://user-images.githubusercontent.com/8413866/162181496-c40e89f2-54a9-4d39-b371-4d6d1dd7220e.png)
![image](https://user-images.githubusercontent.com/8413866/162181748-9b7dce98-eaa7-4c91-85b4-7131727956e8.png)

Each time I check a new item, onChange returns wrong values

used Version 3.3.10

[2022-04-07 11:04] AoufiAbderahmaneLD commented on #4390
same

[2022-04-07 11:43] enchorb commented on #4660
Any update on when this regression will be fixed...blocking production releases.

[2022-04-07 15:05] prometheas commented on #3274
Stale bot closed this issue again. How'd it this effort turn out?

Full disclosure: I'm asking in part because my team and I are at a juncture where we'll either wind up upgrading from 2.x to 3.x or drop NativeBase altogether from our project.

[2022-04-07 20:51] johnf commented on #4863
@mayank-96 that doesn't work for me. I get an error about casting URI from Double to String.

[2022-04-07 23:05] victor-teles opened #4892 "button disabled not working"
### Description

disabled prop don't change button appearence

### CodeSandbox/Snack link

https://snack.expo.dev/@victor.teles/78717d

### Steps to reproduce

_No response_

### NativeBase Version

3.3.10

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-04-08 04:48] mayank-96 commented on #4892
Hello @victor-teles, we don't have `disabled` as a prop, instead we use `isDisabled`. You can try the following code
[code]

[2022-04-08 05:33] #3017 closed

[2022-04-08 05:33] #2890 closed

[2022-04-08 05:33] #2984 closed

[2022-04-08 05:33] #3219 closed

[2022-04-08 05:33] #3284 closed

[2022-04-08 05:33] #2854 closed

[2022-04-08 05:33] #2988 closed

[2022-04-08 05:33] #2970 closed

[2022-04-08 05:33] #2989 closed

[2022-04-08 05:33] #3333 closed

[2022-04-08 05:33] #2857 closed

[2022-04-08 05:33] #3050 closed

[2022-04-08 05:33] #3271 closed

[2022-04-08 05:33] #2926 closed

[2022-04-08 05:33] #3152 closed

[2022-04-08 05:33] #38 closed

[2022-04-08 05:33] #3000 closed

[2022-04-08 05:33] #2737 closed

[2022-04-08 05:33] #3168 closed

[2022-04-08 05:33] #3172 closed

[2022-04-08 05:33] #1543 closed

[2022-04-08 05:34] #1536 closed

[2022-04-08 05:34] #2425 closed

[2022-04-08 05:34] #3150 closed

[2022-04-08 05:34] #3062 closed

[2022-04-08 05:34] #2923 closed

[2022-04-08 05:34] #3069 closed

[2022-04-08 05:34] #3099 closed

[2022-04-08 05:34] #3085 closed

[2022-04-08 05:34] #3087 closed

[2022-04-08 11:04] RubenPM-dev commented on #4730
Same issue here, any updates on this?

[2022-04-08 11:11] surajahmed commented on #4730
This issue has been resolved in version `3.3.11`. Thanks for reporting. Going to close this issue. If you face any problems, please feel free to reopen.

[2022-04-08 11:11] #4730 closed

[2022-04-08 11:12] surajahmed commented on #4677
This issue is fixed in version `3.3.11`. Thanks for reporting

[2022-04-08 11:12] #4677 closed

[2022-04-08 11:13] surajahmed commented on #4666
This issue has been fixed in verison `3.3.11`. Thanks for reporting!

[2022-04-08 11:13] #4666 closed

[2022-04-08 11:26] RubenPM-dev commented on #4730
Thanks @surajahmed, I've just updated to 3.3.11, rebuilt my app but the issue is still there on Android (I didn't have an issue with iOS before neither), the whole application gets frozen and I'm getting this error on the console:

`When server rendering, you must wrap your application in an <SSRProvider> to ensure consistent ids are generated between the client and server.
Menu@http://localhost:8

[2022-04-08 12:25] surajahmed commented on #4839
Hi @youngoalchemisto, We don't have the feature to set a specific color to colorScheme. However, we can pass our default/extended theme color to colorScheme.
[code]
You can have a look at the default colors listed on https://docs.nativebase.io/default-theme#h2-colors.

We've added your request to our list for specific color to colorScheme. Thanks!

[2022-04-08 12:25] om3 commented on #4660
Hi, I have the same bug... Checkbox aren't marked in multiples.

[2022-04-08 12:34] Viraj-10 commented on #4660
Hi everyone, Thanks for your active participation. We are looking into this issue. for unknown reasons, this issue is coming into production. bear with us while we solve this bug.
PS:- CheckBox Group is working in `V3.3.6`.

[2022-04-08 13:48] Looooong opened #4903 "Icon size is not compliant to strict mode"
### Description

Strict Mode complaints when icon size is a text string token (xs, sm, md...) but not when it is a number string token (1, 2, 4...)

### CodeSandbox/Snack link

https://snack.expo.dev/6NDbjXDAT

### Steps to reproduce

1. Go to Snack link
2. Check logs

### NativeBase Version

3.2.2

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No resp

[2022-04-08 14:19] janet-rivas commented on #4796
Same issue, I was following the getting started documentation but it does not work - [1. Setting up your project](https://nativebase.io/blogs/using-nativebase-v3-the-right-way#835f34b9be7641d3bc524a6438713636 )
`npx react-native init MyApp --template @native-base/react-native-template  `
does not work neither using react native
✖ Installing dependencies
error Error: Command failed: npm install
npm

[2022-04-08 15:04] draggie commented on #4660
In our case it was true some time ago, but since ~2 weeks this version is broken as well, therefore it might be some 3rd party dependency that has changed. Even building app in completely cleared env with directly set **3.3.6** it still presents the same behaviour

[2022-04-08 20:36] #2769 closed

[2022-04-08 20:37] #3366 closed

[2022-04-08 20:37] #3289 closed

[2022-04-08 20:37] #3389 closed

[2022-04-08 20:37] #3285 closed

[2022-04-08 20:37] #1411 closed

[2022-04-08 20:37] #3298 closed

[2022-04-08 20:37] #3291 closed

[2022-04-08 20:37] #3472 closed

[2022-04-08 20:37] #3469 closed

[2022-04-08 20:37] #3405 closed

[2022-04-08 20:37] #3109 closed

[2022-04-08 20:37] #3206 closed

[2022-04-08 20:37] #3511 closed

[2022-04-08 20:37] #3504 closed

[2022-04-08 20:37] #3505 closed

[2022-04-08 20:37] #3518 closed

[2022-04-08 20:37] #3438 closed

[2022-04-08 20:37] #3536 closed

[2022-04-08 20:37] #3541 closed

[2022-04-08 20:37] #3559 closed

[2022-04-08 20:37] #3608 closed

[2022-04-08 20:37] #3638 closed

[2022-04-08 20:37] #3642 closed

[2022-04-08 20:37] #1231 closed

[2022-04-08 20:37] #3652 closed

[2022-04-08 20:37] #3086 closed

[2022-04-08 20:37] #3231 closed

[2022-04-08 20:37] #3649 closed

[2022-04-08 20:37] #3372 closed

[2022-04-09 00:37] Looooong commented on #4730
I'm using version `3.3.11`, and still have this freezing problem. Setting `defaultIsOpen={false}` solved it.

[2022-04-09 01:40] johnf commented on #4863
This has been fixed by changes in v3.3.11
Thanks!

[2022-04-09 01:40] #4863 closed

[2022-04-09 06:27] #4275 closed

[2022-04-09 06:27] #2718 closed

[2022-04-09 06:27] #3428 closed

[2022-04-09 06:27] #3666 closed

[2022-04-09 06:27] #3705 closed

[2022-04-09 06:27] #3671 closed

[2022-04-09 06:27] #4042 closed

[2022-04-09 06:27] #2942 closed

[2022-04-09 06:27] #3393 closed

[2022-04-09 06:27] #3435 closed

[2022-04-09 06:27] #4006 closed

[2022-04-09 06:27] #4185 closed

[2022-04-09 06:27] #3315 closed

[2022-04-09 06:27] #3358 closed

[2022-04-09 06:27] #4255 closed

[2022-04-09 06:27] #3183 closed

[2022-04-09 06:27] #4257 closed

[2022-04-09 06:27] #4285 closed

[2022-04-09 06:27] #4259 closed

[2022-04-09 06:27] #4301 closed

[2022-04-09 06:27] #4028 closed

[2022-04-09 06:27] #4287 closed

[2022-04-09 06:27] #4253 closed

[2022-04-09 06:27] #4326 closed

[2022-04-09 06:27] #4338 closed

[2022-04-09 06:27] #4353 closed

[2022-04-09 06:27] #4334 closed

[2022-04-09 06:27] #4341 closed

[2022-04-09 08:12] pk936 opened #4905 "Status Bar does not hide in modal."
### Description

The status bar is hidden. But when I open modal, the status bar appears again.

### CodeSandbox/Snack link

https://snack.expo.dev/@pk936/moody-toffee

### Steps to reproduce

1. Click on button to see modal.
2. The status bar appears, although it has hidden property set

### NativeBase Version

3.3.10

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Oth

[2022-04-09 11:21] jigneshkapdiya commented on #4730
this work for in v 3.3.11

[2022-04-10 01:08] victor-teles commented on #4892
@mayank-96 thank you for the answer!

But the prop "disabled" works as well, right ?

I'm facing some unexpected behaviors because of that

[2022-04-10 15:30] moseslucas commented on #3433
I hope the team at native base continue support for nativebase v2 and fix this issue. There are still many apps out there that uses v2

[2022-04-11 09:31] ricohumme commented on #4660
I noticed that when I created a snack example, the code is working as expected, but when running it in my own environment (with 3.3.6) it's not working and behaving like 3.3.7.
I did the following to achieve the expected result for using 3.3.6:
[code]
Seeing my yarn.lock file after that, tells me 3.3.6 is installed. however, the effect it is showing me isn't

[2022-04-11 12:28] Viraj-10 commented on #4660
Hi Everone, Thanks for being patient. This issue has been resolved in the latest version of NativeBase `V3.3.12`.

[2022-04-11 12:28] #4660 closed

[2022-04-11 13:23] ricohumme commented on #4660
Like a charm. Thanks !

[2022-04-11 14:56] tankers746 commented on #4302
After doing some profiling the issue seems to lie with with this function which is called in every component
https://github.com/GeekyAnts/NativeBase/blob/74274d3b6bbaa49cf3731afb58027c4f8d5c22bb/src/hooks/useThemeProps/usePropsResolution.tsx#L193

Ideally this could be refactored to reduce the new object allocation.

[2022-04-11 19:26] DavidAmyot commented on #4617
@surajahmed Had the same issue on android, for now just setting `useRNModalOnAndroid = true` in the Overlay.tsx component fixed the issue for me.

[2022-04-11 21:02] phoenixbeats01 commented on #4303
I'm getting this error when running jest tests.

![error](https://i.ibb.co/W2GBSsQ/error.jpg)

[2022-04-11 21:08] phoenixbeats01 commented on #4303
I managed to solve that error by wrapping the actual component I was testing in ```<NativeBaseProvider>```

const tree = renderer.create(<NativeBaseProvider> </NativeBaseProvider>).toJSON()

[2022-04-11 22:43] #3121 closed

[2022-04-12 01:49] SupriyaPKalghatgi opened #4917 "Set initial value for radio using setState and ref"
### Description

Set the radio button with an initial value received. I am checking the received value and doing setState `defaultValue` for `Radio.Group`. Since setState will not render this change immediately, I am trying to update this change on UI with `useRef`. I found issue while defining `ref` for Radio

### CodeSandbox/Snack link

https://snack.expo.dev/@supriya_kalghatgi/radio-ref

### St

[2022-04-12 13:02] shivamkawde18 commented on #4755
i have created PR for this feature

[2022-04-12 14:45] mkurczewski commented on #4431
The above solutions works for me. Here's a function that you can apply to your custom library generator:

[code]

[2022-04-12 18:37] s0rta commented on #4345
This isn't a real solution to the bug. I am getting the same response for black text on a white background in an input. What's really funny is that if the background is not set (transparent) the warning does not fire. I suggest removing 'transparent' from your wcag check, because that doesn't make any sense and is probably leading to problems elsewhere.

[2022-04-12 18:54] mcatal commented on #4864
Hi,

Same problem

 "native-base": "^3.4.1",
"@react-navigation/bottom-tabs": "^6.3.1",
"@react-navigation/drawer": "^6.4.1",
"@react-navigation/native": "^6.0.10",
"@react-navigation/native-stack": "^6.6.1",
"@react-navigation/stack": "^6.2.1",
"expo": "~44.0.4",
"react-native": "0.64.3",
.
.
.

[2022-04-13 05:07] abhishekdewan101 opened #4922 "Changes aren't being reflected when using expo template."
### Description

When creating the app using the expo cli and the native-base template as provided by https://docs.nativebase.io/install-expo, making a change and saving the file doesn't immediately get reflected onto the screen. It takes sometimes two or three reloads to reflect the changes on the device.

### CodeSandbox/Snack link

NA

### Steps to reproduce

1. run `expo init my-app --template

[2022-04-13 05:17] abhishekdewan101 commented on #4922
I did some more checking and creating the app using CRA and the NativeBase template doesn't have the same issue.

[2022-04-13 05:57] mcatal commented on #4153
still same 3.4.1

[2022-04-13 06:25] mcatal opened #4923 "Can I use disableOverlay or closeOnOverlayClick props in Select"
### Description

Can I use disableOverlay or closeOnOverlayClick props in Select

### CodeSandbox/Snack link

...

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.1

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

[code]

* First problem i

[2022-04-13 06:26] burzacoding commented on #4599
It's happening to me as well, if you try to render a toast on a useEffect it will lag the app a lot

[2022-04-13 06:39] Viraj-10 commented on #4599
Hi @burzacoding, We have rewritten `Toast` in the latest version of native-base `V3.4`. let us know if you still face this issue please add the following details.

- Node Version.
- environment used to build an app ( Expo/ RCL/CRA).
- Platform (Android/IOS/Web).
- small snack example of your code.

PS:- We have deprecated some of the features of Toast in V3.4 and added them into Recipe.

[2022-04-13 08:15] surajahmed commented on #4273
@johnf We've found the issue. We're using `react-aria` for accessibility. Which throws an error in the native platform. We're working on it.

[2022-04-13 09:03] surajahmed commented on #4617
@DavidAmyot We'll make this change. Thanks a lot!

[2022-04-13 09:15] surajahmed commented on #4730
@RubenPM-dev We're working on the SSRProvider warning issue.

[2022-04-13 09:16] surajahmed commented on #4480
@arunim2405 @joseoct We're working on this feature. Hope to add this in the coming release.

[2022-04-13 09:19] surajahmed commented on #4339
Tabs, Table, and Typeahead components are still a work in progress. We'll try to add support for these in the coming release.

[2022-04-13 09:20] surajahmed commented on #4474
Tabs, Table, and Typeahead components are still a work in progress. We'll try to add support for these in the coming release.

[2022-04-13 09:24] surajahmed commented on #4692
Hi @taneba, Can you please try the latest version `3.4.1`?
I'll try to reproduce this and let you know the status. Thanks!

[2022-04-13 09:28] surajahmed commented on #4575
@trajano We've removed hardcoded peer dependencies. However, as @mrkpatchaa mentioned, there are some problems with the latest versions of `react-native-svg` and `react-native-safe-area-context`. We'll try to find some workaround and fix this in the coming release.

[2022-04-13 09:39] rayan1810 commented on #4302
Hey folks, performance is on the top of our priority list right now, we wanted to stabilize a few things before jumping on this ship hence the delay, but be assured NativeBase will have the performance issues sorted in the upcoming weeks.

[2022-04-13 11:18] MathisBarre opened #4924 "Algolia documentation search is showing indistinguishable result"
### Description

![Capture d’écran 2022-04-13 à 13 10 17](https://user-images.githubusercontent.com/33762559/163168439-965d4204-16ff-44fa-aace-94f7bca0d32f.png)

When I search somethin, a lot of response shows up. But there all seems to be the same response.
I think there is a way to add a clue to differentiate the results.

### Problem Statement

Improve documentation search quality.

### Propo

[2022-04-13 20:35] seeden commented on #4302
Benchmark: https://tamagui.dev/docs/intro/benchmarks

[2022-04-13 21:34] exneval opened #4927 "Toast with status"
### Description

No longer work as it is used to be

### CodeSandbox/Snack link

https://snack.expo.dev/@exneval/native-base-toast-status

### Steps to reproduce

[Check docs](https://docs.nativebase.io/toast#h3-status--variant-recipes)

### NativeBase Version

3.4.1

### Platform

- [X] Android
- [X] CRA
- [X] Expo
- [X] iOS
- [X] Next

### Other Platform

_No response_

### Additional Informatio

[2022-04-13 21:49] exneval commented on #4927
It seems toast with status and variants is no longer supported and needs to use a custom component (Alert) instead.
That's how it's written in the storybook.
Didn't see that in any patch notes

[2022-04-14 04:27] thirteenthstep commented on #4302
Those benchmarks are actually quite shocking. I can confirm performance problems when navigating to new screens, where users experience a significant delay while the new screen is being rendered.

[2022-04-14 05:42] rayan1810 commented on #4302
The [tamagui](https://tamagui.dev/docs/intro/benchmarks) benchmark results are quite old, If I remember correctly these results were out when NativeBase v3 was initially released. But since then it has already improved significantly but yeah much more work is needed and we are already on it ✊ .

[2022-04-14 05:44] abhishekdewan101 commented on #4922
Video of reproduction [here](https://drive.google.com/file/d/1Awg1LLb5YNxhGbzpM889Ejko39L_4uc6/view?usp=sharing)

[2022-04-14 07:26] amonlibanio opened #4928 "Actionsheet reference returns undefined"
### Description

Should return the Actionsheet reference object

### CodeSandbox/Snack link

https://codesandbox.io/s/sweet-phoebe-cw99sk?file=/src/components/Example.tsx

### Steps to reproduce

**ActionSheet current return undefined**
Should return the Actionsheet reference object
[code]

### NativeBase Version

3.4.1

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Ot

[2022-04-14 08:29] taneba commented on #4692
@surajahmed
Thanks for instruction, but the issue remains in 3.4.1 as well, and it cannot even be closed by tapping on the overlay any more after upgraded to 3.4.1.
Btw some other issues popped up in v3.4.1, but these are not relevant to this issue so I'll looking for issues and create if it's not reported yet.

[2022-04-14 11:10] mmfire118 opened #4930 "Startup issues reported on Discord, not solved for a month"
### Description

Multiple Problems with NativeBase and Startup+

### Steps to reproduce

I have been using Startup+ for a while now. My app is 80% done. I have reported several critical issues for launch a while back on Discord, email, and other channels.

- Startup+ Screens don't scroll on Android, no interaction is possible.
- Startup+ Project Updated to 3.4, Select is Broken
- Mixing Select and

[2022-04-14 11:25] mmfire118 commented on #4930
Here are a few of the many videos I have shared on Discord: [https://drive.google.com/drive/folders/1rrRTOBft8c6v3yGp2nyTSuPdy4kCdAYL?usp=sharing](https://drive.google.com/drive/folders/1rrRTOBft8c6v3yGp2nyTSuPdy4kCdAYL?usp=sharing)

[2022-04-14 11:35] mmfire118 commented on #4930
Here are a few of the links that I have shared that seem related to my issues:

- [](https://github.com/facebook/react-native/issues/28525)
- [](https://github.com/expo/expo/issues/10815#issuecomment-719116736)
- [](https://github.com/expo/expo/issues/10815#issuecomment-719113200)

The scrolling in mixed forms issue is the most critical. There seems to be two main issues. One is occasionally cover

[2022-04-14 12:42] gauravguha commented on #4930
Hello @mmfire118! Sorry for the inconvenience. We are looking into these issues as a top priority. Thanks for sharing the Github repo. This will help us debug. Rest assured we will make your app work :)

[2022-04-14 14:19] surajahmed commented on #4777
@felix-lambert We'll look into this. Thanks for reporting!

[2022-04-14 14:22] surajahmed commented on #4779
Hi @danielvindax Can you please try the latest version `3.4.0` or later?
Let us know if you still face this issue. Thanks for reporting!

[2022-04-14 14:28] surajahmed commented on #4782
@calboru Thanks for reporting this! `Code` component is still a work in progress. We'll try to fix this in the coming release.

[2022-04-14 14:30] surajahmed commented on #4856
@grean Thanks for reporting this. We've added it to our list. Hope to add this in the coming release.

[2022-04-14 14:31] surajahmed commented on #4857
@ThelmaAndrews Thanks for reporting this! We're working on this.

[2022-04-14 14:33] AshwiniKumar007 commented on #4781
@astriskit  Thanks for the valuable feedback. We will surely look into all the points raised by you.

[2022-04-14 14:44] surajahmed commented on #4885
Hi @Southclaws I've tried to reproduce the issue. It seems it works fine for me. Can you please check this https://snack.expo.dev/jWqrHqwYA?
For Nextjs project yo need to pass `isSSR` prop to `NativeBaseProvider`.
[code]
Thank you ❤️

[2022-04-14 14:45] surajahmed commented on #4886
Thanks for reporting this @vishnuc. We'll look into this.

[2022-04-14 14:47] surajahmed commented on #4903
@Looooong Thanks for reporting this! We'll look into this.

[2022-04-14 14:47] surajahmed commented on #4905
@pk936 Thanks for reporting this! We'll look into this.

[2022-04-14 14:48] surajahmed commented on #4862
@dev-abir Thanks for reporting this! We're working on it.

[2022-04-14 14:51] surajahmed commented on #4864
@hawekotte @mcatal Thanks for reporting this. This is happening due to a conflicting overlay of Modal and Actionsheet. Hope to fix this in the coming release.

[2022-04-14 19:47] s0rta commented on #4617
@DavidAmyot setting it to true allowed for interaction of elements behind the action sheet? It seems to me that the android specific modal was causing the problems. Also, after 3.4.0, disabling the android overlay option does not work any more. was there a fundamental change to how overlays work?

[2022-04-14 23:16] goxr3plus opened #4931 "variant is not working anymore on Select on version 3.4.1"
### What is the bug

I had the following code in v3.3.12

![image](https://user-images.githubusercontent.com/20374208/163492085-e9c28a1d-f3e6-4000-96b1-301deb16473e.png)

and it produced an unstyled select box  .

Now after just upgrading to 3.4.1 i literally changed nothing from my code completely nothing i just upgraded the dependency

![image](https://user-images.githubusercontent.com/20374208/

[2022-04-15 00:23] freddygarcia commented on #4265
I was experiencing this issue in 3.3.11 but updated to 3.4.1 and is working fine now.

[2022-04-15 04:36] #4892 closed

[2022-04-15 07:55] exneval commented on #4653
@ankit-tailor any news? almost a month already, even if there's already a PR

[2022-04-15 21:56] goxr3plus commented on #4931
@surajahmed Heyyy bosss how are you :) , do you know why this happened :) ?

[2022-04-15 22:18] srmagura opened #4933 "TextArea/index.d.ts references removed `autoCompleteType` prop"
### Description

The TypeScript definitions for `TextArea` still reference the `autoCompleteType` prop which was removed from React Native recently.

### CodeSandbox/Snack link

N/A

### Steps to reproduce

1. Install `native-base` 3.4.1 into any project.
2. Look at `node_modules/native-base/lib/typescript/components/primitives/TextArea/index.d.ts`.

**Expected behavior:** The `.d.ts` file does no

[2022-04-16 07:15] karthik-durai opened #4934 "ref not available for Input component"
### Description

can't "ref" Input component

### CodeSandbox/Snack link

https://snack.expo.dev/J-2cRbJz4

### Steps to reproduce

_No response_

### NativeBase Version

^3.3.10

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

Used Factory function but the Input component loses focus on every input.

[2022-04-16 07:48] neoassyrian commented on #4796
Having the same issue wih

    "react": "17.0.2",
    "react-native": "0.68.1",

[2022-04-16 10:37] syedamirali14 commented on #3086
did you fix it @ansarikhurshid786 ?

[2022-04-16 15:39] #3945 closed

[2022-04-17 10:12] maqeelqureshi commented on #4304
Have you found the solution of this issue?

I am facing the same on V 3.3.5.

[2022-04-17 15:22] dev-pacific22 opened #4935 "Is there a way to pass the styles to the native-base v3 component used inside the wrapper component?"
### Description

I have created some basic wrapper for the native-base component, now sometimes I am using the native base components and need to pass some styles props to the wrapper and from wrapper to native base component. At this point of time I am seeing the only utility props can be passed  as style to native base component. Is there any way that I can pass the style props to native base co

[2022-04-17 16:43] srmagura opened #4936 "TouchableOpacity around an element with `shadow` looks bad on Android"
### Description

If you put a `TouchableOpacity` around a `Card`, or other element with a nonzero `shadow`, the box shadow is visible through the element when pressed.

### CodeSandbox/Snack link

https://snack.expo.dev/@srmagura/nativebase-touchableopacity-card-issue

### Steps to reproduce

1. Run my Snack on an Android device. (iOS & web seem to be fine.)
2. Press the card and hold it.

**Expec

[2022-04-17 19:23] srmagura opened #4937 "Regression: Outline buttons now have a gray border"
### Description

Buttons with `variant="outline"` now have a gray border instead of using color specified by the `colorScheme` prop.

### CodeSandbox/Snack link

https://snack.expo.dev/@srmagura/nativebase-outline-button-341

### Steps to reproduce

1. View NativeBase 3.4.1 Snack: https://snack.expo.dev/@srmagura/nativebase-outline-button-341
    ![image](https://user-images.githubusercontent.com/

[2022-04-17 20:56] srmagura commented on #4937
Change was introduced [here](https://github.com/GeekyAnts/NativeBase/commit/12353876a8deeb3b0465277927e664c87872c802#diff-72aec614ddd87deb3e52c8089aa5de2454eeec568b9470a2badf25df2f69befbL93).

[2022-04-17 22:00] srmagura opened #4938 "Solid and outline buttons have different heights"
### Description

Not sure if this is a bug or intentional. Solid and outline buttons currently differ slightly in height. This can be an annoyance if you want a row of buttons that all have the same height.

### CodeSandbox/Snack link

https://snack.expo.dev/@srmagura/nativebase-outline-button-size-341

### Steps to reproduce

1. Open the Snack I linked.

**Expected behavior:** Buttons have the sa

[2022-04-18 08:03] abury commented on #4474
Do you have an example of how we can do this in the short term while this is being finished? Whenever I've tried to bulid this myself, I get all sorts of issues related to Absolute positioning Z-Index not being respected, and It's getting to the point where I might need to abandon NativeBase and use something else :(

[2022-04-18 11:58] likeSo commented on #4065
I am still using and look forward to NativeBase, so please do not close this issue

[2022-04-18 12:07] likeSo commented on #4065
I am still using and looking forward to NativeBase! So pls do not close this issue!

[2022-04-19 09:18] surajahmed commented on #4692
@taneba We're working on this.

[2022-04-19 10:14] mayank-96 commented on #4937
Hello @srmagura, this is expected behaviour according to our new design, we have intentionally kept the border color gray. We'll release the v3.4 UI Kit very soon, you can then check all the new design changes.

[2022-04-19 11:39] mayank-96 commented on #4938
Hello @srmagura, in the button outline variant we are using a border, as the button doesn't have a fixed height and width, instead has padding, due to which border appears to be shifted outside and the size appears to be inconsistent. We'll surely find some hack or solution for this issue, but as it may take some time, till then you can try height and width for consistent size in all variants of b

[2022-04-19 11:45] pierroo opened #4950 "Radio BROKEN in latest release"
### Description

Radio used to work, they no longer do in 3.3.7

### CodeSandbox/Snack link

https://docs.nativebase.io/3.3.x/radio

### Steps to reproduce

Just use template Radio.Group, it will crash with the following:
![image](https://user-images.githubusercontent.com/17619412/163996251-371abaaa-8639-408c-bf11-69186ed70a1e.png)

### NativeBase Version

3.3.7

### Platform

- [X] Android
- [ ]

[2022-04-19 12:06] pierroo opened #4951 "Customize Input component theme no longer working"
### Description

With latest update 3.4.1, customizing template no longer works for some props

### CodeSandbox/Snack link

https://docs.nativebase.io/next/customizing-components

### Steps to reproduce

When using <Input> components, I used to have my extended Theme customized components, most of them now are broken with your latest update.
For example:

[code]

So now I have to go back to ALL my

[2022-04-19 14:28] JorSargsyan opened #4954 "Custom Font family is ignored in Android."
### Description

I've added font family in theme,and configured it like it was in your documentation.IOS worked perfectly,but in android i've had some issues.When using Text component in android,it ignores any theme provided font family,but when i'm adding font family in stylesheet styles.font family is recognized and everything works.

### CodeSandbox/Snack link

no link

### Steps to reproduce

[2022-04-19 14:29] pierroo commented on #4950
After further investigation; it seems that it breaks apart only for Radios that are not checked.
If I keep only the checked one (controlled value), nothing break.
So I would guess there is an issue with the svg handling of non-checked radioBox in your latest update.

[2022-04-19 19:36] JoseMPersichini commented on #4009
My _workaround_ to solve the issue is generate a file, for example in `/scripts/native-base-solve-error.js`

[code]

And then use it in your package.json
[code]

So after executing **yarn install** the script in package.json modifies the three files which uses removeListener.

My environment: native-base 2.15.2 and react-native 0.66.0

[2022-04-20 01:58] neuberoliveira commented on #4303
Same here, add `NativeBaseProvider` like @phoenixbeats01 said partially resolve, because seems my snapshoot tree is empty, like if NativeBaseProvider not render childrens

[code]

and my snapshoot
[code]

And yes, my `PermissionAction` renders correctly when run on device

[2022-04-20 07:44] samthui commented on #3217
manually copying font files from node-modules did the trick. `npm link` somehow doesn't link correctly, I guess

[2022-04-20 09:40] surajahmed commented on #4153
We're working on this. Hope to fix this in the coming release. Thanks for your patience.

[2022-04-20 09:43] surajahmed commented on #4692
@taneba This issue is fixed in version `3.4.2`. Please feel free to let us know if you face any other problems. Thanks!

[2022-04-20 09:45] surajahmed commented on #4543
We're working on this. Thanks for your patience.

[2022-04-20 10:19] ankit-tailor commented on #4843
Hi @mschez , We have fixed this issue. It's released in `3.4.2`.

[2022-04-20 10:19] #4843 closed

[2022-04-20 12:48] taneba commented on #4692
@surajahmed
I've just tested on my device and it seems to be solved for sure!
Thank you for so quick support 💯

[2022-04-20 12:49] #4692 closed

[2022-04-20 13:04] ankit-tailor commented on #4676
Hi @TVGSoft, This issue is fixed in the latest version.

[2022-04-20 13:23] ankit-tailor commented on #4950
HI @pierroo, I wasn't able to reproduce the issue, can you please share snack / codesandbox.

[2022-04-20 13:25] pierroo commented on #4950
Sure, here it is:

  const [value, setValue] = useState('')

[code]

[2022-04-21 00:38] #4200 closed

[2022-04-21 05:46] ankit-tailor commented on #4951
Hi @pierroo, Thanks for reporting the issue. We'll fix it soon.

[2022-04-21 06:05] ankit-tailor commented on #4950
Hi @pierroo, Which version are you using? I am using the latest version `3.4.3` and it's working fine for me.

[2022-04-21 06:15] ankit-tailor commented on #4857
Hi @ThelmaAndrews, This issue is fixed in version 3.3.4`.

[2022-04-21 06:15] #4857 closed

[2022-04-21 07:00] surajahmed commented on #4390
We're working on it. Hope to fix this issue in the coming release.

[2022-04-21 07:32] #4954 closed

[2022-04-21 07:54] surajahmed commented on #4063
@kevinwcyu Can you please try the latest version `3.4.3`? We've fixed a lot of issues and warnings.

[2022-04-21 07:57] surajahmed commented on #3274
@prometheas Sorry for the inconvenience. I know this is frustrating. We're working on it and try to fix this as soon as possible.

[2022-04-21 08:21] pierroo commented on #4950
I am using 3.4.1
Also, I have "react-native-svg": "^12.3.0", in my package.json, maybe there is a conflict of libraries if you are also using it for your radio button?

[2022-04-21 08:41] NilsBaumgartner1994 opened #4964 "TSC Compile"
### Description

Tsc Compile with Bob Builder and Skiplibcheck

### CodeSandbox/Snack link

none

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.3

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

[code]

[2022-04-21 08:43] pierroo commented on #4951
Hi @ankit-tailor thank you for looking into it.
I see your latest release 3.4.3 mentioned some changes and fixes for the input, unfortunately it is even more broken than before.
Not only the above still applies, but now there is also a weird issue with padding:
when not focus, padding is respected;
and suddenly when focused, the padding jumped to a different value, then I start typing and now the

[2022-04-21 10:19] rayan1810 commented on #4375
Hey @haibert, as @MD-REHMAN already mentioned If you want to have types for the custom themes you can follow [this](https://docs.nativebase.io/typescript). What you are asking for, I don't think is something NativeBase is aligned with right now,  I'm closing this issue in the meanwhile, please feel free to reopen if you have any other queries.

[2022-04-21 10:19] #4375 closed

[2022-04-21 11:04] ankit-tailor commented on #4950
Hi @pierroo, I've `react-native-svg: ^12.3.0` and `native-base: ^3.4.3` version in my package.json and it's working fine for me.

[2022-04-21 11:06] pierroo commented on #4950
Thank you.
Does that mean end of investigation on your end?
( Genuine question so I know where to stand regarding this issue, although I have no clue why rolling back to older native base would work; which does make me believe is on native base end )

[2022-04-21 20:02] kevinwcyu commented on #4063
Hi @surajahmed, Thanks for the update.

I'm no longer using NativeBase and I think I deleted my repro branch in my original issue. I don't have time to try to recreate it unfortunately.

Sorry, I'm not able to test out the latest version to see if this fixed it. I'm fine with closing off this issue if you'd like to do that.

[2022-04-22 05:39] ankit-tailor commented on #4950
It would be great If you can provide snack / codesandbox for the issue.

[2022-04-22 07:00] ankit-tailor commented on #4934
Hi @karthik-durai, I was not able to reproduce the issue and also I am not able to open your link, it would be great if you can provide some snack / codesandbox link.

[2022-04-22 09:31] ankit-tailor commented on #4928
Hi @amonlibanio, It might be possible that your component didn't get mounted and that might be the reason.  Try below example and let me know if it works.
[code]

[2022-04-22 09:36] ankit-tailor commented on #4931
Hi @goxr3plus , Thanks for reporting the issue. We're working on it.

[2022-04-22 11:10] Abhineetk47 commented on #4930
Hello @mmfire118, thanks for reporting issues, Please upgrade your NB version to 3.4.3

[2022-04-22 11:37] ankit-tailor commented on #4936
Hi @srmagura , Hi [here](https://snack.expo.dev/@ankit-tailor/touchableopacity-function-component-example) is the example of `react-native` shadow. This is an open issue from `react-native`. You can follow [this](https://github.com/facebook/react-native/issues/32078) thread to get some work around.

[2022-04-22 14:10] Southclaws commented on #4951
I'm seeing this too, you can set `defaultProps` in the theme and that works but `baseStyle` does not.

Setting per-component works as a workaround.

[2022-04-22 15:55] srmagura opened #4967 "`Card` component has no visible border on iOS"
### Description

The card component should have a border of some kind. It does not on iOS.

### CodeSandbox/Snack link

https://snack.expo.dev/@srmagura/nativebase-card-ios

### Steps to reproduce

1. Run the Snack on an iOS device.

Web / Android:

![image](https://user-images.githubusercontent.com/801549/164750761-d8ae12d8-a4fe-4326-b703-df93a607f769.png)

iOS:

![NativeBase card iOS](https://us

[2022-04-22 18:21] Beyazatli commented on #4002
I have same issue, any solve?

[2022-04-22 22:06] Aziks0 commented on #4796
This is caused by [this tiny little commit](https://github.com/facebook/react-native/commit/41cbccd98dd6c98d1f662674164cf455105a1359).

It only happens when using `npx`, so in the meantime, use `yarn dlx` to init a new project, it will work without any issue.
_(remember that you need `yarn>=2.0.0` to do this)_

[2022-04-23 13:42] #4300 closed

[2022-04-24 11:34] hoondeveloper opened #4968 "Form Community Integration section is disappeared in website docs"
### Description

Form Community Integration section is disappeared in website docs

### CodeSandbox/Snack link

https://docs.nativebase.io/form

### Steps to reproduce

1. Go to https://docs.nativebase.io/form
2. Scroll down to end
3. and click `React Hook Forms`
4. See problem

### NativeBase Version

3.4.1

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

[2022-04-25 05:48] ankit-tailor commented on #4933
Hi @srmagura , I tried reproducing the issue, but couldn't find anything. It would be great if you can provide snack / codesandbox link.

[2022-04-25 09:52] AshwiniKumar007 opened #4969 "This is a test issue"
### Description

This is a test issue

### CodeSandbox/Snack link

https://nativebase.io/

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.3.2

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-04-25 13:50] dylanberry commented on #4937
I cannot override this with `extendTheme`. Definitely a bug.

[2022-04-26 11:45] Abhineetk47 commented on #4930
@mmfire118 upgrading the Native Base library version to 3.4.3 in Startup+ project will fix the
1. Broken Select component
2. Scrolling issue on android ..screens will start interacting on android device
3. Flickering issue reported on ios after re-entering the app
4. scrolling issue causing covering of input box is mainly due to inappropriate placement of KeyboardAwareScrollView component in this

[2022-04-26 13:11] mmfire118 commented on #4930
Upgrading to 3.4.3 fixes:

1. Broken Select component
2. Scrolling issue on android ..screens will start interacting on android device

It does not fix:

1. Flickering issue reported on ios after re-entering the app
2. scrolling issue causing covering of input box is mainly due to inappropriate placement of KeyboardAwareScrollView component in this repo( https://github.com/mmfire118/example-app.gi

[2022-04-26 13:13] goxr3plus commented on #4931
@surajahmed  @ankit-tailor  You have changed the way we style the <Select component ? i need to use a new property :) ?

[2022-04-26 14:16] ricohumme commented on #4581
I have this issue as well with native-base@3.3.12

[2022-04-27 06:09] danielvindax commented on #4779
Hi @surajahmed, thank you for looking into it. I see your latest release changes and fixes for the button.

[2022-04-27 06:09] #4779 closed

[2022-04-27 06:20] johnf opened #4970 "Regresssion: Cannot use images with Avatar"
### Description

Avatar no longer supports required images

### CodeSandbox/Snack link

https://snack.expo.dev/yZSTh2TeX

### Steps to reproduce

1. See snack above the first Avatar doesn't have an image

### NativeBase Version

3.4.3

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

This was originally fixed in h

[2022-04-27 13:06] Toshiyuki023Hori opened #4974 "Style does not work stably."
### Description

Style does not work stably.

### CodeSandbox/Snack link

I am sorry. I tried to create a new snack but I failed.

### Steps to reproduce

1. Write some Style at a `NativeBase` component
2. Save code and reload an app
3. Style does not work
4. Reload the app again
5. It works well this time
6. Reload the app again
7. It works well again.
8. Edit code and reload the app
9. It DOES N

[2022-04-27 21:53] prometheas commented on #3274
Eh. Software is hard. The update does help us with our considerations, though. Good fortunes!

[2022-04-28 03:15] xinyumz opened #4975 "Toast on web can be out of view"
### Description

Toast **on web** is showing at the top/bottom of the page - can be out of view and have to scroll all the way up/down, it would be nice if it can be constrained to the top/bottom within the view.
The todo-list example in the docs has this problem too. If you add enough todos, the toast will be out of view and you'll need to scroll to see it.

### Problem Statement

Toast is a very

[2022-04-28 06:05] #3692 closed

[2022-04-28 10:51] baselshlewett opened #4977 "Radio group doesn't read correct state"
### Description

Radio.Group onChange event doesn't have correct values of previous state, instead is has the initial state of the variable we're using.  So deconstructing an object will result an override of the latest state of the variable

### CodeSandbox/Snack link

https://snack.expo.dev/dQWI2wSVm

### Steps to reproduce

1) create multiple FormControl in one screen
2) Create a Radio.Group in

[2022-04-28 14:55] Toshiyuki023Hori commented on #4974
### Additional Information
I removed `NativeBase` from my project to determine whether the component library is the source of the issue today. This issue is still happening after me removing the library, so I think the issue does not come from `NativeBase`. But, if you know something about this problem, I will be happy for you to tell me a solution just because you must have much more knowledge th

[2022-04-28 15:03] Alt-er opened #4978 "android hardwareBackPress conflicts with useToast"
### Description

When the toast is displayed, the return can be triggered normally

### CodeSandbox/Snack link

temporarily unavailable

### Steps to reproduce

back cannot be used when toast is displayed！

### NativeBase Version

3.3.1

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-04-28 17:17] Southclaws commented on #4885
Yeah this worked for us, thanks!

[2022-04-28 17:17] #4885 closed, assigned to nobody

[2022-04-30 02:15] srmagura commented on #4933
Hi @ankit-tailor, I am also unable to reproduce the compilation error in a snack. If I had to guess, the error was occurring in my project due to some weird interaction between different `@types/` packages and the NativeBase types.

If no one else is experiencing this issue, it can be closed.

That said, the way your `.d.ts` file lists all of the `Input` props from `@types/react-native` seems odd

[2022-04-30 04:35] gomo commented on #3296
@jimbo23

Use `isDisabled` instead of `disable` props. And,  Put the string directly under the `Button` without using `Text`.

[code]

[2022-05-01 14:09] mamadfar opened #4982 "“requireNativeComponent: "RNCSafeAreaProvider" was not found in the UIManager.”"
### Description

I have this error at the begining of my app 😢

### NativeBase Version

3.4.3

### Platform

- [X] Android

### Additional Information

when I use this code in App.js, I get that error and I don't know why!
I install `react-native-safe-area-context` and nothing !
[code]

[2022-05-02 06:11] Viraj-10 commented on #4964
Hi, @NilsBaumgartner1994 thanks for reporting the issue we will look into this.

[2022-05-02 06:26] Viraj-10 commented on #4937
Hi @dylanberry, Please try using following code to override `borderColor`
`components: {
      Button: {
        variants: {
          outline: { _light: { borderColor: 'blue.500' } },
        },
      },
    },`

[2022-05-02 06:33] Viraj-10 commented on #4982
Hi @mamadfar, Please provide us with the detailed steps you followed to install `native-base` with your environment details.

- Node version
- package manager (yarn / node).
- CLI used( RCL/expo etc).

[2022-05-02 06:35] Viraj-10 commented on #4975
Hi @xinyumz, Thanks for reporting the issue. we will have a look.

[2022-05-02 06:41] ankit-tailor commented on #4967
Hi @srmagura, Thanks for reporting the issue. We'll fix it soon.

[2022-05-02 06:48] ankit-tailor commented on #4927
Hi @exneval, Thanks for reporting the issue. We've updated the recipe example for status and variant. Docs will be updated in the next release.

[2022-05-02 07:14] ankit-tailor commented on #4970
Hi @johnf, Thanks for reporting the issue. We'll fix it.

[2022-05-02 07:21] ankit-tailor commented on #4646
Hi @ThelmaAndrews, Which version of NativeBase are you using?

[2022-05-02 07:24] ankit-tailor commented on #4646
Hi @geoapostolidis, This issue is fixed in version `3.4.3`. let us know if it works for you.

[2022-05-02 07:29] ankit-tailor commented on #4978
Hi @Alt-er, Thanks for reporting the issue. We'll fix it.

[2022-05-02 09:10] mamadfar commented on #4982
Hi @Viraj-10 , I use nvm for using multiple node and npm version but most the time I use node 16.
For package manager I use both (yarn and npm )
and I used native base on a existed project with react native cli

[2022-05-02 17:50] simonflk commented on #4931
Presumably related... In the documentation under accessibility, it says:

I am adding `variant="native"` and I still cannot open the select with Voiceover by double-tapping when the select button is focused.

[2022-05-02 18:02] simonflk opened #4985 ""Toast" is not announced by Voiceover or Talkback"
### Description

I expect the contents of the alert to be read by the screenreader when it appears on screen.

### CodeSandbox/Snack link

https://snack.expo.dev/@simonflk/nativebase-alert-example

### Steps to reproduce

1. Enable Voiceover on iOS or Talkback on Android device
2. Open snack link
3. Press any button to trigger a toast
4. Wait for screenreader to read contents of toast

### NativeB

[2022-05-02 18:18] simonflk opened #4986 "iOS: Modal is not automatically focused, and you can focus things outside the modal"
### Description

Using Voiceover on iOS. When I open a modal I expect the focus to shift to the modal so that I know something happened. I should be able to navigate the contents of the modal clearly and not be able to access content from outside the modal while the modal is open

### CodeSandbox/Snack link

https://snack.expo.dev/@simonflk/nativebase-voiceover-modal-issue

### Steps to reproduce

[2022-05-03 21:43] ababol commented on #4302
I can confirm we also have huge lag issue on Android using native-base.

Especially on list, we have to really be careful on changing a state/re-rendering list, we try not to in Android.
We had to disable some feature on our app because of that.

[2022-05-03 21:47] pierroo commented on #4302
Make sure to use pure/memoized component like you mentioned, but not only:
when inside a list, I make sure the renderItem does not render native base component, I go back to pure react native Views and it does fix the list performance issue.

Of course this is just some temporary "hack" while waiting for native base to fix those performance issues...

[2022-05-03 21:58] ababol commented on #4302
@pierroo Yes, thanks a lot for the recommendation, but in our case we cannot really afford that, one of the main component of our app `EventCard` is written using native-base in order for us to have it working on both the app and the web, that's actually one of the main reason why we choose native-base

<img width="424" alt="Screenshot 2022-05-03 at 14 55 10" src="https://user-images.githubusercon

[2022-05-04 03:43] xinyumz commented on #4975
I did figure out a way to fix it. For the web version, define the dimensions to window size:

[code]

This way, adding toasts, modals and etc, will be confined to the screen instead of being placed on top of the entire component.
I'm also open to any better ways to do this!

[2022-05-04 06:44] Toshiyuki023Hori commented on #4974
@rayan1810
I am really sorry for asking such a stupid mistake.
The source of the problem was placing `Box` in `MapView` tag.
I should put `Marker` etc... which `react-native-maps` provides in `MapView` but I did other components.

[2022-05-04 06:44] #4974 closed

[2022-05-04 09:30] cloudratha opened #4996 "Web Select switches from uncontrolled to controlled"
### Description

When using the Select in Web as controlled or uncontrolled, I expect the component to not throw internal React errors when making selections

### CodeSandbox/Snack link

https://codesandbox.io/s/zealous-mahavira-mxkh1m

### Steps to reproduce

1. View the console is error free
2. Change the select to "Category"
3. View the error in the console

### NativeBase Version

3.3.6

### P

[2022-05-04 10:02] foyarash commented on #4302
Hello

We had the same performance issues as described in the previous comments. The issue was mostly visible on Android, but also on iOS.

We did a workaround requiring some work, but allowing us to keep a majority of native base props, by using the `useStyledSystemPropsResolver` hook, which is not impacted by any performance issue. By doing that we saw an improvement of more than 50% for the fir

[2022-05-04 10:27] Viraj-10 commented on #4985
Hi @simonflk, Thanks for reporting the issue. We will look into it.

[2022-05-05 03:06] johnf commented on #4663
@mayank-96 let me know if you would be interested in a pull request and best approach
* Just copy the code from box int pressable
* Try and refactor Box and Pressable to use common code

[2022-05-05 03:30] marclester-tang commented on #3997
it defeats the purpose of SSR/Nextjs, might as well use CRA

[2022-05-05 06:22] mayank-96 commented on #4996
Hello @cloudratha, thanks for reporting this issue. We'll look into it!

[2022-05-05 07:02] hoondeveloper opened #4997 "overriding AlertDialog baseStyle (_fade, _backdropFade) is not working"
### Description

overriding AlertDialog baseStyle (_fade, _backdropFade) is not working.

(+) and default fade animation duration became too slow, so it seems unnatural.

### CodeSandbox/Snack link

https://snack.expo.dev/sSC9-U5FS

### Steps to reproduce

1. Go to Expo Snack link
2. Open iOS App, and click 'Open' Button
3. and watch the AlertDialog is showing and see _fade, _backdropFade baseStyl

[2022-05-05 08:17] mayank-96 commented on #4997
Hello @hoondeveloper, Thanks for reporting this issue, we'll look into this!

[2022-05-05 10:01] thuantvDr4 opened #4999 "react-app, Modal not show"
### Description

Modal not show on react app

### CodeSandbox/Snack link

none

### Steps to reproduce

_No response_

### NativeBase Version

3.4.4

### Platform

- [ ] Android
- [X] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

import React, {useState} from "react";
import {Box, Button, FormControl, Input, Modal} from "native-base";

const Te

[2022-05-05 10:07] Viraj-10 commented on #4951
Hi @Southclaws @pierroo, please use the following code to change `placeholderTextColor`.
we will fix `_light` and `_dark` issues till then please use the following workaround. for now, it's mandatory to pass it inside a `_light` or `_dark`.

[code]

[2022-05-05 11:08] mayank-96 commented on #4999
Hello @thuantvDr4, sorry but I'm not able to reproduce your issue, can you please create a codeSandBox/snack link.

[2022-05-05 16:49] Bendetta opened #5001 "Unable to set a default font for Icons in theme"
### Description

I would like to set a default font for icons in my theme so I don't have to specify `as={MaterialIcons}` every time I use an Icon when using only one icon set. Other default properties can be specified but `as` seems to be a special exception for some reason.

### CodeSandbox/Snack link

https://snack.expo.dev/47A_iMdvj

### Steps to reproduce

1. Create a custom theme
2. Set defa

[2022-05-05 18:13] GollyJer commented on #4730
Using native-base v3.4.1

Wasted a bunch of time until finding this thread.
Setting `defaultIsOpen={false}` worked. Thanks @Looooong

[2022-05-05 21:01] haveamission commented on #4931
Also not working on <Button /> either

[2022-05-06 06:44] mayank-96 commented on #5001
Hello @Bendetta, Thanks for reporting this issue, we'll fix it soon!

[2022-05-06 09:05] thuantvDr4 commented on #4999
I copied that code and paste on codeSandBox, It worked, modal showed when click button.
But, when I run on localhost:3000, it is not work.
It's  magic!

[2022-05-06 13:04] enk0de opened #5006 "some styles are broken in React Native 0.68.1"
### Description

many styles are broken in RN ^0.68.1. for example, Actionsheet styles is broken.

### CodeSandbox/Snack link

nothing.

### Steps to reproduce

1. Install `native-base` on RN 0.68.1
2. and watch some styles are broken (ex: Actionsheet)

### NativeBase Version

3.4.4

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Addit

[2022-05-07 10:24] lukesthl commented on #5006
same issue with expo sdk 45

[2022-05-08 20:14] 404-html opened #5008 "Customizing shadows in theme not working on the web"
### Description

An attempt to customize shadows in theme results in a failure. Provided `box-shadow` css is not applied on the target element. Instead of that DOM element receives a lot of extra classes with strange names in `class` attribute.

### CodeSandbox/Snack link

https://codesandbox.io/s/admiring-chihiro-779m5c?file=/src/App.tsx

### Steps to reproduce

1. Customize `shadows` attribute i

[2022-05-09 10:02] arryanggaputra commented on #4302
@foyarash very impressive 🔥. Have you managed to fix the Button performance issue? Can we know your implementation?

[2022-05-09 12:13] foyarash commented on #4302
I made a gist with the few files i used https://gist.github.com/foyarash/fa260a37fae9b085b89af13f61f46713

This worked well in our case since we don't have to handle dark mode for our app, so keep in mind that it really depends of the features you're using with native base.

[2022-05-10 05:02] abhishekdewan101 commented on #4922
@ankit-tailor any updates on this?

[2022-05-10 16:47] shobhitsinghal624 commented on #4653
Hi @ankit-tailor, were you able to check this out?

[2022-05-11 08:07] johnf commented on #4273
@surajahmed Semi realated but something I've hit a couple of times where things work fine on Android but break on ios

Native Base <Modal>
* On android uses react-natve Modal
* on ios uses Overlay which in turn users react-aria overlay

The key issue here is that the modal will get attache to different places.
On android it is attached where it's called
On ios it gets attached to the OverlayProvid

[2022-05-11 11:44] hoondeveloper commented on #5006
any news?

[2022-05-11 21:24] johnf commented on #4273
I'm now using the following patch with patch-package to work around these issues.
Will let you know if I come across any issues

[code]

[2022-05-12 13:30] gcosta-proxet commented on #5006
Same over here.

[2022-05-12 17:33] JeremyBradshaw7 opened #5014 "No instructions for adding icons to React Native CLI project"
### Description

Missing installation instructions in README and docs for adding icons to React Native CLI project.

### Steps to reproduce

[code]

Add sample Icon code to App.tsx:

[code]
[code]

<img width="140" alt="image" src="https://user-images.githubusercontent.com/36155348/168151937-63b9cc01-4e02-4619-aeb0-04b75206ab9e.png">

![image](https://user-images.githubusercontent.com/36155348/168

[2022-05-12 19:56] gcosta-proxet commented on #5006
Any news?

[2022-05-13 09:14] Viraj-10 commented on #5014
Hi @JeremyBradshaw7, Currently `@native-base/icons` is only supported in `Next.js`, `React App`, `Expo`. We will add support for `React Native CLI ` in future updates.

[2022-05-13 09:16] JeremyBradshaw7 commented on #5014
OK thanks @Viraj-10 - perhaps that could be clearer in the docs.

[2022-05-13 09:16] #5014 closed

[2022-05-13 15:22] scipilot commented on #3984
Is it possible to effectively remove the ScrollView?

When there's a virtualised list in the modal body content I get this error: `"VirtualizedLists should never be nested inside plain ScrollViews with the same orientation because it can break windowing and other functionality - use another VirtualizedList-backed container instead. "` (as the virtualised list does its own scrolling while managing

[2022-05-14 02:35] hirvesh opened #5016 "iOS Spinner Styling Not Consistent"
### Description

The Spinner component renders differently on iOS than on web and Android.

### CodeSandbox/Snack link

https://snack.expo.dev/@hirvesh/nativebase-template

### Steps to reproduce

1. Include a spinner component in the blank template, it shows up differently on iOS.

See GIF for current render.
![CleanShot 2022-05-14 at 06 34 32](https://user-images.githubusercontent.com/67500738/1

[2022-05-14 19:49] facuescobar commented on #3811
Same here, please reopen it, font is not rendering correctly on Android

[2022-05-15 16:28] frknltrk commented on #3264
now a better fix (replacement) is available: `PropTypes.style`

[2022-05-16 08:33] rayan1810 commented on #5016
This is the expected behavior since we want to render the native Activity Indicator. if you look closely it's actually different on all the three platforms. Closing this issue since it's not a bug.

[2022-05-16 08:33] #5016 closed

[2022-05-16 08:39] rayan1810 commented on #5008
Hey, this is the correct way to customize your shadow. I guess this answers your query, hence I'm closing the issue. Feel free to reopen if this isn't what you were looking for.

<img width="869" alt="Screenshot 2022-05-16 at 2 06 51 PM" src="https://user-images.githubusercontent.com/36300815/168552941-383cbaec-135f-4942-9b5c-39af50312da4.png">

[2022-05-16 08:39] #5008 closed

[2022-05-16 08:43] rayan1810 commented on #5006
Hey, we tried updating to React Native 0.68 but we weren't able to find any issues. Can you please share a gif or a snack depicting the issue and explaining it a bit in regards to any, one component? Like what is broken on the Actionsheet component?

[2022-05-16 08:47] hoondeveloper commented on #5006
i already send the screenshots at discord channel. https://discord.com/channels/785491682719301643/972124390898667533/972128272815124530

[2022-05-16 10:59] ankit-tailor commented on #4927
Hi @MoSattler, Docs are updated but the example is broken, it will be fixed in the next release.

[2022-05-16 13:05] hirvesh commented on #5016
Alright, thanks for clarifying Rayan! However I have one follow up query - setting a size of size={10} does not seem to affect the Spinner size specifically on iOS - is this also expected behaviour?

[2022-05-16 20:30] g-nogueira commented on #4653
I'm also waiting for this fix :/

[2022-05-17 08:21] Viraj-10 commented on #4977
Hi @baselshlewett, Thanks for reporting this issue. we are looking into it. For now you can try this work around.
[radio work around](https://snack.expo.dev/@viraj_10/radio-group-workaround).

[2022-05-17 15:47] TanishaAgarwal commented on #910
I encountered the same problem.Did anyone found a workaround ?

[2022-05-17 21:31] karyakarsa-tech commented on #4954
still doesn't work on android, iOS fine.

[2022-05-18 00:56] iooi commented on #4302
+1. I feel the lag on iOS while using NB for a couple of weeks. Really need to re-think if i need to abandon it. I am a paid customer.

[2022-05-18 02:36] frossi85 commented on #4302
While the issue described here is regarding Mobile, I am experiencing a similar issue using native base with NextJS. The biggest issue is observed on inputs that use text like Input and TextArea. Writing fast on the input does not provide instant feedback but takes a while between typing fast and seeing what was typed reflected in those inputs. Also, there are some slow animations. So I guess the

[2022-05-18 02:36] frossi85 commented on #4681
While the issue described here is regarding Mobile, I am experiencing a similar issue using native base with NextJS. The biggest issue is observed on inputs that use text like Input and TextArea. Writing fast on the input does not provide instant feedback but takes a while between typing fast and seeing what was typed reflected in those inputs. Also, there are some slow animations. So I guess the

[2022-05-18 05:30] rayan1810 commented on #4302
Hey folks, we are currently working on it and have already fixed components like Checkbox, we have found that the major performance issue is on Android. Currently, we are trying to resolve component theme props at boot time and inline props at runtime. I guess this will reduce the overhead on the JS Engine during runtime and give a perf boost to the App.

[2022-05-18 05:31] rayan1810 commented on #4302
Also for the perf issues on other Platforms apart from Android, It would be really helpful if you guys can share some code snippets and GIFs of the same.

[2022-05-18 05:35] rayan1810 commented on #4681
Closing this issue as it is actually the same issue as https://github.com/GeekyAnts/NativeBase/issues/4302, Please follow up on it there, Thanks.

[2022-05-18 05:35] #4681 closed

[2022-05-18 06:35] booghaa commented on #4922
experiencing the same issue

[2022-05-18 07:36] pierroo commented on #4302
Thank you for your reply and information.
Having fixed Checkbox is great for sure, but considering the hundreds of other components that needs to be fixed as well, is there any way to follow up the progress or have some kind of roadmap to better align our expectations?

Somehow, there must be some issue in the core of native base and its way of writing components, that once found out and fixed sho

[2022-05-18 20:17] markfuechec opened #5021 "Option to Disable useRNModalOnAndroid on Actionsheet"
### Description

I'm building an actionsheet with native-base that is never closed. It sits on a screen with a map and a few buttons to interact with the map and is either in a barely-visible position or full size, toggled by user gestures. Unfortunately, this makes interacting with the map and buttons impossible on Android, unless I go into the native-base files and set useRNModalOnAndroid to fal

[2022-05-18 21:22] arryanggaputra commented on #4302
I also try to change `lodash` implemenation inside NativeBase with JavaScript native implementation. I got this result
<img width="822" alt="Screen Shot 2022-05-10 at 03 41 57" src="https://user-images.githubusercontent.com/4743772/169158001-f82f94f1-ec1e-4419-9588-af134d8ecdbf.png">

[2022-05-19 08:55] Tahira-SCT commented on #2015
I'm facing the same issue without the debugger too. Can someone please help.

"I wrapped the topmost component in Root."
What do you mean by this?

[2022-05-19 14:37] arunim2405 opened #5024 "Upgrade Guide from 3.1.x to 3.4.x"
### Description

As there were multiple changes from 3.1.x to 3.2.x and then again to 3.4.x, an all in one guide for upgrading to 3.4.x would be nice

### Problem Statement

As there were multiple changes from 3.1.x to 3.2.x and then again to 3.4.x, an all in one guide for upgrading to 3.4.x would be nice

### Proposed Solution or API

As there were multiple changes from 3.1.x to 3.2.x and then ag

[2022-05-20 12:15] goxr3plus commented on #4931
@ankit-tailor  Any news on how can we fix that using the latest version of the library :) ?

[2022-05-22 04:52] Shoxip commented on #2947
same problem... Just using this along with other components looks like a terrible crutch.

[2022-05-22 07:20] manuelsechi commented on #4273
this solved for me. thank you.

[2022-05-22 11:59] franjavi06 opened #5031 "This project uses sdk 42.0.0.0 but this version of Expo Go only supports the following SDKs: 45.0.0, 44.0.0, 43.0.0."
### Description

expo init my-app --template @native-base/expo-template -> This is not working on the lastest version of the android app Expo Go.

### CodeSandbox/Snack link

https://user-images.githubusercontent.com/18015702/169694027-a95c8aa1-fce0-4b16-bb72-e86b1a1facd5.jpg

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4

[2022-05-22 14:56] pierrecabriere commented on #4982
+1

[2022-05-23 06:26] Viraj-10 commented on #5031
Hi @franjavi06, You can just upgrade expo `expo upgrade 44`. which will upgrade the expo SDK to 44. we will upgrade `@native-base/expo-template` soon.

[2022-05-23 06:56] Viraj-10 commented on #4982
Hi @mamadfar @pierrecabriere, I am unable to reproduce this issue. can you push it to the repo and send me the link? So I can have a better idea.

[2022-05-23 08:12] balajsebastian opened #5032 "Styling (border bottom) is not applied when adding InputRightElement"
### Description

When I'm adding InputRightElement as prop the styling is not applied

### CodeSandbox/Snack link

----

### Steps to reproduce

Add some styling to Input and then InputRightElement. You will see that the styling is not applied.

### NativeBase Version

3.2.2

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional In

[2022-05-23 10:33] creativitycomkw commented on #4666
hi,

i have checked the issue in version 3.3.11 and it still there
plz check once again in react-native RTL layout

[2022-05-23 13:00] radiorz opened #5033 "Could Section List be foldable?"
### Description

The Section list is good. it will render some first and render the other for performance.
But if the section is foldable, the performance must be better.

### Problem Statement

The Section list is good. it will render some first and render the other for performance.
But if the section is foldable, the performance must be better.

### Proposed Solution or API

<SectionList>

### A

[2022-05-23 16:57] bitfield66 commented on #1012
did anyone find any solution? I have the same issue here

[2022-05-24 13:15] sanna231 opened #5034 "Issue with Resize- observer (Resizing the browser)"
### Description

Does anyone ever have issues with Resize Observer when re-sizing the browser? It seems to lag pretty heavily on most pages - even the nativebase docs lag on resize. I assume that's some hard requirement from react native web?

### CodeSandbox/Snack link

nativebase.io

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Ver

[2022-05-24 18:30] tavaoq opened #5035 "Select text pushed to the end on Android"
### Description

When the selected item text in the Select component box is bigger than the box itself, it gets pushed to the end, cutting the left part of it.

### CodeSandbox/Snack link

https://snack.expo.dev/C5DzBi1PD

### Steps to reproduce

_No response_

### NativeBase Version

3.3.5

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

#

[2022-05-25 11:40] tosebikan commented on #3381
This happens when you cancel the picker instead of selecting a new date, it sets the date's value to an undefined value, the solution is the check the event of the onChange function and set it to the previous date state if dismissed eg.

const [date, setDate] = useState(new Date())

const onChange = (event, selectedDate) => {
        setShowDate(false);

        // on cancel set date value to prev

[2022-05-25 14:01] franjavi06 commented on #5031
ok thanks

[2022-05-25 20:54] #4404 closed

[2022-05-25 20:54] #4526 closed

[2022-05-25 21:53] #4299 closed

[2022-05-25 21:53] #3888 closed

[2022-05-25 21:53] #4540 closed

[2022-05-25 21:53] #4527 closed

[2022-05-25 21:53] #4198 closed

[2022-05-25 21:53] #4503 closed

[2022-05-25 21:53] #3813 closed

[2022-05-25 21:53] #4322 closed

[2022-05-25 21:53] #3860 closed

[2022-05-25 21:53] #3908 closed

[2022-05-25 21:53] #4324 closed

[2022-05-25 21:53] #3925 closed

[2022-05-25 21:53] #3937 closed

[2022-05-25 21:53] #4003 closed

[2022-05-25 21:53] #4021 closed

[2022-05-25 21:53] #4196 closed

[2022-05-25 21:53] #3938 closed

[2022-05-25 21:53] #4158 closed

[2022-05-25 21:53] #4210 closed

[2022-05-25 21:53] #4456 closed

[2022-05-25 21:53] #4359 closed

[2022-05-25 21:53] #4305 closed

[2022-05-25 21:53] #4157 closed

[2022-05-25 21:53] #4537 closed

[2022-05-25 21:53] #4455 closed

[2022-05-25 21:53] #3307 closed

[2022-05-25 21:53] #4405 closed

[2022-05-25 22:31] kylegwalsh commented on #3813
Does the `closed as completed` status mean that this feature was included in the latest version? Or was it simply marked as stale?

I still feel like this would be valuable from an organization standpoint (all styles live in the `sx` prop). Obviously, it's all personal preference, but it seems pretty standard in other libraries.

[2022-05-26 04:00] silgal commented on #4665
Any more info on this one?

[2022-05-26 08:48] mamadfar commented on #4982
@Viraj-10 thank you but I solved it by ./gradlew clean and yarn start --reset-cache

[2022-05-26 08:48] #4982 closed

[2022-05-26 11:57] vasafix opened #5040 "react-native-reanimated layout animation causes semitransparent icons to flicker on rerender"
### Description

Not sure if this is native-base or react-native-reanimated bug, every time I use layout animation (Entering, Exiting, …) no matter on what screen, it causes all native-base icons, with semitransparent color in app to flicker on rerender, in snack example I provided, I have 2 identical screens, except the second one uses layout animation. On each screen there are 3 icons 1)	First i

[2022-05-26 14:41] RobertDS07 commented on #4722
@Gismo1337 maybe you can change issue title to the real issue: first click goes nowhere

[2022-05-26 23:21] arryanggaputra commented on #4302
Hi @rayan1810 , just curious... Is there any plan or update for this issue?

[2022-05-27 03:16] rayan1810 commented on #4302
Hey @arryanggaputra, definitely there is a plan. We are currently working on fixing this issue. The solution requires some major rewrite internally, won't break user API but we have to change a lot of things inside every component. This will take some time so we will be releasing some alpha/rc versions in the next week, you can test it out and help us fix the remaining bugs.

[2022-05-27 05:51] likeSo commented on #4421
Any update on this?

[2022-05-27 10:48] jonahcui opened #5041 "Modal avoidKeyboard not work"
### Description

when I open the example that uses a input inside a modal and set avoidKeyboard. The input component will be  overlay by keyboard.

### CodeSandbox/Snack link

https://docs.nativebase.io/modal#h3-modal-with-avoidkeyboard

### Steps to reproduce

1. Go to '[Documention](https://docs.nativebase.io/modal#h3-modal-with-avoidkeyboard)'
2. Click on 'run ios'

### NativeBase Version

3.4

[2022-05-27 12:56] arunim2405 commented on #4302
@rayan1810 It would be great if you can divide the whole plan into small issues for the open source community to contribute to 😃

[2022-05-30 02:37] Oct4Pie commented on #985
I have the same issue. The toast doesn’t appear on the modal. No solutions yet.

[2022-05-30 05:37] hoondeveloper commented on #5006
any update?

[2022-05-30 10:31] nntruong96 opened #5046 "I can't install native-base"
### Description

When i run npm install native-base

### CodeSandbox/Snack link

#

### Steps to reproduce

When i run npm install native-base

### NativeBase Version

3.4

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

I can't install native-base, because native-base requried react 18* but the lastest react-nat

[2022-05-30 11:03] Viraj-10 commented on #5046
Hi @nntruong96, `native-base` doesn't have a dependency on react 18. please read our installation guide [here](https://docs.nativebase.io/installation).

[2022-05-30 14:50] wrtisans opened #5049 "Android app crashing when using VStack on Expo"
### Description

Android app crashes when using expo and VStack

### CodeSandbox/Snack link

https://snack.expo.dev/@madaviela/nativebase-template

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.5

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Infor

[2022-05-30 15:51] mfruhner commented on #5046
It works, when also installing react-dom@17.0.2!
This way it will find a satisfying version of react-dom that is compatible with react 17!

[2022-05-30 20:18] biskis commented on #4273
I tried to install `@react-aria/ssr` and add `<SSRProvider>` first in the App.tsx return statement, but the error is still here.

Do we have an estimate of when this will be fixed?

This is my App.tsx

[code]

[2022-05-31 06:26] #4362 closed

[2022-05-31 20:14] etiennelacoursiere opened #5052 "Toast are hidden by Keyboard"
### Description

The Toast component is appearing under the keyboard on IOS ( didn't test android yet ). It happend with the default `Toast.show({ title: 'Some title'})` as well as with a Custom component with useToast  and the render prop `toast.show({ render: () => <CustomToast title='some title' />})`

### CodeSandbox/Snack link

https://snack.expo.dev/zUHoqmQlr

### Steps to reproduce

1. Focu

[2022-06-01 06:42] Viraj-10 commented on #5052
Hi @etiennelacoursiere, Thanks for reporting the issue. We will look into it.
As an alternative for now. you can use `placement:'top'`. which places toast in the top position.

[2022-06-01 07:14] sanna231 opened #5053 "_pressed doesn't work with fab component"
### Description

_pressed doesn't work with fab component

### CodeSandbox/Snack link

https://codesandbox.io

### Steps to reproduce

_No response_

### NativeBase Version

3.4.5

### Platform

- [X] Android
- [X] CRA
- [X] Expo
- [X] iOS
- [X] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-06-02 06:52] surajahmed commented on #4111
This issue is fixed in version `3.3.5`.

[2022-06-02 06:52] #4111 closed

[2022-06-02 06:53] Viraj-10 commented on #4176
Hi @ksi9302, Any Updates?

[2022-06-02 08:01] Viraj-10 commented on #5040
Hi @vasafix, Seems like a problem is occurring when `color` has alpha or opacity. Thanks for reporting the issue. we will look into it.

[2022-06-02 08:02] surajahmed commented on #4444
@ezze We've fixed this issue in version `3.4.0`. Can you please try the latest version?
Please feel free to reopen if this issue persists. Thanks.

[2022-06-02 08:02] #4444 closed

[2022-06-02 08:11] surajahmed commented on #4474
@abury I know this is frustrating. I am working on some workaround. I'll share the code with you once I have something.

[2022-06-02 10:00] #4520 closed

[2022-06-02 10:01] Viraj-10 commented on #5035
Hi @tavaoq, Thanks for reporting the issue. we will look into it.

[2022-06-02 10:03] Viraj-10 commented on #5033
Hi @radiorz, Thanks for the suggestion. We will consider this feature request in a future sprint.

[2022-06-02 10:18] Viraj-10 commented on #5032
Hi @balajsebastian, I am unable to reproduce the bug. Can you provide a snack link with a small code snippet?

[2022-06-02 10:25] Viraj-10 commented on #5024
Hi @arunim2405, Thanks for the query. If you could provide some details about what difficulties you are facing while upgrading from 3.1.x to 3.4.x. We can help you resolve those issues.  We always make our best efforts to avoid breaking changes. Meanwhile, we will try to provide a combined guide ASAP.

[2022-06-02 10:38] surajahmed commented on #4525
Closing this issue as this has already been fixed. Please feel free to reopen if the issue persists. Thanks.

[2022-06-02 10:38] #4525 closed

[2022-06-02 10:39] Viraj-10 commented on #5001
Hi @Bendetta, This issue has been fixed in `v3.4.6`.

[2022-06-02 10:39] #5001 closed

[2022-06-02 10:40] surajahmed commented on #4538
This is still a work in progress. We'll update you as soon as we release a new version with these changes. Thanks for your patience.

[2022-06-02 10:42] surajahmed commented on #4581
This is an issue with the Overlay component. We're still working on it. Hope to fix this in the coming release. Thanks for your patience.

[2022-06-02 10:43] Viraj-10 commented on #4999
Hi @thuantvDr4, Can you push small code into the GitHub repo from there we can clone it and then try to reproduce it in our local machine.
Please provide the information mentioned in the checklist below.

- Project environment (Expo, React Native, etc.)
- Platform (iOS, Android)
- NativeBase version

[2022-06-02 10:44] surajahmed commented on #4643
We're still working on it. Hope to fix this in the coming release. Thanks for your patience.

[2022-06-02 10:49] surajahmed commented on #4663
@johnf Thanks for your suggestion. We'll make those changes in the coming release.

[2022-06-02 10:57] Viraj-10 commented on #4997
@surajahmed  @rayan1810 @mayank-96 Need to rethink how this can be handled on the theme level and not on the component level and should provide consistency for all the animation props.

[2022-06-02 10:59] Viraj-10 commented on #4996
Hi @cloudratha, This Issue has been fixed in `v3.4.6`.

[2022-06-02 10:59] #4996 closed

[2022-06-02 11:09] surajahmed commented on #4665
There is some loader issue with the storybook. Please try running with expo for now. We'll keep you updated. Thanks for your patience.

[2022-06-02 11:35] Viraj-10 commented on #4975
Hi @xinyumz, Thanks for sharing your solution. We will try to fix our toast component.

[2022-06-02 11:39] surajahmed commented on #4743
This issue has been fixed in version `3.4.0` or later.

[2022-06-02 11:39] #4743 closed

[2022-06-02 11:40] Viraj-10 commented on #4970
Hi @johnf, This issue has been fixed in `v3.4.6`

[2022-06-02 11:40] #4970 closed

[2022-06-02 11:40] surajahmed commented on #4728
This issue is fixed in latest version `3.4.6`. Please feel free to reopen if the issue persists. Thanks.

[2022-06-02 11:40] #4728 closed

[2022-06-02 11:41] #4969 closed

[2022-06-02 11:42] surajahmed commented on #4755
@shivamkawde18 Thanks for working on this. We'll review and merge your pull request.

[2022-06-02 13:11] rayan1810 commented on #4935
Thanks for your patience, we were a bit occupied. All NativeBase components accept `style` prop which is directly mapped to React Native's style prop. You can straightaway pass your styles in this style prop. But the drawback is that theme tokens don't get resolved inside this prop.

[code]

[2022-06-02 13:37] rayan1810 commented on #4933
We will try this on our end, the type is coming from `@types/react-native` and we have RN version `0.63.2`. I think updating to a newer version will fix your issue and we have this in our roadmap.

[2022-06-02 13:40] Viraj-10 commented on #2747
Hi @pierroo, are you facing this problem in  NativeBase V3?

[2022-06-03 04:52] balajsebastian commented on #5032
const styles = {
    error: {
      borderBottomColor: theme.colors.red["500"]
    }
  };

 <Input
        style={error ? styles.error : undefined}
        InputLeftElement={InputLeftElement}
        defaultValue={defaultValue}
        isFullWidth
        type={type}
        placeholder={placeholder}
        InputRightElement={renderers.inputRightElement()}
        onChangeText={onChange}
      />

[2022-06-03 05:25] surajahmed commented on #4757
Closing this issue as this has been fixed in version `3.4.0`.

[2022-06-03 05:26] surajahmed commented on #4756
`Accordion` component is not yet fully supported in verison 3.  We'll add `Accordion` soon. Thanks for your patience.

[2022-06-03 05:44] surajahmed commented on #4757
Reopening this issue as it is not working in the latest version `3.4.6`.

[2022-06-03 07:03] sanna231 opened #5061 "Typescript: when bad prop is entered on Button component, TS doesn't complain"
### Description

When I use the Button component (I'm guessing that's true for other comps), if I enter a bad prop, TS doesn't complain (e.g. loading instead of isLoading). Is that a feature or a bug?

### CodeSandbox/Snack link

https://codesandbox.io/

### Steps to reproduce

_No response_

### NativeBase Version

3.4.5

### Platform

- [X] Android
- [X] CRA
- [X] Expo
- [X] iOS
- [X] Next

###

[2022-06-03 08:12] JohnBerd opened #5062 "Input focusOutlineColor property doesn't work"
### Description

focusOutlineColor property of Input component does not work, in the below example it should be black, but it is still in primary color

### CodeSandbox/Snack link

https://codesandbox.io/s/clever-bird-kx7p1x

### Steps to reproduce

_No response_

### NativeBase Version

3.4.3

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

[2022-06-03 09:58] Viraj-10 commented on #5062
Hi @JohnBerd, It's working for me. you can check [here](https://snack.expo.dev/@viraj_10/input-focusoutlinecolor).

[2022-06-03 18:18] iooi commented on #985
+1

[2022-06-03 18:44] biskis commented on #4581
@surajahmed Do we know when next release will be? I kind of need to go to production with a expo web app that has this problem and is kind of big. I can wait max a week, if not I will need to implement other library for the modals. I need an estimation to know how to plan my work for next week. Thanks.

[2022-06-04 02:47] #4155 closed

[2022-06-04 06:17] v-dimitroff commented on #1117
I had to added this not only to the closest parent `ScrollView` but to all other `ScrollView`'s wrappers

[2022-06-04 09:18] JohnBerd commented on #5062
Thanks for your quick reply @Viraj-10.

In your example, it seems not working on IOS.

[2022-06-05 06:27] wailinkyaww commented on #4429
Getting the same issue. Any update on this?

[2022-06-06 00:03] dylan-westbury commented on #4399
Not stale

[2022-06-06 06:51] krithi1998 commented on #5034
@sanna231 Thank you for getting this into our notice. Our concerned team will look in to this issue and get back to you at the earliest.

[2022-06-06 07:46] AshwiniKumar007 opened #5063 "`Test Card` This is test card"
### Description

Test

### CodeSandbox/Snack link

https://nativebase.io

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.6

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-06-06 09:48] Brunowilliang opened #5064 "integration with moti"
### Description

It would be interesting to include standard animations in the View, Box and presseable

### Problem Statement

It would be interesting to include standard animations in the View, Box and presseable

### Proposed Solution or API

It would be interesting to include standard animations in the View, Box and presseable

### Alternatives

_No response_

### Additional Information

_No r

[2022-06-06 10:43] krithi1998 commented on #5064
@Brunowilliang We appreciate your feedback. We will pass it to the concerned team so that they check the possibilities of adding the same in future updates. Thank you.

[2022-06-06 11:58] otavioq commented on #5062
You can try `_focused={{borderColor: 'desiredColor'}}`

[2022-06-06 12:27] otavioq opened #5065 "Cooldown prop on pressable/button components"
### Description

Add a `cooldown` prop to pressable components to prevent multiple taps

### Problem Statement

Users can tap multiple times rapdly on pressable components and do things we don't want to, e.g. submit a form multiple times, even if we add a loader or navigate to other screen.

### Proposed Solution or API

[code]

### Alternatives

Currently I'm using the `disabled` prop and `setTim

[2022-06-06 13:35] Viraj-10 commented on #5065
Hi @otavioq, you have done this in the right way, as a component library I don't think our vision is currently aligned with adding a cooldown prop. Although we can have an open discussion on this if needed. I'm closing this issue for now feel free to reopen this issue or move this to https://github.com/GeekyAnts/NativeBase/discussions

[2022-06-06 13:35] #5065 closed

[2022-06-06 13:46] biskis commented on #4581
I installed the new 3.4.6 version and the bug is still here.

[2022-06-06 17:13] Viraj-10 commented on #5062
Hi @JohnBerd, sorry but currently we are finding out a solution for getting this work with IOS and Android. We know this is a difference in Design for native devices and the web. adding `borderWidth` 2px when input is in focus state and 1px when it's normal state causes a shift in layout of 1px when input is focused. react-native still has an issue with `box-shadow`. One solution was to wrap it in

[2022-06-06 17:52] JohnBerd commented on #5062
Hi @Viraj-10,

Happy to know it is actually a bug and you are working on it, the @otavioq solution works so maybe it would be a good idea to implement the same behavior for the selectionColor property.

We can maybe let this issue open awaiting for a PR to fix this

[2022-06-07 05:48] #5063 closed

[2022-06-07 07:27] Alice-space opened #5067 "Avatar integrate with react-native-fast-image"
### Description

It would be great to include react-native-fast-image in image-related components for better image experience

### Problem Statement

It would be great to include react-native-fast-image in image-related components for better image experience

### Proposed Solution or API

It would be great to include react-native-fast-image in image-related components for better image experience

[2022-06-07 11:17] Viraj-10 commented on #5067
Hi @Alice-space, Thanks for the suggestion adding `react-native-fast-image` in native-base would add one more dependency to the library. if you are facing some issues with `Avatar` please let us know, we will try to fix it ASAP.

[2022-06-07 15:22] Alice-space commented on #5067
yeah, but I mean can you provide an interface to render image using custom image component instead of react native default one.

[2022-06-07 17:51] RobertSasak commented on #5001
Thank you for the PR, it works! For those who wonder how to use it here is a small snippet.
[code]
Be aware that this also upsets Typescript and you will get a following Typescript error when trying to set _size_ prop of Icon.
[code]
This issue appers regardles of version 3.4.5 or 3.4.6.

[2022-06-08 05:06] surajahmed commented on #4429
Thanks for your patience. We're currently working on a new release with these fixes.

[2022-06-08 05:35] wailinkyaww commented on #4429
Thanks for the update!

[2022-06-08 12:39] Great-hijack opened #5068 "ActionSheet does not close smoothly by swipe down action"
### Description

ActionSheet does not close smoothly by swipe down action

### CodeSandbox/Snack link

https://snack.expo.dev/@zhen-zhu/actionsheet-issue-reporo

### Steps to reproduce

1. Tap 'ActionSheet' button
2. Press the drag indicator and swipe down
3. ActionSheet will slide down and up and down.

this is so quick action, though can detectable by naked eyes.

### NativeBase Version

3.4.6

[2022-06-08 13:07] Viraj-10 commented on #5064
Hi @Brunowilliang, We have a `Transition` component for simple animations with a recipe of Fade, SlideFade, ScaleFade etc. So Users can easily create simple animations. Adding extra prop for animation will require component level computation which affects the component's performance. Box, Pressable, and View are primitive components from which composite components are created so it affects a lot m

[2022-06-08 13:13] Krithikj20 commented on #5068
Hi @Great-hijack, Thank you for reporting this issue. We will look into it.

[2022-06-08 14:43] Great-hijack opened #5070 "Slider does not work properly"
### Description

Slider thumb should follow and be under my finger, but its behavior is weird.

### CodeSandbox/Snack link

https://snack.expo.dev/@zhen-zhu/nativebase-snack

### Steps to reproduce

1. Go to snack.
2. Press the thumb and move left or right.
3. You will see the thumb is not under your finger.

### NativeBase Version

3.4.6

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [X] iOS

[2022-06-08 16:59] shashank1010 opened #5071 "As a user, in a modal I should be able unset focus from input fields"
### Description

When you open the modal for this example
https://snack.expo.dev/@shashank1010/modal-checkbox-click-issue

You would notice that the first field has focus.
In this example, I simulated a vertical space with a height of 500px and then there is a checkbox.
When, the first field has focus and you scroll down to click on the checkbox, modal body scrolls up to the first field.

Also, in

[2022-06-08 17:47] #4695 closed

[2022-06-09 03:18] rassemdev opened #5072 "Icon in InputLeftElement of a input field not animating properly"
### Description

I have a login page where i have some input fields with icons on left. I am doing some animation (used react-native-reanimated) when a user focus on that input field. While doing this animation icons of input field going out of the screen.

### CodeSandbox/Snack link

https://snack.expo.dev/@rassemdev/login-page

### Steps to reproduce

1. Load the page
2. Focus on input field

##

[2022-06-09 05:44] Krithikj20 commented on #5070
Hi @Great-hijack, Thank you for the feedback, We will look into it and make sure that the issue is fixed at the earliest.

[2022-06-09 05:45] Krithikj20 commented on #5072
Hi @rassemdev, Thanks for reporting the issue. We will look into it.

[2022-06-09 05:52] Krithikj20 commented on #5071
Hi @shashank1010, Thank you for reporting this issue. We will try to fix it at the earliest.

[2022-06-09 11:00] Abhineetk47 commented on #4930
Hi @mmfire118
1. For Flickering issue reported on ios after re-entering the app, Instead of Using useSystemColorMode you can do following work around.
import { Appearance } from "react-native";
const colorScheme = Appearance.getColorScheme();
const theme = extendTheme({
  config: {
    initialColorMode: colorScheme,
  },
  colors: {
    primary: nbTheme.colors.blue,
  },
});
2. And was not able to

[2022-06-09 12:02] btrewern opened #5073 "CheckBox.Group bugs"
### Description

Check boxes change randomly when in a CheckBox.Group

### CodeSandbox/Snack link

See document examples

### Steps to reproduce

Loading either CheckBox.Group examples:

https://docs.nativebase.io/checkbox#h3-controlled or https://docs.nativebase.io/checkbox#h3-uncontrolled

the check boxes don't work as expected.  The first select click works but after that check boxes seem to ch

[2022-06-09 13:17] Krithikj20 commented on #5073
Hi @btrewern, Thank you for reporting this issue. We will look into it.

[2022-06-09 20:42] veho-paul commented on #4273
So FormControls in Modals are a no go, right? Any progress on this?

[2022-06-10 05:38] fahad39 commented on #4931
Kindly resolve this issue

[2022-06-10 12:34] chornos13 commented on #5073
Yeah, I experienced the same. this is major bug because the Component not updated when trigger by HMR

[2022-06-10 19:54] Angelk90 commented on #1501
.

[2022-06-10 20:34] #3488 closed

[2022-06-11 08:01] brixbimboavengoza commented on #4950
Got this bug on Version 3.4.5
![image](https://user-images.githubusercontent.com/17179577/173179215-4f3ea523-d9ff-46d0-820e-ca094fe27156.png)

[2022-06-11 12:53] kanamui commented on #4756
Took me hours to figure out why v3 didn't come with an `Accordion` while v2 has one. I tried using the `Accordion` component in v3 but nothing was rendered lol. Looking forward to this component.

[2022-06-12 12:32] #4465 closed

[2022-06-12 12:32] #4312 closed

[2022-06-12 12:33] #4119 closed

[2022-06-12 17:49] johnf opened #5075 "Compatibility issues with react-native-web 0.18"
### Description

There are some breaking chaneges in react-native-web 0.18.0 which cause compilation failures

### CodeSandbox/Snack link

N/A

### Steps to reproduce

Upgrade to react-native-web 0.18

### NativeBase Version

3.4.6

### Platform

- [ ] Android
- [X] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

https://github.com/GeekyAnts/Nati

[2022-06-12 19:00] jesuscovam commented on #4583
Im having this same issue with the version 3.4.6 in a monorepo using turborepo with yarn workspaces, we have 2 expo apps using components from a package called payments and we need to export the componentes with a NativeBaseProvider

[2022-06-13 05:22] Viraj-10 commented on #5068
Hi @Great-hijack, I am unable to reproduce it. Can record your screen and upload a video?

[2022-06-13 07:20] Viraj-10 commented on #5075
Hi @johnf, Thanks for reporting the issue. We will look into this issue. Meanwhile, if you find any solution, you can also contribute to our repo.

[2022-06-13 11:22] Viraj-10 commented on #5032
Hi @balajsebastian, Try Using
`  <Input _important={error ? { borderBottomColor: "#8B0000" } : {}} />`

[2022-06-13 12:07] Viraj-10 commented on #5073
Hi @chornos13, this issue is fixed. We are upgrading the native-base version in docs. This is a docs issue.

[2022-06-13 14:53] hussamkhatib commented on #5031
After upgrading this command will fix the warning of dependency issue.
`expo doctor --fix-dependencies`

[2022-06-13 15:59] Great-hijack commented on #5068
@Viraj-10 edited the issue for the video.

[2022-06-14 02:42] zzyjiaxinmomo commented on #985
is there any solution now?

[2022-06-14 03:30] AbdElRahmanMostafa1 commented on #2736
Same problem here is there any solution??

[2022-06-14 07:55] Viraj-10 commented on #5006
Hi @hoondeveloper, I am unable to reproduce it. Also, ActionSheet Item doesn't have border-radius.

[2022-06-14 08:17] Viraj-10 commented on #4429
Hi @wailinkyaww, I am unable to reproduce the issue. Can you provide a snack link? also try using version v3.4.6.

[2022-06-14 13:30] astriskit opened #5077 "Select: unsetting the value has no effect"
### Description

When trying to clear the value of a controlled Select element using `undefined`, `null` or `""`/empty-string, the element doesn't change the selected-value in the ui. This action should unset the selected-value in ui.

### CodeSandbox/Snack link

https://snack.expo.dev/O8jLa_m9k

### Steps to reproduce

_No response_

### NativeBase Version

3.4

### Platform

- [ ] Android
- [ ]

[2022-06-16 20:56] kunle-e opened #5082 "Error After New Project Creation - Duplicate Box Import"
### Description

New Project Creation Causes Duplicate Box Import Error

### CodeSandbox/Snack link

Sandbox would be need to be able to run yarn dlx

### Steps to reproduce

- Copy installation instructions for Install in Create React App project from: https://docs.nativebase.io/install-cra
``yarn dlx  create-react-app my-app --template @native-base/typescript``

### NativeBase Version

3.4.0

##

[2022-06-17 06:32] Krithikj20 commented on #5082
Thank you @kunle-e for reporting the issue. We will look into it.

[2022-06-17 07:35] chaaya opened #5083 "Icon configuration cannot be set via NativeBaseProvider theme"
### Description

DefaultProps set via theming isnt affecting the Icon.

### CodeSandbox/Snack link

https://snack.expo.dev/WlPtGP6XF

### Steps to reproduce

1. Click "Toggle"
2. The Icon color does not change between dark/light mode
3. Click "Dark/light color theming as from props"
4. Now the Icon color is applied correctly from direct props to the component.

### NativeBase Version

3.4.6

### P

[2022-06-17 07:52] Krithikj20 commented on #5083
Hi @chaaya, Thank you for reporting this issue. We will look into it.

[2022-06-17 10:59] hoondeveloper opened #5084 "modal basestyle overriding is not working"
### Description

modal basestyle overriding is not working

### CodeSandbox/Snack link

none

### Steps to reproduce

[code]

modal _backdropFade overriding is not working

### NativeBase Version

3.4.6

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-06-17 11:13] Krithikj20 commented on #5084
Thank you @hoondeveloper for reporting. We will look into it.

[2022-06-17 12:23] #5083 closed

[2022-06-17 12:23] chaaya commented on #5083
@Krithikj20 it was my bad actually, had two provider in the snack I provided. Seems to work.

[2022-06-17 14:23] SupriyaPKalghatgi commented on #4303
I get the same error

Followed docs https://docs.nativebase.io/testing#page-title

Error

@surajahmed Please review this

[2022-06-17 19:19] Audrey-Ann commented on #4302
Hi @rayan1810 thank you for your help! I am also wondering if you guys are working on improving performance specifically for the Action Sheet and Buttons for Androids ? Thank you very much for your help !

[2022-06-18 09:12] mak12 opened #5085 "ForwardRef(AccordionItem) in Accordian.item ,Each child in a list should have a unique "key" prop"
### Description

ForwardRef(AccordionItem) in Accordian.item ,Each child in a list should have a unique "key" prop

### CodeSandbox/Snack link

https://snack.expo.dev/UXxPIVXSKK

### Steps to reproduce

1. Go to '.components/Example.js'

### NativeBase Version

3.4.6

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Informatio

[2022-06-18 14:37] uschtwill commented on #4153
Would be helpful to mention this restriction in the docs for the time being.

[2022-06-18 15:00] rayan1810 commented on #4302
Hey folks, here is the Progress Update. We are working on the performance improvements and have also achieved significantly better performance metrics but it has resulted in a heavy increase in boot time load. We are currently trying to fix this by moving the same calculations to build time but due to some coupling between theme and react it's causing few issues but don't worry we have few solutio

[2022-06-19 13:32] kengjungwa commented on #4302
Thanks a lot @rayan1810 for the update. Is this perf improvement on just Android only or also on iOS too?  In my case, our iOS app performs significantly slower than Android (about 3x slower). Since we are on the critical path for releasing prod version, any updates on the progress would be really helpful for our planning.

Thanks to you and your team for working on this.

[2022-06-19 14:30] rayan1810 commented on #4302
Hey @kengjungwa , the performance improvements is for all the platforms but significantly focused on Android. For iOS we haven't found any such specific issues in our testings can you please share what you are facing?

[2022-06-20 08:18] #5032 closed

[2022-06-20 11:16] Krithikj20 commented on #5085
Hi @mak12, Thank you for reaching out to us. Accordian prop you are referring to is yet to be released. We are going to release it in upcoming sprints.

[2022-06-20 18:14] kdong007 opened #5089 "theme baseStyle not working"
### Description

theme baseStyle not working

### CodeSandbox/Snack link

https://snack.expo.dev/@kdong007/mad-watermelon

### Steps to reproduce

see the sandbox link

### NativeBase Version

3.3.1

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-06-21 05:02] SupriyaPKalghatgi commented on #4303
@rayan1810 Can you check this please

[2022-06-21 10:15] 404-html commented on #4492
There's pretty much the same problem when `Slider` is wrapped into `Actionsheet` content.

Here's a Snack example:
https://snack.expo.dev/@404-html/native-base---slider-in-actionsheet

Looks like slider's thumb is not capturing drag gesture on Android and the only way to change slider's value is to tap on the track.

[2022-06-21 10:53] Viraj-10 commented on #5068
This issue has been fixed in NativeBase `v3.4.7`

[2022-06-21 10:53] #5068 closed

[2022-06-21 10:54] Viraj-10 commented on #5041
This issue has been fixed in NativeBase `v3.4.7`.

[2022-06-21 10:54] #5041 closed

[2022-06-21 10:54] Viraj-10 commented on #5053
This issue has been fixed in NativeBase `v3.4.7`

[2022-06-21 10:54] #5053 closed

[2022-06-21 10:55] #5035 closed

[2022-06-21 10:57] Viraj-10 commented on #5070
This issue has been fixed in NativeBase `v3.4.7`

[2022-06-21 10:57] #5070 closed

[2022-06-21 11:55] Skullcan commented on #4065
Looking forward for this too!

[2022-06-21 13:11] ankit-tailor commented on #5089
Hi @kdong007 , please use the following code to change color.
[code]
We have used `_light` and `_dark` in baseStyle and it is getting combined with `extendedTheme`. `_light` and `_dark` has higher specificity than normal props that's why it's not getting applied. We will fix _light and _dark issues till then please use the following workaround. for now, it's mandatory to pass it inside a _light or

[2022-06-22 06:53] sanna231 opened #5092 "Select component: the font size of the <Select.Item /> is not changing"
### Description

I'm using the <Select /> component. How can I customise <Select.Item /> ?

### CodeSandbox/Snack link

https://codesandbox.io

### Steps to reproduce

_No response_

### NativeBase Version

3.4.6

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

This is what I am doing in my code:
<Select {...}>

[2022-06-22 07:06] Viraj-10 commented on #5031
This issue is fixed now.

[2022-06-22 07:06] #5031 closed

[2022-06-22 07:29] 49un9P commented on #1460
🙏 thanks

[2022-06-22 10:08] ybf970928 opened #5094 "Closing Toasts individually via the close instance method not work"
### Description

Close last toast not work

### CodeSandbox/Snack link

https://docs.nativebase.io/toast#h3-closing-toasts

### Steps to reproduce

Demo of official documents, Click the toast button several times, and only the latest one will be closed

### NativeBase Version

3.4.1

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Addit

[2022-06-22 13:04] elenitaex5 opened #5095 "Button shadow doesn't work"
### Description

I'm creating a new variant for a button. I can't find any documentation about that. But I add every single prop for shadow as react native, and nothing happened.

### CodeSandbox/Snack link

https://codesandbox.io/s/infallible-wescoff-ykg0zb

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.7

### Platform

[2022-06-22 15:38] smontlouis opened #5097 "Custom fonts are not working"
### Description

Custom fonts are not working.

It seems like `src/hooks/useResolvedFontFamily.ts` is used to resolve fonts, but `src/theme/styled-system.ts` is using his own fontFamily transformer by resolving  the `fonts` theme key, which returns undefined, since we don't need to transform anything so it finds nothing.

I managed to "fix it" by removing the [transformer](https://github.com/Geeky

[2022-06-22 21:55] baselshlewett commented on #5097
+1

downgrading to 3.4.6 solved the issue with fonts

[2022-06-23 01:36] #5094 closed

[2022-06-23 01:59] focux commented on #5097
I'm also experiencing this. Downgrading fixed it for me.

[2022-06-23 02:05] focux commented on #5067
I'd love this as well. It's okay for me if you don't support fast-image out of the box but it'd be good to have an interface to replace the image component for any we want.

[2022-06-23 08:55] iita71737 commented on #2158
It's already Jun 2022 and Picker still not supporting placeholder in Android , right?

[2022-06-23 09:41] jakeeknight commented on #4864
Is there a fix or workaround for this yet?

[2022-06-23 11:09] punndcoder28 commented on #4931
Hey guys! We are facing the same issue as well on `v3.4.6`. Looks like variant prop is broken on `<Select />`

[2022-06-23 11:43] Brma1048 opened #5098 "WARN "We can not support a function callback...""
### Description

We expected no console warning with minimal Checkbox.Group usage.

### CodeSandbox/Snack link

no link

### Steps to reproduce

[code]

### NativeBase Version

3.4.7

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

We are getting following warning  "WARN  We can not support a function callback. S

[2022-06-23 12:20] Krithikj20 commented on #5095
Hi @elenitaex5, Thank you for reporting the issue. We will look into it.

[2022-06-23 12:24] Viraj-10 commented on #5097
Hi, Thanks for reporting the issue. We are looking into it.

[2022-06-23 12:42] Krithikj20 commented on #5098
Hi @Brma1048 , Thank you for reporting this issue. we will look into it.

[2022-06-24 04:14] matheusbaumgart commented on #3856
Even after setting all variants I still can't change the `borderColor` of a focused Input.

[2022-06-24 05:44] mak12 commented on #5085
Hi @Krithikj20 thank you for the reply, any timeline for this release? This is the only component with this warning in project.

[2022-06-24 13:33] F7-CalebM commented on #4931
Hey everyone, I'm using v3.4.7 and I am noticing this issue as well. None of the variants are working

[2022-06-24 13:50] Great-hijack commented on #5068
@Viraj-10 It works like a charm. Thanks thousand!

[2022-06-24 15:04] Great-hijack commented on #5097
Hi @Viraj-10, I want it to be fixed as soon as possible, it's blocking to publish to live.

[2022-06-24 16:07] asurion-ashutosh commented on #4153
ANy update on this yet i am still facing same issue>

[2022-06-25 05:24] #5089 closed

[2022-06-25 05:25] kdong007 commented on #5089
Thanks for the answer. :D

[2022-06-25 12:14] redbar0n commented on #4302
If it may help, I just came across this new lib which was released in May:

react-native-performance gives easy perf measurements for React Native apps.

https://github.com/Shopify/react-native-performance

[2022-06-25 18:53] mathias-berg opened #5106 "Expose/export Tooltip interface"
### Description

I would like to be able to import the type for Tooltip to make my own component fully typed.

### Problem Statement

There is not way today to get the interface or type for the Tooltip component since it doesn't seem to be exported like other types are.

### Proposed Solution or API

Export the Tooltip type like you export other types today.

### Alternatives

_No response_

### A

[2022-06-26 11:21] Toshiyuki023Hori opened #5107 "Toast is placed out of position every time I call this."
### Description

Toast is placed out of position every time I call this.

### CodeSandbox/Snack link

I am sorry. I don't have it.

### Steps to reproduce

1. Create custom `Toast` like below.
[code]
2. Use `toast.show`, in my case, `showToast()` method.
3. After checking `Toast` disappears, use `toast.show` again.
4. You can see `Toast` is placed under the position where the `Toast` which was cal

[2022-06-26 22:28] trymbill commented on #5097
Also seeing this, but downgrading didn't seem to fix it.

[2022-06-27 03:17] dhatGuy commented on #4429
https://github.com/GeekyAnts/NativeBase/issues/4543#issuecomment-1021327199 @Viraj-10

[2022-06-27 05:17] Krithikj20 commented on #5107
Hi @Toshiyuki023Hori, Thank you for reaching out to us. We will look into this issue.

[2022-06-27 05:49] Krithikj20 commented on #5106
Hi @mathias-berg , Thank you for reaching out to us. We will look into it.

[2022-06-27 07:04] ankit-tailor commented on #5077
Hi @astriskit, This issue is fixed in version `3.4.7`. Let me know if it works for you.

[2022-06-27 07:04] #5077 closed

[2022-06-27 07:48] Toshiyuki023Hori commented on #5107
@Krithikj20
Sure. Thank you.

[2022-06-27 08:44] Viraj-10 commented on #5097
Hi @Great-hijack, We will release a new `rc` for `3.4.8` and by tomorrow we will release stable `3.4.8`

[2022-06-27 11:39] Viraj-10 commented on #4967
Hi @srmagura, We don't support the `Card` component yet. That's why we don't have documentation for it. you can use the `Box` or `Container` component.

[2022-06-27 11:39] #4967 closed

[2022-06-27 12:11] surajahmed commented on #4421
We're not currently focusing on macOS support. We might add this to our roadmap in the future. Thanks for your patience. Closing this for now. Feel free to reopen if you have something to discuss regarding this.

[2022-06-27 12:11] #4421 closed

[2022-06-27 12:28] Toshiyuki023Hori commented on #5107
I forgot to tell you my environtment.
Here is a part of my `package.json`

[code]

[2022-06-27 14:02] #4543 closed

[2022-06-27 14:03] ankit-tailor commented on #4429
Hi everyone, This issue is fixed in `3.4.0`. Let me know if this doesn't work for you.

[2022-06-27 14:03] #4429 closed

[2022-06-28 06:45] sfarazkhan commented on #2648
still having this floating label issue but only on production. locally it is all fine

[2022-06-28 07:39] ankit-tailor commented on #4002
Hi Everyone, We don't have support to open select programmatically but We might add it in the future versions. Thanks for your suggestions. Closing the issue for now. Feel free to open it if you have any queries.

[2022-06-28 07:39] #4002 closed

[2022-06-28 11:05] eonsang-lee commented on #5092
change user extendTheme like...
[code]

[2022-06-28 14:29] jvzTrifork opened #5111 "Select element takes focus from input element on react native web on Safari browser"
### Description

Only a single character is accepted on controlled input when a Select element is present

### CodeSandbox/Snack link

https://snack.expo.dev/MOBQ7fNEN

### Steps to reproduce

1. On Safari browser
2. In Expo snack, type a letter in input component - shows up
3. Type another letter - It doesn't show up

### NativeBase Version

3.4.7

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo

[2022-06-28 17:21] ongnicolas opened #5112 "Select Component: Option to use OS native style picker?"
### Description

Hi, I noticed in Android the picker's style is for iOS. Is there a way to use the native android picker??

### Problem Statement

Android shows iOS style picker

![Screenshot_1656436489](https://user-images.githubusercontent.com/66074385/176244090-025bf04f-dc72-48a4-8d2b-c1326d2b91dc.png)

### Proposed Solution or API

option for OS native style picker

### Alternatives

_No respo

[2022-06-28 23:11] jqwez commented on #4730
I had the same issue. All above suggestions did not work for me. By looking at the Popover section I was able see that the easiest way to negate this error was by adding the following code within the Menu component:

 isOpen={clearOpen} onClose={() => setClearOpen(!clearOpen)}

and the following for statefulness:

const [clearOpen, setClearOpen]= useState(false)

I am using NativeBase 3.4.7

[2022-06-29 02:39] pierrefrota commented on #5098
I have the same problem here

[2022-06-29 04:15] Krithikj20 commented on #5111
Hi @jvzTrifork, Thank you for reporting this issue. We will look into it.

[2022-06-29 04:18] Krithikj20 commented on #5112
Hi @madmeatballs, Thank you for reporting it. We will look into this issue.

[2022-06-29 15:46] Djauron commented on #4273
any update ?

[2022-06-29 17:27] srkds opened #5114 "Broken link for documentation review inside CONTRIBUTING.md"
### Description

Documentation review link is broken. It is giving 404. Need to update to new doc repository

### CodeSandbox/Snack link

none

### Steps to reproduce

1. Go to 'CONTRIBUTING.md'
2. Scroll down to 'ways to contribute and 2nd point'
3. Click on 'documentation updates'

https://github.com/GeekyAnts/NativeBase/blob/3d19108a4c0219a2069aef97d1beafa0efa8b2a9/CONTRIBUTING.md?plain=1#L27

[2022-06-29 21:46] ghoudi01 opened #5115 "haptic feedback"
### Description

we can add haptic feedback to BUTTON component as props

### Problem Statement

installing react-native-haptic-feedback and usgin there functionalitys in evry onPress method is difficult.

### Proposed Solution or API

using `react-native-haptic-feedback`

`<Button haptic=“impactLight”>
<Text>button with haptic feedback</Text>
</Button>`

### Alternatives

_No response_

### Addit

[2022-06-29 23:55] lanceturbes commented on #4431
Thank you for sharing these workarounds, everyone -- issue is still relevant. The `\\.svg$` adjustment inside `jest.config.ts`, specifically, worked for me.

[2022-06-30 01:36] dylan-westbury opened #5116 "Avatar - Expose onError"
### Description

Currently for the Avatar component, it is consuming the React Native Image onError method, which prevents an application handling an image loading error.

https://github.com/GeekyAnts/NativeBase/blob/master/src/components/composites/Avatar/Avatar.tsx

### Problem Statement

An application may want to handle an error when an image has an error, for example when a presigned url expi

[2022-06-30 04:26] Krithikj20 commented on #5114
Hi @srkds , Thank you for reporting the issue. We will look into it.

[2022-06-30 04:27] Krithikj20 commented on #5115
Hi @ghoudi01, Thank you for reaching out to us. We will look into it.

[2022-06-30 04:28] Krithikj20 commented on #5116
Hi @dylan-westbury, Thank you for reporting. We will look into this issue.

[2022-06-30 12:02] Viraj-10 commented on #985
Hi @zzyjiaxinmomo @iooi @Oct4Pie, Can you provide small snack example ?

[2022-07-01 02:51] Oct4Pie commented on #985
Hello, @Viraj-10. Here it is:
[code]

As you can see, `useToast` does not work in the `default` App function. I need the modal to be in `App` since the state variables must be passed to other screens. I couldn't find a way to solve this issue and wrote a similar component to toast, but it's not as efficient.

[2022-07-01 11:02] rileyy29 commented on #4153
Any update? Need this urgently...

[2022-07-01 18:43] duro commented on #5075
I'm eager to understand when this will land. We are running into issue with being unable to use certain latest versions of Expo modules which require react-native-web 0.18

[2022-07-01 22:38] rileyy29 commented on #4864
Is there any update on this yet?

[2022-07-02 00:53] mmfire118 opened #5120 "Flicker on Orientation Change"
### Description

When you switch from portrait to landscape mode and back, the buttons and screen flicker wildly.

### CodeSandbox/Snack link

https://snack.expo.dev/@miles542/93a7c5

### Steps to reproduce

1. Open snack on real device
2. Rotate device from portrait mode into landscape mode
3. Rotate device back into portrait mode
4. See flicker

### NativeBase Version

3.4.7

### Platform

- [X]

[2022-07-02 02:22] teckbeng-payboy commented on #5097
@Viraj-10  3.4.8 will be fixing this font issue right?

[2022-07-02 02:40] Viraj-10 commented on #5097
Hi @teckbeng-payboy, Yes we have released a `v3.4.8-rc.0`. you can try it. Will be releasing stable `v3.4.8`.

[2022-07-02 13:44] teckbeng-payboy opened #5121 "toggleColorMode is not working"
### Description

toggleColorMode is not working

### CodeSandbox/Snack link

-

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.4.7

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

toggleColorMode is not working on the latest stable version

[2022-07-03 14:59] rlfrahm commented on #5097
`v3.4.8-rc.0` seems to have fixed this issue for me.

[2022-07-03 17:35] miles-118 opened #5122 "Issues with Responsive Pages with Next and Solito"
### Description

Responsive Pages Break on Page Reload

### CodeSandbox/Snack link

https://github.com/miles-118/ssr-issue-example

### Steps to reproduce

1. Clone the repo: [https://github.com/miles-118/ssr-issue-example](https://github.com/miles-118/ssr-issue-example.git)
2. Run yarn on the root directory.
3. Then run yarn web on the root directory.
4. Open [http://localhost:3000](http://localh

[2022-07-03 22:17] sascha-kaleidoscode opened #5123 "Invalid UIAccessibilityTrait 'alert' when using AlertDialog"
### Description

I'm using NativeBase in my react native project (created with CRA). Currently I'm working on a small dialog system and ran into this error message: `Invalid UIAccessbilityTrait 'alert'`. The same happens when I'm trying to use the `Switch`-component, but in this case it's not even possible to override the `accessiblityRole` value. Am I missing something or is this erroneous behavi

[2022-07-04 05:06] Krithikj20 commented on #5120
Hi @mmfire118, Thank you for reporting this issue. We will try to fix it at the earliest.

[2022-07-04 05:09] Krithikj20 commented on #5121
Hi @teckbeng-payboy, Thank you for reporting. We will look into it.

[2022-07-04 05:10] Krithikj20 commented on #5122
Hi @miles-118, Thank you for reporting the issue. We will look into it.

[2022-07-04 05:11] Krithikj20 commented on #5123
Hi @sascha-kaleidoscode, Thank you for reporting. We will look into this issue.

[2022-07-04 08:16] koniushko commented on #4273
+1

[2022-07-04 08:22] sascha-kaleidoscode commented on #5123
I just realized that the error occurs only in combination with another package (@viro-community/react-viro)
So it's not a NativeBase issue. Sorry for the inconvenience.

[2022-07-04 08:22] #5123 closed

[2022-07-04 14:21] lcsjunior opened #5124 "Show toast does not display styles"
### Description

Show toast does not display styles

### CodeSandbox/Snack link

https://codesandbox.io/s/native-base-v3-template-mq6ox

### Steps to reproduce

const toast = useToast();

toast.show({
  title: 'Sign-in Failed',
  status: 'warning',
  variant: 'subtle',
  placement: 'top',
  description: error.response.data.error_description,
});

**Status, variant and more no longer work.**

### N

[2022-07-05 04:29] Krithikj20 commented on #5124
Hi @lcsjunior, Thank you for reporting this issue. We will look into it.

[2022-07-05 09:55] #5062 closed

[2022-07-05 11:18] #5049 closed

[2022-07-05 13:23] rayan1810 commented on #5122
Hey, @miles-118 you have to pass isSSR={true} in NativeBaseProvider if you are creating a server-side rendered website.

[2022-07-05 13:24] ankit-tailor commented on #5121
Hey @teckbeng-payboy , You've used `useColorMode` hook outside `NativeBaseProvider` and that's the reason you're not able to update the value. Try creating another component and use `useColorMode` hook there and pass that component as a children of `NativeBaseProvider`.

[2022-07-05 13:24] #5121 closed

[2022-07-05 13:26] ankit-tailor commented on #5114
Hey @srkds, Thanks for reporting the issue. The link will be fixed in the next release.