[2018-05-02 07:43] akhil-geekyants commented on #1845
@userbq201 currently there is no any props to support this. But you can wrap the `<Card/>` in a View and set border to this View. You can also override the default margin provided to the `<Card />`

Sample code
[code]

[2018-05-02 08:29] akhil-geekyants commented on #1849
@accateo This may be due to the presence of lock files. Can you try updating the package.json with the latest native-base version(2.4.3), delete the lock files(yarn.lock and package-lock.json), delete the node modules and run `yarn` or `npm install`.

[2018-05-02 09:00] IzzetYildirim commented on #1326
Hi @gooddaddy do you have any improvement on this? It seems a bit complicated to pass all theme keys of child elements in order to override maybe just one style.

[2018-05-02 09:46] akhil-geekyants commented on #1853
@alihesari  checked this. Changing font family is working fine. Check whether the fontFamily is supported. Attaching a gif.

Gif
![fontstyle](https://user-images.githubusercontent.com/27768184/39516785-98df60ba-4e1b-11e8-9257-6200da93eff2.gif)

[2018-05-02 11:29] jerryheir opened #1856 "Folder errors "..Utils/mapPropsTostyleNames" in native base after yarn install"
### Hi, so I did a yarn install on my project and I start getting the errors below

![bluestacks_screenshot](https://user-images.githubusercontent.com/29785255/39520798-db23106a-4e03-11e8-8ffa-33839e8ea537.jpg)

##### It is an issue from native base and the folder Utils should be changed to small letters, I have already done that and solved it by changing the folder name in my node modules-> nativ

[2018-05-02 11:38] akhil-geekyants commented on #1856
@jerryheir can you specify the native-base version you are using. Checked with version 2.4.3. Couldn't see this issue.

[2018-05-02 14:55] userbq201 commented on #1845
@akhil-geekyants border-radius

[2018-05-02 19:28] kstolte commented on #1856
I was using 2.4.3 and i was running into the same thing. it is probably related to windows machines viewing a change of `Utils` to `utils`... not sure of the best way for it to be resolved on the module side of things in this case. But renaming `node_modules/native-base/src/Utils` to `.../utils` and `node_modules/native-base/dist/src/Utils` to  `.../utils` worked for me as well.

[2018-05-02 20:50] grean opened #1858 "Tabs automatic scrolling same as issue #683"
Hi there,

When textAlign style is on 'center' or 'right', the tab scrolls to the second.

## react-native, react and native-base version
react-native V0.55.2, react V16.3.1, native-base V2.4.3
## Expected behaviour
Not scrolling when style is textAlign center or right
## Actual behaviour
scrolling on the next tab
## Steps to reproduce (code snippet or screenshot)
Same behavior as screenshot on is

[2018-05-03 07:12] akhil-geekyants commented on #1858
@grean checked this. Couldn't see anything like you mentioned. Attaching a gif.

Gif
![tabs](https://user-images.githubusercontent.com/27768184/39563759-144975e8-4ecf-11e8-8db4-2cadc9887810.gif)

Tested code
[code]

[2018-05-03 07:21] tnguyen-lh opened #1859 "CheckBox not tapable if checked bind to a state object property, work fine when bind single value"
## react-native, react and native-base version
    "react-native": "0.54.2",
    "native-base": "^2.3.10",

## Expected behaviour
In summary:
if I have
this.state = {
      qualified: false
}
and bind checked={this.state.qualified}, it is working fine
HOWEVER if I have
this.state = {
      registration: {qualified: false}
}
and bind checked={this.state.registration.qualified} , it is NOT working

[2018-05-03 07:28] akhil-geekyants commented on #1859
@tnguyen-lh check this Stackoverflow question https://stackoverflow.com/questions/43638938/updating-an-object-with-setstate-in-react

[2018-05-03 07:30] akhil-geekyants commented on #1859
Not a NativeBase issue.
Closing this issue.

[2018-05-03 07:30] #1859 closed

[2018-05-03 07:40] akhil-geekyants commented on #1843
@VanessaChu try creating a separate component for iosIcon and modify the icon styles there.

Code
[code]

[2018-05-03 12:08] #1420 closed

[2018-05-03 12:09] #1853 closed

[2018-05-03 13:53] codeFire97 commented on #1815
i have the same problem

versions:
-native-base: 2.4.3
-react-native: 0.53.3
-Node: 8.9.0
-Yarn: 1.5.1
-npm: 5.6.0

code:

`<Container >

                <Header hasTabs >
                    <Body>
                        <Title>Title</Title>
                    </Body>
                </Header>

                <Tabs locked initialPage={1}>
                    <Tab style={{width:10}} heading={<T

[2018-05-03 15:58] grean commented on #1858
Hi, thanks for the reply.

I tested your exemple in my context and it doesn't change nothing. It's exactly the same behavior.
I join 2 gifs with my tests
First with textAlign left with a bug when the input is fully filled, focus is lost and tab is moving a bit.
![bugtableftalign](https://user-images.githubusercontent.com/170967/39587691-6589e41c-4efa-11e8-86e8-534ac0f5721b.gif)

and an other exemp

[2018-05-03 16:31] lloydaf commented on #1105
[https://stackoverflow.com/questions/42169272/how-to-provide-picker-a-default-please-select-option](url)
Seems like a workaround for now.

[2018-05-03 17:39] franzejr commented on #38
Hey @sanketsahusoft , i think the popup they are referring are:

![image](https://user-images.githubusercontent.com/868917/39593303-c2c5a15e-4edf-11e8-8566-6ffcf43394dd.png)

:)

[2018-05-04 05:28] masumbillah commented on #1518
**My problem is solved**

 <ScrollView>
    <KeyboardAvoidingView style={styles.container} behavior="padding" enabled>
    .........
    .........
    </KeyboardAvoidingView>
 </ScrollView>

[2018-05-04 06:41] akhil-geekyants commented on #1858
@grean this happens till Android api version 23. Works fine from api version 24 onwards.

[2018-05-04 07:04] akhil-geekyants commented on #1845
@userbq201 try setting borderRadius to both Card and the top borders of top cardItem and bottom borders of bottom CardItem

Code
[code]

[2018-05-04 07:13] AdamChrist commented on #1790
same issue on reopen app
version : `"native-base": "2.3.3"`

[2018-05-04 10:45] grean commented on #1858
Ok i've just tested with an emulator with android 7.0 x86_64 api 24 and indeed it works fine :)
But what about users who are using devices on android 6.x and below ? do you think users get the bad behavior ?
And on the react native get started page, the RN team [preconize](https://facebook.github.io/react-native/docs/getting-started.html) :

What about this case of compatibility ?

[2018-05-04 10:49] codeFire97 commented on #1010
@AnthonyAltieri @ccoeder
I found a temporary solution to this problem
in constructor or componentDidMount method
`

        setTimeout(()=>{

            this.setState({activePage:1})

        },0)`
in render method
`

                <Tabs locked page={this.state.activePage}>

                    <Tab  heading={'tab1'}>
                        ...
                    </Tab>
                    <T

[2018-05-04 10:50] ccoeder commented on #1010
@codeFire97 thank you for the example, what is the version you are using?

[2018-05-04 10:58] codeFire97 commented on #1010
-native-base: 2.4.3
-react-native: 0.53.3
-Node: 8.9.0
-Yarn: 1.5.1
-npm: 5.6.0

[2018-05-04 11:04] hernanbruno97 commented on #1815
@r3wt
I found a temporary solution to this problem
first set some variable on the state in 0
state = { activePage:0 }
after, update this in componentDidMount method
`

    setTimeout(()=>{

        this.setState({activePage:1})

    },0)`
and use it in page property of tabs
`

            <Tabs locked page={this.state.activePage}>

                <Tab  heading={'tab1'}>
                    ...

[2018-05-04 16:26] rebirthtobi commented on #1481
There should be a prop to change it

[2018-05-04 16:29] xempie commented on #1010
@hernanbruno97 Thanks buddy! Finally a solution! It saved my life. It's working great 🥇 👍

[2018-05-04 17:39] M1chaelChen opened #1865 "Input automatically add padding top"
## react-native, react and native-base version
**react-native**: 0.55.3
**react**: 16.3.2
**native-base**: 2.4.1
## Expected behaviour
Input text should be aligned center.
## Actual behaviour
Input placeholder is aligned center, but input text has some padding on top
## Steps to reproduce (code snippet or screenshot)
[code]
## Screenshot of emulator/device
![image](https://user-images.githubuserco

[2018-05-04 17:57] VanessaChu opened #1866 "How to prevent Picker from jumping back to previous screen when item is selected?"
Current behaviour:
When value is selected from Picker, the picker modal closes.

Expected behaviour:
I do not want to close the modal until the user presses the back button.

How can I modify or configure the code to work this way?

[2018-05-04 18:12] kenkotch commented on #1010
@hernanbruno97 thanks for your solution. that'll work for now.

[2018-05-04 18:16] alihesari commented on #1853
@akhil-geekyants Hi, I'm using a Persian font named `IRANSans`. This font does not work on `Picker` and worked on other tag such `<Text>`

[2018-05-04 20:52] anonyzm commented on #1199
Finally managed to do this!
Just set _containerStyle_ for ListItem to
`borderBottomColor: 'transparent',
borderBottomWidth: 0,`

[2018-05-05 13:14] jaded-Viper commented on #550
This seems to be getting worse.  I have two Text Inputs side by side.  when focus on the left input it causes the tab to scroll slightly but when you focus on the right input the whole tab scrolls 50% to the next screen and the keyboard will not pop up.  Is there any fix for this on the horizon?

[2018-05-05 20:06] andidev commented on #1865
This should be solved for Item rounded in version 2.4.3 of native base

[2018-05-06 03:07] motogod opened #1867 "Can't render all of my data with CardItem"
HI,

I find that i can't render all of my data when i try to use example `Card`

Here is what i try call an API render the data in FlatList and render `Card`
[code]

In my renderRow function i will see 27 times `consol.log('renderRow => ');`
But actually in my device just see 6 times
<img width="374" alt="2018-05-06 11 01 52" src="https://user-images.githubusercontent.com/17781603/39669404-7b39f53

[2018-05-06 05:29] teddyteh opened #1868 "SwipeRow Remove Separator"
How do you remove the separator below a SwipeRow? Tried adding borderBottomWidth: 0 and borderColor: 'transparent' to styles as well as adding the noBorder prop but none worked.

[2018-05-06 08:13] AmirHosseinSalari opened #1869 "Scroll of Content with bottom button"
Hi , I want to place a button in the bottom of my page and also I want my page can scroll...
I try to use content but when I use this style for my content and button the page stop scrolling.
[code]

I also use contentContainerStyle for styling my content.
please help me. thanks

[2018-05-07 03:51] #1815 closed

[2018-05-07 04:08] #1849 closed

[2018-05-07 04:14] r3wt opened #1870 "you closed #1815 without fixing it."
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-05-07 04:14] r3wt commented on #1870
please reopen #1815

[2018-05-07 04:16] SupriyaKalghatgi commented on #1667
Check with NativeBase 2.4.3
Also check release notes for this

[2018-05-07 05:09] SupriyaKalghatgi commented on #1532
@raajnadar Yes, if there is any update in `native-base/src/theme`, then existing changes will be overwritten on ejecting theme
This is not merge process

[2018-05-07 06:25] #1842 closed

[2018-05-07 06:25] SupriyaKalghatgi commented on #1870
@r3wt #1815 was closed due to improper language

[2018-05-07 06:51] NaveenJayaram94 commented on #1532
I also faced same issue,

Remove
`lineHeight: 18`
from <Label> component , if you have given.
it worked for me

[2018-05-07 06:52] SupriyaKalghatgi commented on #1532
@NaveenJayaram94 You mean, modifying in ejected theme and not updating NativeBase version?

[2018-05-07 06:57] NaveenJayaram94 commented on #1532
@SupriyaKalghatgi
Native base theme works fine, doesn't need modification,
remove it from custom styles you have given to Lable or Item Component, if any.

[2018-05-07 06:57] SupriyaKalghatgi commented on #1532
@NaveenJayaram94 Yes, no need of embedding inline styles here

[2018-05-07 07:26] akhil-geekyants commented on #1853
@alihesari tried with IRANSansWeb. Attaching a gif.

Gif

![fontsupport](https://user-images.githubusercontent.com/27768184/39689906-f6d71f04-51f5-11e8-8bc9-e0d473735a25.gif)

[2018-05-07 07:28] akhil-geekyants commented on #1811
Closing this due to no activity

[2018-05-07 07:28] #1811 closed

[2018-05-07 07:34] akhil-geekyants commented on #1813
Closing this issue due to no activity.

[2018-05-07 07:34] #1813 closed

[2018-05-07 08:25] arvidkahl commented on #1856
Experiencing the same problem with 2.4.3 on a Mac as well, non-case-sensitive APFS volume.

[2018-05-07 08:30] d4n1b commented on #1856
Same for me.

[2018-05-07 08:44] akhil-geekyants commented on #1803
@Slessi checked this. It is working fine for me. Attaching a gif

Gif

![floatinglabel](https://user-images.githubusercontent.com/27768184/39693195-da28cbea-5200-11e8-96a2-05c6b4539bd9.gif)

[2018-05-07 08:58] Slessi commented on #1803
@akhil-geekyants I concede that `getRef` does actually work (had a mistake on my part) but in your gif you've hidden the missing typing errors for `_root` by setting `password` and `username` to `any`

[2018-05-07 09:13] SupriyaKalghatgi commented on #1856
@jerryheir @kstolte @arvidkahl @d4n1b
after installing `node_modues`, clear cache before run

[code]

[2018-05-07 10:26] akhil-geekyants commented on #1867
@motogod just remove `<Content>` from renderRow() and return only the `<Card/>` component. Read more about native-base screen structure [here](http://docs.nativebase.io/Components.html#anatomy-headref)

[2018-05-07 10:56] akhil-geekyants commented on #1869
@AmirHosseinSalari try placing the button outside the `<Content/>` component and set the position to absolute

[code]

[2018-05-07 11:04] SupriyaKalghatgi commented on #1869
@AmirHosseinSalari Why not try this structure

[code]

[2018-05-07 11:14] akhil-geekyants commented on #1868
@teddyteh setting SwipeRow style borderBottomWidth to 0 is working for me. Attaching a gif

Code
[code]
Gif

![swiperow](https://user-images.githubusercontent.com/27768184/39699231-d880832c-5215-11e8-973c-b65aca088473.gif)

[2018-05-07 12:58] motogod commented on #1867
Thanks for reply @akhil-geekyants,  its working !  I thought `<Content />` is necessary. It helps a lot ,thanks.

[2018-05-07 14:24] mauron85 opened #1874 "onValueChange not triggered on input based elements for touch events when inside List"
## react-native, react and native-base version
react-native-web: 0.6.1
react: 16.3.2
native-base: 2.4.3

## Expected behaviour
Elements like Switch, Input... doesn't fire onValueChange on mobile browsers and Chrome when switched to emulate touch events and when put inside `<List>`.

How to reproduce:
[code]
Expecting `this.toggleSwitch2` to be called when Switch is toggled.

## Actual behaviour
`t

[2018-05-07 14:25] MatheusLima7 opened #1875 "How do I filter non native base list?"
How do I filter non native base list?
[code]
[code]

[2018-05-07 16:12] r3wt commented on #1870
improper language? the only improper language in that thread was posted 2 week ago and the message was edited to remove the improper language. you just closed that issue out of spite.

[2018-05-08 01:14] franzejr commented on #1856
@kstolte I run into the same issue and cleaning the cache did help me. I just install native-base again and it worked :)

[2018-05-08 05:10] #1867 closed

[2018-05-08 05:16] SupriyaKalghatgi commented on #1875
@MatheusLima7 Did you check docs for List?

![image](https://user-images.githubusercontent.com/13464885/39739151-04d43cec-52ad-11e8-8327-63f3b0f405bb.png)

[2018-05-08 06:45] akhil-geekyants commented on #1874
@mauron85 saw your comment here https://github.com/necolas/react-native-web/issues/932#issuecomment-387289765.
Can we close this issue.

[2018-05-08 06:48] selvesandev commented on #1325
How can i disable or enable a particular tab.

[2018-05-08 07:11] mauron85 commented on #1874
@akhil-geekyants Yes. It seems to be more or less react-native-web issue after all. Closing

[2018-05-08 07:11] #1874 closed

[2018-05-08 13:26] rajgour opened #1877 "How to change the width of the Toast?"
Greetings,

## react-native, react and native-base version
    "native-base": "^2.4.2",
    "react": "^16.2.0",
    "react-native": "^0.52.3",

## Expected behaviour
I would like to make the Width of the toast 100% in ios

## Actual behaviour
Width of the toast is 100% in Android whereas in ios ToastContainer is adding 20pt on each side

## Screenshot of emulator/device
![image](https://user-image

[2018-05-08 14:14] roma86 opened #1878 "This is why my client says react native sucks"
Hi! Thanks for huge work for NativeBase!
I understand how hard it is to develop and maintain this framework, but there are some glitches i can not pass by.

I just run `yarn run ios` on freshly downloaded master branch and opened **Header/Icon and Text Buttons**.
![rnb](https://user-images.githubusercontent.com/3889620/39762039-530554de-52e2-11e8-8c21-fc7c39024ef0.jpg)
Did you see how title text a

[2018-05-09 02:03] VanessaChu commented on #1866
@akhil-geekyants This didn't work for me unfortunately

[2018-05-09 06:04] SupriyaKalghatgi commented on #1877
@rajgour Well this is not bug!
NativeBase Toast is as per design guidelines, hence takes complete width for Android and not for iOS

You can go ahead customizing NativeBase components as per your project requirement.
To have full width Toast for iOS, you need to modify this line: https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/ToastContainer.js#L29

This is will result in Toast with

[2018-05-09 06:05] #1877 closed

[2018-05-09 08:03] ruk91 commented on #1317
@MarcAlx  Thanks a lot

[2018-05-09 10:00] Slessi opened #1880 "@types/react-native >= 0.55.8 incompatible with native-base <= 2.4.3"
https://github.com/DefinitelyTyped/DefinitelyTyped/commit/4abbfb42ff02fbdf3584f6285238d82c4ccbeb14

The above change to the `@types/react-native` package sadly breaks pretty much all RN type extensions in your types

ex:
[code]

## react-native, react and native-base version
@ types/react-native: `0.55.8`
native-base: `2.4.3`

Types are compatible up to `0.55.7`

[2018-05-09 14:35] akhil-geekyants commented on #1866
@VanessaChu checked this locally. Working fine for me. Attaching a gif.
![picker](https://user-images.githubusercontent.com/27768184/39820772-34d4e190-53c4-11e8-89c8-cee6f3f8f7ab.gif)

[2018-05-09 17:09] sergchernata commented on #1850
+1

[2018-05-09 18:06] mowbell opened #1881 "Issue text overlow on Input component using redux-form with native-base"
I have an issue when I try to use redux-Form Field with native base **Input** component. The input behavior is weird on iOS (simulator and devices).
## Actual behaviour
When I test the implementation suggested on docs [ReduxForm Example](https://docs.nativebase.io/docs/examples/ReduxFormExample.html)
here suggested code :
[code]
here text overflow issue (input is multiline):
(Also doesn't work put

[2018-05-09 22:59] VanessaChu opened #1882 "Adding a Picker Item"
**FIRST QUESTION**
Adding this line throws the error <Picker.Item label={'create a message'} value={'create'} />
Cannot read property 'value' of undefined
ExceptionsManager.js:63
Unhandled JS Exception: Cannot read property 'value' of undefined

What I want to implement is
First picker item is "Create a Message"
The rest are the messages

                <Picker
                    style={{ height

[2018-05-10 04:18] hpelitebook745G2 commented on #1850
are there any updates?
i've tried removing node_modules and doing npm install. i still got the error.
here's my versions:
`react-native-cli: 2.0.1`
`react-native: 0.47.2`
`"native-base": "^2.3.1",`

[2018-05-10 04:44] NguyenPhatBG opened #1883 "animationEnabled = false props react-native-router-flux"
react-native-router-flux lib have animationEnabled props for change to exactly tab when user interact.
Incredible performance apps. Does NativeBase have props similar?

[2018-05-10 05:39] #1869 closed

[2018-05-10 05:39] #1868 closed

[2018-05-10 06:31] alihesari opened #1885 "Persian fonts doesn't work correctly for Picker in Android"
Please see those images:
In these images you can the use of IRANSansWeb and IRANSansMobile for input and Picker.
IRANSansWeb and IRANSansMobile for input work correctly, but these two fonts for Picker are not working correctly. Why?

![screen shot 1397-02-20 at 10 40 10 am](https://user-images.githubusercontent.com/8302633/39855484-5d5d3a36-5441-11e8-9e11-e06c346b70de.png)
![screen shot 1397-02-20

[2018-05-10 07:49] akhil-geekyants commented on #1882
@VanessaChu you can overcome this issue by adding the `create a message` as the initial item(object) to messages array. You can also check placeHolder prop of Picker for iOS. See docs [here](http://docs.nativebase.io/Components.html#picker-placeholder-headref).

`Picker.Item`'s label is designed to accept only string value for label.  Adding an image to label is not possible as of now.

[2018-05-10 07:51] SupriyaKalghatgi commented on #1882
Adding an image to the Picker.Item label is not possible since this is not supported by React Native yet

[2018-05-10 10:11] akhil-geekyants commented on #1885
@alihesari checked this. Can you check the gif

Gif
![test](https://user-images.githubusercontent.com/27768184/39864805-783ef07a-5468-11e8-924f-8ce514c8a3b4.gif)

[2018-05-10 10:25] doreentseng commented on #985
@Zeratyll Hey! It doesn't work for me at all, the toast still appears behind the Modal.

[2018-05-10 10:43] hpelitebook745G2 commented on #1850
I still got unexplainable errors after upgrading so I solved this by manually downloading `rubicon-icon-font.ttf` and pasted it in `node_modules\native-base\Fonts\`

[2018-05-10 10:49] sergchernata commented on #1850
For the record, I ended up removing `node_modules` folder, dumping `watchman`  cache, dumping other caches and using the following versions:

[code]

Now everything seems to run smoothly.

[2018-05-10 10:50] Peeeep commented on #1790
Same here @2.4.3

[2018-05-10 11:01] SupriyaKalghatgi commented on #1850
Latest fixed on `master`
Release by EOD

[2018-05-10 11:10] alihesari commented on #1885
@akhil-geekyants You are checking this problem in IOS, but I have this problem in android!

[2018-05-10 11:11] akhil-geekyants commented on #1881
@mowbell can you try setting style of `<Input/>` to
[code]

[2018-05-10 11:56] akhil-geekyants commented on #1885
@alihesari NativeBase Picker for Android is a direct implementation of React Native Picker. React Native Picker does not allow styling text for Android. See react native Picker docs [here](https://facebook.github.io/react-native/docs/picker.html)

[2018-05-10 12:38] akhil-geekyants commented on #1885
@alihesari not sure on custom fonts. Found this link for android supported fonts https://stackoverflow.com/a/39141949/5367816

[2018-05-10 13:12] alihesari commented on #1885
@akhil-geekyants Ok, Thanks. I'll try it.

[2018-05-10 15:50] sabbiu opened #1886 "How to detect tab change?"
As, no lifecycle method is called when tab is changed? How to detect onTabChange?

Tried:

        <Tabs
          initialPage={0}
          tabBarPosition="bottom"
          // onChangeTab={({ i, ref, from }) => console.log(i, ref, from)}

trying onChangeTab as shown above neither outputs console.log() nor changes the tab. The app freezes when doing so.

[2018-05-10 17:01] tuomohopia commented on #1344
@SimonVuong did you ever get this sorted out? I'm running to the same problem and haven't been able to figure out a solution yet.

[2018-05-10 18:42] rajgour commented on #1877
Is there a way to customize it with variables? I don't see the ToastContainer.js in the components. Can you give me an example?

[2018-05-10 20:47] Vitormdias opened #1887 "Close SwipeRow"
Hey there, I'm using SwipeRow component and need to close the row, I couldn't find a way to do that, is there a way? If not I think it's a very useful feature

[2018-05-11 04:19] ggpw opened #1888 "Text in Segment Button not Consistent"
Hi! Thanks for this awesome NativeBase!

I got this weird behaviour on text in Segment Button. It text is inconsistent, some device it display actual text, some display it text to be capital case.

## react-native, react and native-base version
    "react": "16.3.0-alpha.1",
    "react-native": "0.54.4",
    "native-base": "^2.3.3",
## Expected behaviour
   "This Text"
## Actual behaviour
  "THIS

[2018-05-11 05:30] SupriyaKalghatgi commented on #1885
@alihesari Can you close this issue then?

[2018-05-11 05:45] akhil-geekyants commented on #1883
@NguyenPhatBG you can check the default animation provided by NativeBase tabs [here in docs](http://docs.nativebase.io/Components.html#tabs-def-headref). If you wan't to disable swipe, you can set  the Tabs prop `locked={true}`

[2018-05-11 06:12] SupriyaKalghatgi commented on #1886
@sabbiu https://github.com/skv-headless/react-native-scrollable-tab-view#props

[2018-05-11 06:18] SupriyaKalghatgi commented on #1877
@rajgour

- As I said previously,

Hence no readily available variables in this case.

-

Check links shared in previous comment.

-

Yes you can fork it to have your type of component

[2018-05-11 06:51] akhil-geekyants commented on #1888
@ggpw try setting the uppercase props of NativeBase Text to false.

[code]

[2018-05-11 07:27] ggpw commented on #1888
Thanks for the answer. It worked. Didn't know that props exist.

[2018-05-11 07:29] #1888 closed

[2018-05-11 07:32] SupriyaKalghatgi commented on #1818
Fixed with [2.4.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.4)

[2018-05-11 07:32] #1818 closed

[2018-05-11 07:33] SupriyaKalghatgi commented on #1850
Fixed with [2.4.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.4)

[2018-05-11 07:33] #1850 closed

[2018-05-11 07:33] SupriyaKalghatgi commented on #1731
Fixed with [2.4.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.4)

[2018-05-11 07:34] SupriyaKalghatgi commented on #1844
Fixed with [2.4.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.4)

[2018-05-11 07:34] #1844 closed

[2018-05-11 07:34] SupriyaKalghatgi commented on #1847
Fixed with [2.4.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.4)

[2018-05-11 07:34] #1847 closed

[2018-05-11 07:35] SupriyaKalghatgi commented on #1843
Fixed with [2.4.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.4)

[2018-05-11 07:35] #1843 closed

[2018-05-11 07:35] SupriyaKalghatgi commented on #457
Fixed with [2.4.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.4)

[2018-05-11 07:35] #457 closed

[2018-05-11 07:35] SupriyaKalghatgi commented on #1481
Fixed with [2.4.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.4)

[2018-05-11 07:53] SupriyaKalghatgi commented on #1875
@MatheusLima7 This issue will be closed in a day in case of no activity

[2018-05-11 07:54] SupriyaKalghatgi commented on #1866
@VanessaChu This issue will be closed in a day in case of no activity

[2018-05-11 08:17] NguyenPhatBG commented on #1883
![capture](https://user-images.githubusercontent.com/33904172/39913990-e49ac1a2-552d-11e8-8d68-69766108bd20.PNG)
I had try before.This is my setting tabs, but it's not work for me!
![capture1](https://user-images.githubusercontent.com/33904172/39914116-3cf38974-552e-11e8-8791-00c009a92114.PNG)
and my tab settings!

[2018-05-11 08:34] NguyenPhatBG commented on #1883
https://github.com/GeekyAnts/NativeBase/issues/1676
I had try it before, But it's not my mean! I mean that the content while we change tab, it not pass through another content tabs, like animationEnabled = false props react-native-router-flux :)
Can you provide solution for this task !

[2018-05-11 08:51] akhil-geekyants commented on #1880
@Slessi tested with @ types/react-native: 0.55.12, didn't show any error/warning.
Posting Package.json

[code]

[2018-05-11 09:08] Slessi commented on #1880
@akhil-geekyants /shrug

Right you are... Didn't notice there was a `legacy-properties.d.ts` - my project doesn't use it for some reason

[2018-05-11 09:08] #1880 closed

[2018-05-11 09:30] NguyenPhatBG commented on #1883
Thanks @akhil-geekyants , It's work now! Have a great day! 👍

[2018-05-11 09:32] #1883 closed

[2018-05-11 09:54] JungleCatSW commented on #1834
did you find a solution to this ?

[2018-05-11 12:25] #1885 closed

[2018-05-11 17:28] sabbiu commented on #1886
Turns out, `console.log()` was making my app freeze. Removing that and implementing actual method is working as promised.

[2018-05-11 17:28] #1886 closed

[2018-05-11 18:14] edumelzer commented on #1121
@akhil-geekyants the problem occurs when using the left back button on Android, not closing completelly the app. I'm using NativeBase (2.4.2) and the problem is still present.

Btw, I solved by adding this to my main component:
[code]

[2018-05-11 19:04] brentoneill commented on #1250
Still having issues with this on `2.4.3`

[2018-05-11 19:06] andidev commented on #1878
I must say I'm a bit disappointed myself with the issues with this framework. This issue has already been reported and closed without being fixed, see #1724 . I stopped caring about this issue because I struggled to get #1731 fixed which was not easy. It took three releases to get #1731 fixed. Even though I provided a concrete example of the bug and a hint of what may be wrong the fix was not test

[2018-05-11 19:07] andidev commented on #1724
This is by the way not fixed.

[2018-05-12 14:25] dawnmist commented on #1543
I am starting to suspect that the only way to do it is to stash a copy that you can access somewhere (for example in a Redux store) and then pull that copy out separately to anything in native-base.

I'd really rather that there was a way to access and pass down the variables for reuse when using connectStyle. It's not really a problem if you only use a single theme (just import the variable file

[2018-05-12 22:34] mjstelly opened #1892 "Container component - height prop ignored."
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-05-14 04:01] dannysood opened #1893 "Tabs demo doesnt render correctly on selecing tab if initialPage not = 0"
## react-native, react and native-base version
"native-base": "^2.4.4",
"react": "^16.3.1",
"react-native": "0.55.4",
"react-navigation": "^2.0.1"

## Expected behaviour
replicating demo at https://docs.nativebase.io/Components.html#tabs-def-headref.
The tab view selected using initialPage should render correctly and and the styling should not break for underline style of tab button.

## Actual be

[2018-05-14 05:25] #1866 closed

[2018-05-14 05:26] #1882 closed

[2018-05-14 05:28] akhil-geekyants commented on #1881
Closing this issue due to no response

[2018-05-14 05:28] #1881 closed

[2018-05-14 05:40] SupriyaKalghatgi commented on #1731
@andidev Thank you for your patience, and apologize the delay

[2018-05-14 05:42] SupriyaKalghatgi commented on #1121
@edumelzer We will re-check on this

[2018-05-14 05:46] SupriyaKalghatgi commented on #1724
@andidev Refactoring Header component

[2018-05-14 05:53] alwex commented on #1121
Same for me on native base v2.3.10

[2018-05-14 05:56] SupriyaKalghatgi commented on #1893
@dannysood Regarding why #1815 was closed, check #1870

[2018-05-14 06:26] akhil-geekyants commented on #1893
@dannysood as a workaround can you try this

Code
[code]
Gif
![tabs](https://user-images.githubusercontent.com/27768184/39981244-5d2472c6-576d-11e8-9999-2ffe85dde7c9.gif)

Let us know, if this works well or not.

[2018-05-14 08:28] akhil-geekyants commented on #1121
@alwex can you try edumelzer's  solution https://github.com/GeekyAnts/NativeBase/issues/1121#issuecomment-388443807

[2018-05-14 09:41] dannysood commented on #1893
@SupriyaKalghatgi Ohk thanks. Its important to use proper language. Sorry it wasnt clear from the ticket initially.

@akhil-geekyants Thanks for the quick reply and the workaround and it gets the job done but it is hacky (Tab amy have network calls or quick transition leads to a just a bit poorer UX). It will be fixed properly right? That is what the bug tag here is for?  I am quite new to react-n

[2018-05-14 09:59] akhil-geekyants commented on #1892
@mjstelly NativeBase Container is outermost component. Use View instead of Container, to set a specific height.
Read about NativeBase screen structure [here](http://docs.nativebase.io/Components.html#anatomy-headref)

[2018-05-14 13:47] SupriyaKalghatgi commented on #1892
@mjstelly Closing this issue, since this seems to be wrong use case

[2018-05-14 13:47] #1892 closed

[2018-05-14 14:36] AleskiWeb opened #1895 "Toast and ActionSheet both cause crashes on call"
Hey there,

First of all, great project here. Makes prototyping very quick and basically has almost everything you need for your production application.

However there is two components that are causing me issues (and I see them logged in Firebase Crashlytics a lot) and that is the `Toast` and `ActionSheet`.

![image](https://user-images.githubusercontent.com/8318899/40004000-a64ff2a8-578c-11e8-99

[2018-05-14 19:33] gersonmontenegro opened #1896 "How to prevent or disabled click in a Tab?"
Hi!
I'm making a step-by-step module with Tabs, and I would like to know how to disabled a tab that won't was show up previously.

Thanks

[2018-05-14 23:42] CaioPaiola commented on #882
+1

[2018-05-15 06:00] akhil-geekyants commented on #1895
@AleskiWeb can you try adding [this](https://github.com/GeekyAnts/NativeBase/issues/1121#issuecomment-388443807) to your code https://github.com/GeekyAnts/NativeBase/issues/1121#issuecomment-388443807

[2018-05-15 07:02] akhil-geekyants commented on #1896
@gersonmontenegro this is not supported as of now.

[2018-05-15 09:06] alwex commented on #1121
@akhil-geekyants this solution works, but it is more a workaround than a real solution

[2018-05-15 09:27] akhil-geekyants commented on #1121
@alwex this will be fixed in the next release. See PR https://github.com/GeekyAnts/NativeBase/pull/1700

[2018-05-15 09:31] akhil-geekyants commented on #1895
@AleskiWeb this issue will be fixed once this PR is merged. See PR https://github.com/GeekyAnts/NativeBase/pull/1700

[2018-05-15 10:38] akhil-geekyants commented on #1365
Checked this. Working fine with the latest version(2.4.4).
Code
[code]
Gif
![deckswiper](https://user-images.githubusercontent.com/27768184/40051827-b9ece1e0-5859-11e8-844f-b7c35ffa3100.gif)

Closing this issue due to no activity.

[2018-05-15 10:38] #1365 closed

[2018-05-15 11:05] priyanga2496 commented on #636
@sankhadeeproy007
Hi could u pls tell me how to get state values assigned for picker dynamically?

[2018-05-15 11:07] #826 closed

[2018-05-15 11:10] AleskiWeb commented on #1895
@akhil-geekyants - In his workaround, he says "main component" is where he added that. Is that the top-most level component or does he mean in the component where the Toast/ActionSheet is instantiated?

Also, thanks for the PR. Means I don't have to find/make an alternative one 👌

[2018-05-15 12:54] akhil-geekyants commented on #1895
@AleskiWeb it is safer to use it in all components where Toast/ActionSheet is used.

[2018-05-15 13:18] akhil-geekyants commented on #1858
See open issue #550

[2018-05-15 13:18] #1858 closed

[2018-05-15 16:08] AleskiWeb commented on #1895
@akhil-geekyants Still getting an issue when adding that unmount workaround. When will the PR likely be merged?

[2018-05-15 17:25] egeniegithub commented on #870
I need to use my .png icon in Tabheading

[2018-05-15 19:32] jahnavi310 opened #1898 "change tabActiveBgColor for footerTab?"
Hi guys,

I am trying to change the `tabActiveBgColor` for the `footerTab` component, but for some reason its not getting picked up.

Here is the change I made in the platform.js after ejecting the theme

`tabActiveBgColor: platform === "ios" ? "red" : "red"`

Its not working for either android or ios. Any ideas? Thanks in advance.

[2018-05-15 21:01] ekimlinger commented on #1825
This issue should not have been closed since this does not work on iOS.

@VanessaChu According to the RN docs, you can disable the input for their picker by passing an `enabled` flag, which works just fine on android.

This however does not work on iOS and there is not currently a way to disable it.

[2018-05-16 06:11] akhil-geekyants commented on #870
@egeniegithub tried a sample code

Code
[code]
![simulator screen shot - iphone 6 - 2018-05-16 at 11 39 26](https://user-images.githubusercontent.com/27768184/40099520-0154d75a-58fe-11e8-8116-fbaa89b23c3a.png)

[2018-05-16 06:28] SupriyaKalghatgi commented on #1878
Check `fix/header` for fix

[2018-05-16 06:42] akhil-geekyants commented on #1898
@jahnavi310 checked this. It is working fine for me. Attaching a gif

Code
[code]
Gif

![footertab](https://user-images.githubusercontent.com/27768184/40100633-445e1ba2-5902-11e8-984b-b2c84f4c4092.gif)

[2018-05-16 06:48] SupriyaKalghatgi commented on #1825
@ekimlinger Your statement sounds invalid

As said earlier

![image](https://user-images.githubusercontent.com/13464885/40100888-3744ffca-5903-11e8-9842-f8a072dd7b99.png)

Since React Native supports this only for Android, we cannot help in adding this to iOS

[2018-05-16 06:49] akhil-geekyants commented on #1898
@jahnavi310 checked this. It is working fine. Attaching a gif

Code
[code]
Gif

![footertab](https://user-images.githubusercontent.com/27768184/40100930-61b3b0b2-5903-11e8-8ce6-8d156d330693.gif)

[2018-05-16 11:39] mopilo opened #1901 "Tab Bar set to middle"
Is there a way i can customize the tab bar by positioning it at the middle of the screen instead footer

[2018-05-16 11:40] SupriyaKalghatgi commented on #1901
Please make use of NativeBase slack for queries related to components usage

[2018-05-16 15:40] jahnavi310 commented on #1898
perfect, thank you so much.. I had something whacky about my imports!!

[2018-05-16 15:40] #1898 closed

[2018-05-16 19:33] sandropf commented on #474
@sankhadeeproy007  Could you please reconsider adding this as input-mask is really common stuff in any of the UI frameworks.²

[2018-05-17 05:55] #1901 closed

[2018-05-17 05:57] #1896 closed

[2018-05-17 06:51] #1875 closed

[2018-05-17 06:53] #806 closed

[2018-05-17 08:36] taeyzzz opened #1903 "footer android look weird"
Hello

i try to make footer like this
<img width="448" alt="screen shot 2561-05-17 at 3 29 55 pm" src="https://user-images.githubusercontent.com/32537120/40166117-f8ad5e34-59e7-11e8-9490-bac81959d89d.png">

###
 this is my code
[code]

[code]

### this is result
In IOS I think it's good for now
<img width="362" alt="screen shot 2561-05-17 at 2 50 38 pm" src="https://user-images.githubusercontent.c

[2018-05-17 09:00] StudioAleph opened #1904 "Unable to change Tabs backgraound color"
`style={{backgroundColor:"red"}}` doesn't work in tab unable to change background color
how to change tab background color ?

[code]

[2018-05-17 09:21] NitroGhost opened #1905 "types: react-native types are wrong with 16.3+"
the latest version of react-native types are incompatible with the native base types. the RN types no longer have ListViewStatic, ScrollViewStatic or ViewStatic

[2018-05-17 15:12] mopilo commented on #1901
@akhil-geekyants  how i change the tab color?

[2018-05-17 17:07] never00miss commented on #1168
react-native-tab-view doesn't have dynamic width on each tab, but your tabs can handle that. So anyone was resolve this?

[2018-05-18 10:48] akhil-geekyants commented on #1904
@StudioAleph use tabStyle and activeTabStyle of `<Tab/>`.

Usage
[code]

[2018-05-18 10:55] akhil-geekyants commented on #1903
@taeyzzz see this issue https://github.com/GeekyAnts/NativeBase/issues/1260

[2018-05-18 10:57] akhil-geekyants commented on #1905
@NitroGhost see PR https://github.com/GeekyAnts/NativeBase/pull/1891

[2018-05-18 14:02] SupriyaKalghatgi commented on #1878
@roma86 @andidev Fixed with [2.4.5](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.5)

Check [NativeBase-KitchenSink](https://github.com/GeekyAnts/NativeBase-KitchenSink) for updated code

Check [NativeBase Docs Header](https://docs.nativebase.io/Components.html#header-def-headref)

[2018-05-18 14:02] #1878 closed

[2018-05-18 15:01] kstolte commented on #1895
@akhil-geekyants I am also still getting the issue after adding the unmount workaround. I have manually altered my node_module to match the changes to your request and it has resolved my issue entirely. Do we have an ETA on #1700 being merged? I see it has been open since mid-March.

[2018-05-18 15:11] AleskiWeb commented on #1895
@kstolte I did the same 😂 - just awaiting release

[2018-05-18 15:53] arnoldpaye opened #1906 "CheckBox components doesn't have testID prop available"
## react-native, react and native-base version
- react-native: 2.4.5
- react: 16.3.2
- react-native: 0.55.2
## Expected behaviour
`CheckBox` component having available `testID` prop
## Actual behaviour
`CheckBox` component doesn't have `testID` prop
## Steps to reproduce (code snippet or screenshot)
I want to use `testID` prop but it is not available:

<img width="649" alt="screen shot 2018-05-18

[2018-05-18 16:03] thienhaole92 opened #1907 "Header is weird on android"
I use NativeBase in my project when but somethings wrong with android
![screenshot_20180518-225802](https://user-images.githubusercontent.com/10322005/40245318-82955f54-5aef-11e8-88a9-1aa1cab989b3.png)

[2018-05-18 19:18] chelenli commented on #1512
How did you solve the problem

[2018-05-20 03:28] normdoow commented on #1501
I am having this same issue when my tabs are inside a ScrollView

[2018-05-20 04:25] #1904 closed

[2018-05-20 04:29] StudioAleph commented on #1904
how to change text color?

[2018-05-20 08:26] Angelk90 commented on #1501
@akhil-geekyants, @SupriyaKalghatgi :  Are there any news by chance? Were you able to get it done?

[2018-05-20 08:44] ahmed-taj opened #1909 "Typescript compiler error: react-native has no exported member 'LayoutProps'"
Native-base + React-native + Typescript don't work well

## Versions

**react-native:** 0.55.4
**types/react-native:** 0.55.14
**native-base:** 2.4.5

## Expected behaviour

Runing TypeScript compiler would throw no errors

## Actual behaviour

[code]

## Steps to reproduce (code snippet or screenshot)

**package.json**

[code]

**tsconfig.json**

[code]

Thank you for this great library :)

[2018-05-20 08:52] hb2708 opened #1910 "Header Component Implementation giving error"
Hello Native-Base team.

I tried to integrate the Header Component but ran into the following error

##Versions
react-native-cli: 2.0.1
react-native: 0.54.2 ("react-native": "https://github.com/expo/react-native/archive/sdk-26.0.0.tar.gz",)
"expo": "^26.0.0",
"native-base": "^2.4.5",
"react": "16.3.0-alpha.1",
"react-navigation": "^1.5.11"

## Expected behaviour
It should show the header as expect

[2018-05-20 09:16] ahmed-taj commented on #1909
Oops I think this is duplicate of #1905

[2018-05-20 09:16] #1909 closed

[2018-05-21 05:59] SupriyaKalghatgi commented on #1895
Will be merged this week, with some new components

[2018-05-21 06:04] SupriyaKalghatgi commented on #1907
@thienhaole92 Tell us more about your `package.json` and code snippet of this screen

[2018-05-21 06:08] SupriyaKalghatgi commented on #1336
@EvHaus About `contentContainerStyle`, yes we will add this
Sorry! missed this

[2018-05-21 06:19] akhil1988 commented on #1910
@hb2708 checked your code. It is working fine for me (except for the Icon name prop value warning). Attaching a gif.

![header](https://user-images.githubusercontent.com/14923943/40293106-e66af530-5cec-11e8-971e-79d3c13f6a79.gif)

[2018-05-21 06:26] SupriyaKalghatgi commented on #1878
![screen shot 2018-05-15 at 11 05 55 am](https://user-images.githubusercontent.com/13464885/40293278-d6438324-5ced-11e8-8a15-403c3b44f550.png)
![screen shot 2018-05-15 at 11 11 02 am](https://user-images.githubusercontent.com/13464885/40293286-e2a4c286-5ced-11e8-9c28-e76129f08e5c.png)
![screen shot 2018-05-15 at 11 15 28 am](https://user-images.githubusercontent.com/13464885/40293297-ea42e09a-5ced

[2018-05-21 06:34] akhil-geekyants commented on #1910
@hb2708 checked your code. It is working fine for me (except for the Icon name prop value warning).
Try removing code for opening drawer from Icon's onPress prop, if it is not defined.

Attaching a gif.

![header](https://user-images.githubusercontent.com/14923943/40293106-e66af530-5cec-11e8-971e-79d3c13f6a79.gif)

[2018-05-21 06:36] SupriyaKalghatgi commented on #1910
@hb2708 I tried Header with iOS and Android, all fine

Also why `onPress` with **Icon**?

[2018-05-21 08:46] thienhaole92 commented on #1907
`{
  "name": "OWAPP_RN",
  "version": "0.1.0",
  "private": true,
  "devDependencies": {
    "jest-expo": "~27.0.0",
    "react-devtools": "^3.2.1",
    "react-native-scripts": "1.14.0",
    "react-test-renderer": "16.3.1"
  },
  "main": "./node_modules/react-native-scripts/build/bin/crna-entry.js",
  "scripts": {
    "start": "react-native-scripts start",
    "eject": "react-native-scripts eject"

[2018-05-21 10:02] SupriyaKalghatgi commented on #1907
@thienhaole92 Now that you mentioned about expo
Need `app.json` as well

[2018-05-21 10:03] SupriyaKalghatgi commented on #1907
@thienhaole92 You can also check https://github.com/GeekyAnts/NativeBase-KitchenSink/tree/CRNA for working example

[2018-05-21 10:03] thienhaole92 commented on #1907
app.json
[code]

[2018-05-21 10:06] SupriyaKalghatgi commented on #1907
@thienhaole92 Check the `app.json` of NativeBase-KitchenSink, link shared above
And include `androidStatusBar`

[2018-05-21 10:06] thienhaole92 commented on #1907
@SupriyaKalghatgi thank you for helping my

[2018-05-21 10:09] SupriyaKalghatgi commented on #1907
@thienhaole92 were you able to fix the issue?

[2018-05-21 10:11] SupriyaKalghatgi commented on #1907
@thienhaole92 ok. closing this issue

[2018-05-21 10:11] #1907 closed

[2018-05-21 10:31] KloveML opened #1914 "The document web site is too slow in china"
I am chinese.
There are many users in China using NativeBase.
But the document web site is too slow to make it difficult  for us to develop.
So I  really hope to change this feeling .
🙏 🙏 🙏

[2018-05-21 11:32] SupriyaKalghatgi commented on #1914
@KloveML Can you share GIF of loading NativeBase Docs?

[2018-05-21 11:56] chawax opened #1915 "Icon problem when using Redux Form with NativeBase"
Environment :
- react-native 0.55.3
- react 16.3.1
- native-base 2.4.4
- redux-form 7.3.0

I am using NativeBase in a Redux Form field and I want to use Icon component to display a red cross when the field has a validation error.

But I have a strange behaviour you can see on this screenshot (tested on iOS simulator) :

![image](https://user-images.githubusercontent.com/5655399/40306009-46ee9dac-5

[2018-05-21 11:59] SupriyaKalghatgi commented on #1915
@chawax NativeBase Icon should not have issues when used with redux form

I could not find the icon names that you tried to render

Can you share the icon names?

[2018-05-21 12:26] chawax commented on #1915
I use `close-circle` icon and it displays well actually.
But there's a second icon that is rendered, the one with the question point on the screenshot. And it looks like it has the Redux Form field name as name. If you have a look on the warnings, it tries to set icons with `id` and `caption` name, which are the names of my fields. Very strange. It looks like Field redux form component looks for a

[2018-05-21 12:29] SupriyaKalghatgi commented on #1915
I can find just this line where you are trying to display icon

[code]

No where else

[2018-05-21 12:32] SupriyaKalghatgi commented on #1915
you can check https://reactnativeseed.com/

[2018-05-21 12:38] chawax commented on #1915
@SupriyaKalghatgi Yes, I just add one Icon component in my code, that's why I don't understand why I have twice.

I just noticed that it works well if I remove `floatingLabel` property on my `Item` component ! So it looks like a problem with floating labels ?

[2018-05-21 14:55] hb2708 commented on #1910
Hello @akhil-geekyants @SupriyaKalghatgi
I was following the tutorial below
https://www.youtube.com/watch?v=bJmsmrRtMyw
and the code of native base sample app with all components.

I forgot that in the main file i have used style provide. Which was giving the error. Sorry for inconvenience.

Closing this issue for now.

[2018-05-21 14:55] #1910 closed

[2018-05-22 05:46] SupriyaKalghatgi commented on #1914
@KloveML Any updates?

[2018-05-22 06:34] dev-pacific22 commented on #1065
I have the same issue with three buttons only. My button text is quite long so how to handle it now, any idea?

[2018-05-22 06:55] dev-pacific22 opened #1917 "Segment overflow with three buttons only."
Segments overflowing in parent view with only three buttons.
It looks like as:

![simulator screen shot - iphone 6 - 2018-05-22 at 12 23 01](https://user-images.githubusercontent.com/23580199/40346566-e3c63276-5dba-11e8-9140-baf69d3b83b7.png)

Can not apply the styles also.

[2018-05-22 09:06] noumanDev opened #1918 "picker TypeError: Cannot read property 'value' of undefined"
## react-native, react and native-base version
react-native: 0.54.4
native-base: 2.4.1

 ## Expected behaviour
Should work

## Actual behaviour
Error : Cannot read property 'value' of undefined

## Steps to reproduce (code snippet or screenshot)
[code]
## Screenshot of emulator/device
![error screen](http://icecream.me/uploads/669d63fc84a027df822e71e93bda9c60.png)

## Is the bug present in both io

[2018-05-22 09:54] gupta-ji6 opened #1919 "Unable to show dynamic data in Cards with horizontal ScrollView"
I want to show Cards in a horizontal ScrollView with dynamic data. The dynamic data loads but the cards become vertical instead of being horizontal.

## react-native, react and native-base version
"native-base": "2.4.4"
"react": "16.3.1"
"react-native": "0.55.4"

## Expected behaviour
![img_20180522_150003](https://user-images.githubusercontent.com/21218732/40354426-74468d80-5dd1-11e8-97e8-7dfa4f9

[2018-05-22 10:31] gupta-ji6 commented on #1919
It worked by using `horizontal ` attribute in List tag.

[code]

**Screenshot**

![img_20180522_155938](https://user-images.githubusercontent.com/21218732/40357271-4703a0a8-5dd9-11e8-8ed7-edab21b73851.jpg)

[2018-05-22 10:31] #1919 closed

[2018-05-22 19:20] nitinsh99 commented on #1135
@akhil-geekyants Can you please confirm if `openDrawerOffset` is the dynamic % of the screen width. I need to know the width of the drawer in my code. Thanks!

[2018-05-22 19:42] programadornatal commented on #605
Thanks, this  style={{flex: 2}} work for me

[2018-05-22 20:36] cuibonobo commented on #977
I was also having this problem and adding a `transformPatterns` entry to my `jest` configuration with the problematic modules was the solution. Here's what it ended up looking like:

[code]

I started by adding the `native-base-shoutem-theme` module, and then I ran my tests again. Then it complained about `react-native-easy-grid`, so I added that module to the list... And I kept doing that until i

[2018-05-22 23:37] Rolilink commented on #1493
I am using `FlatList` and this weird behavior is still happening to me sometimes it doesn't render the borderBottom ...

[2018-05-23 05:55] akhil-geekyants commented on #1493
@Rolilink can you post some code for us to reproduce.

[2018-05-23 06:52] SupriyaKalghatgi commented on #1914
Closing this

[2018-05-23 06:52] #1914 closed

[2018-05-23 11:44] akhil-geekyants commented on #1917
@dev-pacific22 try changing segment button's padding (paddingLeft and paddingRight).
Sample code
[code]
![simulator screen shot - iphone 6 - 2018-05-23 at 17 10 32](https://user-images.githubusercontent.com/27768184/40422299-93586f6e-5eac-11e8-87d2-28fc77b21470.png)

[2018-05-23 14:57] Maren-Osnabrug opened #1923 "ModalStyle on Picker component for iOS"
Hi!
I was looking for a way to style the picker modal, and found this PR https://github.com/GeekyAnts/NativeBase/pull/335. However, using `modalStyle` on a picker has no effect. It's also not currently in the source for picker (https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Picker.ios.js).
Is there any way `modalStyle` can be made available again on the picker or is there a workarou

[2018-05-23 22:23] Aparus opened #1924 "<Input multiline> doesn't work inside <Item stackedLabel>"
## react-native, react and native-base version
[code]
## Expected behaviour
Last Input should be multiline
## Actual behaviour
Last Input is one line
## Steps to reproduce (code snippet or screenshot)
[code]
## Screenshot of emulator/device
![photo5201684976255478286](https://user-images.githubusercontent.com/1222611/40454100-1c7fd136-5ef0-11e8-8835-9554d47e8533.jpg)
## Is the bug present in both

[2018-05-24 05:18] r3wt opened #1925 "Can't click Fab with Badge positioned over top right corner"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-05-24 06:43] akhil-geekyants commented on #1925
@r3wt checked this. It is working fine for me. Attaching a gif.

Tested code
[code]
Gif

![fab](https://user-images.githubusercontent.com/27768184/40468664-aeb59c10-5f4b-11e8-83fd-75bb0595189e.gif)

[2018-05-24 07:09] akhil-geekyants commented on #1924
@Aparus can you try changing the code to
[code]

[2018-05-24 11:09] vksgautam1 commented on #1105
is there any way to do this ?

[2018-05-24 11:10] taeyzzz commented on #1903
@akhil-geekyants Thank you so much

[2018-05-24 11:10] #1903 closed

[2018-05-24 11:12] sangdesigner commented on #851
App is Crashing on open checking updates then crash

{
  "name": "poc1",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "dependencies": {

    "react": "16.3.1",
    "react-native": "0.55.4",
    "react-native-auto-updater": "^0.2.5",
    "react-native-exception-handler": "^2.7.5",
    "react-n

[2018-05-24 12:21] lloydaf commented on #1105
Sorry guys, for some reason the link doesn't seem to work. Here's how I did it.

`...
constructor(props){
        super(props);
        this.state = {
            selectedCategory: null
        }
    }

    changeCategory = (category)=>{
        this.setState({
            selectedCategory : category
        });
    }
...
<Picker
            mode="dropdown"
            iosHeader="Category"

[2018-05-24 16:35] r3wt commented on #1925
@akhil-geekyants so is the fix to add zIndex? could you explain what i should do to fix it?

[2018-05-24 21:36] dev-aliraza opened #1931 "ScrollTabs explode on dynamic rendering"
I'm using native base with `react-native init` that is pure react app.

When I try to render scroll tabs dynamically via API, sometimes it explode and sometimes work absolutely fine. I build and run app first time and it works fine then I change nothing and run again and it starts exploding.

Also, I used KitchenSink to bootstrap my app

Explode screenshot:
![screenshot_2018-05-25_02-18-38](https:

[2018-05-25 01:08] Aparus commented on #1924
@akhil-geekyants yes it works in some way . But not like expected. For example, cursor is too near from label, I don't want to hardcode styles, then code looks ugly and non logic (when some of elements works without styles, but some with many of styles). I prefer to use floatingLabel.

And one more question. <Picker>  doesn't work inside <Form> <Item> . But I suppose Picker is very common form  el

[2018-05-25 01:10] erick2014 opened #1932 "There is not plenty of space to use in Header - title"
Hey guys, I have reviewed some issues related with this problem, but in all cases people are using a short text.
I'm no able to change the width of the Title within the Body component. There is plenty of space to use, but the Body component is using a very small portion of the available width.

![image](https://user-images.githubusercontent.com/7244087/40520476-e3c89e12-5f8b-11e8-802a-32625819fc60

[2018-05-25 02:54] r3wt commented on #1925
hello @akhil-geekyants i made the modifications as shown in your code and it still doesn't work!

[2018-05-25 06:48] SupriyaKalghatgi commented on #1932
@erick2014

If you include `Left` / `Body` / `Right`, to align your elements, then you have to wrap the rest of the elements similarly for alignment

[2018-05-25 06:50] SupriyaKalghatgi commented on #1925
@r3wt This is mentioned in Docs

[2018-05-25 06:54] SupriyaKalghatgi commented on #1925
@r3wt

If you tried @akhil-geekyants 's snippet, then thats not possible to fail
You probably mixed up your prototype with this

[2018-05-25 07:12] r3wt commented on #1925
@Supriya it was the Content as sibling problem as i mentioned. one problem persisting, the fab touchable opacity is suqare instead of round

[2018-05-25 07:13] SupriyaKalghatgi commented on #1925
@r3wt

yes, this is what is mentioned in Docs i said

[2018-05-25 07:19] r3wt commented on #1925
gotcha. but docs say child, not sibling iirc

On May 25, 2018 2:13 AM, Supriya Kalghatgi <notifications@github.com> wrote:

@r3wt<https://github.com/r3wt>

it was the Content as sibling problem as i mentioned

yes, this is what is mentioned in Docs i said

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/GeekyAnts/NativeBase/is

[2018-05-25 08:02] dhuma-shipmnts commented on #1413
How to set icon in Placeholder for Android?

[2018-05-25 08:04] dhuma1981 commented on #1413
How to get the same for Android? I am unable to place the icon for android picker.

[2018-05-25 08:59] banli17 opened #1933 "Scrollable Tabs is too smooth"
when content is FlatList refresh，Scrollable Tabs  is too smooth ，is conflict。

[2018-05-25 09:36] SupriyaKalghatgi commented on #1933
@banli17 Need code snippet and output

[2018-05-25 09:42] SupriyaKalghatgi commented on #1413
@dhuma1981 icon, thats something default

[2018-05-25 09:50] dhuma1981 commented on #1413
But when I apply backgroundColor in style it is not visible. Is there anyother way to apply background color to Picker? and also show the down-arrow Icon in android?

[2018-05-25 09:53] SupriyaKalghatgi commented on #1413
Android Picker is not much customizable, React Native does not provide this

[2018-05-25 10:09] lyseiha opened #1934 "I can't make Toast stay on top of the modal"

[2018-05-25 10:28] SupriyaKalghatgi commented on #1934
#985

[2018-05-25 10:28] #1934 closed

[2018-05-25 11:05] #1925 closed

[2018-05-25 14:13] dev-aliraza commented on #1931
Also, I would like to add that I test this dynamic rendering on expo.io that is CRNA and same issue occurs

[2018-05-25 19:52] erick2014 commented on #1932
@SupriyaKalghatgi  do you mean  use Left or right within the Body?

[2018-05-26 06:46] isaaclem opened #1936 "There is spaces at the left of Left"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-05-26 12:01] HosseinRashno commented on #518
any updates about the RTL support ?

[2018-05-26 13:14] ithieund opened #1937 "[Bug] Tabs index incorrect while set Orientation programmatically"
In my case, I have 4 tabs and Tab 2 (index 1) should be in landscape mode so I used the plugin react-native-orientation to do that. And after that, I saw the bug.

## react-native, react and native-base version
"native-base": "^2.4.5",
"react": "16.0.0-alpha.12",
"react-native": "0.48.4",
"react-native-orientation": "^3.1.3",

## Expected behaviour
When Tab 2 is active (landscape) -> Click Tab 3 -

[2018-05-26 13:16] ithieund commented on #1937
@SupriyaKalghatgi ,
Can you please check and fix this soon?

Thanks.

[2018-05-26 17:01] joshuahenson commented on #1932
I believe she means that if you are using the `Left` and `Body` component, you also have to use the `Right` component but you don't have to include anything inside it. Something like this should work for you.
`{showRightIcon ? buildRightSideIcon(navigation) : <Right />}`

[2018-05-26 19:00] erick2014 commented on #1932
Alright I'm going to try, thx for the explanation @joshuahenson

[2018-05-27 00:04] joshuahenson opened #1938 "Excess space on Android ActionSheet"
## react-native, react and native-base version
    "native-base": "2.4.1",
    "react": "16.2.0",
    "react-native": "0.52.0"
## Expected behaviour
Hide empty space when there is no title, like on ios, or similar to the Google app
![screenshot_20180526-163959](https://user-images.githubusercontent.com/4668069/40581113-0fe2705c-6105-11e8-8b10-8490a61e9322.png)
## Actual behaviour
Extra whitespace

[2018-05-27 06:57] HosseinRashno commented on #356
Do you support RTL now?

[2018-05-27 15:23] mlazuardy opened #1939 "Text doesnt fit the image card"
i need to resizing the text of the card to fit with the image , because the title card display like this
![screenshot from 2018-05-27 22-19-38](https://user-images.githubusercontent.com/26824873/40587674-b49dd62a-61fc-11e8-8cf1-a7e91a7dfc77.png)

my code is
[code]
im using horizontal list view , sorry for my bad english

[2018-05-28 04:13] gersonmontenegro commented on #1939
I only thing in a calculation based on the card width, but, I don't think that is correct, in usability terms.

Maybe, for example, if you know that the width card allows you fit 50 characters, so, you can make 2 things:
1. Cut the text at the character 47 and add ellipsis (I mean, ... )
2. Don't allow title with more of 50 characters.

I know that this is not an specific solution for your questio

[2018-05-28 04:20] gersonmontenegro opened #1940 "It is possible a Badge over a ItemList"
Hi, I need to add a Badge over the texto of an ItemList, but, until now, I can't, so, I would like to know how it is possible.

## react-native version: 0.55.4
## react and native-base version: 2.4.5

The image below shows how I need to do that. BTW, the Badge that I need is the blue:
![image](https://user-images.githubusercontent.com/3643808/40597022-6bd00a00-6204-11e8-95a0-72e2bd1bd471.png)

Tha

[2018-05-28 05:47] gersonmontenegro opened #1941 "Drawer menu moves his own content"
Hi, I made a base Drawer with a custom SideMenu, but, for some reason, the more I open the Drawer, the more his own content suffers a very weird displacement.

## react-native, react and native-base version: 0.55.2, 16.3.1, 2.4.5
## Expected behaviour
Sidemenu always must look the same
## Actual behaviour: I made the next capture on a simulator, but is the same on device
![sidemenu_offset](https:/

[2018-05-28 05:48] jdnichollsc opened #1942 "Animated.View and ListItem"
Hi guys,

This is a question because I can see issues using `Animated.View` into lists, what's the correct way to use animations with `ListItem`?
The touch doesn't work well:
[code]
**Result:** `The position of the items are incorrect and the touch doesn't work well`
or

[code]
**Result:** `I can't see the items`

Let me know what you think, I'm using the last version of NativeBase

Thanks in adva

[2018-05-28 06:10] prateek3255 opened #1943 "onPress on button not working"
React native - 0.55.4
React - 16.3.1
Native Base - 2.4.4

Expected behaviour -
OnPress event on button should play a video when it is being presses

Actual behaviour-
Nothing is happening on the pressing of the button

Steps to reproduce -
[code]
The styles used are -
[code]
Screenshot -

![screenshot_20180528-112538](https://user-images.githubusercontent.com/21277179/40599517-3b2d7394-626b-11e8-8

[2018-05-28 06:20] akhil-geekyants commented on #1939
@mlazuardy try setting bottom CardItem width to 200 and set numberOfLines prop of Text to 1.

Sample code

[code]
Screenshot

![simulator screen shot - iphone 6 - 2018-05-28 at 11 49 22](https://user-images.githubusercontent.com/27768184/40599970-3353be42-626d-11e8-9ce7-75862e0888a8.png)

[2018-05-28 06:35] akhil-geekyants commented on #1940
@gersonmontenegro try something like this on iOS

Sample Code
[code]
Screenshot

![simulator screen shot - iphone 6 - 2018-05-28 at 12 04 38](https://user-images.githubusercontent.com/27768184/40600514-56e66600-626f-11e8-89dd-47ecb9737176.png)

[2018-05-28 07:17] akhil-geekyants commented on #1941
@gersonmontenegro NativeBase Drawer is an implementation of [react-native-drawer](https://github.com/root-two/react-native-drawer). See react-native-drawer issue https://github.com/root-two/react-native-drawer/issues/349

[2018-05-28 07:26] akhil-geekyants commented on #1938
@joshuahenson can you check this https://github.com/listenzz/react-native-modal-translucent

[2018-05-28 09:10] akhil-geekyants commented on #1937
@ithieund can you try adding prop  scrollWithoutAnimation={true} to Tabs

[2018-05-28 10:12] gersonmontenegro commented on #1940
Thanks @akhil-geekyants , works like a charm :)

[2018-05-28 10:16] #1940 closed

[2018-05-28 11:26] akhil-geekyants commented on #1943
@prateek3255 tried a sample code. `onPress` for rounded button is working fine for me. Attaching a gif.

Tested code
[code]
Gif

![onpress](https://user-images.githubusercontent.com/27768184/40612368-ceb324ca-6297-11e8-894b-2ab146d20109.gif)

[2018-05-28 11:28] ItsNoHax commented on #1941
Unfortunately people have been trying to guess the solution in that thread.

[2018-05-28 11:36] prateek3255 commented on #1943
@akhil-geekyants Mine is still not working can you please tell me what I am doing wrong because their is nothing wrong with the code as far as I can see but still its not working

[2018-05-28 13:51] SupriyaKalghatgi commented on #1943
@prateek3255 Can you try the snippet provided by @akhil-geekyants ?

[2018-05-28 14:04] mlazuardy commented on #1939
@akhil-geekyants what is numberOfLine sir? Do You Mean if text its too long it will generate the three dot in the end of text ?

[2018-05-28 14:14] akhil-geekyants commented on #1939
@mlazuardy yes. https://facebook.github.io/react-native/docs/text.html#numberoflines

[2018-05-28 14:41] mlazuardy commented on #1939
oh i missed the card item to add the width to 200px, and even without numberOfLines its looks nicer, thanks Sir, Awesome

[2018-05-28 19:43] joshuahenson commented on #1938
Sorry, I don't think I was clear. I'm talking about the empty space on top of the ActionSheet that is left when you do not include an ActionSheet title. I've colored it yellow and black here.

![yellow](https://user-images.githubusercontent.com/4668069/40627337-39b6fc9e-6273-11e8-9e88-8216805e1d69.png)

My initial hope at quickly glancing at the code was that we could just conditionally not includ

[2018-05-29 05:50] SupriyaKalghatgi commented on #1932
@erick2014 Did you try?

[2018-05-29 06:06] SupriyaKalghatgi commented on #1939
@mlazuardy Can you close this issue?

[2018-05-29 06:14] SupriyaKalghatgi commented on #1933
Closing this issue due to no activity

[2018-05-29 06:14] #1933 closed

[2018-05-29 06:20] akhil-geekyants commented on #1931
@dev-aliraza can you create a test repo for us to test.

[2018-05-29 06:45] akhil-geekyants commented on #1942
@jdnichollsc checked this. Attaching a gif.

Code
[code]
Gif

![listitem](https://user-images.githubusercontent.com/27768184/40642175-e87076ea-6339-11e8-9dfb-684f1b38d53d.gif)

[2018-05-29 10:17] prateek3255 commented on #1943
@SupriyaKalghatgi  I have tried the way he is doing it by changing the state onPress but still, it is not working for me

[2018-05-29 10:28] SupriyaKalghatgi commented on #1943
@prateek3255 Need code that you tried and GIF of output

[2018-05-29 11:04] prateek3255 commented on #1943
I used the way @akhil-geekyants  tested the button by changing its state onPress to change its danger state.
Here is the code I used -

[code]

[code]
styles used are still the same -

[code]
Here is the gif of the button not working -

![video2gif_20180529_160945-min](https://user-images.githubusercontent.com/21277179/40655143-09bc5aac-635e-11e8-8805-6f7cd13a1003.gif)

[2018-05-29 12:27] 25juan opened #1946 "listitem trigger onPress function & onLongPress function"
package.json
[code]

in ListItem's properties, add the onPress and onLongPress, when i tap the listitem ,the listitem trigger onPress and onLongPress events

my code
[code]

[2018-05-29 12:55] akhil-geekyants commented on #1946
@25juan checked this. It is working fine for me. Attaching a gif.

Code
[code]
Gif
![listitem](https://user-images.githubusercontent.com/27768184/40660056-9ade5ed6-636d-11e8-8356-0b1fc3eafc89.gif)

[2018-05-29 13:09] 25juan commented on #1946
in Android , listitem only trigger onLongPress events , i  wanna the delayLongPress  property

[2018-05-29 23:26] gersonmontenegro opened #1948 "how to implement the navigation object into custom sidebar using Drawer component?"
Hi! I made a custom side menu to add in a Drawer component, just like the documentation says, but, I don't have idea of how to implement the navigator object.
## react-native, react and native-base version
0.55.2, 16.3.1, 2.4.5
## Expected behaviour
Get a navigation object
## Actual behaviour
I don't know how to implement the navigation object
## Steps to reproduce (code snippet or screenshot)
Thi

[2018-05-30 00:11] ithieund commented on #1937
@akhil-geekyants ,
It seems to work now.
It's so strange!

Thank you very much.

[2018-05-30 02:35] gersonmontenegro commented on #1948
Solved: in my App.js I put this:
[code]
SideMenu is my custom sidebar, and the complete code is:

[code]

That's all for a basic, an very functional implementation

[2018-05-30 03:32] jdnichollsc commented on #1942
ohhh beautiful example, thanks for the help! so I don't understand what's the issue in my case :/

[2018-05-30 04:31] gersonmontenegro opened #1949 "There is something like panOpenMask to increase the active area using createDrawerNavigator?"
I just implemented a Sidebar menu navigation system, and it works fine, but the area to swipe the menu is too small. It is possible increase it?
## react-native, react and native-base version
0.55.2, 16.3.1, 2.4.5
## Expected behaviour
Slidebar opening sliding the menu in a long distance from the screen border, maybe 25% of it self.
## Actual behaviour
Slidebar menu is open sliding from the very e

[2018-05-30 05:11] SupriyaKalghatgi commented on #1948
@gersonmontenegro Need help on this? or this can be closed?

[2018-05-30 05:14] gersonmontenegro commented on #1948
@SupriyaKalghatgi it can be closed, thanks :)

[2018-05-30 05:14] SupriyaKalghatgi commented on #1937
@ithieund can you close this issue?

[2018-05-30 05:16] #1948 closed

[2018-05-30 05:17] #1939 closed

[2018-05-30 05:33] akhzarna commented on #698
I had the same issue but resolved using extraData = {this.state}

complete Code is here

<FlatList

          style={styles.listView}
          data={this.state.readingArray}
          extraData={this.state}
          renderItem=
          {({item})=>
.............................

[2018-05-30 07:27] SupriyaKalghatgi commented on #1942
we can keep this issue open if you provide your code over snack

[2018-05-30 07:31] SupriyaKalghatgi commented on #1943
@prateek3255 Can you try this without styles?

[2018-05-30 07:37] SupriyaKalghatgi commented on #1949
@gersonmontenegro `createDrawerNavigator` is with React Navigation.

Not related to NativeBase

[2018-05-30 07:37] #1949 closed

[2018-05-30 07:42] SupriyaKalghatgi commented on #1943
@prateek3255 You are setting `danger` prop for `Button` along with inline style as `backgroundColor: "white"`

[2018-05-30 07:42] SupriyaKalghatgi commented on #1943
Closing this issue

[2018-05-30 07:42] #1943 closed

[2018-05-30 09:40] akhil-geekyants commented on #1937
Related issue https://github.com/skv-headless/react-native-scrollable-tab-view/issues/518

[2018-05-30 10:04] victormartingarcia opened #1951 "Picker on iPhoneX not respecting Safe Area"
## react-native, react and native-base version

`
"react": "16.3.0-alpha.1",
"react-native": "^0.55.3",
"native-base": "^2.3.10"
`

## Expected behaviour

Picker on iOS shows a "modal" view taking the whole screen. On iPhone X it should respect the safe areas

## Actual behaviour

On iPhoneX the picker modal view does not respect Safe Areas, causing a misplacement.

The back button is shown behind

[2018-05-30 10:10] akhil-geekyants commented on #1951
PR https://github.com/GeekyAnts/NativeBase/pull/1920

[2018-05-30 10:11] victormartingarcia commented on #1951
Cool, can't wait for PR #1920 to be merged

[2018-05-30 10:11] #1951 closed

[2018-05-30 11:08] jdnichollsc commented on #1942
Thanks guys, let me close this issue, I need to review the theme of my app, thanks for all!

[2018-05-30 11:08] #1942 closed

[2018-05-30 12:54] paour commented on #1845
@akhil-geekyants that's a work-around, but it would still be nice to have an official property on Card that can override the default radius, propagating the values to sub-components. I would suggest reopening this ticket.

[2018-05-30 20:28] rungwe commented on #937
Same issue here, it was working initially and all of sudden this just started :(

[2018-05-30 21:42] behzad888 commented on #1853
@akhil-geekyantsIt's not working on Android, I think this issue should reopen.

[2018-05-30 22:24] VanessaChu opened #1952 "Picker Item checkmark not right aligned (Image)"
Before I was on react native version 0.44.6, now after upgrading to react native version 0.55.4, the checkmark beside the picker item is not right aligned anymore

## react-native, react and native-base version
react-native -v 0.55.4
native-base -v 2.3.1
## Expected behaviour
Picker item checkmark should align to the right
## Actual behaviour
Picker item checkmark not aligned
## Steps to reproduce

[2018-05-31 08:33] alihesari commented on #1853
@akhil-geekyants You are testing Font-family on `<Text>` tag, but We have this problem in the `<Picker>` and `<Picker.Item>` for Android.  😄😃 Did you know what I mean?

[2018-05-31 08:39] alihesari commented on #1853
@behzad888 Hi, Behzad I think this is a React Native problem on Android. Please read this #1885
Also you can use this https://github.com/sohobloo/react-native-modal-dropdown

[2018-05-31 11:13] SupriyaKalghatgi commented on #882
Available on `development`

[2018-05-31 11:17] SupriyaKalghatgi commented on #1721
Available on `development`

[2018-05-31 11:18] SupriyaKalghatgi commented on #1710
Here is a repo that lists down icons of available react-native-vector-icons icon families.
https://github.com/GeekyAnts/NativeBase-VectorIconApp

[2018-05-31 13:50] 25juan commented on #1946
ok ，thank.,

[2018-05-31 13:50] #1946 closed

[2018-05-31 14:19] alexgnatrow commented on #1222
Did any of suggested earlier and nothing seems to be helping. Any update? My FlatList not even nested, still it is showing no signs of life or scrollability in particular...

[2018-05-31 17:19] blok-0 commented on #454
@sseyha Can you help me?
When i tried your code the searchbar looks fine. But when i write something in input i can't see the text.
Only i tested in android
![errorseacrhbar](https://user-images.githubusercontent.com/16730291/40797126-b79331fe-64cc-11e8-9bca-5a84b3ff7178.gif)

[2018-06-01 01:31] michaellee8 commented on #985
@doreentseng Tried @Zeratyll 's solution of putting `<Root/>` into `<Modal/>`, but it still didn't work.
@gianpaj  Also tried to put `style : { zIndex: 1000 }` into `Toast.show()`, no effect as well.
All of the results are tested in a real iPad.
@SupriyaKalghatgi @shivrajkumar Dear collaborators, when can we get an fix?

[2018-06-01 06:13] akhil-geekyants commented on #1222
@alexgnatrow can you try this https://github.com/facebook/react-native/issues/1966#issuecomment-285130701

[2018-06-01 14:15] vinnichase opened #1956 "Block Buttons rendered without margins"
Hi when i copy the [example](https://docs.nativebase.io/Components.html#button-block-headref) for block buttons into my screen, it shows no margins between the buttons. It simply looks like full buttons with rounded corners.

native-base@2.4.5

[2018-06-02 04:47] JeyKeu commented on #842
`nativebase: 2.4.5`
`react: ^16.3.1`
`react-native: ^0.55.3`
[code]

shows an emty textbox, whereas it should display the numeric value.

[2018-06-02 19:34] jwoertink opened #1957 "Unable to resolve mapPropsToStyleNames"
## react-native, react and native-base version
[code]
## Expected behaviour
No errors
## Actual behaviour
[code]
## Steps to reproduce (code snippet or screenshot)
<img width="1680" alt="screen shot 2018-06-02 at 12 31 36 pm" src="https://user-images.githubusercontent.com/2391/40880180-f02b9a52-6660-11e8-9e89-a62499122e9f.png">

## Screenshot of emulator/device
## Is the bug present in both ios an

[2018-06-03 05:27] kodayashi opened #1958 "Adding 'rounded' to Button on Android results in it not being rendered"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-06-03 05:38] yandifitriyanto opened #1959 "npm native-base 2.4.5 mismatch branch master"
Hallo,

I want use native-base latest, but after install source different in branch master. this source compare different
from cdn npm https://cdn.jsdelivr.net/npm/native-base@2.4.5/src/basic/Picker.ios.js and from github https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Picker.ios.js

Thanks.

[2018-06-03 05:46] emtiajium opened #1960 "Strange behavior of Card, and List"
The strange thing is that, when `location` array size is 10, `Card`'s background color is `#fff`, that is my expected background color. But when array size is greater than 10, then is it `transparent`. This bug happens for this `location` array, my project also has 22 length array, (not this `location` array, for other stuff), but it is perfectly ok.

## react-native, react and native-base version

[2018-06-03 10:53] haotangio commented on #1768
I had the same problem, `rounded` and `block` cannot be used together on Android (the `<Button>` will not be displayed outside of `<Content>` tag).

Any workaround?

[2018-06-03 15:51] kodayashi commented on #830
This approach doesn't seem to work anymore @sanketsahusoft - What's the best practice for ejecting to apply custom styles while also having the ability to update native-base? I like the idea of merging a custom theme with the default one (so that if I upgrade native-base I get new styles/components, etc.).

Is explicit merging not needed? Does it now work automatically like you mentioned it should

[2018-06-03 16:12] kodayashi commented on #1757
@akhil-geekyants - Is this the same issue as #1958 (logged by me)? I can't seem to apply style to Android buttons. If I do they don't render (e.g. adding your 'rounded' prop to Button).

Is there a workaround?

[2018-06-04 04:10] SupriyaKalghatgi commented on #1959
@yandifitriyanto Yes, we have certain commits on branch `master`, which is not released yet
You will find it soon with npm

[2018-06-04 04:10] #1959 closed

[2018-06-04 05:32] SupriyaKalghatgi commented on #1956
@vinnichase Please refer this https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/src/screens/button/block.js

[2018-06-04 05:32] #1956 closed

[2018-06-04 05:32] SupriyaKalghatgi commented on #1956
Also that, refer NativeBase KitchenSink for demo of all components

[2018-06-04 05:38] SupriyaKalghatgi commented on #1957
@jwoertink Try clearing cache before run
`npm start -- --reset-cache`

#1856

[2018-06-04 05:48] SupriyaKalghatgi commented on #1958
#1852

[2018-06-04 05:48] #1958 closed

[2018-06-04 05:51] SupriyaKalghatgi commented on #1768
#1852
Fixed

[2018-06-04 05:57] SupriyaKalghatgi commented on #1757
#1852

[2018-06-04 06:09] SupriyaKalghatgi commented on #1931
@dev-aliraza This issue will be closed tomorrow, in case of no response

[2018-06-04 06:10] SupriyaKalghatgi commented on #1932
This issue will be closed tomorrow, in case of no response

[2018-06-04 06:28] SupriyaKalghatgi commented on #1936
https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/src/screens/Header/2.js

https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/screenshots/ios/header-with-icons.png

https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/screenshots/android/header-with-icons.png

Works fine for iOS and Android as per design guidelines

[2018-06-04 06:37] akhil-geekyants commented on #1960
@emtiajium checked this using latest version of native-base(2.4.5). It is working fine for me. Can you try upgrading to latest version and ejecting the theme.
Attaching a gif.

![card](https://user-images.githubusercontent.com/27768184/40901915-bdd6f28c-67ef-11e8-9d55-ab3eded01235.gif)

[2018-06-04 06:46] akhil-geekyants commented on #1937
Closing this issue. See this issue https://github.com/skv-headless/react-native-scrollable-tab-view/issues/518

[2018-06-04 06:46] #1937 closed

[2018-06-04 06:49] emtiajium commented on #1960
Upgraded to the latest version, and ejected theme, but the same result! :(

[2018-06-04 06:51] dev-aliraza commented on #1931
Hello, sorry for being unresponsive. I resolve this issue by rendering <tabs> and <tab> together. Previously I was rendering <tabs> and inside this I was rendering <tab> dynamically on a certain event.

So I pre-fetched tabs from API and render them together.

[2018-06-04 06:52] SupriyaKalghatgi commented on #1931
@dev-aliraza ok, any help needed here?

[2018-06-04 06:53] akhil-geekyants commented on #1960
@emtiajium can you create a test repo for us to test

[2018-06-04 06:55] dev-aliraza commented on #1931
@SupriyaKalghatgi Everything is smooth up till now.

_By the way awesome package. Keep up the good work!_

[2018-06-04 06:58] SupriyaKalghatgi commented on #1931
@dev-aliraza Thank you !
Stay tuned for upcoming release, you can check the Changelog from `master`

[2018-06-04 06:58] #1931 closed

[2018-06-04 09:18] akhil-geekyants commented on #1960
@emtiajium can you try modifying the code to this
Code

[code]

[2018-06-04 09:29] emtiajium commented on #1960
Sorry, it didn't work. @akhil-geekyants

[2018-06-04 10:04] akhil-geekyants commented on #1960
@emtiajium can you clear the cache and check once more. My results on Redmi 4a device.

Screen after using code from repo

![screenshot_2018-06-04-15-26-45-233_com nativebasebug](https://user-images.githubusercontent.com/27768184/40911464-7067db2a-680c-11e8-9e09-1f396c48b91e.png)

Screen after using code from above [comment](https://github.com/GeekyAnts/NativeBase/issues/1960#issuecomment-39428921

[2018-06-04 10:13] emtiajium commented on #1960
Nope.
I think this is device specific issue, tested with Xiaomi, android version 8, perfectly ok!

[2018-06-04 10:28] emtiajium commented on #1960
Really sorry, my dear. My devil eyes didn't notice that you removed second <CardItem>, I just noticed styles you added. Ok, everything is okay now. Thank you very much.

[2018-06-04 12:21] #1960 closed

[2018-06-04 15:17] theapache64 opened #1961 "What's the difference difference between fixedLabel and inlineLabel ?"

[2018-06-04 15:56] jwoertink commented on #1957
@SupriyaKalghatgi I tried that, but still get the same error. I even `rm -rf node_modules` then `npm install` and booted. I just renamed the directory in my node_modules/native-base to get my app to boot.

[2018-06-04 16:22] kodayashi commented on #1958
Thanks @SupriyaKalghatgi - Sorry I missed that one when searching.

[2018-06-04 20:14] JeyKeu commented on #47
NativeBase's documentation is lacking.

[2018-06-05 03:49] theapache64 opened #1962 "Where is `native-base-theme` folder ?"
I've been reading the docs, and in the customisation section, it says to edit files under `native-base-theme/..`.The problem is, there's no such folder in my project root. Can you please point-out the correct directory ?

[2018-06-05 03:52] theapache64 commented on #1962
`node node_modules/native-base/ejectTheme.js` Fixed It!

[2018-06-05 03:52] #1962 closed

[2018-06-05 05:04] theapache64 opened #1963 "How do i set 'backgroundColor' for all `Content` component, globally"
I want to have a global background color for all `Content`. I've searched the `material.js` file, but there's nor property like 'backgroundColor'. So how do i achieve this ?

[2018-06-05 05:21] theapache64 commented on #1963
I'v created `BaseContent` class and gave 'backgroundColor'.

[code]

Is this a correct approach ? Do i have to change any part of the code ?

[2018-06-05 06:03] SupriyaKalghatgi commented on #1957
@jwoertink Can you put your app on github or snack, for us to look into

[2018-06-05 06:07] SupriyaKalghatgi commented on #1963
@theapache64 You can achieve it here https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Content.js#L6

[2018-06-05 06:07] #1963 closed

[2018-06-05 06:25] theapache64 opened #1964 "placeholder color"
Is it possible to have different colors on `Input` placeholder. I want `red` on standby, and `green` on float. Is it possible ?

[2018-06-05 06:36] SupriyaKalghatgi commented on #1964
@theapache64 Not possible with theme
You may have to check conditions, if `floatUp` is called then change `Label` color

[2018-06-05 06:37] theapache64 commented on #1964
Ok

[2018-06-05 06:43] theapache64 commented on #1964
How do i get a callback when the label floatUp. Is there any callback like this

[code]

[2018-06-05 06:50] akhil-geekyants commented on #1961
@theapache64 The difference is in the maximum space the label can take. Attaching a gif. The first one is `fixedlabel` and the second one is `inlineLabel`.

![fixed-inline-difference](https://user-images.githubusercontent.com/27768184/40959379-2a8c1838-68ba-11e8-80ed-00e06781ed89.gif)

[2018-06-05 06:51] theapache64 commented on #1961
Perfect :+1:

[2018-06-05 06:51] #1961 closed

[2018-06-05 08:03] ydv0121 commented on #158
set <Header style={{elevation:0}}>..
its works
thank you @ChetanGodiya4

[2018-06-05 08:03] ydv0121 commented on #833
set
Header style={{elevation:0}}
its works
thank you @ChetanGodiya4

[2018-06-05 08:04] ydv0121 commented on #1446
set
Header style={{elevation:0}}
its works
thank you @ChetanGodiya4

[2018-06-05 08:08] SupriyaKalghatgi commented on #158
The `noShadow` prop of Header removes shadow from iOS Header and elevation from Android Header.

https://docs.nativebase.io/Components.html#header-no-shadow-headref

[2018-06-05 08:09] SupriyaKalghatgi commented on #696
The `noShadow` prop of Header removes shadow from iOS Header and elevation from Android Header.

https://docs.nativebase.io/Components.html#header-no-shadow-headref

[2018-06-05 08:09] SupriyaKalghatgi commented on #1446
The `noShadow` prop of Header removes shadow from iOS Header and elevation from Android Header.

https://docs.nativebase.io/Components.html#header-no-shadow-headref

[2018-06-05 09:49] theapache64 opened #1965 "Is there built-in RadioGroup component ?"
I've been reading the docs, came to know about `Radio` component which renders cool radio button. but I can't anything like 'RadioGroup' in the docs. Is it supported ? or am i missing something ? To manage single selection in radio, i need to write my own radio group ?

[2018-06-05 10:03] SupriyaKalghatgi commented on #1965
We dont have radio group

[2018-06-05 10:03] #1965 closed

[2018-06-05 10:04] SupriyaKalghatgi commented on #1965
Please make use of NativeBase slack for such queries

[2018-06-05 10:58] akhil-geekyants commented on #1213
@fanzkday if you are using `react-navigation`, this may be due to cardStyle opacity. Try setting cardStyle opacity to 1.
[code]
see react-navigation [docs](https://reactnavigation.org/docs/en/stack-navigator.html#stacknavigatorconfig)

[2018-06-05 13:57] #1932 closed

[2018-06-05 15:38] jwoertink commented on #1957
I can't push up the source, but maybe I can try and recreate a sample app. It might take me a bit, but I'll try and get something.

[2018-06-06 04:30] kodayashi commented on #1957
I'm hitting the same issue. Upgraded from 2.4.2 to 2.4.5 and I have "Utils" not "utils" in my path, so getting same error:

```The module `../utils/mapPropsToStyleNames` could not be found```

Filesystem has:

[code]

I had to yarn remove native-base then yarn add native-base to get the proper file structure (`utils`). I think the upgrade from 2.4.2 to 2.4.5 just didn't rename the folder properly.

[2018-06-06 06:46] #1936 closed

[2018-06-06 06:50] SupriyaKalghatgi commented on #47
https://docs.nativebase.io/docs/examples/ReduxFormExample.html

[2018-06-06 07:48] kurtogath commented on #1834
I solved this error adding the `dive()` method on the test as you can see in the next image.

![zero](https://user-images.githubusercontent.com/29205148/41023345-7b642c3e-696c-11e8-9c60-66e6e0f93f93.PNG)

Then in App i got this.

![dos](https://user-images.githubusercontent.com/29205148/41023359-847b096e-696c-11e8-8a4e-8e82103bf334.PNG)

This worked for me, hope it hepls

[2018-06-06 07:56] SupriyaKalghatgi commented on #1834
@MrTinyByte can you check this?

[2018-06-06 10:00] 54vanya commented on #1957
you can rename folder from Utils to utils by yourself as temporary fix

[2018-06-06 10:05] SupriyaKalghatgi commented on #1957
@54vanya That isn't necessary, since this issue was fixed long back

[2018-06-06 10:33] bhakta0007 opened #1966 "Multiple horizontal Icons inside <Right>"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-06-06 10:47] bhakta0007 commented on #1966
Solved..

[code]

[2018-06-06 10:47] #1966 closed

[2018-06-06 16:07] bensinjin opened #1967 "TypeScript complaining about 'noIndent' prop for ListItem"
Get the following from TypeScript when trying to use 'noIndent' for ListItem component:

[code]
react-native@0.55.4
react@16.4.0
native-base@2.4.5

[2018-06-07 02:43] kodayashi commented on #1852
Hi @SupriyaKalghatgi - I looked at your change and applied it to my local 2.4.5 install, looks good thanks!

[2018-06-07 03:55] SupriyaKalghatgi commented on #1852
2.5.0

[2018-06-07 04:58] SupriyaKalghatgi commented on #1967
#1902

[2018-06-07 04:58] SupriyaKalghatgi commented on #1967
will be released soon

[2018-06-07 04:58] #1967 closed

[2018-06-07 05:51] Shanie1331 opened #1968 "First of all, thank for your all components it's very good. I am using picker component. It's all working fine. My question is how to get a selected other props which I have dynamically passed with the array. I am getting only selected index value. Please give me any suggestion. Thanks in advance Here is my code:"
[code]

[2018-06-07 06:47] akhil-geekyants commented on #1968
@Shanie1331 if you trying to use NativeBase Picker you have to import it from `"native-base"`. `Picker.Item` takes only two props `label` and `value`.

You can check NativeBase Picker examples here in [docs](http://docs.nativebase.io/Components.html#picker-with-custom-header-text-headref).

[2018-06-07 09:54] ArtyomBaykov opened #1969 "Map is not working with Native Base Content"
Hi guys! We are using Expo with Native-Base. Tried different ways to make Map shown, But none of them worked as they should be. Inside the Content, it's not showing at all. When we put out of content it looks terrible since content is scrolling while it stays fixed. When We put ScrolVew instead of Content it again doesn't show and when Map is outside of ScrolView it shows but its super terrible. W

[2018-06-07 10:01] kranthijulakantiwork commented on #1969
Try giving height and width to MapView

[2018-06-07 10:08] SupriyaKalghatgi commented on #1969
@ArtyomBaykov MapView need width, height to render
Wrap MapView in View
OR
If wrapped in Content, include `contentContainerStyle` for dimensions

[2018-06-07 10:11] SupriyaKalghatgi commented on #1969
https://github.com/GeekyAnts/NativeBase/issues/241

[2018-06-07 10:11] #1969 closed

[2018-06-07 11:13] lpongetti commented on #1915
+1

[2018-06-07 11:55] akhil-geekyants commented on #1870
@r3wt can you try this
[code]
based on issue-comment https://github.com/GeekyAnts/NativeBase/issues/1010#issuecomment-355668551

[2018-06-07 13:54] sopdock opened #1971 "Segment code doesn't have right default color scheme?"
I have this basic code taken from the example:

    // imports
    import { Button, Container, Segment } from 'native-base';

    // rendering
            <Container>
                    <Segment>
                        <Button first>
                            <Text>Recent</Text>
                        </Button>
                        <Button>
                            <Text>Home</Text>

[2018-06-07 14:20] akhil-geekyants commented on #1971
@sopdock use Text from `native-base` for getting the proper styling for Text.
[code]
Also use `active` props of `Button` to highlight your selected segment button.
[code]

[2018-06-07 14:29] thomasphilibert opened #1973 "Header Noleft without effect"
Hi there !

It's seem that the "noLeft" prop does not work:

My Code:

[code]

And the result :

<img width="409" alt="capture d ecran 2018-06-07 a 16 08 29" src="https://user-images.githubusercontent.com/4984828/41106158-bd45d87e-6a6f-11e8-86d9-a082f540dfdf.png">

My configuration :

[code]

It is a bug or my code is not optimal ?

Thank you,
Thomas

[2018-06-07 14:54] sopdock opened #1974 "Segment demo code example doesn't match what is seen in the demo image."
The "[Segment Outside Header](https://docs.nativebase.io/Components.html#segment-outside-header-headref)" has the following code:

[code]

However, the gif image on the right that shows the result does not match the code. For example, in the image when the button `Kittens` is clicked, it shows `Kitten Selected`. If the `Puppies` button is clicked, it shows `Puppies Selected`.

Also, there is no lo

[2018-06-07 14:54] sopdock commented on #1971
Closing this in favor of https://github.com/GeekyAnts/NativeBase/issues/1974

[2018-06-07 14:54] #1971 closed

[2018-06-08 04:06] SupriyaKalghatgi commented on #1973
Did you eject theme after updating NativeBase version?

[2018-06-08 04:07] SupriyaKalghatgi commented on #1973
what is the version of NativeBase installed?

[2018-06-08 07:06] SupriyaKalghatgi commented on #1957
@jwoertink Tried this?

[2018-06-08 11:41] dharamEnest opened #1975 "SwipeRow swipe functionality not working when soft keyboard is open."
Use list view below any TextInput field and now click on TextInput when keyboard is open try to swipe view inside SwipeRow.

[2018-06-08 12:20] akhil-geekyants commented on #1975
@dharamEnest can you post some code.

[2018-06-08 13:03] SupriyaKalghatgi commented on #882
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:03] #882 closed

[2018-06-08 13:03] SupriyaKalghatgi commented on #1923
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:03] #1923 closed

[2018-06-08 13:03] SupriyaKalghatgi commented on #1905
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:03] #1905 closed

[2018-06-08 13:04] SupriyaKalghatgi commented on #1895
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:04] #1895 closed

[2018-06-08 13:04] SupriyaKalghatgi commented on #1938
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:04] #1938 closed

[2018-06-08 13:04] SupriyaKalghatgi commented on #1852
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:04] #1852 closed

[2018-06-08 13:04] SupriyaKalghatgi commented on #1799
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:04] #1799 closed

[2018-06-08 13:05] SupriyaKalghatgi commented on #1918
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:05] #1918 closed

[2018-06-08 13:05] SupriyaKalghatgi commented on #1952
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:05] #1952 closed

[2018-06-08 13:06] SupriyaKalghatgi commented on #1917
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:06] #1917 closed

[2018-06-08 13:06] SupriyaKalghatgi commented on #1790
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:06] #1790 closed

[2018-06-08 13:06] SupriyaKalghatgi commented on #1708
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:06] #1708 closed

[2018-06-08 13:06] SupriyaKalghatgi commented on #1906
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:06] #1906 closed

[2018-06-08 13:08] SupriyaKalghatgi commented on #1721
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:09] SupriyaKalghatgi commented on #1951
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:09] SupriyaKalghatgi commented on #1825
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:10] gogulanareshkw commented on #473
same problem for also, can anyone help me please, this is my code

      <Container>
        <Header >
          <Left/>
          <Body><Title>Header</Title></Body>
          <Right/>
        </Header>

        <Content>

          <View style={{backgroundColor:"green",height:150,marginTop:50}}>
          </View>

        <Tabs transparent
         tabBarUnderlineStyle={{borderBottomWidth:2,borde

[2018-06-08 13:10] SupriyaKalghatgi commented on #1397
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:10] SupriyaKalghatgi commented on #1315
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:10] SupriyaKalghatgi commented on #937
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:11] SupriyaKalghatgi commented on #1079
Released with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:12] SupriyaKalghatgi commented on #1946
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:12] SupriyaKalghatgi commented on #1121
Fixed with [2.5.0](https://github.com/GeekyAnts/NativeBase/tree/v2.5.0)

[2018-06-08 13:17] SupriyaKalghatgi commented on #473
https://docs.nativebase.io/Components.html#tabs-def-headref

[2018-06-08 13:59] Rutulpatel7077 commented on #937
Awesome Thanks!

[2018-06-08 15:07] jwoertink commented on #1957
The renaming folder? That's what I had to do to get it to work. I haven't had a chance to do a mock app yet to recreate it. After digging in, I think it's something with cache, but using `--reset-cache` doesn't work. Possibly something between yarn and npm maybe? No clue

[2018-06-08 21:01] VanessaChu opened #1976 "Picker arrow is white - how can I change the color?"
My picker caret/arrow is white, and because my background is also white it looks like it's missing. How can I make it the default black? This is the issue on both iOS and Android

[code]

[2018-06-09 04:58] QinGuan2004 opened #1977 "Input Floating Label Not Floating when updating state"
Environment:
  OS: macOS 10.14
  Node: 10.0.0
  Yarn: Not Found
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xcode 9.4 Build version 9F1027a
  Android Studio: 3.1 AI-173.4720617

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: 0.55.4 => 0.55.4

NativeBase Version:
"native-base": "^2.5.1"

## Expected behaviour
Floating Label would float when user is typing
## Actual behaviour

[2018-06-09 12:48] svallen opened #1978 "Header Component overrides StatusBar"
When using the Header component it is overriding the StatusBar text theme to always be dark.

Is there a way to use the Header component but still override the StatusBar theme to have light-content?

Sample code below to test.

Here is the Snack I used for testing: https://snack.expo.io/BkcKiBtg7

![screen shot 2018-06-09 at 8 40 44 am](https://user-images.githubusercontent.com/6169781/41191673-f8

[2018-06-09 14:22] VilleMiekkoja opened #1979 "Error when installing native-base version 2.5.0"
I get this error when trying to install native-base version 2.5.0:

● Validation Error:

  Module <rootDir>/node_modules/react-native/jest/setup.js in the setupFiles option was not found.

  Configuration Documentation:
  https://facebook.github.io/jest/docs/configuration.html

The install command I used was: npm install native-base@2.5.0 --save --verbose

## react-native, react and native-base ve

[2018-06-09 15:32] hanwenbo opened #1980 "addListener is not a function"
addListener is not a function
handleException @ ExceptionsManager.js:65
handleError @ InitializeCore.js:117
reportFatalError @ error-guard.js:44
__guard @ MessageQueue.js:233
callFunctionReturnFlushedQueue @ MessageQueue.js:102
(anonymous) @ debuggerWorker.js:72

ignite new appname --boilerplate native-base-boilerplate

## react-native, react and native-base version
react-native  0.47.2
## Expecte

[2018-06-09 16:50] Rud156 commented on #627
This problem still occurs in `native-base@2.4.5`

[2018-06-09 17:40] IbraheemAlSaady opened #1981 "Header absolute/fixed value with transparent background"
I'm trying to make the header to be transparent. I've tried styling it to `absolute` but its not in the screen (hidden) if I do that. also if I do `backgroundColor: 'transparent'` it doesn't work as well.

![image](https://user-images.githubusercontent.com/14288490/41194515-01709276-6c25-11e8-84a8-21148253e5f1.png)

I want the `Header` component to be on top of the view that has the gradient. I wa

[2018-06-09 18:31] QinGuan2004 commented on #1981
To make header transparent you should do
[code]

You did ```backgroundColor: { 'transparent' } ``` instead with {}
Also keep note that the white _*may*_ be your actual background color, so you may mistake your View background color for that

[2018-06-09 18:34] QinGuan2004 commented on #1964
@theapache64 you could try ```<Item isFocused={()=>alert("Floated")}/>``` not sure if it'll work

[2018-06-09 19:43] IbraheemAlSaady commented on #1981
@QinGuan2004 Yeah sorry for the `{}`, I updated my question.
I'm using the `Header` component from Native Base, looks like this.

[code]
You can change the style of the `Header` (backgroundColor, etc...), but what I want is for the header to be on top of the element that has the gradient color.

I tried your solution, but unfortunately, it didn't work.

[2018-06-10 05:02] idvorkin opened #1982 "Typo in onClose definition resulting in compilation error"
https://github.com/GeekyAnts/NativeBase/blob/f496d1b1c959fc625c14717539d1962a68175038/index.d.ts#L1123

[2018-06-10 05:06] idvorkin commented on #1982
Looks like it came from db2d48433abdcd647d5265b9494872aa74a6e5c2 @SupriyaKalghatgi

[2018-06-10 06:09] sopdock opened #1983 "Use Icon with Toast?"
Is there a way to use an Icon with Toast? If so, how would I float the icon to the right?

[2018-06-10 06:27] sopdock opened #1984 "Scale button size?"
If I have this button:

<Button bordered }>
    <Icon name="arrow-left"'/>
</Button>

Is it possible to scale the size down to 30x30 for heightxwidth?

I tried defining the `<Button bordered  style={{width: 30, height:30}}>` but then the Icon disappears.

[2018-06-10 18:23] idvorkin opened #1985 "Header clipped on iPhoneX"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-06-10 21:05] gupta-ji6 commented on #626
Kindly add this as early as possible. This is a very useful feature

[2018-06-11 04:10] SupriyaKalghatgi commented on #1979
@VilleMiekkoja Latest is 2.5.1
Fixed this with 2.5.1

[2018-06-11 04:10] #1979 closed

[2018-06-11 05:36] SupriyaKalghatgi commented on #1957
@jwoertink Thousands of users using NativeBase with this version, no issues reported regarding this
We tried helping you, asked you to create sample project for us to check and help you
Anything else that you need from us?

[2018-06-11 05:38] SupriyaKalghatgi commented on #1976
Picker's `iosIcon` prop defines icon
I cannot find this in your code

[2018-06-11 05:44] SupriyaKalghatgi commented on #1980
https://github.com/GeekyAnts/ignite-native-base-boilerplate/issues/19

[2018-06-11 05:44] #1980 closed

[2018-06-11 05:54] SupriyaKalghatgi commented on #1983
As per design guidelines, Icons are not part of Toast
So we wont have this with our toast

But if you want to have this with your project, you can go ahead with fork and modify as per your need

[2018-06-11 05:54] #1983 closed

[2018-06-11 06:00] SupriyaKalghatgi commented on #1984
Check docs for button size https://docs.nativebase.io/Components.html#button-size-headref

[code]

Gives button with height and width of 30px

[2018-06-11 06:00] #1984 closed

[2018-06-11 06:22] lyseiha opened #1986 "DatePicker Not found"
Module '"native-base"' has no exported member 'DatePicker'.

need help.

[2018-06-11 06:31] SupriyaKalghatgi commented on #1986
Attaching GIF of date Picker with latest Nativebase
Check NativeBase KitchenSink for example app https://github.com/GeekyAnts/NativeBase-KitchenSink

![date-picker](https://user-images.githubusercontent.com/13464885/41215679-20209b12-6d6f-11e8-93fa-a112812fd368.gif)

[2018-06-11 06:35] lyseiha commented on #1986
I use in typescript and the import statement show
Module '"native-base"' has no exported member 'DatePicker'.

[2018-06-11 06:37] SupriyaKalghatgi commented on #1986
@lyseiha You did not mention this in your issue description

[2018-06-11 06:38] SupriyaKalghatgi commented on #1986
Accordion and Date Picker are not yet defined for typescript
Please wait for next release

[2018-06-11 06:38] #1986 closed

[2018-06-11 07:12] ferreirix commented on #882
Can somebody give me a hand on this control? Thank you in advance.
https://stackoverflow.com/questions/50788261/how-to-use-nativebase-datepicker/50791318#50791318

[2018-06-11 07:22] akhil-geekyants commented on #1977
@QinGuan2004 add value props with the `<Input/>`.

Code
[code]

Gif

![floatinglabel](https://user-images.githubusercontent.com/27768184/41217612-0c78a184-6d76-11e8-80bd-4299686d4b61.gif)

[2018-06-11 08:20] SupriyaKalghatgi commented on #1968
Closing this, since components are not used from NativeBase

[2018-06-11 08:20] #1968 closed

[2018-06-11 08:21] zarir commented on #1985
![header-safeareaview](https://user-images.githubusercontent.com/795240/41220247-649b39d2-6d7e-11e8-9621-5b35d23bf337.png)
Facing similar issue with NativeBase 2.5.1 and RN 0.55.4

[2018-06-11 08:21] SupriyaKalghatgi commented on #1973
This issue will be closed in a day in case of no response

[2018-06-11 08:23] SupriyaKalghatgi commented on #1985
@idvorkin @zarir Are you using NativeBase's `StyleProvider`?
If yes, then did you eject theme after upgrading NativeBase version?

[2018-06-11 08:34] thomasphilibert commented on #1973
Hi SupriyaKalghatgi,

After upgrading my nativeBase 2.4.1 to 2.5.1 the title are on the left. You can close this issue, thank you.

[2018-06-11 08:40] #1973 closed

[2018-06-11 08:43] zarir commented on #1985
@SupriyaKalghatgi No. I am not using StyleProvider or any theme. This is my code

`<Header
          noLeft
          iosBarStyle='light-content'
          androidStatusBarColor='green'
          style={{ backgroundColor: 'green' }}

          <Left />
          <Body>
            <Title style={{ color: 'white' }}>{LocaleStore.home}</Title>
          </Body>
          <Right>
          <Button tra

[2018-06-11 10:04] SupriyaKalghatgi commented on #1798
Somehow missed this one to check
Will respond soon

[2018-06-11 10:06] akhil-geekyants commented on #1981
@IbraheemAlSaady try wrapping the screen with `ImageBackground`.

Sample code
[code]

Screenshot
![simulator screen shot - iphone 6 - 2018-06-11 at 15 30 43](https://user-images.githubusercontent.com/27768184/41225617-d32e1924-6d8c-11e8-9d82-69d98f881c10.png)

[2018-06-11 10:19] akhil-geekyants commented on #1985
@idvorkin use it like this
[code]
See docs [here](http://docs.nativebase.io/Components.html#title-header-headref).

[2018-06-11 10:34] theapache64 opened #1988 "Custom Tab not working"
I tried to customize the `Tab` using below code, to simply get default `grey` background.

[code]
and used the `GreyTab` like this

[code]

But it's still renders the default `Tab`.

Is this the right way to customize a component ?

[2018-06-11 11:17] akhil-geekyants commented on #1982
PR #1990

[2018-06-11 11:18] udarts opened #1991 "DatePicker textStyle not picked up"
Hi There,

I am trying to use the datepicker component, which works, but applying styling to the text (placeholder), it does get picked up, as I can see it in the debugger on my iphone, but it does not get applied.
For example if I want to remove the padding applied to the text, I added: textStyle={{padding:0}}, I see it's picked up, but not applied (placeholder still has padding 10).

Any idea on

[2018-06-11 11:43] dharamEnest commented on #1975
@akhil-geekyants    Please use this code to make list view.
Start typing in **TextInput**  and check the swipe functionality without closing the keyboard.

`

export default class TestScreen extends Component {

    constructor(props) {
        super(props);
        this.state = { testList: ['a', 'b', 'c', 'd', 'e'] };
    }

    render() {
        const { testList } = this.state;
        <Content

[2018-06-11 12:04] SupriyaKalghatgi commented on #1964
@theapache64 You can detect if `floatUp` is called using `ref`
Note that with `floatingLabel` use `getRef` to get reference

[2018-06-11 12:19] akhil-geekyants commented on #1988
@theapache64 you can achieve this by ejecting the [theme](http://docs.nativebase.io/Customize.html#theaming-nb-headref) and changing `tabDefaultBg` to `grey` in the appropriate variables file (commonColor.js/material.js/platform.js).

[2018-06-11 12:20] svallen commented on #1978
Thanks for the quick response.

I also found out super late last night (after some deep-dive googling) that I can do this:

<Header style={styles.header}>
	<StatusBar barStyle="light-content"/>
	<Text>Header</Text>
</Header>

Appreciate the response. I didn't see this in the documentation or the version that you had mentioned so perhaps that can be added to the documentation somewhere for its know

[2018-06-11 12:20] #1978 closed

[2018-06-11 12:21] #1964 closed

[2018-06-11 12:22] theapache64 commented on #1988
Yes, it worked. but what if need another style of tab ?

[2018-06-11 12:23] theapache64 commented on #1988
What if an app needs to multiple styles of tabs ?

[2018-06-11 13:30] akhil-geekyants commented on #1975
@dharamEnest add props ` keyboardShouldPersistTaps="handled"` to `<List/>`.

[2018-06-11 13:57] akhil-geekyants commented on #1988
@theapache64 try something like this

[code]

[2018-06-11 13:58] udarts commented on #1991
I tried to change the file, but still not picked up. Anything I need to do after it?

[2018-06-11 14:00] theapache64 commented on #1988
Ok, Is there any alternative ?

[2018-06-11 14:05] akhil-geekyants commented on #1991
@udarts to check this locally, change this
[code]
to
[code]
in `node_modules/native-base/package.json` and restart the packager.

[2018-06-11 14:19] udarts commented on #1991
Yep that works, when is this fix available in the main product?

[2018-06-11 14:52] theapache64 opened #1992 "tabFontSize not working (material.js - ejectedTheme)"

[2018-06-11 15:06] theapache64 commented on #1988
`Object.assign` shows some typescript error. I use `React.cloneElement`
[code]

Is this a good approach ? any performance issue ?

[2018-06-11 15:08] dharamEnest commented on #1975
@akhil-geekyants Thanks it's working now

[2018-06-11 15:25] theapache64 commented on #1988
Is this a correct approach Akhil ?

[code]

[2018-06-11 15:35] theapache64 commented on #1988
Is there anyway i can make work below structured code ?

[code]

[2018-06-11 15:47] jwoertink commented on #1957
@SupriyaKalghatgi true, but @kodayashi also just reported this issue too. We can just close it out for now. If I get some free time, I'll try to re-create in a sample app and can always re-open later. Unless anyone else runs in to this issue and is able to re-create somehow. Thanks for the help!

[2018-06-11 15:47] #1957 closed

[2018-06-11 18:05] jerodgers1 opened #1993 "SwipeRow isnt rendering left and right hidden menus the same."
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-06-11 18:44] bensinjin opened #1994 "Error compiling TypeScript"
I upgraded NativeBase to get TS support for "noIndent" however now I'm getting:
[code]
When attempting to compile TypeScript .. any thoughts?

react-native@0.55.4
react@16.4.0
native-base@2.5.1
typescript@2.9.1

[2018-06-11 21:49] bensinjin commented on #1994
Never mind I see this is addressed in #1990

[2018-06-11 21:50] #1994 closed

[2018-06-12 01:07] isaaclem commented on #1798
@SupriyaKalghatgi : It's ok SupriyaKalghatgi, thanks for your effort on making NB great!

[2018-06-12 02:10] SupriyaKalghatgi commented on #1957
@jwoertink Thank you for cooperation
We cant help anyone out, unless we are able to reproduce it, thats how it works

[2018-06-12 05:02] #1975 closed

[2018-06-12 05:03] SupriyaKalghatgi commented on #1991
By this week

[2018-06-12 05:06] SupriyaKalghatgi commented on #1993
https://stackoverflow.com/questions/50803785/native-base-swipe-row-hidden-menu-is-now-showing-up-as-expected

[2018-06-12 06:03] akhil-geekyants commented on #1988
@theapache64 `<Tabs>` expect a `<Tab/>` as child with its props. Replacing `<Tab>` component with a custom component with its child as `<Tab/>` may not work.

[2018-06-12 06:09] theapache64 commented on #1988
ok

[2018-06-12 06:09] #1988 closed

[2018-06-12 06:38] limianwang commented on #1985
I am experiencing the same issue...

[code]

[2018-06-12 06:40] pareksha commented on #138
Do not run `react-native link` if you have already did it at the start of project. Else it will cause linking twice and you'll face this https://github.com/wix/react-native-camera-kit/issues/132

[2018-06-12 06:41] limianwang commented on #1985
I am experiencing the same issue:

my code:
[code]

<img width="388" alt="screen shot 2018-06-11 at 11 39 28 pm" src="https://user-images.githubusercontent.com/1587797/41274066-dc016cba-6dd0-11e8-9cec-75ceaceb01aa.png">

Anyone know why?

[2018-06-12 06:42] akhil-geekyants commented on #1993
@jerodgers1 try commenting `width` and `marginLeft` of style Card

[2018-06-12 06:45] limianwang commented on #1985
One thing worth mentioning, on my other test app, same code works on iphone x. Version 2.4.5 works but not 2.5.1.

[2018-06-12 06:49] SupriyaKalghatgi commented on #1981
`noShadow` does not give the desired output for iOS

Lets have `transparent` as prop for Header

[2018-06-12 08:09] #1974 closed

[2018-06-12 10:45] SupriyaKalghatgi commented on #1798
@isaaclem

- your code snippet: https://github.com/GeekyAnts/NativeBase/issues/1798#issuecomment-382749157

- @akhil-geekyants 's reply: https://github.com/GeekyAnts/NativeBase/issues/1798#issuecomment-382989885

we couldn't reproduce your issue with your provided code

[2018-06-12 13:11] akhil-geekyants commented on #1315
- Issue #937 is fixed with native-base version 2.5.0.

- Implementation of ActionSheet on android is an implementation of the following screen

![screen shot 2018-06-12 at 6 35 02 pm](https://user-images.githubusercontent.com/27768184/41292216-8a3ab32e-6e6f-11e8-82bc-0e3fe40b5b3f.png)

- NativeBase Picker for Android is a direct implementation of React Native Picker.

    Let us know if you would

[2018-06-12 14:21] phannam1412 commented on #409
same problem

[2018-06-12 14:34] muhammadarsal commented on #1499
@SupriyaKalghatgi would you provide example?

[2018-06-12 15:12] jerodgers1 commented on #1993
commenting out the styles had no effect on the order of the items

[2018-06-12 15:46] theapache64 opened #2000 "floatingLabel glitch"
Input with floatingLabel takes sometime to float the label.

### Code
[code]
### Output

![untitled](https://user-images.githubusercontent.com/9678279/41301419-8e92a5a6-6e85-11e8-943e-87b725376b7c.gif)

### I am on
[code]

[2018-06-12 17:06] lumlnous commented on #1501
Same issue here. Any word?

[2018-06-12 19:33] mercerStrongArm opened #2002 "Rogue semicolon in index.d.ts"
I have a very simple issue. There is a syntax error in the native-base index file: https://github.com/GeekyAnts/NativeBase/blob/master/index.d.ts#L1123

That line has ";;" where it should have ";". This double semicolon caused a compilation error after I updated native-base. I didn't see any duplicates for this issue in the list, and the file was last updated 12 days ago.

## react-native, react a

[2018-06-12 20:42] rostyys opened #2003 "Changing Tabs width, not the content inside"
I want to customize the `Tabs` width, but not the width of the content of each tab.

![simulator screen shot - iphone x - 2018-06-12 at 13 30 34](https://user-images.githubusercontent.com/6425523/41315683-158d9106-6e45-11e8-99cd-bd6c222e40de.png)

I want the width of the `Tabs` header to not affect the width of the content inside each `Tab.`

This is my code. Currently I'm adding a `style` to `Tab

[2018-06-12 23:05] rostyys opened #2004 "Custom Thumbnail size not working"
I am changing the `height` and `width` inside style for the `Thumbnail`

[code]

This is what's happening:

![image-1 copy](https://user-images.githubusercontent.com/6425523/41321787-554f7d6c-6e5a-11e8-8bbb-a85fd9b395e2.png)

[2018-06-13 01:57] thanhtruong0315 commented on #2002
+1

[2018-06-13 02:05] isaaclem commented on #1798
@SupriyaKalghatgi
I've created a snack @ https://snack.expo.io/@cclem65/moneylover with the code snippet I've provided.
It's in MainScreen.js. Just by running it you can see the console log that those component life cycle only being triggered once

[2018-06-13 02:06] isaaclem commented on #1798
@SupriyaKalghatgi
I've created a snack @ https://snack.expo.io/@cclem65/moneylover with the code snippet I've provided.
It's in MainScreen.js. Just by running it you can see the console log that those component life cycle only being triggered once

[2018-06-13 04:16] SupriyaKalghatgi commented on #2000
Share the device configuration
As in, model of device, which OS, which API etc

[2018-06-13 04:18] ViktorAksionov opened #2005 "Floating label onfocus issue"
After upgrade to 2.5.1 from 2.4 floating label goes up only when user typed at least 1 char, when there is a focus in input field and nothing is there floating label stack in place, but should move up.

## "react": "^16.4.0",  "react-native": "^0.55.4",  "native-base": "^2.5.1",
## Expected behaviour
![image](https://user-images.githubusercontent.com/2520890/41330037-e7710f82-6e85-11e8-8a47-7723ec

[2018-06-13 04:19] SupriyaKalghatgi commented on #2002
#1982

[2018-06-13 04:19] #2002 closed

[2018-06-13 04:27] SupriyaKalghatgi commented on #1976
This issue will be closed in a day in case of no response

[2018-06-13 04:47] ViktorAksionov commented on #2005
![image](https://user-images.githubusercontent.com/2520890/41330756-27faacbc-6e8a-11e8-96c0-ed8d1ade4830.png)

[2018-06-13 06:33] ZeroCool00 commented on #2005
same problem here

[2018-06-13 06:39] ZeroCool00 commented on #2000
same problem.. i have a nougat
![whatsapp image 2018-06-13 at 12 09 19 pm](https://user-images.githubusercontent.com/18139594/41334280-abcfe8ae-6f02-11e8-9728-3898619c584f.jpeg)

[2018-06-13 06:47] akhil-geekyants commented on #1993
@jerodgers1 commenting `width` and `marginLeft` of style `Card` worked for me. Attaching a gif

Gif

![swiperow](https://user-images.githubusercontent.com/27768184/41334510-830cb36a-6f03-11e8-928e-290e5e09e838.gif)

[2018-06-13 07:01] akhil-geekyants commented on #409
@phannam1412 checked this. Working fine for me. Attaching a gif.

Gif

![h3](https://user-images.githubusercontent.com/27768184/41335175-87b7b750-6f05-11e8-891f-59cb25d31d9e.gif)

[2018-06-13 07:11] LasithaPrabodha commented on #1010
still exist in v2.5.1 android

[2018-06-13 07:12] LasithaPrabodha commented on #1010
Still exist in v2.5.1 android. I'm trying initialPage={2}

[2018-06-13 07:32] theapache64 commented on #2000
@SupriyaKalghatgi

![screenshot_2018-06-13-12-58-59](https://user-images.githubusercontent.com/9678279/41336467-f964b44e-6f09-11e8-952f-117def3dc8af.png)

[2018-06-13 07:34] theapache64 commented on #2000
I've also tested it in my emulator which runs Android 7. Same issue. I think it's not device/os specific.

[2018-06-13 07:35] SupriyaKalghatgi commented on #2000
we dd'nt face it ever
hence asked you for more details

[2018-06-13 07:41] theapache64 opened #2006 "stackedLabel input scrolls"
![untitled](https://user-images.githubusercontent.com/9678279/41336883-2657dc14-6f0b-11e8-9e17-9958f7ce8c0d.gif)

I am using input with stackedLabel and the input scrolls when i swipedown.

### Code to reproduce

[code]

[2018-06-13 07:43] akhil-geekyants commented on #1010
@LasithaPrabodha can you try this workaround https://github.com/GeekyAnts/NativeBase/issues/1870#issuecomment-395393967

[2018-06-13 07:46] ZeroCool00 commented on #2000
like i said.. it never happen before.. its just happen in this version **native-base": "^2.5.1**

[2018-06-13 09:34] akhil-geekyants commented on #2003
@rostyys try using scrollable tabs http://docs.nativebase.io/Components.html#tabs-scrollable-headref.

[2018-06-13 10:12] akhil-geekyants commented on #2000
@theapache64 @ZeroCool00 can you try toggling the remote debugging mode.

[2018-06-13 10:21] akhil-geekyants commented on #2005
@ViktorAksionov @ZeroCool00 can you try toggling the remote debugging mode.

[2018-06-13 10:31] SupriyaKalghatgi commented on #1798
@isaaclem We tried your code from https://github.com/GeekyAnts/NativeBase/issues/1798#issuecomment-382749157 and worked fine with output shared above

and this code is same as your code on snack

[2018-06-13 10:41] SupriyaKalghatgi commented on #2004
@rostyys If you see [theme of Thumbnail](https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Thumbnail.js)

Max limit of height and width mentioned here is 80

So anything above this, you need to mention `borderRadius` along with height and width

[2018-06-13 10:44] SupriyaKalghatgi commented on #2004
We will add this in docs

[2018-06-13 11:03] theapache64 commented on #2000
@akhil-geekyants Yeah, Turning off the debugging mode helped. (y)

[2018-06-13 11:16] theapache64 opened #2009 "floatingLabel doesn't float on version v2.5.1 but works on v2.4.5"
floatingLabel doesn't auto-float on v2.5.1 when wrapped inside another `View` and it only floats when i start typing. On v2.4.5, there's no issue like this and works perfectly fine with the same code.

### v2.4.5
![old](https://user-images.githubusercontent.com/9678279/41347768-56666520-6f28-11e8-9be2-1001078eef4c.gif)

### v2.5.1
![new](https://user-images.githubusercontent.com/9678279/41347927-b

[2018-06-13 11:22] SupriyaKalghatgi commented on #2009
@theapache64 what is the difference between this and https://github.com/GeekyAnts/NativeBase/issues/2000?

[2018-06-13 11:34] SupriyaKalghatgi commented on #2009
#2000

[2018-06-13 11:34] #2009 closed

[2018-06-13 11:34] theapache64 commented on #2009
Both of the issues are based on same widget, but different.
#2000 reports the glitchy-lazy-slow floating behaviour of the `Input` with `floatingLabel`.  This issue, with the same property but doesn't float at all.

[2018-06-13 11:35] SupriyaKalghatgi commented on #2005
#2000

[2018-06-13 11:35] #2005 closed

[2018-06-13 11:50] SupriyaKalghatgi commented on #633
Check commit [4663af0](https://github.com/GeekyAnts/NativeBase/commit/4663af052e6e4852d3c37289503f84201ba04c26)

[2018-06-13 13:20] akhil-geekyants commented on #2000
Attaching a gif with `native-base` version 2.5.1

![floatinglabel](https://user-images.githubusercontent.com/27768184/41353665-8393a03c-6f3a-11e8-8b82-3a0cdf561055.gif)

[2018-06-13 13:28] #2000 closed

[2018-06-13 13:51] jerodgers1 commented on #1993
maybe it wasn't clear, the issue is then order of the tabs. Notice even after commenting out the styles, that on the left side menu the tabs are in the order of (red, purple, blue, green) but in the right side menu, the tabs are in the order of (purple, blue, green, red) the my expected behavior is that the tabs would show up in the same order for both side menus.

I could just change the order I

[2018-06-13 17:30] gvarandas opened #2011 "Using a HOC input breaks the proper use of the "Item" component with a floatingLabel"
This issue appeared when I tried to insert a mask on the "Input" component, which was accomplished by the use of a Higher Order Component.
This, on the other hand, changed the type of the Input to the "MaskedInput", which was the HOC type and by doing so, the floating label item stopped to recognize the "inputProps" and to pass them through to the Input child.

## react-native, react and native-ba

[2018-06-13 17:33] DinDents commented on #1977
Worked for me!

[2018-06-14 00:48] isaaclem commented on #1798
@SupriyaKalghatgi : Yes it's of course exactly the same as on snack, it's so that when you run the snack, you can see the console log. and realize that they will only be triggered for first time for each of that 4 dates.

[2018-06-14 00:58] isaaclem commented on #1798
@SupriyaKalghatgi: I've just tried to copy out the code to another snack and run it, it seems working fine. The problem can only simulated by this very specific snack https://snack.expo.io/@cclem65/moneylover . Not sure what's particularly wrong but I think you may close the issue

[2018-06-14 03:42] theapache64 commented on #2000
It worked when i disabled the debug mode

[2018-06-14 04:07] SupriyaKalghatgi commented on #1798
@isaaclem This is exactly what i tried to explain you
We tried your code in existing project, worked fine
We tried your code in fresh project, worked fine
If this did not work on snack, i am not sure about the reason for this.

Totally uncommentable, we cant help with this

Let me know if any more diagnosis or help required from our side

[2018-06-14 04:16] phannam1412 commented on #409
thank @akhil-geekyants, actually I have problem when there are multiple H3, not the single H3, but no worries, the better way is to wrap H3 for convenient style customization
`
import {H3 as NBH3} from 'native-base';

export class H3 extends Component {
    constructor(props) {
        super(props);
    }
    render() {
        return <NBH3 style={this.props.style,{lineHeight: 24}} {...this.props}

[2018-06-14 05:26] #1834 closed, assigned to nobody

[2018-06-14 05:27] #1870 closed

[2018-06-14 05:27] #1976 closed

[2018-06-14 05:53] LasithaPrabodha commented on #1501
I've seen this issue reported several times in this repo but @SupriyaKalghatgi locks them as spam and limit the conversation to collaborators only.

[2018-06-14 05:57] LasithaPrabodha commented on #1501
Same issue no solution yet

[2018-06-14 11:38] Angelk90 commented on #1501
@normdoow , @lumlnous , @LasithaPrabodha :

I have not yet been able to solve it, try asking: @GeekyAnts, @akhil-geekyants, @SupriyaKalghatgi.
if there is a solution.

[2018-06-14 11:46] lumlnous commented on #1501
@LasithaPrabodha  Height of every tab appears to have the height of the tallest tab regardless of what you do to each tab.

[2018-06-14 13:27] idvorkin commented on #1985
Thanks @akhil-geekyants !

My issue is resolved by nesting a body element in the header.

For my learning any reason to make the body tag mandatory?

[2018-06-14 14:08] DaniloCouto commented on #2006
This issue mess up content scroll pretty hard.
Sometimes the touch controller thinks it is scrolling the **input** when the user intention was to scroll the **content**, giving that feel that the application is slow.
This just happen with me. I'm going to try some workarround.

[2018-06-14 17:53] vanb commented on #1411
I'm also having a basic issue using this component. Before the data is fetched, the component is initialized with an empty array and therefore renders the empty template. When the populated array is passed to props for re-render, the deck continues to display the empty state... so I cannot even swipe a card to re-render. Any suggestion on how we should explicitly update the datasource?

[2018-06-14 18:00] arolson101 commented on #559
I just got this error and it seems to be a case issue; my ```Utils``` folder was capitalized but the file referenced ```utils```.  I renamed the folder and all was well.

[2018-06-14 18:09] miguelrs commented on #882
Any chance to make this a date _and time_ picker?

[2018-06-15 00:20] rostyys opened #2014 "Change letter spacing inside input"
Hi! Is this possible to do?

[2018-06-15 01:39] LasithaPrabodha commented on #1501
@Angelk90 @lumlnous

I figured out that if you write the code like this, the height will be different according to their content.

[code]

But this won't

[code]

[2018-06-15 01:49] LasithaPrabodha commented on #1010
@akhil-geekyants It worked.

[2018-06-15 05:28] SupriyaKalghatgi commented on #1845
Released with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:28] #1845 closed

[2018-06-15 05:29] SupriyaKalghatgi commented on #1991
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:29] #1991 closed

[2018-06-15 05:29] SupriyaKalghatgi commented on #1981
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:29] #1981 closed

[2018-06-15 05:30] SupriyaKalghatgi commented on #1986
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:30] SupriyaKalghatgi commented on #633
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:30] #633 closed

[2018-06-15 05:31] SupriyaKalghatgi commented on #1985
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:31] #1985 closed

[2018-06-15 05:32] SupriyaKalghatgi commented on #1924
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:32] #1924 closed

[2018-06-15 05:34] SupriyaKalghatgi commented on #2006
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:34] #2006 closed

[2018-06-15 05:35] SupriyaKalghatgi commented on #1915
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:35] #1915 closed

[2018-06-15 05:35] SupriyaKalghatgi commented on #1992
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:35] #1992 closed

[2018-06-15 05:36] SupriyaKalghatgi commented on #1982
Fixed with [v2.5.2](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.2)

[2018-06-15 05:36] #1982 closed

[2018-06-15 05:40] SupriyaKalghatgi commented on #2014
Can you explain more on this

[2018-06-15 05:44] SupriyaKalghatgi commented on #1315
This issue will be closed this week in case of no response

[2018-06-15 05:45] SupriyaKalghatgi commented on #1977
@QinGuan2004 This issues will be closed this week in case of no response

[2018-06-15 05:47] SupriyaKalghatgi commented on #1798
We would be closing this in a day, in case of no response

[2018-06-15 11:18] anbu369 opened #2015 "Toast not showing in latest react version"
## react-native, react and native-base version
react-native : 0.55.4
react : 16.4.1
native-base : 2.5.2
## Expected behaviour
Show Toast
## Actual behaviour
Toast not showing and no errors showing in debugger
## Steps to reproduce (code snippet or screenshot)
`import {Button, Toast, Text} from 'native-base'`

`<Button
                          danger
                          onPress={() =>

[2018-06-15 11:40] lumlnous commented on #1501
Problem I had with your findings is, if I put my tabs in a <Content> component, I can no longer scroll, even if I add scrollviews / flex to regular view components.

[2018-06-15 15:46] Corpsomium opened #2016 "DatePicker : onDateChange callback for Android"
Hi,

NativeBase's version v2.5.2 added support for `onDateChange` on iOS (#1987), but I need it on Android.

The support on IOS is made by using an internal `setDate(date)` function. Why not use it on both cases ?

Actual code :
[code]

That could turn into something like :
[code]

Also, the `setDate` and `showDatePicker` functions could be turned into an arrow function to avoid binding on every r

[2018-06-15 16:32] #1315 closed

[2018-06-15 17:54] kulack opened #2017 "ListItem with Text not resizing correctly on accessibility large font sizes"
Hi, I couldn't find an issue like this.
First off, your native-base is amazingly good. We love having these component/API improvements. Really helps us out!

## react-native, react and native-base version
native-base 2.5.2 (tested on master also)
react-native 0.55.4 (through Expo https://github.com/expo/react-native/archive/sdk-28.0.0.tar.gz)
react 16.3.1

## Expected behaviour
I was hoping that t

[2018-06-15 19:27] rostyys commented on #2014
@SupriyaKalghatgi Inside of a `TextInput`, is it possible to increase the spacing in between the letters?

![spacing](https://user-images.githubusercontent.com/6425523/41485975-7c8c9c68-7097-11e8-93c7-897a7a99790e.png)

[2018-06-16 00:31] rostyys opened #2018 "How to add shadows to textBox"
Hello, I'm trying to add shadows to `Input`, but it's not working. It works on native `textInput`

[code]

![image-1-3 copy](https://user-images.githubusercontent.com/6425523/41493957-e9cf4364-70c1-11e8-970f-ac5576d408e3.png)

[2018-06-16 08:45] QinGuan2004 commented on #1977
works!

[2018-06-16 08:45] #1977 closed

[2018-06-16 11:04] Ahagan opened #2019 "defaultProps does not exist on Text"
I've upgraded to the latest version of NativeBase. I was using Text.defaultProps.allowFontScaling = false to prevent font scaling. I now get a compilation error:  Property 'defaultProps' does not exist on type 'typeof Text'.

## react-native, react and native-base version
react-native: 0.55
react: 16.3.1
native-base: 2.5.2
## Expected behaviour
Should be able to set the defaultProps.allowFontScali

[2018-06-16 14:20] theapache64 opened #2020 "How to control `Card` padding ?"
How to control the space between `CardItem` and `Card` ? The docs doesn't have any information about
controlling the `Card` padding. ?

[2018-06-17 19:03] IbraheemAlSaady commented on #1981
@SupriyaKalghatgi, v2.5.2 did the trick. thanks

[2018-06-17 20:42] EricGhildyal commented on #2016
Any updates on this? Are there any workarounds for now? I would love for this to be added!

[2018-06-18 01:04] kenny26 commented on #1981
I'm using the latest version 2.5.2, and I can't even reproduce what @akhil-geekyants have on the screen...

Here is my Screen
[code]

And here's the result I got
![screenshot_1529283656](https://user-images.githubusercontent.com/13347016/41514049-fa82a71a-72cd-11e8-907e-149546e219cc.png)

While the header is transparent, I can't get the status bar to become transparent... Any ideas?

[2018-06-18 02:36] jordan-mcrae commented on #2017
+1

[2018-06-18 05:39] #1798 closed

[2018-06-18 06:02] SupriyaKalghatgi commented on #2003
@rostyys Did you try?

[2018-06-18 08:22] Corpsomium commented on #2016
Little update on this : I added it on my project and it works just fine.
Maybe not on all cases, but on every that I used, it worked.

[2018-06-18 08:47] SupriyaKalghatgi commented on #2015
Worked same on Android also
![toast](https://user-images.githubusercontent.com/13464885/41526589-4b3dc7dc-7302-11e8-9905-b5ea7d2d38e2.gif)

[2018-06-18 09:15] ggolda opened #2023 "Accordion icon direction"
Is it possible to get icon status in custom header for Accordion? I need to draw a different set on icons based on the current status of accordion component (open/closed).

[2018-06-18 09:38] impradeepsaini commented on #757
hi, can anyone tell how to change border color for other tabs (tabs other than current selected one)?

tabBarUnderlineStyle works for the active tab but for the rest of tabs, how to change their body color?

[2018-06-18 09:49] anbu369 commented on #2015
Thanks. The problem was with the debugger. I didnt know Toasts doesnt show when debugger is on

[2018-06-18 10:04] #2015 closed

[2018-06-18 10:06] SupriyaKalghatgi commented on #2023
@ggolda Not really clear with your query
Can you give an example?
Also go through https://github.com/GeekyAnts/NativeBase-KitchenSink for examples and NativeBase Docs https://docs.nativebase.io/Components.html#Layout

[2018-06-18 10:08] SupriyaKalghatgi commented on #757
Check NativeBase Docs https://docs.nativebase.io/

[2018-06-18 10:32] IbraheemAlSaady commented on #1981
@kenny26  You can do something like this on android

[code]

[2018-06-18 15:55] Corpsomium commented on #2016
[Corresponding changed line](https://github.com/Corpsomium/NativeBase/blob/7b39a9165a638746f71c96136579b1af42248121/src/basic/DatePicker.js#L56)
[Full commit with several changes](https://github.com/Corpsomium/NativeBase/commit/7b39a9165a638746f71c96136579b1af42248121)

I don't get why it would not work on Android ?

[2018-06-18 15:58] ferreirix commented on #2016
@Corpsomium That's exactly what I suggested when the iOS onDateChange support was added. Maybe we're missing something?

[2018-06-18 17:07] ggolda commented on #2023
@SupriyaKalghatgi
I'm talking about this accordion feature: http://docs.nativebase.io/Components.html#accordion-custom-header-content-headref

As you can see, in `renderHeader` method it provides only `title` parameter and there is no way to detect if this item is collapsed or expanded to render different icons (e.g. `arrow-up`, `arrow-down`, etc).

![image](https://user-images.githubusercontent.c

[2018-06-19 03:16] tkserver opened #2025 "Feature Request: Pagination"
Nativebase is great, but is missing pagination component!

[2018-06-19 03:30] ViktorAksionov commented on #2000
Bug still exist even in production version!

[2018-06-19 04:52] cmmartin commented on #945
For whatever reason, using yarn instead of npm resolves this for me

[2018-06-19 08:14] dharmilsan opened #2028 "Upgrade to Babel 7 React Native 0.56 -- Breaking Change"
RN v0.56 is going to introduce a **breaking change** in terms of upgrading to **babel7. babel7** is **NOT** backwards-compatible with babel6 and hence all the plugins will need to be manually updated to import the new babel scoped packages. Read more here: https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#056 and https://babeljs.io/docs/en/next/v7-migration

[2018-06-19 09:48] akhil-geekyants commented on #2000
@ViktorAksionov can you check this against branch `revert/fix-1606`. Let us know if it is fixed.

[2018-06-19 10:38] SupriyaKalghatgi commented on #1993
@akhil-geekyants I dont find bug here

[2018-06-19 10:39] SupriyaKalghatgi commented on #1993
@jerodgers1
[code]

Tried this piece of code, worked fine on iOS and Android

[2018-06-19 10:39] SupriyaKalghatgi commented on #1993
If this works fine, then probably you need to check with your inline styles

[2018-06-19 10:46] SupriyaKalghatgi commented on #1993
![list-swipe](https://user-images.githubusercontent.com/13464885/41592996-1bf10d60-73dc-11e8-9247-f881bc74941b.gif)

[2018-06-19 10:47] SupriyaKalghatgi commented on #1993
works same on Android, cannot take GIF

[2018-06-19 11:18] SupriyaKalghatgi commented on #2014
@rostyys Yes
![image](https://user-images.githubusercontent.com/13464885/41594297-8ead49e6-73e0-11e8-9ca0-89709c254b41.png)

[2018-06-19 11:18] #2014 closed

[2018-06-19 11:34] SupriyaKalghatgi commented on #2018
@rostyys Works fine with NativeBase Input
![image](https://user-images.githubusercontent.com/13464885/41594932-bcc81692-73e2-11e8-8d2d-8ed5f654bd22.png)

[2018-06-19 11:34] #2018 closed

[2018-06-19 11:40] SupriyaKalghatgi commented on #2020
`listItemPadding` from theme does that
This variable is used commonly between List and Card

[2018-06-19 11:49] SupriyaKalghatgi commented on #2020
https://github.com/GeekyAnts/NativeBase/commit/470494ca720e553095022b149e49f245cd323654

[2018-06-19 11:49] #2020 closed

[2018-06-19 13:49] jerodgers1 commented on #1993
I'm trying to use custom icons that's why I'm using the following code in each swipe.
[code]
...its fine though, I'll move the code around to get the layout that is needed. Thank you for your help I appreciate your time.

[2018-06-19 14:09] akhil-geekyants commented on #2017
@kulack `listItem` with `icon` prop has a fixed height. Try adding `height:null` to the styles. Can you try this
[code]

[2018-06-19 14:29] kulack commented on #2017
Very nice. This does workaround the issue. Thanks!

[2018-06-19 17:44] SupriyaKalghatgi commented on #1993
@jerodgers1 Let me know if you need further help
Other case, you can close this issue

[2018-06-19 18:12] IbraheemAlSaady opened #2033 "IOS 11 Header support"
Are there currently any support for IOS 11 Header like? If not, will it be?
Something similar to this image

![1_43k66mopfi0zbfyvmdnpoa](https://user-images.githubusercontent.com/14288490/41615793-e09ac4da-7404-11e8-9312-8b21650c2542.jpeg)

Most of IOS 11 apps has an experience similar to this one.

![28991088-f617b5e4-7940-11e7-92ca-ca14ba6b4d5d](https://user-images.githubusercontent.com/14288490

[2018-06-19 18:19] #1993 closed

[2018-06-19 23:18] rostyys commented on #2003
@akhil-geekyants @SupriyaKalghatgi Yes, I tried it. In addition, I'm being forced to insert a `height` for the Tabs in order for the tab content to show up. is this normal behavior?

![scrollable](https://user-images.githubusercontent.com/6425523/41629066-50111bb2-73dc-11e8-87dc-fc9a680c4415.png)

<img width="434" alt="screen shot 2018-06-19 at 4 18 00 pm" src="https://user-images.githubuserconten

[2018-06-20 04:05] SupriyaKalghatgi commented on #2033
This is something related to Animation concept
Taking this as feature request
#38

[2018-06-20 04:05] #2033 closed

[2018-06-20 04:09] SupriyaKalghatgi commented on #2033
The 2nd screenshot (GIF) you shared describes about animation
Though the link you shared https://learnui.design/blog/ios-font-size-guidelines.html, describes change in font, alignment etc

[2018-06-20 05:28] #2017 closed

[2018-06-20 06:32] theapache64 commented on #2020
Ok. thank you for the commit.

I could also fix the issue with this
[code]

**Result**
![image](https://user-images.githubusercontent.com/9678279/41641116-cee8d3ee-7481-11e8-8fd3-9f080741d0a8.png)

[2018-06-20 06:35] SupriyaKalghatgi commented on #2018
@rostyys Also that, if you are trying to set bgColor for NativeBase's rounded input, then set that on `Item` and not on `Input`

[2018-06-20 06:38] SupriyaKalghatgi commented on #2020
@theapache64 Your query was

Which means you expected some theme variable doing this
If you wanted to do this inline, then no point in questioning docs

[2018-06-20 06:38] SupriyaKalghatgi commented on #2020
You can always choose between inline style and theme variable (provided consistency) for this

[2018-06-20 06:42] theapache64 commented on #2020
How could i assume that i was expecting theme variables ? Is `docs` means `theme variable` to you ?

[2018-06-20 06:45] SupriyaKalghatgi commented on #2019
![image](https://user-images.githubusercontent.com/13464885/41641657-9b1c79a6-7483-11e8-8934-1323d00dd481.png)

[2018-06-20 06:52] SupriyaKalghatgi commented on #2020
yes ofcourse
Else how can we list down the possibility of combination of inline styles for all the components

[2018-06-20 07:01] akhil-geekyants commented on #2003
@rostyys try removing `flex:0`

Gif

![tabs](https://user-images.githubusercontent.com/27768184/41642377-ba150100-7485-11e8-96ce-9d54737bb2c8.gif)

[2018-06-20 07:18] SupriyaKalghatgi commented on #2019
![text](https://user-images.githubusercontent.com/13464885/41643206-34b88876-7488-11e8-9bea-0102dccf8f1b.gif)

[2018-06-20 07:34] theapache64 commented on #2006
@DaniloCouto If you're working in a `ejected-theme` environment,updating just the version number won't fix this error. I had to re-eject with new version `(v2.5.2)` to fix this issue. or copy `Item` component from `node_modules` directory.

[2018-06-20 07:55] slootmaekersdirk opened #2035 "RN 0.56 ReactNAtivePropRegistry does not exist in haste map"
Hello,

when using NB 2.5.2 with RN 0.56 I get the following error:

error: bundling failed: Error: Unable to resolve module `react-native/Libraries/Renderer/shims/ReactNativePropRegistry` from `../node_modules/native-base/dist/src/utils/computeProps.js`: Module `react-native/Libraries/Renderer/shims/ReactNativePropRegistry` does not exist in the Haste module map
React Native Packager

package.jso

[2018-06-20 07:58] SupriyaKalghatgi commented on #2035
#2028

[2018-06-20 07:58] #2035 closed

[2018-06-20 08:31] akhil-geekyants commented on #1501
@lumlnous tried placing tabs inside a component. I was able to scroll the tab content. Attaching a gif.

![tabs](https://user-images.githubusercontent.com/27768184/41646764-450d18cc-7492-11e8-87d1-90be8e6da25e.gif)

[2018-06-20 09:13] Angelk90 commented on #1501
@akhil-geekyants :
Can you check this code and tell me what's wrong?
Link: https://snack.expo.io/HJrZ9jXEf

To reply to: https://github.com/GeekyAnts/NativeBase/issues/1501#issuecomment-356865189

On the left there is a folder called lib, inside which there are two files.

If you can not, you'll post the whole code, so you can try it:

App:
[code]

lib/index.js
[code]

lib/styles.js
[code]

[2018-06-20 09:40] udarts opened #2036 "Swipeable List closerow after click"
Hi All,

I am wondering how to close a row after I clicked the left button (going to another screen).

I have tried using: rowMap[`${secId}${rowId}`].props.closeRow(); with an onPress

But that basically froze my app.

This is the code I use so far:

    leftEditBtn(data, secId, rowId, rowMap) {
        return (
            <Button full
                onPress={() => {
                    this.pro

[2018-06-20 09:40] akhil-geekyants commented on #985
checked this issue after merging PR https://github.com/GeekyAnts/NativeBase/pull/1700. Placing Root inside a modal component as suggested by @Zeratyll https://github.com/GeekyAnts/NativeBase/issues/985#issuecomment-383596951 is working fine after merging. See attached Gif.

Sample code
[code]
Gif

![toast-modal](https://user-images.githubusercontent.com/27768184/41650536-e4aef4c8-749b-11e8-8d28-a7

[2018-06-20 09:48] SupriyaKalghatgi commented on #2036
Did you go through #1611

[2018-06-20 09:52] SupriyaKalghatgi commented on #2035
@slootmaekersdirk How did you even manage to run React Native app with 0.56.0-rc.2? Irrespective of NativeBase
I get this
![image](https://user-images.githubusercontent.com/13464885/41651245-b68ad6aa-749d-11e8-96a3-058f4d8b36fa.png)

[2018-06-20 09:58] SupriyaKalghatgi commented on #2035
https://github.com/facebook/react-native/issues/19819

[2018-06-20 09:58] SupriyaKalghatgi commented on #2028
https://github.com/facebook/react-native/issues/19819

[2018-06-20 10:10] SupriyaKalghatgi commented on #2028
@dharmilsan Did you try to run RN app with RN 0.56.0 or 0.56.0-rc.2?

[2018-06-20 10:42] akhil-geekyants commented on #1501
@Angelk90 not sure why this is happening. Removing CollapsingToolbar gives the normal behaviour.

[2018-06-20 10:46] udarts commented on #2036
Tried it and it works. I was first trying to use console.log, but that was eating up my memory, when just using the rowMap, it worked.

[2018-06-20 10:46] #2036 closed

[2018-06-20 11:02] theapache64 opened #2037 "floatingLabel doesn't float when using `React.forwardRef`"
## react-native, react and native-base version
[code]
## Expected behaviour
`floatingLabel` should float
## Actual behaviour
`floatingLabel` doesn't float
## Steps to reproduce (code snippet or screenshot)

Clone [this](https://github.com/theapache64/NativeBaseForwardRefTest) project

## Screenshot of emulator/device
![image](https://user-images.githubusercontent.com/9678279/41654519-55fd718a-74a7

[2018-06-20 11:04] Angelk90 commented on #1501
@akhil-geekyants :  The collapse has Animated Scrollview inside.

[2018-06-20 11:51] gianpaj commented on #985
@akhil-geekyants

This is not ideal or neither practical.

The state of Modal(s) should not be at the Root of an application. It should where the Modal should appear, i.e. inside a screen/component/container.

If we had to do the way you suggest, you would have to pass the Modal state all the way down to the Component in need (via props or in order ways).

I have to say this is not a viable option

[2018-06-20 13:33] akhil-geekyants commented on #2037
@theapache64 checked this. Floating label is working fine with `React.forwardRef`. Attaching a gif.

Code
[code]
Gif

![forwardref](https://user-images.githubusercontent.com/27768184/41661419-5aa71a28-74bc-11e8-9c9f-329d1cb94573.gif)

[2018-06-20 13:53] theapache64 commented on #2037
I've copy pasted the code, and I am getting the same error.

![image](https://user-images.githubusercontent.com/9678279/41662651-31dbd176-74bf-11e8-9992-6f6ce14bcc84.png)

Here's my full [package.json](https://raw.githubusercontent.com/theapache64/NativeBaseForwardRefTest/master/package.json)

[2018-06-20 14:10] akhil-geekyants commented on #2037
Related issue #2000

[2018-06-20 14:17] theapache64 commented on #2037
In #2000 `floatingLabel` takes time to float. but in this case, it's doesn't float.

[2018-06-20 14:24] theapache64 commented on #2037
[https://snack.expo.io/BkwuQ1u-7](Reproduced snack link)

[2018-06-20 14:52] clemerjr commented on #910
This problem still ocurrs, having the same trouble here. Any plans for a new release of native-base with a new version of native-base-shoutem-theme containing @Micjoyce PR [Add function to clear the theme cache #5](https://github.com/GeekyAnts/theme/pull/5) ?

[2018-06-20 15:10] lonewolfffffff commented on #1957
almost similar to @kodayashi, I did upgrade from **2.4.2** to 2.5.2.
@SupriyaKalghatgi perhaps you could reproduce this issue by install **2.4.2** and then upgrade it to latest version.

[2018-06-20 15:52] theapache64 commented on #2037
I've also found that the changing of version `native-base` version to `v2.4.5` fixed the issue. [See here](https://snack.expo.io/HyQbOgOZQ)

[2018-06-20 15:55] gutoglup commented on #910
@SupriyaKalghatgi Can you apply this solution about clean the cache?
Because in this case the control of cache is the developer responsibility.
It's a better solution in this moment, please reconsider it.
Thanks :D

[2018-06-20 16:31] SupriyaKalghatgi commented on #1957
In that case, @lonewolfffffff i will try to reproduce it by your way

[2018-06-20 18:47] rostyys commented on #2003
@akhil-geekyants Thank you! This fixes the `height` issue but it still doesn't solve my original issue. Is it possible to only give a `width` to the top header? I don't want the content inside each Tab to be limited to the same width because then it causes problems with seeing shadows on the TextInputs (Cuts if off on the left and right) as seen in my original photo

[2018-06-20 22:11] dakiesse opened #2038 ""Content" don't spread styles to your child "View""
## react-native, react and native-base version
"native-base": "master", // 2.4.2
"react": "16.4.1",
"react-native": "0.55.4",

## Expected behaviour
Inner "View" component at "Content" component must get the same styles that and "Content"
![cdc10080ea](https://user-images.githubusercontent.com/5033716/41687117-dca53da0-74e6-11e8-8060-b25154b7e14d.png)

## Actual behaviour
Inner "View" don't have p

[2018-06-21 03:56] SupriyaKalghatgi commented on #2038
Content and View are different components
Did you try the same use case with React Native ScrollView and View?

[2018-06-21 10:03] qlerebours opened #2040 "Can't set Header over the content with absolute positioning"
## react-native, react and native-base version
React Native: ~0.55.2
Native Base: ^2.4.5

## Expected behaviour
I expect Header to place over the Content and to be fully transparent

## Actual behaviour
If i set a `style={{ backgroundColor: 'transparent' }}`, the background will take the color of the Container background. What I'd like is to place a header over a Map which should take the full hei

[2018-06-21 10:21] SupriyaKalghatgi commented on #2040
@qlerebours The screenshot that you shared, is it expected output or actual output?

[2018-06-21 12:28] udarts opened #2041 "TextArea full height"
I just have a question.
How can I make the textarea full height, so it covers the area of the screen (minus a button).
I know I can set the height: height (dimension of the screen) - height of the button.
But that doesn't work quite well, meaning, the height seems to have been set "correctly", but now when I focus the textarea, and the keyboard popsup, it pushes the whole textarea up and the curso

[2018-06-21 13:38] qlerebours commented on #2040
This is the actual output, what is expected would be to get my header over the "Hello world" text.
This is a simple example, in my App, the green View with text is replaced by a Map (this is why i want the header to be transparent)

[2018-06-21 14:13] Culzean opened #2042 "Pull-to-refresh flatlist nested within a Tab does not capture scroll event (Android)"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2018-06-21 14:33] dakiesse opened #2043 "Documentation has mistake connected with List component"
## react-native, react and native-base version
"native-base": "2.5.2",
"react": "16.4.1",
"react-native": "0.55.4",

## Expected behaviour
List component has to accept "dataSource" prop.
## Actual behaviour
List component doesn't handle this prop. Constructor of List component knows only about dataArray prop.

![image](https://user-images.githubusercontent.com/5033716/41725652-a746ee26-7570-11e8-8

[2018-06-21 15:20] SupriyaKalghatgi commented on #2043
https://github.com/GeekyAnts/native-base-docs/issues/106

[2018-06-21 15:20] #2043 closed

[2018-06-21 15:52] jpolo commented on #627
I found a workaround. If possible, use controlled input (i.e. set the value)

[2018-06-22 03:57] jordan-mcrae commented on #1724
+1

[2018-06-22 04:15] dharmilsan commented on #2028
@SupriyaKalghatgi Honestly speaking, I was trying to get this running using react-native-web and Next.js which uses Babel 7 by default. That being said, I can probably try checking if I can build v0.56 today

[2018-06-22 05:12] SupriyaKalghatgi commented on #2041
@udarts Did you happen to try this with React Native multiline TextInput?

[2018-06-22 05:16] ViktorAksionov commented on #2000
@akhil-geekyants
This patch fixed my problem

[2018-06-22 05:18] SupriyaKalghatgi commented on #2028
https://github.com/facebook/react-native/issues/19820
https://github.com/facebook/react-native/issues/19789

[2018-06-22 05:48] akhil-geekyants commented on #2037
@theapache64 expecting PR https://github.com/GeekyAnts/NativeBase/pull/2030 to solve the issue

[2018-06-22 06:08] rbsl-yasmin opened #2044 "Fire event on Scroll end of the app screen"
Hi, I want to fire an event on scroll end of the app screen. I have a list of component and at the end of the scroll end, I want to fire an event to add more data to that list. I tried with content onScroll event. But it doesn't seem to work. Is there any better way to detect scroll end of the screen?

[2018-06-22 07:18] akhil-geekyants commented on #2040
@qlerebours adding `style={{zIndex:-1}}` for `<Content/>` worked for me in iOS but did not work for android.
Try placing `<Header>` inside `<Content/>`.

[2018-06-22 08:15] SupriyaKalghatgi commented on #2044
https://stackoverflow.com/questions/50981737/fire-an-event-on-scrollend-of-the-screen

[2018-06-22 09:13] akhil-geekyants commented on #2042
Related issue https://github.com/GeekyAnts/NativeBase/issues/1371

[2018-06-22 09:42] akhil-geekyants commented on #2038
@dakiesse can you post the code that causes the Webview to hide. That may help us to provide some workaround.

[2018-06-22 09:56] SupriyaKalghatgi commented on #2044
https://github.com/GeekyAnts/NativeBase/issues/1168#issuecomment-328489168

[2018-06-22 09:58] SupriyaKalghatgi commented on #2042
https://github.com/GeekyAnts/NativeBase/issues/1168#issuecomment-328489168

[2018-06-22 10:00] SupriyaKalghatgi commented on #2042
Found same behavior with FB app

[2018-06-22 10:19] akhil-geekyants commented on #2044
@rbsl-yasmin try something like this
Code
[code]
Gif

![scrollend](https://user-images.githubusercontent.com/27768184/41771749-beb50700-7633-11e8-9cfa-4ba928453aec.gif)

[2018-06-22 11:36] gupta-ji6 commented on #1485
That would greatly increase UX. If we use `Picker` with a `ListItem`, then the picker only opens when we tap on the picker rather than on the `ListItem`. We should also be able to open the picker using `ListItem`. I think that can be done using `ref` with `Picker`.

[2018-06-22 11:41] nainishmodi opened #2046 "Segment is not working properly."
[code]
When i copied this code and run into my project and then trying to change segment on clicking segments (Puppies to cubs) then nothing is happening..any help would be greatly appreciate..

[2018-06-22 11:49] SupriyaKalghatgi commented on #2046
can you share GIF of this

[2018-06-22 13:36] SupriyaKalghatgi commented on #2016
Fixed with [2.6.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.6.1)

[2018-06-22 13:36] #2016 closed

[2018-06-22 13:37] SupriyaKalghatgi commented on #2020
Fixed with [2.6.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.6.1)

[2018-06-22 13:37] SupriyaKalghatgi commented on #2023
Fixed with [2.6.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.6.1)

[2018-06-22 13:37] #2023 closed

[2018-06-22 13:38] SupriyaKalghatgi commented on #1981
Fixed with [2.6.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.6.1)

[2018-06-22 13:38] SupriyaKalghatgi commented on #2000
Fixed with [2.6.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.6.1)

[2018-06-22 13:39] SupriyaKalghatgi commented on #2046
#1974

[2018-06-22 13:39] #2046 closed

[2018-06-22 13:40] #2042 closed

[2018-06-22 13:43] SupriyaKalghatgi commented on #2037
Fixed with [2.6.1](https://github.com/GeekyAnts/NativeBase/blob/v2.6.1/CHANGELOG.md)

[2018-06-22 13:43] #2037 closed

[2018-06-22 14:20] theapache64 commented on #2037
Perfect. @akhil-geekyants good work (y)

[2018-06-22 18:53] HilSny commented on #2035
I am on 0.56.0-rc.3 and am still getting this error related to native base.

![screen shot 2018-06-22 at 1 52 43 pm](https://user-images.githubusercontent.com/16581033/41794002-9803c6f6-7623-11e8-9e24-b7c571a5170b.png)

[2018-06-22 19:03] RCulpepp commented on #627
Attempted to use the fix by @spcotter, but still having the same issue.  @jpolo - can you elaborate on what you mean by a controlled input?

[2018-06-22 20:04] jpolo commented on #627
It's from react doc : https://reactjs.org/docs/forms.html#controlled-components

[2018-06-23 03:01] pentanaveen opened #2048 "How to achieve header elevation starting from 2.4.5?"
##Versions
react-native - 0.55.4
native-base - 2.4.5 and above

##Issue
Android Specific - Header elevation worked as expected till 2.4.4 and elevation isn't being applied starting from 2.4.5.I see that for 2.4.5 `Fixed Header as per iOS and material design guidelines`.How to achieve elevation for header starting from 2.4.5.Previously it used to work with
`<Header style={{ elevation: 2 }}></Header

[2018-06-23 09:18] theapache64 commented on #1992
It's still not working. Am using v2.6.1. Here's the source code
[TabFontSizeTest.zip](https://github.com/GeekyAnts/NativeBase/files/2129792/TabFontSizeTest.zip)

[2018-06-23 11:01] SupriyaKalghatgi commented on #2035
@HilSny Share `package.json`

[2018-06-23 11:04] SupriyaKalghatgi commented on #2048
@pentanaveen Sharing screenshots for same can help us to provide answer
Can you share screenshot with default NativeBase Header and other with `<Header style={{ elevation: 2 }}></Header>`

[2018-06-23 11:06] slootmaekersdirk commented on #2035
You shoul use 5.0.1 for react native babel preset to compile , you use 4.0.0

Dirk

Sent from my iPhone

[2018-06-23 11:09] SupriyaKalghatgi commented on #2035
I have marked this duplicate
Comment on #2028

[2018-06-23 14:56] qlerebours commented on #2040
I didn't work, but I finally managed to do it with both your ideas and more (on android):
[code]
I don't really like the negative margin but it works at least.

Thanks for your help

[2018-06-23 14:56] #2040 closed

[2018-06-24 03:21] goj1 commented on #882
@cyclops24 thanks!

[2018-06-24 11:11] Angelk90 commented on #1501
@akhil-geekyants : The problem seems to be when everything is put inside, Animated.ScrollView:

[code]

[2018-06-25 02:09] jacargentina commented on #2028
@SupriyaKalghatgi about #2035, `ReactNativePropRegistry` exists in 0.55.4 **but it does not exists in 0.56.0-rc.3**

So that should be taken into account here too!

[2018-06-25 05:09] rbsl-yasmin commented on #2044
@akhil-geekyants Your solution is working. But as I saw in the src code native base list component is building on ListVIew of react native. so why onendreached and onendreachedthreshold is not working when I use these function with the List component of native base ?

[2018-06-25 05:14] SupriyaKalghatgi commented on #2038
@dakiesse We can wait for a day for your response

[2018-06-25 05:14] SupriyaKalghatgi commented on #2003
@rostyys Did you try?

[2018-06-25 06:13] akhil-geekyants commented on #2041
@udarts set `enableAutomaticScroll` props of `<Content/>` component to false to prevent the keyboard response on focusing `<Textarea/>`. Attaching a gif

![textarea](https://user-images.githubusercontent.com/27768184/41833213-f90c7c72-786c-11e8-83a2-f01ce7cf2051.gif)

[2018-06-25 06:18] akhil-geekyants commented on #2044
@rbsl-yasmin NativeBase List is deprecated. Use React Native [FlatList](https://facebook.github.io/react-native/docs/flatlist.html) instead.

[2018-06-25 06:41] nainishmodi opened #2050 "Accordion throws errors."
[code]

this is the code that i m running..i have copied this code from https://docs.nativebase.io/Components.html#accordion-def-headref.. when i ran this code it throws following error.
![capture](https://user-images.githubusercontent.com/17999172/41834266-43730bf6-7871-11e8-95b2-7706c3dc0bca.PNG)

[2018-06-25 06:44] SupriyaKalghatgi commented on #2050
@nainishmodi The red screen says **Unable to resolve _react-native-google-places-autocomplete_**

[2018-06-25 06:57] nainishmodi commented on #2050
I have attached new image that image was uploaded mistakenly..sorry..

[2018-06-25 06:58] SupriyaKalghatgi commented on #2050
What is the version of NativeBase?

[2018-06-25 07:17] nainishmodi commented on #2050
"dependencies": {
    "jest-expo": "25.0.0",
    "native-base": "^2.4.5",
    "react": "16.3.1",
    "react-native": "0.55.4",
    "react-native-search-filter": "^0.1.3",
    "react-native-vector-icons": "^4.6.0"
  },
  "devDependencies": {
    "babel-jest": "23.0.1",
    "babel-preset-react-native": "4.0.0",
    "expo": "^25.0.0",
    "jest": "23.1.0",
    "lodash": "^4.17.5",
    "react-native-a

[2018-06-25 07:37] SupriyaKalghatgi commented on #2050
What is the version of nativeBase installed in your node_modules?

[2018-06-25 07:39] nainishmodi commented on #2050
"version": "2.4.5"

[2018-06-25 07:42] SupriyaKalghatgi commented on #2050
![image](https://user-images.githubusercontent.com/13464885/41836769-5371e9d4-7879-11e8-952b-44dd81f50069.png)

[2018-06-25 07:42] SupriyaKalghatgi commented on #2050
You are using wrong version of NativeBase for Accordion

[2018-06-25 07:42] #2050 closed

[2018-06-25 07:44] nainishmodi commented on #2050
so i have to update native base isn't it ?

[2018-06-25 07:49] SupriyaKalghatgi commented on #2050
yes

[2018-06-25 07:50] nainishmodi commented on #2050
have update native base verison and now it has been solved..thanks to giving idea and one more thing how can i run my own component inside accordion ? can you share me an example or links something.. i am new to RN..

[2018-06-25 08:31] nainishmodi commented on #2046
I have referred #1974 but how to show different content on tab changing ?

[2018-06-25 08:34] SupriyaKalghatgi commented on #2046
https://github.com/GeekyAnts/NativeBase/issues/1974#issuecomment-395642795

[2018-06-25 08:57] akhil-geekyants commented on #2050
@nainishmodi

Sample code
[code]

[2018-06-25 10:48] Angelk90 opened #2052 "New Switch Tab Selector feature"
@akhil-geekyants :
Hi, I'm developing a Switch tab Selector, I'd like it if you could integrate it with the native base project.

This is an example:
![20180623_155810](https://user-images.githubusercontent.com/20476002/41845935-779d61ac-7875-11e8-9cbc-8db5f0ada853.gif)

There would be one last problem to solve.
let me know, if you are interested.

[2018-06-25 10:55] SupriyaKalghatgi commented on #2052
Can you share which issue this fixes

[2018-06-25 11:08] lumlnous commented on #1501
So my solution to this & maintaining proper keyboard avoiding inputs etc was to.
`<Container>
  <Header>//w/e</Header>
  <Tabs>
    <Tab><Content><MyComponent /></Content></Tab>
    <Tab><Content><OtherComponent /></Content></Tab>
  </Tabs>
</Container>`

[2018-06-25 11:15] Angelk90 commented on #2052
@SupriyaKalghatgi : The problem to solve would be to fix the transition effect inside the page, as in this video: https://drive.google.com/file/d/1_pvMFPcBB5vD-Sd4NVI1hHxuB-ksRvbO/view

In the example that I did change directly page, instead a transaction should take place, scroll page.

[2018-06-25 11:39] akhil-geekyants commented on #2048
Related to react native issue https://github.com/facebook/react-native/issues/19869

[2018-06-25 13:06] HunWalk commented on #736
### In case of **ScrollableTabBar**:
Go to **node_modules/native_base/dist/src/basic/tabs/ScrollableTabBar.js**
Search for this: `this.props.tabsContainerStyle`
add a comma and then this.
`{borderBottomWidth: this.props.tabsBorderBottomWidth}`
### It should be like that:
[code]
### Now go to your code and:
`<ScrollableTab tabsBorderBottomWidth={0} >`

Have a nice day :)

### P.S.: If you want to 0

[2018-06-25 13:14] akhil-geekyants commented on #985
@gianpaj updated my comment.

[2018-06-25 15:13] Angelk90 commented on #1501
@lumlnous :  Can you give me a hand with my problem?

[2018-06-25 15:35] lumlnous commented on #1501
@Angelk90 Have you tried not wrapping `<Tabs>` in the `<CollapsingToolbar>`?
I know the way I just posted earlier works flawlessly.

[2018-06-25 15:37] Angelk90 commented on #1501
@lumlnous :  In what sense, do you know how to use snack.expo.io?

[2018-06-25 17:27] AlexanderPinkerton opened #2053 "Drawer will slowly shrink on every open. iOS only."
Expected Behavior:
Drawer sidebar will remain at its set width when being opened and closed

Actual Behavior:
Drawer content width will slowly shrink over time. A pixel or so on every open.

Steps to reproduce:
Open and close a drawer repeatedly on an iOS device.

Additional Info:
The bug appears to have already been documented in the dependency's repo itself.

https://github.com/root-two/react-na

[2018-06-25 17:42] raideltorres opened #2054 "Picker Item custom content"
Hi sorry to ask this here guys since is not a bug (but it could be an enhancement ).

Basically my question is how could I set a custom content for the Picker.Item ? basically I need to add an image and a couple labels there, is this posible right now?

[2018-06-26 02:25] #2053 closed, assigned to nobody

[2018-06-26 05:03] tudorific opened #2055 "Theme not applying to components, header specifically?"
Hi,

I am having some issues applying the commonColor theme to my components, specifically the header. I tried changing the toolbarDefaultBg in the theme file but it does not seem to affect the header in my app at all. Am I missing something?

Thanks for the help!

## react-native, react and native-base version
    "native-base": "^2.6.1",
    "react": "16.3.1",
    "react-native": "0.55.4",

## E

[2018-06-26 06:10] akhil-geekyants commented on #2055
@tudorific checked this. It is working fine for me. Attaching a gif.
![customize](https://user-images.githubusercontent.com/27768184/41892393-883a09c8-7935-11e8-8a7e-0e92396c3d0c.gif)

See docs http://docs.nativebase.io/Customize.html#theaming-nb-headref

[2018-06-26 06:19] akhil-geekyants commented on #2054
@raideltorres  `Picker.Item` takes only label. `Picker.item` does not take custom components as of now.

[2018-06-26 10:48] Cassendra4 opened #2056 "DatePicker : Change the format of the date picked"
Hi,

- Versions

NativeBase : 2.6.1

- Issue

I need to change the format of the date shown after picking a date. I couldn't find a prop just like `format` in `DatePickerAndroid` which allows me to change the date format I picked. Is this already implemented or yet to be implemented?

[2018-06-26 10:52] SupriyaKalghatgi commented on #2056
@Cassendra4 To what format you want to change?

[2018-06-26 10:53] jan-happy commented on #1957
I had the same issue with a fresh install of native base. Only renaming the Utils folder to utils helped.

[2018-06-26 10:53] Cassendra4 commented on #2056
I want both  "MMM DD YYYY" and "ddd, MMM DD YYYY" formats

[2018-06-26 11:56] HJ29 opened #2057 "scrollable tab bar background color unable to change"
## react-native, react and native-base version
react-native 0.55.4
react 16.0.0
native-base 2.4.4
## Expected behaviour
able to change scrollable tab's background color
## Actual behaviour
unable to change the default color #3f51b5.
## Steps to reproduce (code snippet or screenshot)
scrollable tab code
![native-base-scrollable-code-tab](https://user-images.githubusercontent.com/24311533/41910150-6

[2018-06-26 12:06] SupriyaKalghatgi commented on #2055
@tudorific any update?

[2018-06-26 12:07] SupriyaKalghatgi commented on #2044
@rbsl-yasmin Any update?

[2018-06-26 12:07] SupriyaKalghatgi commented on #2041
@udarts did you try?

[2018-06-26 12:08] #2038 closed

[2018-06-26 12:08] SupriyaKalghatgi commented on #2003
Closing this tomorrow in case of no response

[2018-06-26 12:15] udarts commented on #2041
Yep, that works, thanks.

[2018-06-26 12:15] #2041 closed

[2018-06-26 12:51] akhil-geekyants commented on #2056
Related PR #2022

[2018-06-26 13:11] akhil-geekyants commented on #2057
@HJ29 try setting `backgroundColor` to `ScrollableTab`

like
[code]

[2018-06-26 13:34] tudorific commented on #2055
@SupriyaKalghatgi unfortunately that is exactly what I followed and should be working for me too. I do have my screen inside a TabNavigator, could that be why header is not changing color?

My code for adding the screen to the TabNavigator looks like this if it helps:

[code]

Do I need to import the theme in this file as well?

Thanks again for the help!

[2018-06-26 15:10] nbastoWM opened #2058 "Separator with long text doesn't wrap text"
## react-native, react and native-base version
react-native 0.55.4
react 16.0.0
native-base 2.4.4

## Expected behaviour
In a <Separator> with long text inside, the text should wrap and show in multiple lines

## Actual behaviour
In a <Separator> with long text inside, the text doesn't wrap

## Code

[code]

(I tried with and without styles)

[2018-06-26 15:42] newbiemate opened #2059 "Toast blocks interaction of components underneath if margin is set."
I want to show a Toast at the bottom of the screen, but I also have buttons there. To put the Toast above the buttons, I set a `marginBottom: 50` so that the Toast will sit above the buttons.

However, when the Toast shows, **although I can see my buttons it will not let me interact with them**. I think the `marginBottom` is absorbing the clicks that are meant for the buttons.

Here is the Toast c

[2018-06-26 18:03] rostyys commented on #2003
@akhil-geekyants @SupriyaKalghatgi Hi! Just tried. This fixed the width of the content of each tab!

But scrollable tabs seem to shift the tab titles to the right? How can I center them like they were before?

![shiftright](https://user-images.githubusercontent.com/6425523/41930676-99533fa4-7930-11e8-87c0-76b3f9cc7dcf.png)

[2018-06-26 20:20] cklinx opened #2060 "Make parallax tab header"
I cant figure out how make parallex tab header with native base.

Anyone knows how do it?

I needs something like this: https://snack.expo.io/@satya164/collapsible-header-with-tabview.

Thanks in advance

[2018-06-26 22:47] ntomallen opened #2061 "Card Left Border is always Gray"
## react-native, react and native-base version
React native: 0.53.4
React: 16.4.0
native-base: 2.6.0

## Expected behaviour
When setting border left color (to any custom color), the correct color will display on Android

## Actual behaviour
When setting border left color to any color and width, the border color always displays gray

## Steps to reproduce (code snippet or screenshot)
Try using the

[2018-06-27 04:05] SupriyaKalghatgi commented on #2059
Toast has higher elevation, hence it remains in foreground unless it is closed. This is as per design guidelines
If you want both, Button and Toast to be interactive, then try reducing elevation of Toast

Button
![image](https://user-images.githubusercontent.com/13464885/41952406-49daf170-79ed-11e8-8308-928f2a761137.png)

Toast
![image](https://user-images.githubusercontent.com/13464885/41952415-5

[2018-06-27 04:06] SupriyaKalghatgi commented on #2060
This query is more suitable to be asked on SO or NativeBase slack

[2018-06-27 04:06] #2060 closed

[2018-06-27 04:09] SupriyaKalghatgi commented on #2060
Not exactly what you asked, but quite similar https://github.com/pranit123/Twitter-Clone

[2018-06-27 04:13] SupriyaKalghatgi commented on #2054
@raideltorres Anything else we can help you here?

[2018-06-27 06:54] barrymichaeldoyle commented on #1708
Hey there, I don't think this issue should be closed.

I'm looking at 2.6.0 and there's still no way to add an on button press function to the toast. Eg. I want to add an UNDO button to the toast and I can't implement that because if I used `onClose` that would mean that UNDO always gets called, regardless of whether or not the user clicks UNDO.

Another ncie to have feature would be the option to

[2018-06-27 07:11] akhil-geekyants commented on #2054
@raideltorres NativeBase picker for android is an implementation of React Native Picker. React Native `Picker.Item` allows only two props - label and key, where type of label is a string. So the proposed enhancement is not supported by React Native on Android platform.

[2018-06-27 07:47] akhil-geekyants commented on #2061
@ntomallen add border color to CardItem instead of Card.
Code
[code]

[2018-06-27 08:32] NitroGhost commented on #1708
@barrymichaeldoyle take a look at the pull request above. it has a way of knowing whether or not it was user clicked, or self dismissed. I haven't personally tried it because since raising this issue, I implemented my own snackbar that gets around all the issues I face with it

[2018-06-27 10:31] emtiajium opened #2063 "Action sheet at the top"
How to set action sheet at the top (just beneth header)?

(I know this isn't a issue, but I don't know where to ask this.)

![action_sheet](https://user-images.githubusercontent.com/20053629/41968759-262dc54c-7a27-11e8-90ab-26cd2a630304.png)

[2018-06-27 10:48] SupriyaKalghatgi commented on #2063
@emtiajium This seems to be asked on SO or NativeBase slack
Hence closing this

[2018-06-27 10:48] #2063 closed

[2018-06-27 11:05] #2054 closed

[2018-06-27 11:06] #2048 closed

[2018-06-27 11:07] SupriyaKalghatgi commented on #2059
@newbiemate did you try?

[2018-06-27 11:43] swaroopgs opened #2064 "Getting _react2.proptypes.oneof after creating a new project with "init", before it was working in expo. Guess its with Native base icons and i also installed proptype package. Still not working."
Hi! Thanks for trying out NativeBase!

Take a look at these before heading towards creating an issue
-   Check latest documentation: https://docs.nativebase.io/
-   Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
-   Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
-   For

[2018-06-27 11:47] Aruneel commented on #2064
i am having the same issue. somebody help.

[2018-06-27 11:48] SupriyaKalghatgi commented on #2064
We are automatically closing this issue because it does not appear to follow as per the provided [issue template](https://github.com/GeekyAnts/NativeBase/blob/master/ISSUE_TEMPLATE.txt).

If you'd like to start a discussion, check out http://slack.nativebase.io/

[2018-06-27 11:48] #2064 closed

[2018-06-27 15:57] ms502040 opened #2065 "Is possible "Touch Sounds" on button?"
Hi,
I have a question. Is possible (and how) add or switch on "Touch Sounds" on button when onPress event  fired?
thanks

[2018-06-27 16:52] Muedgar commented on #1080
I am using react-native-slideshow but I get this error:
Cannot read property 'arrayOf' of undefined.

I did as some answer suggested:
// install prop-types module
// then import it in the codebase
import React, { Component } from 'react';
import PropTypes from 'prop-types';
import Slideshow from 'react-native-slideshow';

export default class App extends Component {

  render() {
    return (

[2018-06-27 18:02] ms502040 commented on #2065
implemented in react native version 0.56.0

[2018-06-27 18:02] #2065 closed

[2018-06-27 21:52] ntomallen commented on #2061
Thanks, that worked!

[2018-06-27 21:52] #2061 closed

[2018-06-27 22:32] Angelk90 commented on #1501
@akhil-geekyants : Are there any news?

[2018-06-28 03:05] kranopodem opened #2067 "Change a theme in Vue Native"
Hello. Why are StyleProvider not taking a theme, and throwing Warning "Failed prop type: Invalid prop style of type array supplied to StyleProvider, expected object."

`<template>`
`<nb-style-provider v-bind:style="getTheme(material)">`
`<nb-container>`
`<nb-text>Contact</nb-text>`
`</nb-container>`
`</nb-style-provider>`
`</template>`
`<script>`
`import Vue from "vue-native-core";`
`import {VueNa

[2018-06-28 03:59] SupriyaKalghatgi commented on #2058
@nbastoWM Did you try?

[2018-06-28 04:00] SupriyaKalghatgi commented on #2057
@HJ29 Closing this in a day in case of no response

[2018-06-28 04:01] SupriyaKalghatgi commented on #2059
@newbiemate Closing this in a day on case of no response

[2018-06-28 06:21] gauravprwl14 commented on #2067
@kranopodem It's known issue and we are working on it. For time been you can create a a container wrapper with styleWrapper.js file
[code]

Now You can wrapper your app.vue inside styleWrapper
[code]

[2018-06-28 06:39] kheraprabhat commented on #1080
@Muedgar can you tell me what was wrong. I am getting the same error.

[2018-06-28 06:40] SupriyaKalghatgi commented on #1080
did you get error immediately after init?
or after editing the source code?

I did init with RN 0.55.2 and added NativeBase 2.4.4, here is my package.json

[code]
worked fine

i did not edit the source code here

[2018-06-28 06:55] akhil-geekyants commented on #2055
@tudorific checked this. It is working fine for me. Attaching a gif.

Gif

![theme](https://user-images.githubusercontent.com/27768184/42017952-45d1c8d8-7ace-11e8-95d6-511524d9cdd0.gif)

Test code
[code]

[2018-06-28 07:42] akhil-geekyants commented on #2003
@rostyys  try setting the tabs container width using `tabsContainerStyle`

Gif

![tabs](https://user-images.githubusercontent.com/27768184/42020207-d267251c-7ad4-11e8-85ae-e0dd06505c60.gif)

Sample code
[code]

[2018-06-28 09:01] udarts commented on #2041
@akhil-geekyants Yep that works, thanks.

[2018-06-28 13:35] #2058 closed

[2018-06-28 13:37] #2055 closed

[2018-06-28 13:38] #2003 closed

[2018-06-28 13:38] #2057 closed

[2018-06-28 16:07] brayanL commented on #627
the problem still persist on Android and IOS, when I read the value assigned to onChangedText I do not get all the input

[2018-06-28 17:04] kevincolten opened #2071 "Is the accordion supported in web?"
Currently using Native Base 2.6.1 and heavily borrowing from the web kitchen sink examples. Is the accordion component current supported in web?

[2018-06-29 06:02] zhanjingjie opened #2072 "Accordion component's "expanded" property is not working."
`
<Accordion
            dataArray={dataArray}
            renderContent={this.renderContent.bind(this)}
            expanded={0}
/>
`
Above is the code I have. The data array and renderContent method are all fine. And I want by default to expand the Accordian's first item. But by setting expanded={0} the first item is not open.

[2018-06-29 06:44] SupriyaKalghatgi commented on #1846
#38

[2018-06-29 06:44] #1846 closed

[2018-06-29 06:47] #2059 closed

[2018-06-29 06:49] SupriyaKalghatgi commented on #1489
#38

[2018-06-29 06:49] #1489 closed

[2018-06-29 06:50] SupriyaKalghatgi commented on #1286
#38

[2018-06-29 06:50] #1286 closed

[2018-06-29 06:56] SupriyaKalghatgi commented on #713
Check out fixes for jest with [2.5.0](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.0)
This issue will be closed next week in case of no response

[2018-06-29 07:00] SupriyaKalghatgi commented on #1102
Sorry for informing late, that was fixed with [2.4.3](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.4.3)

Though merge notifications were visible here

[2018-06-29 07:00] #1102 closed

[2018-06-29 07:08] SupriyaKalghatgi commented on #1362
Can someone check this with [2.5.0](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.5.0)

[2018-06-29 07:45] #2071 closed

[2018-06-29 07:50] nbastoWM commented on #2058
It worked! Thank you.

[2018-06-29 13:33] udarts opened #2075 "IOS11 large header feature"
I was wondering if you are planning to update the header to be able to use tge IOS 11 large header as well.

[2018-06-30 03:00] zhanjingjie commented on #2072
Just updated to the latest native base and the issue was fixed. Great work. Thank you.

[2018-06-30 03:00] #2072 closed

[2018-06-30 08:28] SupriyaKalghatgi commented on #2075
@udarts Can you try `span` with `Header` for this?
Here it is https://docs.nativebase.io/Components.html#header-span-headref

[2018-06-30 10:19] mahgolfa opened #2076 "How do u guys show cat-log in Atom IDE ? #React-native"
Hi! Thanks for trying out NativeBase!

Take a look at these before heading towards creating an issue
-   Check latest documentation: https://docs.nativebase.io/
-   Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
-   Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
-   For

[2018-06-30 11:59] remon-georgy commented on #1287
@SupriyaKalghatgi having multiple toasts simultaneously _might_ not be best UX. However, I don't see why can't we still enable hiding the single toast using `hide()` method?

Implementation provided by @LonelyGriffin is quite appropriate and in fact, it's cleaning NB Toast implementation a bit.

I'd suggest giving this PR another chance since it was closed abruptly.

[2018-06-30 13:14] HJ29 commented on #2057
@akhil-geekyants Thanks for your help! Your answer is correct and clear.

[2018-06-30 15:56] wzup opened #2077 "How do I change icon text styles of Picker?"
How do I change icon text styles of Picker?

![screen shot 2018-06-30 at 6 54 12 pm](https://user-images.githubusercontent.com/3880497/42126868-513de510-7c97-11e8-82e1-ca4e131e6e27.png)

[2018-07-01 00:38] ms502040 commented on #2028
Any patch for RN 0.56.0?
if I manual copy old react-native/Libraries/Renderer/shims/ReactNativePropRegistry.js I can run RN app, but it`s dirty workaround.
---
"@babel/core": "^7.0.0-beta.47",
"native-base": "^2.6.1",
"react": "^16.4.1",
"react-native": "^0.56.0-rc.3",
"babel-jest": "23.0.1",
"babel-plugin-module-resolver": "^3.1.1",
"babel-preset-react-native": "^5.0.2",

[2018-07-01 07:01] SupriyaKalghatgi commented on #2076
Please follow instructions mentioned in issue template
Failing which this issue will be closed

[2018-07-01 07:02] SupriyaKalghatgi commented on #2077
Please follow instructions mentioned in issue template
Failing which this issue will be closed

[2018-07-01 09:15] cachance7 opened #2079 "Error on iOS -- TypeError: undefined is not an object (evaluating 'this.props.style[1].height')"
## node, npm, react-native, react and native-base version
Node: 8.11.1
NPM: 5.6.0
react-native: 0.55.2
react: 16.3.0-alpha.1
native-base: 2.6.1

## Expected behaviour
Kitchen sink app runs on ios simulator without error.

## Actual behaviour
The following error occurs:
[code]

## Steps to reproduce should include code snippet and screenshot
Run the kitchen sink app on iOS simulator 11.4 and attemp

[2018-07-01 09:55] wzup commented on #2077
LOL

[2018-07-01 09:55] #2077 closed

[2018-07-01 09:56] SupriyaKalghatgi commented on #2079
KitchenSink is not on React Native 0.55.2, so this issue cannot be related to it

[2018-07-02 03:56] newbiemate opened #2080 "Cannot center Icon when resizing button to a custom height/width"
The following button will not center its icon:

[code]

[The result](https://imgur.com/a/5J6OiGB)

How can I center the icon inside a custom button size? And is there a way automatically scale down the Icon size to fit within the given button size? Because if I don't provide the `width` or `height` on the `Icon` element, then the icon **disappears**.

[2018-07-02 06:32] mnlbox opened #2081 "[FEATURE REQUEST] More Typography Style"
Hi, Please add more typography style.
More header (`<H4>`, `<H5>`, `<H6>`, ...) can be useful.

[2018-07-02 07:02] akhil-geekyants commented on #2080
@newbiemate this is due to the default height and padding given to the button. Also, Icon has some default margin. Try changing these values.

[code]
![screen shot 2018-07-02 at 12 31 28 pm](https://user-images.githubusercontent.com/27768184/42149491-eb36c0da-7df3-11e8-9ea7-dcd2bfbdec27.png)

[2018-07-02 09:33] #2076 closed

[2018-07-02 09:34] #2079 closed

[2018-07-02 09:54] benzman81 opened #2083 "Support Full Swipe in SwipeableList"
This is needed to support Swipe-To-Delete.

[2018-07-02 10:19] akhil-geekyants commented on #2075
@udarts can we close this issue.

[2018-07-02 10:42] udarts commented on #2075
Tried it, but that seems to only moving the title lower and doesn't have the animated (from large to small title). Or is that something that needs to be created manually?

[2018-07-02 11:20] LasithaPrabodha commented on #1205
Icon doesn't work inside StackeLabel item. -_- @SupriyaKalghatgi Don't close issues without fixing.

[2018-07-02 12:48] akhil-geekyants commented on #2075
@udarts `native-base` Header currently does not have animations of its own.

[2018-07-02 14:04] ShinsukeWatanabe commented on #1736
[code]

[2018-07-02 15:11] kristinadarroch commented on #563
How do you set the avatar prop to false?

[2018-07-02 21:38] kristinadarroch opened #2085 "Add Props in Scrollable tab in Documentation"
When trying to modify the <ScrollableTab> component it took forever to figure out the props (tabHeaderStyle, tabsContainerStyle, tabFontSize). In the documentation there is currently only the tabStyle, activeTabStyle, textStyle, and activeTextStyle. It would be great to add more about the properties in the docs.

[2018-07-03 04:20] SupriyaKalghatgi commented on #2083
#38

[2018-07-03 04:20] #2083 closed

[2018-07-03 04:30] SupriyaKalghatgi commented on #2085
https://github.com/GeekyAnts/native-base-docs/issues/112

[2018-07-03 04:30] #2085 closed

[2018-07-03 05:28] #713 closed

[2018-07-03 05:29] #1362 closed

[2018-07-03 05:31] akhil-geekyants commented on #2080
@newbiemate did this work for you. Can we close this issue.

[2018-07-03 06:08] Mike-Fadnis commented on #1993
@SupriyaKalghatgi --  can u check this , alignItems is not working at all

ailgnItems: 'flex-start' or 'flex-end' is not working here either in body nor left or right

[2018-07-03 06:09] harikanammi commented on #1993
@SupriyaKalghatgi --  can u check this , alignItems is not working at all

ailgnItems: 'flex-start' or 'flex-end' is not working here either in body nor left or right

[2018-07-03 06:15] SupriyaKalghatgi commented on #1993
@harikanammi Cant check this without code snippet, output and package.json

[2018-07-03 06:29] harikanammi commented on #1993
Hi @SupriyaKalghatgi, here is my code.....

[code]
Here is my screenshot:
![simulator screen shot - iphone 6 plus - 2018-07-03 at 11 57 43](https://user-images.githubusercontent.com/31063894/42202299-76064f86-7eb8-11e8-83ff-d574fe07b628.png)

[2018-07-03 07:12] akhil-geekyants commented on #1993
@harikanammi can you try this
[code]

![screen shot 2018-07-03 at 12 41 20 pm](https://user-images.githubusercontent.com/27768184/42204144-72da8ad8-7ebe-11e8-9a5f-bd7b6f024673.png)

[2018-07-03 09:27] 54vanya opened #2086 "DatePicker: show default date instead of "Select Date" if placeHolderText prop isn't specified"
## node, npm, react-native, react and native-base version
node: v9.8.0
react: 16.3.2
native-base: 2.6.1
## Expected behaviour
Showing default date if placeHolderText prop isn't specified
## Actual behaviour
Picker shows "Select Date" string
## Is the bug present in both iOS and Android or in any one of them?
checked only in Android, can't test in ios

[2018-07-03 11:24] maartenvandillen commented on #1665
@SupriyaKalghatgi current version is 16.4.1, warnings will be removed in version 17. See https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

[2018-07-03 12:23] akhil-geekyants commented on #1993
@harikanammi checked this. It is working fine for me. Attaching a gif.

![swiperow](https://user-images.githubusercontent.com/27768184/42219530-d6d952fa-7ee9-11e8-872b-445496c02ca3.gif)

Code
[code]

[2018-07-03 14:02] #2075 closed

[2018-07-03 14:10] oldo opened #2088 "Can't change icon family"
## node, npm, react-native, react and native-base version

node: v8.7.0
npm: 5.6.0
react-native: 0.53.0
native-base: 2.3.1

## Expected behaviour

Passing `type` as a prop into an `Icon` component should set the font family.

## Actual behaviour

`filter` is a valid part of the `Feather` family:
<img width="202" alt="screen shot 2018-07-03 at 16 07 27" src="https://user-images.githubusercontent.co

[2018-07-03 14:10] oldo commented on #2088
The only icon family that I can use it seems is the default `Ionicons`

[2018-07-03 14:13] SupriyaKalghatgi commented on #2088
NativeBase is on 2.6.1
You are using 2.3.1, quite old one

[2018-07-03 14:13] SupriyaKalghatgi commented on #2088
Go through release notes to use this feature of Icon

[2018-07-03 14:13] #2088 closed

[2018-07-03 15:45] newbiemate commented on #2080
Yes, thank you!

[2018-07-03 15:45] #2080 closed

[2018-07-03 15:57] newbiemate opened #2089 "Setting Toast elevation and absolute positioning not working; still blocking elements below it."
I have a Bottom Tab Navigator, but putting a Toast like this at the bottom:

        Toast.show({
            text: "Done!",
            duration: 4000,
            position: 'bottom',
            style: { marginBottom: 50, elevation: -1 }
        });

Will **block** interaction with the tab navigator. Setting `elevation` was suggested before, but did not work; the Toast is still absorbing the cli

[2018-07-03 21:30] oldo commented on #2088
Ha! That fixed it. Thanks for your prompt response @SupriyaKalghatgi

[2018-07-03 21:30] davidpricedev opened #2090 "ActionSheet needs a way to hide on command"
## node, npm, react-native, react and native-base version
node: v8.9.1
npm: 5.5.1
yarn: 1.6.0
react-native: 0.55.4
native-base: 2.3.9

## Expected behaviour
There is a way to programmatically tell the ActionSheet to go away or hide itself.

## Actual behaviour
There is no way to programmatically tell the ActionSheet to go away

## Steps to reproduce should include code snippet and screenshot
See h

[2018-07-04 00:19] seppemarotta opened #2091 "Button index.d.ts OnPress is missing."
I'm currently using Typescript for my project and I found that In index.d.ts Button OnPress is missing. Is there any roadmap for this ?, maybe i can help with it.
native-base: "^2.6.1"
react: "16.3.1"

[2018-07-04 03:28] mrkhanakia opened #2092 "React Native Datepicker is undefined or type is invalid -- expected a string"
I am trying to run an example but getting error https://docs.nativebase.io/Components.html#date-picker-def-headref

React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

When

[2018-07-04 03:44] SupriyaKalghatgi commented on #2092
Please follow instructions mentioned in issue template
Failing which this issue will be closed

[2018-07-04 03:48] SupriyaKalghatgi commented on #2092
Also, probably you are searching for Date Picker with wrong version of NativeBase
Check release notes before using any new component / prop

[2018-07-04 03:57] mrkhanakia commented on #2092
Thanks it is working now i was using older version.

[2018-07-04 04:02] #2092 closed

[2018-07-04 04:05] SupriyaKalghatgi commented on #1993
@harikanammi Any updates on this?

[2018-07-04 04:09] harikanammi commented on #1993
@akhil-geekyants Thank you, your code is working for me thanks a lot.....

[2018-07-04 04:48] sakettawde commented on #1957
Had the same issue. The issues seems to be present if you are running an old version of native-base definitely crops up in 2.4.2 for me. Just edit your package.json file to drop native-base. run yarn (or npm install), then run yard add native-base (or npm install --save native-base) to add it back, and it will install the latest version with all the fixes.

[2018-07-04 04:53] mrkhanakia opened #2093 "Toastr error Cannot read property '_root' of undefined"
I am trying to make toastr example working but getting error https://docs.nativebase.io/Components.html#toast-def-headref

![screen shot 2018-07-04 at 10 22 24 am](https://user-images.githubusercontent.com/2174170/42257449-30b4b654-7f74-11e8-835f-4165ccc62cbb.png)

<img width="375" alt="screen shot 2018-07-04 at 10 21 16 am" src="https://user-images.githubusercontent.com/2174170/42257420-0ecc642e-

[2018-07-04 05:02] SupriyaKalghatgi commented on #2093
@mrkhanakia did you add `Root`?
![image](https://user-images.githubusercontent.com/13464885/42257721-96895d08-7f75-11e8-8a2a-e607f3a07a4d.png)

[2018-07-04 05:24] samratshekhar opened #2094 "Bloated native-base-theme folder"
## node, npm, react-native, react and native-base version
- node `v8.9.4`
- npm `v5.7.1`
- react-native `v0.53.0`
- native-base `v2.5.1`
## Expected behaviour
Theme folder ideally should contain the overrides for components being used and should be updated if need arise
## Actual behaviour
Contains overrides for every component, which in turn bloats the project
## Steps to reproduce should include

[2018-07-04 05:32] SupriyaKalghatgi commented on #2094
Can you brief on this

[2018-07-04 05:42] #2093 closed

[2018-07-04 05:44] samratshekhar commented on #2094
Say my use case is limited to the usage of Header, BottomTabBar and Radio. In such a case what I would ideally want is to run something like `node node_modules/native-base/ejectTheme.js --components [Header, BottomTabBar, Radio]` and the resulting folder will contain just these components under `native-base-theme\components`

[2018-07-04 06:31] SupriyaKalghatgi commented on #2094
No, this is something not good use case
https://github.com/GeekyAnts/NativeBase/issues/830#issuecomment-394171422 this use case is suggested instead

[2018-07-04 07:29] akhil-geekyants commented on #2089
@newbiemate checked this. It is working fine for me. Can you check whether you have placed `<Root>` over the topmost component. Attaching gif.

![toast](https://user-images.githubusercontent.com/27768184/42262821-0b81a3a4-7f8a-11e8-8a29-66d7904a94cb.gif)

Code

[code]

[2018-07-04 07:44] akhil-geekyants commented on #2091
@seppemarotta Checked this. Didn't get this error.
Button interface extends from `ReactNative.TouchableOpacityProperties`.
So `Button` will have all those properties of `TouchableOpacity` like `onPress`.
The onPress you have mentioned in the question has a uppercase `O`(OnPress). try changing that to a lowercase `o`(onPress).

If you are still facing any issue, let us know.

[2018-07-04 09:21] victormartingarcia opened #2095 "iPhoneX - Footer calculateHeight crash"
I'm getting a crash when using Footer on the iPhone X.

Perhaps I am passing a quite strange **this.props.style** configuration:

<img width="283" alt="captura de pantalla 2018-07-04 a las 11 20 42" src="https://user-images.githubusercontent.com/659832/42268642-54979340-7f7c-11e8-8720-4444d0b9fc5a.png">

(Notice that this.props.style[1] is undefined)

Anyway, it's an easy fix and I'll try to send

[2018-07-04 10:33] The-FZ opened #2097 "native base drawer navigation is not working."
Hi! Thanks for trying out NativeBase!

Take a look at these before heading towards creating an issue
-   Check latest documentation: https://docs.nativebase.io/
-   Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
-   Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
-   For