[2021-10-11 20:44] georgii-ivanov commented on #4160
It's deprecated. There is a code snippet instead.
https://docs.nativebase.io/building-app-bar/

[2021-10-12 03:40] toscanoGithub commented on #3315
October 2021 stiil have the same issue !!!
How do you fixed this issue?

[2021-10-12 07:30] #4186 closed, assigned to nobody

[2021-10-12 11:01] arieloO opened #4189 "TS error at lib/typescript/theme/base/types.d.ts"
** Before reporting this bug, please...**

- [x] Check the latest documentation: https://docs.nativebase.io/
- [x] Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
- [x] Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
- [x] Check examples from NativeBase KitchenSink https:/

[2021-10-12 11:03] intergalacticspacehighway commented on #4189
@arieloO can you upgrade typescript version to >= 4.2 and let us know if the error still persists?

[2021-10-12 11:57] arieloO commented on #4189
Just updated : It's all good !
thanks !

[2021-10-12 11:58] #4189 closed, assigned to nobody

[2021-10-12 13:24] trajano opened #4190 "Please expose StyledProps"
Can `StyledProps` be exposed so if we have custom components we can just add that to our types so it can be applied rather than `IBoxProps`?

[2021-10-13 07:11] sangayt1997 opened #4192 "TextArea placeholder is always align center even though we increase height in android device."
How to make TextArea placeholder like web align always beginning of the textarea?

[2021-10-13 13:06] leoafarias opened #4196 "Vite cannot resolve module exports"
**Describe the bug**
When creating an app using Vite as the build tool. I get the following error when running it.

```[vite] Internal server error: Failed to resolve entry for package "native-base". The package may have incorrect main/module/exports specified in its package.json: Failed to resolve entry for package "native-base". The package may have incorrect main/module/exports specified in its

[2021-10-13 15:12] su-softusing opened #4197 "Can't not read a property 'useId' of undefined"
**Describe the bug**
With NativeBase v3.2, run a basic formcontrol example

https://docs.nativebase.io/form-control#formcontrol

and got error, here is the **screenshots**

![image](https://user-images.githubusercontent.com/63099715/137160736-2752771c-5f5e-4762-b8af-4c3af2843cae.png)

I think may be something wrong with `useId()` hook in

[native-base/src/components/composites/FormControl/useFormC

[2021-10-13 15:34] ugar0ff opened #4198 "Switch custom color for disable state"
Good Day!
Can you add properties disabled Switch color, f.e. `offTrackDisabledColor, onTrackDisabledColor, onThumbDisabledColor, offThumbDisabledColor` like `offTrackColor, onTrackColor, onThumbColor, offThumbColor`?

[2021-10-13 17:18] joy-mollick opened #4200 "Not so good at all !!"
I thought it first very easy and nice one . But I found it not enough good and did not have good documentation also. I mean to say you have to learn it by wasting so much time over this.  You had better use stylesheet from react-native. That is easy. It is good for nothing package, sometimes even press and other functions will not work . It is better to leave this package.

[2021-10-14 00:23] georgii-ivanov commented on #4200
In my opinion, it's not bad at all. It's fresh, universal.
Well, maybe it's not as well optimized as we would like to see... But better than v2.

Lack of documentation - yes. Also removed AppBar, Drawer, DatePicker - yes. Very slow development...
I wish they will speed up and spend more time in the development of this framework and optimization.

[2021-10-14 02:14] trajano opened #4201 "Add a message to src/util/createContext.ts about multiple copies of native-base"
If there are multiple copies of `native-base` just like multiple copies of React the context resolution will fail.  The error message doesn't indicate what could be the problem as noted in https://github.com/GeekyAnts/NativeBase/issues/4094

After doing some checks and reading through the source the culprit was two copies of the native-base on node_modules.

[2021-10-14 02:23] trajano commented on #4200
@joy-mollick do you have any other suggestions? I tried a few and this was the most sane one at the moment bugs and all.  At least to get me over the hurdle of getting an app out before I strip most of the components out.

I already planned from the get go that the only way to ensure that there's reduced vendor lock in is to wrap almost every single component with your own and manage the use

e.g.

[2021-10-14 04:09] intergalacticspacehighway commented on #4201
@trajano can you try 3.2.1 and verify if that fixes it?

[2021-10-14 07:54] makkarMeenu commented on #4197
@su-softusing Can you provide reproducible demo of the issue?

[2021-10-14 07:55] #4160 closed

[2021-10-14 08:27] intergalacticspacehighway commented on #4109
This has been fixed in 3.2.1. Let us know if you face any issues!

[2021-10-14 08:56] #4104 closed

[2021-10-14 13:44] intergalacticspacehighway commented on #4152
@trajano thanks for reporting! A fix is pushed in [3.2.2-rc.1](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.2.2-rc.1)

[2021-10-14 13:46] intergalacticspacehighway commented on #3730
Typescript support for custom tokens/variants is added in 3.2.1. You can find the docs on how to enable it here (https://docs.nativebase.io/typescript). Let us know if it works or you face any issues :)

[2021-10-14 14:10] trajano commented on #4137
I made a few review comments on the merged PR.

[2021-10-15 00:57] trajano commented on #4200
This is mostly an opinion issue.  Which technically shouldn't be here, it should really be in a forum.

[2021-10-15 09:07] amosbastian commented on #3984
@rayan1810 it's not fixed yet.

[2021-10-15 10:44] codler commented on #4174
PR still open.

[2021-10-15 14:05] airen29 opened #4208 "Border prop is not passed into Flex as expected"
**Describe the bug**
Regarding documentation, Flex inherit Box props and utilities. Border is mossing in properties so it's "not a valid style property"

Properties regarding border that Flex got:
[code]

**To Reproduce**
[code]

**Expected behaviour**
Flex will have border property

**Platform**

- NativeBase version [3.2.1-rc.1]
- Device: [iPhone11, Web, Android]
- OS: [iOS/Web/Android]

- React

[2021-10-15 18:27] etiennelacoursiere opened #4210 "Properties set in _hover does not override other properties."
**Describe the bug**
Property does not get overrided by the same property set in `_hover` using a Factory

I created a component using the Factory function and was trying to make some styling using `_hover`.
It work great except it doesn't override values that are already set.

**To Reproduce**
Open the snack and then hover the Choice component

**Expected behaviour**
The border color should be `p

[2021-10-16 13:50] vamshi9666 opened #4211 "borderColor not accepting theme color value like "red.500""
**Describe the bug**
borderColor to any component is not accepting color values from theme like "red.500" or "primary.500". Only direct color strings (ex: "#ffffff") are being accepted currently, which is not expected.

**To Reproduce**
Steps to reproduce the behaviour:

1. Create a demo app
2. install native-base
3. render `<HStack borderBottomWidth={1} borderBottomColor="red.500" > </HStack/>

*

[2021-10-17 23:42] bjornbreck commented on #1485
Has there been any updates to this? It seems like a very critical piece of functionality left out of core.. 😞

[2021-10-18 09:36] intergalacticspacehighway commented on #4211
@vamshi9666 can you try this template and reproduce the issue here?
https://snack.expo.dev/@nishanbende/hstack-border-color

[2021-10-18 09:43] intergalacticspacehighway commented on #4208
@airen29 Thanks for reporting. Docs need to be updated, already raised a PR. Can you try using borderWidth/borderColor?
Earlier, we had border prop, but it was not working with tokenized shorthands as `border: 1px solid green.500` and might have added an overhead of additional parsing to support shorthand syntax.

<img width="242" alt="Screenshot 2021-10-18 at 3 07 36 PM" src="https://user-images.

[2021-10-18 11:14] rayan1810 commented on #3984
Once this PR https://github.com/GeekyAnts/NativeBase/pull/4215 gets merged and released, you can pass _scrollview to Modal.Body and it takes ScrollView props so you have full control over the underlying ScrollView.
eg - <Modal.Body _scrollview={{ scrollEnable: false }}>

[2021-10-18 14:33] intergalacticspacehighway commented on #4153
The Modal components in NativeBase uses a JavaScript portal implementation and it doesn't render on top of the Native Stack Navigator screens. We're actively looking into this issue. I'll update once we come up with a solution.
Current hacky solution to make it work would be to wrap each screen with a `NativeBaseProvider`.

[2021-10-18 14:34] #4153 closed

[2021-10-18 22:05] SeamusY commented on #3144
@hanykumar still happens for me with native base verion "3.2.0"

[2021-10-19 14:07] #4211 closed

[2021-10-19 14:10] intergalacticspacehighway commented on #4094
@qlereboursBS it has been fixed in the 3.2.1, also updated the docs. https://docs.nativebase.io/toast

[2021-10-19 14:10] #4201 closed, assigned to nobody

[2021-10-19 14:40] #4029 closed

[2021-10-20 06:01] ZHANGYU-AAXIS opened #4217 "Is the Tooltip component only work on the Web side?"
I use my phone to scan the QR code on the documentation, the Tooltip component does not work on Expo Go.
Is the Tooltip component only work on the Web side?

[2021-10-20 09:28] amars29 commented on #4136
Button group is for grouping buttons and share properties such as size, colorScheme to all the buttons within it. We haven’t thought about using it in radio buttons, radio has RadioGroup but it doesn’t function same as Button group as of now.

[2021-10-20 16:14] trajano commented on #4136
Please indicate that in the documentation.  Since it's lacking that clarity.

[2021-10-20 16:16] trajano commented on #4154
It's missing in the upgrade guide https://docs.nativebase.io/migration/migration-guide-three-point-two

[2021-10-20 16:50] alejolp opened #4221 "Documentation: Drawer Natigation Example Error"
**Describe the bug**

From the Documentation, the example Drawer Natigation displays an error on the website itself:

https://docs.nativebase.io/building-drawer-navigation

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://docs.nativebase.io/building-drawer-navigation
2. Click on Example
3. Scroll down to Example
4. See error

**Expected behaviour**

To see the example.

**Scree

[2021-10-21 09:12] rashawa opened #4224 "dynamic height"
I'm having an issue used when changing the hight of the swipe item during run time it's using this issue
![Simulator Screen Shot - iPhone 11 - 2021-10-21 at 11 48 10](https://user-images.githubusercontent.com/92918296/138247875-d99fda53-2d6d-4570-a109-83ee6dc40708.png)

[2021-10-22 19:37] macolko opened #4231 "Button disabled prop doesn't change color on 3.21.0"
**Describe the bug**
When applying the `disabled` prop to the `<Button>` component, it disables the button `onPress` functionality but does not change the button color.

[code]

The prop works on 3.1.0.

**Platform**

- NativeBase 3.2.1
- Device: Android/iPhone
- React Native 6.1.0
- node 14.15.4
- yarn 1.22.10

[2021-10-22 21:53] internetammo opened #4232 "textarea issues on android"
**Describe the bug**
on android there are two bugs

1. when you use the Value Controlled TextArea example it will completely overwrite whatever the set value was
2. on both android and web if you use the default implementation you can't add additional characters to the default set value it always auto deletes the characters you type like its setting a max character count to whatever is put in the

[2021-10-22 21:58] #4232 closed, assigned to nobody

[2021-10-24 16:15] bilmaijer opened #4234 "Input loses some extended component theme when using InputRightElement"
Hi!
I want to add shadow to Input component by extending the default theme:
By default it works as expected, however, when I add InputRightElement, the shadow does not work anymore

**To Reproduce**
**Extend theme:**
[code]

**Input with InputRightElement:**
[code]

**Usage**
[code]

**Expected behaviour**
Both Inputs should have a shadow

**Screenshots**
![IMG_6D9919D46EF3-1](https://user-images.

[2021-10-25 06:05] #4217 closed, assigned to nobody

[2021-10-25 19:56] megacherry opened #4236 "Avatar.Group not working"
If i want to try your Avatar.Group example here: https://docs.nativebase.io/avatar#avatar-group

I get the following error:
![image](https://user-images.githubusercontent.com/77111175/138761540-1e901d7d-0b40-478a-b632-92bb7c9b2503.png)

[2021-10-26 15:26] #4231 closed, assigned to nobody

[2021-10-26 17:46] szymn opened #4239 "Typescript errors in AllProps type"
**Describe the bug**

#4173 introduced ts-ignore comments in AllProps type. These are stripped in d.ts files, so now when library is used in a project, we get these errors:

[code]

**To Reproduce**
Steps to reproduce the behaviour:

1. Create react-native project: `npx react-native init MyApp --template react-native-template-native-base-typescript`
2. Bump typescript version (on initial version t

[2021-10-26 20:05] bilmaijer opened #4240 "Typescript error when using variant on Text"
**Describe the bug**
I want to use variants on Text, but it's throwing an error

**To Reproduce**
Define Text variant in extendTheme. Use that variant in Text component.

Also some elements, including Text are warning that all(a lot) props are required after upgrading to 3.2.1

Everything works as expected when running on device, just the error appears. I can't use typecheck pre-commit hook :(

**

[2021-10-27 20:15] DanailH opened #4242 "[Avatar] Passing local path to image doesn't load the image"
**Describe the bug**
If you pass a path to image (for example if you want to preview before uploading) the image doesn't render.
[code]

**Expected behaviour**
I should be able to see a preview of the image when using a local path, same as the `<Image />` component.

[2021-10-28 02:05] likeSo opened #4243 "Add a `hidden` prop on `Hidden` component"
Thanks for filing an issue 😄!

Please search open/closed issues before submitting. Someone
might have asked the same thing before 😉!

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to hide some elements according to my business logic

**Describe the solution you'd like**
A clear

[2021-10-29 05:55] grean opened #4250 "Tooltip breaks my Button onPress prop"
Hi there,

Is this issue (#3983) already released? Because i have a NativeBase Button with an onPress prop that uses navigation.reset(newState) from react-navigation (on React Native Web side) and it works fine until i wrap the Button with a <Tooltip>.
Side note the Tooltip works fine but my navigation is broken.
[code]
packages.json
[code]

Thanks

[2021-10-29 12:09] intergalacticspacehighway opened #4251 "Testing"
Testing github projects workflow

[2021-10-29 12:17] #4251 closed, assigned to rayan1810

[2021-10-29 18:08] CarlosHdez opened #4253 "Invalid DOM prop from MenuItem"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-10-30 11:55] MuflahNasir opened #4254 "Typscript error in Picker"
In native base version 2.12.1 I am getting error on missing properties `selectedValue` & `onValueChange` in Picker.

Expo CLI 4.10.0 environment info:
    System:
      OS: macOS 11.5.2
      Shell: 5.8 - /bin/zsh
    Binaries:
      Node: 14.16.0 - /usr/local/bin/node
      Yarn: 1.22.15 - ~/.yarn/bin/yarn
      npm: 7.11.2 - /usr/local/bin/npm
      Watchman: 2021.06.07.00 - /usr/local/bin/watch

[2021-10-30 11:57] MuflahNasir opened #4255 "Typescript error in Picker Native base"
In native base version 2.12.1 I am getting error on missing properties `selectedValue` & `onValueChange` in Picker.

Expo CLI 4.10.0 environment info:
    System:
      OS: macOS 11.5.2
      Shell: 5.8 - /bin/zsh
    Binaries:
      Node: 14.16.0 - /usr/local/bin/node
      Yarn: 1.22.15 - ~/.yarn/bin/yarn
      npm: 7.11.2 - /usr/local/bin/npm
      Watchman: 2021.06.07.00 - /usr/local/bin/watch

[2021-10-30 11:57] #4254 closed

[2021-10-30 13:28] likeSo commented on #4243
Thank you!
The `&&` operator is simple and practical.
But when it has a lot of children:
[code]
As we can see, it is not good for debugging and readers.
It is easy but great to do this!

[2021-10-31 11:02] y471n opened #4257 "Why are available components being removed from Documentation?"
**Describe the bug**
A number of components were present in earlier versions of the documentation, but most of the components although present in the source of the library, are not present in the documentation.

**To Reproduce**
See previous version documentation:
![Screenshot 2021-10-31 at 4 27 44 PM](https://user-images.githubusercontent.com/2056046/139579624-c85b4d24-d79e-4f51-9418-a74c7e3786de

[2021-10-31 11:16] lucanisi commented on #4240
This helped me a lot, but I had to move the declaration outside the extendTheme since It was throwing a typescript error on ['variants'].

This is my solution, hope it helps.

[code]

[2021-11-01 08:28] megacherry commented on #4257
Good question. I also asked this on the discord channel (especially about Tabs) and the answer was that some components not (anymore?) production ready and has to be reworked.

[2021-11-01 09:03] sanketsahu commented on #4257
@y471n @megacherry This is a 100% open source project and it will always be. The components were moved away from docs because they were incomplete and we thought it wouldn't be nice for people to use the half-baked ones. We will bring them back.

Also, the paid version uses only these components as screens. So there are no new components in the paid version.

[2021-11-01 11:37] y471n commented on #4257
But I couldn't find any issues related to those components. Is there some other place where the issues are recorded then?

[2021-11-01 23:44] floustao opened #4259 "Button fontSizes changed from v3.1 to v3.2"
**Describe the bug**
Any reasons why the button fontSizes changed from native-base v3.1 to native-base v3.2?

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to [sandbox](https://codesandbox.io/s/vibrant-easley-rn-v3-1-tw56o?file=/src/components/Example.tsx)
2. Inspect the button size `sm` -> 14px
3. Bump the dependency native-base to latest (3.2.1) or open this other [sandbox](https://c

[2021-11-02 02:03] chiubaka commented on #1012
Following up on my own comment here: after some investigation, I've discovered that performance degradation in my app has little to do with Native Base. In my particular case, things slowed down by almost 100x after attempting to set the default timezone using `luxon`, likely due to some inefficient polyfills I was using for i18n support. I've found a way around using those polyfills, and Android

[2021-11-02 11:11] AhmedAbuelenin commented on #3114
I faced this issue after upgrading my react-native project to the latest version. I solved it by updating my dependencies to the latest versions and the error disappeared.

[2021-11-02 11:44] jawadkhan653 commented on #2947
Its coming because of using ScrollView inside ScrollView , it can be FlatList .

Try this method , it worked for me !!!

<ScrollView>
    {data.map((item, index) => {
        ...your code
    }}
</ScrollView>

[2021-11-02 12:50] MD-REHMAN opened #4261 "Rendering FormControl.ErrorMessage without a child is still rendering the component."
**Describe the bug**
Rendering FormControl.ErrorMessage without a child is still rendering the component.

**To Reproduce**
Try rendering FormControl.ErrorMessage without any child.

**Expected behaviour**
The component should not render

**Platform**
- NativeBase version [e.g. 3.2.1]

[2021-11-02 13:16] intergalacticspacehighway commented on #4011
Just pushed an rc with the fix. Can someone verify if it works as expected? To install run  `npm install native-base@3.2.2-rc.2`

[2021-11-02 13:58] codler commented on #4011
@intergalacticspacehighway It didn't work. Im still getting error. I also upgraded to latest node/npm
node 16.13.0
npm 8.1.0
expo 43.0.1
native-base 3.2.2-rc.2
[code]

**Steps to reproduce**
1.  expo init my-project
2. cd my-project
3. npm install native-base@3.2.2-rc.2 styled-components styled-system
4. expo install react-native-svg
5. expo install react-native-safe-area-context
6. npm run web

[2021-11-02 14:50] intergalacticspacehighway commented on #4011
Sorry my bad! `npm install native-base@3.2.2-rc.3` should work. Thanks for testing so quickly! :)

[2021-11-02 15:22] codler commented on #4011
3.2.2-rc.3 works!

[2021-11-02 16:58] pierroo opened #4265 "Button isLoading disappears"
**Describe the bug**
When isLoading = true on a Button component, the spinner appears but the button disappears entirely, it becomes variant unstyled somehow. The spinner and text are visible, but background color, border etc all disappears.

**To Reproduce**
Just add isLoading props to Button component

**Expected behaviour**
The button losing a bit of opacity on isLoading, usual behavior.

**Scr

[2021-11-02 17:22] pierroo commented on #3274
Did you find any solution to this?
I just realized the multiple MBs added to the build after adding custom fonts and having to use react-native link.
Now my android\app\src\main\assets\fonts is filled with all these:
![image](https://user-images.githubusercontent.com/17619412/139914543-64b83f8f-10a4-4d20-b852-bb3752436e93.png)
When I actually only need my one custom fonts and two icons library (ma

[2021-11-02 19:14] sgolubovic commented on #4111
@raybotha Same issue, my workaround was to add all font values from **fontConfig** to **fonts**
`
...
fonts: {
  heading: "Lato",
  body: "Lato",
  mono: "Lato",
  Lato-Heavy: "Lato"
  ...(other fonts)
}
`

[2021-11-02 22:57] CarlosHdez opened #4266 "Input inside select does not respect wrapper width"
**Describe the bug**
On web, when reducing the width of a `Select` component, the `Input` inside it wont adapt causing the chevron not to be visible.
This happens only when making the width smaller, when making it larger it does remain floating to the right

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://snack.expo.dev/nVx2-7dYO
2. Change the width property on the `Select` to

[2021-11-03 05:31] rayan1810 commented on #4243
Thanks for the suggestion and points we'll keep this in our list and will discuss it and if the team comes to a consensus we will surely add this, closing the issue for now, please feel free to reopen if you have anything further to add.

[2021-11-03 05:31] #4243 closed

[2021-11-03 10:57] zoolyka opened #4268 "Passing new source to Image component does not updates it."
**Describe the bug**

The `<Image />` component does not re-render the image when its `source` property is updated.

**To Reproduce**

`<Image source={{ uri:  'https://via.placeholder.com/150/0000FF/FFFFFF/?text=one' }} />`

Then change the `uri` to `https://via.placeholder.com/150/0000FF/FFFFFF/?text=two` (via state update or such).

**Expected behaviour**

Render the image from the latest source

[2021-11-03 11:15] intergalacticspacehighway commented on #4253
@CarlosHdez can you share the code-snippet that you're using?

[2021-11-03 11:16] intergalacticspacehighway commented on #4268
@zoolyka thanks for reporting, can you checkout this comment?
https://github.com/GeekyAnts/NativeBase/issues/4242#issuecomment-954630156

[2021-11-03 11:23] zoolyka commented on #4268
With the additional `key` property (and updating it along with the source) the re-render is triggered.

[2021-11-03 11:25] intergalacticspacehighway commented on #4268
@zoolyka yes, can you verify if the Image component from React Native works as expected?
AFAIK it also happens in React native's `Image` component which is being used under the hood by NativeBase's Image component.

[2021-11-03 11:31] zoolyka commented on #4268
With the react-native Image component the key property is not needed. I think this is related to React.memo, in 3.1 a useEffect listener updated the internal source with a state update - if source changed a setSource(getSource()) was fired -, currently nothing happens and memo keeps the component as is.

[2021-11-03 14:28] pierroo commented on #4003
I am trying to accomplish the same thing: having children expend to fill the full width for each lines.
Did you manage to find a solution? would you mind sharing it if you did? :)

[2021-11-03 15:22] kylegwalsh commented on #4003
@pierroo I actually don't recall exactly where we were trying to use this so I can't find the code, but I'm pretty sure we took the approach of nesting the VStack and HStack's similar to how the SimpleGrid works behind the scenes. Not as convenient, but it gets the job done for now.

[2021-11-03 15:24] pierroo commented on #4003
Thank you for answering @kylegwalsh , I will look into this solution as well then, until NativeBase gives us this option natively :)

[2021-11-03 20:26] nicholascm opened #4269 "Is it possible to close popover from inside the popover?"
i am triggering a popover from a button, and inside the popover are a few buttons. Upon clicking one of these buttons, I want the popover to disappear. I haven't found a clear way to manage this in the docs. Closing via tap outside the popover or using the "Popover.CloseButton" works fine, but I need to use my own button.

Thanks!

[2021-11-04 09:20] mikekreeki commented on #3939
Does anyone have a modification of the workaround above that is using a smooth animation instead of jump and is willing to share?

[2021-11-04 15:37] sanjeevA301 commented on #3780
@tobe-honest  sorry for late reply.
 No, I got the solution it is working now

[2021-11-04 15:38] #3780 closed

[2021-11-04 19:44] bilmaijer opened #4271 "Potential issue in 3.2.2-rc.3"
Just wanted to test out your new RC. I'm getting some new errors. Shouldn't it be
`baseStyle?: ((props: any) => StyledProps) | StyledProps;`
here:
https://github.com/GeekyAnts/NativeBase/blob/4b934a662366ba98a7b53b169c1fd59a18571fae/src/theme/index.ts#L8

[2021-11-05 08:02] chenop commented on #3114
@AhmedAbuelenin thank you for sharing - what dependencies have you updated?

[2021-11-05 09:55] vladi-strilets opened #4272 "Overwrite theme types with a custom theme definition"
Using typescript, I expect to get the suggestions from my custom theme config, But it still returns the default options. For example:

[code]

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/29280344/140491089-e9760211-5a86-4f77-8932-294538407264.png)

- NativeBase version 3.2.1
- React Native version 0.66.0

Thanks

[2021-11-05 18:19] Florido14 commented on #3183
I have the same issue, you can fix it?

[2021-11-05 18:29] sanketsahu opened #4273 "How to fix the SSRProvider Warning in React Native?"
I am using NativeBase with my ReactNative App. It is running ok. However there is a warning that is bugging me a little bit.

How do I fix the warning below?

[2021-11-05 23:08] CarlosHdez commented on #4253
I'm using the same code as in the `Menu` example in the docs
[code]

[2021-11-06 04:06] jonra1993 commented on #4170
Hello, @rafaelmaeuer thanks for the information. I followed those steps and it worked correctly. I create a folder Fonts on /node_module/native-base and I added these fonts https://github.com/jonra1993/sonarqube-react-webapp/tree/main/src/assets/Fonts

[2021-11-06 06:40] MuhammadKaleem171 commented on #4273
same issue
any solution ?

[2021-11-06 08:06] Fanna1119 commented on #4196
I am running into the same issue with another library, On another issue it stated it might have something to do with webpack configs that was used to build the library

[2021-11-06 12:00] branislaav opened #4274 "Scalable button effect on press"
I would like to have a scale effect on button press similar to what these two libraries do [touchable-scale](https://github.com/JonnyBurger/touchable-scale), [react-native-pressable-scale](https://github.com/mrousavy/react-native-pressable-scale).
Is it possible? I think it is a common use case.

[2021-11-06 14:05] aniruddhashevle commented on #74
@sankhadeeproy007  @himanshu-satija :  Have we got any updates on this as an in-built prop for a Button native base component in the latest versions?

[2021-11-07 09:57] milkyway044 commented on #4269
"Popover.CloseButton" works fine on web and ios, but does not work on android. Check the [example](https://docs.nativebase.io/popover#basic ) by running on android…

And also there is no way to **close the window with the cancel button** in the footer inside the popover.

[2021-11-07 12:34] CHNB128 opened #4275 "`Image` component don't care about updating source from component outside"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-11-08 03:20] dcboy opened #4276 "Menu.OptionGroup event onChange not work"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-11-08 03:29] dcboy commented on #4276
`
import React, { forwardRef, memo } from 'react';
import MenuGroup from './MenuGroup';
import type { IMenuOptionGroupProps, IMenuOptionContextProps } from './types';
import { useHasResponsiveProps } from '../../../hooks/useHasResponsiveProps';

export const MenuOptionContext = React.createContext<IMenuOptionContextProps>({
  values: [],
  onChange: (_val) => {},
  type: 'checkbox',
});

const Men

[2021-11-08 05:30] nozbwang commented on #3183
I fixed it by changing native-base version in my project ( for example changing to the lower version v2.6.1)。

 You can upgrade the native-base package to the lastest stable version to  find out whether the problem is fixed.

[2021-11-08 06:36] rayan1810 commented on #4250
Hey @grean please share a expo snack that reproduces this issue. I wasn't able to reproduce this.

[2021-11-08 06:38] intergalacticspacehighway commented on #4274
@branislaav currently no, you can style button using `_pressed` prop but it won't have the transition. You can use NativeBase's [factory](https://docs.nativebase.io/nativebase-factory) with the above libraries.

[2021-11-08 06:45] rayan1810 commented on #4221
This issue is related to https://github.com/GeekyAnts/nativebase-docs closing it here and creating the issue on nativebase-docs Repo. Please follow this https://github.com/GeekyAnts/nativebase-docs/issues/132.

[2021-11-08 06:45] #4221 closed

[2021-11-08 07:00] intergalacticspacehighway commented on #4271
Thanks for catching it!

[2021-11-08 09:47] intergalacticspacehighway commented on #4269
@nicholascm to can use popover's `isOpen` prop (controlled state) to do that. [Check this out](https://snack.expo.dev/iJBwJye5w)
@milkyway044 this looks like a bug with `Popover.CloseButton` on android.

[2021-11-08 10:41] gauravguha opened #4279 "Test issue"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-11-08 10:45] gauravguha opened #4280 "test"

[2021-11-08 10:52] #4279 closed

[2021-11-08 10:52] gauravguha commented on #4279
Test complete

[2021-11-08 11:01] #4274 closed

[2021-11-08 12:06] shubham-ghuge opened #4284 "Button onPress Event not working with Typescript and React"
**Describe the bug**
I am working on a project (web) with nativebase, react and typescript. And I've tried using onPress event as mentioned in the docs but it's throwing error.

**To Reproduce**
Steps to reproduce the behaviour:

1. Import Button from native-base
2. add onpress on Button component.

**Screenshots**
<img width="1097" alt="Screenshot 2021-11-08 at 5 25 55 PM" src="https://user-image

[2021-11-08 12:16] intergalacticspacehighway commented on #4284
@shubham-ghuge Thanks for reporting. You'll need to install react-native typings to fix it. Run `yarn add @types/react-native -D` in the project. We'll update the docs for the same :)

[2021-11-08 17:16] shubham-ghuge commented on #4284
@intergalacticspacehighway Thanks man, It solved the onPress issue.

[2021-11-08 17:16] #4284 closed

[2021-11-08 23:03] rkritskiy commented on #4273
+1

[2021-11-09 06:20] rayan1810 commented on #4257
@y471n there are a few issues with the internal `architecture` of these components, during the initial phases of development we had experimented with a lot of different architectures to make the whole NativeBase design system(Theme and customizations) and component library work. So for the `alpha` and `beta` versions, we had these components on our Docs but we removed it since we found room for ma

[2021-11-09 06:26] rayan1810 commented on #4265
@pierroo Hey thanks for reporting this, it's on us we have a small issue in the Button's theme we are changing the backgroundColor to `warmGray.50` when the Button is in `Loading state`, you can as a workaround pass `_loading={{bg:"color of your choice"}}` for now, we will fix this in next release.

[2021-11-09 06:29] rayan1810 commented on #4145
Thanks for reporting this @trajano, we will add the props here https://docs.nativebase.io/utility-props#borders-radius with the next Docs update or release.

[2021-11-09 06:41] rananajam1 commented on #4153
Any updates on this? Or any workarounds I can try?

[2021-11-09 09:35] y471n commented on #4257
@rayan1810 Could you please open this till it's being resolved. Otherwise, this just seems fishy to all the contributors or users of this library.
And, This is not just a couple of components. This is also happening with a number of components. I would say with casual browsing it has at least 10+ components. The components are not deprecated but documentation is being removed selectively.

If you

[2021-11-09 10:10] rayan1810 commented on #4257
@y471n thanks for pointing out the concern. The docs that you’re referring to .next.* refers to the alpha versions. We apologies since it’s not very much clear from the naming convention we were following. But essentially these were alpha versions. We have a plan to release all the components, the only thing is that they lack quality and proper testing, even APIs might change. These are still pres

[2021-11-09 11:14] milkyway044 commented on #3860
KeyboardAvoidingView is not working with Inputs inside Popover.

[2021-11-09 11:38] realtril commented on #3828
@jakemwood have you found new migration guide?

[2021-11-09 11:39] intergalacticspacehighway commented on #3828
@jakemwood @realtril you can find it here. https://docs.nativebase.io/migration/action-sheet

[2021-11-09 11:41] realtril commented on #3828
@intergalacticspacehighway seems to be stuff I am looking for. Thank you!

[2021-11-09 12:44] realtril commented on #3828
@intergalacticspacehighway do you know, can i use    ` const { isOpen, onOpen, onClose } = useDisclose();` in a class
 component?

[2021-11-09 12:48] realtril opened #4285 "How can I use ```Actionsheet``` from 3.2v with Class Components???"

[2021-11-09 12:57] realtril commented on #4285
What is the proper way of using nativebase v3 with class components? Need an example of Actionsheet

[2021-11-09 13:07] milkyway044 commented on #4273
+ 1

[2021-11-09 19:17] NTS2k1BK commented on #2536
i had an error with bottom-tabs.I tried to uninstall and install again .It worked successfully.Maybe it will help you.

[2021-11-09 20:30] harryhorton commented on #4272
Running into the same issue.

If you follow their example, your declaration interface extends the custom theme object.

If you remove the extension, and provide a different type (or your own built limited subset type), it'll work as intended.

[code]

![image](https://user-images.githubusercontent.com/12238902/140999925-0f57fc40-3b96-4826-9235-355ba3a15405.png)

[2021-11-09 22:15] realtril opened #4287 "Migration to the last r.c. from 2.15.2 question: how the block of code with ```Root``` has to be migrated properly?"
Don't see a ```Root``` in new migration guides, but I can't use it.
This is what I got using ```NativeBaseProvider```instead of ```Root``` that I had before.

So what would be the proper way for migration?

This is what I had in 2.15.2.

[code]

[2021-11-10 10:45] rayan1810 commented on #4272
Closing this since the issue has been answered.

[2021-11-10 10:45] #4272 closed

[2021-11-10 21:25] fervailanti opened #4293 "Require Cycles Warning"
Some circular requiring are causing this warning to appear:

<img width="1003" alt="Captura de pantalla 2021-11-10 a las 21 36 33" src="https://user-images.githubusercontent.com/54537095/141193718-d454806a-70b2-47ec-95c5-ef87ef64810c.png">

This is related to the way this components are importing another components.

Specifically, the files causing this are:

- `src/components/composites/Breadcrum

[2021-11-10 21:27] fervailanti commented on #4293
I made a PR with the fix here: **https://github.com/GeekyAnts/NativeBase/pull/4292**.

[2021-11-10 22:55] OneHatRepo commented on #4153
I'm running into this too.

[2021-11-11 21:35] keesbriggs commented on #3119
Still an issue

[2021-11-12 02:19] kmalakoff opened #4295 "Nextjs 12 support for Native Base"
I've been using the generator for Next.js from these instructions: https://github.com/GeekyAnts/NativeBase/issues/2709

Build times are very slow and with Next.js 12 supporting swc, I'm hoping swc can speed up my development experience with react-native-web, Native Base, and Next.js.

I posted the generated babel config from your Next.js boilerplate in their github issue collecting babel configs:

[2021-11-12 07:13] makkarMeenu commented on #4259
Hi @floustao , UI was oversized because standard font sizes on react native mobile and web which is set to 14px, so we decided to reduce 1 size to make things look good by default.
[Here's](https://docs.nativebase.io/migration/migration-guide-three-point-two)  migration guide which mentions the workaround if you still want to use older theme.

[2021-11-13 11:38] mononoke-choi opened #4298 "v3.2.2 has type error"
**Describe the bug**
after upgrading to v3.2.2, i couldn't build next web using native-base.
please support export type when we have 'isolatedModules" flag in typescript project

**To Reproduce**

1. Go to [next.js project](https://docs.nativebase.io/install-next)
2. clone repository and upgrade native-base version from 3.2.1 to 3.2.2
3. insert some code to reproduce type error in index.tsx file

[2021-11-13 13:01] arunim2405 opened #4299 "App does not look the same even with v3CompatibleTheme"
I tried to update the app from v3.10 and 3.2.2 and also added v3CompatibleTheme to my extendTheme but the app does not look the same at all, the padding is not correct, the font is smaller and border radius seems to not work at all. Attatching some screenshots for reference. Dividers are not visible even though I haven't used the size prop anywhere

![image](https://user-images.githubusercontent.c

[2021-11-13 13:23] yamatsum commented on #3984
Correctly is `scrollEnabled: false`

[2021-11-13 14:31] rayan1810 commented on #3984
My bad typo 🙈, thanks for correcting it @yamatsum

[2021-11-13 19:51] trajano opened #4300 "3.2.2 Theme.fonts are all undefined."
https://docs.nativebase.io/customizing-fonts says

  fonts: {
    heading: 'Roboto',
    body: 'Roboto',
    mono: 'Roboto',
  },

but

https://github.com/GeekyAnts/NativeBase/blob/9660e606194c19ae9e8af267b15ab604c3e5b302/src/theme/base/typography.ts#L112-L116

claims they should be `undefined`.

[2021-11-14 04:58] trajano commented on #4021
Here's a version that utilizes the exposed `useStyledSystemPropsResolver` but still uses my own custom `useResolvedFontFamily` as it is not exposed as of 3.2.2

[code]

[2021-11-14 06:43] trajano opened #4301 "Removal of the type argument was not documented"
This

https://github.com/GeekyAnts/NativeBase/blob/07ff3f1fdc1d18baad0a7f6b5f6a81c0e0fbf7e2/src/hooks/useTheme.ts#L3

Removes a type argument that was present in 3.2.1  However, I can't find in the documentation that this was going to be removed in 3.2.2 and the removal is a backwards incompatible change.

[2021-11-14 07:06] Mahuton commented on #4273
It's like you are using a UI library probably based on Bootstrap

Steps to solve:
1-Install react-bootstrap  -->  npm install react-bootstrap bootstrap@5.1.3
2-import SSRProvider from 'react-bootstrap/SSRProvider'
3- Wrap your app like below
<SSRProvider>
  <App />
</SSRProvider>

Hope this helps

[2021-11-15 06:55] makkarMeenu commented on #4131
This has been resolved and Spinner component only accepts size as "sm", "lg","small" or "large". It also accepts other props as React Native's ActivityIndicator mentioned in documentation.

[2021-11-15 06:55] #4131 closed

[2021-11-15 07:45] dijaltom commented on #4094
Error: `useTheme` must be used within `NativeBaseConfigProvider`
This error is located at:
    in Text
    in RCTView (at View.js:32)
    in View (at Home.js:18)
    in Home (at Store.js:437)
    in Wrapped (created by SceneView)
    in SceneView (created by CardContainer)
    in RCTView (at View.js:32)
    in View (created by CardContainer)
    in RCTView (at View.js:32)
    in View (created by C

[2021-11-15 07:49] intergalacticspacehighway commented on #4094
@dijaltom can you share your code snippet or snack player? `useToast` should be used in a child of NativeBaseProvider or look at the standalone Toast API. https://docs.nativebase.io/toast#standalone-toast

[2021-11-15 08:17] #3971 closed

[2021-11-15 08:45] #3941 closed

[2021-11-15 09:02] vasafix opened #4302 "Slow performance compared to “pure” react-native"
**Describe the bug**
I Wrote 2 lists, one using native-base components, second one using react-native components, and I am experiencing 2 to 3 times slower render on native-base side, my example consists of fairly simple list, so I wanted to ask if anyone else is experiencing similar performance issues, or for advice on what am I doing wrong or how to speed things up.

**To Reproduce**
In my examp

[2021-11-15 10:32] tburnt opened #4303 "useTheme must be used within NativeBaseConfigProvider"
![Simulator Screen Shot - iPhone 11 - 2021-11-15 at 18 25 56](https://user-images.githubusercontent.com/93183791/141765845-e49674de-b8ba-4201-8078-eb82228c9548.png)

Firebase.json
{
  "name": "myapp",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint"

[2021-11-15 10:38] #4271 closed

[2021-11-15 10:41] makkarMeenu commented on #4240
This has been resolved in NativeBase 3.2.2 . Please let us know if you face any issue.

[2021-11-15 10:42] makkarMeenu commented on #4239
This has been resolved in NativeBase 3.2.2 . Please let us know if you face any issue.

[2021-11-15 10:42] #4239 closed

[2021-11-15 10:42] MNevin opened #4304 "How to add FlatList in Modal.Body"
code :
[code]
get this warning:
VirtualizedLists should never be nested inside plain ScrollViews with the same orientation because it can break windowing and other functionality - use another VirtualizedList-backed container instead.

[2021-11-15 10:42] makkarMeenu commented on #4234
This has been resolved in NativeBase 3.2.2 . Please let us know if you face any issue.

[2021-11-15 10:42] #4234 closed

[2021-11-15 10:45] makkarMeenu commented on #4197
Closing this as we couldn't reproduce it.

[2021-11-15 10:45] #4197 closed

[2021-11-15 10:46] makkarMeenu commented on #4190
StyledProps has been exported in Nativebse 3.2.2 .

[2021-11-15 10:46] #4190 closed

[2021-11-15 10:46] makkarMeenu commented on #4165
Resolved in NativeBase 3.2.2. Let us know if you face any issue.

[2021-11-15 10:46] #4165 closed

[2021-11-15 10:48] makkarMeenu commented on #4164
Resolved in NativeBase 3.2.2. Let us know if you face any issue.

[2021-11-15 10:48] #4164 closed

[2021-11-15 10:49] #4152 closed

[2021-11-15 10:59] makkarMeenu commented on #4261
This has been fixed in NativeBase 3.2.2.

[2021-11-15 10:59] #4261 closed

[2021-11-15 11:01] makkarMeenu commented on #4192
This has been fixed in NativeBase 3.2.2 release.

[2021-11-15 11:01] #4192 closed

[2021-11-15 11:05] #3789 closed

[2021-11-15 11:16] makkarMeenu commented on #4120
This has been fixed in NativeBase 3.2.2 .

[2021-11-15 11:53] raivieiraadriano92 opened #4305 "Next.js - Warning: Prop `className` did not match. Server:"
I'm following the documentation steps to get started with next.js, but when I run the project on the browser I get this error:

---Warning: Prop `className` did not match. Server:---

I tried a few things to fix this like installing `babel-plugin-styled-components` but it is not working.

Does anyone have the same problem?
Any solutions to fix that?

Steps to reproduce the behaviour:

1. Start a n

[2021-11-15 12:16] makkarMeenu commented on #4154
Fixed in NativeBase  documentation.

[2021-11-15 12:16] #4154 closed

[2021-11-15 12:55] #4280 closed

[2021-11-15 14:31] makkarMeenu commented on #4144
Fixed in NativeBase 3.2.2 . Let us know if you still have issues.

[2021-11-15 14:31] #4144 closed

[2021-11-16 01:08] lvschlee commented on #4273
+1

[2021-11-16 06:09] iooi opened #4307 "Invariant Violation: Invalid prop `flex` of type `string` supplied to `StyleSheet box`, expected `number`."
**To Reproduce**
Steps to reproduce the behaviour:

1. Download Startup Kit
2. Build the free bundle
3. Launch "SignUp" screen on iOS simulator
4. Rotate the simulator to landscape.

**Expected behaviour**
No Error

**CodeSandBox/Snack link**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/895652/141930810-c9318b97-fc55-4996-a7b0-3981d4830e9f.png)
**Platform**

- NativeB

[2021-11-16 10:41] eneax commented on #4153
I had the same issue while using `Select` and `Popover` (NativeBase `v3.2.2`).
The only solution that worked for me was to replace `@react-navigation/native-stack` with `@react-navigation/stack`.

[2021-11-16 11:49] makkarMeenu commented on #4140
Unable to reproduce this issue in NativeBase 3.2.2. If you are still facing this issue, please re-open it with proper snack.

[2021-11-16 11:49] #4140 closed

[2021-11-17 06:51] Youngtao1999 opened #4310 "Why not export `IModalProps` from native-base, I want to import it from `native-base`"
I can't import `IModalProps` from `native-base` when I want to use it

I found it in `native-base/lib/typescript/components/composites/Modal`, But I don't want to import it like `import { IModalProps } from 'native-base/lib/typescript/components/composites/Modal';`, That's stupid.

pls export it.

[2021-11-17 07:11] vipulbhj commented on #4307
Hey @iooi,

I tried to replicate the issue you mentioned above, but couldn't reproduce it. I have attached a value below, can you confirm if that's what you were trying to do ??

https://user-images.githubusercontent.com/33618798/142151009-f16579c3-4326-4288-804e-b1dacbb6e00a.mov

[2021-11-17 07:59] loveholly opened #4312 "Seems like Components based on Transition not working well with SSR"
**Describe the bug**

I found that `Dialog`, `ActionSheet` doesn't work well with SSR, since I checked the html document content from my server configured with SSR. However, `Text` works.

**Expected behaviour**

I think those components built on `Transition` should render directly on SSR

- NativeBase version [3.2.1]
- Browser [Chrome]
- React Native version [https://github.com/expo/react-native/

[2021-11-17 12:45] rs6g10 opened #4319 "Controlled Input not working"
**Describe the bug**
Using `native-base` version `3.2.2`. Following the documentation of Input specifically [controlled input](https://docs.nativebase.io/input#controlled-input), I have found that I could never read the value of the input. Either the documentation is incorrect or the usage doesn't work.

**To Reproduce**
Follow the [example](https://docs.nativebase.io/input#controlled-input) in do

[2021-11-17 17:39] bencreynolds commented on #4176
Same issue here, but only when rendering dozens of items. Rendering like 5 items (using map) does not cause an issue.

[2021-11-17 22:05] face opened #4320 "[Feature] Please add RTL-aware style utility props"
**Is your feature request related to a problem?  Yes, I would like my components to automatically layout RTL.

**Describe the solution you'd like**   Additional utility props that are based on the direction (like paddingStart as an alternative to paddingLeft).   From chakra-ui:

Style prop | Replace with | Description
-- | -- | --
paddingLeft, pl | paddingStart, ps | padding in start direction
pad

[2021-11-17 22:15] face commented on #4320
hmmm, maybe react-native already handles this by reversing left to right styles...so this is not needed.   sorry new to react-native.

[2021-11-17 22:15] #4320 closed

[2021-11-18 09:21] loveheenavasu opened #4322 "Facing overlapping issues in floating Inputs"
**Platform**

IOS

- NativeBase version : 2.15.0
- Device: Iphone 7 or later
- OS: IOS
- React Native version: 0.63.4
- node 15

Facing overlapping issues in floating Inputs

![File (1)](https://user-images.githubusercontent.com/55981820/142386993-2bdd1a46-685d-4c14-a03e-a044b012df75.jpg)

[2021-11-18 09:50] MD-REHMAN commented on #4167
Thanks, @dlombardi for reporting the issue. We'll the current way to update the `fontSize` of Button using extendTheme will [this](https://snack.expo.dev/@md-rehman/update-button-fontsize-using-extendtheme). As `fontSIze` declared in size. So it should be overwritten from there.

And we're planning to update the docs to better explain the whole customization and theming of components.

[2021-11-18 11:26] makkarMeenu commented on #3816
We currently don't have that. You can make a custom wrapper for animation for your usecase.
As of now, you can pass pseudo props for hover, pressed states.

[2021-11-18 11:26] #3816 closed

[2021-11-18 11:38] makkarMeenu commented on #3808
Hi @Lesley-Sin , we don't have any plan to support this prop. You can use community package for picker instead for your usecase.

[2021-11-18 11:38] #3808 closed

[2021-11-18 11:53] makkarMeenu commented on #3824
Skeleton has been released in 3.3.0-rc.0 release.

[2021-11-18 11:53] #3824 closed

[2021-11-18 11:55] makkarMeenu commented on #3828
No, v3.x doesn't support Vue Native.

[2021-11-18 11:55] #3828 closed

[2021-11-18 11:58] #3863 closed

[2021-11-18 12:00] makkarMeenu commented on #3868
This has been resolved in NativeBase 3.2.2 .

[2021-11-18 12:00] #3868 closed

[2021-11-18 12:04] makkarMeenu commented on #3881
SimpleGrid is not in a stable state. So we decided to remove it from the documentation.
We will add it soon in consecutive versions.

[2021-11-18 12:04] #3881 closed

[2021-11-18 12:05] #3883 closed

[2021-11-18 12:06] makkarMeenu commented on #3887
Sorry for the trouble but Accordion is not released and supported right now. It's on the roadmap and will be supported in future release. The components present in the sidebar in the docs are the only ones that are released till now.

[2021-11-18 12:06] #3887 closed

[2021-11-18 12:08] makkarMeenu commented on #3892
Also, we have removed styled-components as a dependency in NativeBase.

[2021-11-18 12:08] #3892 closed

[2021-11-18 12:09] makkarMeenu commented on #3894
Sorry for the trouble but NumberInput is not released and supported right now. It's on the roadmap and will be supported in future release. The components present in the sidebar in the docs are the only ones that are released till now.

[2021-11-18 12:09] #3894 closed

[2021-11-18 12:10] #3899 closed

[2021-11-18 12:14] makkarMeenu commented on #3910
A solution similar to above solution works in v3 now. Check third party icons documentation [here](https://docs.nativebase.io/icon#integration-with-third-party-icons)

[2021-11-18 12:14] #3910 closed

[2021-11-18 12:23] #4149 closed

[2021-11-18 14:54] dimtim commented on #4303
I get the same error in my project.
@tburnt Did you find a solution to work around the problem?

[2021-11-18 14:59] tburnt commented on #4303
nope I am still burning my candles with this one among all other problems

[2021-11-18 17:36] Djauron commented on #3908
There is some new ? @rayan1810 😄

[2021-11-18 18:02] CarlosHdez opened #4323 "Mixed media queries do not work correctly"
**Describe the bug**
When using a mediaQuery with two rules, it only takes one as it's value

**To Reproduce**

1. Go to https://snack.expo.dev/NExwAUpe7
2. Open the example in a separate window
3. Change the height of the window

**Expected behaviour**
The image is only visible on the expected heights of the viewport (from 280 to 480) but it only hides below 280 and with heights larger than 480 t

[2021-11-19 06:56] dimtim commented on #4303
@tburnt I've found the source of the problem.
There should be always NativeBaseProvider component at the root of Native Base components tree.
In my case this component was not the root.

[2021-11-19 09:15] Luca8991 commented on #4273
+1

[2021-11-19 09:19] Luca8991 commented on #4273
I get this warning when using Slider:
[code]

[2021-11-19 10:49] loveholly opened #4324 "FontWeight applied to Text component not working when extend theme with fontConfig"
**Describe the bug**

`FontWeight` not setting to Text's stylesheet when extending theme with `fontConfig`. However, it works fine with `v3.0.3`

**Expected behaviour**

`fontWeight` should work well when it is applied to `Text` component like `v3.0.3` did.

**CodeSandBox/Snack link**

Checkout out the [example](https://codesandbox.io/s/modest-worker-yr0qm) here.

**Screenshots**

![image](https:/

[2021-11-19 13:41] MD-REHMAN commented on #4324
Fixing the name of the font from `Robot` -> `Roboto`, fixed it. As `Robot` isn't a valid font.
![Screenshot 2021-11-19 at 7 05 50 PM](https://user-images.githubusercontent.com/25659255/142631568-784fed77-aa40-4d30-b827-f36a2b437977.png)

[2021-11-19 14:08] loveholly commented on #4324
em...This is what I saw on my side:
![image](https://user-images.githubusercontent.com/5133856/142635778-d03bfe3c-15f3-43c7-8bbe-fe130c296d5a.png)

[2021-11-19 14:15] loveholly commented on #4324
Also, I think the font name is misspelled though, the `font-weight` won't be influenced, am I wrong on this point?

[2021-11-20 00:52] rs6g10 commented on #4273
Facing exact same problem. I get error pointed at FormControl
<img width="1251" alt="Screenshot 2021-11-20 at 00 51 22" src="https://user-images.githubusercontent.com/1889234/142708293-2a3a0ca9-1a40-4aed-bd13-2120c0642000.png">

[2021-11-20 04:05] Legym commented on #3790
Just wanted to see if there has been any progress on this? Would be really nice to have. Great work so far on the library

[2021-11-20 06:25] sanketsahu commented on #3790
We are making some significant progress here. We are using Figma with Auto layout, and we are building components, states and everything close to code. We hope to release it by mid of December. Thank you so much!

[2021-11-20 06:45] arryanggaputra commented on #4231
@Akashdeep-Patra  regarding this issue, can we set particular color if button `isDisabled` via `extendTheme` ? in the latest version, it's only possible to change the background color
[code]

[2021-11-20 07:55] Akashdeep-Patra commented on #4231
@arryanggaputra  well practically it is possible but you still need to check which color name is the isDisabled prop is targetting and then extend that color name, I don't think they support absolute values just like that, but yeah you can check this out.

[2021-11-20 08:14] sanketsahu opened #4326 "Fix dependabot alerts!"
There are alerts by dependabot that needs to be addressed.

[2021-11-20 13:52] chenkaiC4 commented on #4273
anyone know how to fix it? too many warning

[2021-11-20 13:56] chenkaiC4 commented on #4273
i have fix it, it' a third lib named **`react-aria`**。

https://react-spectrum.adobe.com/react-aria/ssr.html

install and wrap the root App.

[2021-11-21 01:45] emclab commented on #4303
Same error after ugprading to 3.2.2 from 2.15.2. I am using react navigation and not sure where to put NavtiveBaseProvider since react navigation has a root component which is already in App.js.

[2021-11-21 18:12] seeden commented on #4240
@makkarMeenu variants are not working for Text component in NativeBase 3.2.2. When I use any of my variants it will be completely ignored

[2021-11-22 07:10] #4240 closed

[2021-11-22 07:37] makkarMeenu commented on #4240
We cannot reproduce it, you can share a link of the snack if you face the same issue, we will re-open this issue.

[2021-11-22 07:58] yousefshakoury commented on #4303
I have the same problem
"native-base": "^3.2.2",
"react": "17.0.2",
"react-native": "0.66.3",

[2021-11-22 08:08] AshwiniKumar007 opened #4328 "How can I do styled components using NativeBase?"
How can I do styled-components using NativeBase? How can I extend the styles of a NativeBase component without doing it through the theme? My use-case is that I want to extend the style of the Text component but on only one screen.

[2021-11-22 08:11] AshwiniKumar007 opened #4329 "NativeBase warns me with contrast ratio, but I have no idea what's wrong."

[2021-11-22 08:12] AshwiniKumar007 opened #4330 "Getting error in justifyItems, had to reload each time"
When I put in nativebase, justifyItems, I got an error and had to reload, which made it a little difficult. I wonder if I can find an option that corresponds with the type or ignores the error

[2021-11-22 09:03] makkarMeenu commented on #4240
We are unable to reproduce this. You can share your issue with repo link, so that we can help you regarding this.

[2021-11-22 09:09] fervailanti commented on #3970
Same here! `bg` property works for track color, but it seems to be no way to change the progress color with a custom provided one.

[2021-11-22 09:13] AshwiniKumar007 opened #4331 "In v3.0.3 ActionSheet has a Drag indicator.Could a prop be added to make it optional?"

[2021-11-22 09:17] BaLaLaLs opened #4332 "Pressable isFocused prop not working android"
nativebase version: 3.2.1

I think the option of Expo preview web in the document is OK, but Expo Android isfocused doesn't work
![6ll94-dwhb7](https://user-images.githubusercontent.com/23353559/142834615-ef3e30c1-0a1f-492c-a27a-cb9d639d09f9.gif)

[2021-11-22 09:22] AshwiniKumar007 opened #4333 "Can we get a feature for creating initial of any name in Avatar?"
How about Avatar component supporting feature for creating initial of any Name.Ex:- if name is Ashwini Kumar and no image is provided so it will generate initial "AK"

[2021-11-22 09:23] AshwiniKumar007 opened #4334 "Are you planning to add Rating component and multi slider component?"

[2021-11-22 09:23] AshwiniKumar007 opened #4335 "How can i dismiss keyboard on tap, especially the ios numberpad."

[2021-11-22 09:40] AshwiniKumar007 opened #4336 "How can I customize the style for IconButton _pressed? I tried the following but it doesn't work."
`components: {
    IconButton: {
      baseStyle: {
        _pressed: {
          bg: "red.100:alpha.20",
        },
      },
    },
  }`

[2021-11-22 13:02] KianooshSoleimani commented on #518
I think your roadmap got broken because you said this on 2017 pal 😉😏😐

[2021-11-22 13:25] seeden commented on #4240
Thank you. Sure, I will prepare codesandbox today

[2021-11-22 14:26] ocarreterom commented on #4275
This seems to be a problem on react-native `Image` component. Adding a `key` should fix that.
https://github.com/facebook/react-native/issues/9195#issuecomment-238190537

[2021-11-22 14:40] shunki-github opened #4338 "ts-ignore is not working."
Currently I am using "native-base@3.2.2" with "React native".

The bug is identical to the one talked about [here](https://github.com/GeekyAnts/NativeBase/issues/4239).
The bug is the same as talked about here, i.e. ts-ignore is not working.

Please help me.

[2021-11-22 14:49] jalexandremoreira commented on #4335
something along these lines will probably help you:
https://docs.expo.dev/versions/latest/react-native/keyboardavoidingview/

[2021-11-22 19:10] rufat commented on #4303
I had the same issue since yesterday. The problem was when I create a new app project, I restructured its folder and sub-components. Because of that, I forgot to change the root component's import location in "**index.js**". I was calling a _child component as a root component_. Silly me.

So, please double-check that. Otherwise, it will throw the "useTheme" validation error.

[2021-11-22 20:49] FadiAboMsalam commented on #3982
@AndroidGuyDD  thank you man life saver

[2021-11-23 03:43] chewyx212 commented on #4273
Same problem when using Menu.

[2021-11-23 04:41] tburnt commented on #4303
I found out that if you do not put the container tag within a nativebaseprovider tag this will cause that error

EG

/*Before declaring the class */
const config = {
  dependencies: {
    // For Expo projects (Bare or managed workflow)
    'linear-gradient': require('expo-linear-gradient').LinearGradient,
    // For non expo projects
    // 'linear-gradient': require('react-native-linear-gradient'

[2021-11-23 07:46] makkarMeenu commented on #3901
It has been fixed in NativeBase 3.2.2 .

[2021-11-23 07:46] #3901 closed

[2021-11-23 07:58] ganesh-papola opened #4339 "Tab bar has grey line"
Native Base Tabs has thin grey hair line

I have tried following -
`noShadow={true} hasTabs={true} tabContainerStyle={{elevation: 0}} tabBarBackgroundColor={'transparent'} tabBarUnderlineStyle={{ borderBottomWidth: 0, backgroundColor: 'transparent'}}`

**Screenshots**
![Screen Shot 2021-11-23 at 2 58 03 AM](https://user-images.githubusercontent.com/19851598/142988155-31f291b3-3508-4f6a-9d88-0e43ef

[2021-11-23 08:44] makkarMeenu commented on #3924
This is fixed now in newer version of NativeBase, please re-open if you still face the same.

[2021-11-23 08:44] #3924 closed

[2021-11-23 11:35] makkarMeenu commented on #3961
@stacey-gammon ZStack's internal code is written in such a way that it's children are absolutely placed.

Cause of the issue: Absolute placement  has different behaviour on native and web.

Workaround:  Use `left` , `right`, `top` , `bottom` props instead wherever absolute positioning is used .

[2021-11-23 11:35] #3961 closed

[2021-11-23 12:22] Coder404-Suyash commented on #2536
how to i solve this error please help me

![Screenshot_1637667197](https://user-images.githubusercontent.com/92211439/143023143-5ade670e-77a3-43b6-9524-3b00d197ac1a.png)
![Screenshot_1637667227](https://user-images.githubusercontent.com/92211439/143023146-edc5f08e-a68c-4622-8d3d-545177c733ca.png)

[2021-11-23 13:36] makkarMeenu commented on #3939
@mikekreeki I have added animation in @intergalacticspacehighway's code .
 You can try https://snack.expo.dev/@meenu1/28ff38 out.

[2021-11-23 13:36] #3939 closed

[2021-11-23 13:46] makkarMeenu commented on #3968
Since this is inactive for a long time, closing this for now,

[2021-11-23 13:46] #3968 closed

[2021-11-23 14:19] makkarMeenu commented on #3966
Can you please try in the latest version of NativeBase? We were unable to reproduce this.
Please re-open this if this still exists.

[2021-11-23 14:19] #3966 closed

[2021-11-23 16:08] pixelmedics commented on #4307
Same on iPad Pro (12.9-inch, iOS 15) with expo-ts from NativeBaseStartup.
Tried with native-base 3.2.2 and 3.2.1-rc.2.

<img width="946" alt="2021-11-23_17-04-56" src="https://user-images.githubusercontent.com/10658938/143060088-810746cf-1327-47ff-b513-f549315f5b4f.png">
)

[2021-11-23 16:33] 404-html opened #4341 "Make Storybook more developer friendly by removing dependencies"
**Is your feature request related to a problem? Please describe.**
In order to see how Native Base works in some custom app [existing storybook](https://github.com/GeekyAnts/NativeBase/tree/master/example/storybook) can be imported into it. The problem is that it holds dependencies that doesn't have to be added into the target project, like `formik`, `@expo/vector-icons` and few more. [Example](ht

[2021-11-23 17:05] pierroo opened #4342 "Image source not updated with dark/light mode"
**Describe the bug**
With React Native, I am trying to use "useColorModeValue" to change the path of an image, without success.
For example:
`const image = mode(list_images[name], list_images[`${name}_dark`])` only displays the day mode image; although they both exist and displays well separately.

so my question is: how can we toggle from an image to another based on the color mode?

**Platform**

[2021-11-24 06:05] vipulbhj commented on #4307
@pixelmedics Steps to reproduce ? Real device or simulator ?

[2021-11-24 06:24] makkarMeenu commented on #3985
You can always use rem in web but not on native. Native doesn't support rem unit.
For this, the syntax would be `_web = {{ p : "5rem" }}`

[2021-11-24 06:24] #3985 closed

[2021-11-24 08:01] #4136 closed

[2021-11-24 08:02] makkarMeenu commented on #4102
It's fixed now.

[2021-11-24 08:02] #4102 closed

[2021-11-24 08:37] makkarMeenu commented on #4028
@MuhammadAhmed1994 Can you please specify the steps to reproduce this error?

[2021-11-24 08:57] makkarMeenu commented on #3855
@hankduan You can follow https://discord.com/channels/785491682719301643/829984794523598848/846459378496569424
regarding this. There is a workaround that somebody shared regarding the same.

[2021-11-24 08:57] #3855 closed

[2021-11-24 09:04] makkarMeenu commented on #3983
This is fixed now :)

[2021-11-24 09:04] #3983 closed

[2021-11-24 09:12] 404-html commented on #4342
This might be related to https://github.com/GeekyAnts/NativeBase/issues/4268
A workaround is to change `key` attribute on the `Image` to force re-render.

[2021-11-24 09:37] pierroo commented on #4342
This was exactly the issue, thank you so much!
I've spent way too much time trying to fix this. :)

[2021-11-24 10:07] AshwiniKumar007 opened #4345 "When I set Input background color to "white" i get this warning: NativeBase: The contrast ratio of 1:1 for darkText on transparent"

[2021-11-24 10:09] AshwiniKumar007 opened #4346 "Facing issue with Nativebase and react-native-safe-area-context.Getting error like "Tried to register two views with the same name RNCSafeAreaProvider" using Metro."

[2021-11-24 10:15] HamzaDams commented on #4303
Yes for solve this problem just add <NativeBaseProvider> in app.js

[2021-11-24 10:29] makkarMeenu commented on #4342
We will use #4268 for further discusssions.

[2021-11-24 10:29] #4342 closed

[2021-11-24 11:15] makkarMeenu commented on #4332
On native devices , only `Input` component  has `focused` state but no other component.
Native devices has `pressed` state.

[2021-11-24 11:15] #4332 closed

[2021-11-24 11:23] ocarreterom opened #4347 "InputGroup renders single child two times"
**Describe the bug**
`InputGroup` renders single child two times.

**To Reproduce**
[code]

**Expected behaviour**
Render only one time.

**CodeSandBox/Snack link**
https://codesandbox.io/s/hardcore-mclaren-4f5ww?file=/src/App.js

**Platform**

- NativeBase version: 3.2.2, 3.3.0-rc

[2021-11-24 17:42] iooi commented on #4307
it can be fixed by changing `flex: "-1"`. React Native doesn't support string value.

[2021-11-25 19:04] kav commented on #4307
I'm seeing the same, use simulator on any iPad or rotated iPhone

[2021-11-25 21:39] RobertSasak opened #4351 "Pressable ignores _disabled props"
**Describe the bug**
**_disabled** should alter apperance of **Pressable** component when it has **disabled** prop.

**To Reproduce**
Steps to reproduce the behaviour:

[code]

**Expected behaviour**
I expect pressable box to be yellow since it is disabled but it is blue. It seems like *_disabled* has no effect whatsoever.

**CodeSandBox/Snack link**
https://snack.expo.dev/@robert.sasak/example

*

[2021-11-26 09:49] tlenclos opened #4353 "Allow web "type" attribute to be pass to <Input> component"
It seems that the "type" props on the <Input> component is only use for secure text entry and not passed to the native input component.

https://github.com/GeekyAnts/NativeBase/blob/master/src/components/primitives/Input/InputBase.tsx#L102

**Describe alternatives you've considered**
A custom component input for my forms.

**Additional context**
I wanted to have a type="date" on my input like so b

[2021-11-26 22:38] ataravati opened #4354 "Toast description should wrap"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-11-27 11:27] ZeynepKey commented on #4303
I have the same problem and tried to solve it like that, but for that you should install the linear gradient first, or? Do you think there is another solution without installing these?

[2021-11-28 09:17] BaLaLaLs opened #4355 "Popover Overlay can set non response events"
i need popover overlay do not respond to any events, but subcomponents  can，like View pointerEvents: 'box-none' .

[2021-11-28 19:34] toey919 opened #4356 "On EAS Build, White screen after splash screen"
I am using NativeBase 3.2.2 on Expo 42.
So everything is ok for iOS and Android with Expo Go, Expo build.
But it is white screen after splash when I try EAS build, not Expo build.
I can't get any error logs(sentry) and resolutions.
What is the issue?

- NativeBase version 3.2.2
- Expo sdk version 42

[2021-11-29 05:14] exneval opened #4357 "Modal initialFocusRef not working in Menu"
**Describe the bug**
Modal initialFocusRef not working in Menu

**To Reproduce**
Trigger modal initialFocus from menu item

**Expected behaviour**
should work as without using menu

**CodeSandBox/Snack link**
[Snack](https://snack.expo.dev/@exneval/38d00b)

[2021-11-29 08:26] exneval opened #4358 "NativeBase not working with NextJS 12 Native ES Modules Support"
**Describe the bug**
As we already know, Native ESM already supported by Next JS 12, so the use of [next-transpile-modules](https://github.com/martpie/next-transpile-modules) can be removed as Next JS will transpile it automatically, but not with NativeBase, the NextJS 12 + RNW minimal setup won't work for NativeBase, unless use next-transpile-modules v9

**To Reproduce**
Install NativeBase v3 usi

[2021-11-29 10:56] NilsBaumgartner1994 opened #4359 "Auto Nested Styling"
**Is your feature request related to a problem? Please describe.**
It would be nice to have automaticly styling of a Box within a Box, so that you can see the nested styling.

**Describe the solution you'd like**
A component or a pseudo prop, which handles the taking of the theme palette.

**Describe alternatives you've considered**
Here is a small component, which is not so good i fear in things

[2021-11-29 12:14] hotaryuzaki commented on #4287
same question, there is no migration guide.
i think the docs and changelog release is really terrible, i cannot find anywhere which mention about Root tag was remove or deprecated. cmiiw

[2021-11-30 05:15] harrychow2 commented on #4273
Same issue there when using Modal

[2021-11-30 13:05] AndrewIngram opened #4362 "Allow overriding underlying native component"
I'm using `react-native-text-input-mask`, which provides a native component that's ultimately a wrapper around React Native's TextInput (with a few additional props, and a different `onChangeText` signature). I want to use it with NativeBase, as well as all my theme config, but I'm finding that i'm having to reimplement the majority of the `Input` component, including a whole bunch of private APIs

[2021-11-30 13:44] MD-REHMAN commented on #4253
I was unable to reproduce the issue, @CarlosHdez  can you please share which version you were using and does the issue still persists in the latest version.
And if it still does, please share a snack.

[2021-11-30 21:03] rickgonzalez commented on #4170
Is someone going to merge this back into a release or remove the dependency? I would hate to have to copy that stuff in every time I update.

[2021-12-01 06:47] Ajamuar commented on #4359
@NilsBaumgartner1994 Can you please provide some use-case and examples of the same?

[2021-12-01 07:06] Ajamuar commented on #4358
Duplicate of #4295

[2021-12-01 07:06] #4358 closed

[2021-12-01 07:16] Ajamuar commented on #4319
@rs6g10 Can you check this implementation and see if this solves your problem?
https://snack.expo.dev/@adityaj_geekyants/example

[2021-12-01 08:09] Ajamuar commented on #4353
@tlenclos Currently expo does not have a web version of DatePicker. We are considering doing a PR for the same. We are also considering adding a DatePicker in NativeBase. In the meanwhile, using web-specific conditional code might help. We will try and create an example snack for the same. You can also look into some community examples in the meanwhile.

[2021-12-01 08:14] Ajamuar commented on #4338
Can you share an example of this bug somewhere? The way to reproduce can also help us identify and fix this bug.

[2021-12-01 08:14] Ajamuar commented on #4334
We plan on having those added soon. But we have some more urgent requirements as of now. We will get back with a timeline as soon as possible.

[2021-12-01 08:15] Ajamuar commented on #4333
We can consider adding this feature. But it might take time. If you want, feel free to send a PR.

[2021-12-01 08:21] Ajamuar commented on #4341
Some examples are trying to showcase the ability to integrate with these packages. Removing this might create a new problem of showcasing it somewhere. Can you individually remove the components causing the issue for your use case?

[2021-12-01 09:52] NilsBaumgartner1994 opened #4363 "Tooltip breaks"
** Before reporting this bug, please...**

[code]

TypeError: Cannot read properties of undefined (reading 'position')
style
node_modules/dom-helpers/style/index.js:27
  24 |
  25 | if (typeof property === 'string') {
  26 |   if (value === undefined) {

     | ^  28 |   } else {
  29 |     (props = {})[property] = value;
  30 |   }
View compiled
position
node_modules/dom-helpers/query/position.js

[2021-12-01 09:56] NilsBaumgartner1994 commented on #4359
It allows to give automaticly nested shading. Its pretty common and i wondered, that its not implemented.
You dont have to worry about displaying a nested view for the user.

<img width="247" alt="Bildschirmfoto 2021-12-01 um 10 55 32" src="https://user-images.githubusercontent.com/33295329/144212666-4ccdb269-fa15-4d7e-958a-e47b47319f73.png">

[2021-12-01 10:17] initialvic3 commented on #3790
Hey just wondering if this is going to be open source or part of the startup+ package? Thanks!

[2021-12-01 19:00] ezze commented on #4302
@vasafix Does it happen with any 3.x version?

I am experiencing an issue with 3.0.6 in Android: the more Native Base components are rendered the slower further rendering performance (i.e. when switching between visible app components). Each time I create and render a component including Native Base components I see more visible delays before my component starts to interact (run `useEffect` callba

[2021-12-02 09:51] AndrewIngram opened #4368 "Shadow in theme for Input applies text shadow for advanced input"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-12-02 10:15] sharils opened #4369 "create-next-app -example nextjs-with-native-base-typescript complains ERESOLVE unable to resolve dependency tree"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-12-02 10:33] Ajamuar commented on #4369
Hi @sharils, this should not be happening. The same commands seem to work in the non-docker environment. We are taking a look at what may be causing the issue. In the meanwhile, you can clone this repo directly: https://github.com/GeekyAnts/nativebase-templates/tree/master/nextjs-with-native-base-typescript

We'll get back to you as soon as we have more details about this.

[2021-12-02 12:13] MD-REHMAN commented on #4328
@AshwiniKumar007 you can make custom variants for Text as I showed in [this snack](https://snack.expo.dev/@md-rehman/adding-variants-to-text). And you can use this variant in your specific scenario.

[2021-12-02 15:16] MD-REHMAN commented on #4331
We have added `hideDragIndicator`, you can check then out [here](https://docs.nativebase.io/action-sheet#actionsheet).

[2021-12-02 15:16] #4331 closed

[2021-12-03 00:18] arryanggaputra opened #4370 "Autocompletion not showing in some components"
I have created a custom theme for the native base

[code]

The autocompletion works for background in Button, color in Text, but in some other components, the autocompletion is not worked. An example in the `Box` component, when I use the `bg` property the autocompletion does not show my custom theme. Is there any way that I need to adjust regarding this issue?

## autocompletion works for bg

![i

[2021-12-03 06:13] tungduonghgg123 commented on #4035
it is really slow for the whole component containing the Checkbox group.

[2021-12-03 06:26] arunim2405 commented on #4035
@tungduonghgg123 try to render the checkboxes in a flat list instead of a scroll view, I saw a slight improvement this way

[2021-12-03 11:11] MD-REHMAN commented on #4336
The reason the above code is not working is that the `_pressed` style has been declared in variants style. Do check out [styling doc](https://docs.nativebase.io/icon-button#styling) and [default IconButton style](https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/icon-button.ts).

I am also sharing a [snack](https://snack.expo.dev/@md-rehman/updating-iconbutton-variant-style)

[2021-12-03 11:11] #4336 closed

[2021-12-03 12:49] AshwiniKumar007 commented on #4335
I tried

<TouchableWithoutFeedback onPress={ () => Keyboard.dismiss() }> {rest of the code} </TouchableWithoutFeedback>

[2021-12-04 14:26] leonardomdr commented on #1012
How did that investigation @chiubaka? I would like to understand your process to check that. I'm using luxon here, and my native-base modal looks slow.

[2021-12-04 23:50] chiubaka commented on #1012
I ran a `git bisect` on my app until I isolated a commit that was clearly causing the problem. This left me with many, many commits with Native Base enabled and no issues, and narrowed down to a single commit with a `luxon` default timezone configuration that was clearly causing the problem.

[2021-12-05 11:33] leonardomdr commented on #1012
Aww.. got it. I'm in the beginning of this app development, I will just remove luxon and check if the modal gets a better performance. Thanks anyways.

[2021-12-05 19:02] qasim483 commented on #415
I got it working like this:
`<Picker.Item style={{fontSize:10}} label="All Types" value="all" />`
Set the fontSize to Picker.Item instead of Picker.

[2021-12-05 21:38] creix opened #4373 "Text gradient"
How it's possible to add expo linear gradient to text or headings? I already tried using MaskedView but it doesn't work because the element just disappear from the screen.

[2021-12-06 07:36] haibert opened #4375 "Custom Theme Type Warning"
**Describe the bug**
I don't believe this is necessarily a bug, it might be just a lack of my knowledge when it comes to TypeScript but I’m creating a custom theme object for NativeBase and inside of it I am adding some extra properties like “bgColor”. Later when accessing these properties through useTheme() the code works, but I get a type warning saying "Property 'bgColor' does not exist on type

[2021-12-06 10:59] abdugaffor-abdurahimov commented on #4319
Same issue I used `onChangeText` instead

[2021-12-06 11:21] devWaleed commented on #4170
bump

[2021-12-06 13:38] MD-REHMAN commented on #4275
Thanks @ocarreterom, and we'll keep this issue open till [react-native/image](https://github.com/facebook/react-native/issues/9195#issuecomment-238190537) get resolved.

[2021-12-06 14:32] MD-REHMAN commented on #4345
The warning states that the contrast ratio between the text colors and the background color is very less, meaning the text will be harder to read.

But if you want to suppress the warning you can use `suppressColorAccessibilityWarning`. You can simply pass it NativeBaseProvider's config prop.

[code]

[2021-12-06 14:32] #4345 closed

[2021-12-06 14:33] MD-REHMAN commented on #4329
Similar to #4345

[2021-12-06 14:33] #4329 closed

[2021-12-06 14:47] MD-REHMAN commented on #4354
Unable to reproduce @ataravati the issue. Please provide simple snack for the same.

[2021-12-06 18:51] TheSalarKhan commented on #593
The action sheet takes ages to load if the list size is long

[2021-12-06 22:18] vytch opened #4378 "Fixing overflow value in the input component in theme"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-12-07 12:07] MD-REHMAN commented on #4346
Tried reproducing it and was unable to, looks like it's fixed with the latest version.

I would recommend trying the latest version once and if you're still facing the issue please share a minimal snack with the issue reproduced.

[2021-12-07 12:16] MD-REHMAN commented on #4335
You're stepping in the right direction, just wrap the main `View` with `TouchableWithoutFeedback` and call `Keyboard.dismiss()` it onPress. This should dismiss the Keyboard.

You can read more about this [here](https://stackoverflow.com/questions/29685421/hide-keyboard-in-react-native)

[2021-12-07 12:16] #4335 closed

[2021-12-08 00:03] ozzfelipe commented on #3217
This worked for me!

[2021-12-08 07:48] Livan-pro commented on #4017
This can be fixed with `keyboardShouldPersistTaps="handled"` on `ScrollView`.
Details: https://reactnative.dev/docs/scrollview#keyboardshouldpersisttaps.

[2021-12-08 08:08] madhav23bansal opened #4384 "Testing webhook"
Description to the test issue

[2021-12-08 08:09] #4384 closed

[2021-12-08 08:29] AshwiniKumar007 opened #4385 "This is a test bug report"
Test description

[2021-12-08 10:23] #4385 closed

[2021-12-08 16:19] rs6g10 commented on #4319
Still doesn't work. `event.target.value` comes undefined on both iOS and Android. Works for web though. You can try with following simple example:

[code]

[2021-12-08 16:26] rs6g10 commented on #4319
Thanks this works but you don't get the value from `event.target.value`.

[2021-12-09 01:59] laogui opened #4389 "<Image> show warn:"Please pass alt prop to Image component" on React Native"
**Describe the bug**
<Image> show warn:"Please pass alt prop to Image component" on React Native，'alt' only use for web.

**Screenshots**
![image](https://user-images.githubusercontent.com/3276113/145320169-c698b8e5-3f2b-4f58-8f6b-3812270a2ef6.png)

**Platform**

- NativeBase version [3.2.2]
- Device: [OPPO find]
- OS: [android 11]
- React Native version [0.65]
- node [14.16.1]
- yarn or npm [6.4]

[2021-12-09 02:53] rayan1810 commented on #4389
Alt is also required in React Native as accessibilityLabel that is read by screen readers therefore it's showing you a warning. Please provide an alt to image components so that if any person who is not as privileged as you and me are, is trying to use your app he/she can understand the content of all the images.

[2021-12-09 07:00] alechko opened #4390 "Toast defaultProps are being ignored"
**Describe the bug**
A clear and concise description of what the bug is.

Trying to extend Toast component the `defaultProps` are being ignored. Other properties like `basStyle` work without issues.

**To Reproduce**
Steps to reproduce the behaviour:

[code]

**Expected behaviour**
A Toast should be placed by default at the top of the screen and have a title of `Example` text.

**CodeSandBox/Snack

[2021-12-09 07:59] cyrus25 commented on #3836
@t1gor This issue has been fixed.

[2021-12-09 07:59] #3836 closed

[2021-12-09 09:17] cyrus25 commented on #4319
@rs6g10 **onChangeText** prop takes a callback function that receives the input's text changes so **event.target.value** is not applicable there and if you want to use the **onChange** prop you can use **event.nativeEvent**.  [https://snack.expo.dev/@cyrus2505/nativebase-starter-snack](https://snack.expo.dev/@cyrus2505/nativebase-starter-snack)

[2021-12-09 09:33] asmallxx opened #4391 "[En]When input uses InputRightElement, the focused style does not take effect .[中文]input 在使用InputRightElement时，聚焦的样式不生效"
当前版本是3.2.2:
我在使用Input组件时，如果我想变化聚焦时的边框颜色，我添加了代码：
（The current version is 3.2.2:When I was using the Input component, if I wanted to change the color of the border when focusing, I added the code:）

   _focus={{
          style: {
            borderColor: 'red',
          },
        }}

完整的如下所示：（The complete one is as follows：）

      <Input
        placeholder="Search People & Places"
        bg="#

[2021-12-09 10:24] Leleka14 commented on #4275
for me it forked to randomly assign imageIndex only once when component is mounted and if image is changed, it only takes to refresh screen, may not be the best solution, but at least image is not flickering

const randomValue = useMemo(()=>Math.random(), [])

<Image src={{uri: https://image/image.jpg?id={randomValue}}}/>

[2021-12-09 10:38] madhav23bansal opened #4393 "Please ignore this."
This is the test bug report

[2021-12-09 10:38] #4393 closed

[2021-12-09 11:12] cyrus25 commented on #4276
@dcboy This issue has been fixed.

[2021-12-09 11:12] #4276 closed

[2021-12-09 11:31] cyrus25 commented on #4236
@megacherry This issue has been fixed.

[2021-12-09 11:31] #4236 closed

[2021-12-09 12:20] 1nefootstep opened #4397 "Iconbutton isDisabled not doing anything"
**Describe the bug**
Adding isDisabled={true} to IconButton doesn't disable the button.

**CodeSandBox/Snack link**
Snack: [link](https://snack.expo.dev/@onefootstep/2e0b9c).
In this snack, even though isDisabled={true}, the button can still be pressed and the onPress callback still triggers.

**Platform**

- NativeBase version: 3.2.2

[2021-12-09 13:43] tanishabiswas commented on #3790
Thank you so much for your patience. The long wait is finally over ! The NativeBase Figma Library is live! Support us on https://www.figma.com/@nativebase. We would love to hear your feedbacks.

[2021-12-10 06:58] cyrus25 commented on #4363
Hi @NilsBaumgartner1994 , can you provide with a minimal snack reproduction of the issue that you are facing?

[2021-12-10 09:56] Looooong opened #4398 "Pressable doesn't have onPress prop in Typescript definition"
Passing in `onPress` does work. But it's annoying because of Typescript Intellisense error.

[2021-12-10 09:57] acollazomayer opened #4399 "Native TextInput does not work properly when wrapped with Factory"
**Describe the bug**
When using Factory creator for native text input. When the input gets focused it automatically gets unfocused

**To Reproduce**
1 - Use the text input factory example. Click on the text input and the input get unfocused automatically.

**Expected behaviour**
Text input shouldn't be unfocused.

**CodeSandBox/Snack link**
I am using the example provided in the docs. https://docs

[2021-12-10 12:41] acollazomayer commented on #4399
I was able to make it work, mimicking part of the implementation of Factory

`import React, {memo, forwardRef} from 'react';
import {TextInput} from 'react-native';
import {
  usePropsWithComponentTheme,
  useStyledSystemPropsResolver,
} from 'native-base';
import inputTheme from '../theme/components/input';

const MaskedInput = (props, ref) => {
  const calculatedProps = usePropsWithComponentThem

[2021-12-10 17:42] pierroo commented on #1012
I'm afraid I'll have to join the party: NativeBase Modals are incredibly slow to open / close; it takes almost 1 full second to appear / disappear; even with barely anything in it. (just text and a few boxes)

I don't have any luxon or complicated components in there;
I'm on the latest versions of React Native and NativeBase.
this is quite frustrating, unable to pinpoint the issue :/

@leonardomdr

[2021-12-10 20:23] sejr1996 commented on #4391
I have the same problem.
The native base version is 3.2.2

[2021-12-11 11:05] siarheipashkevich commented on #3121
Any updates?

[2021-12-11 16:20] joeljose350 commented on #4397
It looks like IconButton does not have a prop called isDisabled. Here's a [link](https://github.com/GeekyAnts/NativeBase/blob/master/src/components/composites/IconButton/index.tsx) to its definition.

[2021-12-11 18:07] pierroo opened #4404 "Checkbox component makes the app crash in production"
**Describe the bug**
Very simply, when using the Checkbox component from nativeBase the app completely CRASHES when in production mode.
( works fine both on emulator and device in testing mode)

**To Reproduce**
Use a CheckBox component, build with the --variant=release flag on Android, and cry.
( didn't test yet on iOS )

**Platform**

- NativeBase version3.2.2
- Device: Android, Huwaei
- OS: 11

[2021-12-11 19:35] haveamission opened #4405 "Function in onPress causes error"
**Describe the bug**
When passing a function into `<Pressable />`, there is an error. This error does not happen on baseline React Native `<Pressable />` - only in Native Base `<Pressable />`

**To Reproduce**
Minimum reproducible example (this is on web, have not tested on other platforms yet):

[code]

**Expected behaviour**
Page should load (currently it just crashes), and allow you to click th

[2021-12-12 11:13] pierroo commented on #4404
Okay found the solution, it seems that the issue was linked to the use of SVG for your CheckBox component.
Adding the following to my proguard.pro (android/app) fixed the problem:

-keep public class com.horcrux.svg.** {*;}

Definitely something you might want to add to your documentation, and/or stop using svg for this component since we all know Android don't like them so much. :)

[2021-12-12 20:15] cereallarceny commented on #3997
Wow, this does actually fix a lot of bugs @intergalacticspacehighway. Very surprised by this. Please remember to close this issue once that PR is merged so we can all receive updates to remove your patch. 😄

[2021-12-12 21:30] creix opened #4406 "Custom font working in Text but not in Headings"
**Describe the bug**
I added a custom font to my app and it is working in Text components but in the Heading components it still uses the default font.

This is my font.js
[code]

Then in my app.js i'm loading the fonts as it follows:
[code]

I'm also adding the custom theme to NativeBaseProvider in every screen that i've created.

**Platform**

- NativeBase version 3.2.2
- Device: Xiaomi Mi 9T Pr

[2021-12-12 21:58] leonardomdr commented on #1012
Yes, it is still slow. Not a published app yet, it's under development, but
if it's still slow in the future, I will have to look for another solution.

I haven't tested yet, because I have been studying react memo and
other stuff about performance for react native apps.

I'm using the latest versions as well (native-base and react-native)..

Em sex., 10 de dez. de 2021 às 14:42, Pierre ***@***.**

[2021-12-13 10:54] punndcoder28 commented on #4065
Was accordion removed in the latest release since the docs do mention it in older releases?

[2021-12-13 11:02] grean opened #4407 "Checkbok value prop"
The checkbox value prop is not documented very well yet (3.2.2) and typescript shows this message if you don't provide it.
[code]
Workaround
<Checkbox value='' ....
Could be nice if the prop would be optional at least.
Thanks for your great work.

[2021-12-13 11:13] Shizuri opened #4408 "Adding mt="20px" to Spinner crashes the application."
**Bug description**
Adding a <Spinner> component with a string value for `mt` causes the application to crash with the error message:
[code]

**To Reproduce**
Steps to reproduce the behaviour:

Add a
`<Spinner mt="20px" />`
anywhere in the code.

Adding `<Spinner mt={20} />` does NOT cause the issue.

**Screenshots**
![image](https://user-images.githubusercontent.com/43163607/145801832-f1aca67e-d0

[2021-12-13 13:10] #4407 closed

[2021-12-13 13:10] grean commented on #4407
My bad i was reading the migration documentation part..

[2021-12-13 15:50] NilsBaumgartner1994 commented on #4319
Please update the docs then:
https://docs.nativebase.io/input#controlled-input

The controlled input seems to be wrong there

Facing the same issue.

[2021-12-13 18:56] ataravati commented on #4354
@MD-REHMAN This is weird. I can't reproduce the issue in a snack.

Here's what I have in App.tsx:

[code]

The toast is displayed in the `NotificationsContainer` component that just returns `<>{children}</>`.

Here's the toast:

[code]

[2021-12-14 03:26] jaonystudio commented on #3982
@AndroidGuyDD Hi, how can I run that "resolutions", npm install didn't work for me :(

[2021-12-14 08:02] AndroidGuyDD commented on #3982
@jaonystudio Yes, this worked with yarn only so far. But you're lucky. npm just released a similar functionality called `overrides` in their [latest release 8.3.0 ](https://github.com/npm/cli/releases/tag/v8.3.0)

[2021-12-14 11:04] ghoudi01 opened #4410 "add DataTable"
**Data tables allow displaying sets of data.**

[2021-12-14 12:59] amars29 opened #4412 "prop 'bg' on Input component is not working in version: 3.3.0-rc.4"
Snack link: https://snack.expo.dev/@amars29/input-not-showing-bg-color

[2021-12-15 07:45] jaonystudio commented on #3982
@AndroidGuyDD I tried using this one in `package.json` but no luck
`"overrides": {
    "native-base": {
      "@codler/react-native-keyboard-aware-scroll-view": "2.0.1"
    }
  },`

[2021-12-15 12:50] MD-REHMAN commented on #4410
@ghoudi01, please try to be as descriptive as possible.
Based on my understanding you want something similar to web's `table` in NativeBase?

[2021-12-16 07:05] ganesh-papola commented on #4339
Any updated on this?

[2021-12-16 08:03] loveholly opened #4417 "Scrolling is not blocked on the elements behind the ActionSheet."
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behaviour**
Scrolling is  blocked on the elements behind the ActionSheet.

**CodeSandBox/Snack link**
https://codesandbox.io/s/crimson-glade-q4kk1?file=/src/App.tsx

[2021-12-16 08:29] Abhineetk47 opened #4418 "Linear gradient is not working with NativeBase Box component in next js"
<Box
      h="100%"
      shadow={4}
      flexGrow={1}
      bg={{
        linearGradient: {
          colors: ["red.100", "red.900"],
          //   colors: ["#091B30", "#FEFBF4"],
          start: [0, 0],
          end: [1, 0],
        },
      }}

<Text>this text is inside the linear gradient box</Text>
</Box>

[2021-12-16 08:41] AshwiniKumar007 opened #4419 "Issue on z-index focus"

[2021-12-16 11:41] alphazhe commented on #4410
Web's `table` will be the great addition to NativeBase library!!

[2021-12-16 11:49] alphazhe commented on #3381
NativeBase 3.2.2 docs date picker is mentioned as coming soon. Any timeline for this, when this will be released?

[2021-12-16 12:13] likeSo commented on #4065
Additional:
- Swiper
- Components should follow material design

And I wanna know that does Accordion and Grid view is available now? It's been a few months

[2021-12-16 12:22] y471n commented on #518
+💯

[2021-12-16 14:08] amars29 commented on #3862
@OPITOs Please update the native-base version to 3.2.0 or above.

[2021-12-16 16:31] grean commented on #3945
When the popover is controlled by the "isOpen" prop, we can't dismiss the popover anymore by cliking outside of it.
To achieve that you have to implement the onClose prop with your setIsOpen state callback.

[2021-12-16 18:05] JamesC159 commented on #3307
I am having this issue on RN 0.66.2. important @react-native-picker/picker does not solve this issuee

[2021-12-16 19:56] berkozagir commented on #2947
There is a Dropdown inside the ScrollView. There is also ScrollView in Dropdown. The page scrolls when the user scrolls the Dropdown. Not all objects in Dropdown are visible.

**Warning**: virtualizedlists should never be nested inside plain ScrollViews with the same orientation -use another VirtualizedList-backed container instead.

We have entered the year 2022. Is there really no solution yet?

[2021-12-17 01:11] arun-aswathanarayan commented on #4273
I too am getting a bunch of errors when using a Slider in a Modal.

[code]

[2021-12-17 03:02] #4304 closed

[2021-12-17 05:06] likeSo opened #4421 "Menu component build failed due to AccessibilityInfo on macOS"
**Describe the bug**
A clear and concise description of what the bug is.
I am enabling macOS support on my project.
Once i import `Menu` component from native-base, it will not build and show this error:
![image](https://user-images.githubusercontent.com/12247340/146491509-3bd71052-4304-4239-86e6-3862ca53377f.png)

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `npx react-native-macos-i

[2021-12-17 10:34] pierroo commented on #4351
I see the status is Review in progress for 14 days; any plan on merging it soon?

[2021-12-17 21:08] AngelLoredoAlvarez opened #4422 "<Hidden /> with XL Screen Size"
The <Hidden /> component does not work when screen size is equal to xl, a think that the component props "only", "from" and "till" ignores this breakpoint.

[2021-12-18 02:14] pruge opened #4423 "Switch from native-base isn't working"
**Describe the bug**
When you put true in the value attribute
react-native switch works fine.
But, the native-base switch doesn't work.

Am I using the wrong way?

**To Reproduce**
[expo example](https://snack.expo.dev/@prugehada/example)

[2021-12-18 21:49] erzzo commented on #4423
It's because the native base switch doesn't have a value property. You need to use isChecked. Docs are here https://docs.nativebase.io/switch

[2021-12-18 22:15] trajano opened #4424 "Button needs a way of providing the disabled state for testing."
**Is your feature request related to a problem? Please describe.**

Given this test.  I want to be able to determine if `disabledButton` is disabled but looking at the props it does not show any thing
[code]

**Describe the solution you'd like**

    expect(disabledButtonElement.props.disabled).toBeTruthy();

Should work

**Describe alternatives you've considered**

Do not perform the test

[2021-12-18 22:35] pruge commented on #4423
@erzzo  Thank you. It works fine.
[expo example](https://snack.expo.dev/@prugehada/example)

[2021-12-19 01:23] thedewpoint commented on #4345
Can I add that this warning is terrible and googling it reveals no information. I had to come here and search through the issues to find this fix. I also tried searching nativebase docs but didn't find this

[2021-12-19 08:43] alitnk commented on #518
+1 Would love it to have RTL support.

[2021-12-20 09:28] rayan1810 opened #4425 "Divider thickness inside Stack component is not uniform"
**Describe the bug**
If you add Divider in divider prop of Stack and pass thickness in decimal like 2.5 or 3.5 ... the rendered Dividers look different in thickness for some reason.

**To Reproduce**
Check this Expo Snack ->
https://snack.expo.dev/PEOD9UQXSS

**Expected behaviour**
All the Dividers with the same thickness should look the same.

**CodeSandBox/Snack link**
https://snack.expo.dev/PEO

[2021-12-20 12:06] Monisankarnath commented on #4273
I am facing the same issue when using nativebase modal. Any solution on this @sanketsahu

[2021-12-20 19:14] ezze opened #4428 "Can't change button text style on hover in TypeScript"
I can't set a style for button text on hover like described on [this docs page](https://docs.nativebase.io/pseudo-props-101):

[code]

**To Reproduce**

Here is my code snippet:

[code]

I end up with TypeScript compliation error:

[code]

**Expected behaviour**
My code is compiled, text style is applied on button hover.

**Platform**

- NativeBase version 3.2.2
- Device: web, Android emulator
- O

[2021-12-21 04:47] YenTingWu opened #4429 "ForwardRef(creatIcon) in Select is missing the key prop"
**Describe the bug**

I copied the example code in the docs, and the warning shows up. I thought it occurred somewhere with `ForwardRef(createdIcon)`, so I removed the `endIcon` in `_selectedItem` and tried again. But the warning was still there.

[code]

[code]

**To Reproduce**

Copy the code below and paste it anywhere in your expo app.

[code]

**Expected behaviour**

No warning shows up.

**S

[2021-12-21 10:00] ENT108 commented on #4390
same here

[2021-12-21 10:09] ENT108 opened #4430 "Toast provider overlaps screen content - prevents onClick events"
After calling `toast.show()` Toast provider overlaps screen elements and prevents onClick events to reach buttons etc.

**Steps to reproduce the behaviour:**
1. render toast using toast.show() over a button of any kind
2. wait for the toast to disappear
3. Click on the button below the toast
4. Notice, the onClick event is not reaching the button

**Expected behaviour**

Toast provider does not co

[2021-12-21 10:22] Easy-Ez commented on #4265
@rayan1810  may i change all button theme  by   [Customising Components ](https://docs.nativebase.io/3.0.6/customizingComponents)  ? thx!
[code]
 I tried , but it seems not working

[2021-12-21 10:28] aqos156 opened #4431 "`React.createElement: type is invalid` when running tests in nx workspace project"
**Describe the bug**
When a test is run under nx workspace react-native app the tests return multiple warnings `React.createElement: type is invalid...`

**To Reproduce**
Steps to reproduce the behaviour:

1. Create nx workspace `npx create-nx-workspace@latest my-nx-workspace --preset=react-native --package-manager=yarn`
2. Fill in application name to `myapp` when asked and select no for cloud bui

[2021-12-21 11:50] hemadriDasari1990 commented on #4200
I’m having same problem. The library is quite big and surely a great library but it’s not quite matured yet. Breakpoints doesn’t work in web. Document doesn’t have enough examples and the components doesn’t support additional props like material UI. Their examples are very poorly written and uses external libraries to create a layout and the code isn’t clean. Small things aren’t working and wastin

[2021-12-21 13:03] kenchoong commented on #4200
@hemadriDasari1990 https://github.com/GeekyAnts/NativeBase/issues/3997#issuecomment-954605433 here is the solution

[2021-12-22 12:37] ankit-tailor commented on #4422
@AngelLoredoAlvarez I am unable to reproduce the issue, Can you please provide the snack?

[2021-12-22 14:38] cruzlutor commented on #4397
It doesn't but it should, I see how it could be useful for disabling icon buttons

[2021-12-22 15:35] #4422 closed

[2021-12-22 15:37] AngelLoredoAlvarez commented on #4422
Sorry, I had an error on mi config setup, thank you all for your time.

[2021-12-22 17:08] kylegwalsh opened #4438 "Add back in ability to customize top-level box of Radio component"
**Is your feature request related to a problem? Please describe.**
Radios used to allow us to style the outermost box of the radio, but now it looks like it only accepts {...layoutProps}. This has made us unable to use the same styles we had before upgrading (and I don't see any way to apply styles on the new Radio to achieve the same effect.

For example, we previously styled Radios like this:
![

[2021-12-23 05:01] MD-REHMAN commented on #4300
Thanks, @trajano for reporting the issue.

So, with the [customizing-fonts](https://docs.nativebase.io/customizing-fonts ) example we're showing how the user can set `Roboto` font, it'll be more clear go through the above lines. The best place to check the default theme is https://docs.nativebase.io/default-theme, And [here](https://docs.nativebase.io/default-theme#typography) you'll find your ans

[2021-12-23 05:11] trajano commented on #4300
@MD-REHMAN  try your example with TypeScript and you should see that it's going to fail due to the type since the theme is defined using the "lazy approach" (which I sometimes do myself) of just letting TypeScript make up based on the value.

[2021-12-23 05:11] silgal opened #4439 "Document AspectRatio"
AspectRatio is used in https://docs.nativebase.io/building-card, but there is no document for it.

[2021-12-23 05:24] Viraj-10 commented on #4354
Hi @ataravati ,
Issue Seems to be caused by one of the wrappers. I tried to replicate the scenario with different wrappers but still unable to reproduce the issue. If you can, please share a snack.

[2021-12-23 07:37] MD-REHMAN commented on #4428
Thanks, @ezze for pointing it out.
We'll fix it in the upcoming release.

[2021-12-23 09:42] amars29 commented on #4391
@asmallxx  When you are using InputLeftElement (or InputRightElement or both), then both Input & InputLeftElement (or InputRightElement or both) will be sibling components wrapped by a Box component. Whatever styles you are giving will go the the Input Element and not to the parent i.e. Box.

Solution:
Instead of using styles, you can use utilty props as shown below:
[code]

[2021-12-23 09:57] ankit-tailor commented on #4428
On it 👀

[2021-12-23 10:49] ezze opened #4444 "Hover background color described in theme is not applied to input"
**Describe the bug**

`backgroundColor` specified for `_hover` state of input in a theme is not applied (in contrast to `borderColor` or `backgroundColor` of `_focus` state). It's also worth noting that `backgroundColor` for `_hover` works for inputs with `InputLeftElement` and/or `InputRightElement`.

**Steps to reproduce**

*src/theme/index.ts*

[code]

*src/components/Example.tsx*

[code]

**Ex

[2021-12-23 11:02] ezze opened #4445 "Button styles specified for different states are not applied"
**Describe the bug**

Button styles specified for `_hover` and `_pressed` states are not applied (it doesn't matter whether these styles are defined in a theme or inline).

**To Reproduce**

*src/theme.index.ts*

[code]

*src/components/Example.tsx*

[code]

**Expected behaviour**

`_hover` and `_pressed` styles are applied to button from both theme and inline.

**CodeSandBox/Snack link**
[Here is

[2021-12-23 11:04] ezze commented on #4428
@MD-REHMAN Thanks for response. Not sure if it's related but I am also struggling to apply a `_hover` state to [inputs](#4444) and [buttons](#4445).

[2021-12-24 11:24] #4406 closed

[2021-12-24 11:25] creix commented on #4406
Resolved, i made a mistake in the extend theme, it should be:

``
fonts: {
    heading: 'PilatWide',
    body: 'PilatWide',
    mono: 'PilatWide',
  },
``

[2021-12-24 15:22] DevHamzaShahid commented on #3817
thanks

[2021-12-25 00:51] loveholly opened #4455 "Any plan for integration with reanimated"
**Is your feature request related to a problem? Please describe.**
Since `Animated` from `react-native` works not so smooth on web, so do u have any plan for integration with `react-native-reanimated` to improve the animation performance?

**Additional context**
`react-native-reanimated@2.2.4` has problem with react-native-web, use `2.2.3` instead.

[2021-12-25 00:53] loveholly commented on #4455
I can help with PR if possible.

[2021-12-25 12:03] harryy2510 opened #4456 "Use 'Courier New' on iOS"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `native-base@3.2.1` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-12-25 12:30] redbar0n commented on #3801
I’ve dived into this a bit, and wrote this up that may help with some insights:

https://github.com/nandorojo/dripsy/discussions/109#discussioncomment-848718

Overview summary of current strategies for users:

https://dev.to/redbar0n/how-to-combine-react-native-web-responsivity-nextjs-ssr-to-get-seo-a4g

[2021-12-25 17:19] navidkhalilian commented on #518
+1

[2021-12-25 18:13] MoSattler opened #4457 "Toast is bigger than screen"
**Describe the bug**
The toast is bigger than the screen

**To Reproduce**
Not sure, I am really just using a toast on the iOS simulator with the native base + expo

**Expected behaviour**
For the toast not to overflow the screen

**Screenshots**

![Simulator Screen Shot - iPhone 8 - 2021-12-25 at 19 08 29](https://user-images.githubusercontent.com/64152453/147391070-ef68a8e2-29a1-49b1-8b24-00a3ec

[2021-12-27 05:58] exneval commented on #4295
I want to thank @Ajamuar for updating the next.js template (support v12)

I just want to ask why people that want to start RN x Nativebase x Next.JS forced to used expo in the first place? because before the updates, we still able to use pure RN. Even Next.JS examples itself don't force such thing.

I think if someone want to use expo, there're already [a template exists for it](expo init my-app -

[2021-12-27 08:12] Viraj-10 commented on #4457
Hi @MoSattler,
Thanks for reporting the issue.
fixes are done and under review in this PR [https://github.com/GeekyAnts/NativeBase/pull/4454](url)
and will be released in next rc 😄

[2021-12-27 08:15] dexterowy commented on #985
After 4 years toast still appears under the modal. Also, `Root` component was removed. Could you fix that?

[2021-12-27 11:53] MoSattler commented on #4457
Great, thank you!

[2021-12-27 13:30] Viraj-10 commented on #4457
Yes 😅  👍

[2021-12-27 17:02] jarrisoncano opened #4465 "Add a prop for pass the value from a external state in the Select component"
Hi everyone, actually i'm working in a React-native app, i use react-hook-form for handler the forms but i have a problem, when i try to update the value of a Select, the value is updated successfully in the react-hook-form state but in the Select component doesnt have any way for update the internal state.

This is a example:
 I change the value of the input successfully:
![imagen](https://user-i

[2021-12-27 18:53] hrithik73 commented on #4429
Getting the exact same error :)
Any upadare regarding this will be very helpfull

[2021-12-27 20:26] OneHatRepo commented on #4429
Same issue

[2021-12-27 21:31] OneHatRepo commented on #4429
The immediate issue is in Select (native-base/src/components/primitives/Select), which is using the ChevronDownIcon (native-base/src/components/primitives/Icon/Icons/Chevron) by default. This icon is created with the createIcon() function (native-base/src/components/primitives/Icon/createIcon). If this function returns an SVGIcon _with a key,_ the error goes away. So a bandaid fix would be to chan

[2021-12-28 05:57] trajano commented on #4456
It may be more prudent to put it as part of the theme and remove it from the component itself.

You can do something like this.  Note there's a [bug in their typings](https://github.com/GeekyAnts/NativeBase/issues/4300) that may prevent you from doing this but it does work if you coerce the type to allow it.

[code]

[2021-12-28 10:41] NishchithRao opened #4466 "HookWebpackError while running with NextJS starter using npm"
## Describe the bug
Running a NextJS app with the nativebase starter using `npm` gives the following error: `Internal Server Error` on the Browser and `HookWebpackError: Cannot read property 'replace' of undefined` on the Terminal. The app runs fine using `yarn`.

## To Reproduce
Steps to reproduce the behaviour:

1. create a Project with nativebase and NextJS using the command: `  npx create-next

[2021-12-28 10:52] fristyr opened #4467 "Theme toggle is not working on web"
**Describe the bug**

I have a simple test component to test changing theme modes
When I toggle it on the web, for some reason this does not change the theme.
And + when I toggle it with Toggle component or buttons, all app animations are super slow,
for example opening drawer

And **setColorMode** it's not properly typed
[code]
[code]
**Expected behaviour**
No slow animation and toggling theme in

[2021-12-28 11:30] Fifaldi commented on #4399
We have similar issue, on Android the Native Base Input wrapped in HOC with Factory
`export default Factory(ContainerWithButton);`
results in the keyboard being automatically dismissed after typing a character.
Although this seems to be more happening on Android than on iOS
Simply removing the Factory wrapper from the HOC component resolves issue so agree it has to be some problem with Factory its

[2021-12-28 11:35] MoSattler opened #4469 "FlatList not properly typed"
`FlatList`'s `renderItem` does not infer the type from the `data` prop. On the other hand, the regular react-native's flatlets does.

[code]

Same goes for other props like `keyExtractor`.

[2021-12-28 12:23] vipulbhj commented on #4467
Seems like you are missing something. Here is an example you can check.

https://codesandbox.io/s/setcolormode-example-mlj2b?file=/src/components/Example.tsx

[2021-12-28 13:20] #4467 closed

[2021-12-28 15:09] zuhairnaqi commented on #3692
I think rounded buttons are removed in version 3.

[2021-12-28 16:45] zuhairnaqi opened #4471 "Button borderRadius="pill" Error while updating property 'borderRadius' of a view managed by RCTView"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-12-28 18:21] trajano commented on #4424
React native Button provides it using the accessibilityState
[code]

[2021-12-29 05:13] loveholly commented on #4466
@NishchithRao Same here, but I don't think this is affected by `NativeBase`. Maybe this issue should moved to https://github.com/expo/expo-cli/tree/master/packages/next-adapter?

[2021-12-29 08:26] garrett-gottlieb opened #4473 "Skeleton with child shows "Warning: Each child in a list should have a unique "key" prop.""
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2021-12-29 09:57] surajahmed commented on #4438
Hi @kylegwalsh, thanks for reporting this issue. We'll look into this.

[2021-12-29 14:40] yamatsum opened #4474 "Support input completion component"
**Is your feature request related to a problem? Please describe.**
I need a component for input completion.

e.g. https://mui.com/components/autocomplete/

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-12-29 23:05] johnf commented on #4156
@MD-REHMAN is there a reason for this?
For example I want a variant for Icon so that it has certain attributes (including size). Setting sizes doesn't seem like the right approach.
e.g. I have a variant called ```input``` which I use for Icons in input fields

[2021-12-30 03:04] Ahmed-Ibrahim-Anter commented on #4429
Not this problem only I have this issue also slowwwwwwwwwer in two-component [Model&& Select] components  for a test I use picker components  from react-native and suddenly with its performance please solve this problem and also slower in your components

[2021-12-30 03:17] OneHatRepo commented on #4429
For anyone coming here needing a quick fix: the _Select_ element allows you to submit your own drop down icon using the _dropdownIcon_ prop. Using this instead of the default, and specifying a key for it, should work.

[2021-12-30 09:17] thekingrenz23 commented on #2736
This should be re opened still not working

[2021-12-30 10:15] Viraj-10 commented on #4469
Hi @MoSattler,
Thanks for reporting the issue.
It is fixed now and PR is created. #4478
It will be included in upcoming release. 😄

[2021-12-30 11:11] mayank-96 commented on #4471
Hello @zuhairnaqi,
I am not able to reproduce this bug. Can you please provide the source code with some more insights.

[2021-12-30 11:18] amars29 commented on #4398
@Looooong Please check if your project contains "@types/react-native" as dev-dependency. Adding it will resolve the issue.

[2021-12-30 11:24] zuhairnaqi commented on #4471
It was crashing with normal Button tag, however I fixed this using custom theme.
`components: {
      Button: {
        defaultProps: {
          rounded: 'full'
        },
      },`

[2021-12-30 11:24] #4471 closed

[2021-12-30 11:45] Looooong commented on #4398
I have `@types/react-native` as dependency but I used the version that doesn't match with my current `react-native` version. Sorry for the trouble.

[2021-12-30 11:45] #4398 closed

[2021-12-30 23:33] garrett-gottlieb commented on #3951
This is also an issue on iOS with react-navigation's modal.

[2021-12-30 23:34] garrett-gottlieb commented on #985
This should be reopened

[2021-12-31 05:49] exneval commented on #4474
Refer to this [in development component](https://docs.nativebase.io/3.0.0/typeAhead)

[2021-12-31 12:44] SikoraKam commented on #4399
I also saw problems after using Factory in wrapper and then Input from Native Base

[2022-01-01 01:23] trymbill commented on #4397
It's got `isDisabled` as one of its prop in the documentation: https://docs.nativebase.io/icon-button#props ... so either that should be fixed or the same functionality from the `<Button />` component should be implemented. I vote for the latter.

[2022-01-02 16:49] code4muktesh opened #4480 "Need to programmatically close the popover after performing some action inside the popover."
please add the support for same and share well defined documentation for the same,

[2022-01-02 18:46] hoekma commented on #3433
@Ajamuar  I am also still having this problem in NativeBase v2 with the sample code.  I realize you all are focused on v3 right now, but I hope you will continue to support v2 for a while until we get a chance to rewrite our app.

[code]

[2022-01-02 22:49] creix opened #4481 "Rounded box prop not working for all buttons using buttons.map"
**Describe the bug**
I'm experiencing a bug using the rounded prop in box. Right now i'm using two array and the function .map() to display the buttons.
With the first array everything is working fine and the rounded borders are displayed correctly, but with the second array only the first one button in the array have rounded borders, while the others have standard square borders.
I'm using the sa

[2022-01-03 12:33] #4357 closed

[2022-01-03 17:49] fabarea opened #4486 "Firefox input rendering should be optimized on focus"
**Describe the bug**

The Input component rendered in Firefox is not the nicest. It is maybe a detailed, but perhaps it is not a big issue to optimize the border when "on-focus". This is a CSS optimization.

**To Reproduce**

Open the form documentation page on Chrome and Firefox and compare

https://docs.nativebase.io/form

**Screenshots**

On Firefox, we see "glitches" around the input component

[2022-01-03 21:48] dindustack opened #4487 "Select component doesn't render the _focus and _disabled style prop"
export const Select = {
  Select: {
    baseStyle: {
      boxSizing: "border-box",
      flexShrink: 0,
      width: "100%",
      maxWidth: "250px",
      maxHeight: "32px",
      borderRadius: "8px",
      borderWidth: "1px",
      fontSize: "12px",
      placeholderTextColor: "#FFFFFF",
      backgroundColor: "#EBEBEB",
      borderColor: "#696969",
      color: "#FFFFFF",
      cursor: "point

[2022-01-05 03:27] thisLexic commented on #2761
Any updates regarding a multi select component?

[2022-01-05 06:44] Viraj-10 commented on #4430
Hi @ENT108, Thanks for reporting a issue. It is in progress. 😄

[2022-01-05 06:50] Viraj-10 commented on #4397
Hi @1nefootstep , Thanks for reporting the issue.
I will look into it.

[2022-01-05 06:56] Viraj-10 commented on #4378
Hi @vytch, Thanks for reporting a issue. We have made changes and they are merged into master.
[https://github.com/GeekyAnts/NativeBase/blob/9d1618ed0844addfb4042d6a85a219ca93e27083/src/theme/components/input.ts#L34](url)

[2022-01-05 06:57] slewicki opened #4492 "Slider within a Modal does not update live on Android"
**Describe the bug**
When creating a `Slider` within a `Modal`, the `Slider.Thumb` does not update when dragging in Android. Works perfectly fine in iOS.

**To Reproduce**
1. Create a `Modal` with a `Slider` child
2. Tap and drag the `Slider.Thumb`
3. See `Slider.Thumb` not following drag motion

**Expected behaviour**
`Slider.Thumb` to behave as it does on iOS where it follows along with the drag

[2022-01-05 07:03] Viraj-10 commented on #4390
Hi @alechko , Thanks for reporting a issue. It is in progress 😄 .

[2022-01-05 07:09] ankit-tailor commented on #4405
Hi @haveamission , I am not able to reproduce the issue. Can you please provide snack / code sandbox link?

[2022-01-05 07:19] loveholly commented on #4466
Same here

[2022-01-05 08:53] Bamorem commented on #4273
same for me , but the weirdest thing is that it does it to me only on IOS. when i'm using Actionsheet

[2022-01-05 09:45] Viraj-10 commented on #4469
This issue is fixed in Version 3.3.0 of NativeBase

[2022-01-05 09:45] #4469 closed

[2022-01-05 10:07] ankit-tailor commented on #4323
Hi @CarlosHdez This issue has been resolved in version 3.3.0. Thanks for reporting.

[2022-01-05 10:37] ankit-tailor commented on #4333
Hi @AshwiniKumar007 , This feature has been added in version 3.3.0

[2022-01-05 10:47] Viraj-10 commented on #4266
This issue is fixed in NativeBase@v3.3.0.

[2022-01-05 10:47] #4266 closed

[2022-01-05 10:53] Viraj-10 commented on #4310
This issue is fixed in nativeBase version 3.3.0.

[2022-01-05 10:53] #4310 closed

[2022-01-05 10:59] ankit-tailor commented on #3973
Hi @tylern206 , This issue has been resolved in version 3.3.0. Thanks for reporting.

[2022-01-05 11:26] ankit-tailor commented on #4151
Hi @CarlosHdez , This issue has been resolved in version 3.3.0. Thanks for reporting.

[2022-01-05 11:54] Viraj-10 commented on #4351
This Issue has been resolved in nativeBase v3.3.0.

[2022-01-05 11:54] #4351 closed

[2022-01-05 12:19] Viraj-10 commented on #4408
This Issue has been resolved in NativeBase v3.3.0 version.

[2022-01-05 12:19] #4408 closed

[2022-01-05 12:36] Viraj-10 commented on #3874
This Issue is resolved in NativeBase version v3.3.0.

[2022-01-05 12:36] #3874 closed

[2022-01-05 12:36] Shizuri commented on #4408
@Viraj-10 Well that was fast. Well done! :)

[2022-01-05 12:45] ankit-tailor commented on #4265
Hi @pierroo , This issue has been resolved in version 3.3.0. Thanks for reporting.

[2022-01-05 13:26] edgaraskazlauskas commented on #4273
Same, form control inside action sheet.

[2022-01-06 03:34] Youngtao1999 opened #4494 "[Colors type] theme base's derived colors without type"
path: `src/theme/base/colors.tsx`

1. `const theme = useTheme()`, normal colors with type, look this:
![image](https://user-images.githubusercontent.com/69896089/148324370-de993dcd-fbe1-4c91-b5a8-a0842ac39295.png)
2. but derived colors without type notice, look thes:
![image](https://user-images.githubusercontent.com/69896089/148324600-7a133b7c-c650-45dd-b806-b8e51dc3f610.png)
3. and i  use derive

[2022-01-06 07:17] ankit-tailor commented on #4347
Hi @ocarreterom , This issue has been resolved in version 3.3.0. Thanks for reporting.

[2022-01-06 18:38] konstantinjdobler opened #4500 "Unrecognized font family: 'body'"
I have a React Native CLI project and when using Native Base `<Text>` components with a `fontFamily="body"`, I am getting a `Unrecognized font family: 'body'` error. I have not modified the fonts in my theme.

![Simulator Screen Shot - iPhone 13 - 2022-01-06 at 19 39 39](https://user-images.githubusercontent.com/28780372/148434042-3383af17-284e-474b-bf07-140558da65a3.png)

NativeBase version: 3.3.

[2022-01-07 07:14] ankit-tailor commented on #4500
Hi @konstantinjdobler, Can you please provide snack / codesandbox link?

[2022-01-07 07:53] MD-REHMAN commented on #3920
In the recent code, we have replaced `Center` with `Box`.

[2022-01-07 07:53] #3920 closed

[2022-01-07 08:39] y471n opened #4503 "Upgrade dependency to React 17."
When can we expect an increase in upgrading dependencies to React 17, this is a breaking requirement to upgrade Expo.

[2022-01-07 10:50] Abhineetk47 commented on #4418
if you are using expo or bare flow, you can install expo-linear-gradient and configure it in the NativeBaseProvider as shown below.

import React from "react"
import { Box, Center, NativeBaseProvider } from "native-base"

export const Example = () => {
  return (
    <Box
      bg={{
        linearGradient: {
          colors: ["lightBlue.300", "violet.800"],
          start: [0, 0],
          end

[2022-01-07 10:50] #4418 closed

[2022-01-07 20:00] RenanNeitzel opened #4506 "Working with both versions (Version 2 - Version 3)"
Hello everybody.

I have an app that is still using NativeBase version 2, and we are working on moving the app to version 3. But this will happen gradually.
At the moment I have an alias to be able to use both versions, that way we don't break our application with the components that are still in version 2.

But now we encounter a critical issue about this form of migration. In version 2 we also h

[2022-01-08 20:10] NilsBaumgartner1994 opened #4509 "Button changes theme on keystroke"
**Describe the bug**
When using a button in a web applicaiton and after clicking the button and then pressing a key, the button changes all styles...

**Expected behaviour**
Keeping the button style same

**Screenshots**
<img width="364" alt="Bildschirmfoto 2022-01-08 um 21 10 20" src="https://user-images.githubusercontent.com/33295329/148658405-e9254ab9-c0ff-4086-af49-b7216d83a225.png">
<img widt

[2022-01-08 20:15] #4509 closed

[2022-01-09 06:24] grumpyshiba commented on #3801
[react-native-media-query](https://github.com/kasinskas/react-native-media-query ) is awesome. It might be built-in feature for nativebase.

So the solution is quite simple: we always render an element even regardless of it's a desktop or mobile layout but control styling using media queries on web and media queries evaluation (aka `useMediaQuery`) in mobile app.

It can be redone by nativebase ap

[2022-01-09 15:21] redbar0n commented on #3801
also check out how https://tamagui.dev/ solves it. It's the only cross-platform UI kit that currently has it solved, to my knowledge.

[2022-01-09 15:26] redbar0n commented on #3801
Yes, that's also the rationale I've laid out here: https://github.com/yocontra/react-responsive/issues/162#issuecomment-996224622

The alternative would be to use something like [Fresnel](https://github.com/artsy/fresnel), to render the markup conditionally, but that seems way too complex for what it's worth (shaving off a few kb of HTML, instead of going [mobile first](https://dev.to/redbar0n/how

[2022-01-09 16:00] abdugaffor-abdurahimov commented on #4319
this calback directly returns value

[2022-01-09 17:45] konstantinjdobler commented on #4500
I can't get native-base running in codesandbox because of this error:
[code]

But I tracked down the source of the error to this problem: It occurs when nesting `<Text>` components.
This produces the error:
[code]

This is fine:
[code]

Now there doesn't seem to be a *need* to specify the same `fontFamily` in the nested scenario, but the error message really doesn't make it clear what the actual c

[2022-01-10 07:38] #4423 closed

[2022-01-10 07:41] surajahmed commented on #4363
@NilsBaumgartner1994 Closing this issue due to inactivity. Please try our latest version 3.3.0 and check if the issue persists.

[2022-01-10 07:41] #4363 closed

[2022-01-10 11:21] amitdninawe commented on #985
I got a Hack, adding blank <Toast />  inside the modal code works. I have tested this in android only. Please give it a shot and let me know.

![image](https://user-images.githubusercontent.com/84501226/148758091-1da8fd84-3759-4bf0-9a7a-84b456444f52.png)

[2022-01-10 12:02] grumpyshiba commented on #3801
@redbar0n Nah I guess real mobile-first isn't quite possible (in real-world projects, not in some MVP).
Since you can't detect viewport size on the server-side, nothing else but media queries on the web will work properly.
In that case, we render **both** desktop and mobile experiences on the web.
It leads to some duplication though (like in every single responsive layout on the web) but it wouldn

[2022-01-10 13:24] surajahmed commented on #4429
This issue has been fixed in the latest version (v3.3.1)

[2022-01-10 13:36] surajahmed commented on #4494
@Youngtao1999 Thanks for reporting! We've tried merging your PR, but this caused some other type of issue with the build. We're looking into this.

[2022-01-10 13:40] surajahmed commented on #4457
This issue has been resolved in version `3.3.0`.

[2022-01-10 13:40] #4457 closed

[2022-01-10 13:43] surajahmed commented on #4473
@garrett-gottlieb Thanks for reporting! This issue has been resolved in version `3.3.0` or later.

[2022-01-10 13:43] #4473 closed

[2022-01-10 13:44] surajahmed commented on #4419
@AshwiniKumar007 Thanks for reporting! This issue has been resolved in version `3.3.0` or later

[2022-01-10 13:44] #4419 closed

[2022-01-10 15:15] sanketsahu commented on #3801
Responsive SSR is our priority for this week. We hope to fix it soon!

[2022-01-11 01:55] thispastwinter opened #4513 "Expose duration on Modal/ActionSheet - Allow for custom values"
It would be nice if the Modal and ActionSheet respectively had a openDuration/closeDuration prop. Maybe the current hardcoded values could be the defaults, and you could pass in custom values for slower or faster animations? In my case, I'd love to be able to slow them down a bit.

[2022-01-11 05:27] surajahmed commented on #4417
@loveholly Thanks for reporting! We're looking into this.

[2022-01-11 09:20] surajahmed commented on #4166
@jaferi512 Support for `onOpen` and `onClose` props have been added to `Select` component in version `3.3.0`.

[2022-01-11 09:20] #4166 closed

[2022-01-11 09:21] #4151 closed

[2022-01-11 09:23] surajahmed commented on #4168
@trajano This issue has been resolved in version `3.3.0` or later. Thanks for reporting!

[2022-01-11 09:23] #4168 closed

[2022-01-11 09:29] surajahmed commented on #4250
Closing the issue due to inactivity. @grean Please try version `3.3.0` or later and feel free to reopen if the problem persists.

[2022-01-11 09:29] #4250 closed

[2022-01-11 09:31] #4265 closed, assigned to rayan1810

[2022-01-11 09:35] #4323 closed

[2022-01-11 09:37] surajahmed commented on #4412
@amars29 Thanks for reporting! This issue has been fixed in version `3.30`.

[2022-01-11 09:37] #4412 closed

[2022-01-11 09:40] surajahmed commented on #4428
This issue has been fixed in version `3.3.0`.

[2022-01-11 09:40] #4428 closed

[2022-01-11 10:00] surajahmed commented on #3862
This issue has been fixed in version `3.2.0` or later.

[2022-01-11 10:00] #3862 closed

[2022-01-11 10:01] #3973 closed

[2022-01-11 10:02] #4333 closed

[2022-01-11 10:09] #4035 closed

[2022-01-11 11:46] MD-REHMAN commented on #4506
From what I can see you have checked all the right boxes, this should work. Can you describe the exact problem you're facing if the below code doesn't be of any help?

[code]

In this case, v3 components will pick the `defaultThemev3` that have been passed and won't interfere with v2 components. I have tried something similar in an expo app without a custom v2 theme.

[2022-01-11 12:12] SanchitB23 opened #4515 "Skeleton Missing from Native Base v3.2.2 Docs"

[2022-01-11 16:25] rs6g10 commented on #985
Neither `<Toast />` nor `Root` exist as components in version `3.2.2`. There aren't any better workarounds for this. Can we get this issue reopened please?

[2022-01-11 18:11] joix97b commented on #3307
In my case I am using "react-native-picker-select": "^8.0.4" and it was not working until I added "@react-native-picker/picker": "^2.2.1" also by 'yarn add ..."

[2022-01-11 18:24] rs6g10 commented on #985
Since `Root` no longer exists, a quick workaround is wrapping the entire `Modal` content in `NativeBaseProvider`.

I'm using the following workaround for version `3.2.2` to see toasts in my `react-native-modal`:
[code]

[2022-01-11 19:00] #4506 closed

[2022-01-11 19:00] RenanNeitzel commented on #4506
Hey @MD-REHMAN,

I haven't tried this format involving the app by both themes. There was a problem naming my folders too. With these tweaks, now everything worked.

Thanks!

[2022-01-12 04:46] andrewyohanes123 opened #4516 "Error node_modules/native-base/src/hooks/useThemeProps/propsFlattener.tsx: Unexpected token, expected "]" (101:16)"
My react native version : `0.62.1`
native base version : `3.2.2`

i had remove and re install the node_modules but always got the same error
`
node_modules/native-base/src/hooks/useThemeProps/propsFlattener.tsx: Unexpected token, expected "]" (101:16)
   99 | type ExtractState<T extends IPseudoPropsMap> = {
  100 |   // @ts-ignore

  102 | };
  103 | export type IStateProps = ExtractState<IPseudoP

[2022-01-12 08:00] ocarreterom opened #4517 "Input `underlined` variant wrong style"
**Describe the bug**
The `Input` `underlined` version has wrong style in v3.3.1

**To Reproduce**
[code]

**CodeSandBox/Snack link**
https://snack.expo.dev/b-4mryXeS

**Screenshots**
<table>
  <tr>
    <th>v3.2.1
    <th>v3.3.1
  <tr>
    <td><img width="198" alt="Captura de pantalla 2022-01-12 a las 8 56 48" src="https://user-images.githubusercontent.com/11599942/149086815-d07ee194-2587-4658-9d10

[2022-01-12 12:28] nabinem commented on #4273
For me its happening only on IOS when Menu used inside Modal.Header

[2022-01-12 13:14] MD-REHMAN commented on #4399
@acollazomayer I tried to reproduce the issue but was not able to.
It'll be really helpful if you'll share a snack, as the issues are quite visible in the video.

[2022-01-12 13:48] salvini29 opened #4518 "Image component doesn't update with hooks"
The Image component behaves differently from React Native's Image component. If I update a hook that changes the source of an Image of NativeBase the component doesn't update but in React Native the component updates and the Image changes.

**Code for React Native Image component(the Image changes):**

[code]

**Code for NativeBase Image component(the Image doesn't changes):**

[code]

I'm using:

[2022-01-12 14:54] mayank-96 commented on #4417
@loveholly looks like it's been fixed in the current version, please check it once again and close the issue if it's working.

[2022-01-12 15:09] fristyr commented on #4455
+1 for reanimated 2

[2022-01-12 19:28] harryhorton opened #4519 "IBoxProps does not use custom theme color types"
**Describe the bug**
Types of Box Props bgColor does not match overridden typescript types. When extending the theme and adding colors, it shows the base colors, rather than the colors from the theme.

**To Reproduce**

1. Extend the theme and add a color
2. use the declare module method to extend the typescript types of the theme
3. create a box, or any component that extends boxprops like divide

[2022-01-12 23:43] n0mer commented on #4009
@adhip94 did you switch to react-native-elements or react-native-paper?

[2022-01-13 01:39] adhip94 commented on #4009
Nope, I actually removed native-base completely from my project and I am using default react native components.

[2022-01-13 07:08] MD-REHMAN commented on #4519
You need to declare them to the NativeBase Module. To do so just add the below code where you have the custom theme.
[code]

[2022-01-13 07:23] sanketsahu commented on #4455
You might want to check this video by Takuya: https://www.youtube.com/watch?v=k2h7usLLBhY

Here is an example of how to use it with Reanimated: https://github.com/craftzdog/react-native-animated-todo/blob/master/src/components/animated-color-box.tsx

[2022-01-13 07:41] mayank-96 commented on #4518
Hi @salvini29, thanks for reporting this issue. We'll look into this.

[2022-01-13 08:34] fristyr commented on #4455
I actually started to use Native Base on prod because of this video 😅
But I was talking about integrate it inside of Native Base components. In case you also find this useful

[2022-01-13 08:44] MD-REHMAN commented on #985
I'm reopening this issue, and we'll keep it on high priority.

[2022-01-13 09:47] mononoke-choi opened #4520 "couldn't pass style prop v3.3.1"
after upgrading 3.2.1 to 3.3.1 native-base don't pass style prop to specific child node
I used style prop to pass style pair which is only for web or to reduce strict mode warning

for instance, in v3.2.1 most of LAYOUT components are applied style property, but in v3.3.1 column and row didn't

Is it intended behavior.. ?!

please give me your advice. thanks!

**Screenshots**
<img width="1679" alt

[2022-01-13 12:14] sanketsahu commented on #4455
Oh, that's great to hear! We want to keep the core light and flexible for adoption. But, your point is noted. Let us revisit this decision.

[2022-01-13 13:07] mayank-96 commented on #4481
Hello @creix you can try this, it will solve the issue
`
    <Pressable
              onPress={() => {
                setSelectedIndexDay(index);
              }}
              key={button.day}
              padding="2"
              rounded="lg"
              bg={selectedIndexDay === index ? button.value : null}
              _text={
                selectedIndexDay === index
                  ?

[2022-01-13 13:28] mayank-96 commented on #4481
Hello @creix,  I guess it is happening due to the return method inside `Pressable`. You can try passing the props of `Box` component inside `Pressable` directly, as shown below. It will work fine.

[code]

[2022-01-13 14:02] creix commented on #4481
Hi, thank you for your reply.
I tried it now and while now the border are rounded in the first row of buttons linear gradient is not working anymore and when i press on the buttons conditional style of texts is not working either (The text just remains black).

Do you know how can i made them work again?

[2022-01-13 14:20] mayank-96 commented on #4481
@creix I'll look into this and get back to you asap.

[2022-01-13 18:03] AngelLoredoAlvarez commented on #4305
Does anyone found the solution for this?

[2022-01-13 19:12] garrett-gottlieb opened #4524 "Image doesn't implement RN static functions (ie. Image.prefetch())"
** Before reporting this bug, please...**

1. Check the latest documentation: https://docs.nativebase.io/
2. Check for existing open/closed issues for a possible duplicate before creating a new issue: https://github.com/GeekyAnts/NativeBase/issues
3. Use the latest NativeBase release: https://github.com/GeekyAnts/NativeBase/releases
4. Check examples from NativeBase KitchenSink https://github.com/

[2022-01-13 19:23] raivieiraadriano92 commented on #4305
Hi @AngelLoredoAlvarez  , I think I found the solution but forgot to post it here.
Try removing `reactStrictMode: true` from next.config.js.
Let me know if this worked for you :)

[2022-01-13 20:33] AngelLoredoAlvarez commented on #4305
Hi @raivieiraadriano92, thanks for your response, unfortunately, it didn't work for me, I am still diggin in my code to see if I can find the problem

[2022-01-13 21:02] ezze opened #4525 "Can't set button opacity on pressed state in Android"
**Describe the bug**

Button opacity on pressed state is broken after upgrading from Native Base 3.2.2 to 3.3.1

[code]

Now I get:

[code]

**Expected behaviour**

Button opacity is changed on press.

**Actual behaviour**

App is crashed with exception.

**Screenshots**

![image](https://user-images.githubusercontent.com/665479/149407483-be62ed57-d664-4b40-998d-42022396566c.png)

**Platform**

-

[2022-01-14 06:37] MD-REHMAN commented on #4520
Can also share the code as well.

[2022-01-14 06:42] abdugaffor-abdurahimov opened #4526 "How can I open Menu component programmatically"
I want to create a Combo box [like this](https://elastic.github.io/eui/#/forms/combo-box) component via the Menu component.
I want to open menu items when the input field focuses and close the menu

[2022-01-14 07:20] richard-li-next opened #4527 "expo demo is outdated"
At present, the minimum SDK version supported by expo go is 41, but the demo uses 40.

![image](https://user-images.githubusercontent.com/65935211/149467388-6629256c-b7c9-480a-b53d-01e3d226398c.png)

[2022-01-14 13:08] surajahmed commented on #4494
This issue has been fixed in version `3.3.2` or later.

[2022-01-14 13:08] #4494 closed

[2022-01-14 13:08] Viraj-10 commented on #4517
Hi @ocarreterom ,
This Issue has been fixed in NativeBase V3.3.2.

[2022-01-14 13:08] #4517 closed

[2022-01-14 13:14] surajahmed commented on #4519
@harryhorton This issue has been resolved in version `3.3.2`.

[2022-01-14 14:56] mayank-96 commented on #4518
Hello @salvini29, this issue has been fixed in v3.3.2.

[2022-01-14 14:56] #4518 closed

[2022-01-14 22:38] harryhorton commented on #4519
Works like a charm, thanks!!!

[2022-01-15 13:22] rlingineni commented on #4445
+1 on this. Hitting the same problem on Web. I cannot change the borderColor when focusing on a button

[2022-01-15 13:25] rlingineni commented on #4445
@surajahmed  - I saw that you closed #4428 , however, the expected behavior still seems broken. I'm unable to apply `borderColor` with the global theme or local focus settings.

https://codesandbox.io/s/trusting-faraday-df7xd?file=/src/components/Example.tsx

[2022-01-15 15:48] thispastwinter commented on #4513
See this [PR](https://github.com/GeekyAnts/NativeBase/pull/4536) as an example.

[2022-01-15 16:28] OneHatRepo opened #4537 "Can't add testID to Select"
### Description

I should be able to add test props to component

### CodeSandBox/Snack link

none

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.3.1

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

I'm adding testID to iOS, and accessibil

[2022-01-15 16:38] OneHatRepo commented on #4537
Strangely enough, I can add these IDs to the Select.Item, but not the Select itself.

[2022-01-15 16:52] OneHatRepo opened #4538 "Can't add testID to Checkbox"
### Description

I should be able to add testID to component

### CodeSandBox/Snack link

none

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.3.1

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

I'm adding testID to iOS, and accessibilityL

[2022-01-16 13:21] vipulbhj commented on #4445
@rlingineni

<img width="1078" alt="Screenshot 2022-01-16 at 6 49 41 PM" src="https://user-images.githubusercontent.com/33618798/149661624-dfe17bd3-eef7-4dde-a3bc-c6d6e8763b7f.png">

Maybe It's because you haven't specified any `borderWidth`, I am also using `native-base@3.2.2` in my example, so you should also try version bumping 😄

Do try and let us know, if it still doesn't work for you

[2022-01-17 06:24] surajahmed commented on #4339
@ganesh-papola Tab component is experimental in NativeBase now. We're working on it and trying to add full support for Tab component by the next release.

[2022-01-17 06:26] #4347 closed

[2022-01-17 06:33] surajahmed commented on #4370
@arryanggaputra Thanks for reporting! We've fixed this issue in version `3.3.2`.

[2022-01-17 06:33] #4370 closed

[2022-01-17 06:52] surajahmed commented on #4439
@silgal Thanks for reporting! We'll add it in the next release.

[2022-01-17 06:55] surajahmed commented on #4474
@yamatsum @exneval TypeAhead component is still a work in progress. We're working on it to provide full support for this.

[2022-01-17 06:56] surajahmed commented on #4480
@code4muktesh Thanks for reporting! We'll look into this.

[2022-01-17 07:00] #4378 closed

[2022-01-17 07:16] ankit-tailor commented on #4368
Hi @AndrewIngram, Thanks for pointing out the issue, we'll fix it soon.

[2022-01-17 07:18] Jayachandran369 opened #4540 "Getting Uncaught Error: Cannot create styled-component for component: undefined after updating to latest native-base package."
### Description

Getting Uncaught Error: Cannot create styled-component for component: undefined after updating to latest native-base package, updated package from 2.13.4 to 3.3.2

### CodeSandBox/Snack link

nil

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.3.2

### Platform

- [x] Android
- [ ] CRA
- [ ] Expo
- [x] iOS
-

[2022-01-17 07:26] ankit-tailor commented on #4425
Hi @rayan1810 , Thanks for reporting, We'll fix it soon.

[2022-01-17 07:26] Viraj-10 commented on #4424
Hi @trajano,
for Button we have prop 'isDisabled'. you can find documentation for that here [https://docs.nativebase.io/button#button](url)

[2022-01-17 08:29] truongtv22 commented on #4520
I have the same issue
Previously with the `Stack` I could add prop `style`, but after upgrading to v3.3.1, I couldn't use anymore
The problem as I know, prop `style` has been overwritten
https://github.com/GeekyAnts/NativeBase/blob/d0d1045ad0f40858c5c27a8485e33dc8d7918da9/src/components/primitives/Stack/Stack.tsx#L67

[2022-01-17 09:04] ankit-tailor commented on #4492
HI @slewicki , thanks for reporting issue, we will fix it soon.

[2022-01-17 09:26] Jaybee4real commented on #3970
I am still facing this issue, has it been fixed?

[2022-01-17 09:30] MD-REHMAN commented on #4375
Hi @haibert, one of the main reasons why typing is not showing up for the customized theme is because you have not declared the updated theme. To do that you can simply go through [this](https://docs.nativebase.io/typescript) page.

[2022-01-17 09:38] surajahmed commented on #3813
@cmaycumber We're considering adding `sx` prop in NativeBase. This will help the user to pass any valid CSS to the element.

However, we can pass any valid react style attribute in `_android`, `_ios` or `_web` props.
[code]
Hope to add `sx` prop soon, thank you!

[2022-01-17 09:41] surajahmed commented on #3860
@tell-y @ZijianZhang991203 @milkyway044 Thanks for reporting this issue. We're working on it.

[2022-01-17 09:49] MD-REHMAN commented on #4444
Thanks, @ezze for pointing it out. We have known about it and we're working on a fix.
For now instead of using `backgroundColor`, please use `bg`. And I'm very sure I'll fix the issue.

And I would recommend you to go through [this](https://md-rehman.hashnode.dev/customising-components-in-nativebase) blog for better understanding of how theme customisation works in NativeBases

[2022-01-17 09:58] mayank-96 commented on #4431
@aqos156 Thanks for reporting, we'll look into this.

[2022-01-17 10:01] Viraj-10 commented on #4503
Hi @y471n , Thanks for reporting the issue. We are working on react and react native upgradation.

[2022-01-17 10:03] ankit-tailor commented on #4322
Hi @loveheenavasu , Can you please provide snack /  codesandbox link?

[2022-01-17 10:40] Viraj-10 commented on #4324
Hi @loveholly, Please check following codesandbox [link](https://codesandbox.io/s/determined-jasper-n9i61?file=/src/App.tsx).

[2022-01-17 10:44] mayank-96 commented on #4487
@dindustack Thanks for reporting, we'll look into this.

[2022-01-17 10:49] MD-REHMAN commented on #4302
@vasafix have you tried our latest release because we have done a lot to fix these kinds of performance issues.

So @vasafix and @ezze, I would highly recommend both of you share your feedback on the performance of our latest version (i.e., 3.3.2).

[2022-01-17 11:03] ezze commented on #4302
@MD-REHMAN My issue is resolved after upgrading to 3.2.2. Unfortunately, I can't upgrade to 3.3.x at the moment because it introduces new bugs like [this](https://github.com/GeekyAnts/NativeBase/issues/4525).

[2022-01-17 11:43] ankit-tailor commented on #4500
Hi @konstantinjdobler , sure, we'll look into this.

[2022-01-17 12:16] Viraj-10 commented on #4538
Hi @OneHatRepo, Thanks for reporting the issue. We will look into it. if possible please share small code in snack or codesandbox.

[2022-01-17 12:18] Viraj-10 commented on #4527
Hi @richard-li-next ,Thanks for reporting this issue. We are working on expo SDK upgradation.

[2022-01-17 12:25] surajahmed commented on #3908
We've added it to our list. However, we're not including it in a coming release. Hope to add this feature soon.

[2022-01-17 12:27] mayank-96 commented on #4404
@pierroo Thanks for reporting this issue, we'll look into this.

[2022-01-17 12:28] surajahmed commented on #3925
@Psycarlo We'll update our documentation with this template. Thank you!

[2022-01-17 12:29] surajahmed commented on #3934
@ugar0ff  @kytosai This issue has been resolved in version `3.3.0` or later. Thanks for reporting.

[2022-01-17 12:29] #3934 closed

[2022-01-17 12:31] surajahmed commented on #3937
@ismarosmanovic Tabs component is currently on hold. We're going to add full support for that soon. Thanks for reporting!

[2022-01-17 12:33] surajahmed commented on #3951
We're working on it. Thanks for reporting!

[2022-01-17 12:41] surajahmed commented on #4299
@arunim2405 We've made a few theme value changes from version `3.1.*` to `3.2.*` or later due to design inconsistency.
You might need to make few changes even after using `v3CompatibleTheme`. If you are still facing a lot of problems, please let us know.

[2022-01-17 12:44] Viraj-10 commented on #4525
Hi ezze, Thanks for reporting the bug. I tried replicating the issue but it's working for me in version v3.3.2. Can you please check once at your side with latest version.

[2022-01-17 12:45] MD-REHMAN commented on #4208
Closing the issue, as it has been fixed.

[2022-01-17 12:45] #4208 closed

[2022-01-17 12:47] mayank-96 commented on #4421
@likeSo Thanks for reporting the issue, we'll look into this.

[2022-01-17 12:48] ankit-tailor commented on #4293
Hi @fervailanti , We'll look into this. Thanks for reporting.

[2022-01-17 12:50] MD-REHMAN commented on #4198
This issue has a dependency on [this](https://github.com/necolas/react-native-web/pull/2164) PR on React-Native-Web. We're waiting for the PR to get merged.

[2022-01-17 12:52] surajahmed commented on #3970
Progress `colorScheme` prop accepts one of the color keys in the theme (e.g."green", "red").
You can customize it with `bg` and `_filledTrack` prop.
[code]

[2022-01-17 12:54] MD-REHMAN commented on #4176
We have done some enhancements to fix `Select`'s performance. Do let us know if you're still facing issues.

[2022-01-17 12:58] surajahmed commented on #3974
@bjornbreck Thanks for reporting! We've added it to our list. We'll try to push this fix by the next release.

[2022-01-17 12:59] MD-REHMAN commented on #4167
In the meantime, if you're still wondering how the customization works, check out [the blog](https://md-rehman.hashnode.dev/customising-components-in-nativebase) I have written.

[2022-01-17 12:59] #4167 closed

[2022-01-17 13:01] surajahmed commented on #3980
@cmaycumber Thanks for reporting! We've added this feature request to our list.

[2022-01-17 13:01] Viraj-10 commented on #4524
Hi @garrett-gottlieb, Thanks for reporting a bug can you please provide small snack or codeSandbox example.

[2022-01-17 13:07] surajahmed commented on #3974
@bjornbreck My bad! We've already fixed this in version `3.2.2` or later.

[2022-01-17 13:07] #3974 closed

[2022-01-17 13:08] surajahmed commented on #3984
This issue has been fixed in version `3.2.2` or later.

[2022-01-17 13:08] #3984 closed

[2022-01-17 13:11] Viraj-10 commented on #4515
Hi @SanchitB23,  Thanks for Reporting the issue. we have added skeleton in our docs. they are in beta right now you can check them [here](https://beta-docs.nativebase.io/next/skeleton).

[2022-01-17 13:11] surajahmed commented on #4003
@kylegwalsh SimpleGrid component is currently on hold. We're going to add full support for that soon.

[2022-01-17 13:13] surajahmed commented on #4011
This issue has been fixed in version `3.2.2` or later.

[2022-01-17 13:13] #4011 closed

[2022-01-17 13:14] Viraj-10 commented on #4513
Hi @thispastwinter, Thanks for reporting this issue. We will look into it soon 😄 .

[2022-01-17 13:15] Viraj-10 commented on #4486
Hi @fabarea, Thanks for reporting the issue. we will look into it .

[2022-01-17 13:18] cyrus25 commented on #4319
@NilsBaumgartner1994  You can check the working example [here](https://beta-docs.nativebase.io/next/input#controlled-input). This will be updated in the docs soon.

[2022-01-17 13:18] #4319 closed

[2022-01-17 13:25] MD-REHMAN commented on #4021
That's really nice @trajano, we'll definitely have a look at it. Any try to export both `useStyledSystemPropsResolver` and `useResolvedFontFamily`

[2022-01-17 13:33] surajahmed commented on #4196
@leoafarias Thanks for reporting! Vitejs doesn't support react-native projects. However, we can build web app with `react-native-web` and Vite. We have to look into this. Hope to find this fix soon.

[2022-01-17 13:52] Viraj-10 commented on #4466
Hi @NishchithRao, Thanks for reporting the issue we will look into it 😄 .

[2022-01-17 13:57] surajahmed commented on #3938
@gyandeeps We're looking into this. Thank you!

[2022-01-17 14:18] Viraj-10 commented on #4158
Hi @georgii-ivanov , Thanks for suggestion. We will look into it.

[2022-01-17 14:19] surajahmed commented on #4210
@etiennelacoursiere Thanks for reporting this issue! We've kept it on high priority.

[2022-01-17 14:22] Viraj-10 commented on #4157
Hi @trajano, Can you please provide usecase for this request ?

[2022-01-17 14:25] Viraj-10 commented on #4155
Hi @georgii-ivanov, Thanks for the suggestion. We will look into it.

[2022-01-17 14:30] #4137 closed

[2022-01-17 14:38] surajahmed commented on #4456
@harryy2510 Thanks for reporting! `Code` component is a work in progress. We'll add full support for this component by the next release.

[2022-01-17 14:44] surajahmed commented on #4355
@BaLaLaLs Thanks for reporting this. We'll add this feature in the coming release.

[2022-01-17 14:45] Viraj-10 commented on #3952
Hi @exneval, Thanks for reporting this issue. We will look into it.

[2022-01-17 14:47] surajahmed commented on #4312
@loveholly Thanks for reporting this issue. We're working on SSR fixes, it is a work in progress https://github.com/GeekyAnts/NativeBase/pull/4479

Hope it will get fixed after this merge.

[2022-01-17 14:50] surajahmed commented on #4359
@NilsBaumgartner1994 This might cause some performance issues. We're keeping it open till we have a better solution for this.

[2022-01-17 14:56] surajahmed commented on #4305
@raivieiraadriano92 Thanks for reporting this issue. We're working on Nextjs SSR fixes, it is a work in progress #4479

Hope it will get fixed after this merge.

[2022-01-17 15:04] arunim2405 commented on #4299
Can we mention this in the docs as well? Instead of fixing the designs I spent hours on figuring out why v3compatibletheme was not working for me.

[2022-01-17 15:06] MD-REHMAN commented on #4150
I'm but this feature can't be added soon, as it requires a third-party dependency which we're not looking forward to adding.
But you can create a custom component that uses BlurView and relies on _blur prop to render it or not. The code will look something like

[code]

And if you want you can use the factory functioned version of BlurView instead.

[2022-01-17 15:06] #4150 closed

[2022-01-17 16:07] fervailanti commented on #3970
@surajahmed thanks! @Jaybee4real this is what you are looking for.

Maybe would be a good idea having specific props, as I think it's pretty common to change the colors with custom provided ones. Something like `filledColor`.

[2022-01-17 16:10] fervailanti commented on #3970
@surajahmed or maybe just passing any color to `colorScheme` (defaults or custom provided ones). It could infer the background color, as the given color with 30% opacity or something like that.

[2022-01-17 16:14] Jaybee4real commented on #3970
Okay, thank you very much @surajahmed and @fervailanti your answers helped alot.

and also i guess it would be a good idea to have it as a custom prop too i like the "fillColor" suggestion

sometimes some designs have very specific color combinations so maybe inferring it might not be very effective in every situation. Looking forward to the props you guys add!

[2022-01-17 16:20] kermit-sad-frog opened #4542 "Pressable is not clickable"
### Description

When clicking on the button inside Pressable, pressable event doesn't fire event handler, even button does not have an event on press

### CodeSandBox/Snack link

https://snack.expo.dev/@glabz/nativebase-template

### Steps to reproduce

[code]

### NativeBase Version

3.3.1

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

[2022-01-17 16:21] trajano commented on #4157
It's been a while, but if I recall correctly it's because the type restriction for `useBreakpointResolvedProps` requries either an array or an object, but resolveValueWithBreakpoint which it uses allowed for a simple object and use that as the fallback.  This way the API is consistent.

[2022-01-17 16:22] trajano commented on #4424
the prop `isDisabled` is not available in Jest because it's not propagated down to the underlying component.

[2022-01-17 17:32] grean opened #4543 "Select.Item Key prop missing"
### Description

I have the error key prop missing on the select component

### CodeSandBox/Snack link

https://snack.expo.dev/@grean/nativebaseselectkeypropissue

### Steps to reproduce

Don't know if you can see the react native errors log with the snak.
I was not successful with seeing them..

### NativeBase Version

3.3.2

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] Next

[2022-01-17 19:56] OneHatRepo commented on #4538
Added codesandbox link

[2022-01-17 21:48] Waheed-Rumaneh commented on #3982
this should work perfectly :

**cd node_modules/native-base/**
**npm i @codler/react-native-keyboard-aware-scroll-view@2.0.0**

[2022-01-17 21:49] Waheed-Rumaneh commented on #3982
try this :

**cd node_modules/native-base/
npm i @codler/react-native-keyboard-aware-scroll-view@2.0.0**

[2022-01-18 02:08] one-god commented on #1012
I have the same  issue
I'm on the latest versions of React Native and NativeBase.

[2022-01-18 05:30] surajahmed commented on #3970
@Jaybee4real @fervailanti We've added it to our list. Hope to add this feature in the coming release. Thank you!

[2022-01-18 06:29] Viraj-10 commented on #4397
Hi @1nefootstep, This issue is resolved in our latest version of NativeBase 3.3.2.

[2022-01-18 06:33] #4397 closed

[2022-01-18 06:41] ankit-tailor commented on #4543
Hi @grean , since you are using an array to populate `Select.Item` , you should add a key prop otherwise it'll give you a warning. Hope this answers your question. Let me know if you have doubt.

[2022-01-18 07:17] grean commented on #4543
But this is not i'm already doing?

[code]

[2022-01-18 07:29] Viraj-10 commented on #4242
Hi @DanailH, solution for the issue is provided and it's working. Closing this bug due to inactivity. You can reopen the issue if required.

[2022-01-18 07:29] #4242 closed

[2022-01-18 07:30] ankit-tailor commented on #4268
Hi @zoolyka , Solution for the issue is provided, closing the issue still if you have doubt you can reopen the issue.

[2022-01-18 07:30] #4268 closed

[2022-01-18 07:43] ankit-tailor commented on #4543
Hi @grean, The above solution is correct. Since you are populating the list of items which are the same components for react to identify them uniquely it requires a key prop.
You can read more about it [here](https://reactjs.org/docs/lists-and-keys.html#keys).

[2022-01-18 08:05] grean commented on #4543
I'm sorry but i continue to get this error message:

[code]
It's more related to the ForwardRef(createdIcon). I should post the message before sorry for that.
I think this issue #4429 is related too

[2022-01-18 08:29] ankit-tailor commented on #4542
Hi @kermit-sad-frog, Thanks for reporting the issue. We'll look into it.

[2022-01-18 09:07] ankit-tailor commented on #4543
I've tried with your [snack](https://snack.expo.dev/@grean/nativebaseselectkeypropissue), but I didn't get the warning.

[2022-01-18 10:44] vasihc commented on #4516
same issue

[2022-01-18 10:56] grean commented on #4543
I've found a workaround with the issue i've mentionned above.
You'are right, i wasn't successful to reproduce the warning on the snack.. don't know why. I still posted it on the issue to pass the required field..

[2022-01-18 11:56] eebbann opened #4546 "Element type is invalid .."
### Description

trying to create a search box after learning from a tutorial.. unfortunately keep getting errors

### CodeSandBox/Snack link

https://codesandbox.io/s/distracted-lamport-tnb8z

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

3.2.2

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other

[2022-01-18 12:11] ankit-tailor commented on #4546
Hi @eebbann, There is no component called `Header` in native-base, it's `Heading`. You can read more about it [here](https://docs.nativebase.io/heading).

[2022-01-18 12:13] eebbann commented on #4546
thanks

[2022-01-18 12:14] #4546 closed

[2022-01-18 14:18] Viraj-10 commented on #4538
Hi @OneHatRepo, I am assuming you are using **@testing-library/react-native**.

1. Add inset to NativeBaseProvider as per docs [Docs Link](https://docs.nativebase.io/testing).
2. I was able to access value of isChecked using following Code.
[code]

Let me know if it works for you. suggestion you can try
[code]

[2022-01-18 18:39] OneHatRepo commented on #4538
Viraj-10, I am not using Jest; I am using @wdio and Appium to inspect the components.

To better explain my situation, I create a new Expo app
`expo init TestApp`

Install NativeBase and its dependencies
`expo install native-base react-native-safe-area-context react-native-svg`

Tweak the App.js file to the following:
[code]

Now inspect the components in Appium.
![button](https://user-images.gith

[2022-01-18 20:20] creix commented on #4481
I resolved this issue adding `overflow='hidden'` as property of the box.

[2022-01-18 20:20] #4481 closed

[2022-01-19 04:47] ishwarATanveshak commented on #1012
In my case problem gets resolved after uploading build on play store. I don't know how. But performance of the app has increased and does not show laggy behavior.

[2022-01-19 06:27] trajano opened #4550 "@types should not be marked as peer dependencies"
### Description

the react types are in the package.json which locks us to React 16.

### CodeSandBox/Snack link

n/a

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### NativeBase Version

master

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-01-19 11:11] sanketsahu commented on #4198
@MD-REHMAN Can we use that PR version of React Native Web in a project?

[2022-01-19 11:52] Viraj-10 commented on #4503
Hi @y471n, are you facing any locking issue while upgrading expo version ?

[2022-01-19 11:54] Viraj-10 commented on #4550
Hi @trajano, Thanks for reporting the issue. We will look into it.

[2022-01-19 12:57] Viraj-10 commented on #4540
Hi @Jayachandran369, try deleting node_module folder and run yarn again. If this doesn't work please share your package.json. Also check upgrade docs [here](https://docs.nativebase.io/migration/migration-guide-three-point-two).

[2022-01-19 15:10] mononoke-choi commented on #4298
@surajahmed It seems to be reproduced another type issue.. :(
![image](https://user-images.githubusercontent.com/44839313/150158417-9a8daedb-e4f5-4f19-8956-665759c2edca.png)

[2022-01-19 15:12] mononoke-choi commented on #4298
@surajahmed   It seems to be reproduced another type issue.. :(
![image](https://user-images.githubusercontent.com/44839313/150158417-9a8daedb-e4f5-4f19-8956-665759c2edca.png)

[2022-01-19 16:50] vasafix commented on #4302
@MD-REHMAN Can’t compare, because after updating to 3.2.2. I am now getting error:

useTheme must be used within NativeBaseConfigProvider

[New snack link (native-base-3.3.2)](https://snack.expo.dev/@vasafix/58e051v332)
This example is exactly same as the original one I posted, with difference of native-base version and its new dependencies @types/react and @types/react-native

[2022-01-19 17:37] Dramex commented on #4273
same

[2022-01-19 20:23] trajano commented on #4550
Prior to your next release see if it can work with Expo 44.  Right now I don't think it works.

[2022-01-19 22:17] garrett-gottlieb commented on #4524
Sure: https://codesandbox.io/s/gallant-wind-uox23

[2022-01-19 23:28] y471n opened #4557 "Actionsheet Header/Footer Typing Issue"
### Description

Actionsheet header and footer have typing issues

### CodeSandBox/Snack link

https://codesandbox.io/s/trusting-field-58ez2?file=/src/App.tsx

### Steps to reproduce

1. Goto https://codesandbox.io/s/trusting-field-58ez2?file=/src/App.tsx
2. Scroll Down to Actionsheet.Header or Actionsheet.footer component use
3. You can see the typing issue.

### NativeBase Version

3.2.2

### Pl

[2022-01-20 05:50] mayank-96 commented on #4557
Hello @y471n, can you please re-check the codesandbox link, because I didn't find any `Actionsheet` component in example.

[2022-01-20 06:18] surajahmed commented on #4298
@mononoke-choi Thanks for reporting! `next build` is crashing in version `3.3.2`,  we're working on it. Hope to push a new version with these fixes soon.

[2022-01-20 08:58] ankit-tailor commented on #4542
Hi @kermit-sad-frog, react-native doesn't bubble Pressable onPress event to parent Pressable and `native-base` button component is made with Pressable. So it won't bubble event to parent pressable. you can refer to this [snack](https://snack.expo.dev/@ankit-tailor/bad-watermelon).

[2022-01-20 09:46] Viraj-10 commented on #4550
- I have created app with expo SDK 44 and nativeBase. it's working.
- we have also changed our peerdep. of @types/react and currently we are testing it out.

[2022-01-20 10:35] ankit-tailor commented on #4557
Hi @y471n, Thanks for reporting the issue. It's fixed and will be released in an upcoming version.

[2022-01-20 13:09] fedarenchyk commented on #4466
Hey @Viraj-10 any news on that?

[2022-01-20 13:18] Viraj-10 commented on #4466
Hi @fedarenchyk, We are working on npm template, meanwhile you can use yarn for next.

[2022-01-20 13:29] gern132 commented on #4466
Hi @Viraj-10 at this time we use yarn for next and we have problem after we connect native-base to our next project, any ideas?
![Screenshot 2022-01-20 at 16 25 42](https://user-images.githubusercontent.com/61838272/150347363-72225c73-5c92-4a74-ac5c-73d9519181d2.png)

[2022-01-20 14:34] trajano commented on #4550
Did you create in typescript?

[2022-01-20 14:42] Viraj-10 commented on #4466
Hi @NishchithRao, @fedarenchyk , @gern132 for now check if following works for you.

- keep node version 16.13
- update NativeBase to latest v3.3.3.
- also follow all the steps mentioned in the [docs](https://docs.nativebase.io/install-next).
- after doing all the steps run `yarn`  once again.
- then run yarn dev
We are fixing all the possible scenario ASAP for next it's high priority.

[2022-01-20 15:06] gern132 commented on #4466
@Viraj-10 we solved this problem, by adding {webpack5: true} to our next.config, but we got another :(
![Screenshot 2022-01-20 at 18 05 42](https://user-images.githubusercontent.com/61838272/150364878-7ab9c559-4072-4ec6-b5f1-62107fadc61a.png)

[2022-01-20 15:11] fedarenchyk commented on #4466
@Viraj-10 any ideas on ^that^ ?

[2022-01-21 02:08] y471n commented on #518
For those still waiting for this to arrive.
I actually got this working with [i18n-next](https://react.i18next.com/). It works well. Just use:
[code]

in NativeBase's `Heading` and `Text` components, so that they automatically right-align themselves when in Right mode.

[2022-01-21 02:09] y471n commented on #4029
This worked. Thanks @intergalacticspacehighway 🥇

[2022-01-21 05:14] surajahmed commented on #4298
@mononoke-choi `next build` issue is fixed in version `3.3.3`.
Let us know if you still face any issues with the build.

[2022-01-21 05:24] mononoke-choi commented on #4298
![image](https://user-images.githubusercontent.com/44839313/150470350-fb3f7b6c-1b63-40c2-8f9c-fab78d667df6.png)
![image](https://user-images.githubusercontent.com/44839313/150470464-95c54a52-7055-42a0-8406-ba1bace59a90.png)
i still have same problems :( ... in both version 3.3.3 and 3.3.3-rc.6

[2022-01-21 06:11] surajahmed commented on #4299
@arunim2405 I realize this is disappointing. We'll update the docs with this information. Thank you 👍

[2022-01-21 06:13] vidhi499 commented on #3997
@kenchoong We fixed the above in the latest release of native-base(3.3.3). We are now implementing the styles using media query, this will also solve the flicker issue caused by forced re render. You can. checkout the implementation [here](https://github.com/GeekyAnts/NativeBase/pull/4495).

[2022-01-21 06:13] #3997 closed

[2022-01-21 06:14] vidhi499 commented on #3801
@petrbela We fixed the above in the latest release of native-base(3.3.3). We are now implementing the styles using media query, this will also solve the flicker issue caused by forced re render. You can. checkout the implementation here.

[2022-01-21 06:15] #3801 closed

[2022-01-21 06:32] surajahmed commented on #3888
@gust42 Wrapping of text with a fragment is working now. But this didn't solve the react-intl issue. We're looking into this.
Thanks for reporting!

[2022-01-21 10:35] razorwebs commented on #4273
I had this same issue. I am using React Native and Nativebase.IO

Terminal Error: "When server rendering, you must wrap your application in an <SSRProvider> to ensure consistent ids are generated between the client and server."

Solution:

1. Add SSR Package
`npm i @react-aria/ssr or yarn add @react-aria/ssr`

2. Import SSR
`import {SSRProvider} from '@react-aria/ssr'; `

3. Wrap your main app or

[2022-01-21 10:43] surajahmed commented on #4526
@abdugaffor-abdurahimov We don't have the option to open menu items programmatically. We'll consider your request and we'll try to add the Combo box component in the next release.
For now, you can use the below example to create a combo box feature using Menu. Hope it will resolve your issue.
[code]
Thanks for reporting this!

[2022-01-21 12:52] redbar0n commented on #3801
Awesome! I would include such an important update in a release message, if I were you. It didn't seem to be mentioned at all in the [3.3.3 release](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.3.3).

[2022-01-21 15:36] kevinvugts commented on #4445
I can confirm this doesn't work for the latest version of native-base (version 3.3.3)

[2022-01-21 15:37] kevinvugts commented on #4428
It looks like the issue is re-introduced in version 3.3.3. Please have a look if this is really fixed. I can't get it working with the latest version. Also, the docs contains outdated version of native-base (3.2.2). Please update accordingly if possible.

[2022-01-21 15:50] fedarenchyk commented on #4466
@Viraj-10 I'm trying to setup nextjs+nativebase in monorepo, my next.config.js is

`const withImages = require("next-images");

const withFonts = require("next-fonts");
const withTM = require("next-transpile-modules")([
  "react-native-web",
  "native-base",
]);
const { withExpo } = require("@expo/next-adapter");

module.exports = withTM(
  withExpo(
    withImages(
      withFonts({
        types

[2022-01-22 15:51] JaapWeijland commented on #4445
I confirm! Cannot set the borderColor of an input.

[code]

This won't show a red border.

[2022-01-22 17:05] AlexCernik opened #4569 "Loop with new version"
### Description

Use the Avatar or Image component produces a loop

### CodeSandBox/Snack link

reactnative.dev

### Steps to reproduce

[code]

[code]

### NativeBase Version

3.3.3

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-01-23 08:41] amirfrd opened #4570 "Input text decoration underline in rtl language"
### Description

don't show underline for text in Input

### CodeSandBox/Snack link

https://snack.expo.dev/@amirfrd/example

### Steps to reproduce

_No response_

### NativeBase Version

3.2.2

### Platform

- [X] Android
- [ ] CRA
- [X] Expo
- [ ] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-01-23 12:06] x-ji commented on #1716
Setting width works, but then the issue is that you may only activate the picker if you click on the right of the row, not anywhere else on the row, which is quite unintuitive for the user experience.

[2022-01-24 03:58] Viraj-10 commented on #4569
Hi @AlexCernik, Thanks for Reporting the issue. We have fixed this issue in v3.3.4-rc.0

[2022-01-24 12:58] Viraj-10 commented on #4570
Hi @amirfrd, we have `_text` Pseudo prop which is used to style text inside a component currently, we have not added `_text` Pseudo prop support to the `Input` component. we will add support soon.

[2022-01-24 13:02] amirfrd commented on #4570
Input has underline by default in just rtl language
But don't have in ltr

[2022-01-24 13:38] mayank-96 commented on #4404
Hello @pierroo, I tried reproducing the bug, but it is working fine in my case.  You can try rebuilding the app by using following command `npx react-native run-android --variant=release `.

[2022-01-24 13:40] Viraj-10 commented on #4524
Hi @garrett-gottlieb, This is issue has been resolved in [V3.3.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v3.3.4) of NativeBase.

[2022-01-24 13:40] #4524 closed

[2022-01-24 18:12] ezze commented on #4444
@MD-REHMAN Sorry, `bg` also doesn't work in `_hover` for me. I have the same behavior. It works for inputs with addons (left/right elements) but doesn't work for inputs without addons:

**Without addons**

![image](https://user-images.githubusercontent.com/665479/150839536-9e28c120-4a56-47a9-8d76-0be1db9db9a2.png)

**With addons**

![image](https://user-images.githubusercontent.com/665479/15083939

[2022-01-25 04:07] trajano opened #4575 "Some issues with peers"
### Description

peers  "react-native-safe-area-context", "react-native-svg" should not be version locked.  The @types should not be peer dependencies as they are not needed at runtime.

### CodeSandBox/Snack link

na

### Steps to reproduce

[code]

Please test with `npm` for the examples you're likely testing only on Yarn which means you will have less strict dependency checks unlike `npm`

###

[2022-01-25 05:21] surajahmed commented on #4575
@trajano Thanks for reporting! We'll remove peer dependencies in the next release.

[2022-01-25 08:02] kcrt commented on #4543
snack does not show local warning like "should have a unique key prop", even with simple example like:
[code]

In local development environment with native-base 3.3.4, this issue still persists under iOS. This problem does not occur in web mode.
As mentioned in https://github.com/GeekyAnts/NativeBase/issues/4429#issuecomment-1001768489 , `SVGIcon` without `key` prop in `createIcon` seems to cause

[2022-01-25 09:42] rassemdev opened #4576 "keyboard is jumping while focusing from one field to another on iOS devices"
### Description

I've created a simple login page with only 2 input fields email and password. To make it more user friendly i am using returnKeyType='next', so that user can directly focus on next input field. While doing so, i am seeing keyboard jumping effect (closing then reappearing very fast). I've used blurOnSubmit={false}. yet, this does not solved this issue. It is only happening on iOS d

[2022-01-25 09:48] ankit-tailor commented on #4543
Hi @kcrt, I am not getting any warning, I am using native-base `3.3.4`. Can you please share snack / codesandbox of minimal reproduction? also, share your local configuration.

[2022-01-25 10:16] rassemdev commented on #4576
Sorry My bad, found the issue, There is nothing wrong.

[2022-01-25 10:16] #4576 closed

[2022-01-25 10:25] mkhalifa013 commented on #4002
bump for this thread. Also experiencing this issue.

It looks like the components build in the library are not build with inversion of control in mind.
The select component is using an internal Pressable which is hooked to an internal state called [open, setOpen].

This makes hooking into this programmatically impossible.

To the makers: could you please gives us an api to open selects, inputs etc

[2022-01-25 12:14] ayyam commented on #4303
i got the same error,,

only able to fix by change component as mentioned in official docs [https://docs.nativebase.io/radio](https://docs.nativebase.io/radio)

[code]
this fix is ok only if i learning the example as same as Docs, but this should not be the case to fix the issue i think..

[2022-01-25 16:50] IHIutch opened #4581 "Modal vertically centers around page content, not viewport on web"
### Description

When using the modal on a page that requires scrolling, the modal tries to wrap itself around the page content, rather than the viewport itself. I seems like this may only be an issue on web

### CodeSandBox/Snack link

https://snack.expo.dev/@ihiutch/71788a

### Steps to reproduce

1. Create a page that requires to scroll
2. Include a modal component

### NativeBase Version

3.2.

[2022-01-26 09:13] vasafix commented on #4302
Seems that 3.2.4 fixed this error, I will make new render time table

[2022-01-26 14:33] devagero commented on #4445
@ezze can you try with `bg` instead of `backgroundColor`? It works for me:

`
      <Button
        _hover={{
          bg: "#b00",
          borderColor: "#900"
        }}
        _pressed={{
          bg: "#333",
          borderColor: "#000"
        }}

        My inline styles also don't work
      </Button>
`

[2022-01-26 16:19] shobhitsinghal624 opened #4582 "[v3.3.4] Select component throws error when isDisabled is set to true"
### Description

When `isDisabled` is set to `true`, the `Select` component throws the error shown below. The error goes away if `_disabled` is set to `{ opacity: 0.8 }`.

### CodeSandBox/Snack link

https://snack.expo.dev/nxfwPCBT2

### NativeBase Version

3.3.4

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

N

[2022-01-26 17:57] trattles opened #4583 "Moving from 3.2.2 -> 3.3.0 breaks imported components from sibling package in mono repo."
### Description

I should be able to import components and have them render.

### CodeSandBox/Snack link

I cannot make a monorepo as a snack

### Steps to reproduce

I have a yarn mono repo with a structure like this

- Apps
-- My App
- Packages
-- Design-system

Example design system component:

[code]

In 3.2.2 if I import this into my app (Which has the root wrapped in native base provider) ev

[2022-01-27 06:13] ankit-tailor commented on #4445
Hi @JaapWeijland, this issue is fixed and will be released in the upcoming version.

[2022-01-27 08:47] ankit-tailor commented on #4582
Hi @shobhitsinghal624, I am unable to reproduce the issue, even your snack is also not giving any issue. Can you please check it once?

[2022-01-27 14:44] Southclaws commented on #3947
Using 3.3.2 and seeing this on every render, fills the log up with a useless stack trace. I don't mind these errors but please don't log a stack trace because it does not help debugging since it's either internal transpiled nonsense or just elements like `Box`

![image](https://user-images.githubusercontent.com/1636971/151381600-5d7d9e08-ca9b-4725-b971-a60ba44c7a35.png)

[2022-01-27 18:41] felix-lambert commented on #4543
I also have the error warning

[2022-01-28 09:29] Viraj-10 commented on #4515
Hi @SanchitB23, Docs are live you can check [Here](https://docs.nativebase.io/next/skeleton).

[2022-01-28 09:29] #4515 closed

[2022-01-28 09:34] Viraj-10 commented on #4145
Thanks for Reporting this bug Rounded is now included in docs under utility-props.

[2022-01-28 09:34] #4145 closed

[2022-01-28 10:25] Viraj-10 commented on #4581
Hi @IHIutch, Thanks for reporting this issue. We will look into it.

[2022-01-28 11:25] surajahmed commented on #4124
@codakkk This issue is resolved in the latest version `3.3.3` or later. Thanks you reporting!

[2022-01-28 11:25] #4124 closed

[2022-01-28 11:34] AshwiniKumar007 commented on #4328
Thanks for the help

[2022-01-28 11:34] #4328 closed

[2022-01-28 12:19] Viraj-10 commented on #4373
Hi @creix, Thanks for reporting the issue. we will look into it.

[2022-01-28 12:53] Viraj-10 commented on #4362
Hi @AndrewIngram, Thanks for reporting the issue. We will look into it.

[2022-01-28 14:11] kevinvugts commented on #1741
I would like to re-open this issue.

The input fields appear to be slow when typing multiple sentences in the text input.
It looks like it's removing characters and missing a few as well.

Sometimes it's unresponsive.
What is the issue of this?

[2022-01-28 14:23] frontendwizard commented on #2596
this is still an issue on 3.2.2. I have a round button and the ripple effect overflows the button.

[2022-01-28 17:31] #4569 closed

[2022-01-28 22:16] Ayzekberk commented on #72
my react version is over 0.6

1) i successfully install vector icons first `npm install react-native-vector-icons`
2) i did `npx pod-install` successfully (I don't use react-native link because it gives error and also when i check react-native > 0.6 there is autolinking usage so react-native link not preferable in react-native > 0.6)
3) Than i ran my app with this command
`npx react-native run-ios

[2022-01-29 03:25] rlingineni opened #4587 "To-Do Sample is Broken"
### Description

To-Do Sample broken, checkboxes resetting

### CodeSandBox/Snack link

https://docs.nativebase.io/todo-list

### Steps to reproduce

1. Go to [Docs Site](https://docs.nativebase.io/todo-list)
2. Click the to-do list, and check a few things
3. Clicking one checkbox will uncheck others

### NativeBase Version

3.3.1

### Platform

- [ ] Android
- [ ] CRA
- [X] Expo
- [X] iOS
- [ ] N

[2022-01-29 11:55] Ayzekberk commented on #72
Most important think is if you face with this error if react-native version > 0.6;

1) ***** MOST IMPORTANT IS THIS :
Don't use `reack-native link` and unlink your dependecy if you link before `react-native unlink react-native-vector-icons`

2) you have to link manually. So in update `ios` folder update your `Podfile` with your dependency
`pod 'RNVectorIcons', :path => '../node_modules/react-nativ

[2022-01-29 16:33] yamatsum commented on #4474
@surajahmed Is there a planned version?

[2022-01-29 21:26] otaviobps opened #4589 "Input won't take full width of the parent component"
### Description

The Input (or FormControl) won't take 100% of its parent width, on mobile only

### CodeSandBox/Snack link

https://snack.expo.dev/IivT0srpA

### Steps to reproduce

1. Create a flex component
2. Add an Input inside it
3. The Input won't take 100% of the parent width
4. The expected behavior would be the Input to have full width, like in the web version

### NativeBase Version

3.

[2022-01-29 21:56] Xmaxer opened #4590 "Input not respecting border colour without input element"
### Description

I expect the border colour to always be respected

### CodeSandBox/Snack link

https://snack.expo.dev/ntznCRhvs

### Steps to reproduce

I created two input fields in the above expo project. You'll notice the first input without the right/left element doesn't respect the border colour on error when focused. But the one with the right element does.

Perhaps I am doing something wro

[2022-01-30 07:31] prahelixtech opened #4591 "Icons are not showing"
### Description

Icons are not showing since today...

### CodeSandBox/Snack link

pleasecheck@Additional_Information.section

### Steps to reproduce

![image](https://user-images.githubusercontent.com/86789101/151690310-b407a0dc-2580-4130-bd82-b1246acce024.png)
![image](https://user-images.githubusercontent.com/86789101/151690330-6747c899-b442-4ca7-9f15-d74a6f074f04.png)

### NativeBase Version

[2022-01-30 08:17] #4591 closed

[2022-01-30 12:16] WebWorkDeveloper commented on #4399
I have same issue, my component example

[code]

And component usage code example
[code]

When i enter number, i have focus out how in video. Without factory method, all right

[2022-01-30 20:44] otaviobps commented on #4589
Setting a parent component as `<Box flexDir='row'>` fixed the issue

[2022-01-30 20:44] #4589 closed

[2022-01-31 04:46] ankit-tailor commented on #4590
Hi @Xmaxer, Thanks for reporting the issue. We'll fix it.

[2022-01-31 05:09] hollinwakefield opened #4593 "Utility Props docs page is crashing Chrome"
### Description

I can't load the utility props docs without my Chrome crashing

### CodeSandBox/Snack link

https://docs.nativebase.io/3.0.x/utility-props

### Steps to reproduce

1. Go to [the docs for Utility Props](https://docs.nativebase.io/3.0.x/utility-props)
2. Wait for my browser to crash

### NativeBase Version

3.3.1

### Platform

- [ ] Android
- [ ] CRA
- [ ] Expo
- [ ] iOS
- [ ] Next

[2022-01-31 05:33] mayank-96 commented on #4593
Hi @hollinwakefield, Thanks for reporting the issue. We'll fix it.

[2022-01-31 06:32] Viraj-10 commented on #4583
Hi @trattles, Thanks for reporting the issue. we will look into it.

[2022-01-31 06:59] ankit-tailor commented on #4590
Hi @Xmaxer, This issue is fixed and will be released in next version.

[2022-01-31 07:21] Viraj-10 commented on #4389
Hi @laogui, Solution is provided for the issue.

[2022-01-31 07:21] #4389 closed

[2022-01-31 08:09] ankit-tailor commented on #4444
Hi @ezze ,

Styles defined in `variants` will overwrite `baseStyle`. So we have defined default styling for `variants` and that is overwriting the `baseStyle` of `_hover`. So you can define a style for `variants` as shown in the below snippet.

[code]
You can read more about customizing theme [here](https://md-rehman.hashnode.dev/customising-components-in-nativebase).

[2022-01-31 08:55] mayank-96 commented on #4487
Hello @dindustack, you can try below syntax. Check [Customising components in NativeBase](https://md-rehman.hashnode.dev/customising-components-in-nativebase) for more details.
[code]

[2022-01-31 09:28] jharteaga commented on #4543
Thanks @kcrt for the workaround, it worked for me. The problem is with the default dropdown icon coming with the Select component. I did almost the same, but with an Icon component using Ionicons from @expo/vector-icons:

<img width="769" alt="Screen Shot 2022-01-31 at 1 26 55 AM" src="https://user-images.githubusercontent.com/10744642/151768961-d37edcc6-adf1-47a6-b7e8-c8bf24a2be12.png">

Thanks!

[2022-01-31 12:22] #3914 closed

[2022-01-31 12:39] MD-REHMAN commented on #4407
Thanks for sharing, we have updated our docs completely, hoping the newer docs won't cause those kinds of confusion.

[2022-01-31 14:58] shubhamagarwal16 opened #4596 "Two Radio.Group not working properly in a single View"
### Description

- When two radio groups are added in a single view they are not separated, instead the first set value changes when the first radio group value is changed

### CodeSandBox/Snack link

none

### Steps to reproduce

1. Add two radio groups with atleast two radio buttons in each group
2. Try changing the value of one radio button set
3. The  value of first radio button set will chang

[2022-01-31 17:35] #4596 closed

[2022-02-01 11:00] Viraj-10 commented on #4424
Hi @trajano, Please Try using the following code.
[code]

[2022-02-01 11:04] Viraj-10 commented on #4430
Hi @ENT108, This Issue has been fixed in the latest version of NativeBase.

[2022-02-01 11:04] #4430 closed

[2022-02-01 12:10] mayank-96 commented on #4486
Hello @fabarea, I'm closing this issue as it is fixed in latest version.

[2022-02-01 12:10] #4486 closed

[2022-02-01 14:56] Viraj-10 commented on #4583
Hi @trattles, Can you share your `next.config.js`. I tried it with the latest version of NativeBase it is working.

[2022-02-01 15:52] felix-lambert commented on #4543
Thanks @jharteaga no more warning. Maybe solving the warning with the default component could be cool.

[2022-02-01 21:50] kav commented on #4410
You can implement this fairly easily using [react-table](https://react-table.tanstack.com/) and nativebase's existing row and column objects

[2022-02-01 23:46] trajano commented on #4424
You can use the jest I provided in your unit test.  I tried it before but anyway the props contain
[code]

as such I get

[code]

[2022-02-02 07:48] RWOverdijk commented on #3915
Maybe not stale 😄. Any progess on this?

[2022-02-02 08:46] pierroo commented on #3274
Actually I wish it got the attention it deserves without being closed; I still believe NativeBase brings along a too heavy package...

[2022-02-02 09:31] #4307 closed

[2022-02-02 10:11] waheedakhtar694 opened #4599 "Toast is too expensive and slow"
### Description

I am using toast in different areas of my app but when showing toast it completely halts the JS thread and JS thread came into minus while showing toast.

### CodeSandbox/Snack link

https://snack.expo.dev/40ddUYAHP

### Steps to reproduce

1. Open Pref monitor in the app
2. display some toast.

### NativeBase Version

3.2.1

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [ ]

[2022-02-02 14:48] raybotha commented on #4111
Issue not resolved AFAIK

[2022-02-02 15:37] ChrisWiles commented on #4599
same issue, with my app. Works fine on v2. I think the animations are the issue. Any way to disable them?

[2022-02-02 17:16] haibert commented on #4375
Hi @MD-REHMAN
I appriciate your response. I just think it would be very useful if you guys allowed the user to add some custom things maybe under a custom:{} object where we can put what ever we need in that wont give a type warning.

[2022-02-02 22:06] Angelk90 commented on #1501
@GeekyAnts, @akhil-geekyants, @SupriyaKalghatgi, @shivrajkumar, @normdoow, @cbaker, @LasithaPrabodha, @andrew-luchkevych, @flashimxd, @shekharskamble, @lucie-macikova, @amaljosea, @tarun29061990,  @harishlalwani, @Johncy1997, @Donhv, @AbanoubNassem, @maartenvandillen, @girginsoft , @victorsousadev , @gauravroy1995, @fxbayuanggara , @Cookizza, @tunshiyu, @ofgowtham , @ishdemon, @bharatpatil , @hany

[2022-02-02 22:39] mrcarjul commented on #4582
I can confirm/repro the same issue on ipod touch sim, I will use the `_disabled={{ opacity: 0.8 }}` workaround for now

[2022-02-03 01:56] FezVrasta commented on #4153
Don't close this issue. This is an automatic message by [Fresh](https://github.com/c-hive/fresh) - a bot against stale bots.

[2022-02-03 05:12] ankit-tailor commented on #4543
Hi everyone, Thanks for reporting the issue. We're working on it.

[2022-02-03 06:37] Viraj-10 commented on #4516
Hi @andrewyohanes123 @vasihc, Thanks for reporting the issue. Can you share your environment details? so we can have a better idea?

[2022-02-03 07:40] #4542 closed

[2022-02-03 08:59] surajahmed commented on #3274
@prometheas Apologies for the delay in replying! We're busy with our latest release.
I know this is frustrating that NativeBase includes needless bloat. We've added this to our list, hope to fix this in next release 🤞
Thanks for reporting!

[2022-02-03 09:15] mayank-96 commented on #4520
Hello @mononoke-choi @truongtv22 , Thanks for reporting the issue, it has been fixed in latest version v3.3.4.

[2022-02-03 09:54] mrondra commented on #4516
Same issue here. I believe you need to compile .ts files into .js.

[2022-02-03 10:12] mrondra commented on #4516
Ok, current workaround is to import everything from folders... example:
```import { NativeBaseProvider } from 'native-base/lib/module/core/NativeBaseProvider';```

That is really an awful way, is there some proper solution?

[2022-02-03 10:18] mayank-96 commented on #4570
Hello @amirfrd, It is working fine in my case. Here is the [snack link](https://snack.expo.dev/@mayankp09/calm-coffee), do check it once.

[2022-02-03 10:21] Gabsys opened #4603 "extendTheme for dark mode Text color not working"
### Description

using extendTheme to cater for dark mode Text color doesn't work.

### CodeSandbox/Snack link

N/A. Need to use real device / simulator to toogle the dark mode

### Steps to reproduce

1. extendTheme on App.js and include it in `<NativeBaseProvider>`. Example code as below:
[code]
2. Put `Text` component in any screen
3. Try to switch between dark & light mode on your device
4. Yo

[2022-02-03 10:33] himgodfreyho opened #4604 "Error is thrown when using a list map to render Select.Item for Select component, if the list is undefined"
### Description

If I have a react state list, and the initial value of the list is undefined, if I use this list to render the Select.Item for the Select component, it will throw an error when the page is rendered.

### CodeSandbox/Snack link

https://codesandbox.io/s/objective-bush-uk769?file=/src/App.tsx

### Steps to reproduce

_No response_

### NativeBase Version

3.3.4

### Platform

- [ ]

[2022-02-03 10:38] amirfrd commented on #4570
@mayank-96
did you test in android?
this error exist in android

[2022-02-03 10:43] dindustack commented on #4487
Thanks @mayank-96 for sharing

[2022-02-03 10:51] andrewyohanes123 commented on #4516
Node version `14.18.3`
React version `16.11.0`
React native version `0.62.1`

run using android 10 android studio api 30

[2022-02-03 12:02] mayank-96 commented on #4570
Hello @amirfrd, I guess the text typing underline which you are referring is default behaviour in android due to spell check. Check out the following [article](https://legendupdate.com/remove-the-underline-feature-on-an-android/).

[2022-02-03 12:57] felix-lambert commented on #2520
Yes I would like to disable dashlane password manager. It seems to appear when I add the placeholder props on Input

[2022-02-03 15:45] dkulakov commented on #4111
Have the same bug

[2022-02-03 18:38] codakkk opened #4606 "SectionList not properly typed"
### Description

SectionList's props does not infer the type from the data prop. Similar to #4469 but for SectionList.

### CodeSandbox/Snack link

/

### Steps to reproduce

_No response_

### NativeBase Version

3.3.4

### Platform

- [X] Android
- [ ] CRA
- [ ] Expo
- [X] iOS
- [ ] Next

### Other Platform

_No response_

### Additional Information

_No response_

[2022-02-03 21:43] prometheas commented on #3274
Fair enough. Software is hard. Looking forward to it.

[2022-02-04 07:06] mayank-96 commented on #4603
Hello @Gabsys, I tried reproducing your issue but it is working fine in my case. You can check the [snack](https://snack.expo.dev/@mayankp09/16ecb4) link.

[2022-02-04 07:33] mayank-96 commented on #4604
Hi @himgodfreyho, Thanks for reporting the issue. We'll fix it.

[2022-02-04 07:38] zettaka commented on #4273
I still have the same issue. I followed the instructions of razorwebs solution without any effect. The warning remains.

[2022-02-04 07:51] razorwebs commented on #4273
Are you making any data fetches in say a dynamic component that is out of the scope of the SSR wrapper? Any data fetch that somehow gets past the SSR Wrapper will continue to throw the error when executed on the client device.

[2022-02-04 08:44] zettaka commented on #4273
I'm not sure what in detail you're talking about. I've added a native-base menu overlay which raises the warning from it's useMenuTrigger function (origin is useSSRSafeId). I placed the SSRProvider at the app root, just before the NativeBaseProvider. I've also tried to wrap the screen component that uses the menu without success.

Basically I don't understand the SSR topic. SSR shouldn't be a matt

[2022-02-04 09:39] amars29 commented on #4593
Hey @hollinwakefield, Issue has been fixed now.

[2022-02-04 09:39] #4593 closed

[2022-02-04 09:52] Gabsys commented on #4603
Hi, I tried using `toggleColorMode`, it does work fine. But using Dark Mode from phone settings itself doesn't have the same effect

[2022-02-04 10:39] Gabsys commented on #4603
It worked after I added:
[code]
to `extendTheme`

[2022-02-04 10:39] #4603 closed

[2022-02-04 11:35] Viraj-10 commented on #4599
Hi @ChrisWiles @waheedakhtar694, Thanks for reporting the issue. we will have a look.
If you have any more information on the issue please add a comment.
PS:- Hi @ChrisWiles, currently users don't have control over the animation but in the future, we will try to provide a way to disable them if the user wants it.

[2022-02-04 16:52] mchambaud commented on #4429
I'm on 3.3.5 and still have this error 🤔

[2022-02-04 17:02] mchambaud commented on #4153
I have the same issue, using 3.3.5

[2022-02-05 01:05] FelipeWikky commented on #3488
I'm also having the same problem.
I use version 2.12.1

[2022-02-05 05:34] hollinwakefield commented on #4593
Thank you!

[2022-02-06 13:56] DeluxeOwl commented on #4429
Same, using the latest version and seeing this error.

[2022-02-06 15:14] hadils commented on #4293
Version 3.3.5 has these cycle warnings:

[code]

[2022-02-07 08:40] surajahmed commented on #4587
@rlingineni Thanks for reporting! The To-Do sample is fixed in version `3.3.5`.

[2022-02-07 08:40] #4587 closed