[2017-03-27 08:41] LeoAref commented on #582
@sankhadeeproy007 I'd like to submit PR for it, I'll work on it in the next few days

[2017-03-27 13:40] kidnapkin opened #687 "FAB expanded button icons are not shown."
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2017-03-27 14:28] sankhadeeproy007 commented on #679
Fixed with 2.1.0

[2017-03-27 14:28] #679 closed

[2017-03-27 23:01] Kris4an7 opened #688 "Any way to make bottom tabs ?"
Hello, I want to make bottom tabs, but I can't seem to figure out how. Could someone help me ?

Thank you !

[2017-03-28 05:43] vzhen commented on #221
Have the same issue, I am using tabs as well. It works before but suddenlly list view empty.

[2017-03-28 07:35] iiitmahesh commented on #524
@sanketsahusoft can you provide code snippet for dynamic List of Cards.

[2017-03-28 08:10] sanketsahusoft commented on #524
I think you meant @sankhadeeproy007

[2017-03-28 10:01] iiitmahesh commented on #524
oh its typo mistake.  yep I meant @sankhadeeproy007

[2017-03-28 16:57] felipemartim commented on #677
@charles-mutabazi's workaround solved the issue for me on both Android and iOS.

[2017-03-28 22:18] nolan-m opened #690 "Button text color is black?"
I've been using this library for a few weeks and everything looked like the docs.  Now, for some reason the button color has switched to black.  The disabled button is rendering opposite color schemes.  (Grey on false, colored on true).  I didn't change my version so I'm wondering what conflicted with this library to do this.  Anyone had this happen?

[code]

![screen shot 2017-03-28 at 3 17 33 pm

[2017-03-28 22:23] compusam commented on #680
The error is same to me, i have to change the functionality to Fab component.

Thanks.

[2017-03-29 02:33] jackuhan commented on #52
use xxxStyle: Text.propTypes.style

[2017-03-29 06:20] elinlindberg opened #692 "Form: Stackedlabel on top of text in ios"
react-native 0.42.3
react 15.4.2
native-base 2.0.11

When using a stacked label in a form the behavior is wrong on both Android and iOS. In android the input box is in the center and very small. On iOS the label is on top of the input box.

Code:
[code]

![screen shot 2017-03-29 at 08 14 53](https://cloud.githubusercontent.com/assets/26759812/24441160/9bd63706-1458-11e7-90fe-159fd21bb83c.png)

[2017-03-29 14:05] stsrki opened #693 "missing typescript definitions in 2.1"
Hi, just want to inform you that the following are missing from typescript definitions:
`getTheme, StyleProvider`

For now I have manually changed my local index.d.ts for native-base, but you should definitely include these in the future releases. tnx

[2017-03-29 14:20] jmc420 commented on #693
I think Form and Label are also missing.

[2017-03-29 15:35] iiitmahesh commented on #690
@nolan-m I have same problem !. have you solved this??

[2017-03-29 15:40] seymores commented on #269
I found that if I use View instead of Content, the last ListItem will be clipped off but displayed if use Content instead of View.
I'm using 0.42

[2017-03-29 15:44] nolan-m commented on #690
@iiitmahesh Nope,  I'm about ready to remove NativeBase and create my own components since I can't figure out why this changed.

[2017-03-29 16:57] LeoAref commented on #687
I have the same issue

[2017-03-29 18:04] iiitmahesh commented on #684
:+1:

[2017-03-29 18:06] nimerfarahty commented on #690
same issue , waiting feedback

[2017-03-29 23:16] zenware opened #694 "Documentation problem for List Element"
[Nativebase.io -> Docs -> v2.0.0 -> Components -> List](http://nativebase.io/docs/v2.0.0/components#list) suggests the property is `thumnail` when it should definitely be `thumbnail`
![Image of the issue](https://www.dropbox.com/s/1nn8v8a6opx65jc/Screenshot%202017-03-29%2018.12.49.png?dl=1)

Sorry about the issue for this, I wish there was a publicly obvious way to contribute to the documentation

[2017-03-30 00:13] nolan-m commented on #690
Just noticed the Segment is messed up as well.

![screen shot 2017-03-29 at 5 14 29 pm](https://cloud.githubusercontent.com/assets/5704672/24481977/042af20c-14a3-11e7-9362-d5aba79e458e.png)

[2017-03-30 03:20] panak314 opened #695 "remove tab shadow"
`
"react": "15.4.2",
"react-native": "0.42.3",
"native-base": "2.1.0"
`

hi, i want to flat style tab.
a lot of trying, but i can't remove tab's shadow.
is there any way?

[2017-03-30 05:35] sankhadeeproy007 commented on #694
Hi @zenware. We're going to launch our open sourced documentation today. It is in gitbook, so hopefully it'll be easier for people to contribute.

[2017-03-30 06:42] himanshu-satija commented on #690
@nolan-m Which version are you on?

[2017-03-30 12:00] DannyAziz opened #696 "View under Header"
react-native: 0.42, react: 15.4.1 and native-base: 2.0.12
Expected behaviour
I was expecting to get the header to be transparent, above the blue square. Instead the blue square goes on top of the header

Actual behaviour
![image](https://cloud.githubusercontent.com/assets/3679064/24503137/b425d2bc-1548-11e7-90c7-ab5e5233ff60.png)

Steps to reproduce (code snippet or screenshot)
[code]

Played arou

[2017-03-30 14:05] stefano-DM commented on #524
@sankhadeeproy007 passing an array to ```dataArray``` and a function to ```renderRow``` in a ```<Card>``` component throws  ```Warning: Failed prop type: Invalid prop `dataArray` of type `array` supplied to `Card`, expected `object``` and ```Warning: Failed prop type: Invalid prop `renderRow` of type `function` supplied to `Card`, expected `object``` respectively.

Those are only warnings, so it's

[2017-03-30 14:22] dekkofilms commented on #668
@cyclops24 have you found any resolve for this ... i have noticed that on my app as well. It works fine on iOS actually, but for android devices it is missing.

Would love to know if you have found a fix to this!

[2017-03-30 15:08] nolan-m commented on #690
@himanshu-satija 2.1.0

[2017-03-30 15:11] LeoAref commented on #687
I tried to solve the issue, but it seems that the Fab component has many issues, and I'm using now **https://github.com/mastermoo/react-native-action-button** and it's working so well so far

[2017-03-30 15:52] nolan-m commented on #690
I removed all dependencies to see if something was conflicting, but no luck.

[code]

[2017-03-30 16:47] nolan-m commented on #690
Did some more digging around.  Looked at a demo project that I knew had the correct colors.  Downgraded my versions and this combo seems to work.   Hoping someone with more knowledge of this project can figure out what is conflicting between newer version.

[code]

[2017-03-30 18:13] himanshu-satija commented on #690
Try uninstalling and reinstalling native-base (`npm uninstall native-base && npm install native-base`) and see if that fixes your issue.

If you have ejected native-base theme, try ejecting it again from the latest version.

[2017-03-30 18:35] nolan-m commented on #690
I did that first and nothing changed.  Have not ejected.

[2017-03-30 20:34] LeoAref opened #697 "Focus capability for the Input component"
This is a feature request to support the focusing capability to the Input component, something like:

[code]

[2017-03-30 21:22] Oize commented on #693
Could not find Fab also.

[2017-03-31 03:28] MengjueW opened #698 "Dynamic List won't refresh when data refreshes"
Hi all,

Recently when doing development using NativeBase I found the List won't rerender when the datasource has changed. My code is like:
"<List dataArray={this.state.items} renderRow={(data) =>"

And then I use this.setState(newItems). The component get rerendered and List doesn't. I read from an existing issue that if the reference of the datasource hasn't changed then it won't rerender. Howev

[2017-03-31 03:51] velicue commented on #698
I found this could be solved if we also use`
`const ds = new ListView.DataSource({ rowHasChanged: (r1, r2) => r1 !== r2 });
      this.state = {
        dataSource: ds.cloneWithRows(props.dataArray)
}`
in componentWillReceiveProps.
Suggested that you changed to this.

[2017-03-31 06:12] ryannewton commented on #549
This isn't working for me either. Is there something else I need to do to access _root.

When I `console.log(this.deckSwiper)` it has these properties:
`_reactInternalInstance: ReactCompositeComponentWrapper`
`context: Object`
`isMounted: (...)`
`props: Object`
`refs: Object`
`replaceState: (...)`
`resolveConnectedComponentStyle: ()`
`setWrappedInstance : ()`
`state: Object`
`updater: Object`
`wra

[2017-03-31 06:14] shivrajkumar commented on #549
@ryannewton native-base version?

[2017-03-31 06:33] ryannewton commented on #549
@shivrajkumar I was on 2.0.9. Just upgraded and that solved it.
Thanks!

[2017-03-31 07:13] stsrki commented on #693
These components are also missing from tsd
`ActionSheet, Form, Segment, Toast`

and Tabs component is missing function
`onChangeTab()`

[2017-03-31 08:36] himanshu-satija commented on #690
@nolan-m I tested this and I can confirm that this is a bug introduced in v2.1.0. Button text looks fine inside Content but gets incorrect style when used without Content.

It will be fixed in the next version.

[2017-03-31 09:34] yeknava opened #699 "Changelog is outdated."
Changelog section in nativebase's site and Changelog file in repo both are outdated.
Please keep update it with each release. Thanks ;)

[2017-03-31 09:49] himanshu-satija commented on #690
@nolan-m There was an issue in one of our dependencies which directly gets installed from GitHub. I have fixed it. Uninstalling and reinstalling native-base should fix your issue.

I know we should ideally release a patch but we'll go with a quick fix for now. Anyone facing this issue ( @nimerfarahty @iiitmahesh ) should run `npm uninstall native-base && npm i native-base`

[2017-03-31 10:30] joaofranca opened #700 "Picker iOS back button hardcoded text"
Currently the back button in the Picker component (iOS) is hardcoded as "Back".

This can perhaps also be a prop, allowing the text to be set for different languages or situations.

[2017-03-31 12:07] Wu4D opened #701 "Can't style <Footer>"
Hello there, I've been strugling with this bug for like 4h

`import getTheme from './../native-base-theme/components';`
`import platform from './../native-base-theme/variables/platform';`

The render method:

`<StyleProvider style={getTheme(platform)}>

                <Container style={{marginTop: 53}}>

                    <Content>

                    </Content>

                    <Footer>

[2017-03-31 13:30] syardumi commented on #680
Unfortunately, I can't use Fab for my case. Sankha, is there any progress on this bug?

[2017-03-31 21:43] predescu commented on #680
I had the same issue and after I checked the node_modules/native-base/src/basic folder I saw that the file Actionsheet.js is not there.

`rm -rf node_modules`
`npm install`

solved the problem.

[2017-04-01 06:58] LeoAref commented on #592
@sankhadeeproy007 This info should be in the docs 😉

[2017-04-01 07:48] vkyii opened #702 "FooterTab text color not change."
Hi,
I have updated NB from 2.0.7 to 2.1.0 with react(15.4.1) and react-native(0.42.0),
It seems that the color of Button's Text in FooterTab not changed when switch active buttons.
PS: sorry can't upload picture, i tryed several times.

[2017-04-01 09:06] vkyii commented on #702
I need add a 'active' property to Text component, which is not required in previous versions:
[code]

[2017-04-01 09:21] christianguevara commented on #702
Yes, is not working in your theme if you set 'tabActiveBgColor' with a color you will see tabs are always active, even if states changes.
Maybe a workaround.

`let cycleStyle = {
            ...styles.footerTabDisabled
        };
        let amountsStyle = {
            ...styles.footerTabDisabled
        };
        if (this.isCycleActive()) {
            cycleStyle = {
                ...styles.f

[2017-04-01 11:11] christianguevara commented on #702
+1

[2017-04-01 13:34] ravingupta commented on #103
Unable to locate /node_modules/native-base/Components/Themes/light.js

[2017-04-01 14:45] cyclops24 commented on #668
Hi @dekkofilms,
Unfortunately I can't find any way to fix this. 😢

[2017-04-01 14:51] dekkofilms commented on #668
@cyclops24 womp. hopefully this will get some attention soon

[2017-04-01 16:29] andidev commented on #702
Same here

[2017-04-01 18:07] smooJitter opened #704 "Shoutem Documentation"
I notice you are now introducing shoutem.  Where can I learn about how shoutem and native-base work together

[2017-04-01 19:17] cyclops24 commented on #668
@dekkofilms until bug fix for this issue you can use [react native elements card component](https://github.com/react-native-community/react-native-elements#card) as a temporary solution. It's OK and not break on large screen or android device.

[2017-04-01 20:30] nagolyhprum opened #705 "Tab stops showing as active between 2.0.12 and 2.1.0"
**react-native, react and native-base version**
rn: 0.42.3, r: 15.4.1, nb: 2.1.0

**Expected behaviour**
Active tab should display differently from other tabs

**Actual behaviour**
The first tab is always displayed as active (The underline moves but styling does not).

**Steps to reproduce (code snippet or screenshot)**

1. Use the Tabs sample http://docs.nativebase.io/COMPONENTS.html#Tabs.
2. Cli

[2017-04-02 14:35] arnthorsnaer opened #706 "Touchable Cards?"
Hi there

I'm using react-native via Exponent ( expo 15.0.2 - native-base 2.1.0 - react 15.4.0 ). Can you point me in the right direction on how I can add "touchable" effect to a (native-base) card?

Looking at the source code it looks like I can add a "button" boolean to the CardItem component. This wraps it with TouchableOpacity. However since a Card can contain multiple CardItems, this does not

[2017-04-02 20:08] clayboyd opened #707 "problem with scoped npm packages... @expo/vector-icons"
I'm having trouble reading the scoped npm packages.  This fails:

npm install @expo/vector-icons --save

npm ERR! unpack Could not read data for @expo/vector-icons@4.0.0
npm ERR! Darwin 16.5.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "@expo/vector-icons" "--save"
npm ERR! node v7.8.0
npm ERR! npm  v4.2.0

npm ERR! Invalid name: "@expo/vector-icons"
npm ERR!
npm ERR! If yo

[2017-04-03 00:46] NickAlvesX commented on #530
`import { Container, Content, Card, CardItem, Thumbnail, Text, Button, Icon, Left, Body } from 'native-base';
// Delete this row.
export default class Match extends Component {`

`import { Container, Content, Card, CardItem, Thumbnail, Text, Button, Icon, Left, Body } from 'native-base';
export default class Match extends Component {`

[2017-04-03 00:47] NickAlvesX commented on #530
[code]
[code]

[2017-04-03 06:08] michaelimstepf commented on #582
I'm having the same issues. Is this related to #641 and PR #691 ?

[2017-04-03 10:38] fbacker commented on #705
Same for mem on iOS

[2017-04-03 10:51] fbacker opened #708 "floatingLabel set default value?"
## react-native, react and native-base version
react: 15.4.2
react-native: 0.42.3
native-base: 2.1.0

## Expected behaviour
When setting "value" on <Input the floating label show go to the up position.

## Actual behaviour
The floating label is above the <Input text

## Steps to reproduce

[code]

## Screenshot of emulator/device
![screen shot 2017-04-03 at 12 48 06](https://cloud.githubuserconten

[2017-04-03 14:05] BaptWaels commented on #627
I've got the same problem

[2017-04-03 14:24] heichong opened #709 "Header height with SearchBar"
My Code is
[code]

but I find the height of header  is lower
![image](https://cloud.githubusercontent.com/assets/1830250/24613728/c1ee4f66-18bb-11e7-83c3-7834b35a82bc.png)

is that a bug？

[2017-04-03 15:22] nicnilov commented on #72
What worked for me was uninstalling the `@expo/vector-icons` package recommended by [Native-base Getting Started guide](http://docs.nativebase.io/docs/GetStarted.html#Quick_Setup), and installing the `react-native-vector-icons` as a dependency.

    npm install react-native-vector-icons --save
    react-native link react-native-vector-icons

[2017-04-03 15:25] syardumi commented on #680
Thanks @predescu. That worked too!

[2017-04-03 15:25] #680 closed

[2017-04-03 22:44] StephenStrickland commented on #557
@sanketsahusoft I am assuming this is an issue in native base due to shoutem/theme not allowing styles from StyleSheet.create(). See https://github.com/shoutem/ui/issues/51

[2017-04-04 01:23] heichong commented on #709
sorry ,I made a mistake,  that is Animation

[2017-04-04 01:23] #709 closed

[2017-04-04 03:06] srhise commented on #269
@seymores I continue to have issues with using <List> instead of <Content>. I have seen in several issues to use <View> instead of <Content> when using lists, but it breaks my layouts every time I attempt it. When I use <Content>, the page lays out perfectly. Also have heard using <List> in <Content> is a performance problem, but I haven't seen another way to get it to work and still have the head

[2017-04-04 06:34] sanketsahusoft commented on #557
I think @sankhadeeproy007 was to be tagged but anyway I can take this.

@StephenStrickland Yes, that's true but we have modified shoutem/ui a lot and we will be supporting Stylesheet.create() method in the next release.

[2017-04-04 07:47] tonylinyy opened #711 "an issue when upgrade RN43"
hi,when upgrade native-base to RN43
there is an issue about:
react-native/Libraries/Components/StaticContainer   in SceneComponent.js
it should be:
react-native/Libraries/Components/StaticContainer.react

[2017-04-04 07:54] michaelimstepf opened #712 "Text on Segment tabs disappearing after selecting inactive tab"
Hi

I created a `Segment` with some logic to activate / deactivate tabs on a Segment and when I select the non active tab the text disappears on both tabs (the font color matches the changed background).

![screen shot 2017-04-04 at 4 51 29 pm](https://cloud.githubusercontent.com/assets/430682/24645327/080ad146-195b-11e7-9c77-66f5a4b5bb78.png)
![screen shot 2017-04-04 at 4 51 38 pm](https://cloud.

[2017-04-04 08:42] elinlindberg commented on #690
himanshu-satija's solution worked for me.

[2017-04-04 08:47] iambanh2 commented on #711
I got problems.

[2017-04-04 12:36] sanketsahusoft commented on #711
@tonylinyy @iambanh2

We are fixing this.

[2017-04-04 12:59] mikestone14 opened #713 "Unexpected token import in Shoutem dependency"
## react-native, react and native-base version

`react` - 15.4.2
`react-native` - 0.42.3
`native-base` - 2.1.0
`jest` - 19.0.2

## Expected behaviour

The Jest test suite is expected to run & tests pass

## Actual behaviour

`SyntaxError: Unexpected token import` when importing `connectStyle` in the `@shoutem` dependency.

<img width="1096" alt="screen shot 2017-04-04 at 8 55 21 am" src="https://c

[2017-04-04 14:20] sanketsahusoft commented on #711
Guys, looks like RN43 requires React 16 and vector-icons doesn't have support for React 16. So, we will have to wait for third party libraries to be updated and then we can upgrade NativeBase. Until then use RN42.

[2017-04-04 15:46] vkalinichev commented on #693
Also missing:
  * `noShadow` property of `Header`
  * `noBorder` property of `ListItem`

Anyone have workaround for manual extending type definitions to prevent `tsc` build failing?

[2017-04-04 17:37] yagiro commented on #705
Same for me on Android (7.1.1)

[2017-04-04 21:58] HilSny commented on #711
I got RN 43 working fine with NativeBase when I fixed this line in SceneComponents from:

[code]
to

[code]
Doesn't look like an issue with vector icons at least in the way that we use that package.

[2017-04-04 22:10] HilSny commented on #711
For what its worth fixing the SceneComponent file allowed me to use NativeBase without issue (including the Icon component).

Not sure this is an issue with vector-icons and their compatibility with React 16.

[2017-04-05 00:32] obykoo commented on #677
Thanks it solved this problem, you should make pull request or wait for them to fix it

[2017-04-05 04:03] HyperSimon opened #714 "[doc update] -> Theming NativeBase Apps"
![2017-04-05 12 01 17](https://cloud.githubusercontent.com/assets/9377192/24689230/ba92c412-19f7-11e7-8c29-5669ad8e8c5d.png)
Now is  (/node_modules/native-base/src/theme)

[2017-04-05 05:08] nouh commented on #711
https://github.com/oblador/react-native-vector-icons/issues/435 seems vector-icons works fine with react 16. The problem may still lie in native-base

[2017-04-05 06:20] HyperSimon commented on #323
Is this problem solved? Is there any example? Why is this issue closed?

[2017-04-05 06:39] tonylinyy commented on #711
I edit the path to:react-native/Libraries/Components/StaticContainer.react
and everything is ok in my project,including vector-icons

[2017-04-05 07:13] shivrajkumar commented on #711
Fixed in latest version v2.1.1

[2017-04-05 07:13] #711 closed

[2017-04-05 08:02] stsrki commented on #693
There aro two ways that I can think of.

First is to use spread operator like

`<Tabs {...{ onChangeTab: this.handleActiveTab } }>`

And the second way is to just change _index.d.ts_ inside _node_modules\native-base_ and just add what is missing. Bad thing with this it will be overwritten when you upgrade native base, unless you add this file to your source control.

[2017-04-05 08:22] AshCoolman commented on #439
@shivrajkumar I'm a bit confused if the list is an ordered list of steps, or a list of optional steps :)

Do I have to run `ejectTheme.js` to:

[2017-04-05 09:46] muthuraman007 opened #715 "Toast okay Button Not Displaying"
When i display more text in toast it gets stuck and need  to close app every time.
To reproduce make the toast to display two line of text message this error will be produced.
The problem causing is when i display more text, toast button is not  displaying. if it displayed i can close the toast by clicking on it. Not displaying causes  toast to never be closed.

[2017-04-05 09:51] haifaGh commented on #347
@kenleezle  hey i'm having the same problem: as i have a list that i need to extract from firebase database and then display them in cards. But,I keep getting this error "undefined is not an object evaluating (this.props.title.title)" ALTHOUGH, it works perfectly fine if i displayed them in listView. So, do you have any idea or you can maybe post your code, it might be helpful

[2017-04-05 10:08] DemisBand commented on #711
Sorry but I currently RN43/ Native Base 2.1.1 and the good way is :
**var StaticContainer=require('react-native/Libraries/Components/StaticContainer.js');**
not
var StaticContainer=require('react-native/Libraries/Components/StaticContainer.react');

I test on ios..

[2017-04-05 10:29] MathiasMeuleman opened #716 "Npm install error with @shoutem/theme dependency"
Hi,

I'm trying to install native-base via npm on my Windows machine. When installing, I get the following error message:

npm install native-base --save

[native-base-install-error.txt](https://github.com/GeekyAnts/NativeBase/files/895905/native-base-install-error.txt)

The debug-log, just to be sure:

[2017-04-05T10_18_04_990Z-debug.txt](https://github.com/GeekyAnts/NativeBase/files/895909/2017-

[2017-04-05 11:34] kidnapkin commented on #713
just modify jest config package.json

Works for me. Seems like it's a common problem
[code]

[2017-04-05 12:54] brunocascio opened #717 "react 16.0.0-alpha.3 on Stable branch?"
Why do you use an alpha version on your stable branch?
It's not compatible with previous versions...

[2017-04-05 14:36] PEM-- commented on #717
Indeed this was creating a mess when JS was bundled resulting. I've reverted to `2.1.0`.

[2017-04-05 15:09] irwing-reza commented on #717
React Native 0.43 moved to **"react": "16.0.0-alpha.6"**

Might also be related to [this](https://github.com/facebook/react-native/issues/13314)

[2017-04-05 15:13] PEM-- commented on #717
Yep, currently, both packages puts youin the same mess. If you're using react-native > 0.42.3 and/or native-base > 2.1.0, you can't compile anymore.

[2017-04-05 15:25] brunocascio commented on #717
In order to use the alpha version, you need to run:

`rm -rf node_modules && npm install`

Clean ios/android build folder:

`rm -rf android/build && rm -rf ios/build`

After that, just run as usual:

`react-native run-ios or react-native run-android`

[2017-04-05 15:38] levsthings commented on #530
Today I tried using the [Segment](https://docs.nativebase.io/COMPONENTS.html#Segment) component and having the same problem.
Getting the error:
```Unexpected character " (4:0) ```

I tried other example components provided in the documentation afterwards and they are all giving the same error.  I've tried cleaning the examples up, deleting rows etc. as suggested but nothing seems to solve this iss

[2017-04-05 15:51] obykoo opened #718 "Searchbar input not clicable on iOS"
I am using this with:
"react-native-router-flux"

Using "native-base": "^2.0.13", and "react": "15.4.2", "react-native": "0.42.0",

[code]
Input looks like this and is not responsive at all:

![2017-04-05_15h49_13](https://cloud.githubusercontent.com/assets/25873477/24714260/4953a5ec-1a28-11e7-843a-0f79509c7e6b.png)

However this is working on Andorid and not working on iOS

[2017-04-05 17:11] obykoo commented on #718
You have to set width of input othervise it wont work

[2017-04-05 19:52] obykoo opened #719 "List is not re-rendering when children change on iOS"
Just getting my app to run on iOS and found another bug.
Using "native-base": "^2.0.13", and "react": "15.4.2",  "react-native": "0.42.0",

[code]
Now I change isEdit from false to true (isEdit is from state) and **rows are not rerendered**.
Even updating keys of "Car" does not trigger re-render of list.
This is however working on android.

[2017-04-05 19:53] obykoo commented on #719
Temporary fix:

[code]

Use another state variable eg iKey and increase it everytime you want to perform update on rows of list.

[2017-04-06 06:54] #697 closed

[2017-04-06 10:54] MathiasMeuleman commented on #716
I managed to do a work-around by downloading your sourcecode, manually changing the url with the version number (currently 0.9.0) and installing that package via npm. Still I am curious to the reason you made this choice.

[2017-04-06 11:07] jordangarside opened #720 "Documents need to be updated (import from 'native-base' not 'native-base/ui')"
Components need to be imported from 'native-base' not 'native-base/ui'.

The docs website is out of date.

[2017-04-06 11:21] sankhadeeproy007 commented on #716
cc @himanshu-satija

[2017-04-06 11:39] danilvalov commented on #715
@muthuraman007

I confirm.
I already sent a pull request, which fix this problem: https://github.com/GeekyAnts/NativeBase/pull/710
You can add this fix to your code or use my repository as a temporary solution.

[2017-04-06 13:06] chrise86 commented on #697
@LeoAref how did you resolve this?

[2017-04-06 18:46] Kris4an7 commented on #688
?

[2017-04-06 19:22] davidhenley commented on #688
+1

[2017-04-06 19:24] sankhadeeproy007 commented on #688
Bottom tabs as in? Have you checked FooterTabs?

[2017-04-06 22:25] ll0406 commented on #626
YES!! please implement this feature!

[2017-04-06 23:02] davidhenley commented on #688
FooterTabs do not use horizontal scrollview

On Apr 6, 2017 2:24 PM, "Sankhadeep Roy" <notifications@github.com> wrote:

[2017-04-07 07:03] sankhadeeproy007 commented on #720
cc @Jasbir23 please check the above.

[2017-04-07 07:12] AshCoolman opened #721 "How to programmatically "cascade" theme styles?"
I'm a bit confused on the best way to pull in theme variables and use them within a Custom component.

## Packages

* react-native:0.42.3
* native-base: 2.1.0

## Expected behaviour

`myThemeColors.js` (rough snippet):

    "btnPrimaryBg": 'lightblue',
    "btnPrimaryColor": 'blue',

`App.js` (rough snippet):

     import getTheme from 'native-base/src/theme/components';
     import myColors from

[2017-04-07 08:53] PhiSpindler commented on #323
You could use the StatusBarManager as work-around.

[code]

[2017-04-07 09:30] HyperSimon commented on #461
[code]
noShadow={true} should work too;

[2017-04-07 09:35] pselibas opened #722 "Android Back button in ActionSheet"
When an ActionSheet is displayed and the user presses the Android back button an alert is shown instead of closing the ActionSheet.

## react-native, react and native-base version
2.1.0
## Expected behavior
ActionSheet should be closed.
## Actual behavior
An alert is shown saying "Modal has been closed."
## Steps to reproduce (code snippet or screenshot)
## Screenshot of emulator/device
## Is the

[2017-04-07 09:48] HyperSimon opened #724 "[Help Wanted] How to hide the gray split line of header on IOS ?"
<img width="464" alt="2017-04-07 5 40 37" src="https://cloud.githubusercontent.com/assets/9377192/24794876/e030bdd2-1bb9-11e7-9cfe-bb2bed3c179d.png">

Now I want to hide the gray split line, I read the entire document, but did not find the relevant settings.

This is my code

[code]

[2017-04-07 11:03] cyaxares opened #725 "SceneComponent.js: module does not exist in the module map"
I used native base & It works properly, today i updated npm, now a problem appears and i get this error:
![nativebase](https://cloud.githubusercontent.com/assets/9538639/24797604/373d879e-1ba7-11e7-964b-6065684194c7.png)

[2017-04-07 11:37] flaviojunior commented on #725
I'm getting same error.
I trying to compile project using native base and typescript. But I getting some errors.

What's the native-base version are you using?

[2017-04-07 11:48] shivrajkumar commented on #725
@flaviojunior @cyaxares latest version of NativeBase (v2.1.1) works for RN 43 and React 16.
For versions below that you need to use NativeBase v2.1.0

[2017-04-07 12:22] cyaxares commented on #725
I downgrade native-base fixed

Thanks @shivrajkumar

[2017-04-07 13:34] krunalp1993 commented on #508
@peter1a Can you share more information? I am having same issue..

[2017-04-07 20:18] westonganger commented on #719
This is because the default `rowHasChanged` method is stupid because it does not perform a deep comparison. We need the ability to pass in a custom `rowHasChanged` function.

[2017-04-07 20:44] westonganger commented on #688
The documentation under the tabs section should tell us about the existence of Footer Tabs.

[2017-04-07 20:47] davidhenley commented on #688
Footer tabs are different. Also, how hard is it to read the doc sections.
Footer Tabs are in big letters on the side.

On Apr 7, 2017 3:44 PM, "Weston Ganger" <notifications@github.com> wrote:

[2017-04-08 10:37] smilewithsiddharth opened #727 "Unable to import 'native-base/ui'."
I have installed native-base 2.1.1 through npm install native-base --save.
but whenever i am trying to use 'native-base/ui' its throwing this error :
error: bundling: UnableToResolveError: Unable to resolve module `native-base/ui` from `E:\ReactNativeApps\srmezy\src\components\LoginFormAdvance.js`: Module does not exist in the module map or in these directories:
  E:\ReactNativeApps\srmezy\node_mo

[2017-04-08 11:12] rithvikvibhu commented on #524
Same warning as @stefano-DM for dataArray (array) and renderRow (function)
Can someone share a working dynamic card snippet? (Nativebase >= 2.0)

[2017-04-08 11:37] sankhadeeproy007 commented on #727
Hi, please use `native-base` instead of `native-base/ui`

[2017-04-08 16:21] barjas opened #728 "unable to resolve module"
Hi!
i followed the docs for customizing but i get unable to resolve module './native-base-theme/components'

  "native-base": "^2.1.0",
    "react": "~15.4",
    "react-native": "0.42",

![image](https://cloud.githubusercontent.com/assets/2705091/24830521/eb127f6c-1c98-11e7-891d-12f8a0206c21.png)

[2017-04-08 19:37] barjas commented on #728
my mistake ... wrong path

[2017-04-09 05:08] mcapodici commented on #690
Didn't work for me unfortunately. Anything else to try?

[2017-04-10 04:40] leyuan commented on #712
I have run into same issue, seems like in the recent update, the toggle will mis-change the font's colour.

[2017-04-10 05:40] leyuan opened #730 "Form Item Showing Empty on Inner Input"
## react-native, react and native-base version
I upgraded to 2.1.1 today.
Before it was working fine in 2.0.12

## Expected behaviour
Worked as documentation

## Actual behaviour
Placeholder not showing, content not editable

## Steps to reproduce (code snippet or screenshot)
Same code from http://nativebase.io/docs/v2.0.0/components#form

[code]

## Screenshot of emulator/device
It's empty

![ima

[2017-04-10 07:20] himanshu-satija commented on #712
@leyuan @michaelimstepf You shouldn't have to set active prop on Text. It was an issue with our forked version of @shoutem/theme.
Running `npm uninstall native-base && npm install native-base` should fix it.

[2017-04-10 09:10] tishad770 opened #731 "Need documentation with examples in 2.1.1 Tabs."
I read the documentation on nativebase.io and want to use tabs. Here's what I am planning to do-

In each tab, i call the same component with different props and will make an api call to fetch some data in the tab. But i am facing problems with the navigation and page transitions. Is there any full documentation where I can get idea about the tab navigation?

My code is like this:

`<Tabs>`
`    <

[2017-04-10 14:18] StevePotter commented on #717
Why the requirement of React Native 0.43?  It just got released and uses React 16 but all 3rd party libraries are on React 15.  Why not just require RN >= 0.42?  That would fix all the NPM peer dependency issues.

[2017-04-10 15:37] masiamj opened #732 "URGENT! Docs are Broken - Merge Conflict"
This is not an issue with your component library.

The NativeBase docs on GitBook are broken; someone incorrectly pushed up code with a merge conflict, and it is causing the page not to load.

Expected Behavior: Page load with correct documentation.

Actual Behavior: Old version of documentation trying to load with incorrect assets and params.

Steps To Reproduce: Visit: https://docs.nativebase.io

[2017-04-10 16:07] sankhadeeproy007 commented on #732
@masiamj Thanks for reporting. Has been fixed!

[2017-04-10 16:07] #732 closed

[2017-04-10 19:01] robtaireeo commented on #717
I agree with last comment.. moving to 0.43 breaks other libraries like react-navigation

[2017-04-10 21:25] gwilymhumphreys commented on #725
Hey, if a release has breaking changes could you please release a new major version rather than a patch - this should be v3.0.0 to be in line with semantic versioning (and not break everyones builds, hah). Cheers 👍

[2017-04-11 00:53] superquest opened #733 "Can't specify "iconStyles" on <Fab />"
## Expected behaviour
I would expect the following to make a fab with a red "create" icon in it.

[code]

## Actual behaviour
Icon remains the default color, the hex value `#fff`

## More information

[These are the default values](https://github.com/GeekyAnts/NativeBase/blob/30b90f09d0af85cd318e700c93917e11ca27c34d/src/basic/Fab.js#L119) I would like the ability to override

[2017-04-11 02:21] leyuan commented on #712
@himanshu-satija that did fix for me, thanks!

[2017-04-11 02:36] superquest commented on #540
@sankhadeeproy007 `size` attribute is still in the docs: https://docs.nativebase.io/COMPONENTS.html#List_Thumbnail

[2017-04-11 05:06] yovierayz opened #734 "Picker inside Item on android not working, running well on ios"
I've issue to use Picker inside Item
<img width="559" alt="screen shot 2017-04-11 at 12 09 32" src="https://cloud.githubusercontent.com/assets/2038089/24893736/c843128a-1eaf-11e7-99a6-5ef27ea54b11.png">

Running well on IOS
<img width="684" alt="screen shot 2017-04-11 at 12 03 04" src="https://cloud.githubusercontent.com/assets/2038089/24893615/de4d29fe-1eae-11e7-8fc6-51f679e3a58d.png">

But picke

[2017-04-11 06:21] tishad770 commented on #665
Facing the same issue. No support found?

[2017-04-11 07:36] michaelimstepf commented on #712
@himanshu-satija Thanks. I tried that but no I can't start the app anymore. I get the following message and I followed all the 3 steps but it still doesn't work.

[code]

[2017-04-11 07:40] iiitmahesh commented on #542
@sankhadeeproy007 can you share gist **native base footerTab with react-native-router-flux**

[2017-04-11 08:12] michaelimstepf commented on #712
@himanshu-satija Worked for me as well after upgrading React / React Native. Thanks!

[2017-04-11 08:12] #712 closed

[2017-04-11 08:45] Symous opened #735 "How can I center a View in <Content> vertically?"

[2017-04-11 10:55] alfie-ab commented on #665
No, no support found unfortunately. I ended up changing the theme of my tabs (using StyleProvider) to make the underlining bar transparent. So now they look like this:

![screen shot 2017-04-11 at 11 53 34](https://cloud.githubusercontent.com/assets/20194492/24905911/8ed3c01e-1ead-11e7-8b84-984bf505cba9.png)

Which obviously isn't ideal but at least the logic works and they render on the right tab

[2017-04-11 11:01] mcpracht opened #736 "Tabs Bottom border not changeable"
Hi,

I am setting up a Tabs view and cannot seem to get rid off the bottom border of the tab bar container.

"native-base": "^2.1.1",
"react": "16.0.0-alpha.6",
"react-native": "0.43.1",

Please see the screenshot. The only thing I want to remove is the bottom border currently in color #ccc width width 1px.
Somehow it seems none of my styling attempts have worked trying to set "borderBottomColor"

[2017-04-11 14:11] arunkumarrmrj opened #737 "Checkbox component ---checkboxSize attribute not working"
Hi

"native-base": "^0.5.13",
"react": "15.4.2",
"react-native": "0.42.3",

`<CheckBox checked={true}  checkboxSize={20}/>`

But not change the checkbox size

I'm using checkboxSize values in number,string,... but not working

Let me know how to change checkboxsize

[2017-04-11 15:45] Norfeldt commented on #598
@sankhadeeproy007 I'm having the same issue and yes I have ejected the variables.

[2017-04-11 17:22] alexsegura commented on #320
The `clear` method doesn't seem to be available on the NativeBase component.

I have to do this :

[code]

[code]

Am I missing something ? I use NativeBase > 2.0

[2017-04-11 19:34] lashae opened #738 "<Item> theme overrides <Form> theme"
I'm using `<StyleProvider>` at my `<App>` component level, which means my all App is styled with NB theme.

I have the following `Login` component:

[code]

And the `Input`s are rendered very tiny at the center of their respective rows. Please see: http://pasteboard.co/jccYzby1.png

If I remove,

[code]

part from `native-base-theme/components/index.js`the `Input`s are rendered as expected *in ter

[2017-04-12 07:54] lashae commented on #738
Further debugging yield me to the problematic style rule!

It is here: https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Item.js#L202

Changing `alignItems: 'center'` to `alignItems: 'stretch'` seems to resolve the issue.

Do you have any comment/idea on this?

[2017-04-12 07:56] li-zhenyu commented on #348
Met the same issue, it cost me two hours !!
Finally solved the problem after saw this.
Not ListView but Content ? This issue made me crazy !!

[2017-04-12 08:02] tranren opened #739 "Unhandled JS Exception: Cannot read property '_root' of null"
Actionsheet error
Actionsheet.js:94:79

[2017-04-12 08:37] iambanh2 commented on #708
I got problems

[2017-04-12 10:26] Lalit-Joshi commented on #72
react-native link react-native-vector-icons is working for me thanks.

[2017-04-12 12:21] JonatanSalas opened #740 "Floating Action Button don't show ripple effect on Android"
Hi guys! Thanks for this amazing library!

I'm facing an issue with Floating Action Button not showing Ripple Effect in version >= Lollipop.

## react-native, react and native-base version
RN 0.43.0, R 16.0.0-alpha.3, NB 2.1.1
## Expected behaviour
In Android version >= Lollipop, every touchable view should show a ripple effect when performing a click
## Actual behaviour
When using the Floating Ac

[2017-04-12 13:32] himanshu-satija commented on #716
We have forked our own copy of @shoutem/theme because we needed to customize it according to our requirements. If you have installed @shoutem/theme directly from npm, you might experience some issues. Mostly the performance will be affected since we have implemented caching in our version of @shoutem/theme.

When native-base is installed, it's @shoutem/theme dependency gets installed from our GitH

[2017-04-12 22:06] kitsune7 commented on #730
I've been having the same issue. I managed to get the input fields working again after tinkering with them for a few hours, but it was a pain and I'm still having the same issue with other types of input.

They're still there if we are, in fact, having the same problem. Try adding a style to it like `style={{ borderWidth: 1, borderColor: '#2ac' }}` to make it show up so you can at least see it.

[2017-04-12 23:54] jasonnathan commented on #323
@PhiSpindler `setColor` is not a function

[2017-04-13 03:52] leyuan commented on #730
@kitsune7 yeah man, I am expecting this to get fixed soon!

[2017-04-13 04:10] vkyii commented on #736
there is a way to do this:
1. [eject theme](https://docs.nativebase.io/CUSTOMIZE.html#Theming_NativeBase_Apps) if you do not eject before (Run `node node_modules/native-base/ejectTheme.js`)
2. edit `appRoot/native-base-theme/components/TabContainer.js`,set `borderBottomWidth: 0`

Note that this will affect all Tabs

[2017-04-13 04:38] ErkanSensei commented on #705
Same for me on iOS

[2017-04-13 05:53] zuojianjian opened #741 "'shoutem/animation' is not in the npm registry."
and i am try npm install --save @shoutem/ui but fail
error log:
npm ERR! addLocal Could not install shoutem/ui
npm ERR! Error: ENOENT: no such file or directory, stat 'D:\workdir\reactdir\PracticeRN\shoutem\ui'

[2017-04-13 07:24] mcpracht commented on #736
Thanks! That did it.

[2017-04-13 07:24] #736 closed

[2017-04-13 07:30] shivrajkumar commented on #741
@zuojianjian `npm install --save @shoutem/ui` and `npm install --save @shoutem/animation` seems to work fine. Do check again and let know on which condition are you facing the issue

[2017-04-13 07:38] himanshu-satija commented on #690
@mcapodici Try `npm uninstall native-base @shoutem/theme && npm i native-base` and let me know if it works.

[2017-04-13 08:10] iiitmahesh commented on #12
@sankhadeeproy007 @s2t2 How to add custom font icons to native base or [react native vector icons ](https://oblador.github.io/react-native-vector-icons/) icon set??

[2017-04-13 08:27] mcapodici commented on #690
@himanshu-satija thanks for the tip.

That didn't work unfortunately either.

For further information I get this every time I do npm install:

[code]

And this is my package.json:

[code]

[2017-04-13 09:03] GeekRishabh commented on #707
@clayboyd npm install @expo/vector-icons --save seems to work fine. Do check again and let know for which conditions are you facing the issue.share the NB, react & RN version you are using.

[2017-04-13 09:19] GeekRishabh commented on #701
@Wu4D  All you need to do is to reload the app .seems to work fine. Do check again .

[2017-04-13 09:39] GeekRishabh commented on #718
@obykoo seems to work fine.even without width .

[2017-04-13 10:34] shivrajkumar commented on #738
@lashae You need to add `input.js` https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Input.js in your theme and include that in `index.js`.

[2017-04-13 10:39] shivrajkumar commented on #737
@arunkumarrmrj You can change the size in  your theme https://github.com/GeekyAnts/NativeBase/blob/v0.5.13/Components/Themes/light.js#L77

[2017-04-13 10:41] lashae commented on #738
@shivrajkumar My ejected NB theme/components folder doesn't have this `Input.js` file. Is it normal?

[2017-04-13 11:30] PhiSpindler commented on #323
oh ok, my bad - I only tested it on android, there it worked

[2017-04-13 12:01] shivrajkumar commented on #735
You can do `<Content  contentContainerStyle={{ justifyContent: 'center', flex: 1  }}>`

[2017-04-13 12:03] oximer commented on #684
https://facebook.github.io/react-native/docs/text.html

Text doesn't have a property onPress. You should wrap it on something clickable, like a TouchableHighlight or a Button.

[2017-04-13 12:15] GeekRishabh commented on #687
@LeoAref @kidnapkin seems to work fine. Do check again and let know for which conditions are you facing the issue.

[2017-04-13 12:29] GeekRishabh commented on #737
@arunkumarrmrj  checkout the [compatibility](https://docs.nativebase.io/docs/Compatibility.html ) of NB too with react and RN

[2017-04-13 12:34] shivrajkumar commented on #734
@yovierayz You will need to apply some width to the picker.

[2017-04-13 12:44] parkerproject commented on #692
same issue here, I might just build my own form

[2017-04-13 12:46] GeekRishabh commented on #538
@acamenhas before upgrading NB checkout the [compatibility](https://docs.nativebase.io/docs/Compatibility.html) and upgrade the react and RN package too .
 you can follow the step from [here]( http://nativebase.io/docs/v2.0.0/migration)

[2017-04-13 12:51] GeekRishabh commented on #731
@tishad770 have a look [here](https://github.com/GeekyAnts/NativeBase-KitchenSink) .you can get an idea how to deal with tab .

[2017-04-13 13:05] GeekRishabh commented on #634
@ghjer @manukn  you guys  might have got the error as you may have copied down the code and then running it .
try it writing instead of copy.

[2017-04-13 13:09] GeekRishabh commented on #501
@rohithramachandran @trevor-coleman @osolano [here](https://nativebase.io/sketch-template) is the sketch template.

[2017-04-13 13:11] shivrajkumar commented on #730
@leyuan @kitsune7 You need to add input.js https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Input.js in your theme and include that in index.js.
Let me know if it works

[2017-04-13 13:14] #728 closed

[2017-04-13 13:17] #725 closed

[2017-04-13 14:05] shivrajkumar commented on #724
@HyperSimon `noShadow`/`hasTabs` prop to the header should do the trick.
Let me know if it doesn't work. And do specify the version of NativeBase.

[2017-04-13 14:12] oximer commented on #711
You should update the react native on the package.json. It actually, now getting the 0.43, but default. Thus, the node_module continues with ".js" and it causes a error for compiling.

[2017-04-13 14:21] GeekRishabh commented on #739
@tranren it seem to work fine .Please share the code snippet and the version of NB ,React and RN that you are using .

[2017-04-13 14:27] shivrajkumar commented on #721
@AshCoolman You can eject nativebase theme and customize it as per your requirements.
You can just edit and use your own style in the ejected theme or add new props with new set of style rules to a component.

[2017-04-13 14:36] shivrajkumar commented on #738
@lashae It seem to work fine for me.
Do you have `input.js` https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Input.js in your ejected theme and is it included in theme `index.js` this way https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/index.js#L77

[2017-04-13 14:49] lashae commented on #738
@ahivrajkumar Strangely I hadn't but I added after your emphasis. However it didn't make any difference.  I also tested on a real device however it didn't make sense.

Do we both have the exact version of React, RN and NB? If so, how can we proceed to debug?

[2017-04-13 15:07] GeekRishabh commented on #700
@joaofranca
[code]
The above should work fine for you .

[2017-04-13 16:00] GeekRishabh commented on #629
@iambanh2 @iiitmahesh what you guys can do is to add

[code]
in the native-base-theme/components/Item.js
It worked for me .Give it a try .

[2017-04-13 16:57] joaofranca commented on #700
@GeekRishabh Thank you for the response. That indeed solves the text problem, but messes with  the picker back button functionality. How can I set it to be dismissed?

[code]

[2017-04-13 18:11] iMokhles commented on #245
@allanesquina example working well but it's lagging unfortunately :(

[2017-04-13 18:48] pkassonss opened #742 "Is there anyway to have a global style.js, and not one for each screen ?"
Been trying out the starter kit and the kitchen sink examples and they are great.

However, each screen 'folder' has an included style ... I would expect there is an easy way to have a global style for all, much like in web dev ... and that if desired, the folder style could override?

[2017-04-13 21:56] kitsune7 commented on #730
Customizing the theme didn't do too much to fix the problem (although I was glad to get some more control over things...), but I managed to get everything working again.

There was a parent component with an `alignItem: 'center'` property that was screwing things up. I'd suggest playing around with some styles on the parent components.

[2017-04-14 04:33] GeekRishabh commented on #742
@pkassonss what you an do is eject out theme using ```node node_modules/native-base/ejectTheme.js ``` and make changes in the component style as per your need . if you want to customize it in only few component then you have to include different style file .

[2017-04-14 06:13] GeekRishabh commented on #692
@elinlindberg @parkerproject seems to work fine . Try again and let know if issue exist .

[2017-04-14 06:43] #660 closed

[2017-04-14 07:12] #419 closed

[2017-04-14 07:29] HyperSimon commented on #718
input not clicable on iOS but work on Android too here

[code]

[2017-04-14 07:29] GeekRishabh commented on #676
@flyjennyetn seems to work fine . For more look [here](https://github.com/APSL/react-native-keyboard-aware-scroll-view/issues/82). Internally NB use [react-native-keyboard-aware-scroll-view](https://github.com/APSL/react-native-keyboard-aware-scroll-view) . So you can use the props of Keyboard-aware-scroll-view .

[2017-04-14 07:44] shivrajkumar commented on #424
Closing this due to inactivity. Do let me know if #445 doesn't help.

[2017-04-14 07:44] #424 closed

[2017-04-14 07:53] GeekRishabh commented on #672
@zash80  we will  fix this. For time being you can do  ```  <Right style={{ top: -3}}> ```.

[2017-04-14 08:07] shivrajkumar commented on #430
v2.x should solve the issue for you.

[2017-04-14 08:07] #430 closed

[2017-04-14 08:08] shivrajkumar commented on #438
Closing the issue due to inactivity. Do let me know if the above doesn't solve the issue.

[2017-04-14 08:08] #438 closed

[2017-04-14 08:11] shivrajkumar commented on #439
Closing the issue due to inactivity.

[2017-04-14 08:11] #439 closed

[2017-04-14 09:21] GeekRishabh commented on #718
@HyperSimon
![issue](https://cloud.githubusercontent.com/assets/23093075/25039576/ce3e94ce-2121-11e7-8484-e5145d246131.gif)
it seem to work fine . Try out again .

[2017-04-14 09:34] GeekRishabh commented on #696
@DannyAziz
![issueheader](https://cloud.githubusercontent.com/assets/23093075/25039843/87ab400a-2123-11e7-820a-64d0cb207a33.gif)

[code]
Try the above will work for you .

[2017-04-14 09:50] GeekRishabh commented on #708
@iambanh2 @fbacker seems to work fine .
![issueitem](https://cloud.githubusercontent.com/assets/23093075/25040256/cd4971f2-2125-11e7-84e8-bed7d567fcdf.gif)

[2017-04-14 10:25] huyta opened #743 "Deck Swiper Not Update when change datasource"
[code]

[code]

[code]

[2017-04-14 12:12] GeekRishabh commented on #683
@patrickalbani seems to work fine .
![issuetab](https://cloud.githubusercontent.com/assets/23093075/25042941/b4d89512-2139-11e7-88a0-670d8d871a14.gif)

[2017-04-14 12:36] GeekRishabh commented on #463
@manfredxu99 @bgdavidx @joinjoohny you guys can try
[code]
the above will work for you .

[2017-04-14 12:39] #661 closed

[2017-04-14 12:43] #450 closed

[2017-04-14 12:43] #451 closed

[2017-04-14 12:51] shivrajkumar commented on #594
Fixed.

[2017-04-14 12:51] #594 closed

[2017-04-14 12:55] shivrajkumar commented on #645
http://docs.nativebase.io/docs/GetStarted.html#Quick_Setup

[2017-04-14 12:55] #645 closed

[2017-04-14 12:55] pkassonss commented on #742
Sorry, not following.  Are you saying there to use a base style sheet in this base folder and somehow it will be 'global' ?

[2017-04-14 12:58] shivrajkumar commented on #458
v2.x solves this.

[2017-04-14 12:58] #458 closed

[2017-04-14 12:59] shivrajkumar commented on #457
Use version 2.x

[2017-04-14 13:13] nixalite commented on #463
not working for me too. Same issue.
"native-base": "^2.1.1",
 "react-native": "0.43.2",

[2017-04-14 13:48] pkassonss opened #744 "Some things not working with NativeBase"
Using:

    "native-base": "^2.1.0",
    "react": "^16.0.0-alpha.6",
    "react-native": "^0.43.3",

But, things like Toast.show not working -

Unhandled JS Exception: undefined is not an object (evaluating '_nativeBase.Toast.show')

Using following code (source example, copied from the website)

                <Button onPress={()=> Toast.show({
                    text: 'Wrong password!',

[2017-04-14 14:30] GeekRishabh commented on #463
@nixalite if you have ejected NB theme, you need to merge it with the new theme as the older theme doesn't have input component  theme . you can add  [input.js](https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/Input.js) in your ejected theme and include it  in theme index.js [this way](https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/index.js#L77)

[2017-04-14 14:33] #586 closed

[2017-04-14 14:53] parkerproject commented on #692
Did you make an update that we need to pull or something? What version are you using?

[2017-04-14 15:27] #706 closed

[2017-04-15 01:37] Symous commented on #735
yes,friend,it truly worked,but imagine this kind of situation,I have a List in Content to display some items and there should have a  picture in the center of the screen to remind the user when there is no item in List.
If we user <Content contentContainerStyle={{ justifyContent: 'center', flex: 1 }}>,the List will display in the center. Is there any elegant way to do this?such as add a property

[2017-04-15 05:20] sankhadeeproy007 commented on #735
`<Content contentContainerStyle={{ justifyContent: (condition for showing picture) ? 'center' : undefined, flex: (condition for showing picture) ? 1 : undefined }}>`

[2017-04-15 05:20] #735 closed

[2017-04-15 10:50] daniel-van-niekerk commented on #556
Using this.refs.myList._root.root.scrollTo({x: 0, x: 0, animated: true}) worked for me. Note the extra root.

[2017-04-15 10:50] daniel-van-niekerk commented on #555
Using this.refs.myList._root.root.scrollTo({x: 0, x: 0, animated: true}) worked for me. Note the extra root.

[2017-04-16 00:31] csjcode commented on #717
Same problem here... I moved to react-native 0.43, upgraded nativebase  and it broke my project. Instructions above for using the react alpha branch didn't work for me.

Now, I got my app working again by reverting to 0.42 and reinstall native-base back to 2.0.12 (as later versions seem to require 0.43).

[2017-04-16 05:44] dylannlaw commented on #734
It works after adding width to the picker.

[2017-04-16 09:10] LeoAref commented on #687
@GeekRishabh I'll try to check it next week and get back to you.

[2017-04-16 10:15] uriva opened #745 "mutiline textinput has only one row"
Using `multiline` works, but it still appears as 1 line (even when using `numberOfLines`)
[code]

[2017-04-16 13:21] juslintek commented on #556
@daniel-van-niekerk, yes it does, because it is ListView method, not ScrollView. ScrollToEnd or onEndReached is scrollView methods, so they do not get back references from ListView reference. That why you need reference to _scrollComponent from ListView, so you could access ScrollView methods.

[2017-04-16 14:43] acomito opened #746 "Adding native-base crashes expo projects?"
## react-native, react and native-base version

List prior to adding native-base (when app was working as expected):

[code]

## Steps to reproduce issue with fresh expo project

- create new expo project from expo XDE
- send link to iphone via email
- click link via email, open app on iphone
- app works
- npm i -S native-base
- app works
- `import { Button } from 'native-base';` in main.js
- app

[2017-04-16 19:38] KidkArolis commented on #746
I get this error:
[code]

[2017-04-17 03:34] #695 closed

[2017-04-17 05:26] shivrajkumar commented on #746
@acomito @KidkArolis If you are on RN < 43, you need to go for Nativebase v2.1.0
The latest of Nativebase supports RN > 43.
https://github.com/GeekyAnts/NativeBase/releases/tag/v2.1.1

[2017-04-17 05:33] GeekRishabh commented on #746
@acomito in render function you are trying to call <Exponent.Components.AppLoading/> instead use <Expo.Components.AppLoading/>; . we suggest you to use [CRNA](https://github.com/react-community/create-react-native-app)
you can have a quick look [here](https://github.com/GeekyAnts/NativeBase-KitchenSink)

[2017-04-17 05:39] shivrajkumar commented on #745
@uriva You need to provide height for the input

[2017-04-17 05:44] GeekRishabh commented on #744
@pkassonss seems to work fine make sure that you are following the [Compatibility Modes](https://docs.nativebase.io/docs/Compatibility.html) .
![toast](https://cloud.githubusercontent.com/assets/23093075/25080012/05b3a5fe-235f-11e7-9ac0-95f58eba3e7a.gif)

[2017-04-17 05:53] shivrajkumar commented on #475
@kuzyk Moving the styles const out of the class should resolve your issue.

[2017-04-17 05:53] #475 closed

[2017-04-17 05:56] shivrajkumar commented on #478
http://docs.nativebase.io/docs/release-notes/Release.html

[2017-04-17 05:56] #478 closed

[2017-04-17 05:57] shivrajkumar commented on #481
http://docs.nativebase.io/COMPONENTS.html#Picker

[2017-04-17 05:57] #481 closed

[2017-04-17 05:58] #497 closed

[2017-04-17 06:19] shivrajkumar commented on #530
Nativebase docs is now moved to GitBook. So you won't facing any issue of coping any redundant/rouge code with GitBook.

[2017-04-17 06:19] #530 closed

[2017-04-17 06:23] #538 closed

[2017-04-17 06:25] #547 closed

[2017-04-17 06:34] GeekRishabh commented on #742
@pkassonss if you want to provide style to NB components then what you can do is eject out theme using ```node node_modules/native-base/ejectTheme.js ```and make changes in the component style as per your need .and if you want to provide style to RN component then what you can do is create another folder in the main directory of your app or anywhere in your app (as per you) and import the style fr

[2017-04-17 06:54] GeekRishabh commented on #692
@parkerproject I am using the below dependencies
`
 "native-base": "2.1.0",
    "react": "~15.4.2",
    "react-native": "0.42.3",
`

[2017-04-17 07:04] shivrajkumar commented on #702
This seem to work fine.
The issue is may be due to ejected theme.
 If you had ejected the theme with v2.0.7, you need merge the new theme of v2.1.0 with it.
We are looking into ways to merge new themes with the old ones in a easier way. But for now you will have to do it manually.
Let me know if it works.

[2017-04-17 07:04] #702 closed

[2017-04-17 07:06] #650 closed

[2017-04-17 07:34] #696 closed

[2017-04-17 07:38] shivrajkumar commented on #552
The new docs which is now in GitBook is much improved and resolves most of these issue and confusion. If not all. http://docs.nativebase.io/

[2017-04-17 07:38] #552 closed

[2017-04-17 07:48] shivrajkumar commented on #559
Closing this issue, as this doesn't seems to happen with the newer versions.

[2017-04-17 07:48] #559 closed

[2017-04-17 07:54] shivrajkumar commented on #684
Seem to work fine for `onPress` of `<Text>`
![header](https://cloud.githubusercontent.com/assets/17001305/25082891/2a5f4f36-2371-11e7-9ca4-ee3d6ebe9192.gif)

[2017-04-17 07:54] #684 closed

[2017-04-17 08:00] himanshu-satija commented on #742
@pkassonss In [KitchenSink app](https://github.com/GeekyAnts/NativeBase-KitchenSink), `native-base-theme` folder contains the ejected theme which will be applied globally if you wrap your root component with `StyleProvider` from native-base.

See how StyleProvider is used [here](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/js/AppNavigator.js)

Get more info [here](https://docs.n

[2017-04-17 08:49] yovierayz commented on #734
@shivrajkumar ok it's works, tq :)

[2017-04-17 08:49] #734 closed

[2017-04-17 09:37] shivrajkumar commented on #593
Performance issue resolved in v2.1.0

[2017-04-17 09:37] #593 closed

[2017-04-17 09:41] shivrajkumar commented on #598
@Norfeldt @bluedusk If you had ejected the theme with your previous version and have upgraded the latest of NativeBase, you need to merge the old theme with the new theme.
That will resolve your issue.
Let me know if it works.

[2017-04-17 10:09] #623 closed

[2017-04-17 10:13] shivrajkumar commented on #631
Performance improved with v2.1.0

[2017-04-17 10:13] #631 closed

[2017-04-17 10:14] redwind opened #747 "Dynamic add theme attribute to component"
## react-native, react and native-base version
`"native-base": "^2.0.13",
    "react": "15.4.2",
    "react-native": "^0.42.2",`
## Expected behaviour
Sory for this issue request, but i don't know how to dynamic component theme attribute base on value. For example
`<Button small
 onPress={() => onPressButton()}

        <Text >{onText}</Text>
      </Button>`
and i want to dynamic add "light" attr

[2017-04-17 10:14] himanshu-satija commented on #704
Shoutem is used as a theming engine in `native-base`. We have [forked](https://github.com/GeekyAnts/theme) it and customized according to our needs but usage mostly remains same.

For usage with native-base, following the [docs](https://docs.nativebase.io/CUSTOMIZE.html#Theming_NativeBase_Apps) should be enough.

To get more info, you can check shoutem theme documentation [here](http://shoutem.git

[2017-04-17 10:24] shivrajkumar commented on #747
@redwind applying boolean conditions on the prop should do the trick for you.
Something like this
<Button light={(condition) ? true : false}>
Let me know if that works for you.

[2017-04-17 10:27] #634 closed

[2017-04-17 10:36] shivrajkumar commented on #636
Closing the issue as it seem be resolved.

[2017-04-17 10:36] #636 closed

[2017-04-17 10:47] shivrajkumar commented on #665
This seem to work in the newer releases v2.1.x.
Let me know if it works.

[2017-04-17 10:59] redwind commented on #747
@shivrajkumar it's work.

Thank so much !

[2017-04-17 10:59] #747 closed

[2017-04-17 11:05] shivrajkumar commented on #574
We are looking into the issue. As a workaround for now, you can wrap the child component of TouchableHighlight into a RN `<View>`.

[2017-04-17 11:15] #672 closed

[2017-04-17 11:17] shivrajkumar commented on #675
Fixed in newer versions.

[2017-04-17 11:17] #675 closed

[2017-04-17 11:18] #676 closed

[2017-04-17 11:34] shivrajkumar commented on #683
Closing the issue as this seem to be resolved in the newer versions.
Let me know if you are still stuck with the issue.

[2017-04-17 11:34] #683 closed

[2017-04-17 11:38] shivrajkumar commented on #685
Documentation moved to GitBook http://docs.nativebase.io/

[2017-04-17 11:38] #685 closed

[2017-04-17 11:45] shivrajkumar commented on #688
@davidhenley try applying the prop `tabBarPosition="bottom"`.
`<Tabs tabBarPosition="bottom">`
Let me know if it works

[2017-04-17 12:20] acomito commented on #746
Thanks @GeekRishabh. Looks like it's a version thing as cited by @shivrajkumar. I'll try using 2.1 for now.

[2017-04-17 12:20] #746 closed

[2017-04-17 12:40] GeekRishabh commented on #744
@pkassonss  If you are on RN < 43, you need to go for Nativebase v2.1.0
The latest of Nativebase supports RN > 43.
https://github.com/GeekyAnts/NativeBase/releases/tag/v2.1.1

[2017-04-17 13:00] #694 closed

[2017-04-17 13:09] shivrajkumar commented on #701
Closing the issue as the above solution should work.
Let me know if it doesn't.

[2017-04-17 13:09] #701 closed

[2017-04-17 13:09] #704 closed

[2017-04-17 13:15] #714 closed

[2017-04-17 13:18] #720 closed

[2017-04-17 13:28] #727 closed

[2017-04-17 13:35] #618 closed

[2017-04-17 13:36] #737 closed

[2017-04-17 13:49] himanshu-satija commented on #690
@mcapodici Try with NativeBase v2.1.2. If you had ejected native-base-theme earlier, try ejecting again.

If you're still facing issues, please post a code snippet.

[2017-04-17 14:44] pkassonss commented on #744
From what I can tell, I am on the correct version of all things:

    "native-base": "^2.1.0",
    "react": "^16.0.0-alpha.6",
    "react-native": "^0.43.3",

I just applied the proper code as you suggested, but it still did not work.

[2017-04-17 15:03] himanshu-satija commented on #744
@pkassonss Are you using `Toast` inside `Container`.

From [docs](https://docs.nativebase.io/COMPONENTS.html#Toast)
`Note: For Toast to work, it has to be called inside Container.`

One more thing, use native-base>=2.1.1 with RN >= 0.43

[2017-04-17 15:44] pkassonss commented on #744
I have put Toast inside a Container:

...

                <Button onPress={()=> Toast.show({
                    text: 'Wrong password!',
                    position: 'bottom',
                    buttonText: 'Okay',
                    duration: 3000
                   })}>
                   Toast
                </Button>

                <Text style={styles.italicBold}>
                   {t

[2017-04-17 16:29] allanesquina commented on #245
Hey @iMokhles, how's going?
I don't know how you have structured your app, but maybe could be a good idea to extract that part to a new component, so that you can use  `shouldComponentUpdate` to avoid unnecessary re-rendering. This is just an idea, I'm not working with React Native anymore.

[2017-04-17 17:09] philohelp commented on #626
Yes onSwipe={(index) => console.log('new card is selected',index)} would be a huge gain !

[2017-04-17 17:18] pkassonss opened #748 "InputGroup does not support dynamic styling"
Per the FB spec, component styling can support styling like this:

{[styles.input, this.state.userNameInvalid && styles.inputError]}

where, if the second block (userNameInvalid) is true, the component will use the 2nd style.  I can no get this to work with InputGroup, but, perhaps there is a better way to do what I am trying:

1.  perform simple text field validation and highlight the field and o

[2017-04-18 03:19] bherila commented on #693
Also missing `NativeBaseComponent`

[2017-04-18 03:46] HyperSimon commented on #718
@GeekRishabh Thanks.In my case is that the following layout covers the input box, causing the input box to be clickable.

[2017-04-18 04:50] rostyys opened #750 "Multiple Arrays in Dynamic List"
Hello, I'm wondering if there is a way to iterate through more than one array when creating a dynamic list?

e.g.

[code]

Could this be done? What's the correct syntax because the above doesn't work! Any help would be much appreciated.

[2017-04-18 12:52] Symous opened #751 "How to change primary color at once."
Is ther any way to enable us to change the primary colr one-time instead of using lots of <StyleProvider>?

[2017-04-18 14:47] claudioscheer commented on #739
This is my code:
[code]

The first time that I call the `ActionSheet.show()`, it's work fine.

But, when the `ActionSheet` is closed, and is called for the second time `ActionSheet.show()`, this error occurs.

![error](https://cloud.githubusercontent.com/assets/15161569/25136907/a4c73156-242c-11e7-99fe-fececd59306b.PNG)

[2017-04-18 14:50] joaofranca commented on #739
Have exactly the same problem, the crash only occurs after navigating (push), going back and hitting ActionSheet.show again. Tested on iOS.

[2017-04-18 17:05] Norfeldt commented on #598
I have deleted the ejected theme and it's still an issue

![screen shot 2017-04-18 at 19 03 27](https://cloud.githubusercontent.com/assets/678806/25143172/c6c61b68-2469-11e7-8475-c0a8967937ed.png)
[code]

[2017-04-18 17:12] stonecold123 commented on #739
@joaofranca  Yes, I'm getting the exact error `Cannot read property "_root" of null`. The first time it works fine, but it throws the error after navigating back to the page from the actionsheet.

[2017-04-18 19:21] uriva commented on #745
Ok, then the docs should mention that

[2017-04-18 19:27] fbacker commented on #708
@GeekRishabh if you add this to the **Input**

    value={this.state.selected1}

now when running it should have moved 'Förnamn' up and written 'key1' in the input. This does not happen :(

[2017-04-18 19:54] kheide opened #752 "undefined is not an object (evaluating 'variables.platformStyle')"
On the following;

`    "native-base": "^2.1.2",
    "react": "16.0.0-alpha.6",
    "react-native": "^0.43.3",`

Getting this error every time I use the `<StyleProvider>` tag. Thus not being able to style anything.

[2017-04-18 21:28] frozenxis commented on #708
i have the same problem. pre-filled inputs with floatingLabel doesn't floatUp the label

[2017-04-18 21:58] acomito opened #753 "Possible to have a card that is longer in height than the screen?"
I have a card that seems to cut off CardItems whenever the card grows in length longer than the screen.

e.g.

[code]

If the description happens to be long, the bottom `<CardItem/>` will disappear. I thought `<Content/>` was equivalent to `<ScrollView/>` but I must be missing something. If I break it up into multiple Cards, then everything shows up and the screen lets you scroll down:

[code]

[2017-04-18 22:11] brentvatne commented on #645
🚀

[2017-04-19 00:30] Symous commented on #751
yes , I know this , but can I change the primary color without using a StyleProvider? because it is too complicated to change every page of my program.

[2017-04-19 01:10] acomito commented on #753
I missed a few important props in the docs and also switched over to CardItems instead of View tags, which seemed to help.

[2017-04-19 01:10] #753 closed

[2017-04-19 02:05] acomito commented on #668
I'm having a similar issue where my final CardItem in a card is always pushed off screen. Im testing on an iphone 7+

[2017-04-19 02:08] chibeepatag commented on #103
Is it possible to know which is the currently active tab?

[2017-04-19 04:27] GeekRishabh commented on #752
@kheide can you share the code snippet .It will be easy to debug .and help you

[2017-04-19 10:59] Symous opened #754 "How to add onLongPress to ListItem"
Hello,I edited the ListItem.js in src/basic to support longpress , but it still not working when I do LongPress on ListItem. Is there any way to using longpress ? Thanks.

[2017-04-19 11:02] Symous commented on #751
Allright,I have add StyleProvider to the entrance js file (such as index.android.js) of the program so that I will not need to add StyleProvider to any page of my program.Thank u!

[2017-04-19 11:02] #751 closed

[2017-04-19 11:15] sankhadeeproy007 commented on #722
@shivrajkumar Can you take a look at this? Should be very straight forward.

[2017-04-19 11:36] rohithramachandran commented on #501
@GeekRishabh Wow... this looks cool... but i am running linux :(
@sanketsahusoft Only problem i am having while developing with native base is lack of sample codes.But now it seems docs are getting better each day.. Great work dude. :+1:

[2017-04-19 12:16] #722 closed

[2017-04-19 16:55] jsheng08 commented on #705
I face the same problem and I fixed it with a temporary hack.

1) Eject the theme using.
`node node_modules/native-base/ejectTheme.js`

2) Import the variables found in the theme to the component.
`import variables from '../../native-base-theme/variables/platform';`

3) Add the textStyle and activeTextStyle to every Tab so that it updates accordingly.
[code]

Hope this helps. It works for both And

[2017-04-19 18:44] shivrajkumar commented on #463
Closing the issue as the above should resolve the issue in v2.x
Let me know if it doesn't

[2017-04-19 18:44] #463 closed

[2017-04-19 18:48] OmriAharon opened #755 "Can't Use SimpleLineIcons"
I've gone over all issues, and nothing worked for me.
I'm trying to use the `like` icon from SimpleLineIcons but I keep getting a question mark.

## react-native, react and native-base version
RN: 0.43.3
NB: 2.1.2

## Expected behaviour
I see the Like Icon when using this:
[code]
## Actual behaviour
I see a question mark.

## Steps to reproduce (code snippet or screenshot)
![image](https://cloud.g

[2017-04-19 18:54] shivrajkumar commented on #578
Closing the issue as it works fine with the newer versions

[2017-04-19 18:54] #578 closed

[2017-04-19 19:34] #629 closed

[2017-04-19 20:00] #707 closed

[2017-04-19 20:04] #724 closed

[2017-04-19 20:08] #730 closed

[2017-04-19 20:10] #741 closed

[2017-04-19 20:25] shivrajkumar commented on #748
@pkassonss #575

[2017-04-20 03:21] vkyii commented on #702
1. change `"@shoutem/theme": "git+https://github.com/GeekyAnts/theme.git#caching"` to `"@shoutem/theme": "git+https://github.com/GeekyAnts/theme.git"` in file `node_modules/native-base/package.json`
2. `npm i`
Then everything is OK.

[2017-04-20 06:29] Nygma297 opened #756 "The Separator doesn't render inside a listItem"
## Code
[code]
## Version Information
react-native: 15.4.2
react: 0.42.0
native-base:^2.0.11
## Expected behaviour:
Separator on top and list data at the bottom
## Actual behaviour:
Error Adjacent JSX elements should be in an enclosing tag
## Screenshot of emulator/device
![screenshot_20170420-115013](https://cloud.githubusercontent.com/assets/24607243/25216541/cc10f072-25c0-11e7-83db-87378e23f643

[2017-04-20 06:45] feelinc opened #757 "Unable to change Tabs border bottom color"
## react-native, react and native-base version
"native-base": "^2.1.2",
"react": "16.0.0-alpha.6",
"react-native": "0.43.3",

## Expected behaviour
Able to change the bottom border color.

## Actual behaviour
The bottom border color always appear in white color.

## Steps to reproduce (code snippet or screenshot)
[code]

## Screenshot of emulator/device
![selection_296](https://cloud.githubusercon

[2017-04-20 06:57] shivrajkumar commented on #757
@feelinc it should be `tabBarUnderlineStyle: { backgroundColor: '#f65857' }`

[2017-04-20 07:01] feelinc commented on #757
@shivrajkumar still not working. re-compiled and restart the npm, but still not working.

[2017-04-20 08:20] Nygma297 commented on #756
Added a View Tag around the List... Worked like a charm

[2017-04-20 08:21] #756 closed

[2017-04-20 09:28] Symous opened #759 "Very slowly perfermance when there is some ListItem in one page."
Hi ,there are some ListItem(about 6-7) in one page of my program(Android Platform),And I found that when I click a button to enter this page(with some ListItem),it will have a 1-3 scends delay before I totally enter the page, And the switch animation is not smooth enough too.

And after that I have made a custom ListItem component of myself and replace the ListItem of nativebase,when I test to pre

[2017-04-20 14:22] bishbashbosh123 commented on #717
I've spent a while getting my build stable again too.  I've managed to settle for:
[code]
I previously had: `"native-base": "^2.1.0",`

[2017-04-21 01:04] mini-eggs opened #761 "StyleProvider not updating brandPrimary on Picker component"
## react-native, react and native-base version
You can find my package.json [here](https://raw.githubusercontent.com/mini-eggs/Flippour/master/package.json)

## Expected behaviour
StyleProvider is not update brandPrimary on the Picker component.

## Actual behaviour
StyleProvider will update brandPrimary on the Picker component just as it does every other component.

## Steps to reproduce (code sn

[2017-04-21 03:10] maguon opened #762 "React addComponentAsRefTo.... Error"
I use nativeBase :"2.1.2","react": "16.0.0-alpha.6","react-native": "0.43.3",then I bundle index.android.js success,but app can not run in android stimulator.
I get the error :
`addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component'srendermethod, or you have multiple copies of React loaded`
the code :
[code]

[2017-04-21 05:00] leyuan commented on #730
hey @kitsune7
@shivrajkumar 's solution does fix for me.
Thanks!

[2017-04-21 06:57] thienlhh opened #763 "SearchBar not apply styles"
I using the code example on NB documentation for SearchBar component but it seem the styles was not applied correctly:
[code]

When I try to change the styles of ".searchBar", ".rounded" in "native-base-base-theme/components/Header.js" to:

`NativeBase.Item to NativeBase.InputGroup`

then it working fine
## react-native, react and native-base version
"native-base": "2.1.1",
"react": "16.0.0-alpha.

[2017-04-21 07:10] GeekRishabh commented on #763
@thienlhh InputGroup is deprecated from NB 2.X you can use instead Item.
You can have a look [here](https://docs.nativebase.io/COMPONENTS.html#Form) how Item are used .

[2017-04-21 07:16] thienlhh commented on #763
Thanks @GeekRishabh it works, then I think it should have some changes in the documentation and it wont make confusing.

Btw, thank you

[2017-04-21 07:17] #763 closed

[2017-04-21 07:35] iiitmahesh commented on #584
Not working in 2.0.12

[code]

[2017-04-21 07:45] GeekRishabh commented on #584
@iiitmahesh  what version of RN you are using ?

[2017-04-21 08:06] iiitmahesh commented on #584
@GeekRishabh

[code]

[2017-04-21 08:12] pierre-H opened #764 "Content empty"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2017-04-21 09:07] pierre-H commented on #764
I found the problem :
It was because I use react-router and react-redux. In App.js there was the **Provider** component and **NativeRouter**. Then in every route, I added the native base anatomy.
This is **WRONG** : the anatomy page has to be on the App.js like this :
[code]

This is better and logical because with this, you don't have to write the anatomy page on every route.

[2017-04-21 09:07] #764 closed

[2017-04-21 10:26] iiitmahesh commented on #685
@shivrajkumar  Can please share ref link for Switch ??  how to use and different props and styling ....

[2017-04-21 10:36] iiitmahesh commented on #685
@shivrajkumar I think  @jaseemabbas talking about typo in GitBook.

[2017-04-21 10:40] shivrajkumar commented on #685
@iiitmahesh NativeBase Switch internally uses RN Switch https://facebook.github.io/react-native/docs/switch.html
You can use it the same way as RN Switch

[2017-04-21 10:42] iiitmahesh commented on #685
Oh got this. https://facebook.github.io/react-native/docs/switch.html.
I understood why swtich documentation explict  not in native base.

[2017-04-21 11:37] amitbravo opened #765 "can not read property of ‘checkboxBgColor’ undefined"
react": "16.0.0-alpha.6"
native-base": "^2.1.2"
react-native": "0.43.3"

![screen shot 2017-04-21 at 5 05 34 pm](https://cloud.githubusercontent.com/assets/16644357/25275802/bd54028c-26b4-11e7-8ba1-71cde99391e7.png)

Code : <CheckBox checked={true} />

This issue was not exists before I upgraded react-native from .39 to .43.3

[2017-04-21 14:49] shivrajkumar commented on #705
Merge the theme of newer version with already ejected theme of previous version.

[2017-04-21 14:49] #705 closed

[2017-04-22 07:58] fumiyasac opened #766 "Cannot Snapshot test."
I tried to do snapshot test.

But, errror occurs.

https://github.com/fumiyasac/LikeCustomTransition
(I want to do snapshot test about common directory)

[code]

[2017-04-22 08:17] sankhadeeproy007 commented on #766
Invalid. Related to RNRF

[2017-04-22 08:17] #766 closed

[2017-04-22 14:18] CliveTeow opened #768 "Encountered error while trying to customize theme"
react": "15.4.2"
native-base": "^2.0.5"
react-native": "0.41.2"

## Expected behaviour
Able to customize the theme.

## Actual behaviour
Shows error undefined is not a function (evaluating '(0,_color2.default)(this.radioColor).darken(0.2).hexString()')

## Steps to reproduce (code snippet or screenshot)
Follow the steps in the documentation: http://docs.nativebase.io/CUSTOMIZE.html#Theming_NativeB

[2017-04-22 15:17] RichardLindhout commented on #768
You need to change hexString() to string()

[2017-04-22 15:17] RichardLindhout commented on #768
And install npm install color -S

[2017-04-22 16:27] emilbaekdahl commented on #657
Any progress on this? I'm encountering a similar error and it's really bugging me ...

[2017-04-22 16:39] emilbaekdahl commented on #657
@TheMarsGuy A work-around that seems to work is wrapping e.g. `Icon` in the `View` component of `react-native`.

[2017-04-22 17:15] saivyas commented on #103
You can get by initialPage property

      <Tabs initialPage=1}}>
<Tab></Tab>
<Tab></Tab>
<Tab></Tab>
                  </Tab>

[2017-04-22 17:30] RichardLindhout opened #769 "Support for TouchableHighlight (Button now only supports TouchableOpacity on iOS)"
## react-native, react and native-base version
Latest but not relevant for this issue since the Button component can only use TouchableOpacity on iOS.

## Expected behaviour
When I press a button a whiter or darker button than before.

## Actual behaviour
Fades out.

## Steps to reproduce (code snippet or screenshot)
## Screenshot of emulator/device
![Image of issue](https://static.afbeeldinguploa

[2017-04-22 18:15] RichardLindhout commented on #769
I now made this as a solution.

[code]

[2017-04-23 06:22] maxtonsc opened #770 "Very minor issue regarding documentation of Card List"
Hi,
First time submitting an issue so apologies if this isn't the place/correct format.

Noticed that in the documentation of card list on https://docs.nativebase.io/COMPONENTS.html#Card_List the code doesn't ask to import 'Right'. Thus, throwing an issue when the code uses <Right>. I know its an minor issue but figured it may help out.

Love the code base and it's really helping me out with my pr

[2017-04-23 11:06] tishad770 opened #771 "Card Image dooesn't showing properly."
Here is my code:

         <Card key={item['id']} >

              <CardItem cardBody>
                    <Image
                        source={{uri: item['image']}}
                        style={{
                            alignSelf: 'stretch',
                            resizeMode: 'contain',
                            width: Dimensions.get('window').width,
                            mar

[2017-04-23 15:06] omerdn1 commented on #625
@sankhadeeproy007  When are you going to implement FlatList to your code?

[2017-04-23 16:11] rithvikvibhu commented on #771
Same issue

[2017-04-23 16:55] Schwusch commented on #765
react": "16.0.0-alpha.6"
native-base": "^2.1.2"
react-native": "0.43.1"

I'm having the same issue with CheckBox

[2017-04-24 05:26] #688 closed

[2017-04-24 05:27] #690 closed

[2017-04-24 05:28] shivrajkumar commented on #690
Closing this as the above solution should work.

[2017-04-24 05:32] GeekRishabh commented on #771
[code]
@rithvikvibhu @tishad770  the above should work for you guys .try it out

[2017-04-24 05:32] #721 closed

[2017-04-24 05:35] #718 closed

[2017-04-24 05:49] stonecold123 opened #772 "Is it possible to update the theme dynamically via StyleProvider?"
I'm using the latest 2.012 version. I ran `node node_modules/native-base/ejectTheme.js` and cloned two themes from the platform theme, `day` and `dark`. The only difference between the day and dark themes is the text color.

dark.js
[code]

day.js
[code]

The first time the component is mounted, the theme works correctly. However, when I click on a button to dynamically update the theme from `day`

[2017-04-24 05:51] Jasbir23 commented on #770
Hi @maxtonsc , Glad that you brought the issue to our notice. We will fix this asap. In the meanwhile you can import 'Right' from 'native-base'.
Thanks again

[2017-04-24 05:56] tishad770 opened #773 "Flex direction on content not working"
I want to display two images side by side instead of on in the bottom of another. Here is my code :

     <Content style={{flexDirection: 'row', flexWrap: 'wrap'}}>
         <Image
              key={data[0]['id']}
                 source={{ uri: data[0]['image']['url']}}
                 style={{
                      width: Dimensions.get('window').width * 0.2,
                       height: 120

[2017-04-24 06:03] GeekRishabh commented on #773
![screen shot 2017-04-24 at 11 31 37 am](https://cloud.githubusercontent.com/assets/23093075/25324138/abb6d98a-28e1-11e7-902f-2f536118f356.png)
@tishad770 if you are trying for something like the above you can use the library from [here](https://github.com/GeekyAnts/react-native-easy-grid)

[2017-04-24 06:07] tishad770 commented on #773
Temporary Solved. Used **View** instead of **Content**. But the issue remains with Content.

[2017-04-24 06:07] #773 closed

[2017-04-24 07:52] pierre-H opened #774 "[Input] success + floating = label empty"
## react-native, react and native-base version
React-Native : 0.43.4
React : 15.4.0
Native Base : 2.1.2
## Expected behaviour
[code]
Should print a correct floating and success input with the label.
## Actual behaviour
The label is missing/empty : I have to invert Item and InputGroup but then the input is not successful (green).
## Steps to reproduce (code snippet or screenshot)
See the example?
#

[2017-04-24 08:21] Symous opened #775 "a bug of InputGroup in version 2.1.2"
Hi,I update native-base 2.1.2 and I found all of my Input only  display 2-3 characters which is display normally in last version.
this is the code of the input in my program:
[code]

the Item perfermance is same as InputGroup:
[code]

and if I remove the InputGroup or Item like this :
[code]
it will display all characters as excepted.

Please fix this soon , Thanks. :D

[2017-04-24 09:40] stonecold123 commented on #739
This is my error:
Open the action sheet , close, open again and get this error:

![Image of Error](http://i.imgur.com/8pwfGWM.png)

[2017-04-24 09:57] shivrajkumar commented on #775
@Symous If you had ejected the theme with previous version, you need to merge the latest theme with that. With v2.1.1, theme for Input was added separately.

[2017-04-24 10:32] ithieund opened #776 "[Bug] Not fully display on tablets"
Hi,
Anyone try this on tablets?
It is not fully displayed in large device such as tablet (both Android and iOS), the black padding around is too large.

Can you please fix this in next release?
Thanks.

[2017-04-24 10:35] shivrajkumar commented on #776
@ithieund Can you please specify, with what component are you facing the issue and also the versions.

[2017-04-24 10:43] lashae opened #777 "Toast blocks whole screen and prevents interaction without dismissing"
## react-native, react and native-base version
React 16.0.0-alpha.6, React Native 0.43.2, Native Base 2.1.2

## Expected behaviour
Toast shouldn't prevent UI items to be interacted, it shouldn't mask the whole screen. Material design toasts are just small boxes and doesn't require to be dismissed to interact with the UI. Assume you have a login form and you displayed "Incorrect username or passwor

[2017-04-24 11:12] Symous commented on #775
@shivrajkumar Thank you my friend,I have run 'node node_modules/native-base/ejectTheme.js' again and it can display normally both with Item and InputGroup.But if I add property editable = {false} to Input,now the color of the content  is black which is gray in the last version.

[2017-04-24 11:16] shivrajkumar commented on #775
@Symous You can just wrap your app with `StyleProvider` like this http://docs.nativebase.io/CUSTOMIZE.html#Theming_NativeBase_Apps
and do the changes in the theme as you require.

[2017-04-24 11:21] Symous commented on #775
@shivrajkumar Yes I know that I can them the not-allow-editable Input of myself,what I mean is the color in the new version (black) is different from the old version (gray) .And I guess the gray color is more obviously for us to understand that the Input is not editable.

[2017-04-24 13:30] #765 closed

[2017-04-24 13:42] IniZio commented on #320
@alexsegura did you do something like
[code]
? I tried and the clear function works

[2017-04-24 13:53] pierre-H opened #779 "[Form] navigation and submit with keyboard"
Hello,
I'd like to create a form where it's possible to go to the next field directly from the keyboard and send it directly when we are on the last field.
Is it possible ?
It's very common. Now with Native Base, we have to click on every field and then in order to click on the button two times : one for the keyboard dismissing and another one for the submit.

Thank you in advance !

[2017-04-24 14:07] shivrajkumar commented on #716
`native-base-shoutem-theme` published https://github.com/GeekyAnts/theme

[2017-04-24 14:07] #716 closed

[2017-04-24 15:31] pierre-H opened #780 "[Drawer] use of root or _root ?"
## react-native, react and native-base version
React : 16.0.0-alpha.6 - React Native : 0.43.4 - Native Base : 2.1.2
## Expected behaviour
Access to the drawer root like this  `this.drawer.root` ([from the example](https://docs.nativebase.io/COMPONENTS.html#Drawer))
## Actual behaviour
I can't access to the drawer root like this : `this.drawer.root`. I have to use this code `this.drawer._root`.
##

[2017-04-24 15:56] shivrajkumar commented on #780
@pierre-H Yes, the drawer can be accessed with `_root`. The docs seem to have the older code.We will fix this asap. For the time being you can refer this https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/js/AppNavigator.js#L143

[2017-04-24 15:57] pierre-H commented on #780
Thank you !

[2017-04-24 15:57] #780 closed

[2017-04-24 16:09] shivrajkumar commented on #779
@pierre-H https://github.com/facebook/react-native/commit/ab12189f87d8e7fd84a4f1b92fa97e8894e984c7#diff-35d03ce527379518aef0aa3aad098cfa
http://stackoverflow.com/questions/32748718/react-native-how-to-select-the-next-textinput-after-pressing-the-next-keyboar
This should do.

[2017-04-24 16:13] rithvikvibhu commented on #771
@GeekRishabh thanks for that. What about external images?
`source={{uri: food.pic}}` used to work with any url for an image.

[2017-04-24 16:52] ferdingler commented on #771
I had a similar issue just now. The image, when placed inside a Card with a height of 180, will render on the simulator, but not on the device.

`<Card>
    <CardItem cardBody>
        <Image
            source={item.thumbnail}
            style={styles.thumbnail}
        />
    </CardItem>
    <CardItem note>
        <Grid>
            <Row>
                <Text>{item.name}</Text>
            </

[2017-04-24 17:45] sampsasaarela opened #782 "Picker doesn't work in landscape mode"
Picker module doesn't work in landscape mode.

![simulator screen shot 24 apr 2017 20 37 36](https://cloud.githubusercontent.com/assets/1910651/25350459/e680c96c-292d-11e7-8ce4-355ebb3ab6ba.png)

My solution is to add `supportedOrientations` property to the picker and set it to the `Modal`.

Propery is documented [here](https://facebook.github.io/react-native/docs/modal.html#supportedorientations)

[2017-04-24 18:50] sampsasaarela opened #785 "Toast doesn't work in landscape mode"
Toast module doesn't work in landscape mode.

My solution is to add `supportedOrientations` property to the toast and set it to the `Modal`.

Propery is documented [here](https://facebook.github.io/react-native/docs/modal.html#supportedorientations) in react native docs.

[code]

Pull request is here:  #783. Fixes also #782.

[2017-04-24 18:57] amitbravo commented on #341
constructor(props) {
  super(props);
  this.state = {
    categories: null,
    categoryActive: '1',
  }
}

//getting categories list from http request or asyncstorage

updateDropdown(){
      const self = this;
      const all_items = self.state.categories.map((category, i) => {
        return (
            <PickerItem key={i} label={category.cat_name} value={category.cat_id} />
          )

[2017-04-24 18:58] amitbravo commented on #341
`constructor(props) {
  super(props);
  this.state = {
    categories: null,
    categoryActive: '1',
  }
}

//getting categories list from http request or asyncstorage

updateDropdown(){
      const self = this;
      const all_items = self.state.categories.map((category, i) => {
        return (
            <PickerItem key={i} label={category.cat_name} value={category.cat_id} />
          )

[2017-04-24 19:02] amitbravo commented on #341
[code]

[2017-04-24 19:25] ChrisLusted commented on #690
Not sure if it will help anyone else but realised I had this Issue because I was importing the Text component from` 'react-native'` rather than `'native-base' `

[2017-04-25 04:00] CliveTeow commented on #768
@RichardLindhout It works. Thanks.

[2017-04-25 04:00] #768 closed

[2017-04-25 07:10] #447 closed

[2017-04-25 07:44] #748 closed

[2017-04-25 07:56] shivrajkumar commented on #692
Do eject the new theme and merge if you are still facing the issue.

[2017-04-25 07:56] #692 closed

[2017-04-25 08:03] #731 closed

[2017-04-25 08:08] shivrajkumar commented on #738
Can you check if the issue still exist if you do not wrap your app with `StyleProvider`. In that case the app will use theme from `native-base` module.

[2017-04-25 08:10] #742 closed

[2017-04-25 08:19] shivrajkumar commented on #754
@Symous `onLongPress` support has been already added from v2.0.13.
Do check the latest versions.

[2017-04-25 08:19] #754 closed

[2017-04-25 08:28] lashae commented on #738
@shivrajkumar I cannot reproduce the error now. Perhaps somehow 5374e8b has resolved it. You can close the issue, thank you for your assistance!

[2017-04-25 08:45] shivrajkumar commented on #757
@feelinc `tabBarUnderlineStyle` needs to be applied to <Tabs> not <Tab>

[2017-04-25 08:45] #757 closed

[2017-04-25 09:35] #738 closed

[2017-04-25 09:46] feelinc commented on #757
applied to not?

[2017-04-25 09:52] shivrajkumar commented on #757
Ah! my bad.
Applied to `<Tabs>` not to `<Tab>`

[2017-04-25 09:55] feelinc commented on #757
Thanks a lot, it's working :)

[2017-04-25 10:05] ithieund commented on #776
@shivrajkumar ,
First is the footer component, it does not fully display the width while switching from portrait to landscape (both Android and iOS)
![android landscape](https://cloud.githubusercontent.com/assets/4217195/25379877/85fb7a14-29d8-11e7-97dc-6b2055ceb57b.png)

![ipad landscape](https://cloud.githubusercontent.com/assets/4217195/25379892/90943a6a-29d8-11e7-825d-0dde90a7b982.png)

Second

[2017-04-25 11:55] tishad770 opened #786 "Icons not working on iOS"
It states that NativeBase uses https://oblador.github.io/react-native-vector-icons/ for icons. I am trying to use :

`<Icon name ="location">`
But it doesn't work.

What am I missing?

[2017-04-25 12:04] shivrajkumar commented on #786
@tishad770 `location` comes under EvilIcons. To use that either you can import EvilIcons from `react-native-vector-icons` and use it as `<EvilIcons name="location" />`
Or you can change `iconFamily` in ejected theme variable of native-base and use as `<Icons name="location" />`
Let me know how it goes.

[2017-04-25 12:17] fbacker opened #787 "Footer animates above keyboard on Android"
## react-native, react and native-base version

    "native-base": "2.1.2",
    "react": "16.0.0-alpha.6",
    "react-native": "0.43.4",

## Expected behaviour
When focus TextInput footer should stay down as it does in iOS

## Actual behaviour
Footer animates above keyboard input on android

## Steps to reproduce (code snippet or screenshot)
	<Container>
          <Content>

          <H1>VÄLKOMME

[2017-04-25 13:47] didil commented on #612
getting the same issue on iphone 7 plus simulator

[2017-04-25 14:41] pierre-H commented on #591
I have the same problem with `<Item floatingLabel>`
@yeknava could you re-open this issue ?

[2017-04-25 14:51] shivrajkumar commented on #591
For `floatingLabel` try gerRef

[2017-04-25 14:53] pierre-H commented on #591
@shivrajkumar thank you but what's gerRef ?

[2017-04-25 15:53] surikat commented on #603
In native-starter-kit this is how I handled it:
in src/containers/ui/DrawerContainer.js

...

    import { StyleProvider, Container } from 'native-base';
    import getTheme from '../../../native-base-theme/components';
    import platform from '../../../native-base-theme/variables/platform';

...

    <View style={{ backgroundColor: '#000', flex: 1 }}>
        <Container>
            <StyleProvid

[2017-04-25 19:58] Cedrigax commented on #408
Upgrade vector icons to 4.0.0 works for me
`"react-native-vector-icons": "^4.0.0",
`

[2017-04-25 22:17] justfede opened #788 "How to fix tabs on top?"
Hi guys! Can i fix tabs on top (when scrolling)?

I'm using nativebase 2.1

[2017-04-25 22:22] #788 closed

[2017-04-26 01:32] caroaguilar commented on #739
I'm getting the same error with the Toast. I'm in a screen where after a process is successfully, the application pops back to the previous screen and shows a Toast. When showing that toast I'm getting the error.

Versions:
native-base: 2.1.2,
react-native: 0.43.3

<img width="373" alt="screen shot 2017-04-25 at 7 29 22 pm" src="https://cloud.githubusercontent.com/assets/1471138/25414272/e72a168c-

[2017-04-26 03:11] tranren opened #789 "The focus of the input component within the content components lead to double-click the operation button component"
Content components contained within the login components, if the focus in the input component, click on the button component to complete the login twice

[2017-04-26 03:28] n8stowell82 commented on #545
I had a similar issue but when I swipe a card half way and release it can get stuck.  trying to swipe it back out of the way lead to it getting stuck in multiple different ways even bleeding off onto previous scene

[2017-04-26 07:52] rithvikvibhu opened #790 "Scroll issue with container and content"
react-native-cli: 2.0.1
react-native: 0.42.0
native-base: 2.0.13

## Expected behaviour
Scroll with all cards (at least 4)

## Actual behaviour
Cannot scroll completely. Only first 1.5 cards visible

## Steps to reproduce (code snippet or screenshot)
Note: Container has backgroundColor `red` and content has `black`. Helps with identifying in screen capture below.
[code]
## Screenshot of emulator/d

[2017-04-26 07:56] shivrajkumar commented on #744
@pkassonss The starter kit seem to use native-base version v0.5.22
Do check again with the latest version of native-base

[2017-04-26 09:01] stonecold123 commented on #772
Any help please? Is my approach the right way of doing it?

[2017-04-26 09:34] shivrajkumar commented on #772
@stonecold123 Check out https://github.com/GeekyAnts/NativeBase-KitchenSink/tree/v2.0-alpha1
This might help

[2017-04-26 09:57] sr1234 commented on #707
Running into a similar problem when trying to install react-native-elements library:

`tests-MacBook-Pro:swipe samrazi$ npm install react-native-elements --save
npm ERR! Darwin 16.0.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "react-native-elements" "--save"
npm ERR! node v7.0.0
npm ERR! npm  v3.10.8

npm ERR! Invalid name: "@expo/vector-icons"
npm ERR!
npm ERR! If you nee

[2017-04-26 13:00] basequatro commented on #700
Any update on this?

[2017-04-26 13:09] ohtangza commented on #765
We are still getting this issue.
I cannot understand why this was closed without enough testing...

[2017-04-26 13:47] pkassonss commented on #744
Latest version causes this error:

This error is caused by a @providesModule declaration with the same name across two different files.
Error: @providesModule naming collision:
  Duplicate module name: react-native-vector-icons
  Paths: /Users/pkasson/dev/ios/React/r_and_d/native-starter-kit/EveryMan/node_modules/react-native/local-cli/core/__fixtures__/files/package.json collides with
         /U

[2017-04-26 13:49] shivrajkumar commented on #744
The issue is with latest version of `react-native-router-flux`. Not with `native-base`.
Use v3.38.0 of RNRF

[2017-04-26 15:15] pkassonss commented on #744
I am currently using 3.38

[2017-04-26 17:33] sanketsahusoft commented on #772
This line to be specific:
https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/v2.0-alpha1/js/AppNavigator.js#L321

On Wed, Apr 26, 2017 at 3:04 PM, shivrajkumar <notifications@github.com>
wrote:

[2017-04-26 21:38] smooJitter opened #791 "Container flex: to flexGrow error"
I'm using react-native-navigation.

The Container component yields the following error.
`
View was rendered with explicitly set width/height but with a 0 flexBasis.  (This might be fixed by changing flex: to flexGrow:) View:<RCTShadowView: ...>
`
I was able to fixed the problem by using StyleProvider and changing the flex attribute accordingly.  Apparently this was a breaking change to RN .36.

My

[2017-04-27 03:01] Symous opened #792 "a question about Icon"
Hi,friends.

AFAIK, the Icon component in native-base is using 'React Native Vector Icons', but when I try to add a icon, it will not showing if I use the 'MaterialCommunityIcons' which supported by 'React Native Vector Icons'.Any idea about that ? Thanks.

[2017-04-27 03:47] Symous commented on #792
OK,I have figured out why it not showing if I use Icon of 'MaterialCommunityIcons',in the theme variables folder it set Ionicons as default icon. :D

[2017-04-27 03:47] #792 closed

[2017-04-27 08:45] axsann commented on #269
@seymores Add style {flex: 1} to <View>, problem solved.
`
<View style={{flex: 1}}>
<List>
...
<List>
</View>
`

[2017-04-27 09:56] abizden opened #793 "List item is not horizontal"
Hi,

Although I do the following operations, the list items are not listed horizontally. How can I do it?

<List contentContainerStyle={{flexDirection: 'row',flexWrap: 'wrap'}}>
contentContainerStyle={{width: 50}}

[2017-04-27 10:12] shivrajkumar commented on #429
fixed in 2.1.3

[2017-04-27 10:12] #429 closed

[2017-04-27 10:13] shivrajkumar commented on #582
Fixed in v2.1.3

[2017-04-27 10:13] #582 closed

[2017-04-27 10:13] shivrajkumar commented on #571
Fixed in v2.1.3

[2017-04-27 10:13] #571 closed

[2017-04-27 10:14] shivrajkumar commented on #585
Fixed in v2.1.3
Have a look

[2017-04-27 10:14] #585 closed

[2017-04-27 10:15] shivrajkumar commented on #641
Fixed in v2.1.3

[2017-04-27 10:15] #641 closed

[2017-04-27 10:18] shivrajkumar commented on #717
RN > and < 43 dependency issue fixed with v2.1.3
Works for both RN > 43 and RN < 43

[2017-04-27 10:18] #717 closed

[2017-04-27 10:19] shivrajkumar commented on #755
@OmriAharon Check the latest v2.1.3
Fixed

[2017-04-27 10:19] #755 closed

[2017-04-27 10:20] shivrajkumar commented on #719
Fixed with v2.1.3

[2017-04-27 10:20] #719 closed

[2017-04-27 10:21] shivrajkumar commented on #698
Fixed with v2.1.3

[2017-04-27 10:21] #698 closed

[2017-04-27 10:38] #785 closed

[2017-04-27 10:38] shivrajkumar commented on #785
Fixed in v2.1.3

[2017-04-27 10:39] shivrajkumar commented on #782
Fixed in v2.1.3
Take a look

[2017-04-27 10:39] #782 closed

[2017-04-27 11:26] shivrajkumar commented on #715
Fixed in v2.1.3

[2017-04-27 11:26] #715 closed

[2017-04-27 11:30] shivrajkumar commented on #733
Fixed in v2.1.3

[2017-04-27 11:30] #733 closed

[2017-04-27 11:31] shivrajkumar commented on #687
Should work fine with latest version 2.1.3

[2017-04-27 11:31] #687 closed

[2017-04-27 11:32] shivrajkumar commented on #765
Fixed in v2.1.3

[2017-04-27 14:15] AbhishekBiswal commented on #591
@pierre-H Use getRef instead of Ref
Here's a working example:

[code]

[2017-04-27 14:17] AbhishekBiswal commented on #591
@pierre-H
Use getRef instead of ref

Here's a working example:
[code]

[2017-04-27 17:28] Darex1991 opened #794 "Styles for disabled checkbox and disabled text input"
Hi guys,
I wanted to style checkbox with attribute disabled and text input. How can I do this?
I trying using "Theme" files but is not working (maybe my bad).
For these I tried adding new styles into "InputGroup.js" and "CheckBox.js" files:

[code]

"native-base": "2.0.12",
"react": "15.4.1",
"react-native": "0.42.3",

Thanks for any help.
Darek

[2017-04-27 19:11] gustavorozolin opened #795 "Big space between <Left> and <Body> in Header component (NativeBase ^2.1.3)"
I have used this code:
`<Header>
          <Left>
            <Button transparent onPress={() => this.voltar()}>
              <Icon name="arrow-back"/>
            </Button>
          </Left>
          <Body>
            <Title>Title</Title>
          </Body>
        </Header>`

Result:
![screenshot_2017-04-27-16-07-14](https://cloud.githubusercontent.com/assets/1047333/25500106/149e525a-2b64-11e

[2017-04-27 20:56] BrianBelhumeur commented on #739
I'm having the same error. I can open and close an ActionSheet as many times as I want, but when I navigate to another scene and then come back, the ActionSheet throws the error "null is not an object (evaluating 'this.actionSheetInstance._root')".

![simulator screen shot apr 27 2017 1 55 27 pm](https://cloud.githubusercontent.com/assets/225508/25504033/2fe6a980-2b51-11e7-890a-6c1f3a752e33.png)

[2017-04-27 21:20] fkrauthan commented on #627
Same problem for me. I connected form-redux and every time I leave the input the floating label goes back as it assumes the text field is empty.

[2017-04-27 22:11] fkrauthan opened #796 "Weird formatting issue with two form fields"
I am trying to build a very simple login screen. For that purpose I have two fields (email and password). But for what ever reason the layout is off for the two form fields and I can not figure out why.

I use react-navigation for my navigation. I've attached a screenshot that shows the issue. The first form element has a padding on the left but no padding on the right while the form field in the

[2017-04-27 22:19] LordRahl90 commented on #762
+1 Same here....

[2017-04-28 01:42] AbhayVarshney commented on #72
Hi, I am getting this same issue. So for some reason, my app is working perfectly fine when I run it through the emulator. But when I run it on my device, the same error is shown. I have no clue why it works on the emulator but not on the device.

[2017-04-28 04:10] jjant commented on #22
@sanketsahusoft Please do so, it's very annoying to have to see which library we're importing components from to decide how we're going to create style objects.

[2017-04-28 04:16] TomMahle commented on #739
I was having this issue in an app based on https://github.com/start-react/native-starter-kit which plays animations between different pages in the app. Each page had its own container, which worked fine in past versions of the starter-kit, but is now breaking because there are animations in which both containers are briefly onscreen. Because of this, the timeline is:
[code]
As a component unmounts

[2017-04-28 04:47] GeekRishabh commented on #72
@AbhayVarshney If you are using expo/CRNA then you need to import then Ionicons .
somewhat like
[code]
you can have a look [here](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/updated/CRNA/js/setup.js) this will work for you .

[2017-04-28 05:20] shivrajkumar commented on #796
remove prop `last` from the 2nd `Item`

[2017-04-28 05:22] fkrauthan commented on #796
I will give it a try. Besides of that the error message never gets displayed. Any recommendation of how to display error message for floatingLabel inputs?

[2017-04-28 05:22] shivrajkumar commented on #795
You also need to include `<Right />` inside the Header

[2017-04-28 05:22] #795 closed

[2017-04-28 06:04] AbhayVarshney commented on #72
@GeekRishabh I don't use expo/CRNA. Will I need it in order to run it on the device? Is there another option?

[2017-04-28 09:01] ivankashtanov opened #797 "Extracted theme scripts fail to be imported when "color" 1.x package is used in app."
My project uses [color](https://www.npmjs.com/package/color) package as a dependency, the version is 1.0.3.
When I extract NB theme to customize it and then import into my app scripts, it fails.
The reason is that NB uses old version of color package which uses methods removed in 1.x, so when I extract theme and it starts using color module from my dependencies, it calls undefined functions.
Examp

[2017-04-28 12:30] LordRahl90 commented on #583
Please what does the Sidebar Template looks like?? and how do we invoke the  open and close drawer??? I think it will be more appropriate if a link is provided as to what the Sidebar Component might look like...

[2017-04-28 13:06] sankhadeeproy007 commented on #583
Example [here](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/js/AppNavigator.js)

[2017-04-28 13:47] #779 closed

[2017-04-28 15:13] GiacomoK opened #798 "Can't find variable: Header"
Hi,
I tried to add an Header to my view, but I get this error:

Can't find variable: Header

This is my code:

    ...
    import { Container, Content, List, ListItem } from 'native-base';

    class RootContainer extends Component {

        componentDidMount () {
            // if redux persist is not active fire startup action
            if (!ReduxPersist.active) {
                this.props.s

[2017-04-28 15:22] himanshu-satija commented on #798
You have to import all the Native Base components that you are using.

`import { Container, Content, List, ListItem, Header, Button, Icon, View, /* All native-base components used in this file */ } from 'native-base';

[2017-04-28 15:37] GiacomoK commented on #798
Why did you close the ticket? The docs are wrong, change them pls.

[2017-04-28 16:59] sankhadeeproy007 commented on #798
@GiacomoK Did the above solution work for you?

[2017-04-28 17:32] gustavorozolin commented on #795
Thanks for reply @shivrajkumar,

I've made 3 new tests and I got this result:
![screenshot_2017-04-28-14-24-43](https://cloud.githubusercontent.com/assets/1047333/25539843/639398f0-2c1f-11e7-88a2-d79b5d4cbde9.png)
![screenshot_2017-04-28-14-24-32](https://cloud.githubusercontent.com/assets/1047333/25539845/63976778-2c1f-11e7-9ff2-4c9bd282254b.png)
![screenshot_2017-04-28-14-23-34](https://cloud.gi

[2017-04-28 17:44] fkrauthan commented on #796
Perfect that worked.

[2017-04-28 17:44] #796 closed

[2017-04-28 17:45] fkrauthan commented on #627
@luksfk are you using redux-form by any chance and run into this issue?

[2017-04-28 19:51] GiacomoK commented on #798
Yes but the docs are wrong. Can you fix it pls?

[2017-04-28 21:00] rostyys opened #799 "Using Dynamic List Data for 'OnPress' event"
I'm wondering if there is a way to use dynamic list data inside an onPress event.

E.g.

[code]

[2017-04-28 21:25] LoganArnett opened #800 "Hide Header Bar"
Just curious to see how I can hide the header bar all together for a simple application

[2017-04-29 05:40] sankhadeeproy007 commented on #798
Yes, we're working on the docs. Will be updated on monday.
cc @Jasbir23

[2017-04-29 07:07] AbhishekBiswal opened #801 "NativeBase Themes are Overriding StatusBar props"
## react-native, react and native-base version
[code]

## Expected behaviour
The functions here : (https://facebook.github.io/react-native/docs/statusbar.html)[https://facebook.github.io/react-native/docs/statusbar.html] are being overwritten by NativeBase's theme for StatusBar
## Actual behaviour
<StatusBar backgroundColor="#26B" /> should override the NativeBase settings for the StatusBar

## St

[2017-04-29 07:46] GeekRishabh commented on #801
@AbhishekBiswal you can pass the below props
iosStatusbar="light-content"
androidStatusBarColor='#000'
in header will work for you .

[2017-04-29 09:09] AbhishekBiswal commented on #801
@GeekRishabh Worked! Please add this to the Documentation. Thanks!

[2017-04-29 09:10] #801 closed

[2017-04-29 09:49] yeknava commented on #787
Its a bug for sure but as a temporary solution i used this code:
[code]

[2017-04-29 15:30] OmriAharon opened #802 "DeckSwiper - How to know which card was swiped?"
## react-native, react and native-base version
NB - 2.1.2
RN - 0.43.3
React - 16.0.0-alpha.6

This is not really a bug, but it's unclear from the documentation and there are no parameters for `onSwipeLeft`/`onSwipeRight`.

Let's say I want to do something to the card getting swiped - how do I know which got swiped? Is there a way to get a reference to the element?

[2017-04-30 05:30] smmoosavi opened #803 "Please avoid json.stringify"
in `ScrollableTabBar.componentWillReceiveProps` method `JSON.stringify` used which cause slow rendering and some times error thrown from this line.

## react-native, react and native-base version
react-native@0.43.2
react@16.0.0-alpha.6
native-base@2.1.2
## Steps to reproduce (code snippet or screenshot)
you can't run [advanced tab example](https://docs.nativebase.io/COMPONENTS.html#Advanced_Tabs)

[2017-04-30 14:41] AshwinTayson opened #805 "Change the <Header> color for different screens"
This isn't a bug. But I want to if there is way to customize <Header> element's color based on which screen it is on. I used customisation to change it to black for home screen. I want blue for login screen, yellow for settings screen and so on.
`
<StyleProvider style={getTheme(myStyle)>`

can we something like

[code]
Or is there any built-in way to accomplish this.

[2017-04-30 16:53] TsuryKnox commented on #394
Is 'placeholderTextColor' included in the docs? I can't find it.

[2017-05-01 05:06] JLLLinn commented on #677
This is happening to me too. Can we get this fix in release?

[2017-05-01 16:35] emekalites opened #806 "UNMET PEER DEPENDENCIES"
`Hi,`
These are the versions for my react native application
"react": "16.0.0-alpha.6",
"react-native": "0.44.0",
"react-native-vector-icons": "^4.0.1"

While installing native-base@2.1.3, i ran into this issues:
[code]

Please i need an advice on how i can install native-base to work with my current versions or do i have to downgrade to a lower version of react-native that supports react@^15.0.0

[2017-05-01 17:31] ppoliani commented on #802
It looks like currently, both functions don't pass any parameters. However, there is already a `selectedItem` property in the `state` so I assume it would be a very [quick fix](https://github.com/GeekyAnts/NativeBase/pull/807).

[2017-05-01 17:41] OmriAharon commented on #802
Let it merge! 😄

[2017-05-02 06:09] GeekRishabh commented on #805
either you can create new variables for each page and use that in header by importing it and passing the it to below props
iosStatusbar="light-content"
androidStatusBarColor='blue' /instead of blue you can use commonColor.settingPageColor
where CommonColor is imported from ejected NB theme and settingPageColor is defined by you .
in header will work for you .

[2017-05-02 06:39] sankhadeeproy007 commented on #797
cc @GeekRishabh

[2017-05-02 06:43] GeekRishabh commented on #797
@ivankashtanov Thanks for pointing this out . We will fix this in our next release .If you don't need latest color module you can use the older version as of now (V0.11.1) . which will be already in node_module all you need to do is to import that .

[2017-05-02 08:28] ivankashtanov commented on #797
@GeekRishabh Thanks for the workaround. But the app already uses new color package, so I just replaced `hexString` calls with `hex` in extracted theme. Haven't had other problems with the theme yet.

[2017-05-02 08:29] fbacker commented on #591
Running 2.1.3 on iOS

    getRef={(c) => console.log("hello",c)}

c returns undefined

[2017-05-02 09:49] fbacker commented on #787
thx, that worked.

[2017-05-02 11:36] yeknava commented on #787
@fbacker as this issue is still a bug and my solution was hackish, its better to let this issue be open till bug being fix in library.

[2017-05-02 12:33] sankhadeeproy007 commented on #787
I'm not very sure this is an issue with NativeBase. It has more to with the way android handles the keyboard.

[2017-05-02 14:59] palmsey commented on #668
I noticed this too, the last CardItem is missing on plus devices (testing with a 6s+). I can get around it by adding sufficient paddingBottom to the card or an extra CardItem to the end, but neither of those options look great.

[2017-05-02 19:23] masiamj commented on #508
+1

[2017-05-02 19:54] rvirani1 commented on #508
+1. The scroll height issue is not fixed.

[2017-05-03 06:10] mostafiz93 commented on #156
Using Picker.Item directly can solve the issue. Don't declare `const Item = Picker.Item;​`, use this:
`<Picker.Item label="Wallet" value="key0" />`

[2017-05-03 06:11] mostafiz93 commented on #205
Using Picker.Item directly can solve the issue. Don't declare `const Item = Picker.Item;`​, use this:
`<Picker.Item label="Wallet" value="key0" />`

[2017-05-03 11:45] cyclops24 commented on #507
@sankhadeeproy007 can you please explain `devideWidth` in above code?
How you extract and use it?

[2017-05-03 11:51] GeekRishabh commented on #507
@cyclops24 deviceWidth can be calculated using

import {Dimensions} from 'react-native'
const deviceWidth = Dimensions.get('window').width;

[2017-05-03 11:55] cyclops24 commented on #507
Thanks @GeekRishabh,
I think it's a variable in NativeBase 😉

[2017-05-03 11:59] GeekRishabh commented on #507
@cyclops24 it's just a variable name that hold the width of the device .

[2017-05-03 14:16] sarahmarciano commented on #708
+1

[2017-05-03 16:07] wkirby commented on #739
The problem seems to be in `NativeBase/src/basic/Container.js`, specifically `<ActionSheet ref={ (c) => {ActionSheet.actionsheetInstance = c;}} />`. I got around this by setting up my own `ActionSheet` in the `View` instead of accessing the singleton instance.

Something like this:

[code]

[2017-05-03 17:24] l3lackcurtains commented on #752
Got the same problem for white I try to use Icon
"native-base": "^2.1.2", "react": "16.0.0-alpha.6", "react-native": "^0.43.4",

[2017-05-03 17:49] l3lackcurtains commented on #752
It worked after adding style into StyleProvider Tag:

[code]

[2017-05-03 17:51] JulioOrellana opened #809 "Picker working on iOS 6 but not on Android 6"
Hello, I am using Picker on my react-native project but I can't make it work on Android, am I missing something? Just copied and pasted.

![screen shot 2017-05-03 at 2 50 07 pm](https://cloud.githubusercontent.com/assets/10372340/25674025/d82c49ac-300f-11e7-90ef-21dd5f008a62.png)

[code]

My dependencies tree:

[code]

This works fine on iOS but I can't make it work on Android, I have tried includ

[2017-05-03 18:01] JulioOrellana commented on #809
NVM, just saw on Stack Overflow that you need to add style={{ width: 100 }} attribute. Now works!

[2017-05-03 18:01] #809 closed

[2017-05-03 18:04] shivrajkumar commented on #752
@kheide @l3lackcurtains Yes, if you are using `<StyleProvider>`, you do need to pass theme to it through `style` prop

[2017-05-03 18:04] #752 closed

[2017-05-03 18:42] chapeljuice opened #810 "The Components section of your website isn't resolving"
https://docs.nativebase.io/Components.html#Components produces a 404:
[code]

[2017-05-03 20:38] aleinnocenzi commented on #810
Same problem also for the "customize" section
https://docs.nativebase.io/Customize.html#Customize

[2017-05-03 22:21] pukeanddie opened #811 "Input onChangeText (undefined is not a function)"
react-native 0.44.0
react: 16.0.0
native-base: 2.1.3
android (ios untested)

[code]

Red screen of death throws error: 'undefined is not a function (evaluating 'this2.props.myTextAction({prop:'value', value: value})')

[2017-05-04 00:25] #811 closed

[2017-05-04 00:26] pukeanddie commented on #811
My issue has been resolved and is entirely unrelated to native-base.

[2017-05-04 04:12] stefensuhat opened #812 "Header title never align to center"
"native-base": "^2.1.3",
"react": "16.0.0-alpha.6",
"react-native": "0.44.0",

Here is my code

[code]

Result

![screenshot_20170504-111517](https://cloud.githubusercontent.com/assets/10653041/25690400/19a1735c-30bb-11e7-8f3d-987fe76a79f9.png)

[2017-05-04 04:42] GeekRishabh commented on #810
@chapeljuice @aleinnocenzi  Thanks for bringing this in notice . Few changes were made so you can try the below url as of now
https://docs.nativebase.io/COMPONENTS.html#Components
https://docs.nativebase.io/CUSTOMIZE.html#Customize

[2017-05-04 05:14] shivrajkumar commented on #812
@stefensuhat NativeBase follows Android and iOS guidelines. Thus the title is on the left of the header. If you want it to be in the center, apply `flex: 1` to `<Left>`, `<Body>` and `<Right>`

[2017-05-04 05:14] #812 closed

[2017-05-04 07:39] francescjimenez commented on #348
But it doesn't work if the list fills all the items on scroll

[2017-05-04 10:25] HermantoTang commented on #675
Still happen in the newest version

[code]

[2017-05-04 14:04] stefensuhat opened #813 "Deprecation Warning on React Native 44"
[code]

Here is what I import:
[code]

Latest NativeBase
React Native 44

[2017-05-04 14:28] rohozhnikoff commented on #575
use StyleSheet.flatten
https://facebook.github.io/react-native/docs/stylesheet.html#flatten

[2017-05-04 15:31] wnasirou opened #814 "Nativebase Menu dropdown"
**Please help me to create react native menu with nativebase like Google Material Design [https://material.io/guidelines/components/menus.html#](https://material.io/guidelines/components/menus.html#)**

[2017-05-04 19:06] fhad-getmaple commented on #813
+1

[2017-05-04 20:59] irekrog commented on #790
I have the same problem. Any idea?

[2017-05-04 21:33] beausmith commented on #32
FWIW, it looks like NativeBase's boilerplate [Native-Starter-Kit](https://github.com/start-react/native-starter-kit) has switched to use [React Native Router Flux](https://github.com/aksonov/react-native-router-flux) as of Apr 7, 2017. Here's the commit: https://github.com/start-react/native-starter-kit/commit/3e7b5a1844d2f734c465b1dfb220ba92fa33f742

cc: @shakdoesgithub @Crash-- @vinaydate @tarr1

[2017-05-04 22:58] ElliottJRo commented on #810
^ Above links still giving 404

[2017-05-04 23:02] ElliottJRo commented on #745
@uriva this is a react native component styling doc issue rather than Native Base issue I think.

[2017-05-05 05:27] #810 closed

[2017-05-05 07:50] ishsingh commented on #803
I have the same problem with following versions:

react-native@0.44.0
react@16.0.0-alpha.6
native-base@2.1.3

[2017-05-05 07:55] ishsingh commented on #771
I also had several rendering issues with Card on devices, and I just ended up replacing all of them with custom styled view.

[2017-05-05 08:11] Symous commented on #814
+1 .

[2017-05-05 08:49] Noloche opened #816 "Add error/success message support to form fields"
I would just like to be able to add a message to a form field after validating, like the way how it works on http://materializecss.com/forms.html

## react-native, react and native-base version
 native-base": "^2.0.13"
 react": "15.4.2"
 react-native": "0.42.3"
## Expected behaviour
 Show error/success messages at form fields, like http://materializecss.com/forms.html
## Actual behaviour
 There is

[2017-05-05 09:33] cosydney commented on #744
+1, My toast is not showing and I'm using:
[code]

[2017-05-05 10:02] #798 closed

[2017-05-05 10:03] #770 closed

[2017-05-05 10:03] #786 closed

[2017-05-05 12:53] StanSarr commented on #32
@beausmith Awesome Thanks 👍

[2017-05-05 18:36] fhad-getmaple opened #817 "Subtitle fontSize in Header not working"
Seems like the fontSize set in native-base-theme/components/Header.js isn't being passed down to the Subtitle component in Headers. I also tried ejecting the Theme files again.

React-Native v0.44
Native-Base v2.1.3

<img width="263" alt="screen shot 2017-05-05 at 2 34 48 pm" src="https://cloud.githubusercontent.com/assets/22453066/25759341/0389a04a-31a0-11e7-80d8-a5b67e590507.png">

[2017-05-05 21:15] k2glyph commented on #53
I am still facing this issue.

[2017-05-06 03:15] HermantoTang commented on #817
Seems like the whole subtitle style is not working in my case,
same issue as #675

[code]

[2017-05-06 07:18] Anima-t3d commented on #575
@rohozhnikoff

[2017-05-06 08:13] cyclops24 commented on #759
+1 I have performance issue too. 😞

[2017-05-06 09:44] ohtangza commented on #777
I think this is very important to deliver the same experience as Android-native Toast.

[2017-05-06 11:25] wcandillon commented on #770
@Jasbir23 @sanketsahusoft Is there a place where we can contribute to the documentation pages? I found some inconsistencies and typos but I am not sure where is the documentation hosted on github?

[2017-05-06 11:28] GeekRishabh commented on #770
@wcandillon  you can edit it and send PR . The docs are hosted [here](https://github.com/GeekyAnts/native-base-docs)

[2017-05-06 11:28] wcandillon commented on #770
Thks a lot!

[2017-05-06 12:58] cyclops24 commented on #612
Please fix this. It's a biiiiiiiiiiiiiiiiiiiiiiiiig bad issue for me and make card very buggy.

[2017-05-06 12:59] cyclops24 commented on #568
@natashache How you fix it by mix Grid and Card?

[2017-05-06 14:59] cyclops24 commented on #668
@sankhadeeproy007 Are you any plan to fix this?
I really need NativeBase style Card component but it's very buggy now on big screen (Tablet 7 inch for example)

[2017-05-06 15:04] sankhadeeproy007 commented on #668
cc @GeekRishabh

[2017-05-06 15:20] cyclops24 commented on #668
@sankhadeeproy007, @GeekRishabh  I think issue somewhere in this file:
https://github.com/GeekyAnts/NativeBase/blob/master/src/theme/components/CardItem.js

[2017-05-06 17:21] jjsaguit commented on #550
Any updates on this? I'm having this problem and there is no work around

[2017-05-06 18:42] vvavepacket commented on #634
@ghjer  @manukn  im encountering the same issue. I did try writing the code but still saying undefined...  Were you able to fix it?

[2017-05-06 19:08] GeekRishabh commented on #634
@vvavepacket can you share the code snippet .

[2017-05-06 22:59] haythemOUE commented on #813
+1

[2017-05-07 00:18] axsann commented on #269
I found a new solution!
Add refreshControl prop to "Content".
[code]

[2017-05-07 02:13] zerokid commented on #813
+1

[2017-05-07 13:40] KidkArolis commented on #534
I was experiencing the same issue. In my case it was due to `react-native-keyboard-aware-scroll-view` https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Content.js#L2.

I used `enableAutoAutomaticScroll={false}` on my <Content /> And the frustrating scrolling behaviour disappeared. I've actually found the following props to work really well:

[code]

Hm, thinking more about it. I suppos

[2017-05-07 14:14] natashache commented on #568
@cyclops24 I nested something like this under the card component
[code]

[2017-05-07 16:08] BroshkovD commented on #813
+1

[2017-05-07 19:51] ghjer commented on #634
@vvavepacket: I haven't fixed this issue, but is is an issue caused by versioning. It depence on the version of react, react-native and of course the native-base version. I'm currenly on v0.5.13 while left- right attributes are available on 2.0 or up. I need to upgrade soon because quite some packages get deprecated by swift 3 on ios

[2017-05-07 21:08] AJDowds commented on #813
+1

[2017-05-07 22:12] vvavepacket commented on #634
Yup I confirmed this is issue with version. It turns out in the versions
I'm using, the class is located in different package.

On Sun, May 7, 2017 at 3:51 PM, Jeroen <notifications@github.com> wrote:

[2017-05-08 04:05] ZevenFang commented on #813
+1

[2017-05-08 04:54] RyanLee1119 commented on #814
+1

[2017-05-08 05:01] Symous commented on #814
@wnasirou , @RyanLee1119

there is a drop popup dropdown menu which can work with native-base , I found it in react-native issuse https://github.com/facebook/react-native/issues/3004 .

there is the code :

[code]

how to use it:

[code]

[2017-05-08 05:02] tonylinyy commented on #813
+1

[2017-05-08 05:21] GeekRishabh commented on #634
Left , Right , Body Tag  are added in NB > v2.0

[2017-05-08 06:12] GeekRishabh commented on #817
@fhad-getmaple
[code]
try the above code will work for you.

[2017-05-08 07:38] #793 closed

[2017-05-08 11:36] jjsaguit commented on #813
+1

[2017-05-08 11:39] zerokid commented on #813
just run react-native uninstall native-base. the warning gone

[2017-05-08 14:08] manuelkch commented on #787
@fbacker  i fixed it globally with
`<activity
..............
        android:windowSoftInputMode="stateUnspecified|adjustPan"
-------------
`
in my AndroidManifest.xml

[2017-05-08 16:03] abser opened #819 "Toast setState error: Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the ToastContainer component."
On    "native-base": "2.1.0" with
    "react": "^15.4.2"
and
    "react-native": "^0.42.3",

I am getting below error when app navigates to another screen:
"Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the ToastContainer component."

My component code:

compone

[2017-05-08 18:30] fhad-getmaple commented on #817
Hi @GeekRishabh,

Thanks for the work around. Do you have any word if the bug itself will be fixed in an update?

Thanks.

[2017-05-08 19:07] wnasirou commented on #814
Great @Symous. It works properly. Thanks a lot!

[2017-05-08 20:57] sheprdinc opened #820 "SimpleLineIcons.ttf: No such file or directory"
This happens even after running:  react-native link

Can i just delete it?

[2017-05-08 21:46] sheprdinc commented on #820
So on further digging, react-native link forces that font 2 appear twice info.pList, plus the file does not exist in node_modules/native-base/Fonts ... so if anyone runs into this, just grab the font from here:
https://github.com/oblador/react-native-vector-icons/blob/master/Fonts/SimpleLineIcons.ttf
Then manually add it to your RN project.
Resolved!

[2017-05-09 03:51] ngocdb commented on #639
=>
With that way, how can we style the heading ?
For example how can I set the fontSize of the heading text ?

[2017-05-09 05:16] shivrajkumar commented on #820
@sheprdinc May i know the version of native-base you are using?

[2017-05-09 05:20] sankhadeeproy007 commented on #639
![screen shot 2017-05-09 at 10 49 38 am](https://cloud.githubusercontent.com/assets/10998047/25836529/3e4aaff0-34a5-11e7-8eda-0d1eb99f2896.png)
From the docs.

[2017-05-09 06:09] ngocdb commented on #639
OK,
Great!, Thanks @sankhadeeproy007, it works!
I have another issue with ScrollableTab.
Everything is fine in the normal case, but if I rotate the phone (horizontal dimension), with ScrollableTab, tabs are not auto (full) expand.
![rotatephone](https://cloud.githubusercontent.com/assets/3035559/25837565/a714a58c-34b8-11e7-8cce-85ef01ad7918.png)
How can I deal with that?

[2017-05-09 06:57] Colmea commented on #627
+1 . Any news on this ?

[2017-05-09 12:35] fbacker commented on #787
@manuelkch Yaaay, That did the trick.
Closing issue, this is a better solution.

[2017-05-09 12:35] #787 closed

[2017-05-09 12:37] fbacker commented on #787
Just a note. This will remove the KeyboardAvoidingView feature.

[2017-05-10 03:54] ithieund commented on #776
@sankhadeeproy007 ,
Can you please check this bug?

Thanks.

[2017-05-10 07:04] hanpanpan200 commented on #813
+1

[2017-05-10 08:40] pohodnya commented on #813
+1

[2017-05-10 09:29] the-yadu commented on #241
<img width="512" alt="image" src="https://cloud.githubusercontent.com/assets/7404181/25892114/fd7ee0b2-3590-11e7-8aad-946f2bc7c6bb.png">
I am still not able to render the map even after following your steps. I have raised an issue with [react-native-maps](https://github.com/airbnb/react-native-maps/issues/1310) as well

[2017-05-10 12:23] emilioicai commented on #677
This is preventing my team to release any app including native-base to production. Is this being taken care of?

[2017-05-10 14:41] kernelgonnapanic commented on #820
I also encountered this issue. I'm using `native-base@2.1.0`.

[2017-05-10 14:49] GeekRishabh commented on #820
@sheprdinc @kernelgonnapanic what is the RN version you guys are using  ?
Rather mention the step to reproduce so that we can look into it .

[2017-05-10 15:05] kernelgonnapanic commented on #820
I just installed native-base in my project. I've run link and started the project build.
I got such error:
`project-name/node_modules/native-base/Fonts/SimpleLineIcons.ttf: No such file or directory`

My dependencies:
[code]
Let me know if you need more info.

[2017-05-10 23:57] luksfk commented on #627
@fkrauthan  yes, i'm using redux.

[2017-05-11 03:52] Anima-t3d commented on #771
There are many issues with the card item. For example: https://github.com/GeekyAnts/NativeBase/issues/612

I also changed to use custom styled views.

[2017-05-11 06:23] Nygma297 opened #822 "Flatlist instead of ListView in List Component"
## Version Info
* react-native:0.42.0
* react: 15.4.2
* native-base: ^2.0.11
## Expected behaviour: Performance Improvement
## Actual behaviour: Slow loading
## Issue Type:
- [x] Feature
- [ ] Bug
## Performance Issue:
Android
iOS.

If You could do this it would make the rendering of the lists faster and would also help to handle large or bad data in the list's dataSource

[2017-05-11 06:37] nacmonad commented on #323
Hey!  found a neat way to do this entirely with native-base components:

<Header androidStatusBarColor="#2c3e50" style={{display:'none'}}/>

[2017-05-11 06:39] nacmonad commented on #323
Hey!  found a neat workaround/hack that you can implement inside any <Container>  component.  the statusbar is a prop of the Header component, but when you want to change statusbar and not show the header, simply :
`<Header androidStatusBarColor="#2c3e50" style={{display:'none'}}/>`

[2017-05-11 07:36] azulkipli commented on #813
+1

[2017-05-11 09:19] vietnugent commented on #432
I'm fairly new to React. First off the library is brilliant.  Thanks for all the hard work!
My question - I find it interesting that Toast seems to deviate from the typical declarative pattern.  For example, I want a message to appear based on result of an async action such as making a network call. For that to work I would have to trigger Toad from the ajax call back which IMO feels anti-pattern.

[2017-05-11 10:12] yogeshmoradiya121 commented on #806
same problem

[2017-05-11 13:47] lfmendesbr opened #823 "Problem with image source of Thumbnail Component"
Hi,

I'm trying to use Thumbnail component but the app doesn't recognize the image of source. Anything I forgot?

![code1](https://cloud.githubusercontent.com/assets/28627436/25952459/23fe9ea2-3637-11e7-8119-d5e947dd4b70.png)

![tree](https://cloud.githubusercontent.com/assets/28627436/25952460/2432b4f8-3637-11e7-8727-40ec83af7e0b.png)

![emulator1](https://cloud.githubusercontent.com/assets/28627

[2017-05-11 14:13] patrickalbani commented on #683
The problem persist, but only when the Input style={{textAlign: 'right'}}

[2017-05-11 14:14] #823 closed

[2017-05-11 16:53] iegik commented on #806
Same problem:

[code]

[2017-05-11 17:36] iegik opened #824 "TypeError: Cannot read property 'displayName' of undefined"
[code]

Got error after running jest tests, after importing `native-base`
[code]

[code]

package.json#jest

[code]

Also installed:
[code]

NPM warnings:
[code]

index.js
[code]

[2017-05-12 04:40] blaziken105 commented on #58
I have similar issues with the header body, the left and right tags align the icons properly to the corners. However the body text doesn't centre align.

I have the following dependencies
    "native-base": "^2.1.1",
    "react": "16.0.0-alpha.6",
    "react-native": "0.43.1",

The code is as follows:

[code]
I have put background colours to see the space taken up by each component, apparently the

[2017-05-12 11:47] gustavoadt commented on #743
I had the same issue but was able to workaround it by checking if the length of the array was greater than 1 before the return:

render() {
        if (this.state.myArray.length > 1) {
            return (

[2017-05-12 13:13] iorena opened #825 "Direct manipulation not working on Content"
Using [react-native-sortable-grid](https://github.com/ollija/react-native-sortable-grid/) to rearrange thumbnails and need to disable scrolling while dragging. The same code with Content replaced with ScrollView works.

[code]

## Versions in use
react-native 0.42.0, react 15.4.2 and native-base 2.1.2
## Screenshot of emulator/device
![screenshot_20170512-155754](https://cloud.githubusercontent.co

[2017-05-12 21:30] Repetitions commented on #814
@wnasirou, one thing to note is the solution above will only work on Android.

[2017-05-12 21:34] wnasirou commented on #814
@Repetitions Ok

[2017-05-13 05:08] brodus13 opened #826 "Deck Swiper Flashing Content"
Hi there! I checked around and didn't notice any existing issues open for this.

I'm having an issue where I have quite a bit of content inside of my deck swiper cards, and random parts of the content seem to flash from invisible to visible at random intervals when the cards are being swiped, or moved around.

Is this something I'm doing wrong? It seems like a bug to me. I'd opened a question abou

[2017-05-13 06:59] zywj opened #827 "ActionSheet cannot show TWICE"
react-native: **0.44**
native-base: **2.1.3**
react-navigation: **1.0.0-beta.9**

Expected behaviour:  **Using ReactNavigation from one screen back to this parent and can show ActionSheet or Toast again successfully**

Actual behaviour: **I cannot show ActionSheet or Toast again, when I back**

Steps to reproduce:

## First Step
<img width="329" alt="cb5f7485-78a8-4443-814a-4561bc86a1fb" src="http

[2017-05-13 07:11] zywj commented on #827
Here is the error line
https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Actionsheet.js#L29

And the instance is here:
https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Container.js#L16

It can't found the '_root' (**Container** element), after navigation backed to the ActionSheet screen.

[2017-05-13 09:02] lndj commented on #827
Give up and nobody can help you!

[2017-05-13 09:12] zywj commented on #827
@lndj  I am  confused

[2017-05-13 10:30] aeonphyxius commented on #706
Any hints on this? I am actually looking to solve the same "problem"

Thanks !!!

[2017-05-13 12:09] iamraphson commented on #39
@sankhadeeproy007 this is not working on V2.1.0

[2017-05-13 14:54] arnthors commented on #706
This may have been fixed in https://github.com/GeekyAnts/NativeBase/commit/5374e8bf44117e0d143be1cddf32cd97519a9cab

Have not tested this though

[2017-05-14 09:41] yeknava commented on #827
Same in android with react-native-router-flux navigator.

[2017-05-14 13:02] payamka opened #828 "can't find variable StyleProvider"
Hi
I wnt to using NativeBase in my app but I get this error:
can't find variable StyleProvider

And this my code in android.index:

`/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 * @flow
 */

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  View
} from 'react-native';
import getTheme from './native-base-theme/components';

expo

[2017-05-14 19:27] warent opened #829 "[Feature Request] Centering content should be easier"
In this page, https://docs.nativebase.io/Components.html#Components in the very first example that shows a logo with "Build Something Amazing" you align content in a way that isn't obvious at all. It took me longer than it probably could have have to find out I had to do this (and I'm still not sure if this is best practice)

[code]

[2017-05-14 19:49] warent opened #830 "Why eject theme?"
Hi there,

First I'd like to say that the method of StyleProvider is a really good one I think. It's super nice to have a general style provider abstracted out for us. Also thanks for your work on this project in general.

To the main point, I just think it's a little bizarre that we have to do this process of ejectTheme in order to start applying new global styles. Is it worth considering keeping

[2017-05-15 05:06] fkrauthan commented on #627
@luksfk My issue was that I was doing something like this:

[code]

This recreated the input field every time I was pressing a key. After changing this to the recommended way of

[code]

It was working fine. I think native base has a problem with there javascript code if the underlying input field gets recreated instead of just updated.

[2017-05-15 06:50] zywj commented on #827
@lndj @yeknava  I gave up and now using https://www.npmjs.com/package/react-native-actionsheet

[2017-05-15 10:06] rithvikvibhu commented on #790
So I figured its because of the container height. Setting it to something greater than the height of the content shows everything. Since content is dynamically loaded, setting a static height for container isn't a fix. Any ideas?

[2017-05-15 15:30] seanmadi commented on #612
Having the same issue on iPad Air 2 (and simulator). Everything looks fine on load, but if I rotate and then rotate back, the second CardItem (everything that isn't the header) floats to the right of the header. For some reason it works fine on the first iPad Air. May have something to do with height of the card being shorter when rotated, then it for some reason remains

[code]

<img width="786"

[2017-05-15 15:31] ngocdb commented on #508
+1. The scroll height issue is not fixed.

[2017-05-15 16:03] redwind commented on #708
same problem, too

[2017-05-15 17:26] jlcrow commented on #708
+1 fields falling with value populated when form renders

[2017-05-15 17:50] seanmadi commented on #612
For my issue at least, it looks like it is due to Card having `flexWrap` of `'wrap'`. Created my own components with the same styles minus flexWrap and it now works fine.

[2017-05-16 06:19] stonecold123 commented on #772
@shivrajkumar @sanketsahusoft
I only have an Android. Even though the theme variable has changed from 'day' to 'dark', the color still fails to update across the apps. I notice that in the kitchen sink demo, the theme switching function is only available on IOS. Does Android support it?

[2017-05-16 07:23] a11y1337 commented on #574
To expand on @shivrajkumar 's workaround, you need to import the View component from React Native: using Native Base's View component still causes the error.

[2017-05-16 07:41] sanketsahusoft commented on #772
@stonecold123 There is no point in supporting Platform and Material for Android as the Platform design of Android is actually the Material design.

[2017-05-16 08:38] sanketsahusoft commented on #830
@warent Thanks for appreciation!

I understand your concern about ejectTheme. There is something interesting about ejectedTheme is that, you can safely delete everything which you don't touch from the ejected folder and pass only the properties which you want to change. NativeBase internally merges the theme with the default one.

[2017-05-16 12:58] pedrogarciyalopez opened #831 "There is no gap between checkbox and text."
## react-native, react and native-base version
native-base: 2.1.3,
react-native: 0.44.0
react: 16.0.0-alpha.6

## Steps to reproduce (code snippet or screenshot)
[code]

## Screenshot of emulator/device
<img width="818" alt="screenshot" src="https://cloud.githubusercontent.com/assets/14232660/26106653/3331d774-3a4f-11e7-8be1-5f79acea508c.png">

## Is the bug present in both ios and android or in a

[2017-05-16 13:05] GeekRishabh commented on #831
@pedrogarciyalopez  what you can do is pass style and add margin left to the Text.

[2017-05-16 13:22] pedrogarciyalopez commented on #831
@GeekRishabh Of course I can do this. But I thought that it was already done for me. Nothing is said about it in the docs.

[2017-05-16 13:23] GeekRishabh commented on #831
@pedrogarciyalopez  will try to get this fix in next  version

[2017-05-16 13:27] pedrogarciyalopez commented on #831
@GeekRishabh Would be nice! i'll be waiting, thank you.

[2017-05-16 13:39] GeekRishabh commented on #831
@pedrogarciyalopez  sorry I didn't go through your code .
NB have this resolved already . Please have a look at docs [here](https://docs.nativebase.io/Components.html#list-icon-headref).

[2017-05-16 14:01] SirNeuman commented on #745
It seems to be the `Item` wrapper which is limiting the height of the text input field, since the `numberOfLines` without the wrapper would increase the height of the field like normal. I'm not sure whether or not that is intended behavior, but it would be nice to set `numberOfLines` rather than specific height so the height changes dynamically based on font size inside the input field rather than

[2017-05-16 14:23] kiranraj2k opened #832 "TouchableOpacity inside CardItem"
[code]
When I click on TouchableOpacity it calls `this.outside()`. Basically instead of calling the `onPress`
event of the inner `Touchable` it calls the same of it's parent `Touchable`

But the following works:

[code]
In the above case clicking on the inner TouchableOpacity calls `this.inside()` only.

I would like to have the `CardItem` follow the same behaviour as well.

[2017-05-16 14:23] #832 closed

[2017-05-16 14:31] pedrogarciyalopez commented on #831
Yes,
[code]
this markup works well!

@GeekRishabh thank you!

[2017-05-16 14:31] #831 closed

[2017-05-16 15:32] jlcrow commented on #708
I'm also using redux-form for managing state. A bit of a pain, looks like NB is managing the state of the label in the Item component and don't check in the constructor if there are values in the component. When you submit and come back to the view with errors or pre-populate the view with input text  you lose the internal component state that's holding the text value.  I just switched the type on

[2017-05-16 15:59] Sky891028 commented on #832
happend to me

[2017-05-16 21:16] shiundu commented on #508
I have the same issue

[2017-05-17 02:36] ithieund commented on #776
@shivrajkumar , @sankhadeeproy007 ,
Can you please give me your feedback?

Thanks.

[2017-05-17 07:54] horiuchie commented on #107
I have encountered the same problem and solved following.
[code]

[2017-05-17 10:27] quangrau commented on #21
Still got this problem. After read a great blog about testing with mocha + enzyme + react-native. [here](https://blog.addjam.com/testing-react-native-with-mocha-and-enzyme-6b77cd9e52a1), but I got another error like this:

<img width="620" alt="screen shot 2017-05-17 at 5 26 40 pm" src="https://cloud.githubusercontent.com/assets/3326521/26149856/18ee8952-3b26-11e7-8208-32c1cd5b7a83.png">

[2017-05-17 11:52] stefano-DM commented on #296
@Thunderbird7 @nobalmohan @ferontv
did anyone manage to style it? #338 does not work on iOS

[2017-05-17 12:36] Symous opened #833 "How to set Header opacity"
Hi, I try to change the opacity of the Header.
`<Header style={{backgroundColor:'gray',opacity:0.5}}/>`
But that doesn't work.

[2017-05-17 14:58] a-shark commented on #806
Same `shoutem` issues, but trying to use RN `0.43.0`, not `0.44.0`.

[2017-05-17 19:26] andidev commented on #830
@sanketsahusoft
Sounds great though it does not seem to work. I tried to pass only footer background color and I got lots of errors
[code]
though this seems to work
[code]

[2017-05-18 00:23] alex-dotdev opened #834 "Native base shoutem theme - Unable to resolve module"
Error:
Unable to resolve module `./examples/Shapes` from `../node_modules/native-base-shoutem-theme/index.js` - examples/Shapes doesn't exist.

Package versions:
[code]

It appears that the example folder has been removed from your fork of the module. Adding the missing files from **Shoutem's repo** directly fixed the problem until other modules are added. Then yarn clears the unknown files out.

[2017-05-18 00:55] ChiWuSage opened #835 "Conditional Style?"
How can we do conditional style with Nativebase component?

Here is my code.
`<ListItem onPress={} style={[nativeBaseStyle.notSelected, this.isSelected() && nativeBaseStyle.isSelected]}>
<Text>{rowData.firstName}</Text></ListItem>`

NativeBaseStyle looks like this.
`export default{
    isSelected:{
      backgroundColor: 'blue',
    },
    notSelected:{
      backgroundColor: 'transparent',
    },

[2017-05-18 01:51] jamesphe commented on #813
+1

[2017-05-18 09:57] sanketsahusoft commented on #830
@andidev It used to work fine but I will check it and provide you a working solution once I get deep into this one.

[2017-05-18 09:57] sanketsahusoft commented on #830
@andidev And for now, I hope you can manage with the ejected theme.

[2017-05-18 11:53] BenBenz commented on #813
+1

[2017-05-18 12:14] andidev commented on #830
[code]

works fine for me without ejecting the theme since I import the base theme I want to extend with
[code]

[2017-05-18 12:45] Symous opened #836 "evaluating 'this.toastInstance._root' Error when using Toast"
Hi, if I use Toast of native-base in componentWillReceiveProps method it will give me an error 'null is not an object' (evaluating 'this.toastInstance._root') .

the code is :
`componentWillReceiveProps(){
    Toast.show({
        text: 'Msg here',
        position: 'bottom',
        buttonText: 'OK'
      })
}`
I guess the reason is that the life of the componentWillReceiveProps  ends before the

[2017-05-18 15:31] MSchmidt commented on #593
Are they? I'm still finding it quite slow in comparison to iOS. Maybe it was even worse before 2.1 but I just ran the Kitchen Sink for the first time an immediately realised that it doesn't feel "native" at all.

[2017-05-18 15:45] binzailani3136 opened #837 "Is there any plan to change navigation structure with react-navigation?"
Hi.
Now, nativebase uses react-native-router-flux and react-navigation is seated as default navigator on react-native from version 0.44.0
Every react developers will use react-navigation.
Do you have any plan to change nativebase navigation structure with react-navigation?
Thanks

[2017-05-18 17:22] idibidiart opened #838 "Port react-native-responsive-grid to NativeBase?"
Hi,

I've just finalized the base features and perf optimizations for https://github.com/idibidiart/react-native-responsive-grid

I've also taken my first PR (better formatted docs)

Are you interested in a PR that ports NativeBase to use this grid?

I did play with your Easy Grid and this grid matches its ease of use but with more capabilities for building responsive and adaptive UIs, declarative

[2017-05-18 20:33] leonardollobato commented on #813
+1

[2017-05-18 20:36] fhad-getmaple commented on #813
@zerokid's solution works: run `react-native uninstall native-base`

This issue should be closed

[2017-05-18 20:57] agersoncgps commented on #813
Sorry if I am being dense here, but how does uninstalling native-base constitute a solution? I would like to use native-base.

[2017-05-18 22:12] MoutonJB opened #839 "iPhone 7 Font Scaling"
Hi guys,

I am using native-base 2.1.3 on react-native 0.44.

When using native-base on an iPhone 6/7 simulator, or on an iPhone 6 device everything is fine and we have no issues with regards to layouts, but once we deploy this to an iPhone 7 device all fonts are almost double in size.

I have used the Kitchen Sink app as a starting point and kept everything as close to the default theme as possib

[2017-05-19 00:22] ElliottJRo commented on #339
hey @booboothefool can you elaborate more on how you fixed the issue? I am having this problem and currently using `<Content disableKBDismissScroll={true}/>` as a workaround. Ideally it uld just scroll to the bottom if the scroll position is past a certain point.

[2017-05-19 01:13] thilook commented on #837
Hi,
Take a look at https://github.com/FruitieX/react-navigation-native-base
I didn't test to confirm that works properly.

[2017-05-19 01:13] thilook commented on #813
Any news if this will be fix in future releases?

[2017-05-19 03:04] ngocdb opened #840 "How can I change style of Toast"
I don't find any option to change the style (e.g opacity, backgroundColor,...) of Toast from the document http://docs.nativebase.io/Components.html#Toast

So how can I do that ?

[2017-05-19 04:05] GeekRishabh commented on #837
@binzailani3136 you can have a look [here](https://github.com/GeekyAnts/native-base-react-navigation-stack-navigator)

[2017-05-19 07:03] Tiendq commented on #813
`react-native uninstall native-base` isn't a solution, I ran it and get following error:

`rnpm-install WARN ERRINVALIDPROJ Project native-base is not a react-native library`
`Cannot find module '/Users/<project path>/node_modules/native-base/package.json'`

[2017-05-19 08:37] sanketsahusoft commented on #813
We are trying to fix this ASAP.

[2017-05-19 09:52] stonecold123 opened #841 "Components never update non inline styles"
I have created a demo to show the issue: https://github.com/stonecold123/native-base-style-not-changed
Just run `npm install` and `npm run android` to start the demo.

Or [Expo example:](https://expo.io/@laukaichung/my-project)

I found that the nativeBase components never update thier styles on a change if the styles are created by `StyleSheet.create`, unlike the `Text` View from 'react-native':

[2017-05-19 10:30] sanketsahusoft commented on #813
@agersoncgps That's true, it's been unsolved. We are fixing this. You can continue using it and rely on us that this warning will be fixed in the next fix bump of NativeBase.

@zerokid @fhad-getmaple Thanks for putting our morale down. I still hope NativeBase helped you somewhere.

[2017-05-19 12:22] #396 closed

[2017-05-19 12:30] SupriyaKalghatgi commented on #501
@osolano @rohithramachandran Did you take a look over the updated [NativeBase Docs](https://docs.nativebase.io/)?

It also includes some basic example apps as these
- Redux Counter
- Mobx Counter
- Navigation React Navigation
- Navigation RNRF
- Full App
- Redux Form
- Sticky headers

[2017-05-19 12:51] binzailani3136 commented on #837
Thanks for your reply.
Well, I've checked that repo and redux is not implemented there.
I wonder if that repo is integrated with redux, it will be nice.

[2017-05-19 13:54] agersoncgps commented on #813
@stefensuhat Native Base helps me a lot! Thank you for your hard work.

[2017-05-19 14:10] pratomchaip opened #842 "Can't change the value if a default value is entered into the Input component"
## react-native, react and native-base version
react-native : 0.43.1
react : 16.0.0-alpha.3
native-base : 2.1.1
... forked from the NativeBase Starter Kit

## Expected behaviour
Should be able to delete/edit the value in the text `Input` component if a default value is given.

## Actual behaviour
Can't delete/edit the value in the `Input` component.
After every keystroke, the value in the Input te

[2017-05-19 21:22] ckim16 opened #843 "Why Icon is logging in my chrome console?"
Hi all,

I am using redux-form and native base to create an authentication page but it seems to be doing a weird thing when the page launch.

<img width="419" alt="screen shot 2017-05-19 at 2 10 27 pm" src="https://cloud.githubusercontent.com/assets/15335445/26267069/0fded290-3c9d-11e7-824f-0cff80bd65f6.png">

I don't understand why Item.js:115 is being logged when I lauched and it keeps being log

[2017-05-19 22:22] sergio9104 commented on #522
I have the same problem, fix please

[2017-05-19 23:17] thiagofernando opened #844 "NativeBase Item floatingLabel doesntwork with redux form"
Hi!
I'm try to use NativeBase Item floatingLabel with redux form, but this two together doesnt work.

Replacing floatingLabel by stackedLabel or View everything works fine.

React: 15.4.2
react-native: 0.42.3
native-base: "2.1.0
redux-form: 6.7.0

[code]

[code]

[2017-05-20 08:55] jingxin2015 opened #845 "How about the performance of nativebase?"
The sideslip menu on the Android is obviously slow to switch, worrying about performance problems

[2017-05-21 16:17] bmoreira10 commented on #677
I tried that workaround and it didn't work , the random blue circle is still there...

[2017-05-21 18:21] gabrielpjordao commented on #790
Experiencing the same issue here. Ideas?

[2017-05-22 07:33] SupriyaKalghatgi commented on #460
@br4nnigan Haven't checked NativeBase 2.x?

[2017-05-22 07:36] SupriyaKalghatgi commented on #501
Closing this issue due to inactivity
Please reopen if the issue continues

[2017-05-22 07:36] #501 closed

[2017-05-22 09:11] rithvikvibhu commented on #790
Try removing Container or Content. I wasn't working for me because both are scrollable.

[2017-05-22 11:46] SupriyaKalghatgi commented on #677
@yongdamsh Thank you for bringing this to our notice. You can send a PR to this with proper use cases and description.
@JLLLinn @emilioicai We will look into this

[2017-05-22 18:03] br4nnigan commented on #460
No, project is inactive...

[2017-05-23 00:02] jasonnathan commented on #801
`iosStatusbar="light-content"` has no effect on the color of the statusbar text in android

[2017-05-23 01:50] veb commented on #138
To get around this I did:
`react-native link`
then:
`react-native run-android` and the icons showed up. :)

[2017-05-23 01:54] JPig commented on #708
An Easier/Cleaner way of doing this would be

[code]

[2017-05-23 02:44] jasonnathan opened #846 "Cannot read property `style` of undefined"
Hi there, I have recently encountered a new error after upgrading to 2.1.4 (downgrading doesn't resolve the issue). This happens when importing any `NativeBase` component.

[10:35]
[code]
*followed by*
[code]

This seems to be similar to the issue listed here https://github.com/skv-headless/react-native-scrollable-tab-view/issues/634. When I `grep`ed for `ViewPropStyles.style`, all results returne

[2017-05-23 03:37] kadharmfn commented on #72
I had the same issue.

Solved by running first Link

    react-native link

Then restart,

    react-native run-ios

[2017-05-23 05:55] EgaSetya opened #847 "Unresponsive Button in Header"
So, I'm using side menu or drawer on my current project and I'm using **NativeBase+react-native-router-flux**. Everything works fine, the menu will open at swipe but I just found out that the menu won't open when I tap button that I put on header. I think there is something wrong with my function but After further investigation the button is not responding to tap/press.

Here is the code for heade

[2017-05-23 06:34] smmoosavi commented on #264
same issue in [button](https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Button.js#L34)
[code]
should be
[code]

[2017-05-23 06:46] SupriyaKalghatgi commented on #743
@huyta The length of your array, is it > 1?

[2017-05-23 06:50] SupriyaKalghatgi commented on #699
@yeknava Yes the ChangeLog with the repo is outdated.
But the Release Notes with the tags published are always up-to-date.
You can take a look at [Releases](https://github.com/GeekyAnts/NativeBase/releases).

[2017-05-23 08:10] pranay414 opened #848 "Unable to style the tabs"
![screen shot 2017-05-23 at 1 38 46 pm](https://cloud.githubusercontent.com/assets/16045021/26344418/2dec5910-3fbd-11e7-933d-6becd455f5eb.png)

How do I bring the tabs down like the one shown below?

<img width="297" alt="screen shot 2017-05-23 at 1 39 43 pm" src="https://cloud.githubusercontent.com/assets/16045021/26344460/4fab6050-3fbd-11e7-9cc6-f5b95b169446.png">

[2017-05-23 08:12] shivrajkumar commented on #848
@pranay414 http://docs.nativebase.io/Components.html#tabs-def-headref

[2017-05-23 08:18] pranay414 commented on #848
@shivrajkumar I tried it. The result is the 1st pic.

[2017-05-23 08:29] SupriyaKalghatgi commented on #762
I tried with
[code]
along with snippet provided by @maguon
Works fine for me on Android

[2017-05-23 08:30] RakhmatovR opened #849 "Can't create rounded ripple effect for Button in Header"
## react-native, react and native-base version
**react-native**: 0.44.0
**react**: 16.0.0-alpha.6
**native-base**: 2.1.4
## Expected behaviour
Button shouldn't resize by adding `rounded` property and should correctly show ripple effect
## Actual behaviour
Button resizes and ripple effect is "square"
## Steps to reproduce
[code]
## Screenshot
![image](https://cloud.githubusercontent.com/assets/1218

[2017-05-23 08:37] RakhmatovR commented on #849
Similar issue - [[Android] TouchableNativeFeedback's ripples aren't affected by borderRadius](https://github.com/facebook/react-native/issues/6480)

[2017-05-23 08:47] shivrajkumar commented on #848
@pranay414 Can you share code snippet of your use case.

[2017-05-23 08:49] pranay414 commented on #848
`import React, { Component } from 'react'
import { Container, Header, Title, Button, Left, Right, Body, Icon, Tab, Tabs, Bottom } from 'native-base'
class DashboardNew extends Component {
    render() {
        return (
            <Container>
                <Header hasTabs>
                    <Left>
                        <Button transparent>
                            <Icon name='menu' />

[2017-05-23 08:51] pranay414 commented on #848
import React, { Component } from 'react'
import { Container, Header, Title, Button, Left, Right, Body, Icon, Tab, Tabs, Bottom } from 'native-base'
class DashboardNew extends Component {
    render() {
        return (
            <Container>
                <Header hasTabs>
                    <Left>
                        <Button transparent>
                            <Icon name='menu' />

[2017-05-23 08:51] cia48621793 opened #850 "State of NativeBase"
It's crystal clear the activity of NativeBase is quickly diminishing, so far there's only one maintainer actively maintaining NativeBase judging from the commit history, what happened to the dev team? Are you guys or us uninterested in NativeBase anymore?

[2017-05-23 08:51] pranay414 commented on #848
<img width="1003" alt="screen shot 2017-05-23 at 2 21 23 pm" src="https://cloud.githubusercontent.com/assets/16045021/26346217/2148db24-3fc3-11e7-954c-a6086fd8365b.png">

[2017-05-23 08:51] RakhmatovR commented on #848
@pranay414 I guess you should replace your `Tabs` outside of `Header`, e.g to `Content`

[2017-05-23 08:57] pranay414 commented on #848
@RakhmatovR It worked, one more thing, can we multiple **Content** inside Container component?

[2017-05-23 09:00] RakhmatovR commented on #848
@pranay414 I think no, read this [NativeBase Anatomy](http://docs.nativebase.io/Components.html#anatomy-headref)
try to replace `Tabs` between `Header` and `Content`, because `Content` only for content. Your `Tabs` is part of `Header`, I guess

[2017-05-23 09:02] pranay414 commented on #848
@RakhmatovR Yes tabs are a part of header

[2017-05-23 09:03] #848 closed

[2017-05-23 09:48] Tsouef opened #851 "Undefined is not an object (evaluating '_reactNative.ViewPropTypes.style')"
Hi, I have an issue with the latest version of nativeBase.

I'm trying just to add an example in my Application.

[code]

My package.json:

[code]

![image](https://cloud.githubusercontent.com/assets/18745759/26348625/91d40302-3fad-11e7-9eff-636a2c446334.png)

I'v tried to delete node_modules, cache clean, npm install, not working.

Thanks,

[2017-05-23 09:53] RakhmatovR commented on #795
@shivrajkumar and so NativeBase Header doesn't follow Material UI guidelines, yep?
https://material.io/guidelines/layout/structure.html#structure-app-bar
It will be all the same if you write Header correctly with Left, Body and Right components. Title will be far from Left icon.

[2017-05-23 10:01] SupriyaKalghatgi commented on #774
@pierre-H Did you check the syntax of from Docs?
Move `<Label>` before `<InputGroup>`

[2017-05-23 10:06] Dani93380 commented on #851
same

[2017-05-23 10:08] RakhmatovR commented on #851
@Tsouef @Dani93380 works perfect for me, try to update `react-native` package to 0.44.0

[2017-05-23 10:12] shivrajkumar commented on #851
@Tsouef @Dani93380 View.propTypes is deprecated and instead ViewPropTypes is used from RN44, which is introduced in the latest version of NativeBase as well. So For RN44 got for NativeBase v2.1.4 and anything below RN44, you can use NB v2.1.3

[2017-05-23 10:34] Tsouef commented on #851
Thanks, It's working !

[2017-05-23 10:35] #851 closed

[2017-05-23 10:35] SupriyaKalghatgi commented on #790
[code]
![container](https://cloud.githubusercontent.com/assets/13464885/26350609/709381b2-3fd1-11e7-84ff-e0eb3cdac306.gif)

[2017-05-23 12:26] SupriyaKalghatgi commented on #805
@AshwinTayson Solution by @GeekRishabh should work in this case
Closing this issue

[2017-05-23 12:26] #805 closed

[2017-05-23 12:27] SupriyaKalghatgi commented on #806
Fixed with [2.1.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.1.4)

[2017-05-23 12:28] SupriyaKalghatgi commented on #813
Fixed with [2.1.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.1.4)

[2017-05-23 12:28] #813 closed

[2017-05-23 12:38] sanketsahusoft commented on #850
@cia48621793 We are maintaining it! We are looking into all the issues one-by-one.

Expect many bugs to be resolved this week. And we will be adding more components in the coming weeks for sure.

[2017-05-23 12:38] #850 closed

[2017-05-23 12:48] sanketsahusoft commented on #850
Also @cia48621793 to add to it, we have been working on a "new tool" and we hope it will "change the way we develop UI". It's the outcome of several feedback which we received on NativeBase.

But, again, we will also continue to support NativeBase in the long-term.

[2017-05-23 13:15] gabrielpjordao commented on #790
Thank you for your help. It was an expo bug. After deleting and reinstalling the client, it began to work..

[2017-05-23 13:41] rithvikvibhu commented on #790
@SupriyaKalghatgi Try removing all `height` styles applied to Content and Container.

[2017-05-23 13:47] andidev commented on #850
"new tool" a NatovBase replacement? Similar library?

[2017-05-23 13:52] heiseish opened #852 "Buttons in segment cant be transparent"
Hi, I wanted to set inactive buttons in segment transparent but it seems the the `transparent` prop of the buttons inside segment is not working.

[2017-05-23 19:06] pukeanddie opened #854 "<Text> not rendering on iphone 6+ when wrapped in <Body>"
react-native 0.44 & native-base 2.1.3

The following code works as expected when running on an iphone 6, but not on an iphone 6+. On the 6+ the text does not render. In the layout inspector within xCode it appears that the RCText view has a rect of 0,0,0,0.

As a row in a `<ListView />` with each row as
[code]
All components are imported from native-base. If I remove the `<Body>` tag from the JSX

[2017-05-23 20:14] NomadGraphix commented on #846
Same issue. This happened when I upgraded. I use an older version of react@^15 and react-native@0.42, but tried upgrading to the latest react and react-native and it stilled worked.

[2017-05-23 20:24] jennykortina commented on #846
Same issue

[2017-05-24 03:28] kenmasters commented on #138
I did what @veb done and success 👍

[2017-05-24 05:45] pranay414 opened #855 "Adjust drawer opacity"
Hi,
How do I set the drawer opacity?
I am having something like this.
<img width="252" alt="screen shot 2017-05-24 at 11 16 43 am" src="https://cloud.githubusercontent.com/assets/16045021/26388536/82aeab00-4072-11e7-9b85-749c9f0a7220.png">

I want something like this.
<img width="279" alt="screen shot 2017-05-24 at 11 17 18 am" src="https://cloud.githubusercontent.com/assets/16045021/26388551/9626

[2017-05-24 06:10] n8stowell82 commented on #545
I have a fix for the "sticking" issue.  I am working on preparing a PR to fix.  Basically the pan responder is being occasionally terminated instead of succeeding.  The termination event was not being listened to and so the deck become erratic.  By adding the termination event watcher and performing the same logic as in the "release" listener, the deck will behave appropriately regardless of how f

[2017-05-24 06:26] CaptAhak commented on #186
Got the same Error. Found an evil whitespace, deleted it and everything was fine again. Had to change this line:
`<ScrollView contentContainerStyle={styles.scrollView}> {`
to this:
`<ScrollView contentContainerStyle={styles.scrollView}>{`

[2017-05-24 06:50] SupriyaKalghatgi commented on #829
Check with [NativeBase KitchenSink](https://github.com/GeekyAnts/NativeBase-KitchenSink)
Similar example [here](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/js/components/home/index.js)

[2017-05-24 06:52] SupriyaKalghatgi commented on #828
@payamka What versions of React Native and NativeBase are you on?

[2017-05-24 06:55] SupriyaKalghatgi commented on #827
We will look into this very soon

[2017-05-24 06:57] SupriyaKalghatgi commented on #826
@brodus13 What version of React Native and NativeBase are you on?
It would be good if you could post the snippet with output here

[2017-05-24 07:02] wangdetong commented on #186
Got the same Error. deleted the annotation was OK!
[code]

[2017-05-24 07:27] SupriyaKalghatgi commented on #833
![screen shot 2017-05-24 at 12 56 02 pm](https://cloud.githubusercontent.com/assets/13464885/26391436/6e794588-4080-11e7-8f94-73035a09fb5a.png)

What is the issue you are facing
Please share your output

[2017-05-24 07:30] SupriyaKalghatgi commented on #834
@alex-dotdev Please check with [2.1.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.1.4)

[2017-05-24 07:36] alex-dotdev commented on #834
Looks good thanks

[2017-05-24 07:36] #834 closed

[2017-05-24 07:37] SupriyaKalghatgi commented on #837
@binzailani3136 Hope you got solution

[2017-05-24 07:41] SupriyaKalghatgi commented on #839
@MoutonJB We will look into this

[2017-05-24 07:43] SupriyaKalghatgi commented on #840
@Jasbir23 Need to document Toast styling
Also its been missing in [CheatSheet](http://docs.nativebase.io/docs/ChaetSheet.html)

[2017-05-24 07:49] SupriyaKalghatgi commented on #845
@jingxin2015 We will look into this

[2017-05-24 07:51] SupriyaKalghatgi commented on #846
@jasonnathan Please check the Release Notes for [2.1.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.1.4)

It says `Supports React Native >= 0.44.0`

[2017-05-24 07:53] jasonnathan commented on #846
Sure,  but downgrading did not solve the issue either

On 24 May 2017 15:51, "SupriyaKalghatgi" <notifications@github.com> wrote:

[2017-05-24 07:53] MoutonJB commented on #839
Hi guys,  we managed to figure this problem out.  The scaling issues was cause why the accessibility settings on the device it self and when turning that off, everything renders as per normal.

[2017-05-24 07:53] #839 closed

[2017-05-24 07:58] SupriyaKalghatgi commented on #852
@heiseish `transparent` prop of Button works well within **Segment**
Try using `transparent` with active Segment, you can get the difference
The inactive segment internally gives you a transparent button, its just the border of Segment that is confusing you

[2017-05-24 08:01] SupriyaKalghatgi commented on #855
@pranay414 You can check [NativeBase-KitchenSink](https://github.com/GeekyAnts/NativeBase-KitchenSink) for same
Here's the code for [Drawer](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/js/components/sidebar/index.js) used

[2017-05-24 08:03] #699 closed

[2017-05-24 08:04] SupriyaKalghatgi commented on #846
@jasonnathan
[code]
This should work

[2017-05-24 08:05] SupriyaKalghatgi commented on #824
@iegik Can you check with the latest versions?
[code]

[2017-05-24 08:05] SupriyaKalghatgi commented on #846
@jasonnathan
[code]
This should work

[2017-05-24 08:07] SupriyaKalghatgi commented on #820
@sheprdinc @kernelgonnapanic Please check [2.1.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.1.4)

[2017-05-24 08:08] #790 closed

[2017-05-24 08:10] pranay414 commented on #855
@SupriyaKalghatgi Thanks, this will do my job 👍

[2017-05-24 08:10] SupriyaKalghatgi commented on #620
@asdacap Could you check with [2.1.4](https://github.com/GeekyAnts/NativeBase/releases/tag/v2.1.4)?

[2017-05-24 08:14] #460 closed

[2017-05-24 08:16] #855 closed

[2017-05-24 08:58] sungjk commented on #846
+1

[2017-05-24 09:46] jasonnathan commented on #846
I can't change my react version because of other packages

On 24 May 2017 4:58 pm, "Seongjung Kim" <notifications@github.com> wrote:

+1

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/GeekyAnts/NativeBase/issues/846#issuecomment-303662249>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AAvnfXFAxG7yn_

[2017-05-24 09:57] SupriyaKalghatgi commented on #846
The version dependency in Release Notes of 2.1.4 says React Native >= 0.44.0
Please follow accordingly

[2017-05-24 10:54] Symous commented on #833
Yes. I have no idea why it didn't work last time, but is OK now.Thanks a lot. :-)

[2017-05-24 10:54] #833 closed

[2017-05-24 12:05] chrischen-melb commented on #829
[code]
this will do. But you will loose some of the perks of `<Content>`?

[2017-05-24 12:21] pranay414 opened #856 "Rendering multiple card button inside a list"
Hi, I am trying to Render multiple card button inside ListItem. I am not sure with my implementation. Can someone help me what I am doing wrong?

<img width="244" alt="screen shot 2017-05-24 at 5 50 07 pm" src="https://cloud.githubusercontent.com/assets/16045021/26402832/7396f370-40a9-11e7-90ef-714f465b4c44.png">

`import React, { Component } from 'react'
import { Actions } from 'react-native-rout

[2017-05-24 14:58] jennykortina commented on #846
@SupriyaKalghatgi solution worked for me.  Thank you!

[2017-05-24 15:27] olegstepura commented on #161
Hi, guys!

Is there any news on this issue?

[2017-05-24 21:45] jennykortina opened #858 "List Row Not Rerendering on State Change"
I am using a list with a data array.  I want the icon to change when the playstate changes, which if I log playState out to the console I can see it updating correctly but the icon is not responding to the change.  Thanks in advance!

[code]

[2017-05-24 23:35] ckim16 opened #859 "Change SearchBar Background Color"
Hi all,

I'm currently using `"react-native": "0.44.0"` and `"native-base": "^2.1.3"` and want to change the background color of the searchBar but I can't find a way to do it in the doc.
<img width="364" alt="screen shot 2017-05-24 at 4 24 12 pm" src="https://cloud.githubusercontent.com/assets/15335445/26429728/72d93ab2-409d-11e7-854e-dcc65bb1e660.png">

Is there a way I can customize the searchBa

[2017-05-24 23:48] ckim16 commented on #859
Nvm. I found the answer myself.

Add `backgroundColor` in the `Item` tag.

Hope this helps someone in the future.

[2017-05-24 23:48] #859 closed

[2017-05-25 00:40] jennykortina opened #860 "Unable to resolve module './basic/icon' ..."
I have my project working on one machine and when I try to get it to run a different one I get the error:

![screen shot 2017-05-24 at 8 39 05 pm](https://cloud.githubusercontent.com/assets/367902/26431229/3695cd4e-40c1-11e7-8f15-f2f110a3d35b.png)

Repo here:

https://github.com/ense-org/noteToSelf

Thanks in advance!

[2017-05-25 02:44] jasonnathan commented on #846
@supriyakalghatgi. I understand you the first time you mentioned it. But
here is the issue, now that I have upgraded I can't seem to downgrade the
package version. The errors remain.

I can't upgrade my React version either because it will conflict with other
packages. It appears as if the upgrade was irreversable.

As of now, I forked the package and corrected the problem but it remains an
issue.

[2017-05-25 05:22] #846 closed

[2017-05-25 05:27] #829 closed

[2017-05-25 06:01] SupriyaKalghatgi commented on #860
@jennykortina Did you check if the file exists with that path?

[2017-05-25 06:03] ZevenFang opened #861 "Warning: Accessing PropTypes on React Native 44"
`Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.`

Here is what I import:

`import {View, Text} from 'native-base'`

NativeBase 2.1.4
React Native 0.44.0
I guess it is caused by [this](https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Text.js#L22-L24).

[2017-05-25 06:06] SupriyaKalghatgi commented on #861
@ZevenFang What is the version of React you are on?

[2017-05-25 06:17] SupriyaKalghatgi opened #862 "Getting more done in GitHub with ZenHub"
Hola! @SupriyaKalghatgi has created a [ZenHub](http://www.zenhub.com) account for the **GeekyAnts** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_sourc

[2017-05-25 06:18] pranay414 opened #863 "Horizontal step indicator not working"
Hi,
I used this step indicator [github.com/24ark/react-native-step-indicator](url) in my native base Body component. The problem is that when I set the _prop_ direction of this step indicator to horizontal its not rendering, but it renders successfully when direction is vertical. Here is the attached code sample.
`import React, { Component } from 'react'
import { Container, Header, Title, Content,

[2017-05-25 06:26] SupriyaKalghatgi commented on #863
We will look into this

[2017-05-25 06:27] SupriyaKalghatgi opened #864 "Testing ZenHub"
Hi! Thanks for trying out NativeBase!
Due to the overwhelming requests and issues/questions we ask you to add the following details with your issue.

Please check the existing open/closed issues for a possible duplicate before creating a new issue :)

Also **DO** fill out the below form to give us a better idea about your environment and help us debug it quicker. Issues without the required detail

[2017-05-25 06:27] pranay414 commented on #863
@SupriyaKalghatgi I was thinking of making a step indicator which can be added with native base, Should I go for it?

[2017-05-25 06:28] SupriyaKalghatgi commented on #864
![screen shot 2017-05-17 at 11 37 28 am](https://cloud.githubusercontent.com/assets/13464885/26438566/6b629b3a-4141-11e7-8d58-f6d66082b6d9.png)

[2017-05-25 06:39] #864 closed

[2017-05-25 06:43] SupriyaKalghatgi opened #865 "I search a Panorama Viewer for react-native"
Hi guys,

I'm currently looking to include a panorama in my react native application. I would like something similar to "KrPano" for website (a JS panorma viewer) but i don't find any package to do it properly  :disappointed:
Can someone help me please?

Ref: [NativeBase Forum](http://discuss.nativebase.io/t/i-search-a-panorama-viewer-for-react-native/439)

[2017-05-25 06:49] SupriyaKalghatgi opened #866 "Deck Swiper content flashing"
Hey there guys!

I'm pretty new to React Native and Native base both, but I'm having a issue with the Deck Swiper.

Whenever I start to drag a card and it's moving, all the content inside is flashing. I'm not sure exactly why this would be and was hoping somebody could give me suggestions on how to fix this issue.

Ref: [NativeBase Forum](http://discuss.nativebase.io/t/deck-swiper-content-flashing

[2017-05-25 06:56] SupriyaKalghatgi opened #867 "What is best practice for using ScrollView with Deckswiper? What is best practice for card navigation (back) with Deckswiper"
When use ScrollView with deckswiper, swipe gesture override Scroll gesture so it is very hard to Scroll.
Also not clear with new version of DeckSwiper what is best method for implementing previous card on swipeleft?

Ref: [NativeBase Forum](http://discuss.nativebase.io/t/what-is-best-practice-for-using-scrollview-with-deckswiper-what-is-best-practice-for-card-navigation-back-with-deckswiper/223)

[2017-05-25 06:57] SupriyaKalghatgi opened #868 "Captcha or reCaptcha for react-native"
Ref: [NativeBase Forum](http://discuss.nativebase.io/t/captcha-or-recaptcha-for-react-native/400/1)

[2017-05-25 06:58] jennykortina commented on #860
It does not exist, but why is it being looked for if it doesn't exist?  Also it works on my other computer

[2017-05-25 07:00] SupriyaKalghatgi opened #869 "Youtube listing"
Ref: [NativeBase Forum](http://discuss.nativebase.io/t/youtube-listing/390/1)

[2017-05-25 07:05] asdacap commented on #620
@SupriyaKalghatgi it seems to have been fixed on the latest release. Thanks.

[2017-05-25 07:06] SupriyaKalghatgi opened #870 "If i need add a custom icon that i designed, ¿How i can add in the tab <Icon>?"
Ref: [NativeBase Forum](http://discuss.nativebase.io/t/hi-if-i-need-add-a-custom-icon-that-i-designed-how-i-can-add-in-the-tab-icon/345)

[2017-05-25 07:07] Gary-Li commented on #708
+1  have same problem too.

[2017-05-25 07:08] SupriyaKalghatgi opened #871 "Video calling app"
Ref: [NativeBase Forum](http://discuss.nativebase.io/t/how-to-create-video-calling-app/343/1)

[2017-05-25 07:10] SupriyaKalghatgi opened #872 "Different style for Landscape / Portrait possible?"
Is it possible to define or apply styles depending on the Orientation of the Device?
For example I have ScrollView with Cards, on portrait I would like to have 1 column of cards but on Landscape I would like to have a 2 TwoColumn Layout.

Ref: [NativeBase Forum](http://discuss.nativebase.io/t/different-style-for-landscape-portrait-psossible/327)

[2017-05-25 07:16] SupriyaKalghatgi commented on #860
@jennykortina Try deleting your node_modules, `npm install`, restart your packager while build

[2017-05-25 07:17] #620 closed

[2017-05-25 07:17] SupriyaKalghatgi commented on #620
@asdacap Good to know that you got it working

[2017-05-25 07:39] SupriyaKalghatgi opened #873 "Add Separator to Text native-base"
I see that there is a Separator for the List view in native-base
But how would I add in a separator to just a normal text field?
As this Separator seems like a List specific piece

Ref: [Stack Overflow](https://stackoverflow.com/questions/43986329/add-separator-to-text-native-base)

[2017-05-25 08:03] SupriyaKalghatgi opened #874 "How can I set focus on specific input text with Redux Form v6"
[code]

The console.log return properly but at `this.refs.lastName.getRenderedComponent().focus();` it always return this error` _this.refs.lastName.getRenderedComponent().focus is not a function.`

How can I set focus on specific input text?

I'm using Redux Form v6 and Native Base v2

Ref: [Stack Overflow](https://stackoverflow.com/questions/43829207/react-native-redux-form-focus-is-not-a-functi

[2017-05-25 08:24] SupriyaKalghatgi opened #875 "Multiple Arrays in Dynamic List"
I am using NativeBase for my code.
Hello, I'm wondering if there is a way to iterate through more than one array when creating a dynamic list?

[code]
Could this be done? What's the correct syntax because the above doesn't work! Any help would be much appreciated.

Ref: [Stack Overflow](https://stackoverflow.com/questions/43643820/multiple-arrays-in-dynamic-list)

[2017-05-25 09:51] ZevenFang commented on #861
16.0.0-alpha.6

[2017-05-25 10:23] shivrajkumar commented on #861
@ZevenFang Can you share your package.json

[2017-05-25 10:25] ZevenFang commented on #861
[code]

[2017-05-25 11:06] SupriyaKalghatgi opened #876 "Need Searchbar along with Header's Title and Icons"
![screen shot 2017-05-25 at 4 33 57 pm](https://cloud.githubusercontent.com/assets/13464885/26447881/38e5ea64-4168-11e7-8790-d2f0f06b36ac.png)

Something like this

Ref: [NativeBase Slack](https://nativebase.slack.com/files/justinjoyn/F5HLN13UK/room-services.png)

[2017-05-25 11:35] ZevenFang commented on #861
Here is my [repo](https://github.com/ZevenFang/react-native-starterkit).

[2017-05-25 11:48] crazy9code opened #877 "How to get the check state of checkbox??"

[2017-05-25 15:52] remo-sk commented on #835
It doen't work for me neither. Looks like NativeBase doesn't support array style format.

[2017-05-25 19:30] ckim16 opened #878 "Content does not show for <Tabs>"
Hi,

I'm using `"native-base": "^2.1.3"` and `"react-native": "0.44.0"` and the content for my tabs does not show and I'm not sure how to fix this.

[code]

I just want to see something showing under the tab bar but nothing really appears on both Home tab and something else tab. And only thing that HomeTab contains is
[code]

Has anyone had a same issue that I am going through and know how to fix

[2017-05-25 19:32] gustavoadt opened #879 "FAB - Transparent - Opacity - Move"
## react-native, react and native-base version
**0.43**
## Expected behaviour
**See text through FAB and Move FAB**
## Actual behaviour
**Can't change opacity/transparency with ease. Can't move the FAB**
## Steps to reproduce (code snippet or screenshot)
## Screenshot of emulator/device
## Is the bug present in both ios and android or in any one of them?
**Android tested**
## Any other additional

[2017-05-25 20:50] KrajncJ commented on #593
I also noticed a similar problem.
It is true that performance was poor in previous versions, but in v2.1.0 performance have improved a lot.
Since I updated my phone to Android 7.0 the performance is pretty bad again.

[2017-05-25 21:30] jlcrow commented on #708
True that, thx

On Mon, May 22, 2017 at 9:54 PM, Jordan Piggott <notifications@github.com>
wrote:

[2017-05-26 04:27] SupriyaKalghatgi opened #880 "How to render a Picker on navbar?"
How can I render a navbar (Header on NativeBase) with a Picker as a button, when I click on this button then the Picker will open as below:

![0zqnl](https://cloud.githubusercontent.com/assets/13464885/26480732/978576d4-41f9-11e7-8fe3-ec1dd8047a24.png)

I tried with the example but it seem the Picker not showing on the Header:

[code]

Ref: [Stack Overflow](https://stackoverflow.com/questions/4351

[2017-05-26 05:10] SupriyaKalghatgi commented on #861
@ZevenFang Can you got to your `node_modules` and check for React Native's version?

[2017-05-26 05:38] ZevenFang commented on #861
Yes, it's 0.44.0.
![image](https://cloud.githubusercontent.com/assets/11134329/26482194/957be8fe-4218-11e7-98a8-2ff0fc27adf3.png)

[2017-05-26 07:44] SupriyaKalghatgi commented on #861
@ZevenFang Just a try,
Re-install `node_modules`

[2017-05-26 07:48] SupriyaKalghatgi commented on #878
@ckim16 The first check you need to do is

NativeBase 2.1.4 says RN >= 0.44.0; and your package.json says `NB: ^2.1.3` and `RN: 0.44.0`
I suggest you to check the version of NativeBase from `node_modules`

[2017-05-26 08:05] SupriyaKalghatgi commented on #875
#750

[2017-05-26 08:05] #875 closed

[2017-05-26 08:07] SupriyaKalghatgi commented on #750
+1 [SO](https://stackoverflow.com/questions/43643820/multiple-arrays-in-dynamic-list)

[2017-05-26 08:14] SupriyaKalghatgi commented on #852
Closing this issue due to inactivity
Please reopen if the issue continues

[2017-05-26 08:14] #852 closed

[2017-05-26 08:27] SupriyaKalghatgi opened #881 "Animation Fixes & FAB"

[2017-05-26 08:28] SupriyaKalghatgi opened #882 "Date Picker"

[2017-05-26 08:29] SupriyaKalghatgi opened #883 "ListView Swipe"

[2017-05-26 08:33] SupriyaKalghatgi opened #884 "Support Stylesheet.create()"

[2017-05-26 09:39] Jasbir23 commented on #835
Hey @ChiWuSage , We are planning to incorporate array style format in newer versions of NativeBase, for now you can use the ES6 as pointed by @remo-sk above.
Thanks :)

[2017-05-26 09:49] SupriyaKalghatgi commented on #557
#884

[2017-05-26 09:49] #557 closed

[2017-05-26 10:20] ZevenFang commented on #861
I try to install with npm, and it works. But it doesn't work with yarn.

[2017-05-26 10:26] SupriyaKalghatgi commented on #879
#881

[2017-05-26 10:44] SupriyaKalghatgi commented on #837
yes NativeBase will have react-navigation

[2017-05-26 10:48] SupriyaKalghatgi commented on #826
#866

[2017-05-26 10:49] #866 closed

[2017-05-26 11:18] SupriyaKalghatgi commented on #772
Closing this issue due to inactivity
Please reopen if the issue continues

[2017-05-26 11:18] #772 closed

[2017-05-26 12:02] SupriyaKalghatgi commented on #838
@idibidiart Looks good! But we will visit this couple of weeks later
We can merge it with [react-native-easy-grid](https://github.com/GeekyAnts/react-native-easy-grid) though and not with NativeBase.

Can I know if this is completely compatible with `react-native-easy-grid`?

You can send a PR to `react-native-easy-grid` and make sure that the tests pass

[2017-05-26 13:10] SupriyaKalghatgi commented on #826
#334

[2017-05-26 13:10] #334 closed

[2017-05-26 13:14] binzailani3136 commented on #837
Is there any example source code which implemented react-navigation and redux structure?
Of course Nativebase integrated one I mean.
Thanks

[2017-05-26 13:34] GeekRishabh commented on #837
@binzailani3136  you can have a look [here](https://docs.nativebase.io/docs/NavigationExample.html)

[2017-05-26 13:38] binzailani3136 commented on #837
Thanks for your reply
Just checked
But there is no redux integration and it has node_modules in git repo.

[2017-05-26 13:53] Jasbir23 commented on #837
Hey @binzailani3136 , Took care of the node-modules [there](https://github.com/GeekyAnts/native-base-react-navigation-stack-navigator). Also we have a separate example in out [docs](http://docs.nativebase.io/docs/ReduxCounterExample.html) for Redux integration. I do not believe the process should differ much. However feel free to let us know about any problems that you encounter.
Thanks again for

[2017-05-26 16:24] ckim16 commented on #878
I updated my NB to `"^2.1.4"` and RN to `"^0.44.2"` but still does not work.

Any other debug I can do to make this work?

[2017-05-26 20:57] cristiankmb commented on #870
i have the same question... For now my app work with the default icon from **ionicons** on android, but  in iOS i using footer tabs, this allow me add custom icons for tab.

[2017-05-27 00:25] saiprasad1996 commented on #677
is the bug solved? facing the same issues. The blue circle appear in release builds only but not in the debug build.

[2017-05-27 06:39] pranay414 commented on #856
I figured a way to do it, just remove the **Container** tags inside the tabs and then we're done.

[2017-05-27 06:39] #856 closed

[2017-05-27 10:37] hle50 commented on #858
I have the same issue too.

[2017-05-27 20:18] brodus13 commented on #826
Hi there @SupriyaKalghatgi , sorry for the delayed response, here's the versions I'm working on.
"native-base": "2.1.0-rc.2",
"react": "~15.4.0",
"react-native": "0.42.3",

[2017-05-28 14:17] paulordbm commented on #264
+1 have the same issue with Button and an empty Text tag gives another error on Android when it tries to capitalize the text. Using an empty View tag as a workaround for now until fixed.

[2017-05-28 16:48] yaronlevi commented on #878
happens to me as well

[2017-05-28 17:31] yaronlevi commented on #878
An update- the issue is related to the phone system language being an RTL. My language is Heb. If I set it back to Eng, the issue disappears.

[2017-05-28 17:58] yaronlevi opened #885 "Tabs element bug in RTL - multiple tabs not showing content"
RN@0.44.2
NativeBase@2.1.4
Android Nexus 5
System language is Hebrew (RTL)

When using multiple tabs like so:

[code]

Only the first tab's content is shown.
When swiping to other tabs, they are empty.
I think react-native-tab-view has a similar issue.

[2017-05-28 18:16] ckim16 commented on #878
What about running in the simulator? I'm using the Xcode and it still does not work for me :(

[2017-05-28 20:17] amanthegreatone commented on #611
this does it for me `<Item style={{ backgroundColor: 'grey', borderColor: 'transparent' }}>`

[2017-05-28 22:09] narup commented on #861
I am running into this same issue! Tried everything, still broken

[2017-05-29 02:39] adamwan92 commented on #777
+1

[2017-05-29 05:53] SupriyaKalghatgi commented on #878
@ckim16 After updating NB to `"^2.1.4"` and RN to `"^0.44.2"`
You find issue with Tabs only or with other components as well?
Also that, could you run this successfully on simulator and that the issue is while running on device?

[2017-05-29 05:53] SupriyaKalghatgi commented on #878
@yaronlevi Just this component?

[2017-05-29 05:59] SupriyaKalghatgi commented on #677
We are looking into this

[2017-05-29 06:01] SupriyaKalghatgi commented on #856
@pranay414 Good to know that you got it working

[2017-05-29 06:01] SupriyaKalghatgi commented on #858
We are looking into this

[2017-05-29 06:21] SupriyaKalghatgi commented on #847
Please check [NativeBase-KitchenSink](https://github.com/GeekyAnts/NativeBase-KitchenSink/blob/master/js/AppNavigator.js) for working example

[2017-05-29 06:21] #847 closed

[2017-05-29 06:25] SupriyaKalghatgi commented on #761
The screenshot does not tell us the primary color, due to insufficient information we are closing this for now.
Also please check with latest of NativeBase 2.1.4 and React Native 0.44.0

[2017-05-29 06:25] #761 closed

[2017-05-29 06:53] SupriyaKalghatgi commented on #824
Closing this issue due to inactivity

[2017-05-29 06:53] #824 closed

[2017-05-29 06:58] SupriyaKalghatgi commented on #842
Not related to NativeBase
Check controlled components and uncontrolled components

[2017-05-29 06:58] #842 closed

[2017-05-29 07:10] #418 closed

[2017-05-29 07:46] iegik commented on #824
Sorry, cannot check this right now. I`ll answer this later.

[2017-05-29 07:48] SupriyaKalghatgi commented on #612
#668

[2017-05-29 07:50] SupriyaKalghatgi commented on #612
#669

[2017-05-29 07:59] SupriyaKalghatgi commented on #759
#625

[2017-05-29 08:00] SupriyaKalghatgi commented on #762
Closing this due to inactivity

[2017-05-29 08:00] #762 closed

[2017-05-29 08:05] SupriyaKalghatgi commented on #776
Please check the latest of NativeBase

[2017-05-29 08:09] SupriyaKalghatgi commented on #822
#625

[2017-05-29 08:09] #822 closed

[2017-05-29 08:12] #830 closed

[2017-05-29 08:16] SupriyaKalghatgi commented on #861
@ZevenFang You can check your `yarn.lock` file for this, in case you have older versions of dependencies

[2017-05-29 08:17] SupriyaKalghatgi commented on #885
NativeBase does not support RTL as of now.
We may consider this in future

[2017-05-29 08:17] #885 closed

[2017-05-29 08:18] SupriyaKalghatgi commented on #885
#518

[2017-05-29 08:24] SupriyaKalghatgi commented on #880
Please check [NativeBase-KitchenSink](https://github.com/GeekyAnts/NativeBase-KitchenSink) and the [NativeBase Docs](https://docs.nativebase.io)

[2017-05-29 08:31] SupriyaKalghatgi commented on #774
NativeBase will be deprecating InputGroup from its next versions

[2017-05-29 08:31] SupriyaKalghatgi commented on #743
Closing this due to inactivity

[2017-05-29 08:31] #743 closed

[2017-05-29 08:35] SupriyaKalghatgi commented on #877
@crazy9code You can check [NativeBase Docs](https://docs.nativebase.io) for this

[2017-05-29 08:35] #877 closed

[2017-05-29 08:36] SupriyaKalghatgi commented on #863
@pranay414 Yes, sure.
You can send a PR

[2017-05-29 09:10] ohtangza commented on #777
Any updates?

[2017-05-29 09:16] clementino36 opened #887 "Can only update a mounted or mounting component. Please check the code for the Icon component."
Hi,
## react-native 43.4, react 16.0.0-alpha.6, native-base: 2.1.3
## Expected behaviour
The Icons should display without a warning.
## Actual behaviour
The Icons display correctly but I get a warning:
[code]
## Steps to reproduce (code snippet or screenshot)
Relevant code situated inside the `render` function:
[code]
I think the warning is due to the Icon being returned in a `map` function but I

[2017-05-29 09:21] brascene commented on #851
I'm using RN38 and NB 2.1.3 and still facing this issue, so frustrating... what should I do?

[2017-05-29 10:01] Jasbir23 opened #888 "Make FlatList example for docs with Sticky heades"
FlatList example needed

[2017-05-29 10:04] Jasbir23 opened #889 "Include Header Dropdown example, also include example in KitchenSink"
Also include in docs for header

[2017-05-29 10:07] Jasbir23 opened #890 "Kitchen Sink include React Navigation"

[2017-05-29 10:07] shivrajkumar opened #891 "Add prettier"

[2017-05-29 10:11] SupriyaKalghatgi opened #892 "Remove Smart and Backward Components"

[2017-05-29 10:12] SupriyaKalghatgi opened #893 "Snapshot Testing"
- Travis
- Snapshot testing for all the NativeBase components
- Integrate this with NativeBase KitchenSink

[2017-05-29 10:13] SupriyaKalghatgi opened #894 "Travis Testing"
Test for ES lint complaint for:

- NativeBase
- NativeBase-KitchenSink
- React Native Easy Grid

[2017-05-29 10:20] SupriyaKalghatgi commented on #844
#708

[2017-05-29 10:20] #844 closed

[2017-05-29 10:26] SupriyaKalghatgi commented on #835
#575

[2017-05-29 10:26] #835 closed

[2017-05-29 10:27] SupriyaKalghatgi commented on #841
#884

[2017-05-29 10:27] #841 closed

[2017-05-29 11:50] pierre-H commented on #774
@SupriyaKalghatgi I can't test since I am traveling on business for few weeks. I will come back to you when I will be able. If InputGroup will be deprecating, so there is no problem anymore.

[2017-05-29 12:01] SupriyaKalghatgi commented on #777
You can get updates after a couple of days

[2017-05-29 12:03] SupriyaKalghatgi commented on #774
@pierre-H Good to hear that, closing the issue
Also I tried running your code snippet, and suggested you solution in a [comment](https://github.com/GeekyAnts/NativeBase/issues/774#issuecomment-303351729)

[2017-05-29 12:03] #774 closed

[2017-05-29 14:27] S-Kaushik opened #895 "Doc for NativeBase Web"
Is there any ReadMe or Doc for [NativeBase Web](https://github.com/GeekyAnts/NativeBase/tree/web)?

[2017-05-29 15:30] jmoutte opened #896 "Button does not support conditional JSX in children list on Android."
## react-native, react and native-base version
RN 0.44
Native Base 2.1.4
React 16.0.0-alpha-6
## Expected behaviour
Add children component with inline conditional JSX in a Button and expect them to show up properly on Android
## Actual behaviour
Get a backtrace as the code tries to iterate over children and access their type property which does not exist for some of them due to JSX condition evalu

[2017-05-29 22:45] ckim16 commented on #878
@SupriyaKalghatgi Right now my only issue is Tabs component and I've been only using simulator so far. There is another issue where I cannot use 'smoking' icon from  react-native-vector-icons but I will open a new issue after I try little bit more.

[2017-05-29 23:42] stolinski opened #899 "Header Component StatusBar overlap on Android"
I'm having the exact same issues that this user is.
https://stackoverflow.com/questions/42098186/nativebase-exponent-header

RN v. 0.44.0
NativeBase 2.1.4

[2017-05-30 02:07] horiuchie commented on #836
I have experienced similar error.
 _"Cannot read property_ _'_root' of undefined"_

It does not happen when using inside Container:

[code]

referred to this "Note":
https://docs.nativebase.io/Components.html#Toast

I hope this helps.

[2017-05-30 07:54] SupriyaKalghatgi opened #900 "How to optimize the app bundle size?"
What's the best way of optimizing the app bundle size when using NativeBase?

The biggest issue is the fonts, I'm not (at least explicitly) using any of them, aside from Ionicons, so there's potentially 9 megabytes of fonts being included that I don't use in my app.

Oh, and including the San Francisco font in the Android build is explicitly against the terms of the font license (and including it

[2017-05-30 08:18] SupriyaKalghatgi commented on #878
@ckim16 You should move the `<Tabs>` outside `<Header>`
Check the example from [NativeBase-KitchenSink](https://github.com/GeekyAnts/NativeBase-KitchenSink)

[2017-05-30 11:23] SupriyaKalghatgi commented on #851
[code]
works for me
Also tried this with `RNRF 3.39.2`, got it running

[2017-05-30 12:34] SupriyaKalghatgi commented on #789
![input](https://cloud.githubusercontent.com/assets/13464885/26583297/4d346c2c-4562-11e7-8514-de632a1e5a31.gif)

This is not an issue with NativeBase
The GIF includes Button and TextInput of React Native

[2017-05-30 12:34] #789 closed